[2018-06-20 11:47] PeteX opened #967 "NotBefore/NotAfter and timezones"
I've been having a problem where a newly issued certificate is not accepted, because the NotBefore time has not yet been reached.  It seems to be connected with timezones.  According to [the NotBefore documentation](https://docs.microsoft.com/en-gb/dotnet/api/system.security.cryptography.x509certificates.x509certificate2.notbefore?view=netcore-2.1), NotBefore is in local time.  [This file](https:/

[2018-06-20 13:10] Tratcher opened #968 "Jwt Authentication not work on Linux and Mac"
_From @PilgrimViis on June 20, 2018 12:18_

Looks like there is a compatibility issue with Jwt Authentication on Asp Net Core 2.1. On Windows my code works as expected, but under *nix system (Debian 9 and High Sierra) it throws exception while token validation.
I've configured it with the code provided below:

        private const string _privateKey = "<RSAKeyValue><Modulus>wCnmTiH/rFym9g2SSEn6f2

[2018-06-20 13:48] PilgrimViis commented on #968
I wrote basic (~100 lines) example to show the problem. Maybe it'll help. Same thing, exception on Linux and nice behavior on Windows.

https://github.com/PilgrimViis/JwtExample

[2018-06-21 05:33] thirkcircus commented on #968
Not sure if this is helpful but we've noticed this usually (intermittently) fails the first request but subsequent requests are correctly validated.

I'm using OpenID Connect and the weird thing is the first request is rejected by JwtBearerHandler with no attempt to retrieve OIDC disco.  The second request shows an outbound disco call, then the jwt is correctly validated.

And I have it regularly

[2018-06-21 08:18] PilgrimViis commented on #968
@thirkcircus, thanks for answering. I tried multiple times and unfortunately it's not the case. I send multiple requests to API and always got 401. Same thing with directly calling ValidateToken and ReadJwtToken methods from library.

[2018-06-25 16:05] fabicz commented on #940
@mafurman Thanks, the first idea to throw `SecurityTokenSignatureKeyNotFoundException` in case of no matching keys got solved.

But still my second proposal isn't there. When the JWT token header is missing `kid` claim completely then `SecurityTokenSignatureKeyNotFoundException` is throw as well. In this case I would expect to do some simple validation of the existence if `kid` rather than impleme

[2018-06-27 08:53] ycrumeyrolle opened #971 "Setting CacheSignatureProviders = true cause exceptions"
Enabling the caching of the signature providers does not works in a multi-thread context.

I have reproduced with this code:
[code]

The exception is the following:
[code]

[2018-07-01 01:41] brentschmaltz commented on #971
@ycrumeyrolle thanks.

[2018-07-01 01:41] brentschmaltz commented on #965
@sbebrys this should be fixed now.

[2018-07-01 01:41] #965 closed

[2018-07-01 01:48] brentschmaltz commented on #968
@thirkcircus @PilgrimViis it would help tremendously if you turned on PII. You can do this by writting IdentityModelEventSource.ShowPII = true.

What is the error on ReadJwtToken?

[2018-07-01 01:54] brentschmaltz commented on #967
@PeteX thanks for reporting this. I've been on vacation for a couple of weeks.
It's looks like indeed we should be using local time.

We will fix this in 5.2.5, sorry for the hassle.

[2018-07-01 01:57] brentschmaltz commented on #966
@Tratcher what token types are you looking for encryption support?
We support JSON (JWE), are you looking for SAML2?

[2018-07-01 02:03] brentschmaltz commented on #960
@eclipsed4utoo i've been out on vacation.
can you share the code you used for your site?

[2018-07-01 09:41] PeteX commented on #967
No worries and thanks for fixing it.

[2018-07-01 20:45] thirkcircus commented on #968
I had turned on ShowPII at the time but it didn't tell me anything useful.

[code]

The kid is valid, it matches the kid returned by OIDC disco, the issue is the JwtBearer MW (sometimes) doesn't go retrieve OIDC disco before rejecting the token.

[2018-07-02 08:48] PilgrimViis commented on #968
@brentschmaltz,

`IDX10503: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.RsaSecurityKey , KeyId: \n'.\nExceptions caught:\n ''.\ntoken: '{"alg":"RS256","typ":"JWT"}.{"sub":"1","nbf":1530520999,"exp":1530522799,"iss":"Example","aud":"1@example.com"}'.`

[2018-07-02 12:48] eclipsed4utoo commented on #960
@brentschmaltz So the issue seems to be nuget packages. If I download the "starter" solution from Azure for the Mobile App service and run it, it works fine. If I update all of the nuget packages to the latest versions, that's when the errors start happening.

[2018-07-02 18:10] holytshirt opened #972 "ValidateIssuerSigningKey shouldn't be called if the signing key is null and TokenValidationParameters.RequireSignedTokens is false"
When we upgrade from  netcoreapp2.0 to netcoreapp2.1 our JWT authentication for unsigned tokens fails with
[code]
Our config looks like this which works on  netcoreapp2.0 and fails on netcoreapp2.1
[code]

Normal signed tokens work correctly on both netcoreapp2.0 to netcoreapp2.1, has the configuration settings change to support unsigned tokens?

[2018-07-02 19:31] brentschmaltz commented on #956
@Dark-Bond ShowPII = true, will give us the full stack trace, won't fix the issue. Sorry, I could have been clearer.

Failing on FormattableString is a good clue, thanks.

[2018-07-03 03:00] brentschmaltz commented on #968
@PilgrimViis IDX10503 is fired when there is no 'kid', as we see in the token. Where did the RSA key come from?
@thirkcircus IDX10501 is fired when there is a 'kid', the exception is a SecurityTokenSignatureKeyNotFoundException and this should trigger a disco refresh by asp.net.

[2018-07-03 03:02] brentschmaltz commented on #915
@BKB503 I was out on vacation. Is this still an issue?

[2018-07-03 05:15] EatonZ commented on #945
Is it safe to assume that `JsonWebTokenHandler` is basically the new version of `JwtSecurityTokenHandler`? I've been using `JwtSecurityTokenHandler` and I saw the latest version added `JsonWebTokenHandler`. Is there a reason to use one over the other? Looking over it, it seems the basic difference is encryption support, but I just want some additional clarification here on why this new handler was

[2018-07-03 08:32] BKB503 commented on #915
@brentschmaltz Yes, Exact scenario is logging in first time and same time in Global.asax session cookie is initiating, as I said in previous comment commenting Session Start and End events it doesn't have this issue

[2018-07-03 09:11] holytshirt commented on #972
Hi @brentschmaltz thanks if I use the same setting for ValidateIssuerSigningKey  as I do for RequireSignedTokens, which is false in local environments it is no longer error-ing which makes sense looking at the code. This must of been a change between 2.0 an 2.1 as is has been "working" for months.

Should we not validate IssuerSigningKey in production environments? It could be a misunderstanding

[2018-07-03 10:00] PilgrimViis commented on #968
@brentschmaltz, RSA key was generated in PEM with openssl and then formatted as XML.

[2018-07-03 16:36] brentschmaltz commented on #968
@PilgrimViis sometimes PEM generated keys have a leading '0' in the modulus. Can you share the public part?

[2018-07-03 16:51] brentschmaltz commented on #972
@holytshirt This validation model requires users to set keys to use when validating signatures. The assumption is the keys were obtained from a trusted source.
Signing Key Validation has it's roots in validation of soap messages where the KeyInfo contained a public key as X509Data, in cases where the X509Data represented the identity of the caller, it was required to validate the X509Data. There w

[2018-07-04 13:21] holytshirt commented on #972
@brentschmaltz Thanks for that, makes sense. Lol, I wrote a lots of xmlsig once, funny it's still the same stuff :)

A lot of the examples in the wild have it set to true, might be due to them getting the token from an auth server.
Like https://wildermuth.com/2018/04/10/Using-JwtBearer-Authentication-in-an-API-only-ASP-NET-Core-Project

I won't hassle you :) I know how difficult it is time wise. T

[2018-07-05 04:45] brentschmaltz commented on #972
@holytshirt we are here to serve :-), so don't worry about hassling us.
I will leave this open as we need to think about this a bit more.

[2018-07-05 10:29] PilgrimViis commented on #968
@brentschmaltz, ok no problem. I can even include private one maybe it'll help.
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwCnmTiH/rFym9g2SSEn6
f2pV6YQqFiV5ls3VqxUC3yeyk7UXFuEH/Kttbl2h4eOmXy7NCutmkyF+Mul5DeIs
3X1jF6ZxTs3tIzBovV7lpIyQp9DUideSOy3jyu2pznP+l+XwkPwS5f4G43uFOTxU
7KvXjJ8MLCNQ0TeY1wWVEkTX8JGEjv68dXEp8xOfMEDXkRYppEHy2g/FsDcqL+S3
3e/O5TQf2VSZpTH+COAz0nYwNs4RPuR6d

[2018-07-05 16:47] Tratcher commented on #966
Not I, ask @qubicaamf.

[2018-07-05 18:17] brentschmaltz commented on #966
@qubicaamf what token types are you looking for encryption support?
We support JSON (JWE), are you looking for SAML2?

[2018-07-05 20:13] brentschmaltz opened #973 "Include information in Wiki on how to plug in a custom CryptoProvider"
Some customers need to sign using RSASHA1.
By default we don't support this, this sample will show how to achieve this.

[2018-07-05 20:31] cvocvo commented on #877
@brentschmaltz Thanks! -- What's the ETA for 5.2.3's release?

[2018-07-06 01:41] brentschmaltz commented on #877
@cvocvo currently we only release on nuget.org.
Yea, 5.2.5 should have a 4.6.1 or 4.6.0 target.

[2018-07-06 10:32] qubicaamf commented on #966
Hi @brentschmaltz, yes we are looking for SAML2.

[2018-07-06 11:55] tcs-devel opened #974 "Using an expiration of JWT Tokens after Unix timestamp overflow does not work"
Using JWT tokens with an expiration after the unix "year 2038 problem" does not work.

A repository to reproduce the issue can be found here: [telecomsoftware/sample-jwt-expiration-issue](https://github.com/telecomsoftware/sample-jwt-expiration-issue)

The issue seems to be in `System.IdentityModel.Tokens.Jwt/JwtPayload.cs` which tries to read the expiration as an `Int32` in `GetIntClaim()` which

[2018-07-06 19:41] cvocvo commented on #877
Perfect; hopefully that 4.6.x target will resolve the issue for us. I rolled out 5.2.4 earlier today into production and our logging caught a couple of the error reoccurring. Do you know (approximately) what the timeline on 5.2.5 is? (I couldn't find a way to subscribe to nuget for alerts on releases)

[2018-07-08 22:32] EatonZ commented on #945
Hi @mafurman @brentschmaltz, any insight into the above?

[2018-07-11 09:11] coeamyd opened #977 "JWT validation fails when key has leading 0 byte"
Dear IdentityModel team,

I am currently having issues validating a jwt token with a jwk set supplied by a third party. The jwk contains an extra field with the certificate representation of the public key. Using this certificate, I can validate the JWT fine using the validator on jwt.io. However, when I use the `JwtSecurityTokenHandler`, validation fails with "IDX10511: Signature validation faile

[2018-07-12 19:24] hypetsch commented on #974
I have just seen that there is already PR #970 which should fix this issue. So I think it can bei closed?

[2018-07-13 08:46] coeamyd commented on #977
After some additional research, I have found that it _does_ seem to be best practice to remove leading 0 bytes in other crypto libraries (see examples here: [https://stackoverflow.com/questions/28154369/why-dropping-leading-all-zeros-byte-in-a-java-byte-array-before-hashing](https://stackoverflow.com/questions/28154369/why-dropping-leading-all-zeros-byte-in-a-java-byte-array-before-hashing)). The

[2018-07-13 22:43] ycrumeyrolle commented on #977
According to JWK specification of the RSA key representation:
https://tools.ietf.org/html/rfc7518#section-6.3.1.1

   prefix an extra zero-valued octet to the modulus representations they
   return, for instance, returning 257 octets for a 2048-bit key, rather
   than 256.  Implementations using such libraries will need to take
   care to omit the extra octet from the base64url-encoded
   represen

[2018-07-14 07:02] coeamyd commented on #977
Perfect, thanks a lot for the link. Now, I finally have a normative document to show that the other side is wrong. :-)

Then, I guess this is not an issue for this project. Sorry for the inconvenience.

Cheers and thanks for all the good work that went into this project,
Christoph

[2018-07-14 07:02] #977 closed

[2018-07-14 17:13] Dark-Bond commented on #956
Sorry, I've had to move on, but the last clue should be enough.  Whatever level you have set for your stack tracing, it will stop at the level before you try to use a **System.FormattableString**.

[2018-07-15 19:42] brentschmaltz commented on #945
@EatonZ JwtSecurityTokenHandler was modeled after the existing System.IdentityModel.SecurityTokenHandler. There were some compromises that we had to make, such as using System.Security.ClaimsIdentity as the type to build the JWS or JWE when using SecurityTokenDescriptor. ValidateToken had an out parameter, which doesn't for async.
We then returned a collection of S.S.ClaimsPrincipal, sometimes usi

[2018-07-15 20:47] brentschmaltz commented on #609
@smndey @btastic @metaclassing @lokori I've been OOF most of the past month. Back now.
I need to understand how you obtain that token and why you want to accept it.
If the audience is 'microsoft.Graph' you shouldn't be accepting it. Only tokens that are for the host, should be accepted.

The 'nonce' is a mechanism, that allows the receiver to determine the token was forwarded. The signature is ove

[2018-07-15 22:49] metaclassing commented on #609
Good afternoon @brentschmaltz

I suspect there are a variety of use cases and desires in the greater community of developers who want to consume identity, especially in an enterprise setting.

From a purely academic perspective, I do not believe secrecy results in better security. If Microsoft plans to thrive in a open web service landscape it needs to provide significantly more transparency in to

[2018-07-17 17:45] V1122am commented on #609
Could please someone provide a way to do the "special processing"?

[2018-07-17 18:16] jvandervelden commented on #609
We learned that validating the Graph token is not required. The graph token you get from either doing a web flow or api impersonation will be validated when you make the actual Graph api call. We don't care if it's valid, that will be shown in time when we go do the request and get a 401/403 back.

You don't want to use the Graph token as your main app's token, you will want to create an app regis

[2018-07-17 18:34] brentschmaltz commented on #609
@metaclassing
Thanks for your feedback.

Let me propose this perspective as I don’t believe there is an attempt to hide anything here.

**Note:** this ‘nonce’ is different than the ‘nonce’ in the JWT Payload.

MsGraph recognized an opportunity to improve security for users. They achieved this by putting a ‘nonce’ into the jwt header. The JWS is signed with a SHA2 of the nonce, the ‘nonce’ is repla

[2018-07-17 18:35] brentschmaltz commented on #877
@cvocvo been on vacation, back now.
5.2.5 targets Aug 10th.

[2018-07-18 15:10] cvocvo commented on #877
@brentschmaltz No worries; your great support on this is much appreciated!

[2018-07-18 20:18] brentschmaltz commented on #718
We are going to leave these as is and only fixup as bugs show up.
The reason is we are moving to JSonWebTokenHandler.

[2018-07-18 20:18] #718 closed

[2018-07-18 20:19] brentschmaltz commented on #936
@CBaud how is this going?

[2018-07-19 18:59] brentschmaltz commented on #966
@qubicaamf @Tratcher see https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/734

Hopefully this makes it into 5.2.5, Aug 10th.
If not Sept / October.

[2018-07-19 18:59] #966 closed

[2018-07-20 00:39] brockallen commented on #884
How do I set the `IdentityModelEventSource.ShowPII` flag for a single instance of a `JwtSecurityTokenHandler`?

[2018-07-20 15:22] ggirard07 commented on #895
@Tratcher If `Microsoft.IdentityModel.Protocol.Extensions` is an abandoned prototype. Can you deprecate it  in NuGet please...?

[2018-07-20 15:51] Tratcher commented on #895
'deprecate'? That's not a nuget feature. Unlist?

I thought the beta6 version number would be a giveaway.

[2018-07-20 15:53] spottedmahn commented on #895
Surprising 😲

[2018-07-20 21:23] ggirard07 commented on #895
Sorry for the confusion.
I saw in that past owners of packages updating their package title and description to clearly indicate it as deprecated and give a hint on the new packages replacing the deprecated one(s).

[2018-07-26 17:51] brentschmaltz commented on #884
@brockallen you can't it's a process setting.

[2018-07-27 12:36] andrew-vandenbrink opened #979 "Unable to verify due key size?"
Hi,

I should be able to verify this

[code]
but got this instead

![image](https://user-images.githubusercontent.com/12871379/43320889-69a4ca10-91aa-11e8-9c72-c1ab03178647.png)

With jsonwebtoken in nodejs, it works

[2018-07-27 19:47] brentschmaltz opened #980 "KeyVault scenarios need to support AccessTokens and Credentials."
I can see three possibilities for KeyVault scenarios.
1. the host is running in a secure cluster, no credentials.
2. the host has obtained an access token for KeyVault.
3. the host has credentials to get an access token for KeyVault.

Our current deliverable is tailored to 1.
This issue is about supporting 2,3.
We can push implementation off till vNext, but need to make sure it will fit nicely.

[2018-07-27 19:50] brentschmaltz commented on #979
@andrew-vandenbrink best practices require a key of a minimum size in order to have high confidence that tampering has not take place. If you need to handle such cases you will need to use extensibility.

[2018-07-27 19:50] #979 closed

[2018-07-27 19:52] brentschmaltz commented on #974
@tcs-devel @hypetsch we need to get this in a build before we can close the issue.

[2018-07-30 06:57] ycrumeyrolle opened #981 "JsonWebSecurityTokenHandler raise System.NullReferenceException on empty payload"
Hi,

I have a `NullReferenceException` when try to validate an empty JWT like `eyJhbGciOiJIUzI1NiJ9.e30.ZRrHA1JJJW8opsbCGfG_HACGpVUMN_a9IV7pAx_Zmeo` / `{"alg": "HS256"}.{}`

[code]

Sample of the code can be found at https://github.com/ycrumeyrolle/Jwt/blob/dev/test/Benchmarks/ValidateToken.cs#L62

The package is Microsoft.IdentityModel.JsonWebTokens v5.2.4

[2018-07-30 17:22] brentschmaltz commented on #981
@ycrumeyrolle sorry for this. We are addressing parts of this in a PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/976

Will fix this up.

[2018-07-31 17:40] blowdart opened #982 "JwtSecurityTokenHandler.CreateJwtSecurityToken renaming Claim Type Names."
_From @TobyMosque on July 30, 2018 23:16_

I'm tring to secure my web tokens using Aes256CbcHmacSha512, but when i create the SecurityToken calling [JwtSecurityTokenHandler.CreateToken Method (SecurityTokenDescriptor)](https://msdn.microsoft.com/en-us/library/dn451152(v=vs.114).aspx), the claims' type names are updated.

Because of that, the role-based authorization didn't work as expected (Author

[2018-07-31 21:42] brentschmaltz commented on #963
After discussion, lets forget about 5 as users can manage using the same keys per issuer.
Since we cache the JWTHeader, let's not pass it.
Defer ClaimsMapping until we work with ClaimsIdentity and Claims.

[2018-07-31 21:50] brentschmaltz commented on #964
We don't need SecurityKeys, as those are in TokenValidationParameters.
Algorithms would be a restriction, for example only allow RSA256, can pass on this for 5.2.5
ClaimsMapping would be a delegate we can make a new issue here.

[2018-08-02 18:25] brentschmaltz commented on #925
@natemcmaster @Tratcher We are going to move 2.0 to the 5.2.6 release and put a 4.6.1 target into 5.2.5

[2018-08-02 18:39] brentschmaltz commented on #748
no customers have complained about this and this is only for SAML1 with most customers using SAML2.

[2018-08-02 18:39] #748 closed

[2018-08-02 18:43] brentschmaltz commented on #593
@mafurman @lovemaths had a hard time getting this into our JwtSecurityTokenHandler, can you make sure this will work with our JsonWebTokenHandler.

[2018-08-02 18:45] brentschmaltz commented on #514
@ycrumeyrolle we are encouraging users to move to 5.x, if this is not possible please reopen.

[2018-08-02 18:45] #514 closed

[2018-08-02 18:58] brentschmaltz commented on #982
@TobyMosque @blowdart is the issue that encrypting seems to fail?
Can you provide IdentityModel error logs or exception?

[2018-08-02 19:04] brentschmaltz commented on #892
@ICRAdmin please reopen with error details if this is still an issue.

[2018-08-02 19:04] #892 closed

[2018-08-02 19:05] brentschmaltz commented on #861
this is only for SAML1, SAML2 does not require namespace. Since no users have opened issues, closing.

[2018-08-02 19:05] #861 closed

[2018-08-02 19:12] CBaud commented on #980
This is included in the current implementation of issue #936.

[2018-08-02 19:25] brentschmaltz opened #983 "Update API breaking change test for 5.2.4"

[2018-08-02 19:25] TobyMosque commented on #982
the Encryption and Decryption works as expected. but when I try to create the Token using the method `JwtSecurityTokenHandler.CreateJwtSecurityToken` the type name are modified.:

for exemple, if i try to create a token with the follows claims.:

[code]

using the method `JwtSecurityTokenHandler.CreateJwtSecurityToken` or `JwtSecurityTokenHandler.CreateToken(new SecurityTokenDescriptor`

[code]

a

[2018-08-02 19:49] cxbxmxcx commented on #884
Is this fixed then?

[2018-08-02 22:06] natemcmaster commented on #925
@brentschmaltz You can reduce the urgency on this one if we're the only motivation to make changes. We're fine with the status-quo for the 2.x timeframe in .NET Core. We are going to tackle unification to netstandard2.0 again for .NET Core 3.0, but that's farther out -- I'll loop you in on details via email when we have a better idea of what this means.

[2018-08-03 16:07] brentschmaltz commented on #925
@natemcmaster keep us in the loop. Are you suggesting we skip 2.0 and move to 3.0?

[2018-08-03 16:21] brentschmaltz commented on #982
@TobyMosque the issue here is the JwtSecurityTokenHandler performs outbound 'type' mapping.
You can control this per instance:

JwtSecurityTokenHandler.OutboundClaimTypeMap.Clear();

per process

JwtSecurityTokenHandler.DefaultOutboundClaimTypeMap.Clear();

[2018-08-03 20:47] GeoK commented on #960
@eclipsed4utoo I was not able to reproduce this issue.
Created an Azure Mobile App project using the sample template, uploaded all of the NuGet packages and published the project successfully to Azure.
Can you share your code or try to repeat the app building/publishing process and let us know the results?

[2018-08-06 20:16] GeoK commented on #838
@cwkummer I'm not able to reproduce this issue.
Actually _System.IdentityModel.Tokens.SecurityTokenHandler_ is an abstract class.

_System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler_ implements the _SecurityTokenHandler_ class and _WriteToken_ method returns a JWT in Compact Serialization Format.

See the example below:

            DateTime expires = new DateTime(2018, 8, 6, 13, 7, 24);

[2018-08-06 20:16] #838 closed

[2018-08-06 21:48] GeoK opened #985 "Add a Property Bag to TokenValidationParameters"
Ease addition of custom TokenValidationParameters by utilizing a Property Bag.

[2018-08-06 21:50] GeoK commented on #874
@fabicz You should be able to extend _TokenValidationParameters_ class and add your custom DateTime parameter.
Then, you could make use of _TokenValidationParameters.LifetimeValidator_ delegate and implement your custom token lifetime validation logic.

That being said, I'm opening a new issue to address easier addition of custom TokenValidationParameters. #985

[2018-08-07 00:55] GeoK commented on #956
There is not enough information to reproduce the issue and the issue author has left GitHub.
I'm therefore closing this issue.

[2018-08-07 00:55] #956 closed

[2018-08-07 16:38] GeoK commented on #874
@fabicz Not sure if I understand your issue correctly, but if you instantiate the _LifetimeValidator_ delegate then line [L263](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/rel/5.2.4/src/Microsoft.IdentityModel.Tokens/Validators.cs#L263) will not be reached, because of the return at [L253](https://github.com/AzureAD/azure-activedirectory-identitymodel-e

[2018-08-08 16:25] fabicz commented on #874
@GeoK yes and because I've to write my own LifetimeValidator, I will copy lines 256 till 273 to my delegate and I need to copy the messages out manually because I cannot use LogHelper.LogExceptionMessage in my own code/package.

Thats why I was thinking that adding

`DateTime utcNow = validationParameters.ValidationInTime ?? DateTime.UtcNow;`

would solve that easily.

[2018-08-08 22:27] GeoK commented on #874
@fabicz  We understand your specific need and we appreciate your suggestion.
However, we won't be adding this feature to the library.
The reason is that the library covers the main scenarios and it provides extensibility to handle other, custom scenarios.

Thank you for the suggestion, and please let us know if we can help further on this.

[2018-08-09 00:29] brentschmaltz commented on #963
We decided to have a new base class TokenHandler that has properties:
MaximumTokenSize, TokenLifetimeInMinutes, SetDefaultTimesOnTokenCreation

[2018-08-09 01:11] mafurman opened #989 "Add a rule that will check for mismatched braces inside of exception messages"
Mismatched braces inside of exception messages will cause an exception to be thrown at the time the message is being formatted.

We should add a rule that will run through all of our exception messages and ensure that no mismatched braces are present.

[2018-08-09 01:23] #958 closed, assigned to mafurman

[2018-08-09 06:02] gulbanana commented on #925
.net core 3.0 doesn’t correspond to a .net standard 3.0, so that probably wasn’t the intention

[2018-08-09 10:16] fabicz commented on #874
Ok even though its not optimal for me, I respect that

[2018-08-09 16:13] GeoK commented on #874
Thank you. Please take a look at #986 as a _PropertyBag_ will help with your token validation scenario. I'm closing this issue for now.

[2018-08-09 16:13] #874 closed

[2018-08-10 15:05] brentschmaltz commented on #982
@TobyMosque I am going to close this, if this doesn't work for you, please reopen.

[2018-08-10 15:05] #982 closed

[2018-08-10 15:08] brentschmaltz commented on #967
:shipit:

[2018-08-10 15:34] TobyMosque commented on #982
@brentschmaltz thx, that worked to me, but that behavior is documented somewhere?

[2018-08-10 17:36] #985 closed

[2018-08-10 21:16] GeoK commented on #960
@eclipsed4utoo I'm closing this issue for now. Please feel free to re-open it if you still experience these issues.

[2018-08-10 21:16] #960 closed

[2018-08-10 21:46] #983 closed

[2018-08-10 23:12] GeoK commented on #974
@tcs-devel @hypetsch We are not going to address this issue at the moment, as the fix would introduce breaking changes.

I'd advise you to keep an eye on [Microsoft.IdentityModel.JsonWebTokens](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/dev/src/Microsoft.IdentityModel.JsonWebTokens) library which is designed to improve the user experience by simplifyi

[2018-08-10 23:12] #974 closed

[2018-08-11 10:26] ycrumeyrolle commented on #971
Please find attached the project.
Tried with net461 without getting error, but fail with netcoreapp2.0 & 2.1.

[ADAL-Issue971.zip](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/files/2280124/ADAL-Issue971.zip)

[2018-08-11 21:59] bearkat2173 commented on #487
Please also improve the error messaging for unsupported protocols.  JwtSecurityTokenHandler currently reports

It took many agonizing hours to track the issue down to JsonWebKeySet, confirming my suspicion that ECDSA is, in fact, not supported.

[2018-08-13 15:58] Tarig0 opened #992 "SAML2 Token KeyInfo: should it inherit prefix or be set to no prefix?"
In the old .net 4 the key info element has no prefix.

Looks like the code may be meaning to use a no prefix start element but the behavior doesn't match

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/6e7a53e241e4566998d3bf365f03acd0da699a31/src/Microsoft.IdentityModel.Xml/DsigSerializer.cs#L630

[2018-08-13 17:35] CBaud commented on #980
Moving to 5.2.5 since this work is already implemented in pull request #984.

[2018-08-13 20:52] mafurman commented on #971
@ycrumeyrolle I wasn't able to replicate this on either netcoreapp2.0 or netcoreapp2.1.

Do you get this error all the time or only sometimes?

[2018-08-14 18:12] ycrumeyrolle commented on #971
Yes, I have exception with about 80% of runs.

[2018-08-14 18:13] ycrumeyrolle commented on #971
Do you need some other information? Like DotNet sdk version?

[2018-08-15 00:44] #967 closed

[2018-08-15 00:47] #989 closed

[2018-08-15 04:52] brentschmaltz commented on #971
@ycrumeyrolle dotnet version might come into play.

[2018-08-15 10:27] DaanWasscher commented on #936
Hi @CBaud,
With your PR I could successfully integrate with a KeyVault and sign/verify my jwt tokens. Thanks for that!

With the risk of going beyond the scope of your PR, I am wondering about a few things.
1) The full key vault uri is visible in the jwt header. Would that not come with a security risk (opening up a potential "attack vector")?
2) Has there been any thought on key rotation? It woul

[2018-08-15 13:55] Tratcher opened #994 ""The signature is invalid" error on Linux through HTTP - JWT Authentication"
_From @hasan-hasanov on August 14, 2018 13:23_

In our project we are using JWT authentication and ran into the following problem on Linux platform.
When I am making requests over HTTPS everything is fine and working. However when I disable SSL from Properties -> Debug window I am getting 401 status code with error: "**The signature key is invalid**".

In Windows platform everything is fine.

Here

[2018-08-15 13:55] Tratcher commented on #994
_From @davidsh on August 14, 2018 14:11_

cc: @Tratcher

[2018-08-15 13:55] Tratcher commented on #994
@brentschmaltz

[2018-08-15 13:56] Tratcher commented on #994
That this works over HTTPS is very bizarre, JwtBearer has no special behavior contingent on inbound HTTPS, and RequireHttpsMetada only applies to outbound metadata requests which you aren't using in your scenario.

[2018-08-15 13:56] Tratcher commented on #994
_From @hasan-hasanov on August 14, 2018 16:24_

It really is. And this behavior is only in Linux platform. For windows everything works fine.

[2018-08-15 13:56] Tratcher commented on #994
_From @karelz on August 15, 2018 2:49_

Should we move the issue to ASP.NET repo, or are there any signs of problems in CoreFX code?

[2018-08-15 13:56] Tratcher commented on #994
It looks like an IdentityModel issue.

[2018-08-15 17:59] brentschmaltz commented on #994
@Tratcher @hasan-hasanov it may be this using statement

[code]

**signingKey** is used outside of the using.

[2018-08-15 18:05] GeoK opened #995 "Add support for creating EncryptedCredentials using X509Certificate2"
**Note:**
- If case when only a certificate is provided, key wrap encryption algorithm and data encryption algorithm will be set by default to RsaOaepKeyWrap and A128CBC-HS256, respectively.

See also: #734

[2018-08-15 18:12] brentschmaltz commented on #971
@ycrumeyrolle I was getting a different exception related to accessing memory after dispose.

[2018-08-15 18:28] hasan-hasanov commented on #994
I tried that, the problem is still there. If it was because of that I believe I would not be able to authenticate through HTTPS too.

[2018-08-15 19:09] mafurman opened #996 "Fix the race condition in CryptoProviderFactory.CreateSignatureProvider()"
In a multi-threading scenario, it's currently possible to create two signature providers but only have one of them added to the CryptoProviderCache.

We should introduce a double lock to ensure that this cannot happen.

[2018-08-15 21:12] bartonjs commented on #971
`0xc1000008` might be trying to report ERROR_NOT_ENOUGH_MEMORY

[2018-08-15 23:52] brentschmaltz commented on #994
@hasan-hasanov are you saying you removed the 'using' and it still failed?
I am not understanding how RSA.Create is related to HTTPS.

[2018-08-15 23:58] brentschmaltz opened #998 "Document how OutboundClaimTypeMap works."
Documentation item that a user has hit.
We should describe how it works and how to turn it off.
This acts as a transformation of the JSon type.

[2018-08-15 23:59] brentschmaltz commented on #982
@TobyMosque good point about the documentation.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/998

[2018-08-16 00:06] #962 closed

[2018-08-16 00:06] #839 closed

[2018-08-16 00:06] #981 closed

[2018-08-16 14:41] Jeroenh13 opened #999 "Typo in JwtSecurityToken comment"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/6e7a53e241e4566998d3bf365f03acd0da699a31/src/System.IdentityModel.Tokens.Jwt/JwtSecurityToken.cs#L415

The is spelled like teh.

[2018-08-16 18:16] brentschmaltz commented on #994
@bartonjs - TLDontRead: using (new rsa = new RSA() ... ) ..... later calling rsa.foo, throws only on Linux, but not on Windows. Any insight? It shouldn't every work actually.

cc: @hasan-hasanov

[2018-08-16 18:28] bartonjs commented on #994
We might have accidentally introduced an error where post-dispose is the same as freshly created, where it thinks it needs to just make up a key on first (next, in this case) use.

[2018-08-17 14:05] Tarig0 opened #1001 "Shouldn't the NotOnOrAfter property be based on the NotBefore value?"
Given the following SecurityTokenDescriptor I would expect that the default lifespan would ensure that the Time between NotBefore and NotAfter would not exceed 5 minutes, instead it will base the expiration on the current system time unless I set it in the descriptor.

[code]

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/8a6966b0b0d62c1675a557239985b457

[2018-08-17 22:08] brentschmaltz commented on #994
@bartonjs @hasan-hasanov closing this here. We need a bug against the appropriate project.

[2018-08-17 22:08] #994 closed

[2018-08-17 22:09] brentschmaltz commented on #999
@mafurman can you touch this up? Add it to an existing item.

[2018-08-17 22:32] brentschmaltz commented on #1001
@Tarig0 We think of each of these three values: IssuedAt, NotBefore and Expires as independent. For Saml2, IssuedAt is not used.

A SecurityTokenHandler has these Properties to control behavior:
SetDefaultTimesOnTokenCreation (add times if missing)
TokenLifetimeInMinutes (how long should tokens be valid)

If any of these three are not set on SecurityTokenDescriptor then if SetDefaultTimesOnTokenCr

[2018-08-17 23:39] mafurman commented on #999
@brentschmaltz Done! I added this fix to this PR: #991.

[2018-08-18 20:28] lucasecdb opened #1002 "ObjectDisposedException thrown when generating JWT in docker container"
Hello, I'm trying to create a docker container with my API, but when I try to login and create a JWT by calling `JwtSecurityTokenHandler.CreateToken`, I get the following exception:

[code]

I've created a [sample project](https://github.com/lucasecdb/webapi-jwt-project) with the dockerfile and configurations from my WebApi which is throwing the error.

I think all the configurations and versions

[2018-08-18 22:55] CBaud commented on #1002
Hey @lucasecdb,

After reviewing your sample project, I believe the root cause of your issue is the 'using' statement that starts on line 28 of the SigningConfigurations class. The benefit of the 'using' statement is that it provides a convenient syntax that ensures the correct use of IDisposable objects. As a result, the RSACryptoServiceProvider instance is getting disposed immediately after it i

[2018-08-19 00:59] lucasecdb commented on #1002
@CBaud that was it! Thank you so much for the help :-)

[2018-08-19 00:59] #1002 closed

[2018-08-20 20:32] mafurman opened #1003 "Saml2SecurityTokenHandler.CreateAttributeStatement() does not check if SecurityTokenDescriptor.Subject is null"
This should be fixed since trying to access Subject.Claims results in a null pointer exception being thrown.

[2018-08-20 23:44] mafurman opened #1004 "Move the CryptoProviderCache lock out of the CryptoProviderFactory and into the cache itself"
We're currently locking from the outside of the cache, which will not be ideal once we start providing cache functionality for crypto operators other than SignatureProviders.

This will require adding a GetOrAdd() method to the CryptoProviderCache (similar to what ConcurrentDictionary does).

This is related to this issue : #996 and to this PR: #997

[2018-08-21 01:01] brentschmaltz commented on #680
Added WIKI https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/How-We-Test

[2018-08-21 01:01] #680 closed

[2018-08-21 14:59] brentschmaltz commented on #968
@GeoK can you pick this up?

[2018-08-21 17:34] #996 closed

[2018-08-21 17:44] #963 closed

[2018-08-21 17:44] #999 closed

[2018-08-21 17:45] #1003 closed

[2018-08-21 18:52] #995 closed

[2018-08-22 19:38] brentschmaltz commented on #915
@heyjackmototrek when you can get us the entire flow, we can investigate further.

[2018-08-22 19:38] #915 closed

[2018-08-23 00:10] GeoK commented on #968
@PilgrimViis  In your [sample](https://github.com/PilgrimViis/JwtExample) project, *publicKey* and *privateKey* are used outside of the *using* statement(s).
If you remove the *using* statements, or if you put your code inside of the using block, your project should work fine on Mac, too.

@brentschmaltz  This is very similar to #994.

[2018-08-23 17:48] Tarig0 opened #1005 "Feature Request: Please add a virtual function to allow for an easier time in extending onetime use Saml Tokens"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/e9fe530ed023a1566c51567b4f91b88c59b35509/src/Microsoft.IdentityModel.Tokens.Saml/Saml2/Saml2SecurityTokenHandler.cs#L909

It would nice if we didn't have to handle validating all of the conditions to add support for onetime use tokens.

[2018-08-23 19:51] Tarig0 opened #1006 "SAML2 Subjectconfirmation data lifetime check should be optional"
Currently if there is a subject confirmation node in the SAML2 token it will check the lifetime even if there is no lifetime information in the subject data node. This will in turn throw an error since the expire and notbefore arguments will be null.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/e9fe530ed023a1566c51567b4f91b88c59b35509/src/Microsoft.Ide

[2018-08-25 00:53] GeoK opened #1009 "Create KeyVaultSigningCredentials class to simplify instantiation of SigningCredentials"
Related to: #984

It might be a good idea to create *KeyVaultSigningCredentials* class, similar to *X509SigningCredentials* class. Doing that, instantiation of *CryptoProviderFactory/CustomCryptoProvider* could be abstracted out and moved into to a *KeyVaultSigningCredentials* constructor.

So, instead of this call:

[code]
, a call would look like this:
[code]

Same principle could later apply fo

[2018-08-28 15:04] Tratcher opened #1010 "JwtBearerHandler And keys rollover management. How to do it properly."
_From @Someguyatwork on August 28, 2018 9:33_

I'm trying to understand what is happening and what to do when the jwt signing keys must be updated.

Let's say we have a simple jwt server. And we also have several api configured with the MetadataAdress of JwtBearer pointing to a JWK endpoint (All this in .net core 2.1)

JwtBearerHandler (https://github.com/aspnet/Security/blob/master/src/Microsoft.

[2018-08-28 15:05] Tratcher opened #1011 "JwtBearerHandler And keys rollover management. How to do it properly."
_From @Someguyatwork on August 28, 2018 9:33_

I'm trying to understand what is happening and what to do when the jwt signing keys must be updated.

Let's say we have a simple jwt server. And we also have several api configured with the MetadataAdress of JwtBearer pointing to a JWK endpoint (All this in .net core 2.1)

JwtBearerHandler (https://github.com/aspnet/Security/blob/master/src/Microsoft.

[2018-08-28 15:05] Tratcher commented on #1011
This issue was moved to AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#1010

[2018-08-28 15:12] Tratcher commented on #1010
Yes, that's overthinking it a bit.

Key rollovers have a few expectations:
A) They're infrequent, aka no more than every 24 hours. Some services use keys for days and weeks.
B) They use a staged rollout. E.g. a new key is introduced and allowed to propagate before it's used. The old key remains valid for a given time after it stops being used.
C) In the event of an emergency where the old key must

[2018-08-28 15:13] Tratcher commented on #1011
Woops, duplicate copy.

[2018-08-28 15:13] #1011 closed

[2018-08-28 15:55] Someguyatwork commented on #1010
Ok, may be I should just change my jwt server to not use immediately a newly introduced key, but to wait 24 or 48h before generating token with it ...
In the meantime the service pools will probably have been refreshed, which will have trigger the fetching of the last jwk config.
I will experiment with that, may be it's indeed lighter than updating all the services to manage queues ...
Thanx for y

[2018-08-28 19:44] Tarig0 opened #1012 "Feature request: Allow nested Signatures"
Looks like the only reason why signatures, that include another signature in its calculation, are not supported is because the XML token stream will take out ALL signatures and not just the first instance of it.

I think, with the assumption that the first signature is the one being verified, an element remove flag could be added and if true include any other signature elements.

https://github.co

[2018-08-28 20:01] Tarig0 commented on #1012
Looks like this was removed at
commit 8cd95c84f1e833fcdfbcb54b56bd8dadb858e1c1

[2018-08-28 21:51] brentschmaltz commented on #1012
@Tarig0 yes, we deliberately only support a single signature as we were focused on Saml tokens. I agree that xmldsig has the ability for multiple signatures. Can you share why you need this support?

[2018-08-28 21:57] brentschmaltz commented on #1010
@Tratcher @Someguyatwork we will investigate the 'refreshing' and try and figure out what is not working.

What Tratcher mentions is how most servers operate. Keep multiple keys around, add the new key well before using it.

[2018-08-29 17:18] cvocvo commented on #877
@brentschmaltz Just circling back; any updates on the 5.2.5 release targeting .NET 4.6.0+? Any plans to target 4.7.0 down the road too (not sure if even needed if there's a 4.6.0 target) ?

[2018-08-29 18:59] #998 closed

[2018-08-30 03:33] GeoK commented on #968
Hi @PilgrimViis, did you get a chance to test this again?

[2018-08-30 16:35] CBaud commented on #968
@PilgrimViis The benefit of the 'using' statement is that it provides a convenient syntax that ensures the correct use of IDisposable objects. If the IDisposable object is needed beyond the scope of a 'using' statement, then the recommended alternative is to use the [Dispose Pattern](https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/dispose-pattern).

@GeoK @brentschmaltz This is

[2018-08-31 15:58] franklinyu commented on #601
I would also like API reference besides documentation, so that user can view API on browser without browsing the source code directly. I'm using Sandcastle in my C# projects, and I think it is the de-facto documentation generator.
<https://ewsoftware.github.io/SHFB/>
<https://github.com/EWSoftware/SHFB>

[2018-08-31 17:27] jmprieur opened #1013 "pictures for conceptual doc"
![image](https://user-images.githubusercontent.com/13203188/44927180-d7403400-ad53-11e8-95e6-37e32d476c8d.png)

[2018-08-31 17:34] #1013 closed

[2018-08-31 17:35] jmprieur commented on #601
There is the start of a documentation in the [wiki](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki), with links to reference documentation for two of the assemblies

[2018-08-31 17:46] franklinyu commented on #601
@jmprieur Thanks a lot for the pointer. Nevertheless I would like to see API documentation for `System.IdentityModel.Tokens.Jwt`.

[2018-08-31 17:56] jmprieur commented on #601
@franklinyu : my impression is that we don't generate it currently. I'll make sure that it is generated (which will take a few days as the library needs to be emboarded in the pipeline)

[2018-08-31 17:56] franklinyu commented on #601
In addition, what's the relationship between `System.IdentityModel.*` and `Microsoft.IdentityModel.*`? I thought `System.IdentityModel.Tokens.Jwt` should belong to [WIF API](https://docs.microsoft.com/en-us/dotnet/framework/security/wif-api-reference).

[2018-08-31 18:00] jmprieur commented on #601
oh, sorry, I mis-read it. yes … System.IdentityModel.Tokens.Jwt is a different library? (not from this repo?) is it?

[2018-08-31 20:48] franklinyu commented on #601
It is this library, and it is mentioned in the wiki page you pointed me to.

[2018-09-04 13:04] Tarig0 commented on #973
Since I had to do this here is what I did.

The Crypto Provider
[code]

Set Custom Crypto provider, note that there can only be one so if you need more than one set of crypto algorithms you will need to create a wrapper to loop through them
[code]

Alternatively can be added to a key instead
[code]

[2018-09-04 20:37] mafurman opened #1014 "Change all occurrences of String.Empty to string.Empty"
The code is not consistent with regards to which version of 'string.Empty' is used.

[2018-09-11 14:16] Tarig0 commented on #1012
Did my last comment clear up what I meant?

[2018-09-14 06:39] AndersAbel commented on #759
@brentschmaltz any updates on this? We have a community initiative on this (part of https://github.com/Sustainsys/Saml2/pull/939) that would be possible to extract to a separate library. But I don't want to spend too much time on it if this issue will be implemented shortly. Or maybe our code could be used as the basis for this feature?

[2018-09-14 16:45] brentschmaltz commented on #759
@AndersAbel we are open to getting this into IdentityModel.

[2018-09-14 16:47] brockallen commented on #759
I think this would help position folks to be able to build out their own ws-fed STS as well, yes? These are missing APIs preventing that now, yes?

[2018-09-14 16:49] brentschmaltz commented on #1012
@Tarig0 it was simply a work scoping tactic to allow a single signature. The code was developed to extend to multiple.
What is your time frame?

I think this fit with https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/759

[2018-09-14 18:12] AndersAbel commented on #1012
@Tarig0 I'm afraid nested signatures are more complex than merely taking the first. There is a horrible class attacks on SAML2 implemenations that use XML Signature Wrapping in various creative ways. The short-cut the team has taken so far with only one signature and hard coding it to one reference which is hard coded to be the entire document is safe. But as soon as those assumptions are no longe

[2018-09-14 19:21] Tarig0 commented on #1012
The assumptions that I have is.

1. The reference is for a node that the signature is a direct child of.
2. The xmlreader that is wrapped will be windowed to said node.

Little more fleshed out

1. I have a signed Response with a signed Assertion
2. I open a wrappedxmlreader on the doc (this will validate the response signature and include the assertion's signature)
3. when I reach the assertion a

[2018-09-17 23:57] z0nekill opened #1019 "Compile Error: SecurityTokenExpiredException exists in both 'Microsoft.IdentityModel.Tokens' and 'Microsoft.IdentityModel'"
Hi there,

Looking for some guidance around this particular compilation issue.

Packages in use that are conflicting on the type "SecurityTokenExpiredException " which I'm catching in try/catch block:
[code]

These packages are referenced by the SharePointPnPCoreOnline - however I don't think the problem lies with them?

Those packages are:
[code]

Example code usage:
[code]

Full error:

[code]

[2018-09-18 03:00] brentschmaltz commented on #1019
@z0nekill can you point me to the nuget package you are using?
A process cannot have Microsoft.IdentityModel 3.5 and Microsoft.IdentityModel 5.2.4 in memory at the same time.

[2018-09-18 03:07] brentschmaltz commented on #1012
@AndersAbel yes, when we wrote WS-Security for WCF that has multiple signatures it was tricky.

Having multiple references is not as hard a problem.
@Tarig0 yes, embedded signatures where the inner is simply data to the outer AND the reading is strict (signature follows the node) should be fine.

[2018-09-18 21:05] brentschmaltz commented on #759
@AndersAbel @brockallen Anders and myself had a great skype call today.
There are a couple items that would help make this happen.
1. Ability to have multiple signatures in the envelope
2. SamlSecurityTokenHandler can validate token using an XmlReader.

[2018-09-18 21:07] brentschmaltz commented on #925
@gulbanana @natemcmaster our next release will have a 2.0 target.

[2018-09-18 21:52] z0nekill commented on #1019
Hey @brentschmaltz,

[code]

Is the core nuget package that references the two conflicting IdentityModel packages.

Is that what you're looking for?

[2018-09-18 22:13] #593 closed

[2018-09-19 01:47] brentschmaltz commented on #1019
@z0nekill yes thanks, that is what I am looking for.
Where did you get it?

[2018-09-19 03:15] brentschmaltz commented on #925
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1020

[2018-09-19 03:15] #925 closed

[2018-09-19 03:16] brentschmaltz commented on #961
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1020

[2018-09-19 03:16] #961 closed

[2018-09-19 03:18] brentschmaltz commented on #936
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/984

[2018-09-19 03:18] #936 closed

[2018-09-19 03:18] brentschmaltz commented on #980
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/984

[2018-09-19 03:18] #980 closed

[2018-09-19 11:47] praveenrengarajan opened #1021 "Generated Token is Invalid in tymondesigns/jwt-auth"
` var plainTextSecurityKey = "xfoSiRSaetjS9eEJ7ixGx9dYZB4nqaW3";
var signingKey = new Microsoft.IdentityModel.Tokens.SymmetricSecurityKey(
                             Encoding.UTF8.GetBytes(plainTextSecurityKey));

var signingCredentials = new Microsoft.IdentityModel.Tokens.SigningCredentials(signingKey,
	Microsoft.IdentityModel.Tokens.SecurityAlgorithms.HmacSha256Signature);

var claimsIdentity

[2018-09-19 13:39] Tarig0 commented on #1012
I'm not sure I understand the meaning of "signature follows the node".

Does that mean that you cant have the following?

Response
-Assertion
--Signature (on assertion)
-Signature (on response)

[2018-09-19 14:09] AndersAbel commented on #1012
@Tarig0 Yes, the structure you show is valid. Although the ordering is different, the response signature must be before the assertion:

* Response
  - Response issuer
  - Response signature
  - Assertion
    - Assertion issuer
    - Assertion signature

I talked to @brentschmaltz yesterday and we discussed this issue (and some others). Our suggestion is to change the EnvelopedSignatureReader so th

[2018-09-19 16:47] GeoK commented on #968
@PilgrimViis Thanks for the confirmation, I'm closing this issue as resolved.

[2018-09-19 16:47] #968 closed

[2018-09-19 16:47] AndersAbel commented on #1012
@brentschmaltz Yes, my bad - I'm too stuck into the SAML2 world where the signature is always right after the issuer. You said that the same isn't true for WS-Fed.

[2018-09-20 01:21] brentschmaltz opened #1023 "Add support for KeyVault using Managed identities for Azure Resources"
Passing a url to a KeyVaultSecurityKey should trigger the use of Managed identities for Azure Resources.

[2018-09-20 19:32] joetherod commented on #887
Is this available now in 5.3? Can examples be provided?

[2018-09-20 23:46] brentschmaltz commented on #887
@joetherod @Tratcher We don't have that RsaCookieTransform coded.
We could put together a sample.
It is really a wrapping of SignedRSA over EncryptedRSA.

[2018-09-21 01:08] joetherod commented on #887
@brentschmaltz  That would be appreciated. I saw that the issue was closed with the 5.3 release.
thanks

[2018-09-21 07:30] brentschmaltz commented on #887
@joetherod 	we are looking for a quick release for a couple of xml items, we will toss this in.

[2018-09-21 07:37] brentschmaltz commented on #1023
added ManagedKeyVaultSecurityKey https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/4f9723a25f4a589e2dbd3f94ca8d04d77fbee767

[2018-09-21 07:37] #1023 closed

[2018-09-21 07:40] brentschmaltz commented on #1021
@praveenrengarajan 	do you know what the Laravel package doesn't like about the token?

[2018-09-21 07:42] brentschmaltz commented on #1019
@z0nekill 	to be specific, where did you get the nuget packages?

[2018-09-21 07:43] brentschmaltz commented on #1006
@Tarig0	will get this in 5.3.1

[2018-09-21 07:46] brentschmaltz commented on #1005
@Tarig0 we will try and get this into 5.3.1

[2018-09-21 08:11] brentschmaltz commented on #759
for 5.3.1 we should do 1 and 2 above.
we will still need to think about how much metadata we can support

[2018-09-21 08:43] AndersAbel commented on #759
1. is mostly not related to Metadata, but rather SAML protocol response message validation. I suggest that we discuss that in #1012.

I've had a look at the metadata from an ADFS server to understand better how the SAML2 metadata spec and the WS-Fed metadata is related. The overall structure of the metadata file is defined in the Saml2 metadata spec. The Saml2 endpoints are of course also defined

[2018-09-21 09:09] z0nekill commented on #1019
https://www.nuget.org/packages/SharePointPnPCoreOnline/

[2018-09-21 19:01] mafurman commented on #971
I'm closing this issue as it seems to be an issue with the cryptography libraries and not our library.

[2018-09-21 19:01] #971 closed

[2018-09-21 23:39] brentschmaltz commented on #1019
@z0nekill looks like we can't use those together. I'll have to investigate

[2018-09-22 02:25] ghakazian opened #1024 "Null reference encountered when validating a token with no 'aud' claim"
I am trying to validate some custom generated tokens which do not include the audience claim, which per RFC 7519 is an optional claim. When attempting to validate the tokens without audience set, I get a NullReferenceException from JsonWebToken.get_Audiences().
The expected behavior is that I can validate the token without an audience by setting ValidateAudience=false on the validation parameters

[2018-09-23 18:18] brentschmaltz commented on #1024
@ghakazian sorry we let that slip through. We are pushing up 5.3.0 shortly and this has been fixed. The release is currently published on myget here: https://www.myget.org/feed/azureadwebstacknightly/package/nuget/Microsoft.IdentityModel.JsonWebTokens
The breaking change that removes JObject as a parameter will affect you.
We want to have API's that only depend on .NET Core so to improve backwards

[2018-09-23 18:18] #1024 closed

[2018-09-23 19:10] ghakazian commented on #1024
This is perfect, I will look for 5.3.0 shortly. Thanks.

[2018-09-24 19:46] natemcmaster commented on #925
Yay!

[2018-09-24 20:52] brentschmaltz commented on #877
@cvocvo our next release is 5.3.0 (was 5.2.5) and we are just waiting for approval for our package id's.
Can you try our nightly packages (5.3.10) on myget here: https://www.myget.org/gallery/azureadwebstacknightly

[2018-09-25 11:05] fragilethoughts commented on #468
@brentschmaltz the method that handles authentication is async so I think it shouldn't be that difficult to add? https://github.com/aspnet/Security/blob/beaa2b443d46ef8adaf5c2a89eb475e1893037c2/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerHandler.cs#L107-L128

[2018-09-26 20:30] brentschmaltz commented on #468
@fragilethoughts I agree we need async, particularly with delegation to validation services, such as KeyVault and Google. Not only do we need ValidateTokenAsync, we need async on our Crypto such as SignatureProviders and KeyWrapProviders.

This is a feature we are thinking about for 5.3.1, but realistically it may be later. The other issue is we want to remove references to any libraries other tha

[2018-09-26 20:53] fragilethoughts commented on #468
Sounds good

[2018-09-27 16:24] Tarig0 opened #1026 "[SAML2] Null pointer error if using the IssuerSigningKeyResolver"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens.Saml/Saml2/Saml2SecurityTokenHandler.cs#L336

If you use a custom issuersigningkeyresolver there is no way for the token.Signingkey to be set

[2018-09-28 06:05] AndersAbel commented on #1012
Looking at the job needed to extend the `EnvelopedSignatureReader` to allow for nested signatures, it feels more and more like reinventing a complete SignedXml implementation. And there already is one. What is the reason for having a separate implementation here, instead of relying on `System.Security.Cryptography.Xml.SignedXml`?

[2018-10-02 19:42] #1006 closed

[2018-10-02 23:02] brentschmaltz commented on #1012
@AndersAbel couple of reasons for xmlreaders.
1. using xmldocuments was found to be quite a bit slower
2. validation of schema can be written into the readers and failures can have crisp messages
3. external generation and validation, using services, of signatures is natural using readers
4. we are not providing a 'general' DSig library, but a fast token specific reader

[2018-10-03 00:23] brentschmaltz opened #1029 "WSFederation SignIn messages that have /r/n encoded with %0d%0a will fail signature validation"
If a saml token is created and signed with an attribute that has "/r/n" in the value, then the escaped version will replace that with %0d%0a. The result from GetToken will have the /r/n normalized to /n and then the signature will fail.

[2018-10-03 06:46] AndersAbel commented on #1012
@brentschmaltz Thanks for the explanations

If we focus on what can actually happen in the SAML world, I've done some digging in the SAML2 specs and there's some good news: The relevant signature is always the first one in the token stream. The signature covering the root node is required to be before any contained data that can be signed. A abbreviated example:

[code]

If validating the signatur

[2018-10-03 18:58] brentschmaltz commented on #1012
@AndersAbel for general WS-Security signatures, the signature could be anywhere (almost) in the SOAP envelope and contain multiple parts. That's what I mean by 'general' DSig. These XML libraries 'could' be extended to provide multiple signatures over multiple parts of the envelope.

[2018-10-03 19:04] AndersAbel commented on #1012
@brentschmaltz Trying to solve one problem at a time - would you accept a PR that implements a flag like I suggested to only filter out the first signature? It would become SAML2/SAML2P compatible, and would not break anything existing.

[2018-10-04 02:00] brentschmaltz commented on #1012
@AndersAbel in general I am not a big fan of flags. I prefer a policy strategy.
Are you thinking on the DSigSerializer or EnvelopeSignatureReader?

I feel this feature should be easily to fit into the next release, whatever form it takes.
We are shooting for 11/19 (was stated as 10/19, but that was a typo).

[2018-10-04 14:10] AndersAbel commented on #1012
It's not a flag for the user - it's an internal flag in the processing that marks when one signature has been excluded and then doesn't exclude the rest. I'll try to write up a PR including tests in the next few days so you can see what it looks like.

[2018-10-08 16:00] cvocvo commented on #877
@brentschmaltz Apologies -- missed this message. I just checked and see 5.3.0 is out now. I'm rolling that out to our staging environment for further testing. Thank you! (I'll edit post when I have test results)

[2018-10-08 19:33] brentschmaltz commented on #877
@cvocvo I'll close this out, if you hit issues please reopen.
We added a 4.6.1 target, there is not much more in 4.7, from a crypto point of view that will add a lot of value, so we didn't add that target.

[2018-10-08 19:54] brentschmaltz opened #1030 "Tokens from ADFS are failing validation"
see: https://github.com/aspnet/Security/issues/1852#issuecomment-427673049 for details.
Short story is ADFS has defined a separate "access_token_issuer" in metadata to validate against for the issuer.

[2018-10-09 08:36] RubenDelange commented on #877
@brentschmaltz & @Tratcher  : I ended up here because I got the same problem as initially reported by @fabiodaniele and @allevyMS : ASP.NET Core web application targetting .NET 4.7.2 with the Microsoft.AspNetCore.Authentication.JwtBearer package that references System.IdentityModel.Tokens.Jwt v5.2.0.

I am implementing the OpenID Connect Authorization Code flow, but I'm stuck with the following er

[2018-10-09 12:47] RubenDelange opened #1031 "OpenIdConnectProtocolException: IDX21345"
I'm using a OpenID Connect user info endpoint which returns a JWT that does not contain a sub claim.

This triggers the following exception:
[code]
I can read the user profile properties via the OnUserInformationReceived event (context.User property), so I'm guessing the JWT itself is fine.

However, I can't change the behavior of the user info endpoint, so is there a way I can safely skip the use

[2018-10-09 23:40] brentschmaltz commented on #1031
@RubenDelange what provider are you using?
While the requires a 'sub' claim,
https://openid.net/specs/openid-connect-core-1_0.html#IDToken

The value from the UserInfoEndpoint is supposed to have the same 'sub' as the original id_token.

OpenIdConnectProtocolValidator is extensible and you can plug a custom OpenIdConnectProtocolValidator and override ValidateUserInfoResponse.

In asp.net, OpenIdCo

[2018-10-10 02:12] brentschmaltz commented on #1026
@Tarig0 sorry to miss this.
We will get this into 5.3.1.

[2018-10-10 02:13] brentschmaltz commented on #992
@Tarig0 we will get this into 5.3.1

[2018-10-10 04:07] rasitha1 commented on #1030
Couple of things to note:

1. Since 'access_token_issuer' is ADFS specific and not part of the OIDC spec, does it make sense to add the property to OpenIdConnnectConfiguration class? (That's why I was thinking using the AdditionalData dictionary but somehow pull that to ValidIssuers list.)

2. I was looking at the [OIDC spec](https://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscove

[2018-10-10 06:00] AndersAbel commented on #1030
@rasitha1 The ADFS behaviour is definitely non-standard. When deploying a new ADFS farm, the fix is to change the federation service identifier (which is the value used for `access_token_issuer`) so that it is the same as the `issuer` field.

I think that adding support for handling this would make sense in a Microsoft library. But I also think it should be an opt-in setting. In the Sustainsys.Sam

[2018-10-10 06:34] RubenDelange commented on #1031
Hi @brentschmaltz , you are right stating that the sub claim MUST always be returned in the UserInfo Response - cfr. https://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse
I filed a bug for the provider I'm integrating with.

In the meantime, I'll look into the ProtocolValidator hook. Thank you!

[2018-10-10 18:03] brentschmaltz commented on #1031
@RubenDelange if you could share the provider, that would help us in guiding others.
If not possible, that's fine.

[2018-10-10 18:37] brentschmaltz commented on #1030
@rasitha1 @AndersAbel I agree with you. Technically, the OIDC spec is about id_tokens. So purists will argue that an access token is a contract between the idp and resource manager. I find this while technically correct, practically infeasible.

I think your idea of 'opt in' is needed. @AndersAbel is your config standard <xml> config or do you have a code equivalent?

[2018-10-10 18:41] RubenDelange commented on #1031
Provider I'm integrating with is a federal service of the Belgian government

[2018-10-10 21:07] brentschmaltz commented on #1031
@RubenDelange
Thanks. I will close this for now, please reopen if needed.

[2018-10-10 21:07] #1031 closed

[2018-10-11 06:17] AndersAbel commented on #1030
@brentschmaltz The compatibility flags are gathered in one place in https://github.com/Sustainsys/Saml2/blob/master/Sustainsys.Saml2/Configuration/Compatibility.cs. So it is a per-handler-instance-setting.

I've also added information about compatibility flags in exception messages. This reduced the number of support questions dramatically:

https://github.com/Sustainsys/Saml2/blob/9dfacfc7d784fe9

[2018-10-12 05:50] RubenDelange commented on #1031
FYI: apparently ForgeRock OpenAM is used for the underlying implementation

[2018-10-12 13:04] StevenLiekens opened #1032 "Feature: encrypt-then-sign JWT"
Please support creating JWTs that are first encrypted and then signed.

**Package**:  System.IdentityModel.Tokens.Jwt version 5.3.0
**Class**: System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler

Right now it's hardcoded to always sign first and encrypt last.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/43f840f3628dcb2dabb1003b9e8ab2e752b20ee5/src/S

[2018-10-13 01:47] sjzamora86 opened #1033 "Newtonsoft.Json Exception"
Hi All,

I'm pretty new using this System.IdentityModel.Tokens.Jwt; I want to use the latest version (5.3.0) but it is throwing Newtonsoft.Json exception when I try to call .WriteToken(jwtSecurityToken) which you can see below.

**Target:** .Net 4.6.1
**System.IdentityModel.Tokens.Jwt:** v5.3.0
**Newtonsoft.Json:** v.11.0.2

Any help will be much appreciated.

System.TypeInitializationException

[2018-10-15 20:54] GeoK commented on #1033
Hi @sjzamora86,

How did you install the package?
Do you experience the same issue when you create a new project and install _System.IdentityModel.Tokens.Jwt_ via Package Manager Console:

[2018-10-17 14:45] RubenDelange commented on #877
@brentschmaltz any updates regarding this issue?

[2018-10-17 18:37] zbrad commented on #609
At the end of the day, Msft (Azure AD) is currently generating JWT Tokens that fail signature validation.

Therefore Msft is non-IETF compliant by failing to generate valid JWT Tokens, eg tokens which cannot be validated by their provided signature.

So, when will Msft fix this?

[2018-10-18 00:36] brentschmaltz commented on #609
@zbrad it is not completely accurate to say that tokens generated by AzureAD are not compliant.

There is no implementation defined in oAuth as to what constitutes an access_token for a resource provider. It is a contract between the IdentityProvider and the ResourceServer.
Since this token is meant for graph and graph can validate it, it is all perfectly fine. It's questionable to make access dec

[2018-10-18 02:41] brentschmaltz opened #1035 "CryptoProviderFactory.CreateSignatureProvider should break once SignatureProvider type is determined"
~line 400, it has been determined that signature provider should be Asymmetric. The line below should be 'else if'

This is a minor performance gain.

[2018-10-18 02:55] brentschmaltz commented on #877
@RubenDelange if you look at the modulus of this key, you will see that the first byte is '0'. This is contrary to JWA here; https://tools.ietf.org/html/rfc7518#section-6.3.1.1

The frustrating thing here is we tried to 'fix' this by removing the first byte if ZERO and byte length == 257, but we started failing in other libraries.

Perhaps we should revisit this issue and put in some type of compa

[2018-10-18 04:29] brentschmaltz opened #1036 "Add symbols to microsoft's public symbol server"
For all IdentityModel assemblies the retail pdb's need to be added to microsoft's symbol servers so debuggers such as WinDbg can find the symbols.

[2018-10-18 14:41] RubenDelange commented on #877
@brentschmaltz knowning the cause is a good starting point :)

I don't know if this explains why there are no problems with the same code in a Consoleapp targetting .NET Core 2.1 as opposed to a Consoleapp targetting .NET 4.7.2 (or lower), but I'm hoping this get's fixed somehow.

In my ASP.NET Core web application targetting .NET 4.7.2 (and System.IdentityModel.Tokens.Jwt v5.2.0), I have to us a

[2018-10-18 17:30] brentschmaltz commented on #1033
@sjzamora86 @tschneideriii 	I don't see version 11.0.0.0 or 10.0.0.0 on nuget.org.

https://www.nuget.org/packages/Newtonsoft.Json/11.0.2

[2018-10-18 17:37] RubenDelange commented on #877
@brentschmaltz : jwk_uri is https://idp.iamfas.int.belgium.be/fas/oauth2/connect/jwk_uri ; currently the same JWK applies as used in the console app code sample [here ](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/877#issuecomment-428452146)

I know that not validating the signature leaves a big security hole, but I had to make some progress in develo

[2018-10-18 20:20] sjzamora86 commented on #1033
Sorry guys for the late reply.
It is working now for me, what I've done is:

- Remove reference to this library,
- Delete all my packages (folder),
- Restore NuGet
- Install it via console like @GeoK suggested

 And it works. I think it is conflicting on other packages that I installed.

[2018-10-19 02:01] brentschmaltz commented on #1033
good to know, thanks.

[2018-10-19 02:01] #1033 closed

[2018-10-19 09:20] RubenDelange commented on #877
Thank you @brentschmaltz , I can use JWT signature validation again!

[2018-10-23 16:35] ShaneCourtrille commented on #513
@brentschmaltz Great but since the existing API was broken is there anything posted on how to move existing code forward?

[2018-10-23 17:01] eltonlika opened #1037 "JwtSecurityTokenHandler.ValidateToken fails with CryptographicException: Keyset does not exist on 5.3.0"
We updated the following packages from version 5.2.4 to **5.3.0** on a Xamarin Forms App (in both Android and iOS project packages):
**System.IdentityModel.Tokens.Jwt
Microsoft.IdentityModel.JsonWebTokens
Microsoft.IdentityModel.Tokens
Microsoft.IdentityModel.Logging**

Using the following code we try to validate and get a SecurityToken object from a JWT RS256 token using a public X509 certificate

[2018-10-23 19:46] brentschmaltz commented on #513
@ShaneCourtrille you will have to update your code when moving to 5.x+.

This may help you: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Migrating-from-Katana-(OWIN)-3.x-to-4.x

[2018-10-23 23:10] brentschmaltz commented on #1037
@eltonlika 	can you share the public cert?

[2018-10-23 23:12] eltonlika commented on #1037
@

[2018-10-23 23:17] eltonlika commented on #1037
I am afraid I am not allowed. What did you want to check so I can do it for you, if that's possible?

The code it's for testing purposes so I simplified a bit. In production I have an audience that I validate and that is not where it fails. I checked with both valid and invalid audiences to make sure.

[2018-10-24 00:13] brentschmaltz commented on #1037
@eltonlika normally one can share a public key.

I wanted to debug through the stack to understand what the problem is.
Sometimes the code you are using results key that .NET has issues with.

@"-----BEGIN CERTIFICATE-----
XXXXX..XXXXX
-----END CERTIFICATE-----"))),

[2018-10-24 00:13] RichardD012 opened #1038 "JwtSecurityTokenHandler Validate Token fails if not using Windows in 5.3.0"
When creating a new `JwtSecurityTokenHandler()` and passing in a `RSACryptoServiceProvider` in OSX, an exception is thrown when calling `ValidateToken`.

The error is: `System.PlatformNotSupportedException: 'CspKeyContainerInfo' requires Windows Cryptographic API (CAPI), which is not available on this platform.`

[code]

The stack-trace refers to `RsaCryptoServiceProviderProxy.cs` and looking at t

[2018-10-24 07:54] eltonlika commented on #1037
Yes I know that, but this is for a work project so I'm not at liberty to share all the certificate details.

Here:
[code]

[2018-10-24 15:50] sanjaysingh opened #1039 "Missing SAML message digest verification"
I am using Saml2SecurityTokenHandler to validate a SAML2 token and find that there is no message digest verification as was available in Windows Identity Foundation. This seems important to me because changing the SAML token will still pass the validation and generate a Principal.

Is this by design? If yes then can you point to a any link on how it is supposed to be used. I am porting an applicat

[2018-10-24 20:53] sanjaysingh commented on #1039
I noticed that passing the cert in IssuerSigningKey of TokenValidationParameters does the job but then how do i get the cert without requiring for me to have it installed. Previously it used to do the validation by just having the thumbprint in the config file for a list of known issuers but i don't see anyway to specify thumbprint anymore. One option i have tried is extracting the cert from the t

[2018-10-25 00:14] brentschmaltz commented on #1039
@sanjaysing yes, as you see you need to validate the token. Reading does not validate.
However, if you use the key inside the SAML2 token, then you must validate that you trust that key is owned by a trusted authority.

Our model is to obtain metadata from a trusted location, then set TokenValidationParameters with the key and issuer returned from metadata.
You will also need to set the ValidAudie

[2018-10-25 15:42] sanjaysingh commented on #1039
Thank you @brentschmaltz for quick response. My question is around how to go about validating that the token is from an issuer with certificate whose thumbprint i know and also that the token has not been tampered. With the System.IdentityModel we had following sample configuration take care of it. Nothing else was required.

[code]

Audience URI is working fine when i feed in the parameter. I rem

[2018-10-25 17:10] RichardD012 commented on #1038
Not sure if this is correct but changing the constructor of `RsaCryptoServiceProviderProxy.cs` seems to work.  Again, not familiar enough with this code base but it def works.

[code]

Another thing I noticed when building in OSX, [JsonWebKey](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/ffb1260ff06874039496555dfcf04cfdb0f402bd/src/Microsoft.IdentityMod

[2018-10-25 21:51] brentschmaltz commented on #1039
@sanjaysingh your code will work if the token is valid.

You may want to consider obtaining the metadata from a trusted authority using ConfigurationManager and WsFederation as below. This is the best way to go. You can hook the delegate: TokenValidationParameters.IssuerSigningKeyValidator to validate the key that signed the token.

We don't have a config solution for this version of IdentityModel

[2018-10-26 14:01] sanjaysingh commented on #1039
Thank you for the detailed explanation.
This is a a great workaround but i will still not be able to easily port my application because this approach is adding runtime dependency on the ADFS server to retrieve the metadata. As a downstream system, the only thing i needed was to be able to validate the token being passed.

I have Audience and Thumbrint in the config file and hoped that this would b

[2018-10-26 18:46] brentschmaltz commented on #1039
@sanjaysingh obtaining the keys from metadata is preferred as it provides the current status of the keys. In the case a key is compromised, the key could be quickly removed.
It also provides a pattern of key-rollover where two keys are in the metadata but only one is current.

I am curious why obtaining metadata is a blocker? Is the ADFS server not addressable from the workload?

[2018-10-26 23:30] brentschmaltz commented on #1038
@RichardD012 RsaCryptoServiceProvider is available on .Net 2.0 and above.
We'll look into ECDsa throwing on MAC.

BTW you seem to be our most advanced MAC user, no-one else has hit this.

[2018-10-26 23:31] brentschmaltz commented on #1038
@GeoK a new mac issue, can you look into it?

[2018-10-29 16:41] joetherod commented on #887
@brentschmaltz Is there a release date for this support and will it have examples on how to use?

[2018-10-29 17:31] sanjaysingh commented on #1039
Thank you @brentschmaltz for the answer. The downstream service in my case is in a differrent Network Security Zone where outbound is blocked - including the one to ADFS. Since previous it was only validating the token using System.Identity by using AudienceURI and Thumbprint of the cert, it was working all good offline. That is why i was interested in the getting this migration working with as li

[2018-10-29 18:20] brentschmaltz commented on #1037
@eltonlika it's in the .Net framework. If we assume keying material should be 256, 512 etc... then we the IdentityModel assemblies could remove the leading byte.

We tried this before, but some runtimes failed. Perhaps we could try it again.

[2018-10-29 18:22] brentschmaltz commented on #887
@joetherod we currently has this marked for 5.3.1 which is in a couple of weeks.

[2018-10-30 09:50] eltonlika commented on #1037
How can the 0 leading byte be removed? The library extracts the modulus by itself, I do not pass it manually.

[2018-10-30 15:05] brentschmaltz commented on #1037
@eltonlika we would have to get the RSA object from the cert, then get the modulus and use a RSASecurityKey.

[2018-11-01 15:38] easyveazie commented on #1019
I'm seeing the same thing with the nuget AppForSharePointOnlineWebToolkit v3.1.5

Error	CS0433	The type 'SecurityTokenExpiredException' exists in both 'Microsoft.IdentityModel.Tokens, Version=5.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' and 'Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'

[2018-11-01 15:41] easyveazie commented on #1019
As a bandaid, I'm making the catch less specific and invalidating the token on any exception.

[code]

[2018-11-01 21:00] AndersAbel commented on #759
@brentschmaltz did you see my PR for multiple signatures? That's actually the only thing that affects metadata. The new overload to the SamlSecurityTokenHandler is for full SAML2P support.

[2018-11-02 17:44] brentschmaltz commented on #759
@AndersAbel I haven't had a chance to look at it this week.
I'll get to it next week.

Thanks for pinging.

[2018-11-02 20:29] AndersAbel opened #1042 "Add overload to Saml2SecurityTokenHandler to consume a token from an XmlReader"
When working with the SAML2P protocol, the token (assertion in Saml2 terms) is embedded inside a larger piece of XML, the SamlResponse - or inside an artifact resolution response message. Code supporting Saml2P will typically already have an open XmlReader to the data. Add overloads to be able to hand in an XmlReader instead of a string to the token validation API.

This was discussed in #759, but

[2018-11-02 22:51] nenne commented on #1038
Hi
I can add that I have just been sitting with a similar issue on Linux. It says the Kid can not be matched, but they are correct. A downgrade to 5.2.4 solves the issue.

[2018-11-05 00:50] staylr opened #1043 "Upgrading Microsoft.IdentityModel.Protocol.Extensions from 1.0.2.206221351 to 1.0.4.403061554 breaks MSI upgrade"
File version of Microsoft.IdentityModel.Protocol.Extensions.dll:
In 1.0.2.206221351: 1.0.**20622**.1351
In 1.0.4.403061554: 1.0.**4**.54

A major upgrade will not replace this file.

[2018-11-05 02:40] staylr commented on #1043
Same issue with System.IdentityModel.Tokens.Jwt.dll:
In 4.0.2.206221351: 4.0.20622.1351
In 4.0.4.403061554: 4.0.4.54

[2018-11-07 02:33] vinsaTimeparity commented on #1019
Any updates on this issue , we are facing the same and have also made the catch less specific for now.

[2018-11-07 18:41] henrik-me commented on #1043
@staylr : Can you please provide additional information on the error you are seeing. Please describe the repro steps.

[2018-11-07 18:49] henrik-me commented on #1032
@StevenLiekens : The library uses authenticated encryption. Currently we don't do separate steps.

[2018-11-07 19:00] henrik-me commented on #1019
We currently have no good solution to this, we are actively discussing this challenge with the SPO team.

[2018-11-07 20:10] staylr commented on #1043
There's no error. Because the file version of the newer DLL is lower than the file version of the older DLL (4 < 20622) a major upgrade will not replace it.

[2018-11-07 21:33] StevenLiekens commented on #1032
I ended up switching to [jose-jwt](https://www.nuget.org/packages/jose-jwt/) for generating tokens. Their API allows signing and encrypting in any order since they're separate methods.

You can close this if you want.

[2018-11-07 22:30] GeoK opened #1045 "Add ValidateConfirmationData method back"
ValidateConfirmationData is protected virtual method and removing it represents a breaking change.

[2018-11-08 07:40] AndersAbel commented on #1042
Have started looking at this and found out that the `SaveSigninToken` flag is a challenge, as it expects the entire token to be present in string format.

I first considered just not supporting `SaveSigninToken` when using an Xml Reader, but I do see some use cases ahead where I will need that, so this must be solved.

My first idea was to just fall back to extract the OuterXml of the Assertion no

[2018-11-08 17:48] CheloXL commented on #1038
Just to confirm, same issue here under linux. I'm getting the following stack trace
[code]
while calling CreateJwtSecurityToken.  5.2.4 works just fine.

[2018-11-09 00:39] homutov commented on #609
@brentschmaltz I've tried to replace the nonce in the header, but still was not able to validate the access token signature. Could you, please, be more specific about the details of that replacement (e.g. SHA2 = SHA256 with Hex string representation or what)?

[2018-11-09 15:39] af-mst commented on #1038
Same issue on my side in Linux in Azure, same solution is working (downgrade to 5.2.4)

[2018-11-09 17:49] #1045 closed

[2018-11-09 19:29] GeoK commented on #1038
@RichardD012 @nenne @CheloXL @af-mst Thank you for reporting and confirming this issue.
CspKeyContainerInfo is indeed a Windows-specific member.

We will fix this in 5.3.1.

[2018-11-09 19:35] brentschmaltz commented on #609
@homutov sure

[code]
        private static string GetHashedNonce(string algorithm, string nonce)
        {
            HashAlgorithm hashAlgorithm = null;
            try
            {
                if (string.IsNullOrEmpty(algorithm))
                {
                    hashAlgorithm = SHA256.Create();
                }
                else
                {
                    switch (algo

[2018-11-09 19:41] brentschmaltz commented on #1037
@eltonlika 	please reopen if this is still an issue.

[2018-11-09 19:41] #1037 closed

[2018-11-09 22:05] brentschmaltz commented on #1042
@AndersAbel I have had issues with OuterXml and xml that contains '/r/n'. I have found that normalization will replace to '/n' and then signatures start failing. See https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1029

I believe you will need the canonicalized string representation of the SAML token.

[2018-11-09 22:09] brentschmaltz commented on #1032
@StevenLiekens curious. You are asking for the payload to be a JWE of a JWS right?
Why is that?

[2018-11-10 09:54] StevenLiekens commented on #1032
Correct, but in the end that's not what I really needed. In the end I went back to generating JWS tokens with JWE payloads, which is already supported by this library. So this is really a non-issue at this point and you can close it if you want.

With that said, I prefer jose-jwt now because their API is _nicer_ (personal opinion) and because they do enable generating JWE tokens with JWS payloads,

[2018-11-12 08:42] hannespreishuber opened #1049 "System.IdentityModel.Tokens.ISecurityTokenValidator could not be loaded"
Visual Studio 2017 Web Site (not solution) VB.NET Webforms
Schweregrad Code Beschreibung Projekt Datei Zeile Unterdrückungszustand
Fehler Reference.svcmap: Der Typ "System.IdentityModel.Tokens.ISecurityTokenValidator" in der Assembly "System.IdentityModel.Tokens.Jwt, Version=5.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" konnte nicht geladen werden. App_WebReferences/CheckVatServiceRef

[2018-11-12 19:18] GeoK commented on #1049
Hi @hannespreishuber

`<package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.4.403061554" targetFramework="net462" />`  looks out of place in that list. Try removing it.

For more information, check out Katana (OWIN) migration process on our [wiki](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Migrating-from-Katana-(OWIN)-3.x-to-4.x#when

[2018-11-13 06:52] hannespreishuber commented on #1049
ok, thats sounds reasonable. I have setup a new blank identitcal website without any the logic, same packages (also extensions) and got no error. I see thats kind of mystical bug searching

[2018-11-13 06:52] #1049 closed

[2018-11-15 14:50] bjthomson opened #1051 "Wrong claim type "name" after successful authentication"
Hopefully this is the right place, have been sent off with a flea in my ear for posting in OpenIDConnect.
Noted the issue using version 5.3.0, in a webforms project, prior to installing in an existing webforms project.

I initially raised a documentation issue, then investigated further.
Details here: MicrosoftDocs/azure-docs# 18110

tldr; The OpenIDConnect middleware is adding the users name with

[2018-11-15 20:11] GeoK opened #1052 "Support JsonWebKey.CreateECDsa() on non-Windows platforms"
* CreateECDsa() is currently supported in Wilson for all targets, but only on Windows.
* Netstandard2.0 supports ECDsa.ImportParameters  (net core 2.0+ and .net framework 4.7+, [but not 4.6.1](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.ecdsa.importparameters?view=netframework-4.7.2#applies-to)).

See also: #581, #918, #1038

[2018-11-16 18:49] brentschmaltz opened #1053 "OpenIdConnectConnect should not serialize SecurityKeys"
Calling: JsonConvert.SerializeObject(new OpenIdConnectConfiguration()) results in JSON that contains entries for the SecurityKeys collection. This makes it difficult to use the serialization for generating metadata for discovery.

[2018-11-16 19:45] GeoK opened #1054 "Update Third Party Licenses"

[2018-11-19 21:18] mafurman opened #1055 "Make the methods on the JsonWebTokenHandler virtual"
It should be possible to extend the JsonWebTokenHandler and override its methods.

[2018-11-19 21:19] mafurman opened #1056 "Add TryGetPayloadValue() and TryGetHeaderValue() to JsonWebToken"

[2018-11-20 04:29] brentschmaltz commented on #1032
@StevenLiekens we are open to making changes if customers ask for them. We only support Authenticated encryption, so putting a JWE as the payload of a JWS seems redundant.
Are you suggesting that the JWE (encoded) would not use a tamper proof encryption algorithm?

[2018-11-20 07:54] StevenLiekens commented on #1032
I'm not sure anymore. 🤔 I didn't know authenticated encryption is a thing.

I think so. The encryption key in my scenario is a public key so it would be pretty easy for anybody to generate tokens that are encrypted with the same key.

The thing that makes this tamper proof is the JWS that is signed with a private key.

[2018-11-20 21:46] brentschmaltz commented on #1032
@StevenLiekens a new design of encryption algorithms have arrived that incorporate tamper detection. GCM and some Aes variants.

We have support for Aes128CbcHmacSha256, Aes192CbcHmacSha384, Aes256CbcHmacSha512 here:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/Encryption/AuthenticatedEncryptionProvider.cs

GCM has

[2018-11-20 21:46] #1032 closed

[2018-11-23 08:54] erdmenchen opened #1059 "Method not found: 'ICollection<SecurityKey>OpenIdConnectConfiguration.get_SigningKeys()' in AzureFunctions"
Hi there!

I am trying to validate a jwt token in an Azure Functions application (C#).
It is .netstandard 2.0 and I am using the `Microsoft.IdentityModel.JsonWebTokens` nuget package.

I load the signing keys from Azure like this:
[code]

However this gives me the following error when running/triggered in Azure:
[code]

What is the issue here? It builds just fine without warning or error...this is

[2018-11-27 19:33] natemcmaster opened #1060 "Replace the dependency on Newtonsoft.Json with new .NET Json APIs"
As recently announced, the .NET team is adding new APIs for JSON parsing. IdentityModel currently relies on Newtonsoft.Json for JSON parsing. This often causes problems for customers who want to use a different version of Newtonsoft.Json. It also makes it more difficult to enable complete customer support for products like ASP.NET Core because Microsoft does not have ownership of Newtonsoft.Json.

[2018-11-27 21:33] #1055 closed

[2018-11-27 21:47] mafurman opened #1061 "When creating a ClaimsIdentity, there should be a way of providing a different value for ClaimTypes.Actor"
The CreateClaimsIdentity() method in JwtSecurityTokenHandler always assumes that the value of the actor claim is present under ClaimTypes.Actor. It should be possible to change this default value in the case of the JsonWebTokenHandler.

[2018-11-28 00:54] mafurman opened #1063 "Add ClaimsIdentity support to JsonWebTokenHandler"
JsonWebTokenHandler should return a ClaimsIdentity in the TokenValidationResult (in addition to the validated token).

[2018-12-03 18:10] #1054 closed

[2018-12-03 22:06] #1052 closed

[2018-12-03 22:37] GeoK commented on #1038
Marking this issue as _Fixed_ for the upcoming release (5.3.1).
Thank you again for reporting these issues.

[2018-12-04 00:37] #1063 closed

[2018-12-04 16:27] leastprivilege opened #1067 "JWT signature validation fails on iOS starting 5.3.0"
I get a CryptographicException with "keyset not found" in 5.3.0 - same code works fine with 5.2.4.

[2018-12-04 18:34] elgatorico commented on #915
We are experiencing this same issue. Has there been progress on figuring out how to solve this?

[2018-12-04 19:17] GeoK commented on #1067
Hi @leastprivilege  - we need additional information on this.
Please provide stack trace and runtime/target framework version.

[2018-12-05 07:08] leastprivilege commented on #1067
**Library**
https://github.com/IdentityModel/IdentityModel.OidcClient2

**Repro**
https://github.com/IdentityModel/IdentityModel.OidcClient.Samples/tree/master/iOS11Client

**Exception***
IDX10511: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.RsaSecurityKey , KeyId: 8ad1760832d419352845575d62a19a40\n'. \nkid: '8ad1760832d419352845575d62a19a40'. \nExceptions caught:\n 'S

[2018-12-05 19:55] NinoFloris opened #1070 "MapInboundClaims condition inside constructor"
How can this condition ever be hit now that it's not static anymore?

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/90ba8e281362191673c77b153639bd30cc390ae4/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L107

[2018-12-05 21:09] GeoK commented on #1067
@leastprivilege - Can you try out 5.3.1-preview-51205194400 from [the nightly feed](https://www.myget.org/feed/azureadwebstacknightly/package/nuget/System.IdentityModel.Tokens.Jwt/5.3.1-preview-51205194400) and let us know if you are still facing the issue?

[2018-12-05 21:17] fileman commented on #1067
Similar issue on Android/iOS too with 5.3.0, but work well with 5.2.4!

Windows 10 17763.134
VisualStudio.15.Release/15.9.3+28307.145
Xamarin   4.12.3.73 (d15-9@20b35b881)
Xamarin.Android SDK   9.1.0.38 (HEAD/61d16aa23)
Xamarin.iOS and Xamarin.Mac SDK   12.2.1.11 (5ef73d3)

I'm going to try nightly

[2018-12-05 21:37] fileman commented on #1067
@GeoK in my case nightly version work well in both platform, thanks

[2018-12-05 21:46] GeoK commented on #1067
@fileman - Great, thanks for trying it out!

[2018-12-07 23:00] GeoK commented on #1067
@leastprivilege - Could you please verify if 5.3.1-preview-51205194400, from [the nightly feed](https://www.myget.org/feed/azureadwebstacknightly/package/nuget/System.IdentityModel.Tokens.Jwt/5.3.1-preview-51205194400),  fixes the issue?

[2018-12-07 23:52] #1026 closed

[2018-12-08 00:03] #1005 closed

[2018-12-09 19:59] brentschmaltz commented on #1070
@NinoFloris we have been using a model of having a Default static, then an instance property.
In this case, when a new JwtSecurityTokenHandler is instantiated _mapInboundClaims has been set to DefaultMapInboundClaims.
If you set DefaultMapInboundClaims = false, then a new instance of JwtSecurityTokenHandler will be created with _mapInboundClaims = false.

[2018-12-10 14:39] joetherod commented on #887
@brentschmaltz Core 2.2 is out? 5.3.1?

[2018-12-10 21:58] elgatorico opened #1072 "Microsoft.IdentityModel.Protocols.OpenIdConnect.OpenIdConnectProtocolInvalidNonceException IDX21323"
Certain users experience an auth loop, going back and forth between Azure and the client app, this loop happens until the browser crashes or the user is taken to a 500 error page from the web server hosting the client app. I have a reliable way to reproduce this if you need more info, the one user that experiences this issue does not have access to the application via AD Groups, but instead of bei

[2018-12-10 23:20] GeoK opened #1074 "Support ECDsa"
We shouldn't skip keys with [key type other than RSA]( https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/JsonWebKeySet.cs#L132), as we support EllipticCurve (EC).

[2018-12-11 17:08] elgatorico commented on #1072
@brentschmaltz I'll get you a fiddler session, I'm just waiting for a test account.
Hey but even though it is a test account, is there a way I can send you the file somewhat privately?

[2018-12-12 16:34] tschneideriii opened #1076 "Newtonsoft.Json 12 support"
I upgraded by Newtonsoft.json to 12.0 and Microsoft.IdentityModel.JsonWebtokens to 5.3.0, i get an error saying:  The type initializer for 'System.IdentityModel.Tokens.Jwt.JsonExtensions' threw an exception.
Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located assembly's manifest definition doe

[2018-12-13 09:30] eltonlika commented on #1067
Could it be the same case as in this issue [#1037](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1037)? It was caused by a leading '0' byte in the modulus of the certificate's public key.

[2018-12-13 09:44] leastprivilege commented on #1067
I can try it next week.

[2018-12-13 17:17] cvocvo commented on #877
Hi guys (@brentschmaltz) sorry for the long delay on circling back to this (it got back burnered for a while and buried on the to-do list). I would love to see anything/something changed to help this issue in 5.3.1 (we're still seeing issues in our project targeting 4.6.2). After reading the above posts a few times, I'm thinking that we're likely seeing the same problem as @RubenDelange ; could yo

[2018-12-14 20:31] bunceg opened #1078 "HTTP Client socket leak with default configuration manager"
I think this is a leak issue with the default setup of AddJwtBearer.

We have setup our options with a MetadataAddress but not a configuration manager. Under load we get socket errors when trying to get the openid-configuration. Tracing the default code through, we get to HttpDocumentRetriever - this uses it's own HTTP Client (admittedly via static construction so it looks like it should only use

[2018-12-14 20:56] Tratcher commented on #1078
That HttpClient is created once at startup. https://github.com/aspnet/AspNetCore/blob/436b5461ad0337aac90089aa7ccb61dd875808e4/src/Security/src/Microsoft.AspNetCore.Authentication.JwtBearer/JwtBearerPostConfigureOptions.cs#L53

Are you doing anything interesting with AddJwtBearer? Do you have multiple? Do you add and remove them? Does BackchannelHttpHandler also mitigate your issue?

[2018-12-14 21:05] bunceg commented on #1078
@Tratcher yes I know it is - that's why I'm confused as to why injecting our own would make any difference. We're not doing anything special as far as I know. One thing that confused me a bit is that function within AddJwtBearer options seemed to be called on each api call - I wouldn't expect that, but I will double check if that is actually the case

Below is our original code

[code]

and its se

[2018-12-17 01:01] NinoFloris commented on #1070
Clear, overlooked that line completely on github's code view, so silly oversight on my side.

Extra thanks to you for taking the time to reply.

[2018-12-17 01:01] #1070 closed

[2018-12-18 12:42] bunceg commented on #1078
@Tratcher Any comments on this? I can confirm that the Action within the JwtBearerOptions is called on every request. I'm not sure why this is the case. Also, I can't find any examples that use BackChannelHttpHandler but since using our own HTTP Client completely fixes the issue (stress testing fails at 2 req/sec using the code above to working with 40 req/sec with the code below) I'm at a loss to

[2018-12-18 15:27] iwaldman opened #1080 "How are you getting the strings stored in KeyingMaterial.cs?"
for example, SelfSigned2048_SHA256 and SelfSigned2048_SHA256_Public

[2018-12-18 16:16] iwaldman opened #1081 "JwtSecurityTokenHandler.WriteToken fails in Azure HTTP Trigger function"
Get error "The system cannot find the file specified" when invoking JwtSecurityTokenHandler.WriteToken in an Azure HTTP Trigger function.

2018-12-18T16:29:55.432 [Error] Exception -2147024894 The system cannot find the file specified (null)    at System.Security.Cryptography.CngKey.Open(String keyName, CngProvider provider, CngKeyOpenOptions openOptions)
   at System.Security.Cryptography.CngKey.

[2018-12-18 21:24] mafurman opened #1082 "Keep track of what the actual Audience, Issuer, etc. are when creating a token using a SecurityTokenDescriptor in JsonWebTokenHandler"
The CreateToken(SecurityTokenDescriptor tokenDescriptor) method is currently copying the dictionary of claims in order to update its values with the properties that were set on SecurityTokenDescriptor.

This behavior should be modified because copying could potentially take a long time.

[2018-12-18 23:10] Tratcher commented on #1078
The AddJwtBearer shouldn't be running every request unless your app is somehow restarting or you have something very wrong with DI.

OnTokenValidated should run on every request that has a token.

[2018-12-19 01:50] GeoK commented on #1080
Hi @iwaldman, KeyingMaterial.cs is a test utility class which contains reference data.

To get base64 encoded string from a certificate (e.g. _SelfSigned2048_SHA256_Public_ string from the [SelfSigned2048_SHA256.pfx](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/test/Certs/SelfSigned2048_SHA256.pfx) cert) you can use the following code:

[code]

[2018-12-19 01:59] iwaldman commented on #1080
So you probably have a console app to do this.  Cool, thanks!

[2018-12-19 14:09] #1080 closed

[2018-12-19 15:47] Tragedian opened #1083 "Exception in EnvelopedSignatureWriter when Signature element is first child of element"
In trying to create a SAML Federation Metadata document, there appears to be a bug/unsupported scenario in the `EnvelopedSignatureWriter` when the Signature element is the first child:

[code]

When the writer tries to emit the signature after the root element is written, the following exception is thrown:

[code]

This appears to be because the inner writer is still positioned inside the unfinish

[2018-12-19 16:32] Tragedian commented on #1083
A possible fix is to check the current write state, and if the state isn't within content, call `WriteWhitespace(" ")` on the `InnerWriter` to force it to transition to the content element, then manipulate the buffer to remove the single character that was added before taking the position of the signature.

It feels pretty hacky, but I haven't been able to find a clean way to trigger the `XmlWrite

[2018-12-19 17:41] GeoK commented on #1081
Hi @iwaldman - Where are you getting the _X509SecurityKeySelfSigned2048_SHA256_ from?
I'm guessing that this is a permission issue. Try specifying the _X509KeyStorageFlags.MachineKeySet_ flag.

[code]

[2018-12-19 17:43] iwaldman commented on #1081
Hi @GeoK Okay, I will give that a try.

[2018-12-19 21:00] brentschmaltz commented on #1083
@Tragedian you are right in suspecting that our scenario was focused on Reading not Writing.
We will see when we can fit this in.

[2018-12-19 21:22] iwaldman commented on #1081
Hi @GeoK My KeyingMaterial class was lifted from yours. I just changed the byte strings. So my code is the same:

[code]

[2018-12-19 22:52] Tragedian commented on #1083
If you'd be interested, I'm open to submitting a pull request for this issue.

[2018-12-20 14:39] joetherod commented on #887
@brentschmaltz I see the 5.3.1 branch. Do you have examples on how to do the SessionSecurityTokenHandler including RsaEncryptionCookieTransform.
Basically, we have many apps that use SSO via WSFederation. And the app that is actually doing the work is still .NET 4.5. My app is in core, so I want to be able to process the same FedAuth cookies to ensure the user is authenticated.

[2018-12-20 20:00] GeoK commented on #1081
@iwaldman - I was not able to reproduce this issue.
I used the function below to troubleshoot. Notice that I added three lines of code under _test utility code_ comment.

[code]

[2018-12-21 00:01] iwaldman commented on #1081
@GeoK First, thank you. Let me take your code and try myself.  I may have missed something.

[2018-12-21 02:33] iwaldman commented on #1081
Hi @GeoK I tested using your code and it worked for me.  After more testing, the key was using X509KeyStorageFlags.MachineKeySet.  This is all new to me so I am not sure why this worked whereas using X509KeyStorageFlags.PersistKeySet did not.  Can you explain?  Anyway, thank you so much.

[2018-12-21 17:43] GeoK commented on #1081
Both flags are working fine for me, so I guess it's a permission/configuration issue on your side.
This code is a _test code_ and I would advise looking into [key vault](https://docs.microsoft.com/en-us/azure/key-vault/ ) for certificate/secrets management.

[2018-12-21 21:14] #1081 closed

[2018-12-22 01:23] brockallen opened #1085 "ConfigurationManager hard coded limits make it difficult to test"
I need to change the `ConfigurationManager`'s `AutomaticRefreshInterval` and `RefreshInterval` for integration testing. I need to set them to values like 1 minute, and 10 seconds. There are hard coded static variables that prohibit this. Why?

[2018-12-22 15:10] brockallen commented on #1085
I guess given that the limit is 5 mins, that's going to be what's needed to test.

[2018-12-22 15:10] #1085 closed

[2018-12-28 18:59] GeoK opened #1086 "Obsolete message seems wrong"
This message seems wrong, there is no SecurityTokenDescriptor.Payload.
 https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/7742fd30d8b81a9eca1f31e0f769f090db33fb40/src/Microsoft.IdentityModel.Tokens/SecurityTokenDescriptor.cs#L87

[2019-01-02 23:59] brentschmaltz commented on #1083
@Tragedian we just got back from the holidays.
PR's are always welcome.

[2019-01-07 13:59] bunceg commented on #1078
@Tratcher ok thanks for the pointers. I think we have something very wrong with DI - can you elaborate on that in any way? When I use the in-built DI everything works as expected, when I use the Unity DI (latest version 2.1.3) it exhibits the above behavior. I've no idea why Unity would cause this and I can't raise a bug report with them until I understand what is going on.

How does DI impact the

[2019-01-07 16:07] Tratcher commented on #1078
AddJwtBearer depends on several singleton DI services. If those aren't being treated as singletons by your container then your config will keep getting re-run and cause the issues you've seen.

It may just be a usage issue rather than a bug in container itself. How do you have it wired up? There are examples for using most containers with AspNetCore. E.g. https://docs.microsoft.com/en-us/aspnet/co

[2019-01-07 16:21] bunceg commented on #1078
@Tratcher  I'm using the package Unity.Microsoft.DependencyInjection described here https://github.com/unitycontainer/examples/tree/master/src/AspNetCoreExample that's meant to implement all the plumbing in the example you provide,

[2019-01-08 09:52] bunceg commented on #1078
@Tratcher I've had a look at the code for AddJwtBearer... the first singleton registration I can see is for IPostConfigureOptions.... unfortunately when I look at the known registrations within Unity on completion of starttup I can see this correctly registered as a Singleton... because this works, I'm assuming the rest are working too.

Any other ideas?

[2019-01-08 18:09] Tratcher commented on #1078
@Haok do you have a good explanation for how a bad DI setup would cause auth options to get reset per request?

[2019-01-08 18:18] HaoK commented on #1078
So generally auth uses `IOptionsMonitor<TOptions>` which is usually a singleton which uses a `IOptionsFactory<TOptions>` and `IOptionsMonitorCache<TOptions>`.

There's not too much going on, basically the monitor returns whatever is in the cache, if its a miss, it uses the factory to create a new instance.

https://github.com/aspnet/Extensions/blob/master/src/Options/Options/src/OptionsMonitor.cs

[2019-01-08 23:17] mathew-weaver commented on #877
I am running into the same error [IDX10511: Signature validation failed.] when trying to validate a JWT AccessToken obtained from https://login.microsoftonline.com/common. If I obtain the AccessToken via ADAL.NET (Microsoft.IdenityModel.Clients.ActiveDirectory v3.9.30421) then it validates successfully. However, if I obtain the AccessToken via MSAL.NET (Microsoft.Identity.Client v2.6.2) then it fa

[2019-01-08 23:22] ENikS commented on #1078
@Tratcher @HaoK
If jwtbearer is configured as a factory, it is always transient.

[2019-01-10 23:55] brentschmaltz commented on #877
@mathew-weaver id_tokens are not meant to be used for access. Probably what you are doing is ok. Just to check, are you send the id_token to another service?

[2019-01-10 23:58] mathew-weaver commented on #877
@brentschmaltz - no, I am not sending the id_token to another service; I am using it in my app (which is the audience of the id_token) to identify the user (e.g. preferred_username).

[2019-01-11 00:00] brentschmaltz commented on #877
@mathew-weaver what are you using the id_token for?

[2019-01-11 00:03] mathew-weaver commented on #877
@brentschmaltz  - I am using the Implicit Flow. The login page of our application has the "Sign in with Microsoft" button. If the user clicks that button, it uses MSAL.js to login the user with AAD, then AAD redirects back to our application and passes the id_token. We then use the id_token to identify the user and verify that they are a valid user within our application.

[2019-01-11 02:48] CameronWills opened #1092 "JwtHeader default constructor doesn't set the Alg = None"
The default constructor for `JwtHeader`, which is called from `JwtSecurityTokenHandler.CreateJwtSecurityTokenPrivate` here:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/45dfc2866d1d9dca1c25a25b152d48e46348a52c/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L501

Does not set the `JwtHeader.Alg` value to "none", as is done when calling t

[2019-01-14 16:42] brentschmaltz opened #1093 "Create a utility method to Create a XmlTextReader suitable for reading a SamlToken or WsFedMessage"
@GeoK noticed we have multiple places in the code where we create an XML reader in a 5.3.1 PR review.

Let's fix this in 5.4.0.

[2019-01-15 19:35] mafurman opened #1094 "Add VerifyResourceUsage.pl to our build.ps1 script"
The checks for duplicate, unused, or incorrectly formatted log messages should occur during build time.

[2019-01-15 19:38] mafurman opened #1095 "Create tests for VerifyResourceUsage.pl"
Tests should be added for the following scenarios:

- the id doesn't match the prefix of the string { IDX00001 = "IDX0002:" }
- duplicate id's in different files
- unused id's.

[2019-01-16 04:44] brentschmaltz commented on #992
@Tarig0 5.3.1 became 5.4.0 as we have breaking changes.
Will try for next release

[2019-01-16 04:45] brentschmaltz commented on #1029
fixed

[2019-01-16 04:45] #1029 closed

[2019-01-16 04:47] brentschmaltz commented on #487
@PinpointTownes we added support in 5.4.0

[2019-01-16 04:49] brentschmaltz commented on #926
@anud1 let us know if you need anything else.

[2019-01-16 04:49] #926 closed

[2019-01-16 04:50] brentschmaltz commented on #1014
we have better things to do :-)

[2019-01-16 04:50] #1014 closed

[2019-01-16 04:52] brentschmaltz commented on #1060
we need the 3.0 api's

[2019-01-16 04:52] brentschmaltz commented on #1095
fixed

[2019-01-16 04:52] #1095 closed

[2019-01-16 06:32] brentschmaltz commented on #716
feature was cut

[2019-01-16 06:32] #716 closed

[2019-01-16 12:49] brockallen commented on #992
Wouldn't that need to be a 6.0 if you have breaking changes?

[2019-01-16 19:37] brentschmaltz commented on #992
@brockallen et al.
So thanks for the feedback.
We discussed this as a team and decided to roll back any breaking changes till 6.x.
We also are going to remove our "Obsolete" flags until we have some way of providing a 'helper' method. The reason is some companies will not allow using Obsolete and some builds will break.

Our plan is to release a follow up indicating what will be breaking.
We can u

[2019-01-16 19:42] brentschmaltz commented on #487
This should not have been closed, we bumped up our ECDsa in 5.4.0, but we still need to create ECDsa from JsonWebKey. We will push this out till 5.4.1.

[2019-01-16 19:59] PinpointTownes commented on #487
That was an unfortunate omission, indeed :smile:

[2019-01-16 20:36] brentschmaltz commented on #1072
@elgatorico you can send it to brentschmaltz@hotmail.com

[2019-01-16 22:32] brockallen commented on #992
I don't have any specific recommendations for this feature, but in general it would be nice to have a more stability.

[2019-01-17 01:18] brentschmaltz commented on #992
@brockallen
I hear you on stability and as NET Core now is fairly stable and the transistion from .NET to Core almost complete, we should be able to have far fewer breaking changes. Certainly not at the level of 4.x to 5.x.

We really improved our back-compat this release, you can thank @GeoK for this.

Our biggest issue ahead is removing third party libraries from IdentityModel. Newtonsoft is the

[2019-01-17 22:31] Tratcher opened #1097 "JwtSecurityTokenHandler should have safer defaults"
_From @DalSoft on Wednesday, 16 January 2019 16:38:54_

### Describe the bug
 JwtSecurityTokenHandler used by ASP.NET Core JwtBearerHandler has unsafe defaults.

DefaultTokenLifetimeInMinutes = 60
MaximumTokenSizeInBytes = 2097152 (~2.09MB)

### To Reproduce
New up JwtSecurityTokenHandler with defaults

### Expected behavior
I understand there is some inheritance going on here but for JwtSecurityT

[2019-01-18 17:32] mikesig commented on #1038
Is there a non-downgrade workaround for this? It's holding up a docusign integration for us and downgrading isn't really an option.

Alternatively, do we have an ETA on 5.4.0?

[2019-01-18 17:44] GeoK commented on #1038
Hi @mikesig, 5.4.0 will be released beginning next week.

[2019-01-18 17:54] KhaledSMQ commented on #609
this issue let me spend 3 days trying to validate graph access token,

[2019-01-22 11:22] Saurbaum opened #1098 "IndexSources TFS 2015 build step fails with Microsoft.IdentityModel.JsonWebTokens.pdb"
I'm seeing this in my overnight builds using the latest released build on nuget 5.3.0

Indexed source information could not be retrieved from d:\dev\Binaries\Win32\Release\Microsoft.IdentityModel.JsonWebTokens.pdb. Error: Symbol indexes could not be retrieved.

This is triggered before we publish our symbols to our server using https://msdn.microsoft.com/en-us/windows/desktop/microsoft.teamfoundat

[2019-01-22 15:39] brentschmaltz commented on #1067
@leastprivilege we are dropping 5.4.0 today and believe this has been fixed.
Please reopen if the issue still exists.

[2019-01-22 15:39] #1067 closed

[2019-01-22 15:43] brentschmaltz commented on #1097
@Tratcher we will consider this for 5.4.1.
Thanks.

[2019-01-22 15:51] brentschmaltz commented on #1010
@Someguyatwork if you still need some additional work from us, please reopen this issue.

[2019-01-22 15:51] #1010 closed

[2019-01-22 15:55] brentschmaltz commented on #1098
@Saurbaum is this happening for any other assemblies?

[2019-01-22 16:13] brentschmaltz commented on #1078
@Tratcher @HaoK does @ENikS response give you any insight?

[2019-01-22 16:20] #1094 closed

[2019-01-22 16:22] brentschmaltz commented on #1059
@erdmenchen can you provide us with a bit of additional detail on repro steps?

[2019-01-22 16:37] brentschmaltz commented on #1051
@bjthomson different IdentityProviders have the ability to specify the 'claim' that represents the 'user name'. The [Jwt specifies the 'sub'](https://tools.ietf.org/html/rfc7519#section-4.1) but 'sub' is optional.

It may be simpler to set the NameClaimTypeRetriever, which will get called just before the ClaimsIdentity is being created AFTER the token has been validated.

You will have the ability

[2019-01-22 16:44] brentschmaltz commented on #1043
@staylr is your issue the assembly version in the dll?
Are your builds using the assembly version?

[2019-01-22 16:46] brentschmaltz commented on #1019
@z0nekill @vinsaTimeparity @easyveazie I am moving this to the 5.x milestone. We don't have a good solution, but want to keep this open.

[2019-01-22 17:32] brockallen commented on #1051
In the older way of thinking these values are often conflated, and is why the claim types are so confused and misused in ASP.NET [Core]. In the world of SSO and OIDC:

The `sub` claim is the user's unique id (e.g. "4834934jh34uiy8s9sdio4"). This is what a consuming app or API should depend upon for correlation of the user's login (think of it as the user's foreign key issued by the SSO server).

T

[2019-01-22 18:14] Saurbaum commented on #1098
So far it's only that one but it's entirely possible that the res of the IdentityModel assemblies have the same issue.

Unfortunately the Build step bails out on the first error so I'm unsure if it will affect the others.

[2019-01-23 00:58] brentschmaltz commented on #877
@mathew-weaver ok, so you are obtaining the token using 'fragment'?

[2019-01-23 00:59] brentschmaltz commented on #609
@KhaledSMQ I am sorry you lost those 3 days.
Was this due to the 'nonce' in the header?
Validating a token for Graph?

[2019-01-23 01:03] brentschmaltz commented on #1051
@brockallen that is an excellent way to think about the different claims. Do you know if most / any IDP's set the `preferred_username` claim?

[2019-01-23 08:09] mcetkovsky opened #1099 "ValidateSignature is not present in Microsoft.IdentityModel.Tokens/Validators.cs"
[Validating Tokens Wiki page](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/ValidatingTokens) states that [Microsoft.IdentityModel.Tokens/Validators.cs](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens/Validators.cs) contains a `ValidateSignature` validator. However, the m

[2019-01-23 10:47] bjthomson commented on #1051
Some good background here, thank you gentlemen. My use case is I want users to authenticate via their windows live account, and we'll use
**http://schemas.microsoft.com/identity/claims/objectidentifier**
as a key for our "shopping basket" - its not a shop, BTW.
My confusion arose because I was using a Microsoft platform to log in to a Microsoft IDP, and a Microsoft webforms object to display "the

[2019-01-23 15:54] mathew-weaver commented on #877
@brentschmaltz Correct - we are obtaining the id_token from the hash fragment of the redirect URI.

[2019-01-23 23:51] brentschmaltz opened #1100 "If user sets TokenValidationParameters.TokenReplayValidator, it should be called"
If a users has set TokenValidationParameters.TokenReplayValidator delegate, it should be called.
Currently, the user has to set the delegate AND set TokenValidationParameters.ValidateTokenReplay

This could be solved by setting the default to true || examining both values.

[2019-01-23 23:51] brentschmaltz opened #1101 "If user sets TokenValidationParameters.IssuerSigningKeyValidator, it should be called"
If a users has set TokenValidationParameters.IssuerSigningKeyValidator delegate, it should be called.
Currently, the user has to set the delegate AND set TokenValidationParameters.ValidateIssuerSigningKey

This could be solved by setting the default to true || examining both values.

[2019-01-24 00:45] staylr commented on #1043
When performing an upgrade Windows Installer uses the file version (not the assembly version) to work out whether a file in the installer is newer than the existing one. Because later versions of these DLLs have lower file versions because you changed your version numbering scheme the file doesn't get replaced, leaving the old version installed.

[2019-01-24 17:51] ENikS commented on #1078
When reproducing this issue I see no Unity code involved at the moment:
[code]
So, the issue is with how it is created. If you could point me to that part in your code I could verify how is it different from native DI.

[2019-01-24 18:11] Tratcher commented on #1078
@HaoK it looks like an issue with OptionsMonitor failing to cache, no?

[2019-01-24 18:49] ENikS commented on #1078
On page refresh these are the types Unity resolves:
[code]
On the same page refresh these are the types native DI resolves:
[code]

[2019-01-24 18:52] Tratcher commented on #1078
Which of those are created fresh each resolve, and which return cached singletons?

[2019-01-24 19:02] ENikS commented on #1078
It should not matter.

If these requests are consistently different with native DI it means execution path is different as well. So, either Unity does not comply with registration convention or native DI uses some kind of magic trick to create something.
If someone could help me to find where the execution path diverges we could see the issue...

But to answer your question, neither one of these i

[2019-01-24 19:55] brentschmaltz commented on #1043
@staylr I see.
I think we addressed this in our 5.x builds.
Do you have to stay with our 4.x version?
Is so, we will have to push out a new assemblies to address this.

[2019-01-24 19:57] brentschmaltz opened #1103 "Ensure the file version in the assembly is always increasing from the perspective of Windows."
Windows will see: 300001. is greater than 400.
Make sure our builds have the same number of digits before the first period.

[2019-01-24 20:33] ENikS commented on #1078
I just cloned entire [Extensions Repo](https://github.com/aspnet/Extensions.git), built your code with project references instead of nuget packages and tried to reproduce the error:

I could not! I am assuming it was fixed in the later version and no longer a problem.

@bunceg  please update to the latest and verify.

[2019-01-24 21:57] grahambunce commented on #1078
I will double check the later released versions tomorrow but hopefully it’s patched on the 2.1 LTS branch rather than the 2.2 branch....

[2019-01-25 03:15] brentschmaltz commented on #1043
@staylr we upgraded Katana to use 5.x of IdentityModel.
So if you upgrade Katana 4.0, you should be able to use 5.x

https://github.com/aspnet/AspNetKatana/

[2019-01-25 15:59] Tratcher commented on #1078
If @ENikS built from source it was likely the master branch which is developing 3.0.0. You can try a nightly build at https://github.com/dotnet/core-sdk#installers-and-binaries

We can't talk about patching until we track down what the cause and solution were.

[2019-01-25 16:03] ENikS commented on #1078
It was master branch.

[2019-01-25 16:31] KhaledSMQ commented on #609
@brentschmaltz Yes i was trying to validate Graph access_token, according to Microsoft documentation i must validate both access_token and Id token,
[https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#validating-tokens
](url)

https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#validating-an-idtoken

[https://docs.microsoft.com/en-us/azure/active-di

[2019-01-25 16:43] bunceg commented on #1078
@Tratcher I'm a bit stuck here. I'm updating my test app to the latest NuGet Microsoft.AspNetCore.App version 3.0.0-preview-18579-0056 and it's failing to update. I've set TargetFramework to netcoreapp3.0 and installed the .NET SDK from the link you gave me (.NET Core SDK 3.0.100-preview) as below.

VS (2017) won't build the solution with an error "the current .NET SDK does not support targeting .

[2019-01-25 16:46] ENikS commented on #1078
You need Visual Studio 2019

[2019-01-25 16:51] bunceg commented on #1078
I see.... a veritable hornets nest of installing of preview versions then.... @Tratcher is this something I need to pursue independently of the analysis @ENikS and I have already done? it's not a Unity issue, it *is* an issue in .net core 2.1 / 2.2 but (apparently) not in 3.0.. so it's directly pointing at a bug in .net core itself. I am surprised that this hasn't come up before but I presume the

[2019-01-25 19:06] Tratcher commented on #1078
If you want to pursue a patch then we still need to narrow down what the issue was and how it was fixed. That doesn't necessarily require installing the previews, that was more for confirmation of the fix.

I see two options: 1) further debugging 2.x to figure out the original issue, or 2) diffing 2.x and 3.0 code to figure out what changed. At the very least this discussion should move to https:/

[2019-01-25 20:00] bunceg commented on #1078
@Tratcher ok done. I do want a patch pursued at this is causing us load issues on our platform, and we are locked to the 2.1 LTS branch for now. The only alternative appears to be to use in-built DI, which isn't really fair on Unity as apparently is not their fault, and causes us problems as we have a lot of custom wrapper code around unity around decorators etc. that we'd need to re-write to use

[2019-01-25 21:52] Tratcher commented on #1078
@brentschmaltz you can close this issue as a duplicate of https://github.com/aspnet/AspNetCore/issues/7030.

[2019-01-28 07:50] PejmanNik commented on #1067
It is work now 👍
Thank you so much @brentschmaltz

[2019-01-28 16:40] explunit opened #1104 "Saml2SecurityTokenHandler.ValidateAudience is never called"
`Saml2SecurityTokenHandler.ValidateAudience` is never called. Thus it's not possible to override this logic like it is with other `protected` methods in the same class, e.g. `ValidateIssuer`.

I am aware of the ability to provide an `TokenValidationParameters.AudienceValidator` delegate, but the class should be consistent across methods. For example, it's possible to provide an `IssuerValidator` *

[2019-01-28 16:57] explunit opened #1105 "Saml2SecurityTokenHandler.ValidateConditions does not check for missing audience"
`Saml2SecurityTokenHandler.ValidateConditions` simply iterates over the inbound `samlToken.Assertion.Conditions.AudienceRestrictions`. It does not check for the case where TokenValidationParameters.ValidateAudience is true but no AudienceRestrictions were found in the inbound token.

[2019-01-28 19:36] explunit commented on #1105
To ask it a different way: this was checked in the old codebase: https://github.com/Microsoft/referencesource/blob/60a4f8b853f60a424e36c7bf60f9b5b5f1973ed1/System.IdentityModel/System/IdentityModel/Tokens/SamlSecurityTokenHandler.cs#L939-L942

But not the new? Why?

[2019-01-29 18:50] brentschmaltz commented on #1078
@Tratcher 	sure
duplicate of https://github.com/aspnet/AspNetCore/issues/7030

[2019-01-29 18:50] #1078 closed

[2019-01-29 21:53] brentschmaltz commented on #1105
@explunit we need to add this flag: enforceAudienceRestriction.
This should be similar to TokenValidationParameters.RequireSignedTokens

How about RequireAudience, default true.

[2019-01-29 22:01] brentschmaltz commented on #1104
@explunit it is a bit confusing, sorry for the this. We'll try and clean it up for 5.4.1.

We call Validators.ValidateAudience in ValidateConditions.
It may be better to the virtual ValidateAudience from ValidateToken, which would call
Validators.ValidateAudience.

We will put in the other fix where 'audience' is required.

[2019-01-29 22:02] brentschmaltz commented on #1043
@staylr are you able to upgrade to Katana 4.x?

[2019-01-30 00:54] staylr commented on #1043
I think I managed to juggle dependencies so I could avoid upgrading any of these components for now. If I need to upgrade in future I'll try that. Thanks.

[2019-01-30 00:54] #1043 closed

[2019-01-30 02:15] brentschmaltz commented on #1043
@staylr again, sorry for the hassle.

[2019-01-30 11:46] pauloofmeta commented on #1038
@GeoK  i think your commit is not in 5.4.0, I updated in the project and still the error occurs, I looked in the repository and it's still the same way

[2019-01-30 14:19] jhallal opened #1106 "Access Token is null when using Azure Bot for Skype for Business"
I have implemented an azure chatbot which consume the Graph API to get logged user meetings through the chat dialog. The code is working well on iOS and Android. But when I integrated the bot with Skype for Business, I found out that the Access Token is always null or empty when trying to access it from the BootstrapConext: ClaimsPrincipal.Current.Identities.First().BootstrapContext
I need to get

[2019-01-30 17:40] GeoK commented on #1038
Hi @pauloofmeta, I'm sorry to hear that.
Could you please open a new issue and specify which OS and Framework your app is using, provide stack trace, and possibly a small repro project?

[2019-01-31 00:17] explunit opened #1107 "JwtSecurityTokenHandler can't be used with WsFederation middleware"
Looks like a regression of #18.

The 5.x version of JwtSecurityTokenHandler has only a `CanReadToken( string token )` and thus rejects things like `<wsse:BinarySecurityToken ValueType="urn:ietf:params:oauth:token-type:jwt"...` when used with the WsFederationMiddleware in Katana 4.0.

Previous version (when it lived in System.IdentityModel.Tokens.JwtSecurityTokenHandler) also had a `CanReadToken( X

[2019-01-31 16:19] brentschmaltz commented on #1107
@explunit Yes, we removed support in 5.x when we added support for WsFederation and SamlTokens. It seemed reasonable at the time as WsFed messages tend to use SamlTokens.

I modified the tile of this issue slightly to ask to add this feature back.

[2019-01-31 19:14] MarkDuckworth commented on #92
This is still a bug, please reopen.

[2019-02-01 12:03] pauloofmeta commented on #1038
@GeoK I'm sorry, I ran a test on a console application using only Microsoft.IdentityModel.Tokens in version 5.4.0, and it worked in linux and windows, I believe that this is not working in my webapi netcoreapp application because of the version of Microsoft.AspNetCore .App still does not contain this fix, correct?

[2019-02-01 13:10] Zenuka opened #1108 "X509SecurityKey.KeyId update breaks IdentityServer4 clients"
I've updated Microsoft.IdentityModel.Tokens from version 5.3.0 to 5.4.0 and the KeyId has been changed from thumbprint to base64 encoded hash of the certificate. See: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/760fa3046cc36591c9f7835031745fcd625cf6ec#diff-ad9f507af4d8334a3a5dbcafbb0ded30

I've got IdentityServer4 running and this changes the `kid` (

[2019-02-01 18:56] GeoK commented on #1038
@pauloofmeta Correct. I believe that Microsoft.AspNetCore.App 2.2.0/2.2.1 will pull IdentityModel 5.3.0 by default.
Can you upgrade *Microsoft.IdentityModel.Protocols.OpenIdConnect* in your AspNetCore app to version 5.4.0 and see if that resolves your issue?

    <PackageReference Include="Microsoft.IdentityModel.Protocols.OpenIdConnect" Version="5.4.0" />

[2019-02-05 11:05] JoschaMetze commented on #1059
I did have the same issue, but upgrading the nuget package to 5.4.0 (from 5.3.0) helped solving it. Maybe worth a try for the original poster.

[2019-02-06 17:31] brentschmaltz commented on #1059
@erdmenchen @JoschaMetze I was able to get this to work.
Please reopen if there are still issues.

[2019-02-06 17:31] #1059 closed

[2019-02-06 18:48] brentschmaltz commented on #1038
@pauloofmeta please reopen if this issue is still occurring.

[2019-02-06 18:48] #1038 closed

[2019-02-07 15:30] brentschmaltz opened #1111 "ConfigurationManager should only throw if _currentConfiguration is null if the _configRetriever fails"
The current code in ConfigurationManager throws too early.
We should not throw here:  https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Protocols/Configuration/ConfigurationManager.cs#L202

Instead only throw if after the catch _currentConfiguration is null, that is only throw if there is no configuration to return.

[2019-02-07 15:32] brentschmaltz opened #1112 "Improve logging when a HttpClient.SendAsync fails."
Currently we call response.EnsureSuccessCode();
We should be logging the entire Response using: HttpResponseMessage.Content.ReadAsStringAsync().

Ensure that our current logic captures the entire error from: HttpContext.
We need a way to surface the status code back to the application.

[2019-02-07 15:35] brentschmaltz commented on #1111
We should make sure that a message is logged.
We may want to make this configurable so users can decide they want to throw if new configuration can not be obtained.

[2019-02-08 01:57] loga0060 commented on #877
I have a case where in .net core 2.2 when i containerize the app i get a Bearer error="invalid_token", error_description="The signature is invalid"

It is working fine when i host it on windows using IIS/IIS express.

My code -- The token generator is IBM API Connect it uses RSA 256 Algorithm to generate the key

 var rsa = new RSACryptoServiceProvider();
 string exponentvalue = "AQAB";
 var e = B

[2019-02-08 21:03] brentschmaltz commented on #877
@loga0060 can you check if the modulus first byte is zero?

[2019-02-08 21:12] loga0060 commented on #877
@brentschmalz I did try the code that was suggested above first byte was 190. I read  a post on docker forum saying ms provided nuget packages for jwt uses these fingerprint of public key where as docker expects a different format (lib trust fingerprint ) could this be the case?

[2019-02-12 22:11] loga0060 commented on #877
I figured out my issue full solution is here  https://stackoverflow.com/questions/54585148/net-core-2-2-validation-of-jwt-failing-with-401-on-a-container

[2019-02-14 06:28] BrydenOliver opened #1114 ".net Core 2.1 JWTSecurityTokenHandler locking and contention problems"
The call for cryptoProviderFactory.CreateForVerifying(key, algorithm);
inside the ValidateSignature goes into some sort of locking hell once you have sufficient auth requests coming in simultaneously. The response time for auth is very odd, it seems to go up in 500ms increments.

We do have a sample Azure Function implementation that shows this issue very quickly.

[2019-02-18 15:09] Saurbaum commented on #1098
If I'm right https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/nuget#symbol-packages has the suggestions on how to distribute pdbs using nuget.

https://docs.microsoft.com/en-us/nuget/create-packages/symbol-packages-snupkg

That then keeps the pdbs out of the nuget package and away from the Index Sources build step.

[2019-02-19 18:41] brentschmaltz commented on #1098
@Saurbaum we will try and get this into the next release.

[2019-02-19 21:27] GeoK commented on #1114
Hi @BrydenOliver - Could you please share a repro project?

[2019-02-20 22:41] livanov opened #1116 "Base64UrlEncoder providing erroneous output for a case"
When running

    Microsoft.IdentityModel.Tokens.Base64UrlEncoder.Encode("\"a?")

the result is `ImE_` and this cannot be parsed by quite a number of base64 decoder I tried out there, except for the `Decode` method in the same class . My client is javascript and this is wrongly parsed to `"a` (`?` is missing).

The expected value is `ImE/` (https://en.wikipedia.org/wiki/Base64#Base64_table). I can

[2019-02-26 11:04] dhjf commented on #468
Is the plan to create an async version of JwtSecurityTokenHandler, so it would be possible to call WriteToken with asynchronously? It would help a lot, being able to go all async using IdentityServer4 for signing access tokens.

[2019-02-26 16:04] underscoreHao opened #1117 "Validating a JWT using the PS256 algorithm?"
Hello,

The last two days I've been trying to verify a JWT that has been encoded using the PS256 algorithm. I have an implementation for RS256 that's working correctly, but despite my best efforts I couldn't validate a PS256 JWT. I looked and debugged through the code of **Microsoft.IdentityModel.Tokens** and it seems that although PS256 is in the [SecurityAlgorithms.cs](https://github.com/AzureAD

[2019-02-26 22:48] pailyn opened #1118 "jwtHandler.ReadJwtToken still looking for NewtonSoft.json"
Hello,
I have an application using the jwtHandler application running .NET Framework 4.7.2
after updating my nuget package for NewtonSoft.JSON i started getting errors when trying to run.
`jwtHandler.ReadJwtToken()`

I started getting the following error:
[code]

I updated my System.IdentityModel.Tokens.Jwt but i still get the same error.
I noticed in the latest commit, all references to NewtonSof

[2019-02-27 11:15] mcthuesen commented on #468
Any status on this?

We have this issue as well where we need to do an http request to an HSM to sign access tokens. Our solution right now is to use [WebClient.cs](https://docs.microsoft.com/en-us/dotnet/api/system.net.webclient?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(System.Net.WebClient);k(DevLang-csharp)%26rd%3Dtrue&view=netframewor

[2019-03-02 13:11] 616b2f opened #1119 "WSUtilityConstants wrong Namespace"
Hi,

I think this is an copy paste failure:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b152f463d910230859ec67705f11e51af4db4217/src/Microsoft.IdentityModel.Protocols.WsFederation/WsUtilityConstants.cs#L37

this should be Namespace should be "http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" (see http://docs.oasis-ope

[2019-03-04 21:42] brentschmaltz commented on #1119
@616b2f It looks like we made an error here.
Looks like we copied over the WS-Addressing class and didn't change the values.
In reviewing the WS-Addressing class, the comment refers to WS-Trust.
We will fix both.

We are running a bit behind on 5.4.1 release, but we should be able to get this in.

[2019-03-04 21:44] brentschmaltz commented on #468
@mcthuesen 	We haven't moved forward much on this, but it is important for a number of reasons. We are not sure if this fits into our 5.x release or will need to wait for 6.0.
Our 6.0 release fits with CORE 3.0.

[2019-03-04 22:06] brentschmaltz commented on #1117
As best I understand, it's really just a padding mode. Right now we don't support that mode, it's a relatively small amount or work, so we'll leave it active for 5.4.1.

These are the modes we do support for RSA: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b152f463d910230859ec67705f11e51af4db4217/src/Microsoft.IdentityModel.Tokens/SupportedAlgorithms.c

[2019-03-04 22:11] brentschmaltz opened #1121 "Add information on how to include details in exceptions to Wiki and bug template"
Currently the user sees: '[PII is hidden]'.
We should add text something like: '[PII is hidden] at startup write: IdentityModelEventSource = true; to see full details'.

[2019-03-04 22:14] brentschmaltz commented on #1118
@pailyn at startup write: IdentityModelEventSource = true; to see full details of exception.
It looks like you are using IdentityModel 6.x, is that true?

The support for a Microsoft JSON parser is arriving in .NET Core 3.0.

[2019-03-04 23:02] 616b2f commented on #1119
@brentschmaltz you are right didn't saw them. Should I also fix the comments from WS-Addressing in the same PR?

This would be awesome if it gets into 5.4.1 :)

[2019-03-04 23:21] brentschmaltz commented on #1119
@616b2f we have two branches we are working out of. dev5x is where we will ship 5.4.1 from. Our dev branch is for 6.0.

[2019-03-05 00:15] 616b2f commented on #1119
@616b2f so what should I do? Should I create a new PR for dev5x and close the #1120 or do you cherry pick from dev after it is merged? Could you guide me please :)

[2019-03-05 10:43] sylvainonweb opened #1122 "Error validating identity token : IDX10511"
When I try to validate the identity token using the following code on .NET Framework (4.6.1, 4.7.2), an exception is thrown. The same source code on .NET Core 1.0 is OK. Can you help me?

**Source code**
[code]

**Exception**
[code]

[2019-03-05 14:47] sylvainonweb commented on #1122
This is the JwtSecurityTokenHandler.ValidateSignature method that returns true on .net core and false on .net framework.

[2019-03-05 16:24] sylvainonweb commented on #1122
**JwtSecurityTokenHandler**
On .net framework, ValidateSignature returns false
On .net Core, ValidateSignature returns true

[code]

**AsymetricAdapter**
On .net framework, VerifyFunction = VerifyWithRsaCryptoServiceProviderProxy which calls System.Security.Cryptography.RSACryptoServiceProvider.VerifyData
On .net Core, VerifyFunction = VerifyWithRsa

[2019-03-05 16:37] sylvainonweb commented on #1122
Please help !!!

[2019-03-05 23:07] brentschmaltz commented on #1119
@616b2f I think cherry picking will be fine. You can leave the PR against dev.
Thanks again for your help.

[2019-03-06 09:59] Mahe85 commented on #852
@brentschmaltz @thuannguy Hello! finally, there is a WSTrust / STS support for .net core ?

[2019-03-07 12:04] underscoreHao commented on #1117
Thank you for putting this on the road map. I used jose-jwt with some custom validation to accomplish what I needed, but I think this is going to be a nice addition to the package in any case.

[2019-03-08 10:01] leastprivilege commented on #1117
Could you please prioritize that. The open banking spec recommends PS256. Without support for that, Wilson is out.

[2019-03-09 00:29] brentschmaltz commented on #1117
@leastprivilege we marked this as P1, will be in next 5.x release.

[2019-03-11 10:48] 9Rune5 commented on #1098
FWIW: This issue affects us as well. We are using TFS 2017, albeit not with the latest SP installed (long story).

[2019-03-11 10:53] dozer75 commented on #1098
Stumbled into the same issue today and searched quite a bit on the net before I found this issue here.

Anyway, during that search I found that this seems to be an issue with the fact that the pdb file delivered with the nuget package is portable even for .NET targets. Not all external tools (like Visual Studio 2015, .NET versions 4.7.1, symbol server) supports this (see [portable information at t

[2019-03-11 13:42] mathiasbl commented on #936
Any examples/documentatie how to use this?

[2019-03-13 11:30] luber opened #1123 "Cannot parse JwtSecurityToken with detached content"
According to RFC 7515, Appendix F:
Sometimes it is useful to create JWS with Detached Content. This can be achieved by replacing the payload part of JWS with an empty string. So resulting JWS will look like
**header**..**signature**

But when I try to create an instance of JwtSecurityToken class with such JWS an Exception is thrown b/c
`private void DecodeJws(string[] tokenParts)` doesn't take int

[2019-03-13 13:18] underscoreHao opened #1124 "OpenIdConnectConfiguration doesn't map id_token_signing_alg_values_supported collection"
Hi,

I've been using the ConfigurationManager to get and map data from a discovery endpoint to an OpenIdConnectConfiguration object. I use fields like **TokenEndpoint**, **AuthorizationEndpoint** and **Issuer**. They map correctly every time. However the **IdTokenSigningAlgValuesSupported** which should map from **id_token_signing_alg_values_supported** is always returning an empty collection.

I

[2019-03-21 19:15] duki994 opened #1125 "JwtRegisteredClaimNames invalid references to RFC7519"
### Describe the bug
Invalid JwtRegisteredClaimNames and invalid references to RFC7519 standard documentation.

#### Impersonalization (impersonation) login
I wanted to use default actor claim validation but it was failing since I implemented [OAuth Token Exchange Draft](https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-16)

#### Finding unintended bug
I traced this a while, and found ou

[2019-03-22 08:10] sylvainonweb commented on #1122
Is there anybody?

[2019-03-22 16:10] henrik-me commented on #1122
@sylvainonweb : we will take a look and get back

[2019-03-22 16:17] sylvainonweb commented on #1122
Thanks because it"s really important for me. I'm unable to put application in production because of this point.

[2019-03-22 17:09] GeoK commented on #1122
@sylvainonweb - Which version of IdentityModel are you using?
Also, which IdentityModel target are you using when running your app, netstandard2.0 or net461?

[2019-03-22 18:25] GeoK commented on #1122
We made some fixes to the RsaCryptoServiceProviderProxy in v5.4.0.
Please try using the latest IdentityModel version with your repro and let us know the results.

[2019-03-22 19:06] brentschmaltz commented on #1125
@duki994 yes, actort is not a in the spec.
If we move it now, that would be breaking.

What would you like us to do?

[2019-03-22 19:13] sylvainonweb commented on #1122
I use
* IdentityModel 3.10.6
* Microsoft.IdentityModel.Tokens 5.4.0
* NET Framework (4.5.2 / 4.6.1 / 4.7.2)
=> it crashes.

If I try the same source code in .NET Core 1.0, it's OK

[2019-03-22 19:17] brentschmaltz commented on #1124
@underscoreHao can you remove the \r\n.
Our test: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/7c7c7e13968e6656e67eb43938d4da136336049c/test/Microsoft.IdentityModel.Protocols.OpenIdConnect.Tests/OpenIdConnectConfigurationTests.cs#L50

Data is here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/7c7c7e13968e6656

[2019-03-22 19:19] brentschmaltz commented on #1123
@luber I agree with you that we don't support this.
If we were to put in support, it would be in the JsonWebToken.

[2019-03-22 19:38] GeoK commented on #1122
Two more questions:

1) Can you share the exception you are getting with the log message (_Exceptions caught:_)?
2) Can you check if the first byte of modulus of your key is zero?

[2019-03-22 19:55] brentschmaltz commented on #1116
@livanov totally missed this, sorry.
We will look into it.

[2019-03-22 20:28] brentschmaltz commented on #1108
@Zenuka How does this change the 'kid' in the OIDC discovery endpoint?

[2019-03-22 21:13] sylvainonweb commented on #1122
1. The log :

Exception thrown: 'Microsoft.IdentityModel.Tokens.SecurityTokenInvalidSignatureException' in System.IdentityModel.Tokens.Jwt.dll
An unhandled exception of type 'Microsoft.IdentityModel.Tokens.SecurityTokenInvalidSignatureException' occurred in System.IdentityModel.Tokens.Jwt.dll
IDX10511: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.RsaSecurityKey , KeyId:

[2019-03-22 22:40] GeoK commented on #1122
The issue you are facing is caused by the null first byte.
This is contrary to the [JWA](https://tools.ietf.org/html/rfc7518#section-6.3.1.1).

.NET Core will account for the null byte and .NET framework, apparently, won't.

Try following [this workaround](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/877#issuecomment-431113178) and let us know the res

[2019-03-23 06:09] sylvainonweb commented on #1122
YES, now that works. Great job.
Thanks

[2019-03-23 06:09] #1122 closed

[2019-03-23 11:13] Zenuka commented on #1108
The KeyId property is used of the JWT token signing certificate as `kid` in the openid connect endpoint. Changing the value breaks active tokens because they have a different KeyId. Does that help explain things?

[2019-03-23 14:21] duki994 commented on #1125
@brentschmaltz
In that case just remove link towards standard from comment to not mislead developers.

I think that also "typ" claim is for JOSE header, and that is section 5 of RFC7519.

I can make a pull request, and then you and team review it :)

[2019-03-27 17:09] underscoreHao commented on #1124
@brentschmaltz I've modified my JSON, but the result is the same.

[code]

[2019-03-28 05:49] HitDaCa commented on #1108
This change will brake any existing application which uses X509SecurityKey and expects to validate validate Certificate Thumbprints through the originally offered KeyId.

E.g. this change could likely also break Identity Server 4's commercial SSO plugin if the receiving party validates for thumbprints.

[2019-03-28 13:50] laDanz commented on #138
I just had the same thoughts that this is implemented exactly the opposite way, even after reading this thread.
But when i finally realized this is for server side validation this made a whole lot more sense. I was using this for client side validation, where this is obviously the not desired implementation.
To still use this for client validation, since it is not possible to pass negative ClockSk

[2019-03-29 17:33] brentschmaltz commented on #1124
@underscoreHao I tested out your json in our dev branch, which is our 6.x version.
Seems to work fine there.
To help understand what is going on here.
What version of IdentityModel are you using?
Are you including Newtonsoft as a package reference, if so what version?

[2019-04-01 09:27] underscoreHao commented on #1124
@brentschmaltz I'm using 5.4.0 for both **Microsoft.IdentityModel.Tokens** and **System.IdentityModel.Tokens.Jwt**, 10.0.1 for **Newtonsoft.Json**

[2019-04-04 21:47] brentschmaltz opened #1128 "Add configurable switch to control if ALL keys are tried when validating signature"
If a user has populated TokenValidationParameters with a large number of keys, then we want to give them a way to only check the signature if a key was matched.
If there was no kid in the header, then this is considered not matched.

Adding a new property to TokenValidationParameters may work.

[2019-04-04 21:51] brentschmaltz opened #1129 "Turn on SignatureProvider caching on by default."
Currently this feature is off by default. Users have reported up to 4x improvement in performance and large memory pressure reductions.

[2019-04-08 19:48] scottbrady91 opened #1130 "Support for encrypting existing JWTs"
When using JWE identity tokens in OpenID Connect and calling the end session endpoint with an `id_token_hint`, the spec suggests re-encrypting the inner JWS identity token using the OpenID Provider's encryption key.

Is there a way to encrypt an existing JWT using the current APIs? If not, can one be added?

[2019-04-08 23:55] brentschmaltz commented on #1130
@scottbrady91 are you asking for given a JWS, translate that to a JWE?

[2019-04-09 00:02] brentschmaltz commented on #1124
@underscoreHao can you send me the source you are using. I can't seem to repo your issue.

[2019-04-09 07:17] scottbrady91 commented on #1130
Yes, exactly that

[2019-04-09 16:45] brentschmaltz commented on #1130
@scottbrady91 ok, i think that is a good feature. We will make that into our next release.
5.4.1 had to be put on hold for a few weeks. We are able to make some progress now.

[2019-04-10 00:51] AdamUCF opened #1131 "Accessing custom claims in JwtSecurityToken"
I'm using the OpenID Connect middleware and attempting to access custom claims sent by my Authorization Server, namely the scope claim. How can I retrieve the value of custom claims? It seems only the predefined claims are available. Would I need to get the raw token and parse it myself or is there some other way to access them?

[2019-04-10 18:51] GeoK commented on #1131
Hi @AdamUCF - Can you share your startup code?

[2019-04-10 19:01] GeoK commented on #1106
Hi @jhallal, we totally missed this, sorry.
Are you still facing this issue?

From the limited context that you provided a possible solution could be to set _TokenValidationParameters.SaveSigninToken_ to **true**.

[2019-04-10 19:12] AdamUCF commented on #1131
Here's what the JWT looks like just to help clarify.
`
{
  "scope": [
    "openid",
    "profile",
    "email"
  ],
  "client_id": "my_client_id",
  "credential_authenticator": "my authenticator",
  "aud": "my_client_id",
  "credential_strength": "20",
  "iss": "https://my.auth.server.internal",
  "location_of_authentication": "INTERNAL",
  "exp": 1554858653
}
`

And here's what's in my Startup.cs

[2019-04-10 21:12] brentschmaltz commented on #1131
@AdamUCF you shouldn't have to recode anything. At the application layer, does the 'User' have multiple 'scope' claims?

[2019-04-10 21:14] GeoK commented on #1131
Where would you get the "raw token" from? I initially suspected that you were missing:
`options.ClaimActions.MapJsonKey("scope", "scope");`, but that's clearly not the case.

[2019-04-10 21:33] AdamUCF commented on #1131
@brentschmaltz nope. It only has the claims from the userinfo endpoint -- not the claims from the access token.

@GeoK I thought context.SecurityToken.RawData would have it but even that appears to be the processed version that removes the unknown claim types (and not the... raw data). context.TokenEndpointResponse.AccessToken does have the actual JWT though.

[2019-04-10 22:15] GeoK commented on #1131
@AdamUCF  `context.SecurityToken` that you are seeing is an Id Token, and the same goes for the claims.

[2019-04-10 22:18] AdamUCF commented on #1131
@GeoK that makes sense but is there any way to populate the User claims with the values in the access token?

[2019-04-10 22:45] GeoK commented on #1114
@brandwe I'm closing this issue for now. Please feel free to re-open it if necessary.

[2019-04-10 22:45] #1114 closed

[2019-04-11 00:44] mfeingol commented on #468
Speaking on behalf of Azure DevOps, we'd love to have an async variant of the `AudienceValidator` delegate.

[2019-04-11 01:12] brentschmaltz commented on #1131
@Tratcher how do claims from the UserInfoEndpoint get merged into the User? see @AdamUCF startup code above.

`options.GetClaimsFromUserInfoEndpoint = true;`

[2019-04-11 06:28] jhallal commented on #1106
Hi GeoK, I will try it and get back to you. Thx

[2019-04-11 08:23] thuannguy commented on #852
I wonder when .NET framework is done, will the team developers be redistributed to other teams to speed up Core support for missing libraries, e.g. this one 😄

[2019-04-11 08:33] thuannguy commented on #852
For reasons for why I need this:
1. I have many big enterprise applications that rely on WSTrust and SAML stacks. I believe I'm not the only one. OAuth/OIDC are good for "modern" applications, but those enterprise stacks won't go away anytime soon.
2. Some features I need won't be supported in .NET framework. When I asked for adding support for the features to the .NET framework, the answer is usu

[2019-04-11 14:14] AdamUCF commented on #1131
The claims in the UserInfo endpoint are getting merged into the User but the claims in the access token are not.

[2019-04-11 15:41] brentschmaltz commented on #1131
@AdamUCF I see, the code flow does not add claims to the identity. This makes sense as OIDC is about identity. The access_token is presented to a resource server and in this case it appears the access_token presented to the userinfo_endpoint.

I think your original assumption that you will have to add them yourself is correct.

[2019-04-11 18:48] brentschmaltz commented on #1131
@AdamUCF closing this. It would be up to asp.net to take a work items here.
You will need to save the token and add the claims.

[2019-04-11 18:48] #1131 closed

[2019-04-11 18:53] brentschmaltz commented on #852
@thuannguy WSTrust is a large spec: http://docs.oasis-open.org/ws-sx/ws-trust/200512/ws-trust-1.3-os.html

I hear you, you need it we used to have it in Desktop....
Can you express a set key features such as:
1. Version 1.3
2. RST/R without secondary parameters
3. Do we need BinarySecrets ?
4. What Bindings? Issuance?
5. etc....

[2019-04-12 13:37] brockallen commented on #1108
Yea, this is a breaking change in a patch. Why was this change needed?

[2019-04-14 03:42] thuannguy commented on #852
@brentschmaltz My product offers all WS-Trust features that ADFS has to offer, plus a few more custom ones, so I guess I will need a whole lot of the spec.

1. Yes, 1.3. We also need one aspect of 1.4, but I don't remember exactly what it is. Maybe something that has to do with OnBehalfOf or ActAs.
2. I never heard about secondary parameters before, so I probably don't need it.
3. We can live with

[2019-04-16 09:26] shitada opened #1132 "JwtSecurityTokenHandler.ValidateToken is failing with IDX10511; exception message needs to be improved"
JwtSecurityTokenHandler.ValidateToken is failed as IDX10511 even though Graph API call is succeeded by using the token.
But the validation of the token of Azure AD Graph is succeeded.
Are there any improvements in code to resolve the problem? Or does the problem relies on Azure AD side?

using Microsoft.IdentityModel.Clients.ActiveDirectory;
using Microsoft.IdentityModel.Logging;
using Microsoft.I

[2019-04-16 17:31] GeoK commented on #1132
Hi @shitada - `SecurityTokenInvalidSignatureException (IDX10511)` can happen if the first byte of modulus of your key is zero. Can you check if that's the case?

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1122#issuecomment-475805665
[wiki](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/SecurityTokenInvalidS

[2019-04-17 19:58] brentschmaltz commented on #852
@thuannguy thanks, this is a big help in scoping. As you see WS-Trust is a big spec.
1.4 did introduce OBO and ActAs.

Couple of additional scoping questions:

1. I assume you would need full RST/RSTR (inbound / outbound) processing.
2. When you wrote: Binding class, are you speaking to WCF?
3. Are you just communicating with ADFS?
4. Could you prioritize the different bindings?
   i.   Certificat

[2019-04-17 20:03] brentschmaltz commented on #1132
@shitada i suspect that your token is in a format that needs to be transformed before signature validation will succeed.

see: https://stackoverflow.com/questions/55247157/unable-to-validate-access-token-signature-obtained-from-azure-ad-in-order-to-sec

[2019-04-18 01:49] thuannguy commented on #852
@brentschmaltz  hi
1. Yes, you are right.
2. One example for it is https://github.com/IdentityModel/Thinktecture.IdentityModel.40/blob/master/IdentityModel/Thinktecture.IdentityModel/WSTrust/WSTrustBindingBase.cs
3. Nope. My product can do all ADFS can and more, e.g. eID profiles based on WS-Trust such as OIO Identity-based Web Services (OIOIDWS) which we are able to support .NET framework by defi

[2019-04-18 02:17] brentschmaltz commented on #852
@thuannguy that is a WCF binding, so you need to craft up a WSTrust message and parse the response.

If we can scope to i., ii., iii. We can help.
Can you describe a bit about custom binding? Do you mean Custom WSTrust binding?

It looks like Thinktecture supports trust 1.3 and 2005 (which was an internal microsoft version before the spec was ratified).

[2019-04-18 02:23] thuannguy commented on #852
One example for a custom binding is:

[code]

AFAICT, the WSTrust binding is also a form of a custom binding 😄 IIRC, originially .NET had it, then it was removed in version 4.0 (or 4.5?) so Thinktecture had to create that WSTrustBinding.

[2019-04-18 02:38] brentschmaltz commented on #852
@thuannguy yeah those bindings were removed when WIF was integrated into .NET 4.0.

In terms of WCF binding, are you planning on using WCF?
The WSTrust message is part of an xml message and is carried in the body. The binding you are showing above is setting the characteristics of the message properties.
If you are using WCF, we would need a way to embed the WSTrust message into the Soap envelop b

[2019-04-18 02:48] thuannguy commented on #852
Ah yes, I will need to use WCF. Sorry for not mentioning it. I have used the two together for my product since day one so in my mind they are just one thing (which is definitely not the case).

[2019-04-18 08:44] shitada commented on #1132
Hi, @GeoK thanks for workaround. But unfortunately the workaround doesn't work.

            IdentityModelEventSource.ShowPII = true;
            var tokenString = authenticationResult.AccessToken;

            var configRetriever = new OpenIdConnectConfigurationRetriever();
            var docRetriever = new HttpDocumentRetriever();
            var configurationManager = new ConfigurationManager<

[2019-04-19 09:10] akartynnik commented on #1132
I have the same issue in .net core api

[2019-04-19 22:35] brentschmaltz commented on #1132
@shitada @akartynnik it looks like we have a slight logic in our reporting when failing that is throwing us off. For some reason we were unable to match the key, don't know why. We then don't add the exception string to the exception thrown so we are probably hitting invalid signature. But it is hidden.

Notice above the kid in the JsonWebKey is "xneUh4tPkUPsVH/okK+VMrXirVA=". This will not match

[2019-04-19 22:39] brentschmaltz commented on #852
@thuannguy ah, we don't have plans for full blown WCF in Core. This library is focusing on .NET Core usage. Are you using Core?

[2019-04-19 22:43] brentschmaltz commented on #1108
@brockallen We had a servicing request, internally.
We moved those folks over to an internal 6.x version that we are preparing for the Core 3.0 release.

We can roll this back and talk about how we should move forward.
We upgraded our 'matching' semantics { kid X x5t } so that may be enough.

[2019-04-20 03:20] thuannguy commented on #852
Yes, my plan is to migrate to core. It seems to me that some folks are asking for more WCF support in Core. My naive hope was that if in 18 months or 2 years Core have enough WSTrust and WCF supports, that will be a big boost for ones who need to maintain enterprise applications like me.

[2019-04-22 08:17] davidfowl opened #1134 "Fix dependency graph for netstandard 2.0"
The .NET Standard 2.0 packages bring in way too many dependencies. One of the purposes of NS 2.0 was to reduce the needed packages to avoid the granular dependencies by building more functionality into the core. While these packages added support for the ns2.0 target framework, they've kept the same dependencies resulting in a large download when installing the packages here.

For e.g. When I inst

[2019-04-22 18:28] SaeidSabzalizadeh opened #1135 "Could not load file or assembly 'Microsoft.IdentityModel.Tokens, Version=5.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified."
Adding System.IdentityModel.Tokens.Jwt (5.4.0) nuget package in .NetStandard 2.0 class library project. Referencing this class library in ASP.NET API .NETFramework 4.7.2 I got an error:

`Could not load file or assembly 'Microsoft.IdentityModel.Tokens, Version=5.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.
`
I have

[2019-04-22 19:03] SaeidSabzalizadeh commented on #1135
I add <TargetFrameworks>netstandard2.0;net461</TargetFrameworks> in the csproj file. and solved

[2019-04-22 19:03] #1135 closed

[2019-04-22 19:09] brentschmaltz commented on #1134
@davidfowl thanks, we will get on it and get it into 5.4.1.
If you have a PR that would be nice :-)

[2019-04-24 06:46] leastprivilege commented on #1108
too many breaking changes in patch or minor releases with this library. Too bad there is no real alternative.

[2019-04-24 17:28] brentschmaltz commented on #1108
@leastprivilege do you have a recommendation for a set of tests we could run to ensure we avoid such issues in the future?

[2019-04-24 19:04] GeoK commented on #1051
@bjthomson We are closing for now. Please re-open it if you need anything else from us.

[2019-04-24 19:04] #1051 closed

[2019-04-24 19:13] GeoK commented on #1118
@pailyn Microsoft.IdentityModel.Json is internal and we haven't shipped 6x yet.

[2019-04-24 19:13] #1118 closed

[2019-04-25 12:05] bjthomson commented on #1051
Hmmm, OK, but where do we stand in terms of the code? If you read the original post, the issue is: The OpenIDConnect middleware is adding the users name with a claim type of **name**, but the ClaimsIdentity.Name property is looking for a type of **http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name**

The result is that an <asp:LoginName control displays blank if the user is logged in via O

[2019-04-26 19:06] #1130 closed

[2019-04-26 21:39] brentschmaltz commented on #1132
@akartynnik I will fix the exception message.

[2019-04-26 21:43] #1103 closed

[2019-04-26 21:43] brentschmaltz commented on #1103
This has been fixed.

[2019-04-26 21:47] brentschmaltz commented on #1099
@mcetkovsky we removed that text.

[2019-04-26 21:47] #1099 closed

[2019-04-26 21:58] brentschmaltz commented on #852
@thuannguy that is still up in the air. I will leave this in the 5.x milestone for now.

[2019-04-26 22:00] brentschmaltz commented on #759
@AndersAbel we are lining up our 5.5.0. For that we will get the multiple signatures in that you asked for so long ago. Can we close this, I doubt we will ever do SamlP.

[2019-04-26 22:04] brentschmaltz commented on #877
nice.

[2019-04-26 22:04] #877 closed

[2019-04-26 22:10] brentschmaltz commented on #1035
Can't see anything really to do here.

[2019-04-26 22:10] #1035 closed

[2019-04-26 22:18] brentschmaltz commented on #972
@holytshirt Our handlers should not call ValidateIssuerSigningKey if the key is null AND TokenValidationParameters.RequireSignedTokens is false.

[2019-04-26 22:20] brentschmaltz commented on #964
Dropping this as we have locked on a JwtInboundPolicy else where.

[2019-04-26 22:20] #964 closed

[2019-04-26 22:21] brentschmaltz commented on #767
don't need this.

[2019-04-26 22:21] #767 closed

[2019-04-26 22:26] brentschmaltz commented on #860
@AndersAbel I am convinced we don't need this.

[2019-04-26 22:26] #860 closed

[2019-04-26 22:27] brentschmaltz commented on #710
Closing as this belongs in a different assembly.

[2019-04-26 22:27] #710 closed

[2019-04-26 22:55] GeoK commented on #1019
@z0nekill There is nothing that we can really do until SharePoint updates.

[2019-04-26 22:55] #1019 closed

[2019-04-27 01:39] thuannguy commented on #852
@brentschmaltz  whatever it takes! At least there is a chance I will get it out of 14000605 possibilities 😈  Thank you and happy weekend 😄

[2019-04-27 13:51] AndersAbel commented on #860
@brentschmaltz I think it's okay to not support non-bearer subject confirmation out of the box. But, there should be a possibility to implement custom confirmations. That's possible by overriding `Saml2SecurityTokenHandler.ValidateConfirmationData`.

But I think that there should be a guard in `Saml2SecurityTokenHandler.ValidateConfirmationData()` to reject anything but `urn:oasis:names:tc:SAML:2.

[2019-04-27 13:53] AndersAbel commented on #759
Yes, I'm fine with closing this as won't-fix here. FYI I have full SAML2P metadata support in the Sustainsys.Saml2 package already :)

[2019-04-27 13:53] #759 closed

[2019-04-28 15:54] NourElDeen05 opened #1142 "Algorithm: 'RS512', SecurityKey: 'Microsoft.IdentityModel.Tokens.SymmetricSecurityKey' is not supported.'"
[code]

[2019-04-29 07:55] scottbrady91 commented on #1130
Awesome. Thanks, all!

[2019-04-29 16:52] GeoK commented on #1142
Hi @NourElDeen05 -`SecurityAlgorithms.RsaSha512` is not supported when used with a symmetric key, like in your sample code.

I'm guessing that you wanted to create an RsaSecurityKey/X509SecurityKey.

[2019-04-29 21:26] GeoK commented on #1106
Hi @jhallal, did you get a chance to try it?

[2019-04-29 21:34] GeoK commented on #762
@brentschmaltz - By looking at the description, I believe that this issue has already been resolved.

[2019-04-30 00:07] mafurman opened #1144 "Make the public JwtHeader default constructor internal"
The 'alg' (algorithm) header parameter must be present (according to the [JWS RFC](https://tools.ietf.org/html/rfc7515#section-4.1.1)), so we should not allow an empty JwtHeader object to be created.

However, this constructor should not be completely removed as it needs to be available for use by JsonConvert.DeserializeObject.

This is basically the same as issue #1092, which we are planning on a

[2019-04-30 18:37] GeoK opened #1146 "Support X.509 Certificate Chain in X509SecurityKey"
Currently we are using all certificates, which are part of 'x5c' certificate chain, as X509SecurityKeys.
By the [rfc7517](https://tools.ietf.org/html/rfc7517#section-4.7), only the first key should be used to perform any signing operations.
We should threat only the first certificate from a 'x5c' certificate chain as an X509SecurityKey and others as part of a certificate chain.

[2019-04-30 18:39] brentschmaltz commented on #1108
@leastprivilege rolled back with https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1140
Will try to be more careful, sorry for the break.

[2019-04-30 18:39] #1108 closed

[2019-04-30 20:27] brentschmaltz opened #1147 "Add the 'Deflate' to the processing pipeline for JwtSecurityTokenHandler."
If an IdentityProvider will produce a JWE using deflate, then users of Asp.net will fail.
We added deflate to JsonWebTokenHandler, we need it in JwtSecurityTokenHandler also.

[2019-04-30 20:29] brentschmaltz commented on #762
yep

[2019-04-30 20:29] #762 closed

[2019-04-30 21:41] #1092 closed

[2019-04-30 23:01] brentschmaltz opened #1148 "Add constructor to RsaSecurityKey that takes E, N"
this would remove the need to use RSAParameters for this simple case.

[2019-05-01 05:17] khteh opened #1149 "JwtSecurityToken DateTime"
Does the constructor expect paramater of type DateTime to be local time or UTC? I use UTC but it still does the conversion *again* and result in the JWT always expires!!!

[2019-05-01 12:40] leastprivilege opened #1150 "JsonWebKey representing X509 certificate has a KeySize of 0"
...which throws when trying to validate a signature.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/72f03a9c62215688b759ea180263db8b498280ea/src/Microsoft.IdentityModel.Tokens/JsonWebKey.cs#L254-L267

any workaround for that?

[2019-05-01 15:37] brentschmaltz commented on #1150
@leastprivilege not without writing some code.
Is this affecting existing customers?
Or can you wait till 5.5.0?

[2019-05-01 15:45] brentschmaltz commented on #1149
@khteh can you share your code.
The payload shows we convert to UTC.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/72f03a9c62215688b759ea180263db8b498280ea/src/System.IdentityModel.Tokens.Jwt/JwtPayload.cs#L105

[2019-05-01 15:50] khteh commented on #1149
Why convert again when the input parameter is already in UTC?

[2019-05-01 16:05] brockallen commented on #1150
Yes, we can wait. Thanks.

[2019-05-01 16:09] khteh commented on #1149
Why not use DateTimeOffset instead?

[2019-05-01 17:02] brentschmaltz commented on #1149
@khteh ToUniversalTime is a no-op if Kind is Utc.
We started with DateTime and have it in multiple api's.

[2019-05-01 18:04] mafurman commented on #1124
@underscoreHao If this is still a problem please attach the code you're using.

[2019-05-01 18:04] #1124 closed

[2019-05-01 18:21] mafurman commented on #1116
@livanov Base64Url encoding treats slashes as special characters and it's not backwardly compatible with Base64 encoding.

[2019-05-01 18:21] #1116 closed

[2019-05-01 18:24] mafurman commented on #1106
@jhallal Closing this, please reopen if you experience this issue again.

[2019-05-01 18:24] #1106 closed

[2019-05-01 18:30] mafurman commented on #1097
Change DefaultTokenLifetimeInMinutes to 5 minutes and MaximumTokenSizeInBytes to 250000 (investigate if these are the appropriate defaults).

[2019-05-01 18:36] mafurman commented on #1072
@elgatorico Closing this issue, please reopen if you're still experiencing issues.

[2019-05-01 18:36] #1072 closed

[2019-05-01 18:41] mafurman commented on #1039
@sanjaysingh Closing this issue, if you have any other questions feel free to ask.

[2019-05-01 18:41] #1039 closed

[2019-05-01 18:49] mafurman commented on #1030
We need to coordinate with ASP.NET to include additional OpenIdConnectConfiguration data on the TokenValidationParameters.PropertyBag.

[2019-05-01 18:51] mafurman opened #1152 "Provide partitioning for TokenValidationParameters.PropertyBag"
There should be a way of determining which properties where set by us (to avoid potential collisions).

Related issue: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1030

[2019-05-01 18:52] mafurman commented on #1012
Related issue: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1042

[2019-05-01 19:03] mafurman commented on #887
@joetherod ASP.NET Core will automatically create an SSO cookie using Cookie middleware/handler. Does this not work for you?

[2019-05-01 19:04] Tratcher commented on #1030
Somewhere around here?
https://github.com/aspnet/AspNetCore/blob/86728ecc17c339f699d21c8abd5ee93037b51a1e/src/Security/Authentication/OpenIdConnect/src/OpenIdConnectHandler.cs#L1213-L1220
Since this is custom data I assume you'd need an extension point where people could manipulate it to suite their scenarios.

[2019-05-01 19:37] joetherod commented on #887
@mafurman Our current SSO implementation uses .NET 4.5 Windows Identity and WS Federation. The WS fed http module parses the wa form and creates the FedAuth cookies based on our certs. We have new .NET core apps that want to be able to use the same SSO feature. the current port you have has no support for it. I need an auth middleware component in core to process that form federated form and creat

[2019-05-01 20:30] henrik-me opened #1153 "Documentation: Explain different middlewares"
**The following should be explained:**
- UseWindowsAzureActiveDirectoryBearerAuthentication is used in ASP.NET Web API samples, using V1.

- UseJwtBearerAuthentication is used in ASP.NET Core Web API samples (5)

- UseOpenIdConnectAuthentication is used in ASP.NET Web Apps (37)
We don’t seem to use UseOAuth2Authentication in our samples.

_Should be explained in the following two docs:_

- https:/

[2019-05-01 22:10] henrik-me commented on #1121
@mafurman
Additional asks for the wiki extracted from [Azure DevOps](https://identitydivision.visualstudio.com/DevEx/_workitems/edit/357565)

IdentityModel logs contain PII this needs to be explained to developers so they can understand their responsibility for GDPR.

_This documentation will have these parts:_

- Comments in the library logging code

- Notes on the repo (wiki)

[2019-05-01 22:26] brentschmaltz opened #1154 "DsigSerializer should not allow duplicate transforms."
Currently a user could add multiple of the same transform in a single reference.
There should be only one type of Canonical algorithm (with or without comments).
All other transforms should be unique.

@AndersAbel suggested this in PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1151

[2019-05-01 22:51] henrik-me opened #1155 "Add support for creating Saml and Saml2 tokens with TokenDescriptor.Claims"
We introduced SecurityTokenDescriptor.Claims as a property for SecurityTokenHandlers to create tokens.
Only JsonWebTokens is supported with this feature.
We should add support for Saml and Saml2 tokens.

**Acceptance Criteria**: Tests shows that tokens created with the same subject are the same as Claims

(Moved from [Azure DevOps](https://identitydivision.visualstudio.com/DevEx/_workitems/edit/60

[2019-05-02 07:35] khteh commented on #1149
My application uses DateTimeOffset and I assign the DateTime property of the variable which has Unspecified Kind. Switch to UtcDateTime and it works now.

[2019-05-02 07:35] #1149 closed

[2019-05-02 12:31] brentschmaltz commented on #1154
Fixed with:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1151

[2019-05-02 19:00] brentschmaltz commented on #887
@joetherod are you looking to have .NET 4.5 and CORE servers processing the same SSO cookies?

[2019-05-02 19:09] brentschmaltz commented on #1030
@Tratcher we could to id there, but since this is for the access_token, perhaps JwtBearer. The value will be in the AdditionalData property. https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/72f03a9c62215688b759ea180263db8b498280ea/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/Configuration/OpenIdConnectConfiguration.cs#L107. Not sure how to special ca

[2019-05-02 19:17] Tratcher commented on #1030
Oh, JwtBearer would be here:
https://github.com/aspnet/AspNetCore/blob/4cb86bc15160e493e6331190da9973736f0fc240/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L91-L99

[2019-05-02 19:33] joetherod commented on #887
@brentschmaltz yes. We have a portal where a user can login. within that portal the user can navigate to different apps using the same auth ticket. Our apps were all 4.5. We are in the process of porting them over to core. We want to use the same auth ticket in new core apps.

[2019-05-02 21:09] brentschmaltz commented on #1042
Will also add to SamlSecurityTokenHandler

[2019-05-02 23:13] brentschmaltz commented on #887
@joetherod thanks for that detail. Essentially, you will need a to plug in a custom cookie handler into core that knows how to hydrate the 4.5 cookies into a User.
Does that sound right?

[2019-05-02 23:23] joetherod commented on #887
@brentschmaltz yes. I need to register something in startup so the Core User is set to authenticated or not and claims are set.

[2019-05-02 23:24] brentschmaltz commented on #1042
@AndersAbel I think we can get the canonical stream as we have collected all the nodes.

[2019-05-02 23:31] joetherod commented on #887
@brentschmaltz Not only to hydrate the cookie, but also process the wsresult via the post from the login app and creates the auth cookies and establishes the authentication. This is how the wsfederation httpmodule is setup on every .net 4.5 app that uses SSO.

[2019-05-02 23:48] Tratcher commented on #887
AspNetCore has a WsFed auth handler. It's the cookies that are the hard part.

[2019-05-03 05:40] agehlot commented on #1072
It encountered with me as well. I think it's bug called "Katana bug #197".

The workaround for this is a nuget package called [Kentor.OwinCookieSaver](https://www.nuget.org/packages/Kentor.OwinCookieSaver/).
After installing the nuget package add
app.UseKentorOwinCookieSaver(); if not already there, before
app.UseCookieAuthentication(cookieOptions);.

For more info, follow the [Kentor.OwinCookieSa

[2019-05-03 06:54] #1119 closed

[2019-05-03 17:26] brentschmaltz commented on #887
@Tratcher @joetherod I'll have a look at what it will take to add this ability as an extension.

[2019-05-03 19:17] joetherod commented on #887
@brentschmaltz Looking forward to it. Thank you.

[2019-05-03 23:10] GeoK opened #1159 "Add .NET Standard 2.1 target"

[2019-05-03 23:30] mafurman opened #1160 "M.IM.Protocols.OpenIdConnect needs to support JsonWebTokens"
We are moving away from using System.IdentityModel.Tokens.Jwt, so we should have support for Microsoft.IdentityModel.JsonWebTokens in our OpenIdConnect assembly.

OpenIdConnectProtocolValidationContext should have another property on it (either a SecurityToken or simply json or a new interface) that will allow the OpenIdConnectProtocolValidator to use JsonWebToken rather than JwtSecurityToken.

[2019-05-03 23:39] mafurman opened #1161 "TokenValidationResult.IsValid should be based off of the Exception property"
Currently, we are setting TokenValidationResult.IsValid to 'false' every time we set the Exception property to a non-null value.

Since the Exception property is guaranteed to be set whenever the IsValid property is 'false', we should change 'IsValid' to be get only and simply return 'Exception == null'.

[2019-05-04 00:04] #1111 closed

[2019-05-04 00:04] #1112 closed

[2019-05-06 16:34] edwardcampbellprojects opened #1163 "Migrating Microsoft Identity Manager based application to Azure AD FS"
I am attempting to migrate an ASP.NET WebForms application that uses MS Identity Manager to use an Azure Active Directory Federation Service, AADFS, for user Authentication and Authorization.  So far my conversion has succeeded at redirecting SignIn and SignOut to AADFS.  Within the application, it appears that an AuthenticationProtocolMessage.SetParameter is failing with a null parameter.

My que

[2019-05-06 17:00] brentschmaltz opened #1164 "JsonWebTokenHandler does not use the issuer returned from ValidateIssuer when creating claims."
JsonWebTokenHandler will produce slightly different claims if the IssuerValidator returns a value other than the 'iss' value than the JwtSecurityTokenHandler.

They should return the same claims when mapping is turned off.

[2019-05-06 18:00] brentschmaltz commented on #1163
@edwardcampbellprojects I am not completely familiar with MS Identity Manager. Can you help me spin up?

[2019-05-06 18:45] #1147 closed

[2019-05-06 19:24] GeoK commented on #1134
@davidfowl Thank you for adding this, we merged in your PR.

[2019-05-06 19:24] #1134 closed

[2019-05-06 21:43] edwardcampbellprojects commented on #1163
Hi Brent,

Thanks for your reply.  MIM is the successor to the Asp.NET Membership
system from several years ago.

This is a user/password based system with security hashes and password
hashes built in.

A better and more complete account can be found here:

https://docs.microsoft.com/en-us/microsoft-identity-manager/microsoft-identity-manager-2016

The issue I am having is that my org is convertin

[2019-05-07 00:51] #1082 closed

[2019-05-07 00:59] brentschmaltz commented on #1163
@edwardcampbellprojects got it.
@Tratcher can you help out here?

[2019-05-07 08:42] davidfowl commented on #1134
Let me know when you have a package on myget that I can use to verify the changes end to end.

[2019-05-07 14:09] brentschmaltz opened #1165 "Create a way to control simple IdentityModel settings at runtime without code"
Simple settings require coding.
For example:

JwtSecurityTokenHandler.MapInboundClaims
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/ce23b8c4002d168d6ab2f9d971a9993e5cba99cc/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L122

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1143

[2019-05-07 15:07] Tratcher commented on #1163
MIM looks like an AD add on? https://docs.microsoft.com/en-us/microsoft-identity-manager/
Looks like a replacement for FIM? https://oxfordcomputertraining.com/glossary/mim/

If they're just add ons then using WsFed or OpenIdConnect against Active Directory should still work. If this is Windows Server 2016 then use OpenIdConnect, otherwise WsFed.
https://docs.microsoft.com/en-us/windows-server/iden

[2019-05-10 22:26] GeoK commented on #1097
Investigation results: Reduce MaximumTokenSizeInBytes to 256000, but keep 60 minutes as DefaultTokenLifetimeInMinutes.

[2019-05-10 23:34] brentschmaltz commented on #1101
Let's stick with the pattern of: If TVP.ValidationEvent == false, warn, return.

[2019-05-10 23:34] #1101 closed

[2019-05-13 20:12] rodan01 opened #1168 "JwtSecurityTokenHandler throws SecurityTokenInvalidSignatureException for spurious reasons"
Why are you validating the signature of the JWT token before the body? The consequence is that you are throwing SecurityTokenInvalidSignatureException for spurious reasons. A token with wrong issuer is not a signature error.

Consumers of your library are using SecurityTokenInvalidSignatureException as an indication of key rollover, which means to refresh the metadata. If you throw that exception

[2019-05-14 00:06] brentschmaltz commented on #1168
@rodan01 We don't trust anything in the token until the signature is validated.

We throw SecurityTokenSignatureKeyNotFoundException when we were able to match the key in the jwt and the signature failed. https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/0e6d1bde65b158cf4edee41e9844f8bf5bf4c91f/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L

[2019-05-14 02:26] brentschmaltz opened #1169 "JsonWebToken, Getting values from header and payload needs to consider when types don't match"
If a JsonWebToken has the json { "number", 12345 }. TryGetPayloadValue("number", out string number) will return true and number == "12345" a string.
It will be tricky when the value is 'nil' and the type passed in is not nullable.

[2019-05-14 02:29] brentschmaltz commented on #1169
If a JsonWebToken has the json { "number", 12345 }. TryGetPayloadValue("number", out string number) will return true and number == "12345" a string.
It will be trick when the value is 'nil' and the type passed in is not nullable.

[2019-05-14 02:30] brentschmaltz commented on #1169
We should review how we return all values.

[2019-05-14 03:52] brentschmaltz commented on #1168
(copied from https://github.com/aspnet/AspNetCore/issues/10164 )
@rodan01 after talking to @Tratcher I see what you are saying. Reading the token then examining a Metadata cache of trusted issuers could solve this problem. Are you working with multitenant across identity providers { google, msft, FB, …} OR Azure tenants OR ALL of the above. I ask because we have some helpers on the way for Azure A

[2019-05-14 14:11] brentschmaltz commented on #1168
(copied from asp.net)
A multitenant Webapi accepts tokens from multiple authorities. It configures multiple JwtBearer schemes. It calls HttpContext.AuthenticateAsync() for every scheme in each request, using a policy or manually.

The problem is that the authentication process validates the token starting with the signature, that's inefficient because obviously a token from a different issuer won'

[2019-05-14 21:11] mafurman commented on #1121
@brentschmaltz What is meant here by "comments in the library logging code"? We do already have some comments related to PII filtering in IdentityModelEventSource.

[2019-05-14 22:03] brentschmaltz commented on #1121
@mafurman I want it to be obovious for users to know what to do to get more info. A link to our wiki [PII is hidden see: https://aks.ms/identitymodel/pii ]. On that page we will explain why we did what we did and how to show all details.

[2019-05-14 22:06] brentschmaltz opened #1170 "Design a way to control logging at runtime."
By default our logging had PII off by default. When a user has an intermittent issue, it is hard to debug without restarting the application.

We need a way to turn PII on at runtime.

[2019-05-15 18:51] mafurman commented on #973
A Wiki page with this information has been added here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Using-a-custom-CryptoProvider.

[2019-05-15 23:05] #1121 closed

[2019-05-16 00:30] mafurman commented on #1053
@brentschmaltz Should JsonWebKeySet still be serialized if it's null?

[2019-05-16 05:14] brentschmaltz opened #1175 "OpenIdConnectProtocolValidator should provide for validation of id_token_signed_response_alg"
See oidc spec https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation
We should be able to check this during OpenIdConnectProtocolValidation. Perhaps, acceptable algorithms property on the context passed to validate.

Assuming that discovery was used, there isn't much of an attack here.
See: Laura Rodriguez comment here:
https://github.com/dotnet/docs/issues/5321

[2019-05-16 05:18] brentschmaltz commented on #1142
@NourElDeen05 please reopen if you need additional information.

[2019-05-16 05:18] #1142 closed

[2019-05-16 05:23] brentschmaltz commented on #1163
@edwardcampbellprojects can you let us know what in AuthenticationProtocolMessage.SetParameter is failing?

[2019-05-16 18:59] #1053 closed

[2019-05-16 22:22] mafurman commented on #1100
We will make this change in 6.x after we add "appsettings" runtime control. We want the Validators to have consistent behavior.

If the user sets a Validator we call it, and then we check the associated bool afterwards.

[code]

[2019-05-16 22:30] mafurman commented on #1104
This should be fixed in the SamlSecurityTokenHandler as well.

[2019-05-16 23:05] mafurman commented on #1169
If a user passes in a Claim as T, we should return a populated Claim object. If they pass in IList<Claim> or ICollection<Claim> we should follow the same behavior as the Claims property (only go one deep).

[2019-05-16 23:35] mafurman commented on #1169
We should also add "Claim GetClaim(string jsonKeyName)" method that will allow the user to query for a specific Claim directly. If the type of the Claim is JArray or JObject we should return that as the type and return the value as a string.

This should return the same value that passing Claim as T returns (more explanation above).

[2019-05-17 00:23] festivus opened #1177 "System.Runtime.Serialization.Xml.dll conflict"
I'm targeting netcoreapp2.1 and when I add the System.IdentityModel.Tokens.Jwt nuget pkg I start getting warnings that there is a conflict with System.Runtime.Serialization.Xml

NETSDK1033: Choosing 'Reference:C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.netcore.app\2.1.0\ref\netcoreapp2.1\System.Runtime.Serialization.Xml.dll' becaus
e AssemblyVersion '4.1.4.0' is greater than '4.1.1.

[2019-05-17 00:28] brentschmaltz commented on #1177
@festivus thanks for pointing this out. We will investigate.

[2019-05-17 00:35] festivus commented on #1177
Yes, it builds and runs.

[2019-05-17 00:39] GeoK commented on #1177
Hi @festivus - Which version of IdentityModel are you using?

[2019-05-17 00:58] #973 closed

[2019-05-17 02:50] festivus commented on #1177
5.4.0

[2019-05-17 04:03] huan086 opened #1178 "AuthenticationProtocolMessage.BuildFormPost script tag CSP nonce"
### Is your feature request related to a problem? Please describe.
It is not recommended to enable `unsafe-inline` in content security policy (CSP), as it would allow JavaScript to run without any additional validation. In the event of cross site scripting, CSP would no longer be able to protect the user. It is recommended to instead use CSP nonce and remove `unsafe-inline`.

In AuthenticationProt

[2019-05-17 15:03] brentschmaltz commented on #1178
@huan086 am I understanding correctly that our script would not run unless 'unsafe-inline' is set. Since there are different forms of the 'nonce', would a parameter (string scriptSecurityPolicy) make sense? The value would be added after '<script '.

[2019-05-17 15:23] brentschmaltz commented on #1177
@GeoK we should review what versions we are setting for targets.

[2019-05-17 15:38] huan086 commented on #1178
Correct, the script will not run unless unsafe-inline is set.

I would name the parameter `contentSecurityPolicyNonce`, since in the header, the nonce can appear in default-src or in script-src, thus I would avoid `script` in the name.

The line
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/6e7a53e241e4566998d3bf365f03acd0da699a31/src/Microsoft.IdentityM

[2019-05-17 22:13] brentschmaltz commented on #1178
@huan086 I was wondering if the addition would always be of the form 'nonce="12345"'. In this case passing in "12345" would set this. Is the key word 'nonce' always used?
I am asking should the user pass
1. "12345"
OR
2. "nonce=12345"

[2019-05-17 22:34] #972 closed

[2019-05-17 23:11] GeoK commented on #1177
@festivus Can you enter the following command into the Package Management Console and let us know if the warning is still there?
`Update-Package -reinstall -ProjectName <yourproject>`

[2019-05-17 23:32] GeoK commented on #1098
@Saurbaum We are going to ship our .pdbs in separate .snupkg packages (#1172). This should unblock you.
@dozer75 Thank you for chiming in. You are right, portable PDBs are not supported everywhere but the main advantage is that they can be created and read on all platforms.

[2019-05-17 23:32] #1098 closed

[2019-05-17 23:34] #1097 closed

[2019-05-17 23:51] brockallen commented on #1097
You guys recently made "none" the default signing algorithm. I can't for the internals of what's going on, but is that change in line with the motivation of this issue to make the defaults safer? None is not really safe.

[2019-05-18 00:33] brentschmaltz commented on #1097
@brockallen how is that. I know that some runtimes are attackable with 'none' in the header. Is that what you are referring to? If there is no algorithm, what would you suggest?

[2019-05-18 01:36] huan086 commented on #1178
User should pass "12345". The nonce attribute name won't change

I just realize using hash in the csp is an alternative way to solve the problem without changes in the source code

https://www.troyhunt.com/locking-down-your-website-scripts-with-csp-hashes-nonces-and-report-uri/

[2019-05-18 02:59] brockallen commented on #1097
As I said, I don't know the internals of how the JwtSecurityTokenHandler does its job. I'm just asking to make sure there's no issue here.

[2019-05-19 01:11] brentschmaltz commented on #1097
@brockallen our product has not seen any issues with 'alg=none'. As that is not an 'algorithm' we support. Other libraries have had issues with this and key type switching {tricking RSA keys from discovery to use users HMAC}. We haven't seen any issues with these two attacks.

However, anytime anyone is suspects any vulnerability, please let us know. It's our #1 priority.

[2019-05-19 22:55] brentschmaltz commented on #1083
Set to P1 to match the EnvelopedSignatureReader in this release would provide a nice round trip experience.

[2019-05-20 17:22] GeoK commented on #1117
@underscoreHao - PS256 will be available in 5.5.0 release.
In case that you would like to try out a preview build and provide early feedback, our nightys are available here: https://www.myget.org/feed/azureadwebstacknightly/package/nuget/System.IdentityModel.Tokens.Jwt/5.4.1-preview-60518004438

[2019-05-20 22:09] #1164 closed

[2019-05-21 16:59] GeoK opened #1183 "Provide migration aid for breaking changes in 6x"
Breaking changes in 6x: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/Tools/apiCompat/baseline/ApiCompatBaseline.netstandard2.0.txt

[2019-05-21 19:38] brentschmaltz opened #1184 "Write tests to verify that 'inclusivePrefix' is working correctly."
It's not clear that we are handling this correctly. The EnvelopedSignatureReaders and Writers have been modified to handle multiple signatures. We need to make sure this is working correctly now for embedded elements with signatures such as Samlp messages.

[2019-05-21 21:14] #1074 closed

[2019-05-21 21:15] #487 closed

[2019-05-22 00:18] brentschmaltz commented on #1042
Added with:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1181

[2019-05-22 00:18] #1042 closed

[2019-05-22 00:20] brentschmaltz commented on #1012
Added with: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1181
We still have work todo to ensure the InclusivePrefixes is correct. See https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1184

[2019-05-22 00:20] #1012 closed

[2019-05-22 02:17] brentschmaltz opened #1185 "SamlSecurityToken protected constructor should create a new SamlAssertion."
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens.Saml/Saml/SamlSecurityToken.cs#L41
With this constructor, SamlSecurityToken.Assertion can be null. This is a difference between the Saml and Saml2 SecurityTokens. This constructor is not very helpful as the Assertion property can not be set.

Have the constructor set a n

[2019-05-22 02:40] brentschmaltz commented on #1150
@leastprivilege @brockallen I am assuming the fault is in the AsymmetricSignatureProvider. I believe a solution would be to check the key size after a SecurityKey is created from the the JsonWebKey.

[2019-05-22 07:14] leastprivilege commented on #1150
OK - then please fix it ;)

[2019-05-22 13:26] edwardcampbellprojects commented on #1163
Hi thanks for your email.  I was occupied by other fires lately.

I have traced the error to TokenValidationParameters.  The following code
fixes my immediate problem but the calling routine (BlogEngine.net 3.1)
still fails.

Here is the non-error producing adjustment (highlighted) in Startup.cs:

 public void ConfigureAuth(IAppBuilder app)
        {
            //***TC ADFS mod:
https://stackover

[2019-05-22 19:03] mafurman opened #1186 "We should be consistent about how we format properties in TokenValidationParameters"
Some properties have their getters and setters on two separate lines, while others have them on the same line.

The code would look cleaner if we were consistent about this.

[2019-05-22 19:27] mafurman commented on #1185
@brentschmaltz Having the empty constructor for SamlSecurityToken set the Assertion property would require us to use the following constructor, as SamlAssertion does not have an empty constructor.

`public SamlAssertion(
            string assertionId,
            string issuer,
            DateTime issueInstant,
            SamlConditions samlConditions,
            SamlAdvice samlAdvice,

[2019-05-22 19:29] #1105 closed

[2019-05-22 19:29] #1104 closed

[2019-05-23 06:33] brentschmaltz commented on #1185
I wonder how anyone could have used this constructor? I really would like to remove it, but back compat blocks us. These parameters can not be null or empty { assertionId, issuer, samlStatements } and code may depend on that. So defaults would be needed also for assertionId, issuer.

To answer your question: UTC.now for issueInstance.

[2019-05-23 06:34] brentschmaltz commented on #1150
@leastprivilege I am curious how are you creating these keys?

[2019-05-23 19:53] brentschmaltz commented on #1163
@edwardcampbellprojects we made this fix in 5.5.0 that should fix this.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/972

[2019-05-23 21:33] mafurman opened #1188 "We should have a way of retrieving Claim values from a JWT header"
Since this issue (#1169) only relates to the JWT payload, we should implement similar functionality for the JWT header.

We should be able to return a Claim representing a {key, value} pair from the Header from the GetHeaderValue() and TryGetHeaderValue() methods.

We should also add a "Claim GetHeaderClaim(string jsonKeyName)" method that will allow the user to query for a specific Claim directly

[2019-05-23 21:35] mafurman commented on #1169
Since we agreed that this issue only relates to the payload (values returned by the Claims property), I created a separate issue to implement similar functionality for header claims: #1188.

[2019-05-23 23:26] kabronkline commented on #852
This will be very good to have for large enterprise. +1

[2019-05-24 00:23] mafurman commented on #1185
@brentschmaltz I agree; it's unfortunate that we can't remove it.

I'm not sure what the appropriate default value for `issuer` would be... it is a settable property so a user will be able to change it if necessary, but I'm not sure if there's any default value that would necessarily make sense here.

[2019-05-24 01:41] brentschmaltz commented on #1185
Perhaps ClaimsIdentity.DefaultIssuer would be a choice.

[2019-05-24 06:47] leastprivilege commented on #1150
IIRC I was using JsonWebKeyConverter

[2019-05-24 17:39] v-kydela commented on #379
This thread may provide some good insight: https://github.com/Microsoft/BotFramework-Services/issues/78

[2019-05-27 09:37] Riff451 opened #1191 "Regex timeout in JwtTokenUtilities with long jwt"
Hi, I've got this basic code to read a quite big jwt (9MB). I've tried the same code in different machines. It's working well in most of them, but it's failing in two and there's now way to make it works.

The error message is `The RegEx engine has timed out while trying to match a pattern to an input string. This can occur for many reasons, including very large inputs or excessive backtracking ca

[2019-05-27 11:52] AndersAbel commented on #1184
To me, this is not that critical. A common scenario (which is supported now) is that a signed SAML2P Response contains a signed assertion. In that case the assertion signature is probably not even validated, as it is already covered by the response signature.

There are some special cases where the assertion might be extracted and need to be validated on its own. It might be worth looking at the S

[2019-05-27 15:46] Riff451 commented on #1191
I tried in another machine with visual studio enterprise 2019 16.0.1 and it worked.
I then tried to update VS to 16.1.1 and now I've got the same exception, so the new version of VS has installed/changed something that it's now preventing this code to work properly. The interesting thing is that I tried to uninstall completely all VS versions (from Programs and Features in control panel) that I ha

[2019-05-28 08:34] Riff451 commented on #1191
It turned out that updating the project from .net core 2.1 to 2.2 fixes the issue.

[2019-05-28 10:01] GeoK commented on #1177
Hi @festivus, did you get a chance to check if reinstalling the package resolves your issue?

[2019-05-28 14:34] PinpointTownes opened #1193 "Should JsonWebTokenHandler take SecurityTokenDescriptor.Subject into account?"
For some reasons, it seems that the new `JsonWebTokenHandler` no longer honors the `Claim` claims stored in `SecurityTokenDescriptor.Subject`. Instead, you have to populate the `Claims` property (an `IDictionary<string, object>`).

Is it the intended behavior?