[2017-06-09 00:01] brentschmaltz commented on #632
@ycrumeyrolle thinking about this some more, I am wondering if we should move away from returning a ClaimsPrincipal, just validate JWT and then return the Json in the payload as JSON.net objects.

Another possibility is to have a JsonClaimsIdentity that has JSON, integrating into the asp.net stack will require to return Claims. The runtime doesn't support custom ClaimsIdentities, so it would be lo

[2017-06-09 15:36] ycrumeyrolle commented on #632
Maybe something like
[code]
?

[2017-06-13 14:33] DaleMckeown commented on #595
Looking forward to WS-Fed for ASP.NET core. ADFS signin is the last thing preventing me from pushing a load of new & upgraded sites.

[2017-06-15 13:28] risogolo opened #635 "An idea about discovery document to find issuer and key material"
Why functionality for discovery document to find issuer and key material is not incorporated into library and must be done manually like [HERE](https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Clients/src/MvcManual/Controllers/HomeController.cs) method ValidateIdentityToken. It took me 2 days to find out how to do it, I was still expecting that such functionality must be alre

[2017-06-15 23:59] phatcher opened #636 "How to modify code after library version change"
The sample code for Azure B2C (https://docs.microsoft.com/en-gb/azure/active-directory-b2c/active-directory-b2c-devquickstarts-api-dotnet) uses the following to wire up OAuth to JWT

            app.UseOAuthBearerAuthentication(new OAuthBearerAuthenticationOptions
            {
                // This SecurityTokenProvider fetches the Azure AD B2C metadata & signing keys from the OpenIDConnect met

[2017-06-16 20:46] Tratcher commented on #636
You can't. https://github.com/aspnet/AspNetKatana/issues/7. We're working on it.

[2017-06-16 21:47] brentschmaltz commented on #635
@risogolo we currently have code in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Protocols/Configuration/ConfigurationManager.cs#L90 that retrieves metadata from the discovery endpoint. Asp.net has hooked simplified the discovery by layering on top of this, by allowing the setting of just the Authority. https://github.

[2017-06-16 21:49] brentschmaltz commented on #636
@phatcher you can follow the work in the 'dev' branch as we pull in WsFed support. The 5.2.0 release will align Katana with Asp.Net core reducing this frustration.

[2017-06-16 21:49] #636 closed

[2017-06-19 15:28] DSUK opened #637 "Unclear on how you would get a JwtSecurityToken, Securely"
Suppose I have a public key and I received a jwt string randomly from the internet
(for the sake of argument you want to write the function `JwtSecurityToken GetVerifiedJwt(string jwtString, RsaSecurityKey securityKey)` and to throw an exception on an invalid jwt  or "alg": "none")

I know you can write `new JwtSecurityToken(jwtString)` but that wouldn't detect whether the jwt was falsified.

[2017-06-19 23:46] cbrhea commented on #595
Also (patiently) waiting for ADFS in core. It's the only reason we're avoiding the move to core for new projects at the moment.

Excited to see the preview!

[2017-06-20 06:49] risogolo commented on #635
But my code does not run within aspnetcore http pipeline, then you need to figure out how to do reach discovery document, download certificate and translate to the key and that is not straightforward.

[2017-06-20 07:08] leastprivilege commented on #635
You are confusing two libraries here. The above snippet is from my `DiscoveryClient` library.
Microsoft has the `ConfigurationManager<OpenIdConnectConfiguration>`.

Both can be used without the pipeline.

[2017-06-20 20:29] brentschmaltz commented on #637
@DSUK I owe you a sample.

[2017-06-21 00:23] brentschmaltz commented on #602
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/638

[2017-06-21 00:23] #602 closed

[2017-06-21 11:32] risogolo commented on #635
Yep, thank you, it helped

[2017-06-21 11:32] #635 closed

[2017-06-21 18:02] brentschmaltz commented on #604
@mbearup we completed our 5.2.0 build scripts and @lovemaths will work with you to get this fixed

[2017-06-23 16:47] brentschmaltz opened #639 "nightly builds are delayed signed"
seems to be related to new sha2 certs

[2017-06-28 01:01] jacobslusser opened #640 "Encrypted JWTs?"
I'm looking to create an encrypted JWT and I'm a little lost.

**Option 1:** Articles like this one suggest just encrypting the string representation of a JWT:
[https://www.owasp.org/index.php/JSON_Web_Token_(JWT)_Cheat_Sheet_for_Java#Token_information_disclosure](https://www.owasp.org/index.php/JSON_Web_Token_(JWT)_Cheat_Sheet_for_Java#Token_information_disclosure)

**Option 2:** However, this ar

[2017-06-28 15:32] brentschmaltz commented on #639
resolved internally

[2017-06-28 15:32] #639 closed

[2017-06-28 15:36] brentschmaltz commented on #640
@jacobslusser we have unit tests here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/test/System.IdentityModel.Tokens.Jwt.Tests/CreateAndValidateTokens.cs#L620

The model is when calling https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L493

[2017-06-28 15:51] jacobslusser commented on #640
@brentschmaltz, thanks for your response. I have some **follow-up questions**.

Funny you mention that... after posting I persisted for another couple hours and found the `JwtSecurityTokenHandler.CreateJwtSecurityToken` method -- a parent to the one you mentioned. As far as I can tell, that is the only way to create a signed and encrypted token because all the other methods seem to want `SigningCr

[2017-06-28 16:56] brentschmaltz commented on #640
@jacobslusser if you look at the protected header you will see the alg == dir. This is why the encrypted key is missing. It is assumed that the recipient will know the key. When you specified: JwtConstants.DirectKeyUseAlg that instructed the runtime to select 'dir'.

The code to review to understand is here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/

[2017-06-28 17:19] brentschmaltz opened #641 "We should log if any Issuer in TVP.ValidIssuers is null or empty as we do with TVP.ValidIssuer"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens/Validators.cs#L125

[2017-06-29 01:22] jacobslusser commented on #640
@brentschmaltz thanks for your help. Does the code I'm using otherwise look okay for creating an encrypted token -- if I was the creator and consumer?

[2017-06-29 16:07] brentschmaltz commented on #640
@jacobslusser your code seems fine.
I would recommend using the API's that take a SecurityTokenDescriptor. Aside from allowing you to stash items. We are adding api's in 5.2.0 for handling ZIP and other content types (cty). @lovemaths found that it's hard to push delegates etc through the call stack. Similar to TokenValidationParameters that provide a simple extensibility, we will probably adds th

[2017-06-29 23:07] GTValentine opened #645 "First pass review 5.2.0"
Review JwtSecurityTokenHandler and Saml2SecurityTokenHandler for consistency of comments, apis and parameters

[2017-06-30 18:58] GTValentine commented on #645
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/644

[2017-06-30 18:58] #645 closed

[2017-06-30 19:20] brentschmaltz opened #646 "Add SamlAttribute tests that have multiple attributes with same value"
Once the XmlGenerator is committed, create tests with multiple attribute values of equal value

[2017-07-01 01:14] ChenYan98 opened #647 "Should we fault if the 'assertion id' is not per spec?"

[2017-07-02 05:01] brentschmaltz commented on #647
This has caused some issues in the past where this would fail. but given the token is signed by a trusted issuer, we should perhaps be lax here and accept as the issuer set it.

[2017-07-04 17:02] northof490 commented on #595
Any update?

[2017-07-05 23:22] brentschmaltz commented on #595
@northof490 we are moving along nicely. Our 5.2.0 drops on myget https://www.myget.org/gallery/azureadwebstacknightly have the latest.

We have the primitive support for WsFed metadata, Saml2Tokens with signature validation.

[2017-07-06 03:03] brentschmaltz commented on #640
@jacobslusser I will close this now. Please feel free to re-open if you need additional info.

[2017-07-06 03:03] #640 closed

[2017-07-06 07:37] yaronmiz commented on #500
Hi, I am also interested on that, since we multiple apps using WS Federation authentication and we consider switching to .NET Core.
Any updates? Noticed no progress in the last two months..

[2017-07-07 04:09] brentschmaltz commented on #500
@yaronmiz @ryanbuening there has been lots of progress. Our current nightlies have been integrated into Katana. The asp.net team will work with us to get the MW in place for 2.1 release.

[2017-07-07 07:58] Compufreak345 commented on #500
@brentschmaltz
Is this fork available publicly?
We are currently evaluating the migration of multiple .Net 4.6.x projects to .Net Core 2.0, and it would be great if I could get WSFederation to work in a Proof of Concept, and maybe even in a productive environment with some manual work. Do you think this is realistic at the current time, or should we wait for the release of 2.1?

[2017-07-07 13:57] brentschmaltz commented on #500
@Compufreak345 there is no support in asp.net core yet. This is planned in 2.1 release, but they will get a nightlies that you can work with. @Tratcher for additional details.

[2017-07-07 14:11] Tratcher commented on #500
See https://github.com/aspnet/Security/issues/43

[2017-07-13 00:09] nicksav opened #649 "Issue with .net core 2.0 JWT"
Guys, time to time getting 500 Error. When looking as AI:
![image](https://user-images.githubusercontent.com/9266365/28145137-46b571de-67b3-11e7-8721-ff4a0ae8f685.png)

Any idea what might be wrong here?

[2017-07-13 02:21] lovemaths commented on #604
@mbearup @brentschmaltz  Please install the latest dotnet sdk (dotnet-sdk-2.0.0-preview2-006497) from [here](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-preview2-download.md), and try the build.sh in linuxbuild branch. I tested it on ubuntu 14.04. Please let me know if it works for you. Thank you.

[2017-07-13 22:57] brentschmaltz commented on #649
@nicksav could be a bug. Can you sent me the jwt?

[2017-07-14 03:14] thuannguy opened #651 "Naming scheme: System.IdentityModel vs Microsoft.IdentityModel"
Similarly to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/598, but in a wider scope: IdentityModel had the Microsoft.IdentityModel namespace back to .Net 3.5 time, then it was changed to the System.IdentityModel namespace. After checking the latest source in the https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/

[2017-07-14 15:16] brentschmaltz commented on #651
@thuannguy Microsoft.IdentityModel is not the complete equivalent of System.IdentityModel in .Net. It has the parts for OAuth, OpenIdConnect, WsFed with support for Jwt, Saml1 and Saml2 creation and validation. System.IdentityModel will continue to be supported for desktop apps. Yes, Microsoft.IdentityModel provides support for .Net Core and currently these are the assemblies that Asp.Net and othe

[2017-07-14 18:26] brentschmaltz commented on #651
@thuannguy let us know if you have any additional questions.

[2017-07-14 18:26] #651 closed

[2017-07-15 02:26] thuannguy commented on #651
Thank you for a quick response :) I'm developing products around System.IdentityModel heavily so it's good me to know what the "roadmap" is :)

[2017-07-24 18:34] #585 closed

[2017-07-24 18:34] #615 closed

[2017-07-24 18:34] #604 closed

[2017-07-24 18:35] #589 closed

[2017-07-24 18:35] #588 closed

[2017-07-26 14:37] brentschmaltz commented on #649
@nicksav This is not an IdentityModel bug. The null ref is thrown inside System.Text.

I opened: https://github.com/dotnet/corefx/issues/22646

[2017-07-26 14:37] #649 closed

[2017-07-26 20:48] #623 closed

[2017-07-27 18:24] leastprivilege opened #657 "There are reports that KB4025344 breaks 4.x"
see here:

https://github.com/IdentityServer/IdentityServer3/issues/3790

Any idea whats going on?

[2017-07-27 21:30] brentschmaltz opened #658 "Move functionality for TransformFactory inside CryptoProviderFactory and remove TransformFactory"
We need to abstract the obtaining XMLTransforms, the natural place for that is CryptoProviderFactory.

[2017-07-27 21:49] brentschmaltz commented on #657
@leastprivilege I have seen that, I haven't dug into it yet. It looks like a SHA2 issue.
I believe CoreFx is aware.

@bartonjs any ideas?

[2017-07-28 01:40] brentschmaltz commented on #658
We may not be able to move the TransformFactory into M.IM.Tokens as the transforms need Xml support in M.IM.Xml. We may just have to leave it in M.IM.Xml

[2017-07-28 06:47] leastprivilege commented on #657
This happens on plain old .NET with Katana.

[2017-07-28 15:37] brentschmaltz commented on #657
@leastprivilege yes I see it is Katana which implies you are using IdentityModel 4.x.
When I mentioned CoreFx above, i see how that was confusing. I wasn't thinking Core, I meant to indicated that the .Net overall team is aware of this issue.
@AlinCiocan responded on #3790 that SHA2 is in play.

[2017-07-28 15:42] brentschmaltz opened #660 "Add a handler that takes in JSON and returns JSON"
Currently our JwtSecurityTokenHandler returns a ClaimsPrincipal that has a translated representation of the JSON that was found in the JWT. For some customers, it is more natural to work with JSON layer.

This feature would introduce the ability to work with JSON directly.
Hooks could be added to return ClaimsPrincipal if it makes sense.

[2017-07-28 18:59] brentschmaltz opened #661 "SamlConstants.Major and SamlConstants.Minor should be strings not integers"
The code is required to convert all over the place.
Also SamlAssertion.Major, SamlAssertion.MinorVersion should be strings.

[2017-08-01 20:25] bartonjs commented on #657
I don't know of any issues which would have been brought about with servicing within either Windows or the BCL.

Since the callstack shows that you're still using using CAPI classes the only thing I can think of is you somehow used to have PROV_RSA_FULL to PROV_RSA_AES liftup code and it's no longer running; but that'd be something in idfx code.

There's definitely not anything that the BCL is wor

[2017-08-02 21:38] #625 closed

[2017-08-03 17:17] brentschmaltz opened #662 "Add GetSet tests to new types in M.IM.Xml, WsFederation"
Now that these types are locking down, now is the time to add the GetSet tests.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/test/Microsoft.IdentityModel.Xml.Tests/ReferenceTests.cs#L42

[2017-08-03 18:45] brentschmaltz opened #665 "Add Singleton pattern for DSigSerializer."
We need DSigSerializer.Default as a singleton.

[2017-08-03 21:05] #662 closed

[2017-08-04 14:31] WayneCBarker commented on #500
I have several clients that require us to integrate with their identity providers that require ws-federation. We as R & D want to invest in asp.net core and service fabric but this lack of WS-Federation is holding us back. At the moment we are hoping ws-fed will be supported by end of Q4 2018. Does that sound correct?

[2017-08-04 18:39] Tratcher commented on #500
@WayneCBarker the middleware availability is better tracked here: aspnet/Security#43

[2017-08-04 21:21] brentschmaltz opened #666 "Improve IdentityComparer logic."
As we add additional types to compare, the method IsEqual is getting unruly.  We check 'is' everywhere.
A better design would be to have a Dictionary<string, delegate(object, object, CompareContext)>.
Each type will have it's own delegate. For now they could be the current methods.
The string should be: object.GetType().
We will have issues with derived types that we will need to account for.

In

[2017-08-05 00:44] javiercn opened #667 "Issue generating tokens with a certificate on full framework"
I'm trying to generate a JWT token using a certificate as signing credentials and I'm getting an exception from the JwtSecurityTokenHandler.

It seems that it's calling the wrong .net framework api to get the private key.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens/X509SecurityKey.cs#L92

The api below throws

[2017-08-07 17:15] brentschmaltz commented on #667
@javiercn unfortunately this API (GetRSAPrivateKey) is not available on 4.5.x.
We need to rethink how to get the private key for different targets. We may need a new target for 4.6.x needs a new target.

[2017-08-07 18:33] brentschmaltz opened #668 "Add tests to ensure 5.2.0 tokens are compatible with 4.x tokens."
We will need to ensure the Saml tokens generated by 5.2.0 are the same as 4.x. In order to do this we will need to create an assembly that uses 4.x and 5.2.0 at the same time.

What we need to see is
1. that given a set of SecurityTokenDescriptor, both run-times will create the same tokens.
2. given Saml tokens (1 and 2), the ClaimsIdentity created will be the same.

To do this we will need to cre

[2017-08-08 13:24] andreea-anastasescu commented on #657
We are using Identity Server 3 for one of our customers, the application being hosted in cloud, on an Azure Cloud Service. Are there any chances that a similar service pack to be installed on the hosting servers?

[2017-08-09 21:00] #666 closed

[2017-08-11 17:08] WayneCBarker commented on #595
Haven't had an update in a while. Whats the current status?

[2017-08-15 18:00] brentschmaltz commented on #595
@northof490 @WayneCBarker We will be issuing a preview with Katana (https://github.com/aspnet/AspNetKatana/) next week using the 5.2.0 bits. These will have the same API set that asp.net Core will use. The date for Asp.net Core WsFed support has not been set yet.

[2017-08-16 16:29] brentschmaltz commented on #611
This was only happening in tests, which is ok.

[2017-08-16 16:29] #611 closed

[2017-08-16 19:43] brentschmaltz opened #674 "Adjust IdentityComparer to process KnownTypes"
We were skipping over validation of some types because of a single line in CompareAllProperties.
Remove this line and fix tests that are broken.

[2017-08-16 19:48] #674 closed

[2017-08-17 19:03] brentschmaltz opened #675 "Add negative test to IdentityComparerTests for each type in IdentityComparer._equalityDict"
We added new types to this dictionary for comparison routing.
We need to make sure AreEqual will fail for differences.

These tests do not need to be a comprehensive as Claim, ClaimsIdentity or ClaimsPrincipal.
A single failure is sufficient for now.
Follow the pattern of CompareWsFederationConfigurationTest - (remove Test postfix on all tests).

[2017-08-17 19:19] brentschmaltz opened #676 "Add feature of writing signed WsFederationConfig"
We now have support for creating signed xml. We need to add support for signing WsFederationConfiguration when serialized.

[2017-08-17 19:46] brentschmaltz opened #677 "WsFederationMetadataSerializer should return objects rather than setting properties on WsFederationConfiguration"
For example:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Protocols.WsFederation/WsFederationMetadataSerializer.cs#L130

takes a WsFederationConfiguration object and adds a keyInfo. It should rather a KeyInfo and assign the value outside of the method.

Other methods should be changed as well.

[2017-08-17 19:49] brentschmaltz opened #678 "TheoryData generators should be directly below the TestCase`"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/test/Microsoft.IdentityModel.Protocols.WsFederation.Tests/WsFederationConfigurationRetrieverTests.cs#L194

has the theoryData generator near the bottom of the file. This adds additional time to find the test data when needed.

[2017-08-17 20:59] ChenYan98 commented on #661
Fixed

[2017-08-17 20:59] #661 closed

[2017-08-17 21:01] ChenYan98 commented on #646
Done

[2017-08-17 21:01] #646 closed

[2017-08-18 15:20] brentschmaltz opened #680 "Add documentation on Testing strategy and principals"
Add a document describing our testing strategy.

**Describe**
- general strategy and goals
- artifacts that used
  - TheoryDataBase
  - ordering of parameters when calling IdentityComparer.AreEqual
  - CompareContext

[2017-08-18 17:53] brentschmaltz opened #681 "Add checking for Saml DecisionType"
There are only three possible values as per spec: Permit, Deny, Indeterminate.
We should throw on reading if we find anything else.

[2017-08-18 18:16] brentschmaltz opened #682 "Add DSigSerializer Property to Saml, Saml2, WsFederation serializers"
Currently this value is set to the default.
Add a property
public DSigSerialize {get; set;} that cannot be null to SamlSerializer, Saml2Serializer, WsFederationMetadataSerializer

[2017-08-22 19:51] Tratcher opened #685 "JWT tid claim transformation to "http://schemas.microsoft.com/identity/claims/tenantid""
_From @cartervms on August 16, 2017 19:46_

Is there any way to disable this conversion? This is causing issues for us when requests flow between different services, where some are using ASP.NET core and others aren't. This is really inconvenient, because now our shared claim lookup code is having to do .Where( c => c.Equals("http://schemas.microsoft.com/identity/claims/tenantid") || c.Equals("tid

[2017-08-22 19:51] Tratcher commented on #685
_From @cartervms on August 16, 2017 19:46_

For reference: https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/claims

<i>This table lists the claim types as they appear in the ID token. In ASP.NET Core, the OpenID Connect middleware converts some of the claim types when it populates the Claims collection for the user principal:
oid > http://schemas.microsoft.com/identity/clai

[2017-08-22 21:45] mafurman opened #686 "Add a function that compares RsaSecurityKeys to the IdentityComparer class"
Currently, RsaSecurityKeys are compared using the generic CompareAllPublicProperties method. However, this causes the 'Parameters' property to be compared improperly (due to the base type being a ValueType), resulting in two equal RsaParameters being considered unequal.

A function that specifically compares RsaSecurityKeys needs to be added to the IdentityComparer._equalityDict in order to resolv

[2017-08-22 22:16] brentschmaltz commented on #685
@cartervms @Tratcher
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/550
We will handle this post preview.

[2017-08-22 22:16] #685 closed

[2017-08-22 22:21] brentschmaltz commented on #658
For release 5.2.0, we are going to hide extensibility for transforms. We will move things around a bit so that in the future we can add extensibility here, but not for 5.2.0.

[2017-08-22 22:26] #675 closed

[2017-08-23 16:07] Zoxive commented on #595
Is there an Issue for tracking WSTrust13 support? It looks like the latest
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Protocols.WsFederation/WsFederationMessage.cs#L184
only supports WsTrust2005

You can see the old one would try WSTrust13 first.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-

[2017-08-23 18:26] brentschmaltz commented on #596
@mafurman  We need to change telemetry values for 5.2.0.
Have a different value for Core and Desktop

[2017-08-24 00:35] #677 closed

[2017-08-24 00:35] #678 closed

[2017-08-24 22:49] brentschmaltz commented on #658
For now we are going to just put classes in correct ns.

[2017-08-24 22:54] brentschmaltz commented on #657
@leastprivilege we haven't close this, i stopped tracking it because I saw that changing the version to .net 4.6.2 (I think) solved the issue. Do you need this investigated further?

[2017-08-24 22:55] brentschmaltz commented on #647
@ChenYan98 have a look at this one.

[2017-08-24 22:56] brentschmaltz commented on #641
@lovemaths yours to fix.

[2017-08-24 22:57] brentschmaltz commented on #632
@ycrumeyrolle I opened the following to add such a feature: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/660

[2017-08-24 22:57] #632 closed

[2017-08-24 23:08] brentschmaltz opened #688 "Add support for WsTrust 1.3 when processing WsFedMessage"
Currently we only support trust 20005.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Protocols.WsFederation/WsFederationMessage.cs#L184
only supports WsTrust2005

You can see the old one would try WSTrust13 first.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsof

[2017-08-24 23:11] brentschmaltz commented on #595
@Zoxive nice we need to support both.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/688

We are working our way through back-compat test to ensure SAML1 (4.x) == SAML1 (5.2.0), etc. We haven't gotten to WsFed yet.

We Saml1 we have
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/668

[2017-08-25 17:03] brentschmaltz opened #689 "Finish ValidateToken for SamlSecurityTokenHandler"
We put ValidateToken completion on hold for until we had support for writing SamlToken with signatures.
Now that that work is available, we should finish ValidateToken for SamlTokens.
The Framework code is in place, we need to make sure we have:
1. Enough test coverage
2. Comments are correct.
3. Validate returns expected ClaimsPrincipal.

[2017-08-25 17:10] brentschmaltz commented on #668
We finished the first part for AttributeStatement.
When https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/689 is complete, we can finish 2 and compare ClaimsIdentities.

[2017-08-25 17:14] brentschmaltz opened #690 "Add perl script to check LogMessages"
The script should
1. Ensure usage specifies the correct number of parameters
2. LogMessages are being used and call out any unused messages
3. Ensure ID is the prefix of the string

[2017-08-25 17:18] brentschmaltz opened #691 "Review LogMessages across assemblies to ensure partitioning of error space"
In 5.2.0 we have added a number of new assemblies. Each of these has a LogMessage file.
Each of these should have it's own range for error id's.
Some messages are duplicated.

For example: Saml and Saml2 both define: IDX10400.

[2017-08-25 18:09] brentschmaltz opened #693 "Modify nuget version naming to be consistent with other corefx nugets"
Currently packages are named: 5.2.0.408171133-pre
Following dotnet-core we should be: 5.2.0-preview1-408171133

Needed for KatanaPreview

[2017-08-25 20:27] brentschmaltz commented on #693
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/dc400665c6ef539514849d79c94c8539f798477c

[2017-08-25 20:27] #693 closed

[2017-08-27 06:31] 2211868381 opened #697 "where's the documentation ?"
where's the documentation ?
Thank you

[2017-08-27 16:37] brentschmaltz commented on #697
@2211868381 you are not the only one asking this.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/601

We can't get it all done at once, can you help us help you by providing some priority?

Please add comments to #601

[2017-08-27 16:37] #697 closed

[2017-08-27 16:44] brentschmaltz commented on #637
@DSUK I am moving all questions about documentation into #601.

Could you chime in on what your priorities would be?

[2017-08-27 16:44] #637 closed

[2017-08-27 16:49] brentschmaltz commented on #601
@brockallen I saw the confused emoji.  It is unlikely we can get all the documentation in for the 5.2.0 release.
So I am looking for suggestions on priority of documentations.

@mhamri thanks for your suggestion.

@2211868381 @ghost @grokit @nickolasacosta  @DUSK can you add your priorities here?

[2017-08-27 16:49] brentschmaltz commented on #222
@ghost @grokit @nickolasacosta
We are moving all documentation related items to #601
Please comment there. It would be great if you could add items in priority.

[2017-08-27 16:49] #222 closed

[2017-08-27 17:00] 2211868381 commented on #601
Documentation

[2017-08-27 20:54] #641 closed

[2017-08-27 20:55] #591 closed

[2017-08-28 01:19] 2211868381 commented on #601
@brentschmaltz Show us basic usage, such as how to create a token, how to select an algorithm, Encode And Decode a token, thank you.

[2017-08-28 21:10] brentschmaltz opened #699 "Remove XmlEncryptionException"
The 5.2.0 release will not support Encryption for XML.
So we should just delete this file.

[2017-08-28 21:41] #686 closed

[2017-08-28 21:42] #596 closed

[2017-08-28 22:11] #579 closed

[2017-08-29 13:10] aibars opened #701 "Missing Newtonsoft.Json 9.0.1 dependency while calling the WriteToken method"
Hi,

I get a FileLoadException while trying to use the WriteToken exception:

FileLoadException: Could not load file or assembly 'Newtonsoft.Json, Version=9.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference.

Here's is the stack trace:
System.TypeInitializationException: The type ini

[2017-08-29 14:40] brentschmaltz commented on #578
@mafurman have a look at this when you have a chance.

[2017-08-29 14:43] brentschmaltz commented on #701
@aibars it may be that there is a newer version of JSON.NET.  Have you tried adding a .Net binding redirect ?
https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/bindingredirect-element

[2017-08-29 15:30] aibars commented on #701
@brentschmaltz  yes, i tried adding:
<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="9.0.1" /> AND
<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
in the app.config file in the class library where I'm trying to use the library

[2017-08-30 20:24] lovemaths commented on #595
@Zoxive I made a PR https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/703 for WSTrust13 support, please take a look.

[2017-08-31 17:19] #699 closed

[2017-08-31 18:59] ChenYan98 opened #704 "The URI attribute in Reference element must start with #"
We didn't check if the URI start with #. Please check https://www.oasis-open.org/committees/download.php/3406/oasis-sstc-saml-core-1.1.pdf
5.4.2 for more detail.

[2017-09-06 15:23] brentschmaltz opened #706 "Post symbols for debugging"
Users do not have access to symbols for the nuget packages.
We need to provide symbols.

[2017-09-06 15:39] brentschmaltz opened #707 "Add support for CBOR Web Token"
A 'CBOT Web Token' (CWT) is a compact form of JWT.

Spec is here:
https://tools.ietf.org/html/draft-ietf-ace-cbor-web-token-03

[2017-09-06 15:42] brentschmaltz opened #708 "Add CI build support"
We need support for continuous integration on builds and tests for PR's.
Currently we use an internal build tool that has no community visibility.

Review what asp.net and corefx are using and develop an implementation that fits in.

[2017-09-06 15:50] GTValentine opened #709 "Inconsistencies in *SecurityTokenHandler.cs"
- Saml has "#region fields" and "#region methods", but not the other two files
- In Jwt, the properties could be sorted in a much more concise way. All **IDictionary<string, string>** should probably go together, and so should **private static string _shortClaimTypeProperty** and **private static string _jsonClaimTypeProperty**:

[code]

- Naming: in Jwt, **_shortClaimTypeProperty** and **_jsonCla

[2017-09-06 17:26] brentschmaltz opened #710 "Add a functionality that will allow a single handler to interact with multiple IdentityProviders"
Currently only a single IdentityProvider is serviced at a time. This requires multiple handlers with either a different endpoint per IdentityProvider (via RedirectUri) or catching validation exceptions, understanding the exceptions should be pushed to the next handler and coding it up.

It would be much better if there was multiplexing on the identity providers.
For example, find a handler that ca

[2017-09-06 17:29] brentschmaltz commented on #704
For sure we should be strict on writing.
On receiving, I am not so sure. If the receiver trusts the IdentityProvider then the absence of a '#' is really insignificant. The token will be validated.
This falls into the category of strict on send, lax on receive.

[2017-09-06 17:29] #704 closed

[2017-09-06 17:31] #665 closed

[2017-09-06 19:14] mafurman opened #711 "Delete unused strings in LogMessages.cs"
Currently, a lot of the error strings in the LogMessages.cs files are unused. They should be deleted as they are no longer necessary.

[2017-09-06 19:20] mafurman opened #712 "Make sure the ID of each message is the same as the prefix of its string value in LogMessages.cs"
Some of the messages used in LogMessages.cs have variable names that are inconsistent with their string values.

For example in Microsoft.IdentityModel.Xml:

`internal const string IDX21403 = "IDX21402: Unable to write XML. One of the values in Reference.Transforms is null or empty.";`

[2017-09-06 20:49] GTValentine opened #713 "Inconsistencies in *SecurityToken.cs"
-
[code]
use ```nameof```
 - again, I think Saml2SecurityToken and SamlSecurityToken should inherit from another common ancestor. There's a lot of duplicate code between these two classes.

[2017-09-06 21:07] GTValentine opened #714 "Inconsistencies in *Serializer.cs"
- ```using System.Collections.Generic;``` is unnecessary in WsFed
- ```/// Reads the &lt;saml:Action> element.``` why do we encode '<' but not '>'?
- ```else if (0 == value.Length)``` should be ```else if (value.Length == 0)``` for consistency. Also
[code]
and ```                if (null != type)```. And other places, run a regex search.

-
[code]
All || should be on the previous lines. Should pro

[2017-09-06 23:26] ohadschn commented on #480
Is there a recommended workaround? Basically this fails:

[code]

[code]

[2017-09-07 01:53] brentschmaltz opened #716 "Add support for TokenBinding"
TokenBinding is a technique for ensuring artifacts travel on a specific channel.

Design in support for TokenBinding for IdentityModel

[2017-09-07 02:02] brentschmaltz commented on #480
@PinpointTownes @ohadschn Kevin is correct, we have to address this.

Have you tried this ctor? https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/RsaSecurityKey.cs#L45

[2017-09-07 06:48] PinpointTownes commented on #480
@brentschmaltz the real question is... do you envision a fix within the next 2 years? I reported this bug more than a year ago :sweat_smile:

[2017-09-07 09:26] ohadschn commented on #480
@brentschmaltz thanks for the tip! Looks like this is working:

[code]

[2017-09-07 09:58] assafb81 opened #717 "digital signature: sign data on server and validate on client side"
Hi,
my goal is to use digital signature in order to prevent MITM attack.
my private key and public key are saved in PEM files.

I have a code in client side that is working.
I can sign and verify data  with jsrsasign package.
sign:
[code]

verify:
[code]
How can I sign (using private key in PEM file and alg 'SHA256withRSA') in the server side using System.IdentityModel.Tokens.Jwt in my server side

[2017-09-07 15:02] brentschmaltz commented on #480
@ohadschn glad it worked.
@PinpointTownes fair enough. POR is to get this into 5.2.0 release.

[2017-09-07 15:15] brentschmaltz commented on #717
The PEM key will need to be translated into a SecurityKey that IdentityModel understands. Looks like rsa.KEYUTIL seems to do that.
Then this sample may help you: https://github.com/brentschmaltz/Wilson5x/tree/master/src/CreateTokens

[2017-09-07 23:44] brentschmaltz commented on #667
@lovemaths we should get this fixed with https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/480

[2017-09-08 13:39] samsmithnz commented on #379
I know this is a year old, but is there an Azure AD sample out there now? I'm having a bit of trouble finding a good working example to clone.

[2017-09-08 17:09] brentschmaltz opened #718 "Rewrite older JWT tests to follow new testing pattern"
Jwt related tests under - <root>/tests/System.IdentityModel.Tokens.Jwt.Tests do not follow the newer pattern established for the 5.2.0 release.

See https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/test/Microsoft.IdentityModel.Xml.Tests/DSigSerializerTests.cs#L42 for an example.

Once https://github.com/AzureAD/azure-activedirectory-identitymodel-extens

[2017-09-10 06:29] assafb81 commented on #717
Hi,
I looked at the example you send me...it seems to be a lot of trouble only for signing.
I tried using bouncyCaslte library on the server side - converting PEM private key AsymmetricKeyParameter that bouncyCastle understands.
But the verification fails on the client side.

[2017-09-11 00:06] Zoxive opened #719 "SamlSerializer support for more complex KeyInfo inside Signature"
Doing some testing with the new WsFederation stuff (#703). I get the following exception testing against one of my Issuers (that is saml1). It appears the SamlSerailizer doesn't like my more complex KeyInfo element.

Here is a test with an example token I threw together showing the error:

[code]

[2017-09-11 00:08] Zoxive commented on #688
#703 is merged. This should be good to go!

[2017-09-11 18:26] brentschmaltz commented on #717
@assafb81 can you post a link to assafb81? Perhaps we should have first class support for PEM keys.

[2017-09-11 18:32] brentschmaltz commented on #719
@Zoxive will address before releasing.

[2017-09-11 21:17] brentschmaltz commented on #719
@Zoxive I see what is going on now. We need to expand the DSigSerializer support for KeyInfo.
see TODO's in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Xml/DsigSerializer.cs#L150

[2017-09-11 22:31] #688 closed

[2017-09-11 22:31] #676 closed

[2017-09-11 23:24] #690 closed

[2017-09-11 23:32] #712 closed

[2017-09-12 05:41] assafb81 commented on #717
the link to : [https://www.bouncycastle.org/csharp/index.html](url)
I did not find forum/support link in that site

[2017-09-12 07:48] assafb81 opened #723 "Sign data with key in PEM"
I want to work with keys that are stored in PEM files.
I am using jsrsasign library (part of  supported libraries from [jwt.io](https://jwt.io/))

I could not understand how I can in **C#**:
1. read private key, stored in PEM file.
2. sign data

using 'System.IdentityModel.Tokens.Jwt' dll.
I tried to use BouncyCaslte dll but I am getting different key and signature from the one I am getting when I

[2017-09-12 18:26] ChenYan98 commented on #689
#715

[2017-09-12 18:33] brentschmaltz commented on #668
This was scoped to AuthenticationStatement generated by SecurityTokenDescriptor.
Please close this and open two new issues.
1. For AuthenticationStatement, AuthorizaitonDecisionStatements. P2
2. JWT vs. SAML2 vs Saml1 in 5.x. (tests are disable) P1

[2017-09-12 18:34] #711 closed

[2017-09-12 18:44] #578 closed

[2017-09-12 18:51] brentschmaltz commented on #691
Once this is done we will be in a position to provide FAQ's and help on error messages.

[2017-09-12 20:20] ChenYan98 opened #724 "Enhance CrossVersionTokenValidation.Tests test cases"
Add AuthenticationStatement, AuthorizaitonDecisionStatements test cases to CrossVersionTokenValidation.Tests.

[2017-09-12 20:28] ChenYan98 opened #725 "Add test cases to ensure jwt, saml and saml2 tokens are compatible"
Make sure ClaimsPrincipals generated by JWT, saml and saml2 are identical.

[2017-09-12 20:30] ChenYan98 commented on #668
Create issue #724 and #725.

[2017-09-12 20:30] #668 closed

[2017-09-13 08:23] assafb81 commented on #723
I finally solved the issue with jose-jwt dll.

[2017-09-13 11:28] leastprivilege opened #726 "New Saml1.1 token handler strips the attribute namespace during token validation"
which means the result ClaimsIdentity will only have claims that use the attribute name for the claim type - the attribute namespace is missing.

This is a radical change from the .NET Framework version of the token handler - and will make migration hard.

[2017-09-13 12:34] leastprivilege commented on #726
You also seem to change the SAML authentication method claim to amr -

I thought we had this discussion already (many times). Leave those claim types alone.

[2017-09-13 18:16] brentschmaltz commented on #209
The design for #595 decouples SignatureValidation from Reading. The 'KeyInfo' is never used to validate a token, but instead to find a 'trusted' key in TokenValidationParameters. Because of this change, we don't need this feature.

[2017-09-13 18:16] #209 closed

[2017-09-13 18:48] brentschmaltz commented on #691
Partition id's as per xls that we worked on.

[2017-09-13 21:34] brentschmaltz commented on #726
@leastprivilege we are working to do that, we are not quite done yet.

[2017-09-13 21:38] brentschmaltz commented on #726
@ChenYan98 can you have a look into this, does https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/668 need additional work?

[2017-09-14 02:21] brentschmaltz commented on #468
Modified title to reflect that this is general in nature across all token types. Perhaps in SecurityTokenHandler

[2017-09-14 04:24] #714 closed

[2017-09-14 04:25] #713 closed

[2017-09-14 05:29] #723 closed

[2017-09-14 05:31] assafb81 commented on #717
The issue is resolved.
In a nutshell: I am using jose-jwt package in the server side in order to create a Token in the server side, the data is stored in the sub property in the Claims section.
On the client side I verify the token using jsrsasign package.

[2017-09-14 05:31] #717 closed

[2017-09-14 20:20] ChenYan98 commented on #726
According to my understanding, this is the bug we already found in #668 and it has been fixed in current code. @leastprivilege can you please check if the following code is what you are talking about. https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/668b50de3d8ad77e7b3f5dceb0ee79768c6e5104/src/Microsoft.IdentityModel.Tokens.Saml/Saml/SamlSerializer.cs#L329

[2017-09-14 21:48] ChenYan98 commented on #726
@leastprivilege Let me double check, if you are using preview1? This code has been updated to dev branch couple days ago. You can get the last assembly from our daily build.

[2017-09-14 22:58] ChenYan98 commented on #725
#732

[2017-09-14 22:59] #689 closed

[2017-09-15 00:11] brentschmaltz opened #733 "Add additional info into nuget package"
Link to Repo:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

Tags:
OpenIdConnect, OAuth, Json Web Token, Saml Token, Saml2 Token, .NET, Windows, Authentication, Identity

[2017-09-15 00:27] brentschmaltz opened #734 "Add support for Saml2 EncryptedAssertion"
Saml2 tokens can have encrypted assertions, we didn't get them into 5.2.0.

[2017-09-15 00:33] #691 closed

[2017-09-15 21:04] #726 closed

[2017-09-17 11:28] 616b2f opened #735 "WsFed metadata with signature fails"
Hi, i am trying to write an WsFed module for IdentityServer4. When i generate a signature for metadata it's looks like this:

[code]
The reference element has an "Id" but no "URI" attribute serialised.

When i try to consume the metadata with OWIN WsFederation module i get this error:

[code]
Is it a bug and do i need "Id" attribute at all or just the "URI" attribute by WsFed specification?

Thank

[2017-09-18 16:42] wyle-e-coyote opened #736 "Q: Token validation with Azure KeyVault (within identity server 4)"
This is within an Identity Server 4 environment.  Please see this ticket for details [IdentityServer4 1537](https://github.com/IdentityServer/IdentityServer4/issues/1537).

I'm currently successfully signing tokens using Azure KeyVault.  However, when I retrieve the public keys for validating the signature, I am getting the following exception (again more details in link above):

[code]
Public por

[2017-09-18 20:02] wyle-e-coyote commented on #736
Fixed. It was a problem with the way I was encoding the bytes returned from Azure KeyVault after signing the token. I was encoding with base64 string instead of url 😢

[2017-09-18 20:02] #736 closed

[2017-09-19 17:48] brentschmaltz commented on #735
@lovemaths can you look into this?

[2017-09-19 18:28] 616b2f commented on #735
sure:
[code]

if i try to consume it with WIF IdentityModel module via WebConfig (with SSL disabled) it works, so maybe it's just because OWIN Module expects SSL. But the error is still strange and when i change EnvelopedSignatureWriter to add URL Attribute, I get this:

[code]

[2017-09-19 20:30] brentschmaltz commented on #735
@616b2f @lovemaths the exception stack shows this error is occurring in System.IdentityModel and not our 5.2.0 release. Looks like a 4.x issue. Since 4.x is a wrapper over System.IdentityModel is probably the culprit.
System.IdentityModel.Reference.ExtractReferredId() +265
System.IdentityModel.EnvelopedSignatureReader.OnEndOfRootElement() +2

@616b2f I was able to read this WsFed metadata with our

[2017-09-19 21:54] lovemaths opened #737 "Breaking changes in Microsoft.IdentityModel.Tokens"
1. Microsoft.IdentityModel.Tokens.SecurityKeyIdentifierClause is made an abstract class in 5.2.0
2. Microsoft.IdentityModel.Tokens.SecurityToken ReadToken(System.Xml.XmlReader) is changed to Microsoft.IdentityModel.Tokens.SecurityToken ReadToken(System.Xml.XmlDictionaryReader). We can change it back to its original, since this method is virtual and not used anywhere in the code.
3. Void ValidateTo

[2017-09-20 13:04] KaareKarlsen opened #739 "XmlException when loading FederationMetadata.xml"
When trying to read the FederationMetadata.xml from ADFS2016 the WsFederationMetadataSerializer throws an exception:

{Microsoft.IdentityModel.Xml.XmlReadException: IDX13000: Exception thrown while reading WsFedereationMetadata. Element 'EntityDescriptor'. Caught exception: 'System.Xml.XmlException: 'Element' is an invalid XmlNodeType. Line 1, position 60183.
   at System.Xml.XmlReader.ReadEndElem

[2017-09-20 14:46] brentschmaltz commented on #739
@KaareKarlsen thanks.
@lovemaths we will have to get together with our lab guys to obtains different versions of WSFedMetatada for ADFS v2, 3, 4.

[2017-09-20 15:34] brentschmaltz opened #740 "Add method: public virtual string CreateEncodedToken(SecurityTokenDescriptor tokenDescriptor)"
Add to SecurityTokenHandler.
This method will simplify output of tokens.

[2017-09-20 16:45] 616b2f commented on #735
@brentschmaltz thank you for your help.

For reference, both errors are caused by invalid certificate. (see https://stackoverflow.com/questions/44707800/azure-web-app-with-adfs-for-authentication-unable-to-create-to-obtain-configur)

[2017-09-21 19:03] #737 closed

[2017-09-21 19:03] #709 closed

[2017-09-21 19:48] brentschmaltz opened #743 "Saml2SecurityTokenHandler WriteToken should use a TextWriter when writing Saml2Tokens."
Current code creates a XmlWiter which adds an XmlDeclaration.
We should also specify UTF8 encoding when creating the declaration.

[2017-09-21 19:48] brentschmaltz opened #744 "SamlSecurityTokenHandler WriteToken should use a TextWriter when writing SamlTokens"
Current code creates a XmlWiter which adds an XmlDeclaration.
We should also specify UTF8 encoding when creating the declaration.

[2017-09-21 19:55] brentschmaltz opened #745 "Add logic to SamlTokenHandler to add default Token Expiration Times as JwtSecurityTokenHandler"
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L500

We need logic around: SetDefaultTimesOnTokenCreation, DefaultTokenLifetimeInMinutes,

[2017-09-21 19:56] brentschmaltz opened #746 "Add logic to SamlToken2Handler to add default Token Expiration Times as JwtSecurityTokenHandler"
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L500

We need logic around: SetDefaultTimesOnTokenCreation, DefaultTokenLifetimeInMinutes,

[2017-09-21 20:23] brentschmaltz opened #747 "SamlSecurityTokenHandler has hardcoded strings in exception messages."
See: CreateAttribute, CreateAuthenticationStatement, CreateSubject, SetDelegateFromAttribute, ReadToken
Add meaningful log messages to LogMessages.cs

[2017-09-21 20:35] brentschmaltz opened #748 "Review how should System.Security.Claim map to Saml1 SamlAttribute"
Currently we fault if a claim can't be split into name namespace.
Should be have a default namespace for claims that are simply 'name'?

[2017-09-21 21:42] brentschmaltz commented on #744
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/750

[2017-09-21 21:42] #744 closed

[2017-09-21 21:42] brentschmaltz commented on #743
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/750

[2017-09-21 21:42] #743 closed

[2017-09-22 00:00] #725 closed

[2017-09-22 07:26] foobert opened #752 "JWT validation regex' don't account for full base64 character set"
JWT validation fails for some JWTs with an ArgumentException being thrown.

According to RFC7519, Section 3:

According to RFC4648, Section 4, base64 also contains `+` and `/` as well as padding `=`. However both regex' used for validation only include `_` and `-` as special characters (besides alphanumerical ones).

This raises an ArgumentException when trying to parse or validate the JWT.

Affec

[2017-09-22 11:02] lauthu opened #753 "FIPS compliant issue with System.IdentityModel.Tokens.Jwt, Version=4.0"
Hi, we are a team from Microsoft, and we are using  System.IdentityModel.Tokens.Jwt, Version=4.0, as below:
[code]
when we trying to validate this token using `JwtSecurityTokenHandler.ValidateToken(string, TokenValidationParameters, out SecurityToken)`, we encoutered this FIPS uncompiant error:
[code]

Does this mean this library's implementation not FIPS compliant? Does new version of System.Iden

[2017-09-22 18:53] 616b2f opened #755 "AuthenticationProtocolMessage.BuildFormPost() produces wrong encoded form input values"
Hi,

when i use WsFederationMessage and use BuildFormPost(), the produced form submit can't be readed by wsfed clients.

I think instead of Uri.EscapeDataString() we should use WebUtility.HtmlEncode()

[code]

I tested it an with this change it worked well.

[2017-09-22 19:09] Tratcher commented on #755
Also encode PostTitle, ScriptDisabledText, ScriptButtonText, etc..

[2017-09-22 22:48] brentschmaltz commented on #755
@616b2f  do you want to put together a PR against the dev branch?

[2017-09-22 22:53] brentschmaltz commented on #753
@lauthu The 4.x version of IdentityModel layers of System.IdentityModel. You can CryptoConfig. If that doesn't work, then  reopen this issue and then we can look for a solution.

[2017-09-22 22:53] #753 closed

[2017-09-22 22:55] brentschmaltz commented on #752
Can you share the JWT?
Jwt's are base64Url encoded not base64.

[2017-09-23 09:04] 616b2f commented on #755
@brentschmaltz I wanna try. I am new two github and open source dev, so feel free to correct me when I do something agains best practice.

Thank you

[2017-09-24 05:30] brentschmaltz commented on #755
@616b2f awesome. A working knowledge of Git is a good skill these days. We will walk you through your first commit.
We usually do the following. Create a topic branch off of 'dev', by issuing the git command while in the dev branch: git checkout -b <topic>. Do all the work in that branch, then issue a Pull Request from that branch.

[2017-09-25 02:46] brentschmaltz commented on #755
@616b2f @Tratcher  merged PR #757

[2017-09-25 02:46] #755 closed

[2017-09-25 07:55] foobert commented on #752
Sorry, I misread RFC7519 and didn't see the "url" part (even though I quoted it). Thanks for pointing it out again :-)

[2017-09-25 07:55] #752 closed

[2017-09-25 10:35] AndersAbel opened #758 "Saml2 Metadata support plans?"
I'm working on porting the Kentor.AuthServices SAML2 P library and have got stuck on the Metadata classes. What are the plans to implement those? As far as I can see there is no MetadataSerializer available (yet) and a lot of the classes for metadata representation (e.g. ContactPerson) are missing.

[2017-09-25 18:16] brentschmaltz commented on #758
@AndersAbel for our 5.2.0 release we are focused on support for consuming WsFed messages. For that we need: TokenEndpoint, Keys and Issuer. We may extend that for vNext. I suggest you open an issue asking for full or subset Metadata support. I can then mark the issue with "User reported".

[2017-09-25 18:16] #758 closed

[2017-09-25 18:29] AndersAbel opened #759 "Full SAML2P/WS-Federation Metadata support"
As discussed in #758, it would be great to have full metadata support, e.g. ContactPerson, Organization, AttributeConsumingService. To be able to both parse and generate metada, both the classes representing metadata contents as well as a serializer are needed.

[2017-09-25 18:31] AndersAbel commented on #758
@brentschmaltz thanks for quick response. I'll focus on reading the endpoints for now and get back to porting the full metadata support once #759 has been discussed.

[2017-09-25 20:01] brentschmaltz commented on #759
@AndersAbel thanks, we will review this for next release.

[2017-09-25 20:22] #733 closed

[2017-09-26 15:58] AndersAbel opened #761 "Saml2SecurityTokenHandler.ValidateToken(XmlReader)?"
`System.IdentityModel.Tokens.Saml2SecurityTokenHandler` accepted an `XmlReader` as a parameter to `ReadToken()`. This was great when processing a SAML2P response - it was possible to start reading the protocol message and then hand over to the `Saml2SecurityTokenHandler` when the assertion was encountered. Would it be possible to get that behaviour back?

There can still be an overload that accept

[2017-09-26 16:15] AndersAbel commented on #761
I just learned that `TokenValidationParameters.SignatureValidator` is an existing API - so this would obviously be a hard breaking change.

[2017-09-26 16:15] #761 closed

[2017-09-26 18:21] brentschmaltz commented on #490
@RussKie I am closing this as I think the solution really is: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/660

[2017-09-26 18:56] brentschmaltz commented on #719
@mafurman add support for RSAKeyValue. KeyInfo.cs will need new property and DSigSerializer will need to expand ReadKeyInfo

[2017-09-26 19:25] brentschmaltz opened #762 "Add api to create new RSASecurityKey"
For POP scenarios it is common to require a RSA key.
This API would abstract the underlying crypto operators that change for different OS's and runtimes (Core vs. Desktop)

[2017-09-26 20:18] brentschmaltz commented on #480
@PinpointTownes @lovemaths  Perhaps we need a new API that has a tri-state. Yes/No/Donotknow. Then we can fault on No. What I want to change is any attempted use of the key as we are assuming a specific crypto provider and using the one associated with the key. I am in favor with what Jermery suggested, it looks like trying to help users fail early doesn't actuallly help in this case.

[2017-09-26 22:17] RussKie commented on #490
We put on ice all .net core exercises and this PR has gone stale...
I still maintain your implementation is contrary to the spec.

I am not sure how you envisage for #660 to address the issue.

[2017-09-26 22:19] RussKie commented on #660
There is also another issue which I raised a year ago - https://github.com/dotnet/corefx/issues/11082#issuecomment-242279236

[2017-09-26 23:51] brentschmaltz commented on #660
@RussKie we would need make a couple of changes to support something like: FooClaim : Claim, FooClaimsPrincipal flowing though the asp.net runtime (or any other runtime).
Currently asp.net serializes  using https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/Data/TicketSerializer.cs#L117. A FooTicketSerializer could be used. Alternatively, we added some APIs that ca

[2017-09-27 00:22] brentschmaltz commented on #595
@leastprivilege @Zoxive @WayneCBarker @ClintRhea @northof490 @ClintRhea closing this as we dropped Preveiw1 and it has been integrated into Katana and Core. We will open issues as needed.

[2017-09-27 00:22] #595 closed

[2017-09-27 00:32] ChenYan98 commented on #747
#760

[2017-09-27 00:32] #747 closed

[2017-09-27 19:28] brentschmaltz commented on #490
@RussKie apoligies, closed the wrong issue.

[2017-09-27 21:33] brentschmaltz commented on #667
@lovemaths we GetRSAPrivateKey() was introduced in 4.6.
Can we find a way to determine if _privateKey = RSACertificateExtensions.GetRSAPrivateKey(_certificate) exists? Either by finding out the actual runtime version OR runtime info. RuntimeInfo is richer on Desktop that Core (reflection)

[2017-09-27 22:21] lovemaths commented on #739
committed the fix to dev.

[2017-09-27 22:21] #739 closed

[2017-09-27 23:14] mafurman opened #766 "The DSigSerializer read methods are not consistent with those of WsFederationMetadataSerializer"
Currently, the DSigSerializer read methods (ex. ReadIssuerSerial()) return void, but those of WsFederationMetadataSerializer all return the type that was read. The methods in DSigSerializer should be changed to behave in a similar way.

[2017-09-28 16:01] brentschmaltz commented on #766
We should fix this for 5.2.0 release

[2017-09-28 16:11] brentschmaltz opened #767 "RsaSecurityKey.Parameters should be nullable."
While it is not possible now to make it nullable.
Another property should be added perhaps RsaParameters? RsaParameters that is nullable.

[2017-09-28 16:22] brentschmaltz opened #768 "Add support to DSigSerializer to write RSAKeyValue"
DSigSerializer can read a RSAKeyValue and needs to write an RSAKeyValue.
Add support in DSigSerializer.WriteKeyInfo

[2017-09-28 16:26] brentschmaltz opened #769 "Add support for validating XML signatures that have RSAKeyValue"
RSAKeyValue does not have a traditional 'kid' so current matching logic will result in all keys being tried OR failure. We need to expand key matching in TokenValidationParameters to match RSAKeyValue against X509SecurityKey, RsaSecurityKey, JsonWebKey.

[2017-09-28 16:42] brentschmaltz opened #770 "Remove Test definitions from dependencies.props"
Currently '<root>\build\dependencies.props' has defines for test.
    &lt;TestSdkVersion>15.0.0&lt;/TestSdkVersion>
    &lt;XunitVersion>2.2.0&lt;/XunitVersion>

Create a new file 'dependenciesTest.props' and move them there.
Then include this into 'commonTest.props'

[2017-09-28 18:35] brentschmaltz opened #771 "Microsoft.IdentityModel.Tokens.LogMessages should not be public"
This causes a problem for other libraries that have the same logging messaging structure.
In 5.1.4 it was internal, we should change it back.

see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens/LogMessages.cs#L33

[2017-09-28 20:14] brentschmaltz opened #772 "DSigSerializer will throw on Empty KeyInfo element"
If the KeyInfo xml is empty, the Serializer will try and read the empty element.

[2017-09-28 20:31] brentschmaltz commented on #772
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/773

[2017-09-28 20:31] #772 closed

[2017-09-28 20:37] brentschmaltz opened #774 "Add tests to ensure that we can read the WsFederation that we write"
We should write the metadata and then read it to make sure we can read what we write.
Here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/test/Microsoft.IdentityModel.Protocols.WsFederation.Tests/WsFederationConfigurationRetrieverTests.cs#L70

we should do what we do here:  https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for

[2017-09-28 20:41] brentschmaltz opened #775 "Add tests to ensure we can read the DSig elements we write."
We should write the metadata and then read it to make sure we can read what we write.
Here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/test/Microsoft.IdentityModel.Xml.Tests/DSigSerializerTests.cs#L111

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/test/Microsoft.IdentityModel.Xml.Tests/DSigSerialize

[2017-09-28 22:53] brentschmaltz opened #776 "Using JSON.Net 10.0.1 causes exception in JsonConvert.DeserializeObject"
Switch JsonNetVersion from 10.0.1 to 9.0.1. By using version 10, this library will get exception when call JsonExtensions.DeserializeJwtPayload() which use JsonConvert.DeserializeObject by default.

[2017-09-28 22:55] brentschmaltz commented on #776
We should understand why this is happening.

[2017-09-28 23:50] ChenYan98 commented on #701
#765

[2017-09-28 23:50] #701 closed

[2017-09-29 20:35] brentschmaltz opened #777 "KeyInfo class should be modified so it can represent additional elements available in DSig."
Currently the KeyInfo class is unstructured and could represent the structure of the DSig KeyInfo element.

Specifically:
1. Create a X509Data class
2. Create an IssuerSerial class with natural properties
3. KeyInfo should expose a collection of X509Data.
4. X509Data should have properties: IssuerSerial, SubjectName, Collection of X509Certificate, SKI, CRL (all strings),
5. Add KeyName to KeyInfo

[2017-09-29 20:49] ChenYan98 commented on #681
#764

[2017-09-29 20:49] #681 closed

[2017-09-29 20:54] #719 closed

[2017-09-29 22:09] lovemaths commented on #774
@brentschmaltz  we already had the tests.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/test/Microsoft.IdentityModel.Protocols.WsFederation.Tests/WsFederationConfigurationRetrieverTests.cs#L422

[2017-09-29 22:10] #774 closed

[2017-09-30 05:37] lovemaths commented on #537
merged to dev branch.

[2017-09-30 05:37] #537 closed

[2017-10-02 12:09] domedellolio commented on #595
@brentschmaltz It is not clear for me if the support to WSFed/Saml has been released or not.
I mean, is there a middleware available?

[2017-10-02 12:13] PinpointTownes commented on #595
@domedellolio the WS-Federation middleware is being ported ATM. You can track the progress here: https://github.com/aspnet/Security/tree/tratcher/wsfed. It will be released as an out-of-band package for ASP.NET Core 2.0.

[2017-10-02 12:18] domedellolio commented on #595
@PinpointTownes same for SAML?

[2017-10-02 12:19] PinpointTownes commented on #595
@domedellolio you mean the SAML 2.0 protocol? (SAMLP)

[2017-10-02 12:20] domedellolio commented on #595
Yes of course @PinpointTownes

[2017-10-02 12:21] PinpointTownes commented on #595
SAMLP has never been supported by Microsoft and AFAIK, there's no plan to support it in .NET Core.

[2017-10-02 12:23] domedellolio commented on #595
You're right. I was looking to a way to authenticate with ADFS, so my question
Thanks @PinpointTownes

[2017-10-02 16:40] brentschmaltz commented on #595
@PinpointTownes correct, we still have no POR for SAMLP.

[2017-10-03 12:40] vanillajonathan opened #780 "ValidateToken throws undocumented FormatException"
The `ValidateToken` method in the `JwtSecurityTokenHandler` class throws a undocumented `FormatException`.

Example input: `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.e30.f`

[2017-10-03 21:03] ChenYan98 commented on #490
#781

[2017-10-03 23:11] ChenYan98 commented on #647
Agree

[2017-10-03 23:11] #647 closed

[2017-10-04 12:17] brockallen commented on #647
What did  you decide? As a side note, I've done tons of integrations with crappy implementations that don't use URIs and I've had to do ugly workarounds to make it validate.

[2017-10-04 13:57] angularsen opened #782 "Changelog and upgrade path for 3.x to 4.x"
Hi, where can I find the changelog or upgrade path from 3.0.2 to 4.x?

The current [CHANGELOG.md](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/CHANGELOG.md) only covers changes from 4.x to 5.x.

### An example, upgrading from 3.0.2 to 4.0.4

These properties no longer exists and I can't seem to find equivalent ones with intellisense:

[code]

Bef

[2017-10-05 11:08] vanillajonathan commented on #780
The method documentation does not declare the possibility of `SecurityTokenValidationException` either.

[2017-10-05 17:57] mafurman opened #784 "Add code to compare a KeyInfo object to a RsaSecurityKey, X509SecurityKey, or JsonWebKey"
Pull request #783 removes the KeyInfo.Kid property, so we no longer have a way of matching a KeyInfo object with a specific security key. We need to come up with another method of doing this.

[2017-10-05 23:38] brentschmaltz commented on #782
@angularsen can you move to 5.x?

[2017-10-06 09:33] angularsen commented on #782
I am not entirely sure yet, until I have tried it. Would it be an easier transition to 5.x than to 4.x?

From what I have read previously there has been a lot of issues with upgrading to 5.x for people on the OWIN and Katana stack, and we are also running that. That is, we are not running ASP.NET Core.

From what I can read on the issues list here, it seems that 5.2.0 addresses that, but it's all

[2017-10-06 21:11] brentschmaltz opened #785 "Review xml reading to ensure Empty elements are handled correctly"
There is a pattern in the code where a check is made for an expected element.
Many places in the code are written as: reader.ReadEndElement(), which will throw. We need to make sure those errors do not bubble up to the application layer.

A set of tests is needed.

[2017-10-06 21:49] brentschmaltz commented on #480
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/778

[2017-10-06 21:49] #480 closed

[2017-10-06 21:58] 616b2f commented on #735
@brentschmaltz @lovemaths I need to reopen it again. I had time to re investigate that issue and i found this in .NET Framework 4.7:

http://referencesource.microsoft.com/#System.IdentityModel/System/IdentityModel/EnvelopedSignatureReader.cs,5cf738cc538c3219

[code]

http://referencesource.microsoft.com/#System.IdentityModel/System/IdentityModel/SignedXml.cs,0aa982a771a81540

[code]
Maybe i overse

[2017-10-06 23:02] #490 closed

[2017-10-07 09:14] PinpointTownes commented on #480
I'm not opposed to having new APIs, but the "fix" you ended up implementing is just abominably wrong:

  - It does not fix the original API so any app using it won't get any benefit from this "fix" when moving to the latest IM bits.

  - The new API uses `ExportParameters(true)` to determine whether there's a private key or not. This is wrong because this will always fail with non-exportable softw

[2017-10-08 15:27] AndersAbel commented on #735
Even though the URI attribute in the XML-Signature standard is optional, it is not in the SAML2 standard. I don't know exactly how the WS-Fed standard relates to this, but this might explain the behaviour in the .NET Framework.

5.4.2 References
-------
SAML assertions and protocol messages MUST supply a value for the ID attribute on the root element of the assertion or protocol message being sign

[2017-10-09 17:13] Tratcher commented on #500
An official preview is now available. See https://github.com/aspnet/Security/issues/1473

[2017-10-10 17:40] DaveVoyles commented on #379
Looking for the same, @samsmithnz

[2017-10-11 14:26] Tratcher opened #786 "Unable to parse WsFed metadata from Windows ADFS 2016 or 2012 R2"
See
https://github.com/aspnet/Security/issues/1473#issuecomment-335726577
https://github.com/aspnet/Security/issues/1473#issuecomment-335779826

[2017-10-11 19:49] lovemaths commented on #786
@Tratcher This a duplicate with #739, we fixed this issue in dev branch.

[2017-10-11 19:57] Tratcher commented on #786
Ok, let us know when there's a signed update on myget they can test.

[2017-10-11 20:10] brentschmaltz commented on #786
Closing will let you know.

[2017-10-11 20:10] #786 closed

[2017-10-11 20:11] brentschmaltz opened #787 "Add tests to make sure empty elements are handled correctly in WsFederation Serializer"
The WsFed serializer in a number of locations assumes that the XML is not an empty element such as in here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Protocols.WsFederation/WsFederationMetadataSerializer.cs#L129

This would fail if element is empty.

[2017-10-11 21:26] brentschmaltz opened #788 "JsonWebToken should use CultureInvariant as RegexOption"
In this code we compile, we should also use the CultureInvariant option.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityToken.cs#L65

[2017-10-11 21:46] brentschmaltz commented on #788
In addition, use case insensitive and create a RegEx static member data for each expression. .
From users email: "On your end, this is a simple problem to avoid. Instead of calling Regex.IsMatch, create a Regex instance for each regular expression, and hold onto it in a static readonly field. Then at runtime, call IsMatch on that instance. This avoids reliance on the cache mechanism and makes your

[2017-10-11 22:39] #777 closed

[2017-10-12 15:40] ashgadala commented on #739
@lovemaths How do we test this commit?

[2017-10-12 17:14] brentschmaltz opened #790 "JsonWebToken should use CultureInvariant as RegexOption"
We need to make two changes to Regex.IsMatch
1. add CultureInvariant option.
2. create two static Regex variables and use them to preform the match.

See  JwtSecurityToken and JwtSecurityTokenHandler.

[2017-10-12 17:31] lovemaths commented on #739
@ashgadala We haven't released it yet. If you want you can download this library, switch to dev branch, and add a unit test to test it.

[2017-10-12 20:27] brentschmaltz commented on #788
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/789

[2017-10-12 20:27] #788 closed

[2017-10-12 22:49] ChenYan98 commented on #724
#793

[2017-10-13 01:13] brentschmaltz opened #794 "Large 'exp' values are not handled."
Customer reported:

Normally the “exp” claim in a valid token looks like this “1492151232” so I would agree that “1507680819080” is a little ridiculously oversized.  Our service is getting thousands of these and correctly returning 401s.

This should be handled gracefully.

[2017-10-13 15:57] brentschmaltz opened #795 "Large 'exp' values are not handled."
Customer reported:

Normally the “exp” claim in a valid token looks like this “1492151232” so I would agree that “1507680819080” is a little ridiculously oversized. Our service is getting thousands of these and correctly returning 401s.

This should be handled gracefully.

[2017-10-13 18:44] Zoxive opened #796 "5.2.0 Preview 2 ETA/Plan?"
Just went to try 5.2.0 Preview 1 and ran into a few issues, then i noticed that the Preview 1 package is a month old.(https://www.nuget.org/packages/Microsoft.IdentityModel.Protocols.WsFederation/5.2.0-preview1-408290725)

Well that explains things, as the things i wanted to use were completed in the last month.
#703
#763

Is there a plan for a preview 2?

[2017-10-13 18:49] Tratcher commented on #796
@brentschmaltz I'd like to at least get a working build on myget to validate some of the fixes. That could wait until you've finished your feature work if needs be.

[2017-10-13 20:47] brentschmaltz commented on #796
@Zoxive @Tratcher POR is to drop preview2 next week, we are finishing up some XML validation.

[2017-10-13 20:47] #796 closed

[2017-10-14 11:11] locutus80 commented on #739
@lovemaths  Sorry, noob here, is there an updated nuget I can download with this fix please? Not 100% sure how I'd extract the bit I'd need from downloading the dev branch. ALternatively is there a timeframe you can share? Thanks

[2017-10-15 01:21] brentschmaltz commented on #739
@locutus80 you can pick up packages from our nightlies here: https://www.myget.org/gallery/azureadwebstacknightly

Currently these packages are not signed, but you can install these regkeys to bypass strong name.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/build/strongNameBypass.reg
https://github.com/AzureAD/azure-activedirectory-identitymodel-ext

[2017-10-15 01:49] brentschmaltz commented on #480
@PinpointTownes please feel free to open an issue (again) for a new TFM for 4.6.0+.

We are addressing #675 #581 #488 and will fix this code at the same time https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens/ECDsaSecurityKey.cs#L72
As this is clearly not a good idea, given we don't know where the key lives.

I consid

[2017-10-15 01:56] brentschmaltz commented on #782
@angularsen the majority of the BIG changes are in the SAML / WsFed support. If you are using OIDC / JWT / OAuth most changes are at the bug fix level.

[2017-10-15 01:58] brentschmaltz commented on #647
@brockallen we landed on: lax when receiving, spec compliant when creating.

[2017-10-15 09:50] PinpointTownes commented on #480
I'm fine doing that, but this ticket should be re-open to fix the existing API on existing targets.

Actually, it could even be a `bool`, because the decrypting/encrypting/signing/verifying operation either fails or succeeds (there's no intermediate state).

[2017-10-16 13:04] locutus80 commented on #739
Thanks @lovemaths really appreciate that. I'll have to check VSTS and see if I can get it to use that package source and not check for signed packages

[2017-10-16 17:23] #766 closed

[2017-10-16 17:23] #768 closed

[2017-10-16 17:25] mafurman opened #797 "Add in RoundTripToken tests using JsonWebKeys and RsaSecurityKeys for signing and validation"
Tests need to be added to both SamlSecurityTokenHandlerTests.cs and Saml2SecurityTokenHandlerTests.cs.

[2017-10-16 19:25] brentschmaltz opened #798 "Add delegate for ReadToken similar to SignatureValidator"
Customers that have legacy code or who want to apply different configuration for tokens could use this delegate to read the token once, obtain the correct policy and proceed with validation.

[2017-10-16 19:25] brentschmaltz opened #799 "Add delegate for ReadToken similar to SignatureValidator"
Customers that have legacy code or who want to apply different configuration for tokens could use this delegate to read the token once, obtain the correct policy and proceed with validation.

[2017-10-16 22:21] brentschmaltz commented on #449
@bgever we are just finishing up 5.2.0 in reviewing this is going to be a bit hard, you will need to overload the cryptoProvider.IsSupportAlgorithm. I suspect you would like to see something on TokenValidationParameters. Perhaps ValidSigningAlgorithms, similar to ValidIssuers. If so, can you open a new bug for that.

Look here: https://github.com/brentschmaltz/Wilson5x/blob/master/src/ValidateToke

[2017-10-16 22:21] #449 closed

[2017-10-16 22:42] brentschmaltz commented on #507
I am closing this because we can't bring back validation against a SecurityToken object. It is too problematic. The most important part of the validation is the signature. There is no guarantee of anything unless the signature validates. I don't want to give users any idea that anything else makes sense. We dropped this API as such. We will be adding API's to hook reading delegates to TokenValidat

[2017-10-17 17:35] reicher001 commented on #739
Do we have a rough idea of when this will be released?  This will allow me to determine at which point it makes sense to try and get the package from the nightlies working or wait on the signed release.

[2017-10-17 19:03] brentschmaltz commented on #780
@vanillajonathan what is the expectation here? The exception is thrown in ReadToken outside of ValidateToken.

[2017-10-17 19:09] brentschmaltz commented on #769
This is being handled in #784

[2017-10-17 19:09] #769 closed

[2017-10-17 19:22] brentschmaltz commented on #739
@reicher001 we are in the final stages of shipping. We are feature complete, triaging bugs, finalizing tests and docs. It shouldn't be long.

[2017-10-17 19:38] vanillajonathan commented on #780
@brentschmaltz That the `ValidateToken` method internally calls the `ReadToken` method is something internal to your API and none of my concern as an user of the API.
I called `ValidateToken`, not `ReadToken`.

When I call a method, such as `ValidateToken` then I read the documentation for the method to know which exceptions I can expect.

I called `ValidateToken` and the application crashed with

[2017-10-17 19:42] brentschmaltz commented on #735
@616b2f @AndersAbel this issue is when we create metadata or saml tokens that are signed, correct?
As other stacks need the URI.

[2017-10-17 22:15] reicher001 commented on #739
@brentschmaltz can you provide any details on what you are defining as "long"?  (days, weeks, months, ...)

[2017-10-17 22:32] PinpointTownes commented on #507
So the answer you give to people who want a validation method in `SecurityTokenHandler` to ensure that the token (and specially the signature) is valid is... nope, no such thing for you?

Again, this makes no sense. But that's an habit with this library and this team.

[2017-10-18 17:55] brentschmaltz opened #800 "Enable Microsoft.IdentityModel.Tokens.Tests.PerformanceTests.Jwt_Performance"
This test was disabled while xml tokens were being developed. We need this with a baseline against 4.x and System.IdentityModel for xml tokens.

[2017-10-18 23:25] bgever commented on #449
Thanks a lot for the sample code @brentschmaltz. Now I also understand who or what Wilson was, as mentioned by @polita. 😄

In practise, we haven't seen a situation where we actually had to restrict the algorithms yet, as they haven't been marked as obsolete or insufficient. Theoretically this can still happen in future - think SHA-1. With your code sample there is at least a workaround.

Indeed yo

[2017-10-19 01:28] brentschmaltz commented on #449
@bgever it would be great if you would open the issue. It is good to show that customers are looking for such a feature, helps in triage.

[2017-10-19 02:10] brentschmaltz commented on #507
@PinpointTownes I call foul here, we take a number of asks. When you suggested that unsolicated WsFed message should fail, I got right on board.
The tension is sometimes between the way things were in System.IdentityModel circa 2005 and today.

What I am saying is that an API of the form ValidateToken(SecurityToken, ...) is impossible (well hard), to ensure that the SecurityToken (as an object) wa

[2017-10-19 02:13] brentschmaltz commented on #739
weeks. we have validation and some perf to get through.

[2017-10-19 02:19] brentschmaltz commented on #780
@vanillajonathan the transitive closure of all exceptions is hard. But, exceptions that an internal library method throws should be in scope.
I agree, we should document this exception in ValidateToken OR better yet, catch the exception ReadToken throws, wrap it inside SecurityTokenValidationException.

[2017-10-19 07:51] PinpointTownes commented on #507
Not sure if I'm supposed to laugh or cry.

Again, this makes absolutely no sense.

All the existing handlers you develop (i.e JWT, SAML and SAML2) already expose a `public virtual ClaimsPrincipal ValidateToken(string token, TokenValidationParameters validationParameters, out SecurityToken validatedToken)` that is part of the public contract and thus can be both called and overridden by the "averag

[2017-10-19 09:03] vanillajonathan commented on #780
@brentschmaltz Oh yeah, about `SecurityTokenValidationException`, that's not documented either. 😄
Only `ArgumentNullException` and `ArgumentException` are documented.

Not sure whether validation failure ought to be considered something exceptional either.

[2017-10-19 09:06] AndersAbel commented on #735
@brentschmaltz Yes, when you create those things you should specify a URI. A strict implementation (such as the .NET Framework) rejects anything that doesn't conform exactly to the 5.4.2. rules. I also think that this should be validated when processing XML signatures. Better safe than sorry when it comes to XML signature processing.

[2017-10-19 13:52] brentschmaltz commented on #507
@PinpointTownes - please laugh.
I thought you were asking for the overload with (SecurityToken, ...), which I can't support.
Defining public abstract SecurityTokenHandler(string, tvp, out securityToken) is fine.

This ask makes sense. I will reopen.

[2017-10-19 14:06] brentschmaltz commented on #780
@vanillajonathan SecurityTokenValidationException is documented on ValidateSignature. If every exception that is by a caller, then the summary comments would get unruly.  What I suggest is that we state that we throw: ArgumentException, ArgumentNullException, or SecurityTokenValidationException (or derived). Anything else would be wrapped.

`Not sure whether validation failure ought to be consider

[2017-10-19 14:12] brentschmaltz commented on #735
@616b2f @AndersAbel  I agree with strict outbound.
Inbound I have found that being lenient is helpful.
Consider the case where an STS sets the id, but not the uri. The receiver has a trust relationship with the sts and assuming the metadata has been obtained securely, the token is valid (signature, exp, audience, issuer, etc...). Why not accept the token? With an enveloped signature, changing any

[2017-10-19 14:34] PinpointTownes commented on #507
`abstract` will be a breaking change. You'll probably want to make it virtual instead.

I explicitly asked for `ClaimsPrincipal ValidateToken(string token, TokenValidationParameters validationParameters, out SecurityToken validatedToken)` but...

... it's not clear why you couldn't also add a `ClaimsPrincipal ValidateToken(SecurityToken token, TokenValidationParameters validationParameters)` overl

[2017-10-19 14:41] brentschmaltz commented on #507
@PinpointTownes yea, virtual.

Once a token has been deserialized into a .Net object, it is very hard to ensure that the signature is valid. Even if the original string exists, how do we make sure all artifacts in the SecurityToken are what arrived?
SignatureValidation is an integral part of validation. If the Signature doesn't validate, nothing about the claims should be assumed.

[2017-10-19 14:48] PinpointTownes commented on #507
Isn't that what properties like `JwtSecurityToken.RawData` are for? i.e retrieving the original token that was read by the `ReadToken` API?

[2017-10-19 15:21] brentschmaltz commented on #507
`RawData` was originally envisioned to set the bootstrap context on the ClaimsIdentity so OnBehalfOfFlows would work. It is hard to reconcile that all the Claims in a hydrated token map to the `RawData`. There is an interesting flow where hydrating a token once makes sense, when multiple Identity Providers are involved. In this case you need the 'iss' to get the metadata (keys, issuer, ...).

[2017-10-19 15:25] brentschmaltz commented on #776
JSON.NET detects invalid unicode sequences.

[2017-10-19 18:16] brentschmaltz commented on #771
use the same technique as internals invisible
https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.internalsvisibletoattribute.aspx

It was an internal class in 5.1.3.

[2017-10-19 18:30] #795 closed

[2017-10-19 20:13] vanillajonathan commented on #780
@brentschmaltz I new up an instance of the `JwtSecurityTokenHandler` class, perhaps I press F12 and check what's in there. I call the public method `ValidateToken`. All I see is the method signature and the XML documentation. There is no way for me to know that it internally calls `ValidateSignature` since I didn't write the method and I don't see the code.

A developer can't be expected to go on

[2017-10-19 22:36] brentschmaltz commented on #780
@vanillajonathan I agree that the user should know what exceptions to expect and what they mean. Let me see what we can do.

[2017-10-20 01:25] lovemaths commented on #667
@javiercn What are your environment and the details of the exception you got? You repo runs fine on my windows machine.

[2017-10-20 03:31] javiercn commented on #667
@lovemaths the test is disabled on full framework. I’ll give you a branch you can use tomorrow.

The easiest thing to do would be to add a netstandard2.0 target in the library.

[2017-10-20 07:04] AndersAbel commented on #735
Being helpful in what you accept is usually good, but when it comes to security being strict can provide defence in depth.

XML Signature wrapping attacks are based on tricking a program to believe that data is protected by a signature, when it is in fact not. The Wilson enveloped signature reader assumes that the containing element is the signed data, which is always true for SAML2 scenarios. So

[2017-10-20 18:15] brentschmaltz commented on #735
@AndersAbel we agree here there is no wrapping attack in this case - enveloped over entire xml. Still, we are changing this code to require an id or uri match by default. We are also going to fix the creation to add the 'uri to ensure back-compat with System.IdentityModel.
When multiple references are involved, such as full blown WS-Security, care must be taken to ensure substitution attacks are m

[2017-10-20 18:54] brentschmaltz commented on #776
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/802

[2017-10-20 18:54] #776 closed

[2017-10-20 19:45] arc2018 opened #804 "InvalidOperationException: IDX10803: Unable to obtain configuration from: 'https://DevIDPServer/sts/Metadata.xml'"
I get this error when start the application. it is not able to complete the configuration from Federation Metadata. if I enter the metadata url on the browser I am able to see the xml, but only issue I see is that there is  a certificate error, which I override on the browser. would that be an issue causing this?

my config:
` public void ConfigureServices(IServiceCollection services)
        {

[2017-10-20 19:50] arc2018 commented on #804
oops..looks like I posted it in the wrong place...

[2017-10-20 20:59] javiercn commented on #667
@lovemaths You can clone the repo and comment this line
https://github.com/aspnet/Identity/blob/dev/test/Microsoft.AspnetCore.Identity.Service.FunctionalTests/TraditionalWebApplicationTests.cs#L23
When you run the tests it will fail.

[2017-10-20 22:39] Tratcher commented on #804
@brentschmaltz any idea why you'd get a XmlReadException for an https failure?

[2017-10-20 23:21] lovemaths commented on #667
@javiercn I am not able to build the repo from visual studio 2017, using build command in command line also doesn't work. How do I build it and run the test?

I am not sure why adding a netstandard2.0 target would make a difference. If the test is targeting at netstandard 2.0, and picking up our netstandard 1.4 assemblies, the test will call the code between #if NETSTANDARD1.4 and #else, i.e. "_pr

[2017-10-21 14:46] arc2018 commented on #804
@Tratcher  thank you for your response.
I added the BackchannelHttpHandler,  but that did not make any difference, I get the same error. It does not look an issue due to the certificate error. it show a different error related security when I return false in the ServerCertificateCustomValidationCallback
this is the new code:
`public void ConfigureServices(IServiceCollection services)
        {

[2017-10-21 15:59] brentschmaltz commented on #804
@arc2018 can you post the wsFed metadata xml.
This statement
`Microsoft.IdentityModel.Xml.XmlReadException: IDX13004: Security token type role descriptor is expected.`

indicates the xml is not as expected. We are expecting at least one 'RoleDescriptor'

[2017-10-21 18:20] arc2018 commented on #804
@brentschmaltz   thank you for your help. I am attaching metadata.xml

[Metadata_xml.txt](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/files/1404356/Metadata_xml.txt)

[2017-10-23 18:29] brentschmaltz commented on #804
@arc2018 the issue is our code expects to find a <RoleDescriptor xsi:type="fed:SecurityTokenServiceType"  ... which is where we will look for keys.

We could relax this, as it's optional

[2017-10-23 20:11] #771 closed

[2017-10-23 21:47] brentschmaltz commented on #804
fixed commit https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/79be3ea38fc5f5e18c4f4e4a90857162f456ebb8

[2017-10-23 21:47] #804 closed

[2017-10-23 21:47] brentschmaltz commented on #787
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/79be3ea38fc5f5e18c4f4e4a90857162f456ebb8

[2017-10-23 21:47] #787 closed

[2017-10-24 17:32] #784 closed

[2017-10-25 02:57] Matt-D-Dee opened #805 "JWT's signing certificate's expiry date is not checked once loaded (Version 5.1.4)."
# To reproduce
* Create public/private certificate pair.
* Install the public cert.
* Configure your settings like so:
[code]
* Create a JWT that's signed with the private key.
* Throw it at the web-site in the HTTP `authorization` header - all is good
* Change the computer's dated to something *past* the public cert's expiry date (without restarting the process).
* Throw the same JWT at the web-s

[2017-10-25 15:50] brentschmaltz commented on #805
@Matt-D-Dee we will check it out.

[2017-10-26 16:24] brentschmaltz commented on #805
@Matt-D-Dee this is a bug, we are missing this check. Will fix in 5.2.0

[2017-10-26 23:59] brentschmaltz commented on #780
@vanillajonathan @mafurman given that this is the main entry point for users.
Can we add a "remarks" section that will contain the exceptions in the individual subcalls and write somethining like: This method calls: ValidateAudience that can throw:
You can find most of the call graph in M.IM.Tokens/Validators.cs
 /// <exception cref="SecurityTokenInvalidAudienceException">If <see cref="TokenValida

[2017-10-27 08:30] vanillajonathan commented on #780
@brentschmaltz That would be an improvement since it would be easier to discover the exceptions when:
- browsing the source code on GitHub
- looking up the documentation online on docs.microsoft.com
- Go To Definition (<kbd>F12</kbd>) in Visual Studio

Keep in mind though that IntelliSense in Visual Studio does not include information from the `<remarks`> tag.

[2017-10-27 17:41] brentschmaltz commented on #780
@vanillajonathan good point about f12.
@mafurman make sure that F12 shows the exception details. That may mean we don't put the exceptions in the remarks.

[2017-10-27 18:32] #797 closed

[2017-10-28 00:12] brentschmaltz commented on #794
dup

[2017-10-28 00:12] #794 closed

[2017-10-28 00:23] Matt-D-Dee commented on #805
Thanks, will let the testers know :-)

[2017-10-31 05:51] angularsen commented on #782
Ok thanks, I'm closing this until I get more progress on the project and know whether I'll be going for 4.x or 5.x.

[2017-10-31 05:51] #782 closed

[2017-11-01 06:43] thuannguy commented on #476
I have a big product which relies heavily on System.IdentityModel. I want to migrate it to the Core stack but the lack of IdentityModel support makes it an impossible task for me :(

[2017-11-01 21:43] #785 closed

[2017-11-01 21:50] #780 closed

[2017-11-02 15:14] brentschmaltz commented on #476
@thuannguy we have added support for Saml2, Saml1, WsFed (not fully compatible) in to our 5.2.0 release which has 45, 451 and netstandard1_4 targets. 5.x already had support for OAuth2/OIDC.

System.IdentityModel does not have support for OAuth2/OIDC.

Please open an issue for WsTrust support here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet . See: https://

[2017-11-03 08:21] AndersAbel opened #815 "NameID validation rules in Saml2Serializer"
In [Saml2Serializer.ReadNameIdTyp](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/82ecdbd6454a1900e963c315fe54ff3c4656b7e7/src/Microsoft.IdentityModel.Tokens.Saml/Saml2/Saml2Serializer.cs#L1018) some validation is done on the name identifier. There's two potential issues with this.

1. The validation is only done if `nameIdentifier.Format` is explicitly s

[2017-11-03 16:28] brentschmaltz commented on #815
@AndersAbel my experience with these types of issues leads me to relax on receive and strong on send. However, sometimes the community pushes back on this. For example, a dsig reference should have a uri, but it could also have an id. Some folks argued for existence of uri as begin necessary. The requirement of a SAML ID being a certain format caused issues when matching with the reference uri and

[2017-11-03 18:13] brentschmaltz commented on #657
this should be fixed with https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/813 with 5.2.0. An upgrade to Katana will be necessary.

[2017-11-03 18:13] #657 closed

[2017-11-03 18:32] brentschmaltz commented on #815
@ChenYan98 have a look at this line: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens.Saml/Saml2/Saml2Serializer.cs#L1023

Look at Saml1 also.

[2017-11-03 18:38] #775 closed

[2017-11-03 18:51] #805 closed

[2017-11-03 19:07] #798 closed

[2017-11-06 02:53] thuannguy commented on #476
Thank you :) I have been watching [azure-activedirectory-identitymodel-extensions-for-dotnet](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues) closely. Hope that one day it will be mature enough to replace the current System.IdentityModel.

Regarding OAuth2/OIDC: yep, it is irrelevant in this context. I use another 3rd library to implement OIDC server.

[2017-11-06 15:33] homam1 opened #816 "Trying to use the library with IdentityServer IdP / WS-Federation, and getting the following error"
I already posted this before [here](https://github.com/aspnet/Security/issues/1497). but again following it up here.

Trying to use the library with IdentityServer IdP / WS-Federation, and getting the following error

An unhandled exception occurred while processing the request.

[code]
Using JWT Token.

**Note**, this is not during reading the metadata, however, after authentication and redirecti

[2017-11-06 20:15] brentschmaltz opened #817 "Ensure that all calls to the EventSource use LogHelper"
Some parts of the code are calling: IdentityModelEventSource.Logger.WriteInformation
Replace this with the appropriate LogHelper function.

[2017-11-06 20:18] brentschmaltz opened #818 "Ensure that all exceptions that are thrown through LogHelper."
If an ArgumentNullException is thrown without using LogHelper, then the error will not show up in logs.
These type of param checks should use LogHelper.

[2017-11-06 22:08] #706 closed

[2017-11-06 22:25] #724 closed

[2017-11-07 00:47] mafurman opened #822 "Make sure that LogHelper.FormatInvariant() is used instead of String.Format() for all exceptions"

[2017-11-07 15:44] brentschmaltz commented on #816
@homam1 I believe this is fixed. We posted nightlies here:
https://www.myget.org/feed/azureadwebstacknightly/package/nuget/Microsoft.IdentityModel.Xml/5.2.0-preview1-41106221449

[2017-11-07 15:44] #816 closed

[2017-11-08 11:43] homam1 commented on #816
Is it just adding a library and the problem should gone?

[2017-11-08 13:19] homam1 commented on #816
Is this working with ASP.Net core with .Net framework ?

[2017-11-08 13:29] homam1 commented on #595
Any update here guys ?
Supporting WSTrust13 in ASP.Net Core?

[2017-11-08 13:33] homam1 commented on #688
@Zoxive  what about ASP.Net core?

[2017-11-08 14:51] AndersAbel opened #824 "Microsoft.IdentityModel.Tokens.Saml2.Saml2SecurityTokenHandler.ValidateSignature throws on missing signature"
`Microsoft.IdentityModel.Tokens.Saml.dll!Microsoft.IdentityModel.Tokens.Saml2.Saml2SecurityTokenHandler.ValidateSignature(string token, Microsoft.IdentityModel.Tokens.TokenValidationParameters validationParameters)` throws a `NullReferenceException` if the Saml2 assertion contains no signature, even though `TokenValidationParameters.RequireSignedTokens` is `false`.

I hit this when debugging again

[2017-11-08 20:11] brentschmaltz commented on #824
@AndersAbel thanks for finding this.  If you can provide a stack or sample that would be great. Should be easy enough to repro though.

[2017-11-08 20:12] brentschmaltz commented on #824
@mafurman can you have a look at this?

[2017-11-08 21:56] mafurman commented on #824
Taking a look at this now!

[2017-11-09 01:49] mafurman commented on #824
@AndersAbel The issue should be fixed now. 👍

[2017-11-09 01:49] #824 closed

[2017-11-09 01:53] #822 closed

[2017-11-09 01:55] #818 closed

[2017-11-09 02:30] #817 closed

[2017-11-09 05:18] brentschmaltz commented on #824
@AndersAbel we just pushed 5.2.0-preview1-41109045532.

[2017-11-09 06:58] AndersAbel commented on #824
Thanks for quick response and action. I've downloaded the new package and it now works.

[2017-11-09 13:30] ryanbuening commented on #804
@brentschmaltz I'm also getting this error: `IDX13004: Security token type role descriptor is expected.` Is there an updated build I can grab to test your fix? Thanks.

[2017-11-09 21:22] mafurman opened #826 "Add in logic to hide PII from log exception messages by default"
We need to make sure that our log messages do not display any PII.

[2017-11-10 22:51] mafurman opened #829 "Create a test that will check if all custom Exceptions are found by LogHelper"
When the 'ShowPII' flag is off, LogHelper.FormatInvariant() needs to know if we're throwing an exception whose message is safe to display. We need to create a test that will ensure all exceptions created by us are properly found by this method.

Depends on #826 being completed.

[2017-11-13 13:51] DaanWasscher opened #831 "Nullref exception while reading wsFederation metadata"
My idp gives me a metadata document where the attribute "use" is missing on the KeyDescriptor element. This results in a nullreference exception from "WsFederationMetadataSerializer".

The spec (https://docs.oasis-open.org/security/saml/v2.0/saml-metadata-2.0-os.pdf) tells me that the "use" attribute is optional.

In my case the provided certificate is used for signing the tokens.

Version "5.2.0-

[2017-11-13 15:03] leewadhams commented on #739
Hi, any further update on a potential release date for the package please?

[2017-11-14 07:12] DaanWasscher commented on #831
The commit only partially fixes the problem.

The nullref exception actually originates in method "ReadSecurityTokenServiceTypeRoleDescriptor" of the wsfederationmetadataserializer.

`if (reader.IsStartElement(Elements.KeyDescriptor, Namespaces.MetadataNamespace) && reader.GetAttribute(Attributes.Use).Equals(keyUse.Signing))`

The attribute is missing, hence calling the Equals method fails.

[2017-11-14 18:19] lovemaths commented on #831
@DaanWasscher If possible, can you provide a copy of your metatadata document so I can test the whole document.

[2017-11-14 21:16] petrovic-ivan opened #834 "JSON Web Token validity verification passed on .NET Core but failed on .NET 4.6.1"
I opened this issue on stackoverflow because I am not able properly to verify is JWT token valid or not. I am using JWKS downloaded from URL and try to validate JWT. I am using same code for both .Net 4.6.1 and .Net Core. In .Net Core validation passed but in .Net 4.6.1 validation failed.

I am expecting validation to pass becasue I used valid JWT.

I saw that `AsymmetricSignatureProvider` handle

[2017-11-15 11:30] DaanWasscher commented on #831
Of course, it is attached as a zip file because github does not accept .xml files.

[FederationMetadata.zip](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/files/1474469/FederationMetadata.zip)

[2017-11-15 17:26] brentschmaltz commented on #834
@petrovic-ivan we will get to the bottom of this. It would be helpful if you could indicate what exception is occurring. If you could include the token and keys.
@lovemaths please help petrovic.

[2017-11-15 21:06] lovemaths commented on #834
@petrovic-ivan I tried the code provided in stackoverflow, it seems to work for .NET 4.6.1. What are the version of Microsoft.IdentityModel.Tokens and System.IdentityModel.Tokens.Jwt you are using? I am using 5.2.0-preview. What was the exception you got?

[2017-11-15 22:34] petrovic-ivan commented on #834
@lovemaths Thanks for digging into. I am using Microsoft.IdentityModel.Tokens with assembly version 5.1.4 (this come from master branch). Exception which I have is `SecurityTokenInvalidSignatureException`. I will try code with 5.2.0-preview version and share feedback., also I am trying to share some JWT and JWKS which I am using and elaborate more this issues.

[2017-11-15 22:53] lovemaths commented on #831
@DaanWasscher Thank you, I updated the PR and tested your metadata document

[2017-11-15 23:15] lovemaths commented on #831
@brentschmaltz Please review https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/832

[2017-11-16 21:29] lovemaths commented on #831
merged to dev

[2017-11-16 21:29] #831 closed

[2017-11-17 18:44] petrovic-ivan commented on #834
Here is repo where I added my [examople-identitymodel-issue](https://github.com/petrovic-ivan/example-identitymodel-issue) app. I added README file which will explains how to reproduce issue. It demonstrates how same code with same JWT, JWKS and same version of System.IdentityModel.Tokens.Jwt works differently. Please let me know if I am doing something wrong.

[2017-11-17 19:13] #507 closed

[2017-11-17 19:15] #735 closed

[2017-11-17 19:19] #815 closed

[2017-11-21 21:22] petrovic-ivan commented on #834
@lovemaths  Do you have any news since I provided source code? Please note that JWT which I provided has exp date. Please let me know if you had issue to reproduce.

[2017-11-22 01:34] lovemaths commented on #834
@petrovic-ivan We identified the problem. The RSACryptoServiceProvider.VerifyData api from net461 framework has a bug, we are working on a walking around.

[2017-11-22 01:51] cwkummer opened #838 "iat and exp are strings instead of numbers (System.IdentityModel.Tokens.Jwt/JwtRegisteredClaimNames.cs)"
Per RFC 7519 (https://tools.ietf.org/html/rfc7519#section-4), the iat and exp claims MUST be numbers. In System.IdentityModel.Tokens.Jwt/JwtRegisteredClaimNames.cs (https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtRegisteredClaimNames.cs) they are both of type string. This is a breaking error for code the follow

[2017-11-22 07:42] AndersAbel commented on #838
That's just the constants for the names of the claims. And the names are of course strings. There's nothing in that file that concerns the format of the values.

[2017-11-22 17:44] cwkummer commented on #838
OK, I referenced the wrong file. However, if you inspect the output of a JWT created using the reserved claims, the iat and exp are both strings. I will attach a code sample later.

Thanks,

Chris Kummer
Systems/Infrastructure Architect
Department of Technology

From: Anders Abel
Sent: Tuesday, November 21, 11:42 PM
Subject: Re: [AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet] i

[2017-11-22 19:28] brentschmaltz commented on #838
@cwkummer  The 'Claims' returned have a string as the value, but JwtSecurityToken.Payload has the values as long.

[2017-11-22 21:30] ryanbuening commented on #804
Is it possible for me to add a `<RoleDescriptor>` tag to my `metadata.xml` file to bypass the `Security token type role descriptor is expected.` error I'm getting until a fix is released?

[2017-11-24 08:41] leastprivilege opened #839 "Create a JwtHeader with both Signing and Encrypting Credential"
Does not seem to be supported. why?

[2017-11-27 19:47] osudude opened #840 "Visual Studio Test discovery fails in 5.2.0.Preview1"
Can't run the following tests due to discovery errors in  VS2017 15.4.4

[code]

Windows 10

[2017-11-28 03:02] brentschmaltz commented on #839
@leastprivilege I am thinking of apis that work with JObject, SigningCredentials, EncryptingCrentials. JObject becomes a JWS using SigningCredentials for definition of how to sign. JWE is created using EncryptingCredentials. I am experimenting with a set of such API's. It seems cleaner and is quite a bit faster.

[2017-11-28 12:29] PinpointTownes opened #842 "Consider updating JwtPayload.Claims to support stringified dates"
When receiving a stringified date, JSON.NET automatically deserializes it as a `DateTime` value which is not handled by `JwtPayload.Claims` (that ends up calling the fallback logic):

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/a566fa80fe2338cea5400fa24303af87f0a35f63/src/System.IdentityModel.Tokens.Jwt/JwtPayload.cs#L372

Unfortunately, this "encode t

[2017-11-28 18:21] brentschmaltz commented on #842
@PinpointTownes I would like to consider this for vNext and get the WsFed release out. 5.2.x would be on a faster cadence.

[2017-11-28 22:50] cwkummer commented on #838
@brentschmaltz @AndersAbel
However, the System.IdentityModel.Tokens.SecurityTokenHandler.WriteToken method creates the iat and exp claims as strings (with quotes) when I believe they should be NumericDates.
![image](https://user-images.githubusercontent.com/23132869/33348243-75b8dee0-d44a-11e7-942f-ab487e6324a0.png)
These being strings is breaking the jwt.verify function of jsonwebtokens.
https://

[2017-11-29 01:31] brentschmaltz commented on #840
@osudude we need to updated to xunit 2.3.0. Will get that in within a day or so.

[2017-11-30 22:34] brentschmaltz opened #843 "The author for nuget packages should be just Microsoft."
Currently the author is "Microsoft AzureAD"
It should be just "Microsoft"

[2017-11-30 22:37] brentschmaltz opened #844 "Nuget.org site should show License Info."
See: https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory/
Under 'Info', there should be a license Info link.

[2017-12-01 16:03] jeszulc opened #847 "SamlSecurityTokenHandler does not handle empty `AttributeValue` nodes"
Running into an issue using https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.WsFederation/2.0.0-preview2 which brings in Microsoft.IdentityModel.Tokens.Saml (5.2.0-preview2-41113220915) , parsing a SAML token.

The tokens I'm trying to consume have an empty `AttributeValue` node, similar to:
[code]

Which causes an exception over here: https://github.com/AzureAD/azure-activedirec

[2017-12-01 16:35] brentschmaltz opened #848 "Reference digest failure should display Uri then Id"
When a reference digest fails, the exception message shows the Id. Usually the Uri is used, the Id as a fallback.
The message should show the Uri first.

[2017-12-01 16:38] brentschmaltz commented on #848
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/1c73c63b384a25cbe9d0ef225037caac07b067a7

[2017-12-01 16:38] #848 closed

[2017-12-01 16:39] brentschmaltz commented on #840
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/247dcfef7e9c54fbd1e83829fcaee984ef47f279

[2017-12-01 16:39] #840 closed

[2017-12-01 16:53] brentschmaltz opened #849 "Saml2 tokens should have signature as first element"
The Saml2Serializer puts the signature as the last element.
Usually it is the first element. We should place it first.

[2017-12-01 16:55] brentschmaltz commented on #847
@lovemaths please have a look at this.
@jeszulc thanks for the heads up.

[2017-12-01 17:59] brentschmaltz opened #850 "Writing xml (Saml, Saml2, Dsig) should have namespaces."
When xml is written it should have the namespace in the first element.
Saml, Saml2 and Dsig should be added.

[2017-12-02 02:25] lovemaths commented on #834
@petrovic-ivan Merged the fix to dev branch. Closing the issue.

[2017-12-02 02:25] #834 closed

[2017-12-02 20:37] AndersAbel commented on #849
It shouldn't be first. It must be second, after the `<Issuer>` element.

Refer to the spec section 2.3.3 where this schema fragment is contained.

[code]

[2017-12-04 19:10] brentschmaltz commented on #849
@AndersAbel yep, wherever the spec say.
@lovemaths can you take care of this.

[2017-12-04 20:22] AndersAbel commented on #849
@brentschmaltz Sorry to such a pain, just complaining, all the time. I've read the SAML2 specs more times than I think is healthy...

[2017-12-04 21:14] osudude commented on #840
@brentschmaltz I pulled down 247dcfe but and it has been updated to xunit 2.3.0 but the tests still fail during test discover (I am interested in System.IdentityModel.Tokens.Jwt.Tests).

[code]

[2017-12-05 00:15] lovemaths commented on #847
merged fix to dev branch.

[2017-12-05 00:15] #847 closed

[2017-12-05 00:38] brentschmaltz commented on #838
@cwkummer AH! this is worth revisiting.

[2017-12-05 01:53] osudude commented on #840
@brentschmaltz ,

.Net Core SDK 2.0.3 is installed.    Using VisualStudio.15.Release/15.4.4+27004.2009 to build and run tests.   Debug / AnyCPU build.   Should the tests discover in this scenario?

[2017-12-05 17:25] brentschmaltz commented on #850
@lovemaths can you have at look at this and get us an idea how much work this would be. Writing tokens is not a P0 scenario for this release, but if this is a reasonable amount of work we could consider it.

[2017-12-06 10:27] thuannguy opened #852 "Please add support for WSTrust"
Per comments and replies in issue #476, I open this issue to request for WSTrust. While I knew that resources are limited and that the demands for a .Net core version for WSTrust is not as high as other passive profile use cases, this is really the last thing I need in order to port my big web application to Asp.Net Core 😄

[2017-12-06 17:15] brentschmaltz commented on #852
@thuannguy i put this in the vNext milestone.
It is not our highest priority, can you let us know why you need it?
If others in the community needs this, then that might bump the priority.
Are you looking for creating WsTrust messages or just consuming?

[2017-12-07 03:22] thuannguy commented on #852
@brentschmaltz Thank you :smile: In fact, I do all the things related to WSTrust messages: both client applications and WCF services that use WSTrust to do security stuff, and also an STS (similar to ADFS) that issue tokens using WSTrust.

[2017-12-07 15:56] #770 closed

[2017-12-08 17:26] leonidzh opened #853 "Validation of token issued for MSGraph failed"
I'm trying to validate token that works perfectly with MSGraph in my service too (to reuse it), but validation fails with the following exception:
Microsoft.IdentityModel.Tokens.SecurityTokenInvalidSignatureException: IDX10503: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.X509SecurityKey
Does MSGraph validates tokens in some different way? My code is pretty simple:

str

[2017-12-08 17:37] brentschmaltz commented on #853
@leonidzh If you notice the JWT.Header has a 'nonce' in it. This token is signed in a particular way and need a transformation before the signature will succeed.

[2017-12-08 17:37] #853 closed

[2017-12-08 22:19] papa-pep commented on #853
Could you be more specific about what that transformation is?  Running into the same issue here...

[2017-12-09 13:57] leonidzh commented on #853
The same question - is this some proprietary MS Graph transformation or I can do the same in my code?

[2017-12-11 16:38] ryanbuening commented on #804
@arc2018 were you able to get your implementation working with the `preview2` release?: https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.WsFederation/

I'm able to get past the `Security token type role descriptor is expected.` error now, but still not successful in getting a cookie.

My 4.5 `web.config` looked similar to yours with the `persistentCookiesOnPassiveRedirects="true"

[2017-12-12 21:37] brentschmaltz commented on #850
@mafurman I noticed that SamlConstants and Saml2Contants have a different value for "saml" prefix.
Saml1 - > PreferredPrefix, Saml2 Prefix. Lets make is PreferredPrefix.

[2017-12-14 23:28] mafurman commented on #415
@bgever This is legacy code, and making changes to the default mapping would likely break a lot of existing apps that depend on the JwtSecurityTokenHandler.

When we go async with the JsonWebTokenHandler, there will not be any mapping happening by default.

[2017-12-14 23:28] #415 closed

[2017-12-15 05:41] bgever commented on #415
@mafurman Could you elaborate "When we go async with the JsonWebTokenHandler" a bit more please?

[2017-12-19 15:08] brentschmaltz opened #855 "Saml2SecurityTokenHandler should not allow Serializer to be set to null"
need to add a null check.

[2017-12-19 15:08] brentschmaltz opened #856 "SamlSecurityTokenHandler should not allow Serializer to be set to null"
need to add a null check

[2017-12-21 19:40] #844 closed

[2017-12-21 19:40] #843 closed

[2017-12-22 18:16] brentschmaltz opened #859 "Expand support for KeyInfo when signing and validating xml"
Current support for KeyInfo is limited to X509Data.
SecurityTokenReference is used for thumbprints
Others may be useful such as Subject, etc...
See https://www.w3.org/TR/2001/PR-xmldsig-core-20010820/#sec-KeyInfo for additional types.

[2017-12-24 18:34] brentschmaltz opened #860 "Add proof-of-possession support for Saml and Saml2 tokens"
Currently only 'Bearer' is supported.

[2017-12-24 18:42] brentschmaltz opened #861 "Introduce delegate to created name / namespace pair for SamlAttribute"
A SamlAttribute requires a name / namespace pair. This is not always possible to create from a System.Security.Claim. By introducing a delegate, we can give user control.

[2017-12-26 19:22] AndersAbel commented on #860
AFAIK there is no term `proof-of-possession` in the SAML2 standard. Do you mean the `holder-of-key` subject confirmation method? That is something that I think is hardly ever used. Do you have a specific case that you want to support that prompts for adding it? If not, I think there are other things that are more valuable to work on.

[2017-12-27 00:32] brentschmaltz commented on #860
Yes. Holder-of-key. This is a gap from previous releases. I want to make sure all such items are recorded whether we do them or not.

[2017-12-28 08:40] AndersAbel commented on #860
A first, defensive step, would be to make an implementation that by default throws an exception if a holder-of-key assertion is encountered. Since they are so rare, it's easy to assume that an incoming assertion is a bearer assertion and just apply it to the holder of the assertion.

What about a flag `AllowNonBearerTokens` in the TokenValidationParameters? The name should be one that works with o

[2018-01-02 18:18] brentschmaltz commented on #860
@AndersAbel it may make scoped to put such flags into the SamlTokenHandlers (1 and 2) as this is SamlSpecific.

[2018-01-02 19:04] brentschmaltz opened #862 "Add a perl script to ensure that any RegEx usage uses CultureInvariant unless an exception is recorded"
We had to push a fix 5.1.5 as without this, big servers were gobbling up large amount of memory.

see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/3d27674c6eec8f55e3500973082f818ef331129e#diff-93fdf196bfa840222d2ca889af286336R105

Add a perlscript to our build process that checks to make sure we use: RegexOptions.CultureInvariant

[2018-01-06 01:34] brentschmaltz commented on #660
see https://github.com/dotnet/corefxlab/issues/2017

[2018-01-10 14:54] fabicz opened #863 "JwtSecurityToken will return string "null" when accessing claims with value null"
I've an JWT token with (for example) kid: null. When it's parsed into `JwtSecurityToken`, it's `JwtHeader` `Kid` property won't be set. When accessing the `Kid` property it will call `GetStandardClaim(JwtHeaderParameterNames.Kid)` which will use Newton JSON serializer as it can't assume null is string. Serializer will serialize it to `"null".`

The trouble lays in `GetStandardClaim` which should c

[2018-01-10 22:10] Tratcher opened #865 "WsFederation - Supported SAML Protocol and Token versions"
_From @gabosistvanpwc on January 10, 2018 20:53_

Hello,

I'm using the Microsoft.AspNetCore.Authentication.WsFederation 2.0.0-preview2 nuget package and I would like to know what are the current SAML protocol/token versions that are supported?

I'm getting the following exception when receiving a RequestSecurityTokenResponse from the IdP (the first time the POST is done to the "/signin-wsfed" end

[2018-01-10 22:10] Tratcher commented on #865
_From @reicher001 on January 10, 2018 22:4_

Here is the part of the SAML token we believe is causing this error.

`<Transform Algorithm="http://www.w3.org/2001/10/xml-exc-c14n#">
                                <InclusiveNamespaces PrefixList="#default saml ds xs xsi"
                                    xmlns="http://www.w3.org/2001/10/xml-exc-c14n#" />
                            </Transform>
`

[2018-01-10 22:16] reicher001 commented on #865
We have successfully tested this code with Azure Access Control Service.  But when we use our on premise identity provider we are getting this error.  I want to be clear this error is not from a setup that uses Azure Active Directory.

Also would like to note that .NET Framework WIF can use these exact same SAML tokens successfully.

[2018-01-11 00:40] gabosistvanpwc commented on #865
After investigating the issue further, I think we came to the point that we can post the right question.

It seems that the "InclusiveNamespaces" feature is not supported currently for WsFederation, the class Microsoft.IdentityModel.Xml.DSigSerializer is throwing explicitly an exception when this tag is found when parsing the signature.

 https://github.com/AzureAD/azure-activedirectory-identitymo

[2018-01-11 01:43] brentschmaltz commented on #865
@Tratcher @gabosistvanpwc we hadn't planned on supporting 'inclusiveNamespaces' in this release. The workaround will be a bit of work as DSigSerializer and TransformFactory will need to be plumbed.

[2018-01-11 01:47] brentschmaltz commented on #863
@fabicz I will have a look.

[2018-01-11 01:48] brentschmaltz commented on #862
We are going to use code analyzers.

[2018-01-11 02:37] reicher001 commented on #865
So if this is not in this release, where on the road map does it fall?

[2018-01-11 02:37] brentschmaltz commented on #865
@reicher001 @gabosistvanpwc would supporting 'InclusiveNamespaces' on read would enough?

[2018-01-11 02:40] reicher001 commented on #865
Yes, I believe so.

[2018-01-11 02:43] brentschmaltz commented on #865
@reicher001 I think we can handle reading. I'll think about what writing would look as that gets coded up. It requires some new OM.

[2018-01-11 02:46] reicher001 commented on #865
Is there a target date for 5.2.0?  Really just trying to see if this is weeks or months.

[2018-01-11 02:49] brentschmaltz commented on #865
@reicher001 this will be the last bug. We expect to drop in a few days.

[2018-01-16 11:27] yaliashkevich opened #867 "Which nuget package to use?"
What is difference between following nuget packages:
Microsoft.IdentityModel.Protocol.Extensions
Microsoft.IdentityModel.Protocols.OpenIdConnect

It looks like "Extensions" package is kind of predecessor for Protocols.XXX packages.
I'm I right? so for new development it is intended to use appropriate Protocols.XXX package

[2018-01-16 16:00] brentschmaltz commented on #867
@yaliashkevich M.IM.Protocol.Extensions was introduced in the 3.x and 4.x versions. With 5.x we introduced additional assemblies that are descriptive of their usage.

For new development I would recommend the 5.2.x versions. Currently 5.2.x is in preview2, however POR is to ship a release this week.

[2018-01-16 16:00] #867 closed

[2018-01-18 04:11] reicher001 commented on #865
@brentschmaltz Is this still on track to be resolved in a few days?

[2018-01-18 23:06] Eilon opened #868 "How to define the key (symmetric or asymmetric) used for validating the issuer authority (the signer of the token)"
_From @gabosistvanpwc on January 9, 2018 0:53_

In previous versions the following configuration was used to define the token validation sequence and to make sure that signer of a token and the token issuer are as expected.

[code]

What properties should be set in the WsFederationOptions object to define the keys (thumbprint and symmetricKey tags) for validating the issuer authority?

Thank you

[2018-01-18 23:06] Eilon commented on #868
_From @blowdart on January 9, 2018 20:28_

@Tratcher this is WS-Fed, so you :)

[2018-01-18 23:06] Eilon commented on #868
_From @Tratcher on January 9, 2018 20:32_

@brentschmaltz ?

[2018-01-18 23:06] Eilon commented on #868
_From @gabosistvanpwc on January 11, 2018 17:0_

Is there any support right now for validating the issuer name registry, similar to https://docs.microsoft.com/en-us/dotnet/framework/security/validating-issuer-name-registry ?

I think this the piece of code from the System.IdentityModel.Tokens.ValidatingIssuerNameRegistry class that is doing this check in .NET Framework 4.5.1 :

[code]

Thank you

[2018-01-18 23:06] Eilon commented on #868
@brentschmaltz can you take a look at this?

[2018-01-21 02:58] apodogov opened #869 "JwtSecurityTokenHandler: Case-sensitive comparisons of KeyId cause wrong exception messages"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/af5e5c2b0100e8348c63e2d2bb45612e2080841e/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L1068

Because this comparison is case-sensitive, is some cases you can receive exception "Unable to match 'kid'" when kid really matched and validation failed due to another reason. In such cases expected

[2018-01-23 19:43] brentschmaltz commented on #869
@apodogov I feel your pain. In the case of Thumbprint for sure CaseInsensitve would be fine.
The spec indicates case sensitive: https://tools.ietf.org/html/rfc7517#section-4.5

This seems a little restrictive as if a signature validates with a key obtained from a trusted source, the kid is somewhat irrelevant.

[2018-01-23 19:49] brentschmaltz commented on #868
@Eilon we don't have any first class support. We extensiblity using a delegate that can be set to validate the key that  signed the token. The API takes the key, token and tokenvalidationparameters.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L62

[2018-01-23 20:51] gabosistvanpwc commented on #868
I have made the following updates to the WsFederation configuration:

[code]

While signing in the method IssuerSigningKeyValidator is not being called, am I missing something?

Also I was not able to find any references to this method in the WsFederationHandler class ( https://github.com/aspnet/Security/blob/9ebfc5634a42971fd9850717bf45fa4b8d7245da/src/Microsoft.AspNetCore.Authentication.WsFedera

[2018-01-24 02:55] brentschmaltz commented on #865
@reicher001 yes. We will have a drop on myget that we can test out the fix.
Once we show it works, we will be able to drop 5.2.0.

[2018-01-24 06:17] brentschmaltz commented on #868
@gabosistvanpwc it looks like we were not calling the delegate.
We fixed the issue and it will be in the next drop.

[2018-01-24 22:26] brentschmaltz commented on #868
@gabosistvanpwc we dropped 5.2.0-preview2-50124220239 that should have this fixed.

https://www.myget.org/feed/Packages/azureadwebstacknightly

[2018-01-24 22:27] brentschmaltz commented on #865
@Tratcher @reicher001 we dropped 5.2.0-preview2-50124220239 that should have this fixed.

https://www.myget.org/feed/Packages/azureadwebstacknightly

Can you give these bits a try?

[2018-01-24 22:30] gabosistvanpwc commented on #865
What is the recommended way to use these changes with the WsFederation nuget package?

[2018-01-24 23:16] Tratcher commented on #865
@gabosistvanpwc add the myget feed Brent gave to your project's nuget settings. Then update the dependencies in your project.

[2018-01-24 23:50] Tratcher commented on #865
@brentschmaltz my sanity test with those packages passed.

[2018-01-25 03:21] brentschmaltz commented on #865
@Tratcher thanks.

[2018-01-26 08:32] Veikedo commented on #734
Up
ps. Saml1 token also can be encrypted

[2018-01-29 18:52] reicher001 commented on #865
This appears to have resolved the issue we were seeing with the InclusiveNamespaces in the SAML tokens.

[2018-01-30 02:25] brentschmaltz commented on #868
@gabosistvanpwc please reopen if this issue is still occurring.

[2018-01-30 02:25] #868 closed

[2018-01-30 02:26] brentschmaltz commented on #865
@reicher001 thanks. We dropped 5.2.0 with this fix on nuget.org.

[2018-01-30 02:26] #865 closed

[2018-01-30 16:05] ryanbuening commented on #275
@brentschmaltz my IdP does not support SHA2, it only supports SHA1 currently.

I'm trying to get WS-Federation working with my ASP.NET Core project. Is it possible to use SHA1 with the new WS-Federation middleware? (https://github.com/aspnet/Security/issues/1473)

[2018-01-31 16:01] Abdruggi opened #871 "Microsoft.IdentityModel.Tokens 5.2.0 is unable to parse ADFS 2.0 FederationMetadata.xml"
The new version of the library is unable to parse ADFS 2.0 FederationMetadata.xml files. I get the following exception:

IDX20803: Unable to obtain configuration from: 'https://[servername]/FederationMetadata/2007-06/FederationMetadata.xml'. Could not load type 'Microsoft.IdentityModel.Tokens.Xml.DelegatingXmlDictionaryReader' from assembly 'Microsoft.IdentityModel.Tokens, Version=5.2.0.0, Culture

[2018-01-31 16:04] reicher001 commented on #865
@Tratcher @brentschmaltz When do we think the Microsoft.AspNetCore.Authentication.WsFederation nuget package will be updated?  Currently using Preview 2.

[2018-01-31 16:15] Tratcher commented on #865
Soon (TM). We're testing the final build now.

[2018-02-01 01:28] brentschmaltz commented on #871
@Abdruggi can you share what IdentityModel assemblies you have in your 'bin' folder?
DelegatingXmlDictionaryReader is in Microsoft.IdentityModel.Xml.dll

[2018-02-01 16:57] Abdruggi commented on #871
@brentschmaltz File Version: 5.2.0.41113

[2018-02-01 21:07] brentschmaltz commented on #871
@Abdruggi file version should be 5.2.0.50129

[2018-02-02 02:33] brentschmaltz commented on #871
@Abdruggi please reopen if after updating the assembly and you still have the same issue.

[2018-02-02 02:33] #871 closed

[2018-02-02 07:38] Abdruggi commented on #871
@brentschmaltz Now it works. Thx for your help.

[2018-02-02 22:43] abdulbeard opened #872 "Jwe validation requires special configuration of TokenValidationParameters"
Hello,

I've been using your nuget package for a library I'm writing. While trying to create a JWE using [JwtSecurityTokenHandler](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs), I found what I consider a bug. Seems like your strategy for creating a JWE is by wrapping the JWT inside of

[2018-02-05 15:10] leastprivilege opened #873 "5.2.0 breaks tests in IdentityServer4 for .NET 4.6.1"
Upgrading to 5.2.0 breaks tests in IdentityServer4. You can easily repro by cloning the dev branch here:

https://github.com/IdentityServer/IdentityServer4

* run build.ps1
* update the JWT handler to 5.2.0
* run build.ps1 again

The odd thing is, it is not deterministic - and different tests fail all the time (the JWT handler is always involved) - and only on net461 - not on netcoreapp2.0

[2018-02-05 19:03] brentschmaltz commented on #873
@leastprivilege I will have a look.

[2018-02-07 10:56] fabicz opened #874 "Allow working with custom point in time in Microsoft.IdentityModel.Tokens.Validators.ValidateLifetime"
We would like to validate token against custom point in time.

`ValidateLifetime` method works with hardcoded `DateTime.UtcNow`. Would be nice to allow having optional custom DateTime to which to validate possibly to be passed inside `TokenValidationParameters`.

[2018-02-07 16:05] brentschmaltz commented on #874
@fabicz can you make use of the delegate: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/rel/5.2.0/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L80 . If set on TokenValidationParameters this will be called when it's time to check lifetime.

[2018-02-07 16:54] fabicz commented on #874
I kind of have this approach right now, but I had to copy rather hefty content of the `ValidateLifetime` method and I could not use `LogMessages` because its internal. The trouble was also how to pass the point in time itself to delegate. In the end I call `ValidateToken` and just after that I call the my past&copied `ValidateTokenLifetime`.

[2018-02-08 16:18] reicher001 commented on #865
@Tratcher Any problems found in your testing?  I am trying to get a sense of the timeline so we can decide if we deploy with the preview or hold out for the final release.

Thanks,
Rick

[2018-02-09 00:55] brentschmaltz commented on #874
@fabicz makes sense, let's shoot for 5.2.2 release.

[2018-02-09 00:57] brentschmaltz commented on #872
@mafurman can you have a look into this.

[2018-02-09 17:32] brentschmaltz commented on #829
completed

[2018-02-09 17:32] #829 closed

[2018-02-09 17:32] #826 closed

[2018-02-09 17:32] #790 closed

[2018-02-09 17:33] #658 closed

[2018-02-09 23:18] ChenYan98 commented on #872
I think you missed to create the nested JWS's header in your CreateJwe(). Without this, you cannot sign JWS  with the SigningCredentials. @mafurman can help to test it.

[2018-02-10 09:43] patricknolan opened #875 "Microsoft.IdentityModel.Protocol.Extensions 2.0.0-beta6-207211625 won't install for .NETFramework,Version=v4.6.1"
Hi,

I'm trying to upgrade to version 2.0.0-beta6-207211625 of Microsoft.IdentityModel.Protocol.Extensions since upgrading to version 4.6.1 of the .NETFramework. However, the Nuget package won't install (see error below).

Should this Nuget package work with a project targeting .NETFramework 4.6.1?

[code]

[2018-02-10 10:45] leastprivilege commented on #873
Any update?

[2018-02-12 13:57] chrisbrook83 opened #876 "Unhandled System.FormatException in LogHelper.LogExceptionMessage()"
We have observed a situation where exceptions thrown by `System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler.ValidateToken` are being effectively swallowed due to a bug in the subsequent logging code in this module.

The actual exception was `SecurityTokenSignatureKeyNotFoundException`, caused by an issue with our configuration.

However. there is a bug in `Microsoft.IdentityModel.Logging.Iden

[2018-02-13 17:28] Tratcher opened #877 "JWT Signature validation fails in .NET Core app targetting .NET Framework 4.7.1"
_From @fabiodaniele on February 13, 2018 15:55_

Hi,
I was having an issue trying to authenticate users to a .NET Core WebAPI using a JWT bearer token generated by a WSO2 Identity Server.

The project targets .NET Framework 4.7.1 and references Microsoft.AspNetCore.Authentication.JwtBearerToken.

At first, I thought it was an issue related to my WSO2 IS configuration.

Then, I found this article:

[2018-02-13 22:07] mafurman commented on #872
I replicated the issue, and I believe that the nested JWS must be created with a JwtHeader that takes in SigningCredentials rather than EncryptingCredentials in order for your sample to work. Otherwise no signature can be generated, hence the error that you're receiving.

[2018-02-15 08:18] ycrumeyrolle opened #878 "[JWE] inner token payload validated twice"
Is there any reason to validate twice the same payload of the inner token?
May be a bug?
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L733

[code]

[2018-02-15 09:30] leastprivilege commented on #873
Seems to be gone with 5.2.1

btw you obsolete message for HasPrivateKey is wrong.

[2018-02-15 09:30] #873 closed

[2018-02-15 17:01] Tratcher commented on #865
This has now released.

[2018-02-16 18:17] JNappee opened #879 "Add .netstandard2.0 target"
.netstandard1.4 is quite old now and it would be nice to have a .netstandard2.0 compatible dll.

[2018-02-21 18:42] coreygrubbFHL opened #880 "System.Identitymodel.Tokens.JWT throws error for Newtonsoft.Json 9.0.0"
Has anyone been made aware of the issue regarding System.Identitymodel.Tokens.JWT brought up in https://github.com/box/box-windows-sdk-v2/issues/426

the issue is best explained in the comment:

"I think I pinpointed the issue. If you look in the first post, there is a picture labeled "Picture of attempt without version 9.0.0:" which shows that System.Identitymodels.tokens.jwt.jsonextensions is wh

[2018-02-22 15:25] abdulbeard commented on #872
So is it a bug then that I can create a JWE by setting `validationParamters.RequireSignedTokens = false` and not having a `JWS` with a `JwtHeader` with `SigningCredentials`?

[2018-02-22 18:38] allevyMS commented on #877
I can confirm the same issue.

I have created a minimal repro for this as a console app targeting either .net 4.7 or .net core 2.0
I have removed all aspnet dependencies and narrowed the issue down to the System.IdentityModel.Tokens.Jwt 5.2.1 package.

The following works using .net core and fails when targeting 4.7:

            var jwtHandler = new JwtSecurityTokenHandler();

            var byt

[2018-02-23 12:22] brentschmaltz commented on #877
@allevyMS I'm on vacation and can't look at this for a week or so, but should be able to work around this by plugging in a custom Cryptofactory using TokenValidationParameters

[2018-02-23 12:25] brentschmaltz commented on #875
@patricknolan you should be using our 5.x packages. This beta is obsolete.

[2018-02-23 12:25] #875 closed

[2018-02-23 12:29] brentschmaltz commented on #879
@jnappee in general we want to use the lowest version possible. Specifying 1.4 just defines the contracts we support. The lower the number the more runtimes we can support. We will add a new target as there are some features in 1.6 we need in crypto.

[2018-02-23 12:29] #879 closed

[2018-02-23 12:32] brentschmaltz commented on #878
@ycrumeyrolle looks very suspicious, thanks. I'm out for another week, will check this out when I return.

[2018-02-23 12:55] JNappee commented on #879
I totally agree with that unless there are breaking changes between major versions and then binding standard libs to the upper versions can introduce bugs. Isn't that the case with 1.4, 1.6 and 2.x?

[2018-02-23 12:57] brentschmaltz commented on #880
@coreygrubbFHL what version are you using. The 5.x versions require 10.0.1

[2018-02-23 13:00] brentschmaltz commented on #876
@chrisbrook83  sorry for the bug, we'll get this fixed.

[2018-02-24 23:49] whiggs commented on #880
What product are you asking for the version information of?   If it is powershell, then yes, I am using powershell 5.1.  This issue is still occurring, however, as the only way to bypass it is to import both versions of the assembly into the powershell session.  I would take a look at the original post that was referenced, as it has a lot of information and contains many pictures which show the pr

[2018-02-26 14:14] coreygrubbFHL commented on #880
Seems that this was resolved in the newest release of the Box windowns SDK. Thanks to everyone for their help.

[2018-02-27 02:02] whiggs commented on #880
ACtually, it wasn't.  I mistakenly thought that was the case due to the fact the assemblies has already been imported.  I deleted the comment.  The issue is not resolved.  Sorry for the confusion.

[2018-02-27 17:08] mikepolyak opened #881 "Saml2SecurityTokenReadException from middleware when it processes RequestSecurityTokenResponse from STS(Okta) at /signin-wsfed endpoint"
Hello,
We have ASP.NET Core v 2.0.1 MVC application that uses  Microsoft.AspNetCore.Authentication.WsFederation middleware (https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.WsFederation) to authenticate with external security token service (Okta).  Middleware is wired as follows and starts up without issues. However after user has been authenticated in Okta and response is sent b

[2018-02-28 23:45] omsmith opened #882 "ES512/P-521 point parameter size is 66 bytes, not 64"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d771b5c3ef22b7ff065e8fad1a63d6a2937b7d7f/src/Microsoft.IdentityModel.Tokens/JsonWebKey.cs#L436-L439

Found when working on migrating our library from 4.0.1 and our ES512 integration tests failed (we had implemented our own `EcDsaSecurityKey`).

[2018-03-01 23:25] brockallen opened #884 "Odd instructions in an exception from the JWT handler"
System.ArgumentException: IDX12709: JWT is not well formed: '[PII is hidden by default. Set the 'ShowPII' flag in IdentityModelEventSource.cs to true to reveal it.]'.

[code]

[2018-03-03 02:44] ChenYan98 commented on #881
I went through the code, and it seemed to me that the library only support InclusiveNamespaces without "ec:" namespace.

[2018-03-04 09:08] whiggs commented on #880
@brentschmaltz If you are looking for information concerning the assemblies that are used in the box windows sdk (at least as far as getting it to work in powershell is concerned), I created a custom nuget package that I host on [Myget](https://www.myget.org/feed/boxdependency/package/nuget/Box.Dependencies) which contains the box windows sdk and all of the dependency assemblies that were not alre

[2018-03-06 19:15] kevin-meyer opened #885 "JsonWebKey KeyId is null resulting in JwtHeader with no kid"
I'm creating a `JsonWebKey` from json and using it in the `SigningCredentials` for a `JwtSecurityToken`.  This results in a `JwtHeader` with no `kid` defined (it looks to the `signingCredentials.Key.KeyId`).

Shouldn't `JsonWebKey` keep the base `KeyId` in sync with the `Kid`?

[2018-03-08 08:38] Adewagold commented on #493
Thanks so much.

[2018-03-08 15:09] bdcoder2 opened #886 "Nu-Get package fails to install due to NewtonSoft.Json conflicts ..."
Using Visual Studio Community 2017 v15.7.

1. I created an Azure Functions project.
2. I use NuGet to install System.IdentityModel.Tokens.Jwt v5.2.1
3. Click Install, result:

[code]

This is an AZURE FUNCTIONS project -- there is no app.config or web.config file in which I can set dependencies .

HOW can I use JWT in Azure functions when the rest of my code will require the latest version of Newt

[2018-03-08 23:37] mafurman commented on #886
This seems to be a known issue with Microsoft.NET.Sdk.Functions. A potential workaround is to include the following package reference in your .csproj file:

`<PackageReference Include="Newtonsoft.Json" Version="11.0.1" />`

(Note: anything greater than 10.0.1 should work.)

This overrides the requirement set by Microsoft.NET.Sdk.Functions and should allow you to successfully install System.Identit

[2018-03-09 02:16] bdcoder2 commented on #886
Thanks mafurman!

Added the line to the .csproj file -- NOTE -- I did have reload the project after tampering with the .csproj file.  Then pulled in the System.IdentityModel.Tokens.Jwt via NuGet:

`TOOLS -> NuGet Package Manager -> Manage NuGet Packages for Solution...`

NuGet did issue the following warning:

`Warning	NU1608	Detected package version outside of dependency constraint: Microsoft.NET

[2018-03-09 19:20] whiggs commented on #880
So the problem is actually resolved.  It turns out that there wasn't really an issue to begin with.  The resolution response explains it all:

It looks like this works in full .NET applications but not in PowerShell because the SDK's app.config file that binds any version of Newtonsoft.Json to the 10.x version that the SDK installs is not being loaded by PowerShell. Fundamentally, since you're goi

[2018-03-11 18:43] HolyNoodle commented on #884
Same here. Did you find any clue ?

[2018-03-12 18:21] brentschmaltz commented on #885
@kevin-meyer yes that is a bug. To get around it, as you probably figured out, you will need to set JsonWebKey.Kid.

[2018-03-12 18:24] brentschmaltz commented on #884
@brockallen @HolyNoodle as part of our GDPR effort, by default we hide any stack or variable info in our logs. You can enable additional detail by setting IdentityModelEventSource.ShowPII = true, when setting up logs.

That said, this looks like a format issue, we'll look into it.

[2018-03-12 18:26] brentschmaltz commented on #881
@mikepolyak this is a bug, we will push a PR soon for testing in our nightlies. Our next release should have this fixed.

[2018-03-12 18:48] #880 closed

[2018-03-13 16:17] Tratcher opened #887 "WSFederation Support with Windows Identity"
_From @joetherod on March 6, 2018 17:58_

Is there support for WFFederation SSO authentication with WIF?
Currenyly using the following namespaces in .NET 4.6

using System.IdentityModel;
using System.IdentityModel.Services;
using System.IdentityModel.Services.Configuration;
using System.IdentityModel.Tokens;
using System.Security.Cryptography;
using System.Security.Cryptography.X509Certificates;
u

[2018-03-13 16:17] Tratcher commented on #887
_From @blowdart on March 6, 2018 19:2_

Yes. https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.WsFederation/

https://github.com/aspnet/Security/issues/1473 has the discussion from Preview 1 to Release.

[2018-03-13 16:17] Tratcher commented on #887
_From @laj0206 on March 7, 2018 21:3_

Hi @blowdart, thanks for the information.
In .NET 4.6, we used to use SessionSecurityTokenHandler including RsaEncryptionCookieTransform to parse token since token is been encrypted by certificate. Is there a way to do the same thing in net core? I am not able to find a way based on the current nuget package.
Could you please kindly advise? Thanks

[2018-03-13 16:17] Tratcher commented on #887
@brentschmaltz

[2018-03-13 16:17] Tratcher commented on #887
_From @joetherod on March 9, 2018 16:50_

@brentschmaltz any update on WSFederation supporting SessionSecurityTokenHandler including RsaEncryptionCookieTransform.
Or is there a sample implementation that can do the same thing for authentication via WSFederation for SSO?

[2018-03-13 16:17] Tratcher commented on #887
_From @joetherod on March 13, 2018 13:23_

No update? @brentschmaltz Very unfortunate that this prerelease is unusable at this point.

[2018-03-14 18:13] ritun85 commented on #701
Hi ,
I am getting same kind of exception when I try to refer System.IdentityModel from openspan project  it throws me below error. As openspan itself uses Newtonsoft 5.X it does not allow 10.X. We dont have any option to provide binding redirect as there is no straight way to add config file in openspan. Please suggest

Source: "System.IdentityModel.Tokens.Jwt"
HResult: -2146233036

StackTrace Inf

[2018-03-14 18:18] ritun85 opened #889 "Exception on Newtonsoft"
Hi ,
I am getting same kind of exception when I try to refer System.IdentityModel from openspan project it throws me below error. As openspan itself uses Newtonsoft 5.X it does not allow 10.X. We dont have any option to provide binding redirect as there is no straight way to add config file in openspan. Please suggest

Source: "System.IdentityModel.Tokens.Jwt"
HResult: -2146233036

StackTrace Info

[2018-03-14 20:55] brentschmaltz commented on #887
@Tratcher just getting all caught up. This looks like a new feature for Core.

[2018-03-14 22:33] ritun85 commented on #889
Hi @brentschmaltz,

Openspan is tool built on top of visual studio for creating  solutions for robotic automation. Currently openspan is using fixed version of newtonsoft ( v5).I have a business requirement where I need to build a robotic solution where I need to create jwt token. I have installed system.identitymodel.jwt nuget package which internally dependent on newtonsoft v10. When I am runnin

[2018-03-14 22:36] MatthewSteeples commented on #884
I think the message just needs to be a bit clearer. The message references a .cs file, making it look like you need to edit something rather than set a static property

[2018-03-15 16:42] b-wins opened #891 "GetAllSigningKeys provide way to disable?"
Hi,

JwtSecurityTokenHandler Line 971 - seems like an open flaw here. Why not at least check that jwtToken.header.kid or jwtToken.header.x5t is null first. Or provide a param to somehow disable?

This means we can have a jwtToken with a kid or x5t populated and no corresponding key in issuerSigningKeys, but we still try all possible keys. Is that not a security hole? Do you consider that safe?

[2018-03-19 09:30] ICRAdmin opened #892 "Not able to open project in VS 2015 /2017 community Studio"
Not able to  open project in VS 2015 /2017 community  Studio

[2018-03-19 18:04] brentschmaltz commented on #891
@b-wins it's ok to try all possible keys since the application layer added the keys and the signature only validates with the matching asymmetric key.

GetAllSiginingKeys will be called if the 'kid' in the jwtHeader was not matched to a known key. Since 'kid' can be null, without a match, we try them all.

[2018-03-19 18:04] #891 closed

[2018-03-20 12:53] mikepolyak commented on #881
We have upgraded Microsoft.AspNetCore.Authentication.WsFederation to the latest 2.0.3 version, but unfortunately behavior is the same - System.Xml.XmlException: End element 'Transform' from namespace 'http://www.w3.org/2000/09/xmldsig#' expected. Found element 'ec:InclusiveNamespaces' from namespace 'http://www.w3.org/2001/10/xml-exc-c14n#'. Line 1, position 286.

[2018-03-20 16:04] Tratcher opened #893 "WSFederation - No token validator was found for the given token."
_From @Tratcher on March 20, 2018 14:54_

_From @StevanoHallo on March 20, 2018 9:33_

The exception I'm getting when attempting to use WSFederation in my .NET Core App:

SecurityTokenException: No token validator was found for the given token.

`Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler+<HandleRequestAsync>d__12.MoveNext()
System.Runtime.ExceptionServices.ExceptionDispatchIn

[2018-03-20 16:04] Tratcher commented on #893
We would need an example token to investigate.

[2018-03-20 16:04] Tratcher commented on #893
_From @StevanoHallo on March 20, 2018 14:16_

@Tratcher Here's an example token pulled from a response. Thanks.

[Token.txt](https://github.com/aspnet/Security/files/1829678/Token.txt)

[2018-03-20 16:04] Tratcher commented on #893
_From @jmprieur on March 20, 2018 15:42_

@Tratcher : is this an ADAL.NET question? or more a middleware or asp.NET core question
cc: @henrik-me @brentschmaltz

[2018-03-20 16:04] Tratcher commented on #893
IdentityModel handles the token processing. I expect this issue is due to missing encrypted token support.

[2018-03-20 16:04] Tratcher commented on #893
_From @jmprieur on March 20, 2018 15:48_

Do you mean, @Tratcher that this is an issue for https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet ?

[2018-03-20 16:04] Tratcher commented on #893
Ah, you're right. Sorry for the bad copy. Moving now...

[2018-03-20 16:07] jmprieur commented on #893
Thanks @Tratcher for confirming. I was wondering how we could help on this topic, and could not figure out a starting point. I'll let you close this issue from here when you have moved it. (unless you can really move it?)

[2018-03-20 23:22] shagenhokie commented on #468
Do we have an ETA on this?

[2018-03-21 06:23] henrik-me commented on #893
@brentschmaltz @mafurman who can likely assist on the issue raised

[2018-03-21 06:54] ycrumeyrolle commented on #884
Valuable exception informations are hidden now. For example configuration errors are hard to understand, which is unrelated to PII.
Setting IdentityModelEventSource.ShowPII = true will lead to have this hardcoded for most developers.

A better approach would be to not expose PII within exception messages, or to obfuscate PII.
Or even better, to reduce the number of raised exceptions, remplaced by

[2018-03-22 18:10] brentschmaltz commented on #893
@Tratcher @jmprieur @henrik-me we don't support encrypted tokens right now. It is a know issue for Saml2. Not sure if we need to expand to general encrypted tokens.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/734

[2018-03-22 18:10] #893 closed

[2018-03-22 18:10] brentschmaltz commented on #892
@ICRAdmin what error are getting?

[2018-03-22 18:13] brentschmaltz commented on #881
@mikepolyak we have this PR:  https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/890 to fix the issue. I expect an official release within a month.

[2018-03-22 18:15] brentschmaltz commented on #889
@ritun85 what target (45, 45.1, netstandard1.4) are you using?
We did some research and we can reduce the target to 6.0.1 for 45 and 4.5.1, which we are thinking of doing.

[2018-03-22 18:24] #855 closed

[2018-03-22 18:24] #862 closed

[2018-03-22 18:25] #850 closed

[2018-03-22 18:26] #849 closed

[2018-03-22 18:28] brentschmaltz commented on #849
@AndersAbel you are not being a pain. We appreciate you helping us get it right.

[2018-03-22 18:32] #682 closed

[2018-03-22 18:34] #745 closed

[2018-03-22 18:37] #746 closed

[2018-03-22 18:40] brentschmaltz commented on #468
@shagenhokie not yet

[2018-03-22 18:42] brentschmaltz commented on #487
@aarondandy @PinpointTownes I agree we need a 1.6 target.
We will see if we can fit this into our next release.

[2018-03-22 18:44] PinpointTownes commented on #487
@brentschmaltz oh, you guys are still alive? :trollface:

[2018-03-22 18:49] brentschmaltz commented on #879
@JNappee there is a strong effort to ensure back-compat between runtimes.

[2018-03-22 18:50] brentschmaltz commented on #873
@leastprivilege good. I'll touch up the message for HasPrivateKey.

[2018-03-22 21:09] brentschmaltz commented on #884
@ycrumeyrolle @MatthewSteeples we talked about this and we think we will make these changes.
Write a log header the contains:
Date, Version, PII status indicating what API to use. Then for each exception just in a single phrase like: PII OFF.

[2018-03-22 21:12] #488 closed

[2018-03-22 21:14] PinpointTownes commented on #488
@mafurman why was this thread closed? I don't see in the PR diff any chance impacting the APIs mentioned in this ticket.

[2018-03-22 21:15] #886 closed

[2018-03-22 21:48] brentschmaltz commented on #488
@PinpointTownes @mafurman Yes, we need a check between 'algorithm' and 'CRV'. I would argue this is not a IsEcdsaAlgorithmSupported function. As this describes what the runtime is capable of.
The check you are looking for is matching CRV with Algorithm. I think this is covered with the combination of GetKeySize and ValidateECDSAKeySize.

[2018-03-22 21:53] PinpointTownes commented on #488
Let me remind you what the requirement is, in case you'd have missed it (well, this ticket was opened almost 2 years ago so...):

I need `CryptoProviderFactory.IsSupportedAlgorithm(string algorithm, SecurityKey key)` to return `false` if `key` is an ECDSA key AND `algorithm` an ECDSA algorithm that uses a curve different than the one associated with `key`.

[2018-03-22 21:59] brentschmaltz commented on #488
We will add tests to make sure that contract is enforced.

[2018-03-22 22:06] brentschmaltz commented on #487
@PinpointTownes yes sir.

[2018-03-23 00:01] brentschmaltz commented on #881
@mikepolyak we just merged this into dev. Will be in next nightlies, try it out if you can.

[2018-03-23 00:01] #881 closed

[2018-03-23 11:03] ritun85 commented on #889
@brentschmaltz target framework is .net 4.5.

[2018-03-23 21:51] spottedmahn opened #895 "Nuget Depenencies using Outdated Monikers?"
When I saw DNX 4.5.1 and DNXCore 5.0 [as Nuget dependencies](https://www.nuget.org/packages/Microsoft.IdentityModel.Protocol.Extensions/2.0.0-beta6-207211625), I was confused since I had seen the DNX moniker before.

I then found this SO Post: [Do not use DNX, use latest identifiers.](https://stackoverflow.com/a/39077331/185123)

![image](https://user-images.githubusercontent.com/14079228/37854786

[2018-03-23 21:54] Tratcher commented on #895
Microsoft.IdentityModel.Protocol.Extensions is an abandon prototype last updated in 2015. Recent projects do not have this problem, correct?

[2018-03-23 22:05] spottedmahn commented on #895
Oh, I see, thanks!

I don't think so.  I checked [Microsoft.IdentityModel.Protocols.OpenIdConnect](https://www.nuget.org/packages/Microsoft.IdentityModel.Protocols.OpenIdConnect/) and that looks good.

---

I'm really trying to get this sample updated: [active-directory-b2c-dotnet-webapp-and-webapi](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/issues/28#issuecomme

[2018-03-23 22:05] #895 closed

[2018-03-23 23:12] brentschmaltz commented on #872
@abdulbeard by default, the library requires that the JwtPayload that contains the claims to be signed. In this case, that payload is inside a JWE. When creating the JWE, if you supply SigningCredentials, the inner JWT will be a JWS and the default will succeed.

Setting the IssuerSigningKey in GetValidationParameters() is really a no-op.
I played around with the code here (to try and explain bett

[2018-03-23 23:12] #872 closed

[2018-03-23 23:28] brentschmaltz commented on #874
@fabicz moved issued into 5.2.2 release in April.

[2018-03-26 22:34] brentschmaltz opened #896 "Update readme with instructions to use 5.x with Katana release."
the new release of Katana takes a dependency on 5.x

[2018-03-27 16:47] phatcher opened #897 "BootstrapContext type changed"
I'm upgrading some code that was using Microsoft.IdentityModel.Protocol.Extensions to Microsoft.IdentityModel.Protocols.OpenIdConnect.

Previously when setting TokenValidationParameters.SaveSiginToken then the resulting ClaimsIdentity would have a BootstrapContext of type System.IdentityModels.Tokens.BootstrapContext and now it appears to be just the string containing the JWT.

Was this intended?

[2018-03-28 09:12] mdw211 opened #898 "Saml2SecurityTokenHandler calls ValidateTokenReplay with the NotBefore time as the token expiration time instead of NotOnOrAfter"
[code]

[2018-03-28 13:42] spottedmahn opened #899 "NameClaimType Doesn't Seem like Validation in TokenValidationParameters"
Apparently one must configure where to get the user's name claim from so that they can perform operations like `var name = User.Identity.Name;`

In the following [Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi](https://github.com/Azure-Samples/active-directory-b2c-dotnet-webapp-and-webapi/blob/cf011352babed2685c9c324e308a2b8775640c2b/TaskWebApp/App_Start/Startup.Auth.cs#L78) example,

[2018-03-28 15:15] Tratcher commented on #899
Duplicate? What more are you hoping for here beyond the Katana discussion?

[2018-03-28 17:09] brentschmaltz commented on #897
@phatcher yes it is intentional as the type BootstrapContext is not available on .NetCore.
The type was intentionally set to be object on ClaimIdentity so that is was runtime sensitive.

[2018-03-28 17:09] #897 closed

[2018-03-28 17:10] brentschmaltz commented on #898
@mdw211 nice catch.
We will fix this in 5.2.2.

[2018-03-28 17:11] phatcher commented on #897
@brentschmaltz Thanks for that

[2018-03-28 17:16] brentschmaltz commented on #899
@spottedmahn if TokenValidationParameters.NameClaimType is set to "name", then the Property ClaimsIdentity.Name will return the value of the first Claim where Claim.Type=="name". By default the value is: ClaimTypes.Name == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"

[2018-03-28 17:28] spottedmahn commented on #899
Hey @Tratcher - I was going to the "owner" of `TokenValidationParameters` to get their 2 cents 😊

After the Katana discussion/research, I understand Katana is taking a dependency on this project.

It's not a big deal, it just doesn't feel right.  To me, it is not self-documenting.  Seems to be violating the [Single Responsibility Principle](https://en.wikipedia.org/wiki/Single_responsibility_princ

[2018-03-28 17:29] spottedmahn commented on #899
Hi @brentschmaltz - thanks for the reply.  Please see [the above](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/899#issuecomment-376969011) post for clarification, thanks!

[2018-03-28 17:36] spottedmahn commented on #897
Wonder if there is any migration guidance?

[2018-03-29 14:09] mdw211 opened #900 "EnvelopedSignatureWriter creates a Reference element with the Id attribute set to the Id of the element the Reference element is referring to, leading to duplicate ids"
I'm not 100% sure about this, but the way that I interpret https://www.w3.org/TR/xmldsig-core1/, the Id attribute on the Reference element is an optional identifier for referring to the reference element itself, and as such ought not be the same as the identifier of the element being signed.  The URI attribute is used to find the document element that has been signed.  The spec says "An optional I

[2018-03-31 06:50] hanabi1224 opened #901 "JsonWebKeySet fail to deserialize in some cases"
When JsonConvert.DefaultSettings.ObjectCreationHandling is set to ObjectCreationHandling.Replace, JsonWebKeySet cannot deserialize Keys property thus causes IDX10500  : Signature validation failed. No security keys were provided to validate the signature.

There's also bug in OpenIdConnectConfigurationRetriever line 100, openIdConnectConfiguration.JsonWebKeySet = JsonConvert.DeserializeObject<Json

[2018-03-31 08:38] brentschmaltz commented on #899
@spottedmahn I get your point. Controlling the result of ClaimsIdentity.Name is probably not what one thinks about when validating a token. ClaimsConfigurationParameters (or something may fit).
I'll reopen for now, and let's think about it. We want to get a release ready by mid april.
A future release will have an async pattern and will require new apis. Passing in a context returning a result may

[2018-03-31 13:24] spottedmahn commented on #899
Hey @brentschmaltz - thanks for the update!! ⚡

Sounds good to me.  Let me know if I can help.  Happy to submit a PR 😊!

[2018-04-02 17:31] brentschmaltz commented on #901
@mafurman please have a look at this.

[2018-04-02 18:51] mafurman commented on #878
I looked into this, and I don't see any reason why we can't simply remove one of the validate calls.

[2018-04-02 21:33] brentschmaltz commented on #869
@apodogov @mafurman how about we check if the key is X509SecurityKey and use case-insensitive match for those keys?

[2018-04-03 00:19] #878 closed

[2018-04-03 00:51] brentschmaltz commented on #899
@spottedmahn we will ping you when we start the async work.

[2018-04-03 18:31] Kdamour opened #906 "High LSA CPU load due to key creation usage"
Under heavy traffic loads, the LSA is pegged up to 100% due to key creation and management when using JWT tokens for each request (client request & verify on server).  Allowing for cached key classes rather than recreating resulted in a significant drop (down into single digits for CPU load on LSA).

[2018-04-03 18:34] brentschmaltz commented on #906
This is blocking IOT scenarios.

[2018-04-04 15:27] brentschmaltz opened #908 "Add 'x5t' claim to JWTHeader when SecurityKey is of type X509SecurityKey"
In 4.x we set 'x5t'.
In 5.x we set 'kid'

Some runtimes are expecting one or the other and are broken by this change from 4.x to 5.x.
So we will add both.

[2018-04-05 20:26] #898 closed

[2018-04-06 21:58] #885 closed

[2018-04-07 02:08] #884 closed

[2018-04-07 02:09] #882 closed

[2018-04-09 02:50] mjsabby opened #909 "Add SourceLink to release builds"
[SourceLink](https://github.com/dotnet/core/blob/master/Documentation/diagnostics/source_link.md) is supported by recent C# Compilers that allows source indexing of built code to the repo.

Both Windows and Portable PDBs support it. Therefore you can enable it generally for both .NET and .NET Core builds.

[2018-04-09 19:57] mafurman opened #911 "Make sure the ApiChangeTest is updated to the current library version."
We need to ensure that this test is able to catch breaking changes for new APIs that have been added recently.

[2018-04-10 17:27] springe2004 opened #915 "An unhandled exception occurred while processing the request."
OpenIdConnectProtocolInvalidNonceException: IDX21323: RequireNonce is '[PII is hidden by default. Set the 'ShowPII' flag in IdentityModelEventSource.cs to true to reveal it.]'. OpenIdConnectProtocolValidationContext.Nonce was null, OpenIdConnectProtocol.ValidatedIdToken.Payload.Nonce was not null. The nonce cannot be validated. If you don't need to check the nonce, set OpenIdConnectProtocolValidat

[2018-04-10 17:29] springe2004 commented on #915
some brower has this err

[2018-04-10 17:33] Tratcher commented on #915
Something dropped your temp nonce cookie. Capture a Fiddler trace for more detail.

[2018-04-10 20:39] mafurman opened #917 "JsonWebKey.CreateECDsa() should throw an exception if the operating system is not Windows."
Part of #581.
Support for ECDsa creation on other operating systems will be added once we decide on a new target to support.

[2018-04-11 00:17] #901 closed

[2018-04-11 00:17] #876 closed

[2018-04-11 05:49] springe2004 commented on #915
Request URL:http://localhost:5002/signin-oidc
Request Method:POST
Status Code:500 Internal Server Error
Remote Address:[::1]:5002
Response Headers
view source
Content-Type:text/html; charset=utf-8
Date:Wed, 11 Apr 2018 05:47:46 GMT
Server:Kestrel
Transfer-Encoding:chunked
X-Powered-By:ASP.NET
Request Headers
view source
Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=

[2018-04-11 05:54] springe2004 commented on #915
Request URL:http://localhost:5000/connect/authorize/callback?client_id=mvc&redirect_uri=http%3A%2F%2Flocalhost%3A5002%2Fsignin-oidc&response_type=code%20id_token&scope=openid%20profile%20api1%20offline_access&response_mode=form_post&nonce=636590227888048501.MzRiZGFkNWItNzI3OC00N2NjLTg0YWItNDUzYWVlZjBhZmI1N2Q2Yjk4N2YtN2YwNS00MTBkLTgxOWItM2YxOGVmNzFjMTE3&state=CfDJ8BJ45KcoWI9ApSfI1yeeaugaEmME-8A3k_8

[2018-04-11 05:54] springe2004 commented on #915
Request URL:http://localhost:5002/signin-oidc
Request Method:POST
Status Code:500 Internal Server Error
Remote Address:[::1]:5002
Response Headers
view source
Content-Type:text/html; charset=utf-8
Date:Wed, 11 Apr 2018 05:53:27 GMT
Server:Kestrel
Transfer-Encoding:chunked
X-Powered-By:ASP.NET
Request Headers
view source
Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=

[2018-04-11 15:20] brentschmaltz commented on #909
@mjsabby thanks for pointing out how we can improve the library.

[2018-04-11 20:25] brentschmaltz opened #919 "Modify JwtHeader() to not call this"
A side effect is that the serialization on the claims can change and be different from the 'json' string that was passed in.

This combination of methods could result in different json
public static JwtHeader Deserialize(string jsonString)
public virtual string Base64UrlEncode()

[2018-04-12 16:01] Tratcher commented on #915
A single request is inadequate. You'd need to share the file with the whole login flow.

The above request has way more cookies than I'd expect on a clean login flow. Clear your cookies and start fresh.

[2018-04-13 22:38] brentschmaltz commented on #842
@PinpointTownes were are looking at this and trying to understand what the Claim in the ClaimsIdentity should be?

[2018-04-16 00:55] chetanku commented on #609
Hello,
How was this resolved?
I have an access token that I receive from Graph API. I am trying to validate it with the key found in the https://login.microsoftonline.com/common/discovery/keys. I am using jwt.io.  But it fails with Invalid Signature. The token has nonce value. What kind of special processing is required? My goal is to send the token in headers to my api and get the token validated

[2018-04-16 00:58] brentschmaltz commented on #609
@chetanku a token from Graph that has a 'nonce' requires special processing to validate the signature

[2018-04-18 20:54] mafurman opened #923 "Add a switch to turn off the InboundClaimTypeMap"
By default, short claim types are mapped to their corresponding longer values.
There should be an easy way for users of the library to turn this feature off.

[2018-04-19 00:33] brentschmaltz commented on #909
@mjsabby this will be in tonight's drop on myget: https://www.myget.org/gallery/azureadwebstacknightly

[2018-04-19 00:36] Extant-1 commented on #734
+1

This feature would be very much welcome to avoid having to write a custom TokenValidator

[2018-04-19 17:28] mafurman commented on #909
I can confirm that SourceLink is enabled for the most recent drop.  😊

[2018-04-19 18:11] brentschmaltz commented on #917
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/918

[2018-04-19 18:11] #917 closed

[2018-04-19 18:12] brentschmaltz commented on #909
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/921

[2018-04-19 18:12] #909 closed

[2018-04-19 18:13] brentschmaltz commented on #908
this would be a breaking runtime change for users that coded using JwtHeader.Add(...) api.

[2018-04-19 18:13] #908 closed

[2018-04-20 17:35] natemcmaster opened #925 "Add .NET Standard 2.0 target"
I realize this was already requested in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/879, but I have additional reasons for you to consider.

- The justification for closing https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/879#issuecomment-367996497 was a desire to keep the libraries compatible with as many r

[2018-04-20 21:35] brentschmaltz commented on #925
@natemcmaster @Tratcher
We will drop this into 5.2.3.
5.2.2 is slated for 4-23, so too late for this release.

[2018-04-20 22:26] natemcmaster commented on #925
Thanks @brentschmaltz!

[2018-04-21 02:53] Tratcher commented on #925
What's the time frame for 5.2.3?

[2018-04-23 21:58] #923 closed

[2018-04-23 21:58] #906 closed

[2018-04-23 22:00] #581 closed

[2018-04-23 22:03] brentschmaltz commented on #842
We are not sure what is being asked here.
Please feel free to reopen with additional details.

[2018-04-23 22:03] #842 closed

[2018-04-23 22:04] brentschmaltz commented on #487
We will get this into the June release

[2018-04-23 22:05] brentschmaltz commented on #874
@fabicz we ran out of time in 5.2.2 we will get this into 5.2.3

[2018-04-23 23:07] brentschmaltz commented on #915
@springe2004 we need additional information on this.
Moved issue to 5.2.3

[2018-04-23 23:09] brentschmaltz commented on #889
@ritun85 we can't go below 6.0.1. Closing for now. Please reopen if needed.

[2018-04-23 23:09] #889 closed

[2018-04-24 09:03] fabicz commented on #874
Thanks for update.

[2018-04-24 10:07] rjurado01 commented on #609
I have the same error and it was due to I have setting into `scope` field of token request ([doc](https://docs.microsoft.com/en-gb/azure/active-directory/develop/active-directory-v2-protocols-oauth-client-creds#get-a-token)) the graph app uri: `https://graph.microsoft.com/.default`.

I have change it for my App ID URI adding `/.default` and it works.

[2018-04-25 00:07] brentschmaltz commented on #734
@Veikedo @Extant-1 I marked this for 5.2.3 (June 2018). It may be a stretch, I'll cost it out.

[2018-04-25 00:36] brentschmaltz commented on #896
updated readme

[2018-04-25 00:36] #896 closed

[2018-04-25 05:28] mjsabby commented on #909
Thank you @mafurman @brentschmaltz -- It's available on nuget now.

[2018-04-25 05:28] mjsabby commented on #909
@chapalexiv @VKoka we should integrate this update.

[2018-04-25 20:43] cvocvo commented on #877
Is this patched in the 5.2.2 release? Seeing the same issue running v5.2.1 in an ASP.NET project targeting 4.6.2.

[2018-04-30 05:50] manish13oct commented on #877
Hi,

I have a Security Token Service running on 4.5.2 and I have a requirement to support CNG certificates based tokens. What should be recommended approach for this?

For now I am experimenting with migrating from framework 4.5.2 to 4.6.2, but I am running into similar error as posted above in the thread while executing the following code.

Would this be resolved by the solution that you are work

[2018-05-03 06:51] anud1 opened #926 "Any easier way to set TokenValidationParameters.IssuerSigningKey to Support "RSA" and "Ecdsa" both Algorithm for JwtSecurityTokenHandler ValidateToken method(I am Using System.IdentityModel.Tokens.Jwt 5.2.2 NuGet package) ?"
Currently we are creating ECDsaSecurityKey class object for ECDsa algorithms and X509SecurityKey class object for RSA algorithms based on a switch condition. Is there any other better way to do this?

[2018-05-03 17:16] brentschmaltz commented on #926
@anud1 can you share a bit of the code .

[2018-05-04 05:52] anud1 commented on #926
Ok.. if we  need to validate various tokens signed with different algorithms(rsa or ecdsasha or... etc. ).. den we  are doing something like this :

 var validationParameters = new TokenValidationParameters
            {
                ..... some code goes here...
                IssuerSigningKey = GetSecurityKey(signingCert, alg) // Creating key based on switch statement
            };

private

[2018-05-04 11:15] lokori commented on #609
It would be very interesting to hear what this "special processing" means in practice. Could @brentschmaltz or someone else elaborate a bit? Obviously I need to do something because signature validation fails, but what? I'm using Python and would just like to validate that user didn't forge the JWT token.

[2018-05-05 10:33] jkljajic opened #927 "Issiue with UserNameClaimType and RoleClaimType"
when you try to change ClaimsIdentity for UserNameClaimType and RoleClaimType it not have effect use standard because of JwtSecurityTokenHandler and MapInboundClaims always take default from mapInboundClams for example if i setup RoleClaimType = name it will use one xml default from MapInboundClams.
to work I need to disable MapInboundClaims = false.
or
`JwtSecurityTokenHandler.DefaultInboundClaim

[2018-05-09 07:40] leastprivilege opened #928 "Protection against changing algorithm fron RS to HS attack"
How do you protect against this attack described in

https://medium.com/101-writeups/hacking-json-web-token-jwt-233fe6c862e6

in "3. Modify the algorithm RS256 to HS256 (Asymmetric Cipher Algorithm => Symmetric Cipher Algorithm)"

[2018-05-09 16:02] brentschmaltz commented on #928
@leastprivilege for this attack to be successful, the run time (TokenValidationParameters.IssuerSigningKey, IssuerSigningKeys OR IssuerSigningKeyResolver) would have to have to serve up symmetric key as one of the keys available for signature validation. Since we partitioned SignatureProviders as Symmetric and Asymmetric, they will throw if an incorrect key type is used.

Most users get public key

[2018-05-09 16:06] brentschmaltz commented on #927
@jkljajic sorry you are experiencing this issue. Many users have commented about how mapping is a problem. In our 5.2.2 release, we introduced a simple way to turn off mapping. We had to leave mapping on by default for back compatibility reasons.

Here is the fix: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/923

In the 5.2.3 we are planing a new call

[2018-05-09 16:06] #927 closed

[2018-05-09 22:10] khellang commented on #415
This continues to bite people in 2018... https://github.com/aspnet/Mvc/issues/7760

[2018-05-13 01:56] metaclassing commented on #609
I feel like between the various implementations for AAD floating around using access_token there needs to be some much improved communication from Microsoft.

I stumbled across this thread by accident after spending an hour trying to figure out why I was unable to validate a token independently (sending every token to the graph API for verification is not the fastest thing in the world to be doing

[2018-05-14 03:07] beefsteak opened #929 "ClaimTypeMapping access permission?"
public static class JwtRegisteredClaimNamesMappingConvert
    {
        public static string ToClaimTypeName(this string claimTypes)
        {
            switch (claimTypes)
            {
                case ClaimTypes.Name:
                    return JwtRegisteredClaimNames.UniqueName;
                case ClaimTypes.NameIdentifier:
                    return JwtRegisteredClaimNames.NameId;

[2018-05-14 07:41] leastprivilege commented on #928
OK. thanks

[2018-05-14 07:41] #928 closed

[2018-05-16 17:28] brentschmaltz opened #930 "Document migration from Katana 3.0.1 -> 4.0.0"
Users are hitting a couple of issues when moving from 3.0.1 -> 4.0.0
There are some simple things that if we document properly, we could cover most likely 90% of issues.
1. Remove all IdentityModel references, some users upgrade to System.IdentityModel.Tokens.Jwt and leave Microsoft.IdentityModel.Protocols.Extensions
2. Help people understand that SecurityKeys are used to sign not SecurityTokens
3

[2018-05-17 00:07] brentschmaltz commented on #930
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Migrating-from-Katana-(OWIN)-3.x-to-4.x

[2018-05-17 00:07] #930 closed

[2018-05-17 16:20] C-Ross opened #931 "x5t not populated for X509SecurityKey"
When using an X509SecurityKey in a SigningCredential to create a JWT the x5t JWT header field is not populated.  Optimally the produced JWT would

[code]
This produces a properly signed JWT, with the KID populated from the Thumbprint of the X509 Certificate, but the x5t is not.

This causes some consumers such as AAD to not be able to look up the certificate and process the token.

[2018-05-22 18:28] brentschmaltz opened #932 "Extensibility for Release is broken for CustomCryptoProvider"
CryptoProvider.CreateSignatureProvider checks if a CustomCryptoProvider is set, but releasing doesn't.
This is unbalanced and breaks extensibility.
We should fix this for all Create / Release patterns.

[2018-05-23 22:03] ycrumeyrolle opened #933 "[JWT] MaximumTokenSizeInBytes usage is surprising"
I have a well-formed JWS : [base64url-encoded header].[base64url-encoded payload].[base64url-encoded signature].
This token is about 1.7MB in its compact serialization form.
When I try to validate this token, I have an error `IDX12709` saying that my token is malformed and should a JWE or a JWE... The error message is not very useful. When I look at the source code, I see many usage of the same er

[2018-05-23 23:39] brentschmaltz commented on #933
@ycrumeyrolle sorry for the hassle, will fix in 5.2.3

[2018-05-24 09:04] ycrumeyrolle commented on #933
No problem, there is a workaround by setting to an upper value.

I was wondering why there is a size limit? Is it for security reasons?

[2018-05-24 12:28] brockallen commented on #933
Why so big? Doesn't your web server reject the HTTP request because the headers are too large? IIRC, IIS or Kestrel rejects after 16K of headers.

[2018-05-24 18:06] ycrumeyrolle commented on #933
The JWT is not an access token used sent within the http headers but as the http payload.
The payload is a document, and the JWT is  used as a standard structure to exchange data.
This is for a POC and I am looking for the drawback of this.

[2018-05-25 17:45] omsmith opened #934 "SignatureProvider caching and thread safety"
Heyo

Looking over the recent signature provider caching changes, I wonder if they're properly respecting the thread safety warnings on `SignatureProvider`?

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/cdf16ed31e2c1065fbede2d4e7f870395bdd1b7d/src/Microsoft.IdentityModel.Tokens/InMemoryCryptoProviderCache.cs#L40-L41

Perhaps these should be storing `Thr

[2018-05-26 11:48] btastic commented on #609
Could please someone provide a way to do the "special processing"?

[2018-05-29 20:14] brentschmaltz opened #935 "Microsoft.IdentityModel.SigningCredentials comments are not correct"
CryptoProviderFactory should just speak about this provides extensibility for crypto operators.
SecurityKey should say signature creation not signature validation.

[2018-05-29 20:19] brentschmaltz commented on #934
@omsmith are you concerned about the ConcurrentDictionary OR the SignatureProvider?
Once a SignatureProvider is created, the operations Sign / Verify are atomic.
ConcurrentDictionary was designed to be thread safe.

[2018-05-30 14:30] joetherod commented on #887
@brentschmaltz is this enhancement going to happen?

[2018-05-31 07:08] CBaud opened #936 "Extensibility for signing and encrypting tokens with Azure Key Vault."
**Summary**
The current library provides an extensible model for custom signing and encryption solutions. This makes it possible to create tokens that are backed by cloud-based security keys, such as Azure Key Vault. I think it would be helpful to create a new project that provides the base implementation to create those types of tokens.

**Proposed Implementation**
_KeyVaultSignatureProvider_: Th

[2018-05-31 16:55] brentschmaltz commented on #936
@CBaud Great ides, I assigned this to the 5.2.4 milestone. Once we get going on that release, it would be great if you could help out with reviews and coding.

[2018-05-31 16:57] brentschmaltz commented on #934
@omsmith yes the SignatureProvider is thread safe. I will document that.

[2018-05-31 20:11] mafurman opened #937 "Use more specific log messages for malformed JWT tokens"
We have one generic exception message that we tend to throw whenever a JWT token happens to be malformed:

`internal const string IDX12709 = "IDX12709: JWT is not well formed: '{0}'.\nThe token needs to be in JWS or JWE Compact Serialization Format. (JWS): 'EncodedHeader.EndcodedPayload.EncodedSignature'. (JWE): 'EncodedProtectedHeader.EncodedEncryptedKey.EncodedInitializationVector.EncodedCiphert

[2018-05-31 20:14] mafurman commented on #933
@ycrumeyrolle The reason why we use 'token.length * 2' is because each character in the token string is 2 bytes. We know there's some places in the code where we don't double the length, and we're planning on fixing this inconsistency.

We also realize that the error messages we have are somewhat unclear and we're going to update them. I created a separate issue to track that [here.
](https://gith

[2018-06-01 09:08] ycrumeyrolle commented on #933
@mafurman the test is on the number of characters, not on the token size in bytes. If the token is encoded in ASCII, Unicode, UTF-8 or UTF-128, the token length is always the same,
In my use case, I have an UTF-8 token of 1.7MB, with 1.7 million of characters. Once converted into a `string`, the in-memory representation of the token may have doubled in size, but the token size does not has changed

[2018-06-04 15:46] fabicz opened #940 "Signature with proper kid is still considered as invalid signature when no keys are provided in IssuerSigningKeyResolver"
We have custom `IssuerSigningKeyResolver`, that checks repository of keys based on `kid` passed in 3rd param. If there is no key found it returns empty list - that sounds right to me to do this pre-mapping.

Unfortunately the `ValidateSignature` always returns `SecurityTokenInvalidSignatureException` exception in such case while I would expect to get `SecurityTokenSignatureKeyNotFoundException`.

[2018-06-04 23:32] mafurman opened #941 "All the ReleaseProvider methods in CryptoProviderFactory should throw an ArgumentNullException if the provider passed into them is null"
Currently only ReleaseSignatureProvider does this.

ReleaseHashAlgorithm, ReleaseKeyWrapProvider, and ReleaseRsaKeyWrapProvider should be modified to behave in a consistent manner.

[2018-06-05 16:30] brentschmaltz commented on #940
@fabicz that makes sense, we'll make this change in 5.2.3.

[2018-06-05 16:48] BKB503 commented on #915
following error is producing on 1st login and when refresh(landing page) error is disappeared as it already having authenticated token. Is this something related to MVC session management? any ideas that would be helpful
Package Source :  id="Microsoft.Owin.Security.OpenIdConnect" version="4.0.0"
DX21323: RequireNonce is '[PII is hidden by default. Set the 'ShowPII' flag in IdentityModelEventSourc

[2018-06-05 17:26] brentschmaltz opened #942 "Add 'teststub.cs' as a starting point for tests"
Add a stub for starting a new set of unit tests using nunit.

[2018-06-05 19:02] fabicz commented on #940
I actually was doing the temporary workaround today, and realized one more thing. When the Kid doesn't exists in the headers, then actually `new SecurityTokenInvalidSignatureException(TokenLogMessages.IDX10500)` is thrown. which also doesn't sounds right to me. Could you consider this also?

I think to leave the lowest footprint possible for the client customization, If `Kid` is missing then I wou

[2018-06-05 23:56] brentschmaltz commented on #933
@ycrumeyrolle what the value is guarding is: don't attempt to validate a token that is bigger than X # bytes. When the check is performed on a base64url encoded string, each character is 2 bytes, that's why we double it. We are assuming UTF-8 for a JWT, which the spec refers to in section 3.1.

[2018-06-06 16:33] ycrumeyrolle commented on #933
But UTF-8 character size for the base64url table ([a-Z][0-9]-_) is in 1 byte, not 2 bytes. Am I wrong?
Encoding.UTF8.GetByteCount("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-_") returns 64.

[2018-06-09 00:28] brentschmaltz commented on #933
@ycrumeyrolle you are correct, the time to account for doubling, is before we move the bytes into a string. When we take the bytes of the wire.

[2018-06-10 02:33] AaronFixer opened #944 "Dotnet Core 2.1 broke WriteToken() on Linux kernels (ObjectDisposedException)"
System.IdentityModel.Tokens.Jwt isn't working anymore on our Linux environment when we try to generate a Jwt.

This problem is specifically in .NET Core 2.1 when calling ` new JwtSecurityTokenHandler().WriteToken(jwt)`

An example of the bug can be found in this repo:  https://github.com/AaronFixer/RsaMicrosoftIdentityJwtLinuxBug

Just run `dotnet run` from within a Linux distro (I did this on Ubu

[2018-06-11 18:21] mafurman opened #945 "Add in the Microsoft.IdentityModel.Tokens.Jwt library"
The library should meet the following requirements:

•	Remove automatic short-to-long claim type mapping that occurs when tokens are created.
•	Prepare a framework for future work that will involve asynchronous token validation and creation.
•	Improve the speed of JWT token validation and creation.
•	Simplify the way in which JWT tokens are stored and dealt with.
•	Provide a single extensibility m

[2018-06-11 21:38] mafurman opened #947 "JWT segments are counted incorrectly in the JsonWebToken constructor"
The correct number of periods found in a  JWE is 4, not 5.

[2018-06-13 06:40] kmanev073 opened #948 "Unable To Dispose RSA Key before JWT creation."
Hi guys!
Today I updated my Microsoft.AspNetCore.Authentication.JwtBearer to v2.1.0 and I ran into some issues which I think should be fixed.

Basically I have an API that generates JWT tokens signed with RSA. That was my code:
[code]
Basically, created my RSAs in usings statements, used them and they were auto disposed. Now after upgrading this code was broken and was throwing exceptions on both

[2018-06-13 17:20] brentschmaltz commented on #948
@kmanev073 I am not sure why this worked before, what version would were you using?
When the RsaSecurityKey is passed a RSA object, it will use it when the JWT is signed. You have disposed the RSA before it is being used, so I would expect it to fail.

[2018-06-13 17:29] brentschmaltz commented on #944
@AaronFixer I would expect that to throw because you are using the RSA object after disposing.

[2018-06-14 01:03] AaronFixer commented on #944
@brentschmaltz Where? We're not disposing the object being used:

https://github.com/AaronFixer/RsaMicrosoftIdentityJwtLinuxBug/blob/master/Program.cs#L26

This stores the signing credentials outside of the context being disposed.

What other object are we using after disposing?

Again, it's important to mention, this works in Windows. It does not work in Linux. This is an OS specific problem.

[2018-06-14 09:03] AaronFixer commented on #944
Just tried changing it to all be in the same context, and actually @brentschmaltz you're correct it works.

But this still seems like a bug. Why is the object not persistent if assigned before the context is disposed?

This doesn't make sense to me.

[2018-06-14 11:38] vbenedichuk commented on #944
@brentschmaltz thank you. Coould you please clarify why is this issue specific for .net core 2.1 on linux and not reproducible on windows? It is also not happening on .net core 2.0 neither on win nor on lin.
Does it mean that we may face with resources leak on that platforms?

[2018-06-14 12:23] aakash1906 opened #949 "System.FormatException at LogHelper.FormatInvariant when called from IdentityModelEventSource"
Added Appinsight listener to IdentityModelEventSource and set loglevel to verbose first
At GetConfigurationAsync of OpenId, there was an exception at string.Format inside LogHelper.FormatInvariant inside IdentityModelEventSource- **PrepareMessage**.

[2018-06-14 12:35] aakash1906 commented on #949
Raised a pull request to fix the same.

[2018-06-14 15:08] brentschmaltz commented on #944
@AaronFixer @vbenedichuk the 'using' statement calls dispose on exiting the clause.
The using clause is similar to:
[code]
I wouldn't jump to concluding a leak issue right away, we would have to investigate by monitoring memory.
There may be additional memory pressure, but the GC will clean up memory, not in a deterministic manner as when calling Dispose().

[2018-06-14 15:09] brentschmaltz commented on #949
@aakash1906 thanks for the fix.
We are pushing into dev, can you package up the fix in dev?
We use master as a place holder.

[2018-06-14 17:08] brentschmaltz commented on #550
Our new Microsoft.IdentityModel.Tokens will not transform and will work directly with JSON.

[2018-06-14 17:08] #550 closed

[2018-06-14 17:10] brentschmaltz commented on #395
We are not going to support this as AsymmetricAlgorithm needs to be cast which leads to issues when the underlying framework changes as happened between 4.5 and 4.6.

A key has only data. A provider knows how to interact with the underlying layers to produce the correct crypto operations.

[2018-06-14 17:10] #395 closed

[2018-06-14 17:12] brentschmaltz commented on #948
let me know if you need any additional information.

[2018-06-14 17:12] #948 closed

[2018-06-14 17:16] brentschmaltz commented on #839
We will be adding this to M.IM.Tokens.JsonWebTokenHandler in 5.2.4

[2018-06-14 17:17] brentschmaltz commented on #734
Moved to 5.2.4

[2018-06-14 17:19] #932 closed

[2018-06-14 17:19] #941 closed

[2018-06-14 17:20] brentschmaltz commented on #915
@BKB503 can you set IdentityModelEventSource.ShowPII = true;
Then we can see the exact exception.

[2018-06-14 17:21] brentschmaltz commented on #718
We updated some tests, moving to 5.2.4 to update some more.

[2018-06-14 17:23] brentschmaltz commented on #945
library was added

[2018-06-14 17:23] #945 closed

[2018-06-14 17:34] PinpointTownes commented on #395
Care to share more information or better, write a sample about how to achieve the desired result without the suggested APIs?

[2018-06-14 17:44] #933 closed

[2018-06-14 18:02] #937 closed

[2018-06-14 21:59] brentschmaltz commented on #944
@AaronFixer @vbenedichuk I am going to close this out.
Please feel free to reopen, ask other clarifying questions, we sometimes get things wrong :-)

[2018-06-14 21:59] #944 closed

[2018-06-14 22:04] #947 closed

[2018-06-14 22:07] AaronFixer commented on #944
@brentschmaltz This is still an issue. Because this still works on Windows OS. Meaning the actual problem seems to be the opposite.

Why is a disposed object still available and working on the Windows OS?

You can run this BugSample on Windows and you'll see it still works.

[2018-06-14 23:03] brentschmaltz commented on #944
@AaronFixer can you explain to me what you mean about 'still works on Windows OS'?

[2018-06-14 23:19] brentschmaltz commented on #942
commit: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/0e5a18fdabe68cc8a1f3dc336e0de5e40cf332da

[2018-06-14 23:19] #942 closed

[2018-06-14 23:21] brentschmaltz commented on #931
@C-Ross we added back X509SigningCredentials. If you pass that class to JwtHeader, then we create the x5t. That was the behavior in 4.x. Sorry for the hassle.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/0e5a18fdabe68cc8a1f3dc336e0de5e40cf332da

[2018-06-14 23:21] #931 closed

[2018-06-15 00:54] AaronFixer commented on #944
@brentschmaltz As you quite rightly pointed out, this issue isn't actually a bug as disposed objects shouldn't be available outside of their context.

On Windows however,  the disposed object appears to still be available as the token is generated fine (run the code I originally submitted on Windows, and you'll see the token is generated).

This isn't correct behavior though. As it should throw th

[2018-06-15 02:57] aakash1906 commented on #949
Have raised a pull request to dev with that fix. Please review

[2018-06-15 07:41] kmanev073 commented on #948
Hi,
Sorry for the delay. This is the line from my csproj file:
**<PackageReference Include="Microsoft.AspNetCore.Authentication.JwtBearer" Version="2.0.3" />**
So I guess I was using version 2.0.3

[2018-06-15 11:30] BKB503 commented on #915
@brentschmaltz  Still same issue after adding ShowPII flag, Issue is with Session Cookie creation on start of the application when commented  Session_Start and Session_End events in Global asax, it works great and able to create session cookie at later stage

[2018-06-15 17:57] brentschmaltz commented on #487
@PinpointTownes we need to push this to August 5.2.4 release.

[2018-06-15 18:50] #660 closed

[2018-06-15 19:20] brentschmaltz commented on #900
@mdw211 I'm thinking we should only write the Url and never use the Id.
Code change would be:

[code]

[2018-06-15 22:34] #940 closed

[2018-06-15 22:59] brentschmaltz commented on #877
@manish13oct @cvocvo this dropped off our radar.
What happened was a change to .Net between 4.5.2 and 4.6 where X509Certificate2.PublicKey returns a different type than RSACryptoServiceProvider, it returns RsaCng.
IdentityModel return as RSACryptoServiceProvider, which is null.
Then the runtime throws.

The NetStandard1_4 will work.
We are looking at a fix.

[2018-06-15 23:58] ghost opened #956 "Microsoft.IdentityModel is broken for Azure Deployment"
I have a Cloud Service (Worker Role) that works just great in the development environment using the Cloud emulator.  When I deploy that service to Azure, the call to validate the security token on the server side fails.  It throws several exceptions which the client process.  Digging into the inner exception stack, the first important one is:

`IDX20804: Unable to retrieve document from: '[PII is

[2018-06-16 00:39] brentschmaltz commented on #949
I like the fix, loggers should never fault.
Thanks.

[2018-06-16 00:39] #949 closed

[2018-06-16 00:43] brentschmaltz commented on #956
@Dark-Bond we just pulled https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/953 , that should be up on myget soon (https://www.myget.org/gallery/azureadwebstacknightly)

[2018-06-16 01:48] aakash1906 commented on #949
Thanks for closing this.!

[2018-06-16 01:49] brentschmaltz commented on #900
@mdw211 fixed commit: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/b8403a6c9fb0c872ecb57fa31af1ca0cfa9d150a

[2018-06-16 01:49] #900 closed

[2018-06-16 01:53] brentschmaltz commented on #929
@beefsteak You can edit Inbound and Outbound claims mapping with these properties.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L158

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenH

[2018-06-16 01:53] #929 closed

[2018-06-16 01:56] brentschmaltz commented on #940
@fabicz mafurman cleaned this up quite a bit.
It seems to make sense now. Let us know if it works for you.

@mafurman fyi

[2018-06-16 07:21] aakash1906 opened #958 "Issue with LogHelper.FormatInvariant"
Though the logging issue of #949 is addressed, still, the Root cause, is at this method. LogHelper.FormatInvariant
When any string contains formats like "{asdf" etc., this will cause exception.

[2018-06-17 16:15] eclipsed4utoo opened #960 "Azure Mobile App Net Backend - Could not load JwtSecurityTokenHandler"
I am running into an issue that I'm not sure how to get around. When running my .Net backend Azure Mobile App service locally, it runs fine. However, when I publish to my Mobile App service, I get this error message in the YSOD.

[code]

I'm not really sure what I do about this.

I believe my assembly bindings are correct in the web.config...

[code]

Here is my packages.config...

[code]

I'm at

[2018-06-18 16:44] brentschmaltz commented on #877
@Tratcher @manish13oct @cvocvo with this commit, this should now work.
5.2.3 will have this fix.

In 5.2.4 we plan on introducing a 4.6.0 or 4.6.1 target, that will solve the issue for applications that can use that target. As we plan on supporting 4.5.1 and 4.5.2 for a while, we need this fix as it has nice SHA2 support.
We plan on extending this adapter to use CNG for certs and ecdsa.

[2018-06-18 16:54] dallancarr commented on #960
With mobile this could be related.

https://github.com/IdentityServer/IdentityServer4/issues/150

[2018-06-18 17:09] brentschmaltz commented on #960
@eclipsed4utoo do you have any other information from the error?
Katana (OWIN) has been upgraded to work with 5.x.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Migrating-from-Katana-(OWIN)-3.x-to-4.x

[2018-06-18 17:19] brentschmaltz commented on #934
@omsmith I added some tiny document, just a start really, with a note about this particular issue.
Plans are in place to increase documentation and samples.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Documentation

[2018-06-18 17:19] #934 closed

[2018-06-18 17:26] brentschmaltz opened #961 "Extend RSACngAdapter model to handle ECDSA and X509Certs"
Users that are targeting .Net Desktop use our 4.5.1 target.
CNG types are not available until 4.6.x.
While we need the 4.6.1 target, we need to extend the support for CNG for users that cannot immediately upgrade their code. It is possible that .Net framework has been upgraded and the support exists.

We should use the extend the adapter pattern solution in 5.2.3 that recognizes RSA keys.

[2018-06-18 17:28] brentschmaltz opened #962 "Add JWE support to JsonWebSecurityTokenHandler"
Essentially make the following public:

private string CreateJsonWebToken(JObject payload, SigningCredentials signingCredentials, EncryptingCredentials encryptingCredentials)

[2018-06-18 17:59] eclipsed4utoo commented on #960
@brentschmaltz

I can give you the full stack trace that's shown on the YSOD. Other than that, this project is literally downloaded from Azure's "quick start" platform list for the .Net Backend, added classes for my API, updated nuget packages, and published.

I don't even use the identity model classes in my code, so I'm assuming something in the Azure server classes use it.

[2018-06-18 18:11] eclipsed4utoo commented on #960
Actually, if you want to see the actual error, I have the site published...

https://vcmappdev.azurewebsites.net/

[2018-06-18 18:17] #869 closed

[2018-06-18 18:17] brentschmaltz opened #963 "Design 'TokenCreation' Policy that guides token creation by SecurityTokenHandlers"
Api's on this object would allow users to set standard items in tokens that don't change per token, modify claims, etc. A SecruityTokenHandler would have a ctor that takes such an object.
1. Expiration, NotBefore, IssuedAt parameters
2. Issuer
3. JWTHeader
4. ClaimsMapping
5. SecurityKeys, Algorithms

[2018-06-18 18:19] brentschmaltz opened #964 "Design 'TokenValidation' Policy that guides token validation by SecurityTokenHandlers"
Api's on this object would allow users to set standard items in tokens that don't change per token, modify claims, etc. A SecruityTokenHandler would have a ctor that takes such an object.

Authority
MaximumTokenSize
ClaimsMapping
SecurityKeys,
Algorithms

[2018-06-18 23:31] Bio2hazard commented on #948
We encountered the same issue exactly as @kmanev073 described.
Previously we used version 2.0.4 of Microsoft.AspNetCore.Authentication.JwtBearer, with our RSA being created in a using block.
After updating to 2.1.0, things continued to work with the debugger attached, but without debugger we get the ObjectDisposedException exception.

What makes things tricky is that the exception does not bubble

[2018-06-19 00:42] Dark-Bond commented on #956
I ran it with ShowPII = true.  No difference.  It crashed.  But I noticed that it kept crashing on System.StringFormatter, so I tried to instantiate on in the method that called the Microsoft.IdentityModel methods.  Azure took an exception in that method.  It would appear that whatever assembly attempts to call StringFormatter, that assembly will crash Azure Cloud Services.

[2018-06-19 04:16] brentschmaltz commented on #667
@javiercn we fixed this in 5.2.4 for RsaSecurityKey. We will be extending this fix and adding additional ECDSA and X509Certs.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/877

[2018-06-19 04:16] #667 closed

[2018-06-19 04:51] sbebrys opened #965 "Unable to find Microsoft.IdentityModel.JsonWebTokens package"
In package System.IdentityModel.Tokens.Jwt ver. 5.2.4 dependency to  Microsoft.IdentityModel.JsonWebTokens cannot be resolve, because this package isn't in nuget.org.
Maybe yours build and release flow has incorrect order?

[2018-06-19 08:05] brentschmaltz commented on #936
@CBaud we dropped 5.2.4 today (we had to skip a #), so 5.2.5 has started. If you are still interested in working on KV, let us know.

[2018-06-19 08:19] brentschmaltz commented on #965
@sbebrys something happened with the signature so nuget is hiding the package. I am investigating.

[2018-06-19 09:51] CBaud commented on #936
Let's do it!

[2018-06-19 15:07] Tratcher opened #966 "WsFederation Token Encryption (Certificate)"
_From @qubicaamf on June 19, 2018 8:44_

Hi,
As you can read from [WsFederation authentication doc](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/ws-federation?view=aspnetcore-2.1):

We need this feature because of Signle-Sing-On auth system, that we want to implement in ours **public web apps** ([Azure App Services](https://azure.microsoft.com/en-us/services/app-service/) w