[2020-06-24 15:57] brentschmaltz commented on #1467
@gislikonrad thanks, we will fix this up.

[2020-06-24 16:10] keegan-caruso opened #1469 "Add tests for different cultures to JwtPayloadTest"
See #1468 and #1467

JwtPayloadTest should have additional tests to verify that parsing behavior is correct for different cultures/formats

[2020-06-24 16:23] brentschmaltz commented on #1469
We will have to setup VM's with different cultures.

[2020-06-24 16:32] keegan-caruso commented on #1469
@brentschmaltz would it not be enough to run the body of the test on a thread that has an overridden Thread.CurrentCulture / Thread.CurrentUICulture ?

[2020-06-25 18:33] DariusFaison opened #1471 "IDX10511: Signature validation failed. Keys tried: 'System.Text.StringBuilder'"
`JwtValidator.ValidateJwtToken(header.Parameter, cancellationToken).GetAwaiter().GetResult();`

Microsoft.IdentityModel.Tokens.SecurityTokenInvalidSignatureException
  HResult=0x80131500
  Message=IDX10511: Signature validation failed. Keys tried: 'System.Text.StringBuilder'
kid: 'System.String'.
Exceptions caught:
 'System.Text.StringBuilder'.
token: 'System.IdentityModel.Tokens.Jwt.JwtSecurityTo

[2020-06-25 19:56] brentschmaltz commented on #1471
@DariusFaison i take it you would like to see a better message?

[2020-06-25 19:58] brentschmaltz commented on #1469
@keegan-caruso that would be excellent if it works, much simpler.

[2020-06-25 20:37] #1393 closed, assigned to keegan-caruso

[2020-06-26 03:40] brentschmaltz commented on #1427
@AaronKoller @senylity @theolivenbaum the issue here is that IdentityModelEventSource.ShowPII is false by default. In this case, we apply filtering sensitive items are filtered.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/5810cd81dd3d7a802f111005f42990dc8ebb0aa7/src/Microsoft.IdentityModel.Logging/IdentityModelEventSource.cs#L303

We recognize the

[2020-06-26 03:40] #1427 closed, assigned to nobody

[2020-06-26 03:58] brentschmaltz commented on #1325
After reviewing, there is not that much value we can add here.

[2020-06-26 03:58] #1325 closed

[2020-06-26 04:03] brentschmaltz commented on #1161
Removing the 'set' would be breaking.
We should ensure every time we set IsValid appropriately.

[2020-06-26 18:01] brentschmaltz commented on #1313
@azydevelopment we ran out of time, i moved this to next months release.

[2020-06-26 19:20] azydevelopment commented on #1313
Thanks for the update. Would love to get this fixed to remove the need for testing 2 schemas on authed requests

[2020-06-26 20:22] brentschmaltz commented on #1467
@gislikonrad  fixed with: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/8433d584bf3890894fd9b8f3ceef156d0e16e47a

[2020-06-26 20:22] #1467 closed, assigned to brentschmaltz

[2020-06-26 20:24] brentschmaltz commented on #1258
@cathalpern we will get this into the July release.

[2020-06-26 20:44] brentschmaltz commented on #1419
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1472

[2020-06-26 20:44] #1419 closed, assigned to brentschmaltz

[2020-06-26 20:45] brentschmaltz commented on #453
@kevinchalet https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1472

[2020-06-26 20:45] #453 closed

[2020-06-26 20:46] brentschmaltz commented on #1466
@gislikonrad moved to July release.

[2020-06-26 21:22] brentschmaltz commented on #1161
Fixed in: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1473

[2020-06-26 21:22] #1161 closed

[2020-06-26 23:29] brentschmaltz commented on #1466
This was punted from 6.7.0, make sure we fix in 6.7.1

[2020-06-26 23:30] brentschmaltz commented on #1258
this has been around for a while and should be fixed in 6.7.1.
this will become more important for WsFederation / WsTrust support in Core.

[2020-06-26 23:32] brentschmaltz commented on #1471
@DariusFaison this is related to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1427
where we wrote:
"
We recognize the need to adjust this for an application that is running.
We have these issues that address this:
#1274

#1452

If you would like us to consider these in next months release, please put a mark on those issues.
"

[2020-06-26 23:32] #1471 closed, assigned to nobody

[2020-06-26 23:34] brentschmaltz commented on #1460
Users have hit this, differentiating would make diagnostics simpler.

[2020-06-26 23:36] brentschmaltz commented on #1317
We may need to scope this for different frameworks.

[2020-06-26 23:37] brentschmaltz commented on #1449
@gislikonrad provided a PR for this, but we ran out of time.
Make sure to get in for 6.7.1

[2020-06-26 23:37] brentschmaltz commented on #1241
We should do this after adding 4.7.2 target.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1507

[2020-06-26 23:38] brentschmaltz commented on #1397
@kevinchalet suggested this a couple of months ago, it would really help extensibility.
Let's get this in 6.7.1

[2020-06-26 23:40] brentschmaltz commented on #1304
@peval27 others have commented on this.
We will work to make some progress on this in July.

see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1427 where we wrote:

We recognize the need to adjust this for an application that is running.
We have these issues that address this:
#1274

#1452

If you would like us to consider these in next months release

[2020-06-26 23:41] brentschmaltz commented on #1274
We may just make progress on the design and some low hanging fruit.
Any suggestions are welcome.

[2020-06-26 23:42] brentschmaltz commented on #859
We will need this for WsTrust.
We should add at least one or two additional keyinfo types in July.

[2020-06-26 23:42] brentschmaltz commented on #1165
Want to make some progress on this in July.

[2020-06-27 03:58] Tratcher commented on #1274
Which settings did you have in mind? I hope they're only the diagnostic ones.

[2020-06-27 05:10] brentschmaltz commented on #1274
@Tratcher mainly related to diagnostic, but there could be others.
I am curious why you used the phrase "I hope ...."

[2020-06-27 15:24] Tratcher commented on #1274
Changing functional parameters based on some envronmetal state seems dangerous, you may unintentionally affect other applications on the machine. If you restrict it to diagnostics at least you won't break anyone.

 App models like asp.net already expose ways to specify functional parameters per app in config files. Integrating with those models for controlling diagnostics would be helpful.

[2020-06-27 18:29] RogerioWagner opened #1475 "OpenIdConnectConfiguration not serializing properly"
The OpenIdConnectConfiguration is not serializing the field **jwks_uri** field, the bellow example show the incorrect field naming (**jwksUri**).

The package to reproduce the behavior is Microsoft.IdentityModel.Protocols.OpenIdConnect version 5.5.0.

The problem caused is that the authenticationservice could not ask the authority the public key set to validate a token.

[code]

[2020-06-27 18:58] kevinchalet commented on #453
@brentschmaltz thanks! I can confirm the new API works like a charm 🎉

[2020-06-29 11:55] alexjebens opened #1476 "Microsoft.IdentityModel.Tokens.Saml2.Saml2Serializer Write Signature if included in Assertion"
If I Serialize a Saml Assertion to store and use later using Microsoft.IdentityModel.Tokens.Saml2.Saml2Serializer when I try to write this assertion again to an XmlWriter the Signature is left out because I am not creating a new signature but want to use the existing one.

Also for correctness reading an assertion, writing it and reading it again should be idempotent. That is currently not the cas

[2020-06-29 12:14] nightkr opened #1478 "Breaking change in 6.7.0: Saml2AuthenticationContext.DeclarationReference no longer allows null values"
See https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/0567929e7c7f4a299925f16a26d43ad5f8c60dc1#diff-d904bfa7b70e16ce90571f9a418a9362L123-L128, from #1458.

Even if this is intentional (which I'm not sure about, given that the previous version explicitly allowed `null`s), 6.7.0 should be retracted and republished as 7.0.0 to be semver-compliant (as recommen

[2020-06-29 16:21] brentschmaltz commented on #1478
@teozkr the logic was that setting the value to null indicated an error.  The issue came to light when we realized the the default constructor would just fail.

It may be best, in this case to move back to the original case where the value 'value' is checked only when non-null and release 6.7.1.
I would rather roll back that than move to 7.x.

Does that make sense to you?

[2020-06-29 16:30] brentschmaltz commented on #1476
@alexjebens reading and writing the assertion is tricky due to the transforms that are applied and the xmlreader that is used.
Internally we have a property 'CannonicalString' that maintains a version of the token that can be 'reused'.

Would this be of help if this property was public?

[2020-06-29 16:48] nightkr commented on #1478
Sounds good to me.

[2020-06-29 16:55] brentschmaltz commented on #1478
@teozkr cool, will make that happen.
Thanks for finding and mentioning this, appreciate it.

[2020-06-29 17:23] brentschmaltz commented on #1165
Closing as a duplicate of: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1274

[2020-06-29 17:23] #1165 closed

[2020-06-29 21:27] nikosft opened #1479 "SecurityTokenDescriptor Audience is a string, but is should be an array of strings."
The [Audience property of the SecurityTokenDescriptor ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.tokens.securitytokendescriptor.audience?view=azure-dotnet#Microsoft_IdentityModel_Tokens_SecurityTokenDescriptor_Audience) is of type String. However it should by an array.

Copying pasting from rfc7519 section-4.1

[2020-06-29 23:04] brentschmaltz commented on #1479
@nikosft yep, we will have to add an API similar to TokenValidationParameters.ValidAudiences as we want to avoid breaking changes.

[2020-06-30 17:29] brentschmaltz commented on #1478
@teozkr we dropped 6.7.1 with this rolled back. We will de-list 6.7.0.

[2020-06-30 18:17] #1478 closed, assigned to brentschmaltz

[2020-06-30 18:31] brentschmaltz commented on #1475
@RogerioWagner the issue here is that the discovery spec doesn't include a jsonWebKeySet, i believe you will find the keys in additional data.

[2020-06-30 19:01] RogerioWagner commented on #1475
It's present in the json i've posted just because some experiments, currently it's not in the implementation anymore.

To workaround the problem I've made a copy of OpenIdConnectConfiguration.cs from the repository and changed the property JwksUri to jwks_uri.

        /// <summary>
        /// Gets or sets the 'jwks_uri'
        /// </summary>
        [JsonProperty(DefaultValueHandling = DefaultV

[2020-06-30 20:01] brentschmaltz commented on #1475
@RogerioWagner how are you serializing to Json? I ask because we have roundtrip tests here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/a22c4f474b806c7c90f6dd9b5fd371fd55db51d4/test/Microsoft.IdentityModel.Protocols.OpenIdConnect.Tests/OpenIdConnectConfigurationTests.cs#L234

[2020-06-30 21:42] RogerioWagner commented on #1475
@brentschmaltz I'm not serializing by myself, the json was captured in postman calling the endpoint https://localhost:4000/.well-known/openid-configuration, which is routed to the method you can see on my previous post.

[2020-07-01 06:43] alexjebens commented on #1476
@brentschmaltz you are correct that this would help. It is all I would really need.

I still feel that it is inconsistent that reserializing using the Saml2Serializer modifies the string, however that can be a separate issue.

[2020-07-01 07:11] nightkr commented on #1478
Thanks!

[2020-07-01 11:34] kashtak commented on #1475
I'm stuck with the same issue recently.
Just want to add, that in the OpenIdConnect library version 5.2.0 the Newtonsoft JsonProperty attribute is used to specify that "jwks_uri" name. And it works (serializes an object) correctly.
Since the OpenIdConnect started (don't know exact version) to use JsonProperty attribute from the System.Text.Json library it ignores the specified property name.
I don

[2020-07-01 15:00] brentschmaltz commented on #1478
@teozkr thank you! As our SDK is used by other SDK's and used by other SDK's ...
These type of breaks cause issues for users and we want to avoid that.

We as a team have realized that when we miss something like this, we have to leave it as is.

[2020-07-01 15:13] brentschmaltz commented on #1476
@alexjebens it's not always possible to determine what the original xml was. As it moves through hops, rules of xml allow it to change to equivalent forms. Kind of a big equivalence class. Extra whitespace, normalization of newlines (/r/n -> /n), reordering of attributes, etc, ...

This is one reason the signature of a JsonWebToken  (JWS) is over the base64urlencoded octets. The original json is a

[2020-07-05 13:24] Mordahlhuilhulh commented on #468
Hello @brentschmaltz ,
Just wants to be sure that there isn't any new update regarding the async versions of SignatureProvider.Sign and SignatureProvider.Verify?

[2020-07-07 12:49] graphicsxp opened #1484 "nuspec file missing from microsoft.identitymodel.protocols.openidconnect 5.5.0"
it's all in the title. I'm getting the error :

´C:\Program Files\dotnet\sdk\3.1.301\NuGet.targets(128,5): error NU5037: The package is missing the required nuspec file. Path: \.nuget\packages\microsoft.identitymodel.protocols.openidconnect\5.5.0  `

the nuspec file is indeed missing from the package. Can this be fixed ?

[2020-07-07 16:11] GeoK commented on #1484
Hi @graphicsxp - I just downloaded [Microsoft.IdentityModel.Protocols.OpenIdConnect 5.5.0](https://www.nuget.org/packages/Microsoft.IdentityModel.Protocols.OpenIdConnect/5.5.0), and I see _Microsoft.IdentityModel.Protocols.OpenIdConnect.nuspec_ file in the package.

The solution for scenario 2 might fix your issue:
https://docs.microsoft.com/en-us/nuget/reference/errors-and-warnings/nu5037#scenari

[2020-07-07 16:54] graphicsxp commented on #1484
ok, this is so weird. I definitely had 5.5.0 installed and the nuspec was missing.
However after clearing all the packages in cache, now the package contains the nuspec. I can't explain that but my project builds...

[2020-07-07 17:40] GeoK commented on #1484
Awesome, I'm closing the issue.

[2020-07-07 17:40] #1484 closed, assigned to GeoK

[2020-07-07 19:47] #1442 closed, assigned to keegan-caruso

[2020-07-08 19:26] keegan-caruso opened #1486 "Consider making issue templates"
It would be helpful for issue reporters and maintainers if the repository adopted issue templates.

An example from identity-web:
https://github.com/AzureAD/microsoft-identity-web/tree/master/.github/ISSUE_TEMPLATE

An example from aspnetcore:
https://github.com/dotnet/aspnetcore/tree/master/.github/ISSUE_TEMPLATE

Docs [link](https://docs.github.com/en/github/building-a-strong-community/configuri

[2020-07-09 16:39] brentschmaltz commented on #468
@Mordahlhuilhulh not yet ...

[2020-07-10 06:40] wenx1 commented on #1471
I got this error as well. Could someone give more information what does this exception mean?
`Signature validation failed. Keys tried: 'System.Text.StringBuilder'`

[2020-07-10 18:46] brentschmaltz commented on #1471
@DariusFaison there should be number IDxxxxxxx associated with this error.
By default, we filter exceptions and only show the type rather than the contenst.

If you want to see all details of the exception then you need to turn on PII see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/ca833866cc3091ea115125c3600d903cda539e74/src/Microsoft.IdentityModel.L

[2020-07-12 08:08] Mordahlhuilhulh commented on #468
@brentschmaltz  Thanks for your quick replay.
Do you know when the async version is planned?

[2020-07-20 20:45] keegan-caruso opened #1492 "Don't use non short circuiting Or in SamlSubjectEqualityComparer"
Use of the non short circuiting or (`|`) is potentially confusing and could result in logical errors

See:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens.Saml/Saml/SamlSubject.cs#L179

and

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Token

[2020-07-22 15:27] #1492 closed, assigned to nobody

[2020-07-23 21:09] #1410 closed, assigned to keegan-caruso

[2020-07-26 23:37] brunobritodev opened #1496 "JsonWebKey - Not serializing properly"
### Bug description
I got the last update of `Microsoft.IdentityModel.Tokens` , v6.7.1, before was 5.6.0.

And I figure out that my JWKS endpoint start to show a lot of new information. Then after a further investigation I got that both `System.Text.Json` and `Newtonsoft.Json` are ignoring the properties `JsonIgnore` from [JsonWebKey](https://github.com/AzureAD/azure-activedirectory-identitymodel-

[2020-07-27 00:29] brunobritodev commented on #1496
Who got stuck in this problem. Just create new JsonWebKey wrapper class:

[code]

[2020-07-27 14:53] brentschmaltz commented on #1496
@brunohbrito sorry for the hassle.

Yes it is our intention to remove dependencies on opensource libraries other than .net. The reason is partially related to our position in the application stack. We sit below the application layer. It is common for other SDK's to layer on top of IdentityModel.

The reason is related to back-compatibility. If we depend on an open source library AND the applicatio

[2020-07-27 15:10] brentschmaltz commented on #1475
@RogerioWagner @kashtak with the 5.x releases, you could add the NewtonSoft directly. With the 6.x release, we removed the public exposure to NewtonSoft and you scenario is now broken.

ensure: #1496  #1465 are fixed also.

[2020-07-27 15:10] brentschmaltz commented on #1496
@brunohbrito I am closing this and linking it to #1475

[2020-07-27 15:10] #1496 closed, assigned to nobody

[2020-07-27 15:14] brentschmaltz commented on #1465
@ghstahl this seems to be a broader issue.
Closing this and linking to #1475

[2020-07-27 15:14] #1465 closed, assigned to brentschmaltz

[2020-07-27 15:16] brentschmaltz commented on #1453
fixed: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/6e5fb12bdc5f0fe225499f098f0e627d4c563831

[2020-07-27 15:16] #1453 closed, assigned to brentschmaltz

[2020-07-27 15:31] brentschmaltz commented on #1412
@Lanesra712 i am having a hard time following the exceptions as IDX10603 indicates we were unable to decrypt the JWE. While IDX10503 indicates a signature failure. But the JWE needs to be successfully before the signature can be verified.

Do you have an example JWE?

[2020-07-27 15:35] brentschmaltz commented on #1434
ensure that #1302 is considered

[2020-07-27 15:35] brentschmaltz commented on #1302
@martincostello @keegan-caruso closing and attaching to #1434

[2020-07-27 15:35] #1302 closed

[2020-07-27 15:47] brentschmaltz commented on #1330
We will add additional methods to TokenHandler

[2020-07-27 15:47] #1330 closed

[2020-07-28 02:01] danvic712 commented on #1412
@brentschmaltz
hi, the sample jwt token is `eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ7XCJzeXNFbk5hbWVcIjpcIlRQTS1BUFAyLjBcIixcInVzZXJOYW1lXCI6XCIxMDAwXCJ9IiwiZXhwIjoxNTk1OTA4MTUwLCJpYXQiOjE1OTU5MDA5NTB9.TqBfAPwjP3yAgAT5L9S3WzGBu4naNdnc6Szbtu7iLh0jznG5LfjDCAtnE2OTjnzOGcKdonGnEWo-TJTr3QhInA`
and the java source code is as follow
[code]

[2020-07-29 03:12] lostmsu commented on #982
This just wasted an hour of my life. Why is there a global static singleton configuration again, that ASP.NET Core sets implicitly, and is then inherited by anything created by me, unless I explicitly clear it?

[2020-07-29 06:14] bzivyon commented on #609
Using custom scope really gives an access token that can be verified in JWT
But - when try to use such an access token for api [me](https://graph.microsoft.com/v1.0/me) or [userinfo](https://graph.microsoft.com/oidc/userinfo) get an error:
[code]
@cforycki @xsreality @nickwinger does anyone have a solution? Thanks

[2020-07-29 18:05] blowdart commented on #982
Because it's not aspnet, it's the library we use.

[2020-07-29 19:27] CheloXL opened #1498 "Invalid text in error messages (Int32 instead of number)"
Installed version: 6.7.1
Error text: "IDX10653: The encryption algorithm 'System.String' requires a key size of at least 'System.Int32' bits. Key 'Microsoft.IdentityModel.Tokens.SymmetricSecurityKey', is of size: 'System.Int32'. (Parameter 'key')'"

As you can see, everything is wrong with what I guess are placeholders in the error string. Instead of "hmac-sha256" I'm getting "System.String". The

[2020-07-29 20:39] hpsin commented on #609
You have to request a token for Graph (e.g. scope=https://graph.microsoft.com/user.read) to get a token for Graph.  Only tokens for Graph can be sent to Graph.  This intro to OAuth may be helpful: https://youtu.be/fbSVgC8nGz4?list=PLLasX02E8BPD5vC2XHS_oHaMVmaeHHPLy&t=201

[2020-07-29 22:09] keegan-caruso commented on #1498
Thanks for reporting this.

This looks like an instance were we are aggressively filtering out potential [PII](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII)

[2020-08-03 16:56] brentschmaltz opened #1501 "Investigate issue with DTD processing suppression in XML in WsFederation"
We need to ensure this is not an issue.

aasembly: SuppressMessage("Security", "CA3075:Insecure DTD processing in XML", Justification = "Not created from factory, dtd is still prohibited", Scope = "member", Target = "~M:Microsoft.IdentityModel.Protocols.WsFederation.WsFederationMessage.GetTokenUsingXmlReader~System.String")]

[2020-08-03 22:59] brentschmaltz commented on #1258
@smiket we would like to fix this, do you have an example that fails?

[2020-08-04 06:26] bzivyon commented on #609
https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/815#issuecomment-668235798

@xsreality FYI

[2020-08-04 22:08] xsreality commented on #609
@bzivyon Thanks for the feedback. Will add examples in the post.

[2020-08-05 00:03] brentschmaltz commented on #1258
@everettcomstock would you be able to share a wsfed signin message that has this issue?

[2020-08-06 00:51] brentschmaltz commented on #1258
@everettcomstock no need to provide a sample, i was able to reproduce locally

[2020-08-06 08:19] trivalik opened #1502 "make internal JSON classes public"
Several classes are usefull without out juse of JWT.
For example in Microsoft.IdentityModel.Tokens the class Microsoft.IdentityModel.Json.JsonConvert or Microsoft.IdentityModel.Json.JsonConverter<T>. These classes existing in Newtonsoft.Json as public.

[2020-08-06 12:00] rwatjen commented on #1498
@keegan-caruso: I ran into a similar issue where the 'kid' was the problem, and no amount of searching let me know that the error message with "kid: 'System.String'" was because of the PII scrubbing. (Btw: I don't consider the key ID as being PII - it is after all public information that can be retrieved from the well-known URL from the OIDC provider).

It would be nice if the PII scrubbed error m

[2020-08-06 12:22] everettcomstock commented on #1258
Thanks @brentschmaltz!

[2020-08-06 17:23] brentschmaltz commented on #1502
@trivalik we are going to be moving to the new System.Text.Json API's.
The internal JSON work is just a stop gap as we were hitting some back-compat issues.

[2020-08-06 17:23] #1502 closed, assigned to nobody

[2020-08-07 00:33] keegan-caruso commented on #1498
@rwatjen thank you for adding perspective.

You might be interested in the following items

#1274
#1452
#1427

This looks covered by existing issue so I'm going to close the issue.

[2020-08-07 00:33] #1498 closed, assigned to nobody

[2020-08-07 20:34] brentschmaltz commented on #1258
@everettcomstock @smiket here is what I determined. White space is significant between elements when obtaining the C14n (https://www.w3.org/TR/xml-c14n/) octets that the signature is generated from. If the original xml had this whitespace, then we must read the token (xml) in a manner that will ensure that when calculating the C14n octets the signature will validate.

Sometimes as the xml flows th

[2020-08-09 22:28] smiket commented on #1258
Hi @brentschmaltz,

In my case it was the additional `&#xD;` which caused the issue, which occurs inside WsFederationMessage.GetToken().
As I stepped through the debugger, I could see the original SAML payload did not have the appended escape sequence.  Only after entering that function did the format change, adding the new lines.

When I did this, in the debugger, the signature check worked:
`tok

[2020-08-10 17:00] brentschmaltz commented on #1258
@smiket the most likely reason that "&#xD;" is added is because a "\n" character is found in the xml that arrives. Can you share a copy of the wasignin message that was received so that i can be sure?

[2020-08-10 18:32] keegan-caruso opened #1503 "Fix findings from Sonar static analysis"
Sonar analyzers found a few issues that should be fixed

See: https://sonarcloud.io/dashboard?id=AzureAD_azure-activedirectory-identitymodel-extensions-for-dotnet

[2020-08-10 19:32] rudeGit opened #1504 "How to change the kid value from thumbprint to public key finger print?"
The X509SigningCredentials class (via the base SigningCredentials) class defaults the Kid value to thumbprint of the certificate. When interacting with the non-dotnet world, they typically expect the kid value of the signing certificate to be public key finger print value.

There appears to be not a clean way to set the Kid value to other than what is provided.

Is there a way to do this while lev

[2020-08-10 21:32] brentschmaltz commented on #1412
@Lanesra712 i was able to repro the same error stack as you have shown.
They way i achieved this is by using a 'key' that is too small. We don't accept keys smaller that 128 bits.
It looks like you are using 5.x version of IdentityModel that ships with asp.net by default.

We have improved the error message in 6.7.1. There is still an issue as we report the error as 'encryption'.
The next version

[2020-08-11 01:03] rudeGit commented on #1504
This turned out to be rather simple. The following did the trick:

[code]

It had no effect on the signature computation but the output kid value was set to "Yadda" and I was able to verify the signature successfully.

[2020-08-11 01:20] brentschmaltz commented on #1504
@rudeGit glad you figured it out.
You could also write:
[code]

[2020-08-11 01:20] #1504 closed, assigned to nobody

[2020-08-12 12:56] krishnajampana commented on #1258
I have also similar issue when update wsfederation library to 3.1.5. I am tried but not sure how to override get token method.
could you please help me.
 let me know when this is fixed.  if the fix available which library needs to update.

[2020-08-12 17:06] brentschmaltz commented on #1258
@krishnajampana would you be able to share the wasignin message that exhibits the issue?

[2020-08-12 17:26] krishnajampana commented on #1258
<ds:X509Data>&#xD;
<ds:X509Certificate>&#xD;

we are getting the token similar above due to that we have the signature validation failed exception.

[2020-08-12 17:27] krishnajampana commented on #1258
<ds:X509Data>(&#xD);
<ds:X509Certificate>&#xD;

[2020-08-12 18:53] brentschmaltz commented on #1431
@kesane-msft what is happening here is we throw without trying all keys. We should add a try / catch inside GetContentEncryptionKeys.

[2020-08-12 19:30] brentschmaltz commented on #1258
@krishnajampana if I understand you, in the SignedInfo element in the signed saml, shows up with a "&#xD" in the string returned from WsFederationMessage.GetToken().
Am I understanding correctly?

[2020-08-12 19:39] kesane-msft commented on #1431
@brentschmaltz - not sure I get your comment over here. Could you please elaborate a bit more?

[2020-08-12 22:31] smiket commented on #1258
Hi @brentschmaltz thanks for keeping up on this one.  If the signature validation works in prior versions, would it make sense to compare the older method that does work and use that code (from here):

`var token = wsFederationMessage.GetToken();`

Just trying to be helpful - I know there's lots of permutations to consider.  I'd have a hard time sharing a SAML payload, but as I recall it was forma

[2020-08-12 23:26] brentschmaltz opened #1507 "Add Target 4.7.2"
With 4.7.2, we will be able to move the adapters for RSA and ECD for just 461 and 45.

For this issue, we can open up Creating a JsonWebKey from EC key.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1317

[2020-08-12 23:27] brentschmaltz commented on #1317
We have pretty much done all we can until we add the 4.7.2 target.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1507

[2020-08-12 23:27] #1317 closed

[2020-08-13 00:37] brentschmaltz commented on #1397
@kevinchalet question is what do we do with this value for Saml tokens?

[2020-08-13 00:49] brentschmaltz commented on #1259
@kevinchalet CreateToken(SecurityTokenDescriptor ...) is defined to return by SecurityTokenHandler to return SecurityToken. I agree this method would be helpful to return a string.
Perhaps a different name.

[2020-08-13 01:02] brentschmaltz commented on #1258
@smiket the difference i believe may be related to this small line of code here:  https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/66c26046a96ca23caf45540ca30b86dec88307be/src/Microsoft.IdentityModel.Protocols.WsFederation/WsFederationMessage.cs#L326

That line was removed because it caused other issues, signature failures when the whitespace was significan

[2020-08-13 12:02] krishnajampana commented on #1258
yes @brentschmaltz  we are getting  "&#xD"  from WsFederationMessage.GetToken() method. Could you please help me how to resolve it.

[2020-08-13 16:30] vllama opened #1510 "Unable to add "sub" claim to JWT token."
While migrating an asp.net  project to .net core  I have ran across the following issue:

when building a token using the following code:
[code]

the line : `tokenDescriptor.Subject.AddClaim(new Claim("sub", user.Email));`   has no effect.

Then in the controller action:

[code]
All other defined claims from above are present in claimsUser.Clamis, except for **"sub"**.

I noticed that in https://g

[2020-08-14 19:58] #1501 closed, assigned to brentschmaltz

[2020-08-14 19:59] #1200 closed

[2020-08-14 19:59] brentschmaltz commented on #1200
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1508

[2020-08-14 20:27] brentschmaltz commented on #1510
@vllama I believe you are experiencing "claimMapping".
Inbound the JwtSecurityTokenHandler uses this mapping: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/93334a8e94e66d3df36f2850a03549ed1bfd4234/src/System.IdentityModel.Tokens.Jwt/ClaimTypeMapping.cs#L41, you should find a claim of type ClaimTypes.NameIdentifier. There will be a property on the claim w

[2020-08-17 16:06] #1503 closed, assigned to keegan-caruso

[2020-08-17 17:25] ericsampson commented on #1215
That would be great @brentschmaltz , this is a footgun area : )

[2020-08-17 18:14] kevinchalet commented on #1397
@brentschmaltz sadly, I'm not aware of any equivalent in the marvelous world of SAML, so I'd say... nothing? (just like `TokenValidationParameters.ValidTypes`, that isn't used by the SAML handlers)

[2020-08-18 14:13] lsiano opened #1512 "Verifying a token signature using the public key (RS512)"
Hello,

I have a signed jwt token (rs512) and its public key

I need to create code that verify if the signature its valid or not.

Can I do that with this library?
I haven't found much on the forums regarding the issue I'm facing

[2020-08-18 14:34] gislikonrad opened #1513 "Add a WsTrustChannelFactory for getting a SecurityToken using WsTrust"
Now, since there is work ongoing with WsTrust message serialization/deserialization, it would be good to get a WsTrustChannelFactory for the raw communication to a WsTrust server.

[2020-08-18 17:55] mafurman commented on #1512
Assuming I'm understanding your question correctly, you'll want to use the JsonWebTokenHandler.ValidateToken(string token, TokenValidationParameters validationParameters) API. You should be able to provide your public key on the TokenValidationParameters.IssuerSigningKey.

[2020-08-18 18:49] brentschmaltz commented on #1513
@gislikonrad this would be a good feature and would help us with a wstrust client.
Not sure where it fits in.

[2020-08-19 06:47] mdrgeniebelt opened #1516 "JSON object as an `act` claim not handled properly"
Hello :)

So we've been implementing the delegation flow for our microservices and following the specification (still draft) we found out that we can provide the chain of delegation in the `act` claim ([RFC link](https://tools.ietf.org/html/rfc8693#section-4.1)) which _should_ be a json object.

We're using IdentityServer as a IdP and they have easy way of creating new custom grants and generating

[2020-08-19 08:30] mdrgeniebelt commented on #1516
Further investigation:

I'm adding `JToken` object to the `JwtPayload`

[code]

And then while debugging `public virtual IEnumerable<Claim> Claims` from `JwtPayload` I can see that its type is `JObject` instead and this is why it's treated in a different way than it is supposed to be treated:

![Screenshot_1](https://user-images.githubusercontent.com/44974903/90611399-f79a7f00-e206-11ea-9b4e-070a8

[2020-08-19 12:05] gislikonrad opened #1517 "Implement serialization and deserialization of full federation metadata spec"
Since WS-Trust is being added, wouldn't it make sense to flesh out the [WsFederationMetadataSerializer](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/brentsch/wstrust/src/Microsoft.IdentityModel.Protocols.WsFederation/WsFederationMetadataSerializer.cs)? It reads the SecurityTokenServiceType just to get the keys from it and then it ignores the other role

[2020-08-19 17:41] brentschmaltz commented on #1517
@gislikonrad yep, our POR includes bumping up our WsFederationMetadataSerializer support.
Our first step was to support WaSignin for asp.net.
We now have bigger objectives with some additional WsTrust and WCF federation binding support offered by the WCF team.

[2020-08-19 17:45] gislikonrad commented on #1517
A bit off topic, but...

@brentschmaltz So the WCF team is working on federation bindings for .net standard? That's great news. Do you know if this includes the CreateChannelWithIssuedToken method on the ChannelFactory. That would be quite useful on a WsTrustChannelFactory.

[2020-08-19 19:27] brentschmaltz commented on #1516
@mdrgeniebelt you hit an issue where we have moved a clone of Newtonsoft internally.
We haven't moved to System.Text.Json yet.

I am working through some sample code and am finding multiple issues with supporting your scenario.
Wanted to let you know we are working on a workaround for now...

[2020-08-19 22:06] brentschmaltz commented on #1516
@mdrgeniebelt i added some sample code here: https://github.com/brentschmaltz/CodeSnips/blob/d25dc28b4d2af139e74f08feea31bc4c25b87069/src/JwtTokens/CreateToken.cs#L110 that will produce the correct json.
I see there is a lot of work to have the ClaimsIdentity have the 'Actor' chained properly. We use "ClaimTypes.Actor' that doesn't map to the json spec you reference.

[2020-08-19 22:12] brentschmaltz commented on #1397
@kevinchalet one thought would be use the PropertyName JwtTokenType, then a comment.
Another possibility: JwtSecurityTokenDescriptor, here properties for token specific stuff could live.

First idea seems simplier.

[2020-08-19 22:30] brockallen commented on #1516
The short of it is though that we need an easy way to take json and have it serialize properly. I think the simplest example is the `address` claim type from OIDC.

BTW, this is the major blocker why IdentityServer was unable to upgrade to the current version of "System.IdentityModel.Tokens.Jwt". We have to pin against version 5.6.0 because of this regression in 6x.

[2020-08-19 23:34] brentschmaltz commented on #1517
@gislikonrad currently there is no plan for any ChannelFactory type objects, however some users have expressed interest.
Here is the code for the WsFederationBinding : https://github.com/dotnet/wcf/tree/master/src/System.ServiceModel.Federation

[2020-08-19 23:36] brentschmaltz commented on #1431
@kesane-msft we throw without trying the rest of the keys, so unless the first one works we fault.

[2020-08-19 23:56] brentschmaltz commented on #1516
@mdrgeniebelt @brockallen i pushed a slightly different solution where the you can make use of the ability to specify the 'json serializer'

            JsonExtensions.Serializer = JsonConvert.SerializeObject;
            JsonExtensions.Deserializer = JsonConvert.DeserializeObject;

see: https://github.com/brentschmaltz/CodeSnips/blob/9ed9c141035a87f671e716b5318a7017009c3438/src/JwtTokens/CreateTo

[2020-08-20 09:30] lmlearn opened #1519 "Rapid Identity - at_hash"
Hi,
I have been working with Rapid Identity; one of the scenarios we encountered is the at_hash claim.
The Rapid IDP at_hash has a base64url encoded padding. i.e. "==" at the end of the string.
Where as most of the IDP; like microsoft, google, okta, Auth0 don't have the padding in the token for validation.

Following is the code which validates the at_hash:

**In class file:**

**Microsoft.Identit

[2020-08-20 17:14] brentschmaltz commented on #1519
@iambmelt are you saying the at_hash contains '==' as a postfix?
Are you asking us to remove the '==' if we see it?

[2020-08-20 17:15] brentschmaltz commented on #1516
@brockallen I assume the extensibility worked for you?

[2020-08-20 17:16] iambmelt commented on #1519
Think I was accidentally tagged, @lmlearn ^^

[2020-08-20 17:37] brockallen commented on #1516
I did not try it yet.

[2020-08-20 23:29] #1431 closed, assigned to RojaEnnam

[2020-08-21 00:17] #1268 closed

[2020-08-21 19:38] kevinchalet commented on #1397
It's certainly an option, but is it really worth it? Wouldn't a `TokenType` property be more consistent with `TokenValidationParameters.ValidTypes` that doesn't include `Jwt` in its name?

[2020-08-21 19:41] kevinchalet commented on #1519
FYI the OIDC spec is crystal clear about the fact the `at_hash` is base64url-encoded (and not base64-encoded):

Isn't that something your identity provider should fix on their side?

[2020-08-24 11:29] vllama commented on #1510
Thanks, I was able to modify the library that was looking for sub in the meantime to use the NameId, so that worked as well.

[2020-08-24 18:50] brentschmaltz commented on #1510
@vllama as a note the JsonWebTokenHandler has similar functionality as the JwtSecurityTokenHandler but does not perform any mapping.

[2020-08-24 18:50] #1510 closed, assigned to nobody

[2020-08-24 19:41] brentschmaltz commented on #1519
@kevinchalet @lmlearn yes that is correct about base64url encoding. We would not be willing to remove any chars from the at_hash.
I agree with @kevinchalet these characters should not be there.

There is extensibility for you to work around this issue here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/92580d7f1a3027c6f400cc11be46d9e061dedea2/src/Microso

[2020-08-24 19:41] #1519 closed, assigned to nobody

[2020-08-24 19:45] brentschmaltz commented on #1397
Yep, overthinking it.
We can cover it in comments.

@kevinchalet thanks for your help.

[2020-08-25 00:02] brentschmaltz commented on #1516
@brockallen we would like to make sure this works, do you have an example of the 'address' scenario you mention above?

[2020-08-25 04:53] lmlearn commented on #1519
HI All,
Thanks for the comments and suggestions;
My suggestion was
1. Check for at_hash with existing algo; if it fails for at_hash
2. Add the postfix "==" and check for the at_hash algorithm
If both fails we can consider the the validation failed.

Currently since the extension was provided; we are using the out of the box validation; and if it fails we added "==" to validate again. If both fails

[2020-08-25 18:18] brockallen commented on #1516
Just so you have it: https://openid.net/specs/openid-connect-core-1_0.html#AggregatedExample

I'll test when I can.

[2020-08-26 13:24] rsrinivasanhome opened #1523 "Intermittently getting .”SecurityTokenSignatureKeyNotFoundException: IDX10501: Signature validation failed” on Service deployed on AKS using Azure AD B2B client credential tokens"
We have deployed our services on - AKS aks version 1.16.9.  Our services have been developed using a wrapper library to authenticate token which internally uses Microsoft.Identity.Model.Token to validate the token. In most scenarios it works perfectly fine.  It has been configured to accept azure adb2c tokens as well as azure ad client credential tokens.
Once in a while (around 1 a month)  we are

[2020-08-27 15:39] Scooletz opened #1524 "Plans for adding .NET Core / NET5 targets"
Hi,

This is not an issue, but rather an open question. If there's a separate channel for it, I'm happy to move this conversation elsewhere. If found the mention in readme about [community](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#community-help-and-support) but this is an open question, so I think it's better to write it here.

Yesterday I hosted [a web

[2020-08-27 17:36] GeoK commented on #1523
Hi @rsrinivasanhome - It seems like your code doesn't refresh signing keys when a key rollover happens. That would explain why you are seeing this issue (~once a month), and why the issue goes away when you restart the pod (it picks up new config).

[2020-08-28 15:39] rsrinivasanhome commented on #1523
My understanding is the keys change every day and the library we are using
should be taking care of rotating the keys. We have seen the same code work
perfectly fine with azure ad b2c tokens.

On Thu, 27 Aug, 2020, 11:06 PM George Krechar, <notifications@github.com>
wrote:

[2020-08-30 14:26] rsrinivasanhome commented on #1523
@GeoK  when the exception was logged we could see the kind .  The kind was the latest and the same as the value retrieved from the meta data end point.  Even if we use a new token the issue would persist.

[2020-08-31 15:07] keegan-caruso commented on #1524
Hello,

We have this enhancement open to track this work

#1426

[2020-08-31 17:03] brentschmaltz commented on #1523
@rsrinivasanhome how / when is 'tokenconfig' created?

[2020-08-31 18:01] blowdart opened #1525 "Parsing/Validating a JWT token with invalid `exp` field fails on core 31."
From https://github.com/dotnet/aspnetcore/issues/25419

###   Bug description
JwtPayload.Exp throws if tokens contains a DateTIme instead of numeric value

###   Expected behavioud
It should return null

### Details

The documentation of `System.IdentityModel.Tokens.Jwt.JwtPayload.Exp` states :

However this is not the case. `Exp` property geter throws an exception if values is a Datetime. Here is

[2020-08-31 18:02] blowdart commented on #1525
@matra774

[2020-08-31 19:56] keegan-caruso commented on #1525
Thanks @matra774 for reporting this.

@brentschmaltz do we want to get this into 6.7.3 or 6.7.3 +1?

[2020-09-01 06:22] Scooletz commented on #1524
Lovely! I'll watch the issue you mentioned @keegan-caruso and closing this one. Thank you!

[2020-09-01 06:22] #1524 closed, assigned to nobody

[2020-09-01 06:39] rsrinivasanhome commented on #1523
The tokenconfig is stored in Kubernetes secrets and azure key vaults.  While analyzing the issue we found the Kubernetes pods were running fine for around 50 days without restarting. So token config is created well before deploying the pods.  This data is rather static and has not changed in a very long time.

[2020-09-02 00:26] brentschmaltz commented on #1525
@blowdart @keegan-caruso @matra774 it looks like our documentation is incorrect. The exp, iat, nbf claims should be NumericDate https://tools.ietf.org/html/rfc7519#section-4.1.4 . We should be throwing.

It would be prudent to ensure that JsonWebToken and JwtSecurityToken handle the same dates in the same way.

[2020-09-02 04:21] rsrinivasanhome commented on #1523
One point to note when the issue occurred it effected all pods at the same time.  When we recreated the pods the issue stopped.

[2020-09-02 13:29] matra774 commented on #1525
Not just the docs, the implementation also. All incorrect data should be handled in the same way (now string are handled differently than DateTime when NumerDate is expected)

[2020-09-02 14:50] brentschmaltz commented on #1525
@matra774 yes i agree a "DateTime" such as "2020-09-08T21:18:18.5297739+02:00" is not NumericDate. However, if we modify this behavior and throw, we may break users.

[2020-09-04 15:25] rsrinivasanhome commented on #1523
Please guide us how this issue can be resolved.

[2020-09-04 15:53] northof490 commented on #1258
Hi @brentschmaltz thanks for keeping this open. Is there any update on this issue?

[2020-09-04 18:05] brentschmaltz commented on #1258
@northof490 i would like to propose a change where the user has the ability to 'ignore' whitespace outside of elements. This allows a user to have control.

[2020-09-04 18:10] northof490 commented on #1258
@brentschmaltz would you just add a flag to WsFederationOptions?

If you have anything you need tested in a pre-release just let me know.

Thanks again!

[2020-09-04 18:26] everettcomstock commented on #1258
@brentschmaltz in theory I think your proposition would work for us too.

[2020-09-04 19:17] brentschmaltz commented on #1523
@rsrinivasanhome JwtBearerHandler will automatically call into Options.ConfigurationManager: GetConfigurationAsync() and RequestRefresh() if Options.ConfigurationManager is set.

Options.ConfigurationManager will be set automatically if the metadata or authority is passed to JwtBearerOptions in startup. However, in your case you want to have control over populating TVP.

To trigger a refresh, you

[2020-09-04 19:17] #1523 closed, assigned to nobody

[2020-09-04 19:19] brentschmaltz commented on #1258
@everettcomstock @northof490 we will ping you when we have something to test. Most likely the week of Sept 7th.

[2020-09-06 17:09] matra774 commented on #1525
@brentschmaltz I do not suggest to modify the behavior so that `exp` property getter throws.  On a contrary. It currently throws, if a value is DateTime string - I suggest that it should NOT throw (as is the case if you use `"foo"` as the value for `exp`)

On a related note. The `exp` property currently returns `int32` making it prone to [year 2038 problem.](https://en.wikipedia.org/wiki/Year_2038

[2020-09-09 12:30] rsrinivasanhome commented on #1523
During the startup we are calling a wrapper api to configure the signing keys. We have been using the same code for b2c end points and never faced an issue.  Why does this happen only when we are using b2b tokens - azure b2b client credential ?

[2020-09-09 17:42] divyanshumehta commented on #1525
@brentschmaltz  I am getting a token exception message like this, is it related to this one. My token is valid and exp value is 1599280362

"IDX10223: Lifetime validation failed. The token is expired. ValidTo: 'System.DateTime', Current time: 'System.DateTime'."

[2020-09-09 17:52] keegan-caruso commented on #1525
@divyanshumehta

By default all parameters are censored. To show the parameters (potential PII) see:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII

[2020-09-09 17:58] divyanshumehta commented on #1525
ohh sorry I looked into it, i think since I am +3 hours from UTC that is why the token is always showing expired.

[2020-09-10 01:26] keegan-caruso opened #1527 "[Proposal] PII Filtering enchancement"
The filtering of PII is a frequently confusing topic for users of this library. Filtering everything or nothing isn't always an easy choice. Additionally, it would be an improvement to allow changes to this at runtime

What I suggest is introducing a new interface with a single method of or similar to:

[code]

As a property to IdentityModelEventSource.

And providing a default implementation that

[2020-09-11 17:27] #1194 closed

[2020-09-12 07:21] DhivyaG19 opened #1528 "Migration document doesn't have clear documentation on breaking changes from 4.x to 5.x"
Migration document doesn't have clear documentation on breaking changes from 4.x to 5.x . For example , this documentation doesn't have information about that IssuerSigningTokens in 4.x is replaced with IssuerSigningKeys in 5.x.

The [migration notes](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#usage) here links to [this page](https://github.com/AzureAD/azu

[2020-09-13 12:05] jschaufele commented on #609
I was able to verify the token using the pattern below - In my case I  wanted to verify an application token not a user token -

it was not straight forward and  it took several pieces of MANY blogs the final piece was creating an Application URI in B2C and using it for my scope rather than https://graph.microsoft.com/.default,
this can be found in your application registration / expose an api - h

[2020-09-15 21:53] drago-draganov opened #1530 "System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler.ValidateSignature throws unexpected ArgumentException"
Hello Team,

Recently started seeing unexpected ArgumentException exception during token validation. The documented contract doesn't suggest such behavior. A preceding call to JwtSecurityTokenHandler.CanReadToken returned true.

Microsoft.IdentityModel.Clients.ActiveDirectory, Version=5.2.2

Call stack:

System.ArgumentException: IDX12729: Unable to decode the header 'System' as Base64Url encoded

[2020-09-16 23:44] GeoK commented on #1528
Hi @DhivyaG19, are you migrating from Katana (Owin) 3x? Perhaps you'll find [this page](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Migrating-from-Katana-(OWIN)-3.x-to-4.x) to be helpful.

There is a lot of breaking changes in 5x (4x had only two assemblies and 5x has 10+), and 4x is not supported anymore. Is there anything specific that you would like

[2020-09-16 23:51] GeoK commented on #1530
Hi @drago-draganov, it seems like you passed a secure string ('System.Security.SecureString') to JwtSecurityTokenHandler. The reason why CanReadToken returns **true** is because the method only counts dots and recognizes 'System.Security.SecureString' as a JWS (2 dots).
JwtSecurityTokenHandler doesn't support SecureStrings.

[2020-09-17 03:16] drago-draganov commented on #1530
Hi @GeoK,
I don't think I follow. JwtSecurityTokenHandler.ValidateToken accept string as token value. I certainly don't explicitly pass SecureString. The JWT token is provided over the wire as a string. The first step is to validate it, therefore the call to JwtSecurityTokenHandler.ValidateToken.

[2020-09-17 15:30] gislikonrad opened #1531 "WsSecuritySerializer namespace should not write all elements and attributes with WS-Security 1.1 xmlns"
I've been testing out the WS-Trust package from the brentsch/wstrust branch. One thing that I came accross is that when I'm using Trust 1.3 and I need to write a SecurityTokenReference, it's written using the WS-Security 1.1 xmlns. After looking through the code, this is true for WS-Trust 1.4 aswell.

WS-Security 1.1 specifies that all elements that were present in WS-Security 1.0 should be writte

[2020-09-17 15:54] gislikonrad commented on #1531
I have tried using requests serialized using this library on an ADFS STS and a PingFederate STS and they both fail. If I write the SecurityTokenReference manually with the WS-Security 1.0 xmlns, it works.

[2020-09-17 17:01] gislikonrad commented on #1531
#1532 addresses this issue.

[2020-09-17 20:28] GeoK commented on #1530
@drago-draganov Check if you can verify that you are not passing SecureString. Looking at the stack trace you posted, it looks like the string you passed is a SecureString.
`Unable to decode the header 'System' as Base64Url encoded string. jwtEncodedString: 'System.Security.SecureString'. `

[2020-09-17 20:40] drago-draganov commented on #1530
@GeoK I'm not passing SecureString to JwtSecurityTokenHandler.ValidateToken for sure. How can one compile with SecureString argument, since the JwtSecurityTokenHandler.ValidateToken API signature accepts only String? Am I missing something?

The JWT token content itself is coming on the wire and I don't have control how and what is serialized. The error looks to me related to the deserialization o

[2020-09-18 00:03] GeoK commented on #1530
Any chance that you can capture the token and reproduce? Looking at the stack trace, value of the token that you are passing to ValidateToken is 'System.Security.SecureString'.

[2020-09-19 00:31] #1460 closed, assigned to keegan-caruso

[2020-09-21 17:04] drago-draganov commented on #1530
To clarify a bit. The issue is not that parsing the token fails due to bad payload, but the way it fails. The current ArgumentException is not expected. Perhaps should be manifested via SecurityTokenException?

[2020-09-22 15:51] brentschmaltz commented on #1531
@gislikonrad will get this fixed for our WSTrust release.

[2020-09-22 16:30] brentschmaltz commented on #1528
@DhivyaG19 there are no other breaking changes from 4.x to 5.x then in our wiki.
If you have a specific issue, please let us know.

[2020-09-22 16:30] #1528 closed, assigned to GeoK

[2020-09-24 09:47] pieteckhart commented on #1401
Hi @hauntingEcho,
I am having the same error with the strange "System.String" value.

Can you help me out with what kind of dependency issue resulted in the error?

Thanks

[2020-09-24 14:33] gislikonrad opened #1533 "WriteXmlnsAttribute in DelegatingXmlDictionaryWriter throws exception"
The stack trace

This happens because the parameters aren't forwarded correctly to the InternalWriter and TracingWriter as seen [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Xml/DelegatingXmlDictionaryWriter.cs#L376).

The correct implementation would be:

[code]

or if you want to keep using the **WriteAttributeStr

[2020-09-24 14:35] gislikonrad commented on #1533
If anybody out there has this error in their code, a workaround would be to call
`WriteAttributeString("xmlns", prefix, null, @namespace);`
on their DelegatingXmlDictionaryWriter instead.

[2020-09-24 14:36] hauntingEcho commented on #1401
I honestly don't recall - I think it had gone away for me after updating all of my project's dependencies.

[2020-09-24 19:53] northof490 commented on #1258
@brentschmaltz any progress?

[2020-09-24 21:42] zvolkov commented on #852
This would come in handy to glue our newer stuff to legacy stuff that relies on ADFS integration, are you guys planning to release it any time soon?

[2020-09-28 14:15] brentschmaltz commented on #1258
@northof490 @everettcomstock @smiket @krishnajampana there is a workaround here:

In **startup.cs** replace the SamlSecurityTokenHandler with one the retries the validation if SecurityTokenInvalidSignatureException is thrown.

The same code would work Saml2 tokens.

[code]

[2020-09-29 13:15] zvolkov commented on #852
Since MSFT is not responding, posting what I found myself, for other developers' sake:

The changes in `brentsch/wstrust` topic branch have been merged; WsTrust functionality is available on NuGet as Microsoft.IdentityModel.Protocols.WsTrust (package version 6.7.2-preview-10803222715 and newer).

WS2007HttpBinding and WSFederationHttpBinding are available in System.ServiceModel.Http (package versi

[2020-09-29 14:11] northof490 commented on #1258
Thank you @brentschmaltz!

[2020-09-29 20:23] brentschmaltz commented on #1258
Since there is a workaround, i am moving this to the next milestone.

[2020-09-29 20:26] brentschmaltz commented on #1533
@gislikonrad thanks can you provide the code sample that exhibits this?

[2020-09-29 20:39] brentschmaltz commented on #1530
@drago-draganov we can't change the exception as we could break users.
We are moving towards JsonWebTokenHandler and I don't think this meets the bar.

[2020-09-29 20:39] #1530 closed, assigned to GeoK

[2020-09-29 20:40] brentschmaltz commented on #1527
@keegan-caruso what about if users could hook a delegate to get the exception message before we filtered it?

[2020-09-29 20:48] brentschmaltz commented on #1525
@matra774 i agree we have 2038 issue and will have to add a new API, so we don't break backcompat.

@keegan-caruso i see a couple of issues with out GetIntClaim to handle 'exp', 'iat', 'nbf'
1. Should we be allowing an array?
2. we should not be throwing if we can't be converting to int.

[2020-09-29 20:51] keegan-caruso commented on #1527
@brentschmaltz good point. I think that is also something we should look at and is in line with current APIs in this library.

That would give a path forward to hook up runtime log filtering based on an IOptionsMonitor with implementing only a delegate.

[2020-09-29 20:57] brentschmaltz opened #1534 "Remove locks from SymmetricSignatureProviders and AsymmetricSignatureProviders"
Locking inside a signature provider can result in contention when multiple threads are using the same signature provider.
If signature caching is on AND multiple threads are in use, performance will be reduced.

Use an ObjectPool for:
1. AsymmetricSignatureProvider: AsymmetricAdapter
2. SymmetricSignatureProvider: KeyedHashAlgorithm

AsymmetricAdapter is internal, no additional apis will be needed

[2020-09-30 18:25] brentschmaltz commented on #1531
@gislikonrad  fixed in this commit: 241e5f8374b8f4a7a53e44d6af87bf0b91410c50

[2020-09-30 18:25] #1531 closed, assigned to brentschmaltz

[2020-09-30 18:45] brentschmaltz commented on #1512
@lsiano let us know if you have any additional issues.

[2020-09-30 18:45] #1512 closed, assigned to nobody

[2020-10-05 15:12] davesmith9088 commented on #1092
This is happening again with the latest version 6.7.1

[2020-10-06 11:37] IanKemp opened #1537 "JwtSecurityTokenHandler.DefaultMapInboundClaims static property considered harmful"
https://blog.ploeh.dk/2020/10/05/fortunately-i-dont-squash-my-commits/

To paraphrase, `Global variables are evil.`

`JwtSecurityTokenHandler.DefaultMapInboundClaims` is a global variable. It should not exist. Instead there should be an **instance** configuration method or option that can be hooked in ConfigureServices, i.e. following the standard pattern for configuration in ASP.NET Core.

The sa

[2020-10-06 19:50] keegan-caruso commented on #1537
Thanks for opening an issue.

Not sure what the ask is here? We can't remove the static variables as that is a breaking change.

[2020-10-07 01:09] brockallen commented on #1537
This has been a long-standing complaint (for 5+ years). I'm sure you can find the other similar issues raised about this.

[2020-10-07 16:26] IanKemp commented on #1537
After that, mark these static fields on `JwtSecurityTokenHandler` as `[Obsolete]` and update the documentation to point people to use the instance properties you're going to create.

I'd be impressed if that's the case, since `DefaultMapInboundClaims` was added in 6.6.0 which was released a mere four months ago.

Or perhaps you are referring to [this issue](https://github.com/AzureAD/azure-actived

[2020-10-07 17:05] brentschmaltz commented on #1537
@IanKemp We take backcompat very seriously since we are a middlelayer SDK and have many, many SDK's that build on top of us we cannot and will not knowingly make any breaking changes.

1. Just don't use the flag.
2. We can certainly mark it [Obsolete]
3. We fully agree we made a mistake in the whole claim mapping debacle and are embarrassed by it.
3. Keep in mind this decision was made when SAML w

[2020-10-07 17:05] #1537 closed, assigned to nobody

[2020-10-07 18:03] GeoK commented on #1329
Closing. Duplicate of #1507

[2020-10-07 18:03] #1329 closed

[2020-10-08 15:23] Herostwist opened #1538 "JwtSecurityTokenHandler looking for Claim properties which are not being added to JWT payload"
When a JWT is handled by **JwtSecurityTokenHandler** it tries to map any properties in the JwtClaim to a System.Security.Claims.Claim -[see line 1136](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/7058653ca8e3fccc3bcab48f521d9b0b10060251/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L1136
)

However when the token is created using `IEnum

[2020-10-08 17:35] stricq commented on #601
I've been searching all morning for example/tutorial code on how to use/implement SAML.  I cannot find ANYTHING.  There is no code.  Does anyone have anything anywhere on how to use SAML?

[2020-10-08 19:45] #1397 closed, assigned to RojaEnnam

[2020-10-12 14:17] brockallen commented on #1516
Finally tested this, and it did work. I hadn't thought about what your suggest meant until now and I realize these are more static variables, so the chances of my use case globally affecting anything else in the hosting app is high.

Are these exposed as instance members somewhere instead? That will help isolate the effect, because these changes are causing other errors elsewhere in our codebase.

[2020-10-12 15:01] vcsjones opened #1539 "Documentation for lifetime of `SecurityKey` asymmetric algorithms?"
In `dotnet/runtime` [there was a report][1] that `RSA` was not behaving as expected. The issue amounted to using an instance of `RSA` to `RsaSecurityKey`, which resulted in the `RSA` instance being put in `InMemoryCryptoProviderCache`. However, the `RSA` object was disposed of by the developer while it was in the cache, thus a subsequent validation using a different instance of an `RSA` object but

[2020-10-12 16:55] brentschmaltz commented on #1539
@vcsjones you are correct, if you pass an RSA object to the RsaSecurityKey AND caching is on, then a reference will be maintained. If in the meantime, you dispose of the RSA, there will be an issue.

Marked this bug as documentation.

[2020-10-12 17:08] brentschmaltz commented on #1538
We'll have a look into this.

[2020-10-13 13:20] brockallen commented on #1516
Ok, don't worry about this then. We're just working around this by #ifdef around .NET Core 3.1 vs .NET 5.

[2020-10-14 07:52] c-yan opened #1541 "It looks like the type name is in there where the actual date should be"
- The version you're using.

System.IdentityModel.Tokens.Jwt 6.8.0

- The behavior you're seeing. If at all possible, please submit a reduced repro or test that demonstrates the issue.

When the token expired, I got the following exception.

[code]

- What you expect to see.

I think the "ValidTo: 'System.DateTime', Current time: 'System.DateTime'." is supposed to contain the actual time (e.g. 202

[2020-10-15 08:38] RufusJWB opened #1542 "Validation of JWT based on the x5c header field is not working"
I have the following JWT which was signed with an X509 certificate. The signing certificates itself is embedded in the `x5c` field of the JWT header.

I'm trying to validate this JWT with the following code:

[code]

This results in an exception:

As an alternative approach, I did try to extract the certificate from the x5c field in the header

[code]

but this is not working either, since there i

[2020-10-15 22:31] rajwitt commented on #609
### **this is the solution**

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/609#issuecomment-520112518

**this is the solution** - the documentation is correct but does not cover the most common use case and even if using a MSAL (Python) lib the point of the scope variable vs claims if all you want to do is verify access and some ID meta data is not su

[2020-10-16 22:55] keegan-caruso commented on #1541
This is the default censoring of any PII that is done by the library. We admit that it is not as obvious as it could be.

Please see this wiki item: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII

Reopen if this doesn't answer your question.

[2020-10-16 22:55] #1541 closed, assigned to nobody

[2020-10-16 22:56] keegan-caruso commented on #1534
@brentschmaltz are there any other updates here or is this one ready to close?

[2020-10-19 16:28] brentschmaltz commented on #1534
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/00d4602f1eebbf42ec78cca66d8e59d9b7e892cc

[2020-10-19 16:28] #1534 closed, assigned to brentschmaltz

[2020-10-21 19:11] polzka90 commented on #609
@jschaufele i follow your example and i get the a token that i can validate the signature, but i notice that the token doesnt have user information, i am making some wrong?

[2020-10-21 20:23] HarmanDhunna commented on #1507
Hi all, would love to see this feature!

[2020-10-21 21:04] polzka90 commented on #609
i did what i need, it was a rubbish xD, i was using the access_token to send to my api and make the verification when what i need to use is the id_token...
https://stackoverflow.com/questions/31495063/what-is-the-difference-between-id-token-and-access-token-in-auth0#:~:text=An%20access_token%20is%20useful%20to,often%20used%20by%20your%20app.

[2020-10-22 01:20] GeoK commented on #1542
Hi @RufusJWB - I don't fully understand what is the goal of adding the X5c property on JwtHearer (#1543).

To validate a signature, you'll need to set [IssuerSigningKey](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.tokens.tokenvalidationparameters.issuersigningkey?view=azure-dotnet) on TokenValidationParameters.

IDX10501 signals that the library couldn't match a signing key

[2020-10-22 08:51] c-yan commented on #1541
thanx!!

I have confirmed that the actual datetime will appear by `IdentityModelEventSource.ShowPII = true;`.

I understand that it is a specification, although it would be better to show `*protected*` instead of the type name, etc.

[2020-10-23 06:40] thuannguy commented on #852
@brentschmaltz thank you for implementing the feature. I and my team will look at this next time when we evaluate if we are able to migrate our products to .NET core (we do that like once a year). Please feel free to close this request if other requesters find that the implementation meets their needs.

[2020-10-23 21:09] RufusJWB commented on #1542
Hi @GeoK ! Yes, setting the IssuerSigningKey is exactly what I want to do, but to do this, I need (at least to my understanding) have access to the X5c property of the received JWT. If you decode the jwt I have pasted above, you will see, that it is signed with the private key that matches the certificate in the X5c field.

The code could look like this in the end:

[code]

[2020-10-23 22:07] thomaslevesque opened #1544 "JwtSecurityTokenHandler missing claim mapping for "name""
The _name_ claim is a registered JWT claim for the user's full name (https://www.iana.org/assignments/jwt/jwt.xhtml)
However, it isn't included in the default mappings, unlike _given_name_ and _family_name_.
It should probably be mapped to ClaimTypes.Name. Is there a reason for this, or is this just an oversight?

Workaround: execute this when the app starts:

[code]

[2020-10-26 15:38] brentschmaltz commented on #1326
not meeting any specific bar

[2020-10-26 15:38] #1326 closed

[2020-10-26 15:47] brentschmaltz commented on #1544
@thomaslevesque claim mapping is an interesting subject, most of the feedback we have received is that we should not map any claims.
How do you use claim mapping?

[2020-10-26 15:53] brentschmaltz commented on #1542
@RufusJWB it is important to ensure a token has been created by a trusted authority. How will the code above ensure the token has been issued by a trusted authority?

Our model for validation is to obtain keys and the issuer value from a trusted authority and then ensure the token is signed by that authority. We should also check the audience and expiration.

[2020-10-26 16:08] thomaslevesque commented on #1544
@brentschmaltz, actually, I agree with the idea that no mapping at all would be better. But if there's a mapping, it might as well be done right. I know I could disable the mapping completely, but since it's done by default and everybody is used to it, I usually don't bother.

[2020-10-26 16:14] brentschmaltz commented on #1538
@Herostwist JwtPayload.Claims does not add any properties to a Claim. If you need to add properties, then it would be necessary to override JwtPayload.Claims to do so.

JwtSecurityTokenHandler adds properties in case JwtPayload.Claims was overridden.

[2020-10-26 16:28] RufusJWB commented on #1542
@brentschmaltz the code will validate the signer certificate which is extracted from the x5c field and check, if it is issued by a CA that chains up to a trusted root CA. This can be done by out-of-the-box mechanism of any PKI infrastructure.

Of course, audience and expiration will be checked in production. I only disabled it for the sake of clarity in the code example.

[2020-10-26 16:28] brentschmaltz commented on #1218
does not meet a bar

[2020-10-26 16:28] #1218 closed

[2020-10-27 10:30] Herostwist commented on #1538
Seems like a very odd choice to implement claim properties one end and not the other. I can't see any way of overriding `JwtPayload` so it serializes Claim properties. Also if I were to inherit from `JwtPayload` it means that i would need to write my own version of `JwtSecurityToken` as it can't be overridden and accesses static methods on `JwtPayload`, which then means writing my own handler e.t.

[2020-10-28 10:23] cyberhck commented on #468
@Mordahlhuilhulh it looks like it's planned for V6 looking at assigned milestone.

[2020-10-29 16:03] aryamsft opened #1546 "Base64UrlEncoder doesn't have '=' padding"
Hello, I'm using Docker Rest API's for our work and the API specifies I have to use base64url encoding [Docker Auth API](https://docs.docker.com/engine/api/v1.40/#section/Authentication).

I want to use this nuget package to do so but I noticed that the encoding doesn't have the '=' padding at the end, which causes authentication with Azure Container Registry to fail.  When the '=' is added at the

[2020-10-29 19:10] DaveBrue opened #1547 "Token validation does not use require audience parameter"
System.IdentityModel.Tokens.Jwt v6.8.0

[code]

The token doesn't have an audience and it throws an audience exception but the RequireAudience parameter is false so it shouldn't throw.

[2020-10-29 19:11] DaveBrue opened #1548 "Token validation doesn't use the require audience parameter"
System.IdentityModel.Tokens.Jwt v6.8.0

[code]

The token doesn't have an audience and it throws an audience exception but the RequireAudience parameter is false so it shouldn't throw.

[2020-10-29 20:01] brentschmaltz commented on #1547
@DaveBrue  you pointed out an issue with our documentation and our code.
Indeed we do not seem to do much with require audience parameter.

We added some wiki notes [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/TokenValidationParameters.RequireAudience-is-not-used-correctly,-use-TokenValidationParameters.ValidateAudience-or-AudienceValidator)

Not

[2020-10-29 20:03] brentschmaltz commented on #1548
Closed, seems to be a dupe of : https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1547

[2020-10-29 20:03] #1548 closed, assigned to nobody

[2020-10-29 20:05] brentschmaltz commented on #1546
Base64Encoding is slightly different than Base64UrlEncoding, which does not have the padding characters: "==" and "=".
see: https://brockallen.com/2014/10/17/base64url-encoding/

[2020-10-29 20:05] #1546 closed, assigned to nobody

[2020-10-29 20:17] brentschmaltz commented on #1252
This should be done after adding a 4.7.2 target.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1507

[2020-10-29 22:23] aryamsft commented on #1546
@brentschmaltz There seems to be a disconnect in implementations then.

GoLang's implementation of base64.URLEncoding.EncodeToString() adds a '=' to the end of the encoding, as follows:

[code]

You can specify not to add padding at the end this way:

[code]

If you look at the [Docker CLI Source code](https://github.com/docker/cli/blob/f8696535e9e516a5a404661697fef6f1228ada64/cli/command/registry

[2020-10-29 22:29] Tratcher commented on #1546
The padding is offically optional when using base64urlencoding, and it's better to exclude it in many context to avoid additional encodings.

https://tools.ietf.org/html/rfc4648#section-5
   The pad character "=" is typically percent-encoded when used in an
   URI [9], but if the data length is known implicitly, this can be
   avoided by skipping the padding; see section 3.2.

So that would mean t

[2020-10-29 22:38] aryamsft commented on #1546
Ok, let me contact ACR and see what they say.

[2020-10-30 16:48] keegan-caruso commented on #1547
RequireAudience is used only for SAML and SAML2 right? The documentation on the property tries to state this

`Gets or sets a value indicating whether SAML tokens must have at least one AudienceRestriction.`

Should we expand the comment to explicitly state that it is not relevant for jwts?

[2020-10-30 18:57] aryamsft commented on #1546
Here is the response I got from ACR:

It seems like they are following what Docker does, which does use padding in their base64url encoding, which golang allows them to do.

I think it would be sensical to add the option of padding to the identitymodel library since Java, Golang and Python default to using padding and add optional flags/settings to encode without the padding.

[Java encoder](https

[2020-10-30 23:23] Tratcher commented on #1546
The RFC calls out reasons not to add the padding, so for those reasons and to avoid similar compat issues caused by changing the behavior identitymodel really should not add padding by default.

Adding a compat option here to add the padding is possible, but such compat options tend to get buried if you're not using the lowest layer of the API. E.g. if you were using this from a higher layer like

[2020-11-02 18:33] aryamsft commented on #1546
I looked at [RFC4648](https://tools.ietf.org/html/rfc4648#section-3.2) again,

Section 3.2 it says

Section 3.3 says

For Base64URL encoding, it says:

It seems like not adding the '=' is simply an option that MAY be done by a particular specification.  The IdentityModel library is following a particular interpretation of the RFC, which is fine.  But it seems like GoLang, Python and Java default t

[2020-11-02 18:44] Tratcher commented on #1546
@brentschmaltz @aryamsft let's wait and see how things go with Docker, ok?

[2020-11-03 07:17] supertravio commented on #1401
I had this issue. Triple check your JWT and confirm that the aud in the jwt is the same as what you've configured. In my case I was using the access token instead of the id token.

Updating project's dependencies didn't help me.

[2020-11-09 16:14] RufusJWB commented on #1542
@brentschmaltz any thoughts on this?

[2020-11-11 15:36] gekiss opened #1550 "Method XmlUtil.GetXsiTypeAsQualifiedName does not return element type."
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/30c16ab82cf4338c6d6e04a5d4094795aa83c587/src/Microsoft.IdentityModel.Xml/XmlUtil.cs#L193

According https://www.w3.org/TR/xmlschema-1/#xsi_type attribute name must be "type" in lowercase

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/30c16ab82cf4338c6d6e04a5d4094795

[2020-11-12 10:56] gislikonrad opened #1551 "AuthenticatedEncryptionProvider is impossible to override"
The call to [GetAlgorithmParameters](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/30c16ab82cf4338c6d6e04a5d4094795aa83c587/src/Microsoft.IdentityModel.Tokens/Encryption/AuthenticatedEncryptionProvider.cs#L261) in the constructor throws an exception on any algorithm that isn't supported by default.

[2020-11-16 21:08] henrik-me commented on #1550
@gekiss, thanks for pointing this out. Do you have a scenario where this is causing an issues?

[2020-11-17 01:47] rtrtrt777 commented on #1237
nika

[2020-11-17 16:41] raphaeljoie commented on #609
Hey

Okay, but

**If there is no way to validate the signature of the access tokens**, can you update the doc. In that case, it may be time saving to warn about the non-open validation process for non-Microsoft'ish devs who may be used to "common" meaning of JWT `alg`.

**else (there is a way to validate)**, I appreciate @brentschmaltz 's input, but it's not very convenient :/
I know there is a cr

[2020-11-17 16:51] jmprieur commented on #609
@raphaeljoie: access tokens are for the web API. The web API does validate it (ASP.NET / ASP.NET Core do it automatically). If you want to customize the validation, this sample can help:
https://github.com/azure-samples/active-directory-dotnet-webapi-manual-jwt-validation

access token should not be validated by **clients** (which acquire them from the identity provider) as this is not for them. W

[2020-11-17 17:22] raphaeljoie commented on #609
Hey @jmprieur thanks for the update :)
I'm not an ASP.NET expert and I have a hard time to read this example. Can you bring it to a higher level?

what does it mean? How does it happen? Does it happen locally or do you need to make a call to Microsoft Azure Active Directory to validate?

The reason why I want to validate a token locally is not the point of my question. I was reading from the doc t

[2020-11-17 17:31] hpsin commented on #609
The configuration of optional claims is for access tokens that contain your aud - tokens issued for your API.  You cannot edit Graph or other apps tokens.

[2020-11-17 18:10] raphaeljoie commented on #609
@hpsin indeed, I removed the optional claim but nothing changed. The scope of the configuration was unclear to me.

I was dreaming of another answer but it makes sense: no way to use/validate an access token dedicated to another client.

What do you suggest as a fallback if I want to both use Graph API *and* secure my own API without a user backend? a mix of openid + access token?

[2020-11-17 18:12] hpsin commented on #609
If you want to protect an API, then you can create your own API and register scopes for it, and use those.  See here for details: https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis

And you're correct - you can request a token for Graph, in your client, to call Graph, and then request another token for your own API.  Accepting tokens for a diff

[2020-11-18 14:07] shadow-cs commented on #1542
Well what you can do @RufusJWB is set `TokenValidationParameters.IssuerSigningKeyResolver` to a delegate which will extract the key from the `x5c` header while validating the chain by your PKI (do checkout new .NET 5 APIs 😉).

Obtaining the `x5c` header and properly validating its contents is a little quirky though. From the delegate you have access to a `SecurityToken` instance which you can safe

[2020-11-19 00:51] mafurman commented on #1551
I can see how adding this feature would be useful. I've gone ahead and labeled this as an enhancement.

[2020-11-19 08:58] RufusJWB commented on #1542
@shadow-cs  thank you for your feedback. I'll try this. Did you see my PR #1543 ? This one line of code would make the x5c header directly available without casting.

[2020-11-19 23:44] henrik-me opened #1553 "[Fundamentals] Rename master branch to main"
**Main branch**
_An inclusive new default_
New repos created within Microsoft orgs now have the default branch name of 'main'.

Teams are encouraged to rename their default branches if they are still using the 'master' branch name. This is an important, but not urgent, change.

**See more:**
https://repos.opensource.microsoft.com/

[2020-11-21 17:37] arunswarnam opened #1554 "The type initializer for 'System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler' threw an exception."
I am using a locally compiled version of System.IdentityModel.Tokens.Jwt.6.7.1.nupkg (not from Nuget) and I am getting the exception "The type initializer for 'System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler' threw an exception." from my project when instantiating `new JwtSecurityTokenHandler();`. I would like to know if there are any leads that will help me resolve the issue.

[2020-11-23 17:46] GeoK commented on #1553
Closing the issue as our default branch is 'dev'.

[2020-11-24 05:43] doeringp opened #1555 "HTML encoding breaks compatibility to use IdentityModel as an IdP for SharePoint"
`AuthenticationProtocolMessage.BuildFormPost()` produces encoded form input values using `WebUtility.HtmlEncode()` that break the compatibility to use the AzureAD IdentityModel to build an IdP for SharePoint.

We wanted to use AzureAD IdentityModel for our companies' Identity Provider to support the WS-Federation protocol. Before we used the .NET Framework IdentityModel classes before, but now we

[2020-11-24 05:45] doeringp commented on #1555
See also #755

[2020-11-24 06:09] doeringp commented on #1555
I find it interesting that it doesn't even work, when using the wsfed client library for .NET Core using the `AddWsFederation()` in Startup.cs.

I can reproduce the error using ASP.NET Core 2.1 and Microsoft.AspNetCore.Authentication.WsFederation Version 2.1.2.

I get a similar exception:
[code]

[2020-11-24 16:03] gislikonrad commented on #1531
@brentschmaltz Was commit 241e5f8 orphaned? It says it doesn't belong to any branch in this repo.

[2020-11-24 16:26] brentschmaltz commented on #1555
@doeringp are you using AuthenticationProtocolMessage.BuildFormPost to support a WS-Federation message such as wa-signin?
Your logic seems correct, the token contained Großbauteile, then HtmlEncode encoded the ß to &#223;, When the receiver does not preform the inverse decoding the digest fails.

We can't change the encoding here as that most likely would break other users.
The other issue is Http

[2020-11-24 16:29] brentschmaltz commented on #1554
@arunswarnam can you share the exception.
the assembly is delayed signed and will thrown if you have not allowed skipping verification.
we have .reg files in the build folder that contain the reg keys that need to be set.

[2020-11-24 16:31] brentschmaltz commented on #1551
@gislikonrad would a simple virtual be enough?

[2020-11-24 16:36] brentschmaltz commented on #1550
@henrik-me @gekiss we may run into issues if we modify the value of the constant.
It will be safer to just use the correct value of 'type'.

[2020-11-24 17:11] henrik-me commented on #1550
I assuume you mean use the lower case version directly in the function. An alternative would be to create a new const e.g. Type_LowerCase = "type" and use that in the GetXsiTypeAsQualifiedName function. Either works for me, however using the const, will make it easier to document the behavior publicly.

[2020-11-24 18:31] gislikonrad commented on #1551
Technically, yes, for my use case it would be. But is it enough?

Looking at an old PR for Saml2EncryptedAssertion (#1025), you can see what had to be done in the AuthenticatedEncryptionProvider to enable AesGcm encryption. Making AuthenticatedEncryptionProvider more abstract and having a class inherit it for AesCbc encryption specifically, for example AesCbcAuthenticatedEncryptionProvider, would

[2020-11-24 19:49] brentschmaltz commented on #1550
@henrik-me yep, we could add the Type_LowerCase, i was thinking XmlSignatureConstants.Attributes.Type.ToLower()

[2020-11-25 00:20] mafurman opened #1556 "Update crypto-related documentation after the net472 target is added"
These two documentation pages need to be updated after the net472 target is added:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Supported-Algorithms
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/IDX10690

[2020-11-25 04:46] henrik-me commented on #1553
We have a master branch. The master branch should be renamed whether it's the default or not. If master is not needed we should delete it.

[2020-11-26 00:02] godefroi opened #1558 "Could not load file or assembly Microsoft.IdentityModel.Protocols.OpenIdConnect"
I am attempting to use Microsoft.IdentityModel.Protocols.OpenIdConnect in an Azure function project, and when the function host loads, I get an error for each of my functions, all the same:

Could not load file or assembly 'Microsoft.IdentityModel.Protocols.OpenIdConnect, Version=6.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.

I don't know wh

[2020-11-26 02:18] godefroi commented on #1558
It looks like both Microsoft.IdentityModel.Protocols.OpenIdConnect.dll as well as System.IdentityModel.Tokens.Jwt.dll don't get copied to the output directory, for some reason.

[2020-11-26 03:58] godefroi commented on #1558
Looks like I was bit by this: https://github.com/Azure/azure-functions-host/issues/5894

I was able to work around this by adding `<_FunctionsSkipCleanOutput>true</_FunctionsSkipCleanOutput>` to my .csproj file.

[2020-11-26 03:58] #1558 closed, assigned to nobody

[2020-11-30 12:45] doeringp commented on #1555
@brentschmaltz Yes, we're using AuthenticationProtocolMessage.BuildFormPost to generate a [wsignin1.0 Response Message](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-mwbf/99bbd73d-f1ed-491c-be6a-5e53d8f9d1e0).

By the way, our Identity Provider is based on the OSS project [IdentityServer/IdentityServer4](https://github.com/IdentityServer/IdentityServer4) and we're using the imple

[2020-11-30 13:03] doeringp commented on #1555
By the way it isn't hard to replace the dependency to [HttpUtility.HtmlAttributeEncode](https://docs.microsoft.com/en-us/dotnet/api/system.web.httputility.htmlattributeencode?view=net-5.0#:~:text=3.0-,HtmlAttributeEncode(String%2C%20TextWriter),to%20a%20TextWriter%20output%20stream).

I think my solution will be to just copy the [original code of the method](https://referencesource.microsoft.com/#

[2020-11-30 17:17] arunswarnam commented on #1554
@brentschmaltz Thanks for responding. `The type initializer for 'System.IdentityModel.Tokens.Jwt.JwtSecurityTokenHandler' threw an exception.` is the exception the code is throwing.

1)  Is there an instruction to build the assembly after cloning the project and checking out tag 6.7.1. I am currently attempting to build the assemblies for version 6.7.1 by running [this](https://github.com/AzureAD/

[2020-11-30 21:48] GeoK commented on #1554
@arunswarnam Are you building on Linux/MacOS?
1. It should work out-of-the-box. I just did a fresh 6.7.1 build (running build.sh) on Ubuntu 18.04.2, running .NET 5.
2. You can flip this to `false` to disable delayed signing. https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/30c16ab82cf4338c6d6e04a5d4094795aa83c587/build/common.props#L12

You can also disable

[2020-11-30 21:52] arunswarnam commented on #1554
Thanks @GeoK . I am building it on MacOS, running .NET 3.1.300 and I am currently running the same  build script.I can  try your suggestion but wouldn't disabling DelaySigning ask for the signing keys? Which I assume is not available to external developers?

[2020-12-01 04:46] arunswarnam commented on #1554
@GeoK when you mean running 'build.sh out-of-the-box'?
1) Don't we need to update [this]( https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/30c16ab82cf4338c6d6e04a5d4094795aa83c587/build/version.props) file's version prefix to 6.7.1 and remove the version suffix?  If I don't do this, the .nupkg artifacts generated have a version 0.0.1-preview.
2) Similarly I

[2020-12-01 04:52] arunswarnam commented on #1554
@brentschmaltz I am really not sure about building this repo locally. I see this exception showing up when I was fiddling with building this repo as noted above. See if this gives more insights?

`System.ArgumentException: IDX12729: Unable to decode the header 'System.String' as Base64Url encoded string. jwtEncodedString: 'System.String'.
 ---> System.TypeInitializationException: The type initiali

[2020-12-01 18:08] GeoK commented on #1554
@arunswarnam - We are using [_friend assembly_](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.internalsvisibletoattribute?view=net-5.0#examples) mechanism to access internal classes/methods in other IdentityModel.* assemblies.
Are you using a different key to sign these assemblies? If so, that would result in a [public key](https://github.com/AzureAD/azure-activedirec

[2020-12-02 01:58] arunswarnam commented on #1554
@GeoK We don't strong name sign the assemblies but we do delay sign the assemblies with a different key. Will that still cause an issue?

[2020-12-02 05:19] bhaktatejas922 commented on #877
@EkwofiePrax did you ever find a solution?

[2020-12-03 06:59] intermension opened #1560 "Unable to use RsaSecurityKey to validate tokens"
For some reason IssuerSigningTokens are no longer supported for token validation and it seems we must use IssuerSigningKeys.

Trying to use an RsaSecurityKey for validation requires using an RSA which just throws:

[code]

This is because RSA has a hardcoded security algo:

`public override string SignatureAlgorithm { get; }`

For RSA this is "RSA" and for [RsaCryptoServiceProvider](https://docs.m

[2020-12-03 20:23] mafurman opened #1561 "Add more descriptive comments for the Validators on TokenValidationParameters"
Our current comments are not very helpful, and they should be modified to be more descriptive of the purpose of each delegate.

"The AudienceValidator delegate, if set, will be called by the runtime instead of default audience validation. This extensibility point provides the user with an opportunity to validate the audiences found in the security token in some custom way. If this extensibility is

[2020-12-03 20:43] arunswarnam commented on #1554
Thanks @GeoK .. The handle you gave regarding Friend Assemblies helped solve the issue. The main issue was delay signing the locally built nuget package with a different key.

[2020-12-03 20:43] #1554 closed, assigned to nobody

[2020-12-03 20:49] leastprivilege commented on #1291
When is 6.8.1 planned?

[2020-12-04 04:46] #1560 closed, assigned to nobody

[2020-12-04 19:18] mirza-developer opened #1562 "Use TokenValidationParameters in blazor"
I have generated a Jwt token in ASP.net core 3.1 web-api  with JwtSecurityTokenHandler.CreateToken from System.IdentityModel.Tokens.Jwt version 6.8.0 and I want to use it for authentication in blazor client-side with JwtSecurityTokenHandler.ValidateToken. This token couldn't be validated but when I send this token for api and try same code there, validation is successfull.
You can see exceptions r

[2020-12-04 20:04] SivarajSelvaraj opened #1563 "JsonWebTokenHandler return false for ClaimsIdentity.isAuthenticated even when token validation passes"
I am using JsonWebTokenHandler to validate JWT. After a successful validation, I grab claimsidentity and create a new claimsprincipal and assign it to Thread. IsAuthenticated property of claimsidentity is set to false causing MVC Authorize annotation to fail to validate.

 var tokenHandler = new Microsoft.IdentityModel.JsonWebTokens.JsonWebTokenHandler();
            var result = tokenHandler.Vali

[2020-12-05 00:20] SivarajSelvaraj commented on #1563
closing on my own, pulled down latest and it seems to be fixed.

[2020-12-05 00:20] #1563 closed, assigned to nobody

[2020-12-05 03:16] chwarr commented on #1502
Is there an issue for migrating to System.Text.Json? I'd like to track that so that I can update my product's code when ever that happens.

At the moment, I'm using [`System.IdentityModel.Tokens.Jwt.JsonExtensions.SerializeToJson()`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/30c16ab82cf4338c6d6e04a5d4094795aa83c587/src/System.IdentityModel.Tokens.Jwt

[2020-12-05 03:26] chwarr commented on #1496
If you can control the serialization to JSON, it looks like you can use [`System.IdentityModel.Tokens.Jwt.JsonExtensions.SerializeToJson()`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/30c16ab82cf4338c6d6e04a5d4094795aa83c587/src/System.IdentityModel.Tokens.Jwt/JsonExtensions.cs#L88-L96) to serialize a `JsonWebKey` according to its attributes while the

[2020-12-05 03:30] chwarr commented on #1475
It appears to me that we can access the "internal" forked Newtonsoft.JSON serializer by calling [`System.IdentityModel.Tokens.Jwt.JsonExtensions.SerializeToJson()`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/30c16ab82cf4338c6d6e04a5d4094795aa83c587/src/System.IdentityModel.Tokens.Jwt/JsonExtensions.cs#L88-L96).

@RogerioWagner, if you manually invoke

[2020-12-07 18:39] GeoK commented on #1553
Done. I initially understood that we should rename the branch only if it's default.

[2020-12-07 18:39] #1553 closed, assigned to nobody

[2020-12-09 12:08] twenzel opened #1564 "Provide CSP 'unsafe-eval' compliant default value for _script"
The initial value for `AuthenticationProtocolMessage._script`
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/824068adaeb7b158df2b36d8787f689646e715e0/src/Microsoft.IdentityModel.Protocols/AuthenticationProtocolMessage.cs#L43
requires the CSP value 'unsafe-eval' to be executed. This is a no-go from security perspective.

Please provide a value which does n

[2020-12-09 12:52] JoeMarkov opened #1566 "Using JsonWebTokenHandler with ASP.NET Core 5?"
In ASP.NET Core 5, can I use the fairly new JsonWebTokenHandler  to protect APIs? With AddJwtBearer or similar?

Or what is the usecase for JsonWebTokenHandler?

I find the use of JsonWebTokenHandler vs JwtSecurityTokenHandler very confusing.

[2020-12-09 12:52] JoeMarkov commented on #1365
Can I use JsonWebTokenHandler  to protect APIs in ASP.NET Core 5?

[2020-12-09 14:14] Bellarmine-Head commented on #1365
I have looked in vain (google search) for proper documentation on `JsonWebTokenHandler`.  I'm not sure if it's bundled in the ASP.NET Core version that's included with .NET 5.  I'm not even sure what package or what namespace it's supposed to live under in the .NET 5 world.  I continue to use https://www.chilkatsoft.com/refdoc/csJwtRef.html until the situation becomes clearer, and the documentatio

[2020-12-10 23:54] mafurman commented on #1566
At the current moment, it isn't possible to plug in the JsonWebTokenHandler instead of the JwtSecurityTokenHandler.
We plan on adding support for this feature in the future.

Microsoft.IdentityModel.JsonWebTokens library is an updated, more performant, and easier to use version of Microsoft.IdentityModel.Tokens.Jwt that addresses many concerns users had about the previous library.

I think it woul

[2020-12-11 00:40] brentschmaltz commented on #1564
@twenzel this code has been here for a long time, has something recently changed?

[2020-12-11 00:50] brentschmaltz commented on #1564
@twenzel just wanted to mention that AuthenticationProtocolMessage.Script is settable so you can modify an instance with the value you need while we work this out.

[2020-12-11 07:16] twenzel commented on #1564
No. We just want to enable CSP on our side without the 'unsafe-eval' value.
I wonder why no other having trouble with this.

[2020-12-11 13:07] shadow-cs opened #1567 "Invalid validation of non-present expiration JWT claims"
The validators accepts nullable `notBefore` and `expires` `DateTime`s but return values from `JsonWebToken` `ValidFrom` and `ValidTo` properties return `DateTime.MinValue` if the claim is not present. So in my opinion `JsonWebTokenHandler` fails to properly convert it to nullable values.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/824068adaeb7b158df2b

[2020-12-11 13:16] shadow-cs commented on #1567
This bug is not that critical because the next checks properly mark not already valid tokens or expired tokens due to the default values returned by the properties.

[2020-12-11 15:30] NinoFloris opened #1568 "Add "name" claim to JwtRegisteredClaimNames"
Add "name" claim to JwtRegisteredClaimNames

This seems to be a well established claim name, in use by Auth0, Okta and others.

[2020-12-11 15:59] NinoFloris commented on #1568
See also https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

[2020-12-11 18:08] brentschmaltz commented on #1567
@shadow-cs yes breaking changes are hard to manage given our level in the application stack, usually above .net core but below asp.net and the application layer. Many SDK's layer on top of us.

We can introduce a new API's.

[2020-12-11 19:21] brentschmaltz opened #1569 "SymmetricKeyWrapProvider.IsSupportedAlgorithm is virtual, but ValidateKeySize is not."
This breaks extensibility where users want to extend the algorithm that uses different key sizes.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/30c16ab82cf4338c6d6e04a5d4094795aa83c587/src/Microsoft.IdentityModel.Tokens/Encryption/SymmetricKeyWrapProvider.cs#L69 and https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2020-12-11 19:39] GeoK commented on #1567
Would a change like this be sufficient to address the issue?

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/824068adaeb7b158df2b36d8787f689646e715e0/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs#L995-L997

`DateTime? expires = jsonWebToken.TryGetClaim(JwtRegisteredClaimNames.Exp, out var _) ? (DateTime?)jsonWebToken.ValidTo : null;`

S

[2020-12-12 10:06] shadow-cs commented on #1567
I was thinking more along the lines of:

[code]

Another option might be to introduce an extension or utility method:

[code]

Not sure if it wouldn't get too confusing then for the end users.

But if there's a pattern I'd stick with that... And the solution @GeoK suggests would fix the issue.

In the end it's your call 😉

[2020-12-14 16:23] brentschmaltz commented on #1567
@shadow-cs @GeoK i think consistency between the two handlers would be a good thing. As you suggest @GeoK a simple change to JsonWebTokenHandler should do the trick.

[2020-12-15 19:57] #1459 closed, assigned to keegan-caruso

[2020-12-17 13:55] mdrgeniebelt commented on #1516
Sadly seems like updating to .net 5 and updating one of the authentication packages resulted in `System.IdentityModel.Tokens.Jwt` update to 6.7.1 which broke this again :(

I tried adding
[code]

In my application `Startup` class but seems that it doesn't fix it. I'm not sure where the issue is exactly, we're also using IdentityServer4 version 4.1.1

[2020-12-17 14:11] mdrgeniebelt commented on #1516
After downgrading these packages and setting `System.IdentityModel.Tokens.Jwt` explicitly back to `5.6.0` it works again..

![Screenshot 2020-12-17 at 15 10 42](https://user-images.githubusercontent.com/44974903/102498316-17896480-407a-11eb-82ac-8c4db75fe1c9.png)

[2020-12-17 20:39] leastprivilege commented on #1516
Yes this "internalizing JSON.NET" was a horrible decision, it breaks code in many scenarios.

[2020-12-18 12:59] scale-tone opened #1571 "Do I need to explicitly set TokenValidationParameters.ValidateIssuerSigningKey to true ???"
According to the [source code](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/main/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L626), the default value for **TokenValidationParameters.ValidateIssuerSigningKey** is **false**.

Yet, the [official manual token validation sample](https://github.com/Azure-Samples/active-directory-dotnet-web

[2020-12-18 16:59] brentschmaltz commented on #1571
@scale-tone we added this wiki page.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Use-of-TokenValidationParameters.ValidateIssuerSigningKey

Let us know if you this explains the usage.

[2020-12-18 18:39] brentschmaltz commented on #1516
@leastprivilege it is unfortunate that we needed to replace the external Newtonsoft package.
Our position was and is, given our purpose in the auth stack, we need to be very careful about which assemblies we trust.

@brockallen noted the extensibility points are static globals.
We will work on a better extensibility model.

[2020-12-18 19:28] scale-tone commented on #1571
Thanks for that, @brentschmaltz . Please, correct the property name in that wiki page - it should be **ValidateIssuerSigningKey** all the way.

Also, I'd propose to call it not `additional validation`, but `custom validation with your own IssuerSigningKeyValidator`.

[2020-12-18 20:04] mafurman opened #1572 "Remove Microsoft.CSharp and System.Net.Http references from projects that do not require them"
We recently removed the following `ItemGroup` from `Microsoft.IdentityModel.Xml.csproj`. There's some other projects that might allow for this to be removed as well.
[code]

[2020-12-18 20:59] #1507 closed, assigned to mafurman

[2020-12-19 09:02] leastprivilege commented on #1516
Not sure how this is related to trust. The fact that your public API is exposing the internalized JSON objects in various places is just non-sense. What are we supposed to do with these internal types then? Globally switching the the serializer is (while very much in the spirit of this library) also not very useful...

[2020-12-22 01:39] chucklu opened #1573 "The library published on NuGet did not list all top level dependencies"
https://github.com/dotnet/runtime/issues/46284
https://www.nuget.org/packages/Microsoft.IdentityModel.JsonWebTokens/6.8.0

.NETFramework 4.5
    Microsoft.IdentityModel.Tokens (>= 6.8.0)
.NETFramework 4.6.1
    Microsoft.IdentityModel.Tokens (>= 6.8.0)
.NETStandard 2.0
    Microsoft.IdentityModel.Tokens (>= 6.8.0)
packages\Microsoft.IdentityModel.JsonWebTokens.6.8.0\lib\net45\Microsoft.IdentityMod

[2020-12-22 18:55] jmprieur commented on #1562
Which IdP are you using @mirza-developer ? Is it Azure AD?

[2020-12-22 19:29] GeoK commented on #1573
Hi @chucklu - Can you help me understand why this is an issue?
`Microsoft.IdentityModel.JsonWebTokens` depends on `Microsoft.IdentityModel.Tokens`, which depends on `Microsoft.IdentityModel.Logging`.

[2020-12-23 01:55] chucklu commented on #1573
@GeoK  Do you have the concept of top level dependency?
https://www.nuget.org/packages/Microsoft.Extensions.Configuration.Json/5.0.0
You can check the dependencies of Microsoft.Extensions.Configuration.Json, it lists all top level dependencies.
![image](https://user-images.githubusercontent.com/3004057/102949945-76c8f800-4504-11eb-8222-67cfe9bb6e92.png)
According your explanation, the following th

[2020-12-23 02:04] chucklu commented on #1573
https://github.com/dotnet/runtime/issues/46284#issuecomment-749085221
Actually I am not pretty sure about the rule of nuget, what kind of dependencies need to list on nuget site? Since this library was released by Microsoft and Azure AD.
And https://www.nuget.org/packages/Microsoft.Extensions.Configuration.Json/ is also released by Microsoft  along with aspnet and dotnetframework.
I supposed you g

[2021-01-04 12:26] leastprivilege opened #1574 "Resource parameter for OIDC/OAuth authorize request has wrong format"
According to the resource indicator spec

https://www.rfc-editor.org/rfc/rfc8707.html#name-authorization-request

Multiple `resource` parameters are allowed.

`OpenIdConnectMessage` only allows for a single resource parameter - also the backing field is a dictionary. This needs some re-work to be spec compliant.

[2021-01-04 19:55] jasonnutter commented on #1564
More details: The `setTimeout` function can either take a function callback, or code as a string (which is passed to the `eval` function). As @twenzel notes, usage of `eval` (directly or indirectly) is highly discouraged due to the security risks. I agree with the recommended change in the linked PR to provide a callback instead of code as a string, to allow applications to not have to provide `un

[2021-01-04 20:15] yori-s commented on #1567
Any chance this will make it into a 6.8.x?

I'm currently working around with a custom `TokenValidationParameters.LifetimeValidator` of the form
[code]
but this feels awkward and brittle.

Also, I'm using `JsonWebTokenHandler` on 2 different projects and would rather not duplicate the above.

[2021-01-06 02:40] weijia-ai opened #1576 "Token decryption failed: UnwrapKey failed, exception from cryptographic operation: 'Interop+Crypto+OpenSslCryptographicException: error:04065072"
I'm trying to rotate token decryption cert, thus I'm changing TokenValidationParameters from TokenDecryptionKey to TokenDecryptionKey**s**.
However, using `TokenDecryptionKeys` will throw following exception:

I noticed there was a similar issue here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1431 it's similar but I don't think it's the same, since

[2021-01-06 19:00] GeoK commented on #1576
Hi @weijia-ai - Updating Microsoft.Identity.Client will not resolve this issue, as IDX10659 is thrown by Microsoft.IdentityModel.Tokens assembly.
#1511 changed the logic for resolving decryption keys. Try updating [IdentityModel](https://www.nuget.org/packages/Microsoft.IdentityModel.Tokens/).* assemblies to the latest version.

[2021-01-07 17:47] brentschmaltz commented on #1571
@scale-tone thanks for the comments, updated the wiki with your suggestions.

[2021-01-07 17:47] #1571 closed, assigned to brentschmaltz

[2021-01-07 21:57] weijia-ai commented on #1576
Thank you @GeoK !
I updated the package and the issue seems went away.

[2021-01-07 21:57] #1576 closed, assigned to GeoK

[2021-01-08 01:32] #1564 closed, assigned to nobody

[2021-01-08 11:48] mirza-developer commented on #1562
No any IdP. Just want to use in authentication state provider directly like this

[code]

and ValidateJwtToken method like this

[code]

[2021-01-12 12:50] web265p3 opened #1577 "DefaultMapInboundClaims setting does not work on first call"
I am protecting my .NET 5 Api with Azure Identity Platform.
My JWT tokens have a claim "roles" that contains an array of all roles added for the user.

These roles should be used to add authorization to my API.

This works fine, but with a strange behaviour - probably a bug.
To reproduce (code can be found [here](https://github.com/web265p3/DefaultMapInboundClaims)):

1. Create a new ASP.NET Web A

[2021-01-12 22:14] mafurman commented on #1556
Documentation has been modified to reflect the addition of the net472 target.

[2021-01-12 22:14] #1556 closed, assigned to mafurman

[2021-01-12 22:44] #1566 closed, assigned to nobody

[2021-01-12 22:48] mafurman commented on #1562
@mirza-developer Any chance you're using unsigned assemblies?

[2021-01-12 22:55] mafurman commented on #1555
Unfortunately, we can't use HttpUtility.HtmlAttributeEncode as it's located in System.Web and it would break other customers.

[2021-01-12 22:55] #1555 closed, assigned to nobody

[2021-01-13 00:06] mafurman commented on #1452
We should expand on this Wiki page: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/How-to-log-from-IdentityModelEventSource.Logger

[2021-01-13 00:17] mafurman commented on #1304
We're going to focus on #1274 so that it's easier to modify the value of ShowPII at runtime.

[2021-01-13 00:17] #1304 closed

[2021-01-13 00:29] brentschmaltz commented on #1252
Here is a link that explains a bit about this key type. https://docs.microsoft.com/en-us/azure/key-vault/keys/about-keys

[2021-01-13 02:54] chucklu commented on #1573
@GeoK  Any update?

[2021-01-13 08:42] mirza-developer commented on #1562
I've installed System.IdentityModel.Tokens.Jwt with nuget in my asp.net core api and blazor, added automatically.
Can you list me requirements?

[2021-01-14 01:47] mattjbrent commented on #415
I just lost 2 hours to this - in 2020. Again, repeating what others have said above - it is not clearly documented and the issue has been open for a long time now. You want to reach new developers and not come across as 'old' Microsoft yet you favor supporting legacy code over just adding in common sense behaviour to a brand new framework. Its perfectly reasonable to clearly document a breaking ch

[2021-01-14 01:51] mattjbrent commented on #415
For anyone hitting this with this issue - any ASP .NET 5 API you work on that is receiving JWTs, you need to ensure `JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();` gets called at the top of your ConfigureServices method in Startup otherwise standardized claim names will get transformed to legacy XML names.

This is especially pertinent in a microservices architecture - this will need

[2021-01-14 06:50] web265p3 commented on #1577
Could anyone reproduce this behaviour? :-)

[2021-01-15 14:47] Ozzian opened #1578 "Safe handle has been closed"
Unexpected behavior when disposing RSACryptoServiceProvider.

When you create a token using the following the instructions in RSACryptoServiceProvider https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rsacryptoserviceprovider?view=net-5.0, the token creation fails every other time.

So, the first call succeeds but the call immediately after that fails with exception:

`Syste

[2021-01-19 17:22] brentschmaltz commented on #1578
@Ozzian we will investigate this. Since the RsaSecurityKey ctor is passed a RSA instance, we should not be disposing that instance. Internally we cache an AsymmetricSignatureProvider associated with the RSA instance, that provider reuses the RSA instance after it was disposed.

[2021-01-20 06:45] leastprivilege opened #1580 "Returning internal JObjects in public APIs breaks updating to .net 5.0"
...e.g. in the OpenIdConnect configuration when a custom element is a JSON object.

Now the consuming code get returns a JObject - but it's internal and cannot do anything with that. This is a blocker for updating to .NET 5...

[code]

[2021-01-21 12:17] aKzenT opened #1583 "Using DefaultAzureCredential (new Azure SDK) with ManagedKeyVaultSecurityKey not possible?"
We are currently moving our solution to the new Azure SDK which no longer uses Authentication-Callback but rather CredentialToken-classes that allow for various authentication methods. This is very convenient for us as it enables automatic support for development credentials obtained from Visual Studio as well as service credentials obtained from a managed identity.

Unfortunately I did not find a

[2021-01-21 17:39] brentschmaltz commented on #1583
@aKzenT thanks for pointing this out, will investigate.

[2021-01-21 18:21] rezanid commented on #1019
A better alternative might be to catch the base classes from the assemblies:
[code]

[2021-01-21 20:25] brentschmaltz commented on #1412
I see that our 6.8.0 version throws the exception message that indicates the issue.
Please reopen if you have a concern.

IDX10511: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.SymmetricSecurityKey, KeyId: 'DefaultSymmetricSecurityKey_64', InternalId: '-qSp6nskC31aGkDN02flDnnvyTBsW1j60wpCIr8Qoc4'. , KeyId: DefaultSymmetricSecurityKey_64
'.
kid: 'DefaultSymmetricSecurity

[2021-01-21 20:25] #1412 closed, assigned to brentschmaltz

[2021-01-21 20:39] #1567 closed, assigned to RojaEnnam

[2021-01-21 22:22] brentschmaltz commented on #1516
@leastprivilege the idea is we want control over what assemblies we link to. We only take dependencies on .net assemblies, no third parties. We have had issues with backcompat, acknowledged we have caused some of our own issues, some was unavoidable some was not.
In any event, from 6.x forward we have a strong mandate not to break anyone.
We are looing to fix this in 6.8.1 and we can wait for this

[2021-01-21 22:22] brentschmaltz commented on #1580
We are going to fix this in: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1516

[2021-01-21 22:22] #1580 closed, assigned to brentschmaltz

[2021-01-21 23:03] brentschmaltz commented on #1568
@mafurman i need to work in this file for https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1516 as i need to add the 'act' claim.

[2021-01-22 07:50] leastprivilege commented on #1516
I understand that. But "internalizing" doesn't necessarily mean making the types `internal` - because that is causing the main issues here.

I am glad to hear that ;)

Not sure what that means

[2021-01-22 16:59] #1544 closed, assigned to nobody

[2021-01-22 17:04] brentschmaltz commented on #1568
fixed with https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/183c04ad613b1c0355b68ad3278d5a45e5c8835b

[2021-01-22 17:04] #1568 closed, assigned to brentschmaltz

[2021-01-22 17:12] brentschmaltz commented on #1516
@leastprivilege If we expose the internal Json objects, then we have a whole lot of support, we are looking for a different way thinking that .net Core is the way of the future and supporting the internal version of newtonsoft will take resources.

"we can wait for this" ... imcomplete grammar, what i meant to write was:

We have a strong desire to release 6.8.1 and we had not considered including

[2021-01-22 17:56] poyadav2001 opened #1586 "Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.8.0.0"
We are using .NET Frame work 4.7.2 and encountering the following error on using System.IdentityModel.Tokens.Jwt package

System.IO.FileNotFoundException: Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.
File name: 'System.IdentityModel.Tokens.J

[2021-01-22 22:42] brentschmaltz commented on #1295
@DShauchuk-IBA we are fixing this in our next release

[2021-01-22 22:52] #1542 closed, assigned to GeoK

[2021-01-23 00:06] brentschmaltz commented on #1586
@poyadav2001 can you share your project file?

[2021-01-23 06:36] poyadav2001 commented on #1586
https://microsoft.visualstudio.com/Universal%20Store/_git/SC.CST.Dunning/pullrequest/5569992?_a=files&path=%2FProduct%2FBilling%2Frunners%2FDunning.Runner%2FDunning.Runner.csproj

[2021-01-23 18:10] brentschmaltz commented on #1586
@poyadav2001 your project file seems normal.
This could be a deployment issue.
Do you see System.IdentityModel.Tokens.Jwt.dll in the output directory?

[2021-01-23 20:52] JoeMarkov opened #1589 "Bug in the logging of SecurityTokenExpiredException?"
In the logs (using Serilog), when I get an exception, I get this statement where the dates are the types instead of the actual values.

Bug or feature?

Microsoft.IdentityModel.Tokens.SecurityTokenExpiredException: IDX10223: Lifetime validation failed. The token is expired. ValidTo: **'System.DateTime'**, Current time: '**System.DateTime'**.

A more complete stack trace:

[code]

[2021-01-24 20:03] brentschmaltz commented on #1589
@JoeMarkov this is a result of filtering of message parameters.
Have a look at: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII to understand how to turn this on.

[2021-01-24 20:03] #1589 closed, assigned to nobody

[2021-01-24 21:14] JoeMarkov commented on #1589
Aha, thanks! I thought that when PII was activated that sensitive information would be replaced with ********* instead of the typename that is shown below. Displaying the typename just looks like a ToString() bug in the logging code like below:

The token is expired. ValidTo: '**System.DateTime**', Current time: **'System.DateTime**'.

[2021-01-25 15:40] brentschmaltz commented on #1589
@JoeMarkov we used to replace with ******, but we thought that showing the type might help in some cases.

[2021-01-25 18:31] JoeMarkov commented on #1452
I was very surprised that the logging was not automatically included in the ASP.NET Core ILogger<T> and I have spend several hours trying various logging levels to get logs from the IdentityModel namesspace into the logs.

So I would appreciate if it was more clear how to actually properly get the logs out of IdentityModel into the classing ILogger<T> or Serilog.

Mostly for educational purposes,

[2021-01-25 22:08] brentschmaltz commented on #1295
@DShauchuk-IBA when we create the JWE, we don't set the 'cty' because the payload is just json. It is not an actual JWT {with three parts}. We don't have a way to determine what the 'cty' should be.

[2021-01-27 15:49] jsquire opened #1590 "Documentation is unclear about TokenValidationParameters.ValidateIssuerSigningKey"
Opened at   https://github.com/dotnet/core/issues/5877 by @marwalsch

I am setting up Basic AuthN for a JWT issued by the Windows STS. However, I am unsure about the correct way to do so and the Documentations are somewhat lacky about the correct way. These are my `AddJwtBearer `-options and the simplified Token:

[code]

[code]

Validation works as far as to deprecated Tokens or those lacking a s

[2021-01-27 15:51] jsquire commented on #1590
Transferred from the Azure SDK for .NET repository.   _([issue](https://github.com/Azure/azure-sdk-for-net/issues/18217))_

[2021-01-27 19:45] vllama opened #1591 "JwtSecurityTokenHandler.ValidateToken Error message unclear."
When a validation fails, the error message contains the Type Name instead of the value.
Other validation errors have a similar issue.
Example:
"IDX10223: Lifetime validation failed. The token is expired. ValidTo: 'System.DateTime', Current time: 'System.DateTime'."
Expected:
"IDX10223: Lifetime validation failed. The token is expired. ValidTo: '2021-01-01 9:10:10', Current time: '2021-01-01 9:10:1

[2021-01-28 01:15] keegan-caruso commented on #1591
Please see the wiki: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII

Inputs to the log messages are all filtered aggressively by default.

I'm going to close this issue for now, please reopen if the issue is still unclear.

[2021-01-28 01:15] #1591 closed, assigned to nobody

[2021-01-28 02:39] brentschmaltz commented on #1295
@DShauchuk-IBA @RojaEnnam What we decided is that for JsonWebTokenHandler we should add a new API similar to: [this](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/c2a6ed5877030f4a7829b5ebbb7242d987c14be8/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs#L230) for EncryptingCredentials. This will allow the caller to set the CTY by adding a

[2021-01-28 02:44] brentschmaltz commented on #1295
@RojaEnnam @DShauchuk-IBA what we decided is that we should
1. Add a new api similar to: [this](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/c2a6ed5877030f4a7829b5ebbb7242d987c14be8/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs#L230) with EncryptingCredentials.
2. For JwtSecurityTokenHandler and JsonWebTokenHandler set 'cty==JWT' when

[2021-01-28 22:22] brentschmaltz commented on #1590
@jsquire we created this Wiki to offer a more descriptive explanation.
It you need additional info, please re-open this issue.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Use-of-TokenValidationParameters.ValidateIssuerSigningKey

[2021-01-28 22:22] #1590 closed, assigned to nobody

[2021-01-28 22:23] brentschmaltz commented on #1586
@poyadav2001 please reopen this if you need further assistance.

[2021-01-28 22:23] #1586 closed, assigned to nobody

[2021-01-29 08:03] marwalsch commented on #1590
dwa

[2021-01-29 08:09] marwalsch commented on #1590
@brentschmaltz Thanks but unfortunately, this description still doesn't answer my question to full extend. It states:
"_Normally this is not required because the user / runtime must set IssuerSigningKey or IssuerSigningKeys or in the case of custom security key retrieval the delegate IssuerSigningKeyResolver [...]_".
But am I required to set a signing key? My token hails from Azure AD itself after

[2021-01-29 14:13] jsquire commented on #1590
@brentschmaltz:  Please be aware that the underlying quetsion/issue belongs to @marwalsch.   My contribution was only to help route it to the correct repository from where it was opened.

From the most recent response, it would appear that @marwalsch believes this should be reopened, but it seems that I lack the rights necessary to do so.

[2021-02-01 11:24] sizzle168 commented on #1583
Any updates on this? I'm having the same problem.

[2021-02-02 18:22] brentschmaltz opened #1592 "JsonWebTokenHandler.CreateToken(string payload, EncryptingCredentials encryptingCredentials) should not assume the 'payload' is json."
JsonWebTokenHandler.CreateToken calls CreateTokenPrivate passing a JObject(payload).
This assumes that payload is well formatted json. This does not need to be true.

CreateTokenPrivate  wants to create a JObject to apply logic for SetDefaultTimesOnTokenCreation.
Instead requiring well formatted json, figure out if payload is json, if so, then apply logic for SetDefaultTimesOnTokenCreation.

Other

[2021-02-05 18:43] mchandschuh commented on #468
This might help anyone looking to do async JWT validation.

I ended up adding a new interface that also implements `ISecurityTokenValidator`. This allows me to add my custom validator to the `JwtBearerOptions.TokenValidators` collection and in my version of `JwtBearerHandler` (see [#29917](https://github.com/dotnet/aspnetcore/issues/29917)), I check to see if I'm working w/ the synchronous or asyn

[2021-02-08 12:20] stebet commented on #468
This is a workaround that does semi-work, but the sync-over-async implementation is risky as it might cause threadpool starvation on a high-traffic implementation.

We really need a proper async implementation here, but thanks for this workaround :)

[2021-02-08 22:05] madelson opened #1594 "Saml2SignatureValidation fails to validate document which is considered valid by online validators"
I am trying to use `Saml2SecurityTokenHandler` to validate SAML tokens my application receives. Recently, we received a token which the library rejects with a signature validation error but which other online validators accept. **Am I doing something wrong or is there a bug?**

**Error Message**
[code]

**Code for repro**
Note:
* The cert used in the repro was one I created for this purpose using

[2021-02-09 00:10] mafurman commented on #1594
At first glance it isn't clear to me why this would be happening, but it definitely seems like it could be a bug on our part. We'll investigate this and get back to you.

[2021-02-11 18:58] flamaniac commented on #1591
Message in exception is incorrect:

![obraz](https://user-images.githubusercontent.com/6348462/107684399-0720ef00-6ca3-11eb-8721-38016b569bc0.png)

I am using identity build in the asp .net (net5.0). No Azure active directory involved but it seems asp .net uses your lib internally:
mentioned here ->  https://github.com/dotnet/aspnetcore/issues/23302

[2021-02-11 21:15] madelson commented on #1594
@mafurman thanks for looking into this. Any findings so far? Do you need anything from me?

[2021-02-11 22:00] mafurman opened #1596 "Before adding or using a SignatureProvider to the cache, check if the key material has been disposed of"
We shouldn't be using SignatureProviders that have had their keying material disposed of.
Adding this feature in requires these two PRs to go in first:

- https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1575 (cache eviction)
- https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1595 (IDisposable interface for security

[2021-02-12 17:47] boarnoah opened #1597 "SAML assertions cannot be serialized (returns empty strings)."
Trying to use Microsoft.IdentityModel.Tokens.Saml to generate SAML assertions.
Seeing a strange issue when trying to serialize the assertions, from looking up examples elsewhere in github etc.. The following should work:

[code]

Expected to see the XML as string, however this outputs an empty string.

**Versions:**
Have not been able to get this working with current (6.8.0) version and .NET 5.
Tr

[2021-02-13 04:23] apsthisdev opened #1598 "JwtRegisteredClaimNames Missing Standard OpenIdConnect claims"
System.IdentityModel.Tokens.Jwt.JwtRegisteredClaimNames does not contain "name" and "email_verified" claims. These are standard OpenId connect claims.

Additionally not all the standard and additional claims are provided, see below.
https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims
https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim

[2021-02-16 15:39] boarnoah commented on #1597
Closing this, it was user error.

[code]

It appears the XmlWriter.Create() returns something very different from what I expected.

[2021-02-16 15:39] #1597 closed, assigned to nobody

[2021-02-17 00:58] duchau opened #1599 "AudienceValidator evaluation during TokenValidation doesn't honor ValidateAudience flag"
We're upgrading from an older version 5.6.0 to 6.8.0.  Seems like in the newest version, there was a change made to have AudienceValidator throw an exception here:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/36/commits/70c23ef985ad7d5c20a8e609b6c329642f311786

Which is fine and all. However, now it seems like if you specify a value for AudienceValidat

[2021-02-17 19:02] brentschmaltz opened #1600 "CryptoProviderFactory.CreateSignatureProvider call graph should obtain CacheKey once."
The call graph CryptoProviderFactory.CreateSignatureProvider results in GetCacheKey(SignatureProvider signatureProvider) being called three times.
We could obtain the CacheKey once and pass it as a parameter to a potential new method.

[2021-02-18 18:17] madelson commented on #1594
Hi @mafurman apologies for bumping this again but I was wondering if you could give me a sense of when someone would be able to look into this issue? This is currently cause problems for us with a production SAML integration, and I'd like to be able to at least provide the stakeholders with a vague timeline.

EDIT: I tried to do this at a lower level using `SignedXml` and hit a similar problem; I

[2021-02-19 11:28] #1577 closed, assigned to mafurman

[2021-02-19 11:28] web265p3 commented on #1577
I moved this issue. Its better in the Microsoft.Identity.Web Page.

[2021-02-22 17:59] udlose commented on #1560
@intermension - were you able to resolve this?  I am also getting the `NotSupportedException: IDX10634: Unable to create the SignatureProvider` for Algorithm: 'RS256', SecurityKey: 'Microsoft.IdentityModel.Tokens.SymmetricSecurityKey

[2021-02-23 16:41] mhusseini commented on #1583
+1. I'd be interested in a solution as well.

[2021-02-23 17:32] arianmotamedi opened #1601 "ConfigurationManager.GetConfigurationAsync() doesn't return JsonWebKeySet in 6.8.0"
We recently upgraded Microsoft.IdentityModel.JsonWebTokens 5.5.0 to 6.8.0, and noticed that the ConfigurationManager object no longer populates the JsonWebKeySet property of the OpenIdConnectConfiguration. This is the code:

[code]

This is the serialized configuration object we get back in 5.5.0:

[code]

This is what we get in 6.8.0:

[code]

Looks like the objects serialize entirely differently

[2021-02-23 17:54] Arash-Sabet opened #1602 "Azure AD B2C's signature cannot be validated for tokens issued by Microsoft Graph API"
I am using the following code snippet to get a jwt token issued by **Graph API** validated:

[code]
The validation fails due to the following exception when calling `ValidateToken:

The packages are:
[code]

[2021-02-23 18:41] mchandschuh commented on #468
If you look at the linked issue it also includes a custom authentication handler implementation that does a type check to see if the token validator is an `IAsyncSecurityTokenValidator`, so it's async all the way down. There shouldn't be any issues w/ this unless I'm misunderstanding something.

EDIT: Turns out I put the wrong code in the linked issue. I've updated it to properly invoke the `IAsyn

[2021-02-23 19:06] udlose opened #1603 "IDX10511 and IDX10634 errors when using custom JWT Bearer with AzureAD Bearer"
I am using AzureAD authentication along with a custom JWT Bearer auth.  I'm using `Microsoft.Identity.Web` to facilitate the AzureAD auth.  I'm not sure if this issue should be posted there so I'm posting it here since the call stack for the error is from `Microsoft.IdentityModel.Tokens`.

I should note that the authentication for both works as expected.  **It seems that this error only happens wh

[2021-02-23 20:55] jmprieur commented on #1583
@mhusseini @aKzenT : if you are on ASP.NET Core, did you consider Microsoft.Identity.Web ? (which does use it already)

[2021-02-24 14:36] aKzenT commented on #1583
From what I see in Microsoft.Identity.Web it does not fit my needs. I want to validate, decrypt and read the content of JsonWebTokens which are encrypted using KeyVault. I'm not using the tokens for authentication directly.

If I'm mistaken, I would apreciate a sample of how to decrypt tokens using the library.

[2021-02-24 19:13] madelson commented on #1594
We were able to work around this issue for now by using `SignedXml`. That has the same (and possibly worse) bugs but I found a workaround in the context of that API (see https://github.com/dotnet/runtime/issues/48474).

Given that the .NET team states on that issue that they don't really plan to support SignedXml going forward, it would be great to see this issue address so that .NET could offer a

[2021-02-25 17:31] brentschmaltz commented on #1603
@udlose in both cases the error is indicating a mismatch between the algorithm specified in the JWS { "alg" } and the SecurityKey that the runtime choose.

In scenario 1, the key is a SymmetricKey,  alg == RS256, an asymmetric algorithm that requires an RSA key.
In scenario 2, the key is a X509SecurityKey, alg == HS256, a symmetric algorithm that requires a Symmetric key.

It is almost as if the c

[2021-02-25 18:20] udlose commented on #1603
@brentschmaltz - Do you see anything in my code that would cause this?  It's either the case that I misconfigured something (though I'm not able to see where that might've been done) or it is a minor bug in the nuget that happens when non-default auth schemes are used.

[2021-02-25 19:13] Arash-Sabet commented on #609
@hpsin I understand that this issue is closed but there are still a lot of things to learn about Azure AD B2C. I appreciate it if you could answer [this question](https://stackoverflow.com/questions/66374351/how-to-obtain-an-azure-b2c-bearer-token-for-a-non-interactive-daemon-application).

[2021-02-26 22:24] brentschmaltz commented on #1603
@udlose let's see if @jmprieur can help.
@jmprieur I am wondering if you could quickly look at this.
It appears the config used seems to be inverted.
call graphs using azuread are using the symmetric key, custom call graphs are using the asymmetric key.

[2021-02-26 22:57] udlose commented on #1603
this same issue happens even if I separate the default authorization policy like so:
[code]

[2021-02-26 23:08] udlose commented on #1603
Here is the controller endpoint that is only supposed to use the AzureAD scheme/policy and NOT the custom jwt default policy:
[code]

The endpoints that are supposed to use the Default Custom JWT scheme/policy ONLY are just decorated with `[Authorize]`.  It seems like all auth schemes are challenged regardless of what is specified on the Policy.

[2021-02-28 14:59] #1602 closed, assigned to nobody

[2021-03-01 19:20] brentschmaltz commented on #1603
@udlose ill have to debug through this ... give me a bit of time.

[2021-03-01 19:22] brentschmaltz commented on #1601
@arianmotamedi this is related to using an internal version of newtonsoft.
We are working on a fix.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1516

[2021-03-01 19:56] brentschmaltz commented on #1599
@duchau yes, that was a deliberate change. If you specify an AudienceValidator, it will be called. We felt that if you set a Validator (of any type), you did that deliberately and it should be called.

[2021-03-01 20:34] duchau commented on #1599
Thanks for the confirmation. We'll fix our paths to manually handle this then.  Please update documentation to indicate that if AudienceValidator takes precedence over ValidateAudience flag in newer versions.

[2021-03-01 20:34] #1599 closed, assigned to nobody

[2021-03-04 19:17] RojaEnnam opened #1607 "Add option to remove the PII filtering on required fields."
IdentityModelEventSource.ShowPII flag indicates whether or not PII is shown in logs. We need an option to remove the PII filtering on required fields.

[2021-03-04 23:35] keegan-caruso commented on #1607
relates to #1527

[2021-03-06 04:12] brentschmaltz commented on #1264
@rytmis we have the resources to make this happen.
The work is currently in this branch.

Until we release a Core 3.1+ target this feature will only be available on the windows platform.

[2021-03-06 04:45] brentschmaltz commented on #1538
@Herostwist i had another look at this and you are correct, if you have some information inside Claim.Properties there is really no way for you to add that to the token.
We need to add extensibility here.

[2021-03-09 04:20] ArjunSaiKumar opened #1608 "'Method not found: 'System.Object Microsoft.IdentityModel.JsonWebTokens.JwtTokenUtilities.GetClaimValueUsingValueType(System.Security.Claims.Claim)'.'"
'Method not found: 'System.Object Microsoft.IdentityModel.JsonWebTokens.JwtTokenUtilities.GetClaimValueUsingValueType(System.Security.Claims.Claim)'.'

When i tried to add Claim, Above error has raised and  **GetClaimValueUsingValueType**  nethod is not there in solution.

[2021-03-09 18:44] brentschmaltz commented on #1608
@ArjunSaiKumar that was an internal method in 5.x, we removed that method in 6.x.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/2574f3cbc3736db085497b9b241ea5ae338357b9/src/Microsoft.IdentityModel.JsonWebTokens/JwtTokenUtilities.cs#L245

What were you using it for, perhaps we can suggest something that will work.

[2021-03-11 01:11] keegan-caruso opened #1609 "EventBasedLRUCache doesn't need to run RemoveExpiredValuesPeriodically on a different task"
RemoveExpiredValuesPeriodically doesn't need to run a separate task, it can run in OnStart()

[2021-03-11 11:10] rytmis commented on #1264
Thanks for the update!

We're running on Linux containers on top of AKS, so I guess we'll wait for the newer target. We're fine for now, but obviously I'd love to get rid of any crypto-adjacent code that is ours to maintain. 🙂

[2021-03-11 23:07] mafurman commented on #1539
Adding documentation on this here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Caching-in-Microsoft.IdentityModel

[2021-03-11 23:07] #1539 closed, assigned to mafurman

[2021-03-12 02:14] vcsjones commented on #1539
@mafurman thank you!

[2021-03-15 23:27] #1447 closed, assigned to mafurman

[2021-03-17 22:31] NiklasEderoth opened #1613 "IDX10685 when using JWK key to sign JWT via jsontokenhandler on Linux"
Hi,

Im trying to sign a JWT with an ES256 JWK key in a docker container without success, if i run it on Win10 it works fine, any suggestions on what to do?

**Code:**
[code]

**Console output on Linux:**
[code]

**Environment:**
Windows10  -> Working
Ubuntu 20.04 -> Not working
Docker Alpine -> Not working

**Runtime:**
Aspnetcore 5.0.4

**SDK**
Net 5.0.201

Regards

[2021-03-18 19:27] keegan-caruso opened #1614 "Modify when SecurityTokenSignatureKeyNotFoundException is thrown"
The library should have a way to distinguish when a token being validated that doesn't have a matching key is either expired or the issuer doesn't match

Current behavior:

Given a kid exists,
    kid is matched but didn't validate: throw SecurityTokenInvalidSignatureException
    is not matched: throw SecurityTokenSignatureKeyNotFoundException
kid doesn't exists :
    throw SecurityTokenSignature

[2021-03-19 09:25] ccernescu commented on #1282
@danilo-lopes did you get this solved?
Can you please post here the solution ?
Thank you !

[2021-03-22 17:50] henrik-me opened #1616 "Use inplace Base64url parsing"
public unsafe static byte[] UnsafeDecode(string str)
      {
         if (str == null)
         {
            throw new ArgumentNullException(nameof(str));
         }

         int len = str.Length;
         int mod = len % 4;
         if (mod == 1)
         {
            throw new FormatException(str);
         }

         int validLen = len + (4 - mod) % 4;
         bool needReplace = false;

[2021-03-22 20:17] AlexandreArpin commented on #1544
👋

Just upgraded from 6.8 to 6.9 (AspNet Core 3.1) and experienced a breaking change.

I'm not super well versed in all things OpenId/Authentication/etc, but one of the side effect of this change was that now for some reason the "name" claim was now being mapped as `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name` instead of `name` when using OpenId `OnTokenReceived` (We use OpenIdConne

[2021-03-23 12:19] ParanoidPenguin opened #1619 "Change in claim behaviour between 6.8 and 6.9"
Hi! Can I prefix this by saying I've no idea if this is a desirable change or otherwise... just something I noticed. We're running what I think is a fairly standard configuration of asp.net (full fx, not core) against azureAD for authentication.

In 6.8, the observed behaviour was that my email address/UPN (however you think of it) came though in the claims collection with a claimType of "http://s

[2021-03-23 16:01] henrik-me commented on #1619
@mafurman @brentschmaltz

[2021-03-23 17:47] brentschmaltz commented on #1619
@ParanoidPenguin can you share a copy of the jwt that you received?
That would help in debugging.

[2021-03-23 19:43] joshuafonseca commented on #1516
I'm also facing the same issue. Is there a release target for this fix?

[2021-03-24 06:00] mdrgeniebelt commented on #1516
Funny thing is that recently I've tried updating all nuget packages in our solution and it seemed that this issue somehow has been resolved....until the service that is also issuing tokens received an http request with jwt and after deserializing the jwt both `scope` and `aud` claims instead of containing multiple values with proper scopes/audiences contained an empty array, for example:

How jwt

[2021-03-26 13:55] ParanoidPenguin commented on #1619
Hi! Unfortunately not at the moment... if I can replicate something in another environment then I'll add it, but nothing straightforward I can share right now

[2021-03-26 19:31] brentschmaltz commented on #1616
fixed: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1620

[2021-03-26 19:31] #1616 closed, assigned to brentschmaltz

[2021-03-30 17:09] #1614 closed, assigned to keegan-caruso

[2021-03-31 06:39] oddeirik commented on #1619
Seeing some of the same here, although in an older ASP.NET MVC 5 project. We've previously read the email/UPN from `ctx.AuthenticationTicket.Identity.Name`, but with version 6.9 this would suddenly return the user **name**, which obviously broke the user lookup for us. I didn't have time to look into it more then, so I just reverted back to 6.8 for the moment.

Edit: Also storing the JWT as an IdT

[2021-03-31 17:33] jairofranchi commented on #1525
@keegan-caruso This problem that @divyanshumehta reported, the only way to show the date would be setting this flag to true, right? Because if this exception is throw, in production environment the date will always be hidden, since doesn't make sense to show PII in production environments.

[2021-03-31 18:23] mafurman commented on #1619
This was added in order to have consistent claim mapping for all registered JWT claim names. Given that we were doing the mapping for other claims (such as _given_name_ and _family_name_), we should have been doing this for _name_ as well in order to be consistent.

Can you turn the claim mapping off? The mapping will only affect claims that are in the short format (such as _name_), rather than so

[2021-03-31 18:41] oddeirik commented on #1619
Thanks for the clarification! In our case, I'll look into getting the upn from the id token claim, as that should have been done in the first place I guess 😄

[2021-03-31 21:28] gislikonrad opened #1623 "Microsoft.IdentityModel.Protocols.WsTrust package updates"
On nuget, the Microsoft.IdentityModel.Protocols.WsTrust package is at 6.8.0. This package obviously comes from the brentsch/wstrust branch. However, it isn't on the main branch and it hasn't been updated in tandem with the rest of the Microsoft.IdentityModel.* packages. Any specific reason for this?

[2021-04-01 16:37] udlose commented on #1603
@brentschmaltz Hi Brent, have you had any time to look at this yet?

[2021-04-05 17:02] RufusJWB opened #1624 "How to create an RsaSecurityKey from a JWK?"
Is there a straightforward way (without extracting `RSAParameters`) to create a `RsaSecurityKey` from a JWK?

Let us assume this is my JWK:

[code]

It is possible to deserialize it into a `JSONWebKey` with the following command:
`JsonWebKey jwk3 = new JsonWebKey(jwkString);`

But how do I convert this into a `RsaSecurityKey`? I have seen that there is a [TryCreateToRsaSecurityKey-Function](https:

[2021-04-05 18:50] RufusJWB commented on #1624
Interestingly it works if I convert the JWK into a JWKSet:

[code]
with:
[code]

[2021-04-06 19:10] KalleOlaviNiemitalo opened #1625 "IDX21323 exception unnecessarily redacted RequireNonce value as PII"
I got the following exception when using [Microsoft.IdentityModel.Protocols.OpenIdConnect/6.8.0](http://nuget.org/packages/Microsoft.IdentityModel.Protocols.OpenIdConnect/6.8.0):

That message hides the actual value of RequireNonce and shows only the type 'System.Boolean'.

The exception was thrown by OpenIdConnectProtocolValidator.ValidateNonce: <https://github.com/AzureAD/azure-activedirectory-i

[2021-04-06 19:18] KalleOlaviNiemitalo commented on #1625
I dare not claim that all System.Boolean values are free of PII. But perhaps this could be fixed by changing the format call to

[code]

where LogHelper.NotPII would return a NotPIIWrapper instance, and LogHelper.RemovePII would recognize that type and format the wrapped value without redacting.

[2021-04-07 14:43] KalleOlaviNiemitalo commented on #1625
The source tree also contains many `LogHelper.FormatInvariant` calls in which some arguments are actually constants but will be redacted. Expressions like `JwtRegisteredClaimNames.Iss.ToLowerInvariant()`, `SignedHttpRequestClaimTypes.B`, ` nameof(configuration)`, or `typeof(Saml2Assertion)`. If you wanted to stop redacting those, I think you could add a separate `LogHelper.ConstantNotPII(object)`

[2021-04-12 21:48] rudeGit commented on #1293
@brentschmaltz Is this being addressed in the new release? What does v6 Next mean?

[2021-04-12 22:56] killerjoe1990 commented on #1293
+1 running into exact same issue, need this added asap plz

[2021-04-13 20:33] brentschmaltz commented on #1544
@AlexandreArpin we will have to roll this back, in the meantime, there is a workaround.
You can remove the entry from ClaimTypeMapping here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/7d3571f697178b62b2d537a588bc3c5262de5cd4/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L60

[2021-04-13 20:39] brentschmaltz opened #1627 "Remove JwtRegisteredClaimNames.Name from ClaimMapping"
Adding this entry:
            { JwtRegisteredClaimNames.Name, ClaimTypes.Name },

Causes a different name to show up in User.Name.

[2021-04-14 00:39] joshhanson314 commented on #1401
For me, I had changed the ResourceApi name and forgot to update the Audience configuration of the API itself. Hope this is useful for others in the future.

[2021-04-14 06:31] marwalsch opened #1628 "RE: Documentation is unclear about TokenValidationParameters.ValidateIssuerSigningKey (#1590)"
I'm referencing Issue #1590 which wasn't re-opened despite further assistance needed. Original Issue:

_I am setting up Basic AuthN for a JWT issued by the Windows STS. However, I am unsure about the correct way to do so and the Documentations are somewhat lacky about the correct way. These are my AddJwtBearer -options and the simplified Token:_
[code]

_Validation works as far as to deprecated To

[2021-04-14 10:30] jmprieur commented on #1628
@marwalsch  are you building an ASP.NET or ASP.NET Core protected web API? or Azure function or gRPC service?

[2021-04-14 11:52] marwalsch commented on #1628
@jmprieur I'm using .NET Core as the original issue states, and ASP.NET Core with the build-in authorization middleware for a web API.

[2021-04-14 13:41] jmprieur commented on #1628
@macaba : then we recommend you use [MIcrosoft.Identity.Web](https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis)

[2021-04-15 06:07] marwalsch commented on #1628
@jmprieur I am using using `Microsoft.IdentityModel.Tokens` for the `TokenValidationParameters` but my questions is about whether this setup will actually use the public from Microsoft STS or if I have to set up additional configuration

[2021-04-15 10:11] jmprieur commented on #1628
yes, this should work, @marwalsch

[2021-04-15 22:13] udlose commented on #1544
@brentschmaltz  so is this going to be changed again in the future or do you mean, we shouldn't have done that and it will remain as it was in v6.8.0 before #1545 ?

[2021-04-16 06:24] marwalsch commented on #1628
@jmprieur And how does the Middle-Ware acquire the public key? Is it through an additional HTTP request or are the public keys somewhere stored in the framework, similar like certificates are stored on the machine?

[2021-04-16 07:46] oddeirik commented on #1627
Is this related to #1619 somehow? We recently had to do a change in an older ASP.NET application after upgrading to 6.9+ where we'd previously used `ctx.AuthenticationTicket.Identity.Name` for UPN lookup. After the upgrade that instead returned the user's name, so had to change it to get the UPN claim specifically (`ctx.AuthenticationTicket.Identity.FindFirst(ClaimTypes.Upn)`.

[2021-04-16 08:12] jmprieur commented on #1627
@oddeirik : yes, the behavior that changed is you were going a display name instead of the upn / (or preferred_username in Azure AD v2.0 ID tokens)

[2021-04-16 08:34] jmprieur commented on #1628
Yes @marwalsch
See https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/ValidatingTokens#dynamically-obtaining-securitykeys-for-validating-signatures

[2021-04-16 09:10] marwalsch commented on #1628
@jmprieur  So
[code]
 Is not necessary?

EDIT: This [Stack Overflow answer](https://stackoverflow.com/questions/58758198/does-addjwtbearer-do-what-i-think-it-does) provides the requested information which the docs are lacking.

[2021-04-16 12:52] brockallen commented on #1627
Please stop making breaking changes in a point release. I don't feel like much consideration is taken for that, and also often a AAD only mindset often seems to justify those changes. This library supports many customers that don't use AAD, so please keep that in mind as changes are considered here.

[2021-04-16 14:32] nemesv opened #1630 "OutOfMemoryException in EventBasedLRUCache after upgrading to Microsoft.IdentityModel.Tokens 6.10.1"
We are experiencing increased Thread counts and OutOfMemoryExceptions after upgrading to System.IdentityModel.Tokens.Jwt version 6.10.1 in our ASP.NET Core application running in Azure.

After rolling back the package to 6.9.0 the Thread counts are normalized:
![image](https://user-images.githubusercontent.com/251330/115038063-75ff0c00-9ecf-11eb-8c2b-ec5a3f61d53f.png)

The relevant part of the sta

[2021-04-16 19:31] mafurman commented on #1630
I believe the issue here is with the way that you are creating the CryptoProviderFactory.

Each CryptoProviderFactory has it's own instance of the EventBasedLRUCache, which means it spins up it's own thread for cache processing purposes. This is causing too many threads to build up in the background as you are creating a new factory/thread each time you sign a token.

Threading aside, creating a n

[2021-04-19 09:09] nemesv commented on #1630
We could modify our code to reuse the `CryptoProviderFactory` but we would like to understand the issue better.

- can you point us to some documentation where it is explained how the `CryptoProviderFactory` should be used correctly?
- should we also keep around the `KeyVaultCryptoProvider` or that one should be created for each request?
- are you plan to change/fix this caching behavior in an upc

[2021-04-19 13:22] mdrgeniebelt commented on #1516
@brentschmaltz any news on this one? Tried version `6.10.2` and the issue is still there :(

[2021-04-19 15:45] leastprivilege commented on #1516
Yes - it is pretty annoying that this doesn't get fixed. The related issues around JSON objects and the discovery endpoint prevents customers from upgrading to .NET 5.

[2021-04-22 21:32] AmyJeanes commented on #1627
The change implemented in #1629 looks to have broken our application when upgrading `System.IdentityModel.Tokens.Jwt` from `6.10.0` to `6.10.2`.

We originally had `NameClaimType = "name"` in our `TokenValidationParameters` in `AddJwtBearer` but upgrading from `6.7.1` to `6.10.0` broke it because it looked to now automatically map it to `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name`

[2021-04-23 13:21] jeffw-wherethebitsroam opened #1634 "Json Serialialization of JsonWebKey"
Hi,

I have a JsonWebKey (retrieved from KeyVault) that I am wanting to serialize into the standard JWK json format. However, all of the code here seems to use Microsoft.IdentityModel.Json, which looks to be an internal version of NewtonSoft.Json. This is fine, but as an external user of the library how can I get a serialized version seeing that I can't use Microsoft.IdentityModel.Json?

Jeff

[2021-04-27 19:16] gislikonrad commented on #1623
Another minor version has been released and no update for the WS-Trust package. Any news on this?

[2021-04-28 22:49] RojaEnnam opened #1635 "Examine System.Net.Http version"
Examine which version of System.Net.Http should be used.

Only Microsoft.IdentityModel.Protocols.SignedHttpRequest.csproj is using version 4.3.4.

[2021-04-29 16:20] gislikonrad opened #1636 "Saml2 holder-of-key reading/writing inconsistency"
When using **System.IdentityModel.Tokens.Saml2SecurityTokenHandler** to write a Saml2 assertion with **holder-of-key** confirmation data, this assertion cannot be read by **Microsoft.IdentityModel.Tokens.Saml2.Saml2SecurityTokenHandler**.

[code]

The problem seems to be related to the SubjectConfirmationData type attribute. The **Microsoft.IdentityModel.Tokens.Saml2.Saml2SecurityTokenHandler** ex

[2021-04-30 00:14] germankuber opened #1638 "IDX10501: Signature validation failed. Unable to match key: kid: 'System.String"
I am getting this error: IDX10501: Signature validation failed. Unable to match key:  kid: 'System.String.

I am looking the source code and I get this code:

` internal static void ValidateLifetimeAndIssuerAfterSignatureNotValidatedJwt(SecurityToken securityToken, DateTime? notBefore, DateTime? expires, string kid, TokenValidationParameters validationParameters, StringBuilder exceptionStrings)

[2021-04-30 01:10] garrettleach opened #1639 "Exception prints System.String instead of string contents"
I created a simple program to create a JWE but wanted to specify the encryption method and decided to wing the algorithm names before looking up the documentation. However the exception thrown does not mention the offending algorithm name, it instead mentions 'System.String'.

Version: 6.11.0 of System.IdentityModel.Tokens.Jwt

### What I see:
IDX10615: Encryption failed. No support for: Algorithm

[2021-04-30 04:12] garrettleach commented on #1639
This behavior _appears(?)_ to be intended to remove PII based on the call to RemovePII in Microsoft.IdentityModel.Logging.LogHelper.FormatInvariant.

[2021-04-30 04:12] #1639 closed, assigned to nobody

[2021-05-04 18:32] mafurman commented on #1638
The method `ValidateLifetimeAndIssuerAfterSignatureNotValidatedJwt` is triggered after signature validation fails. Regardless of whether the issuer and the lifetime are valid, an exception will be thrown. This method is simply used to figure out the specific exception type that should be thrown in order to better help our users troubleshoot.

From the exception you're receiving, it seems like you

[2021-05-04 19:26] kevinchalet opened #1641 "Extra characters at the end of encrypted JWT tokens don't prevent them from being considered valid"
Hey,

Yesterday, the following report was posted on the OpenIddict repository: https://github.com/openiddict/openiddict-core/issues/1254.

I was able to reproduce it on my machine and confirmed this was caused by IdentityModel.
It looks like IdentityModel doesn't reject a JWE payload if it contains extra characters after the authentication tag.

Here's a repro:

[code]

@brentschmaltz @jennyf19 co

[2021-05-05 19:48] brentschmaltz commented on #1641
Kévin,

Nice to hear from you, ill have a look.
Sometimes there are insignificant bits. For example, for a JWS some of the last bits can be changed due to Base64Eencoding or Base64UrlEncoding.
What is significant is if ANY bit in the CypherText can be changed.

Brent.

From: Kévin Chalet ***@***.***>
Sent: Tuesday, May 4, 2021 12:27 PM
To: AzureAD/azure-activedirectory-identitymodel-extensions-for

[2021-05-06 11:28] KunalAdu opened #1642 "Unable to obtain configuration from: '[PII is hidden. For more details, see https://aka.ms/IdentityModel/PII."
Hi Team,

I have a problem with IdentityServer4 and my API running as an AKS instance. My IdentityServer4 and the the secured API runs locally in a Docker container without problems.

As soon as I run the Docker Container as an AKS  I get the following error. Authentication works without problems (Login). But as soon as I call my Web API with a valid Bearer Token I get the following error.

Has an

[2021-05-06 16:29] kevinchalet commented on #1641
@brentschmaltz awesome, thanks!

That was my feeling too, but in this particular case, the "extra last bits" are considered by IdentityModel as being part of the authentication tag (which is expected since it's technically part of it):

![image](https://user-images.githubusercontent.com/6998306/117332227-dd3d2a00-ae97-11eb-8595-87921c3d3e90.png)

I suspect IdentityModel correctly base64decodes it

[2021-05-06 18:50] mafurman commented on #1642
Our library throws this exception when we are unable to retrieve the OpenIdConnectConfiguration from the metadata endpoint. From the stack trace you provided, this seems like a connection issue.

Are you able to set `IdentityModelEventSource.ShowPII = true`? This would allow us to see more of the exception details.

[2021-05-07 10:15] KunalAdu commented on #1642
@mafurman : Thank you , Yes we tried that we got the URL and got to Know the issue .

We have hosted the docker image inside AKS the particular container is not able to do DNS Resolve (We are using CoreDNS)
For Java they have used (networkaddress.cache.ttl or sun.net.inetaddr.ttl) these for auto resolving .

Any settings/permission needs to be updated for .net core for CoreDNS ? So it can auto res

[2021-05-07 15:25] hchendow opened #1643 "Request for copy of the source code for v4.0.2"
I'm trying to get my full framework API app working with Identity Server 4 using the default at+jwt token header instead of changing it to use the jwt header which I know works. I was hoping to get a copy of the source code for v4.0.2 and trying to see if I can make some changes in order to support what I'm trying to do. Any help is greatly appreciated!

[2021-05-07 16:34] bmmathe commented on #1627
Maybe this should be in a different thread but I'm using the `services.AddMicrosoftIdentityWebApiAuthentication(Configuration, "AzureAd");` helper method to configure authentication for my service as suggested in documentation.  I'm also using MSAL 2.0 in my client app to get the access token.  In my [Authorize] controllers User.Identity.Name is null however I can see all the claim (preferred_user

[2021-05-07 17:24] jmprieur commented on #1627
@bmmathe you could use User.GetDisplayName() which does its best effort to get a display name

[2021-05-07 18:45] mafurman commented on #1643
Could you elaborate a bit more on what you're trying to do?

You should be able to view the source code for the 4.x branch here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/dev4x

[2021-05-07 19:49] hchendow commented on #1643
Thanks for sharing that link.

Yeah I can elaborate some more.

Relevant NuGet Packages:
- Identity Model v1.9.2
- IdentityServer3.AccessTokenValidation v2.14
- Microsoft.Owin v4.1.1
- System.IdentityModel.Tokens.Jwt v4.0.2

I have a .NET 4.6.1 API that is using the OWIN/Katana setup in order to perform Authentication using the bearer tokens. I'm using the code below in the API's OWIN Startup.cs f

[2021-05-07 22:51] mafurman opened #1644 "Incorrect parameters are passed into WriteElementString(...) in Saml2Serializer.WriteProxyRestriction(...)"
We pass in the following parameters: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d6f2b66d788195b50f2b1f700beb497851194c73/src/Microsoft.IdentityModel.Tokens.Saml/Saml2/Saml2Serializer.cs#L2057

However, the definition of the method used is as follows:
`public void WriteElementString(string localName, string ns, string value);`

`Saml2Constants.Elements

[2021-05-07 23:15] AdrianMendezVargas commented on #1562
I'm doing the same, but a just get a infinite loop when calling JwtSecurityTokenHandler.ValidateToken()

[2021-05-12 07:37] mirza-developer commented on #1562
Infinite loop? Where is the infinite loop?

[2021-05-14 00:26] AdrianMendezVargas commented on #1562
When i call JwtSecurityTokenHandler.ValidateToken() in a WASM app, it starts using 50% of my CPU and the GUI stops responding, but it works great in the API. So i had to take another approach.

[2021-05-18 03:39] ihorbond commented on #415
Yep, came here cause of same issue. Sub claim created via
`new Claim(JwtRegisteredClaimNames.Sub, userId.ToString())`

after parsing/extracting from principal becomes
`http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier`

very confusing

[2021-05-19 17:08] hchendow commented on #1643
Is there anyway for me to compile that code locally and use it with my application while still having the private key signature? I'm running into the infamous "manifest doesn't match assembly reference" error if I don't use the SNK to sign the assembly.

[2021-05-20 18:34] thinkards commented on #1427
FYI, I was able to work around this with:

`Microsoft.IdentityModel.Logging.IdentityModelEventSource.ShowPII = true;`

in the first line of ConfigureServices in my Startup.cs file.  I'm using .NET 5.

[2021-05-20 19:11] mafurman commented on #1643
I'm not aware of a way for you to compile it locally while still maintaining the signature on it.

I'm also having trouble understanding why you're setting the following property:

`options.AccessTokenJwtType = "JWT";`

It appears that in IdentityServer this value defaults to "at+jwt"?
https://identityserver4.readthedocs.io/en/latest/reference/options.html

[2021-05-20 19:18] hchendow commented on #1643
@mafurman The reason I needed to change the type is because the IdentityServer3.AccessTokenValidation package depends on System.IdentityModel.Tokens.Jwt v4.0.2 (Anything 5+ doesn't work) and that package doesn't support "at+jwt" tokens type headers. That is why in order to support the v4.0.2 package, we set the options in Identity Server to use "JWT" type header instead of the default "at+jwt" typ

[2021-05-21 21:31] #1644 closed, assigned to nobody

[2021-05-26 09:14] chucklu commented on #1573
@GeoK  I almost forget this issue, @GeoK , any update?

[2021-06-01 13:25] hooyao opened #1648 "IDX20803: Unable to obtain configuration: Connection reset by peer, mitigated by custom HttpClient"
I work for Sharepoint,  we have a product hosted in AKS, and we use Microsoft.Identity.Web to verify AAD token.
The environment is
* build image: mcr.microsoft.com/dotnet/core/sdk:3.1
* runtime image: mcr.microsoft.com/dotnet/core/aspnet:3.1
* AKS node os: ubuntu 18.04, I don't have the permission to access the nodes, no other information about the host os.
* .net version: target version .net core

[2021-06-01 13:29] hooyao commented on #1642
I stuck in a similar issue, can't retrieve the configuration from `https://login.microsoftonline.com`, we mitigated the issue by providing a custom httpclient, though I don't quite understand what's going on
[code]

[2021-06-01 17:17] brentschmaltz commented on #1648
@hooyao i agree, this product is not ready for public preview.
How are you specifying the 'authority' in startup?

The following value in the exception is not right.
`https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https://login.microsoftonline.com/common/oauth2/v2.0/authorize&api-version=1.1
`

Also, it looks like you are using 5.x, you should move to 6.x.

[2021-06-02 02:34] hooyao commented on #1648
@brentschmaltz  Thank you Brent for your reply,
We use `Microsoft.Identity.Web`, the azuread config is as follows
[code]
I tried to upgrade `Microsoft.Identity.Web` to `1.11.0`, which reference `Microsoft.IdentityModel.Protocol` 6.10.2, it didn't make any difference.
I believe `https://login.microsoftonline.com/common/discovery/instance?authorization_endpoint=https://login.microsoftonline.com/comm

[2021-06-03 14:32] imokaythanks opened #1650 "CryptoProviderFactory.Default has a reference to a disposable object"
When `CryptoProviderFactory` creates an `InMemoryCryptoProviderCache`
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b45a5b4cf4e918ca2b2c12ff1951f1be7b592bac/src/Microsoft.IdentityModel.Tokens/CryptoProviderFactory.cs#L110
Two `EventBasedLRUCache` are created
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b45a5b4

[2021-06-03 22:00] brentschmaltz opened #1651 "Add new delegate to validate tokens being replayed that takes a token."
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b45a5b4cf4e918ca2b2c12ff1951f1be7b592bac/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L99

This delegate takes the securitytoken as a string.
This requires the users to do some work to determine the token type and logic as different token types { JWT, SAML, SAML2, ...} may require special p

[2021-06-10 19:57] ericsampson opened #1654 "using JsonWebTokenHandler with ASP.NET Core (AddJwtBearer)"
_Originally posted by @mafurman in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1566#issuecomment-742874826_

Is there an open ticket for this work? I searched, but couldn't find one.
I was hoping that it could get into ASP.NET Core 6
I asked a couple Microsoft folks about this on Twitter, and Barry Dorrans suggested that I file a ticket here.
Thanks!

[2021-06-15 04:16] henrik-me commented on #1654
@ericsampson : thanks for reaching out.
The goal is to have this in asp.net core 6. @brentschmaltz is working on this. We are working on a few json related issues and https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1592 before we can get this into asp.net core 6. Marking this a a feature request.
@mafurman @GeoK @RojaEnnam

[2021-06-15 04:23] henrik-me commented on #1205
@mafurman : to be considered in the configuration manager work?
CC: @GeoK @RojaEnnam

[2021-06-15 14:12] ericsampson commented on #1654
Thanks Brent!

[2021-06-15 17:50] Tobias841 commented on #1578
We also get this error when we upgraded System.IdentityModel.Tokens.Jwt from previously working version 5.6 which we currently run in our production. Upgrading to a newer version of System.IdentityModel.Tokens.Jwt will not be possible for us until either this bug is solved or a viable workaround exists.

I have provided a C# project that reproduces the bug scenario as simple as possible. You may r

[2021-06-17 14:11] nemesv commented on #1630
@mafurman do you have any updates on this issue?

[2021-06-18 17:13] brentschmaltz commented on #1654
@ericsampson i am working on this in this topic branch brentsch/json.
We need to produce a new version of OpenIdConnectProtocolValidator as we used a specified JwtSecurityToken in this api: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/101da4bd2ecb0a3128017de47bf5123a700f4a6e/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectProtocolValida

[2021-06-19 13:55] kevinchalet commented on #1641
Someone else emailed me to tell me they were concerned about this behavior. Do you have any news?

[2021-06-21 13:44] jmprieur commented on #1650
@brentschmaltz @GeoK @mafurman : how do we triage this one? Which label should it have?

[2021-06-21 20:25] mafurman commented on #1650
The CryptoProviderFactory currently doesn't implement IDisposable since the type of the cache property on it is the CryptoProviderCache abstract class, which doesn't implement IDisposable.

We should probably either add IDisposable to the the abstract class or cast the object to an instance of InMemoryCryptoProviderCache. Either way, the CryptoProviderFactory should implement IDisposable itself.

[2021-06-22 16:45] PashaPash opened #1655 "Base64UrlEncoder.Encode fails on empty string"
`Base64UrlEncoder.Encode("")` fails with the following exception on 6.10.0+:

[code]

Possible cause: missing empty string check in new `UnsafeEncode` version:

[code]

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/8e5bb2c5ec86aa3af44636ff28c48e855a904498#diff-d8157f3c41ee79206c7c316a85950971914d143866bc8ca23dcfc8d3658338b3R116

[2021-06-22 23:58] mafurman commented on #1655
I've gone ahead and labeled this as a bug on our end; we'll discuss this during our next planning meeting to see when we can prioritize it.

[2021-06-24 03:49] 785011702 opened #1658 "SecurityTokenException IDX10222: Lifetime validation failed. The token is not yet valid."
我设置的超时时间是1分钟,经常发生这种错误,发生错误后马上重试一次又可以解码,很奇怪
错误消息:IDX10222: Lifetime validation failed. The token is not yet valid. ValidFrom: 'System.DateTime', Current time: 'System.DateTime'.
![image](https://user-images.githubusercontent.com/29771123/123199852-3c0b4100-d4e2-11eb-9b07-e461d32742cf.png)

[2021-06-24 08:38] chucklu commented on #1573
@RojaEnnam @keegan-caruso @corogers-msft   Anyone knows something about this? I encounter similar issue in another repository https://github.com/dotnet/SqlClient/issues/1137

[2021-06-24 10:07] chucklu commented on #1573
transitive dependencies

[2021-06-24 10:07] #1573 closed, assigned to GeoK

[2021-06-24 10:17] KrisVandermotten opened #1659 "What exactly is the process to get Pull Requests being merged?"
If I look at PRs such as #1637 or #1645, I wonder what is stopping them from being merged.

Is there some step in the process we are missing here?

[2021-06-24 11:51] punitsinghi opened #1660 "IssuerSigningKeyResolver doesn't support async"
Microsoft.IdentityModel.Tokens.IssuerSigningKeyResolver doesn't support async delegate and hence any async call is a blocking call.

        IssuerSigningKeyResolver = (token, securityToken, identifier, parameters) =>
                {
                    //async call here
                }

[2021-06-25 20:53] mafurman commented on #1658
Do you have IdentityModelEventSoure.ShowPII = false (default setting)?
If so, you should only be able to see the type of the DateTime object, rather than the actual value.

You can see this Wiki page for more information:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII

[2021-06-25 21:31] mafurman commented on #1659
Typically at least one member of our team would need to approve the PR, and we would also need you to rebase against the latest version of our 'dev' branch.

We've been a bit busy on our end, but we can take a look at these at our next planning meeting and see if we want to include them in our next release.

[2021-06-25 21:34] mafurman commented on #1660
Thanks for bringing this to our attention!
At the current moment we don't provide any async delegates, but this is definitely a feature that we'll want to think about adding.

[2021-06-26 23:17] jlodom commented on #1293
+1 This was one of two issues I ran into in the question below (I will be updating the entry in the next 24 hours to reflect solution/workaround hopefully).
https://stackoverflow.com/questions/68106472/decrypting-jsonwebtoken-using-jsonwebkey-or-jsonwebkeyset-in-c-sharp
Since the alg does have cross-platform support in dotnet generally, it would be good to have:
https://docs.microsoft.com/en-us/do

[2021-06-29 17:42] brentschmaltz commented on #1650
@jmprieur @mafurman the tension here is that the user usually never creates the CryptoProviderFactory and it seems odd to have Dispose on a Factory. We may want to think about using finalizers.

[2021-06-30 06:21] Kahbazi opened #1663 "IDX10503: Signature validation failed. Token does not have a kid. Keys tried: 'System.Text.StringBuilder'."
It seems there's a regression from version 5 to 6 when using RS256 to validate jwt token. There's a weird behaviour in `JwtSecurityTokenHandler.ValidateToken` which it will validate a token one time and throw an exception next time with the same token.
Also everything would work just fine when I don't dispose the `RSACryptoServiceProvider` which validate the token.

Here's the code to reproduce th

[2021-07-02 15:34] andybakerbrfc commented on #1578
I have also the same problem as described by @Tobias841. An existing project was updated to the latest release (6.11.1). After much testing, I found the most recent version without this problem was 5.6.0.

[2021-07-05 09:26] jmprieur commented on #1648
@hooyao
Microsoft.Identity.Web 1.14 does not longer use the instance discovery endpoint. Do you want to check with the latest version, please?

[2021-07-05 14:20] jsquire opened #1664 "Missing info about the "nameid" field"
# Issue Transfer

This issue is being transferred from the Azure SDK for .NET repository, [#22451](https://github.com/Azure/azure-sdk-for-net/issues/22451)

## Please be aware that @Yozez is the author of the original issue and include them in any discussion or response.

# Original Description

I try to understand all the fields in the jwt token,
and I can't found documentation about the "NameId"

[2021-07-07 23:38] dannybtsai commented on #1650
While it seems odd to dispose a factory object, the finalizer might not work as the program has no control over when it will be called.
It seems in order to completely address the issue @imokaythanks mentioned in unit tests, we need to add:
- the IDisposable interface to the CryptoProviderFactory so callers, using either the CryptoProviderFactory.Default or new CryptoProviderFactory(), can dispose

[2021-07-08 08:35] MariaCobretti commented on #852
how does one make requests to get a token?
there is no RequestSecurityToken and WSTrustChannel class

[2021-07-08 09:28] MariaCobretti commented on #852
found my answer
https://github.com/dotnet/wcf/issues/4542

[2021-07-10 00:38] henrik-me opened #1665 "Enable deterministic builds for CI builds"
Open the nuget package with NugetPackageExplorer
Under Health it can be observed that deterministic (dll/exe) is flagged for an error.

The solution is that the ContinuousIntegrationBuild MSBuild property has to be set to true when built on CI. In practice that means something like this in your directory props/targets file.

[code]
[Reference](https://www.mitchelsellers.com/blog/article/net-5-dete

[2021-07-12 21:39] brentschmaltz commented on #852
@MariaCobretti we are added WSTrustChannel and WSTrustChannelFactory to WCF see: https://github.com/dotnet/wcf

[2021-07-12 21:39] #852 closed

[2021-07-12 21:41] brentschmaltz commented on #1650
@imokaythanks (love the name) we are thinking we will stop the task when the cache is empty.
@dannybtsai we may want to think about only turning on the task when the cache gets to a certain size.

[2021-07-12 21:42] brentschmaltz commented on #1578
@Tobias841 what is stopping you from upgrading to 6.x?

[2021-07-12 21:50] brentschmaltz commented on #1641
@kevinchalet nothing yet, should get some time soon.

[2021-07-12 21:53] imokaythanks commented on #1650
@dannybtsai We call Task.GetActiveTasks with reflection after each test (lol). I do think it's a reasonable unit test requirement though.
https://referencesource.microsoft.com/mscorlib/a.html#fa9c7653b4c2d13c

Thanks all.

[2021-07-13 10:58] andybakerbrfc commented on #1578
If I read the original post correctly, and this is true in my case, this problem only exists in 6.x. We are waiting for 6.x to be fixed.

[2021-07-13 12:08] MariaCobretti commented on #852
you mean you are currently working on it? cause I certainly don't see it right now

[2021-07-13 13:06] bdebaere commented on #1242
@mafurman If the SigningKeys property can only be populated from the 'jwks_uri', how would I be able to cache the metadata of the authentication scheme during Startup, so that a first request to the API does not have to be delayed by this?

[2021-07-13 19:17] Tobias841 commented on #1578
andybakerbrfc is correct. All the information is there in the original post I think by Ozzian: "The token creation fails every other time". This is stopping us to upgrade to v 6.x. You seem to have a state dependency in the dispose method in between calls that causes the bug judging from the call stack and error message. But I'm on vacation now so I might remember this wrong...

I also added a lin

[2021-07-14 22:59] dannybtsai commented on #1650
@imokaythanks, I tried the Task.GetActiveTasks() with reflection as you suggested and it has been working for the last few days but now started to fail in VS:
            MethodInfo methodInfo = typeof(Task).GetTypeInfo().GetMethod("GetActiveTasks", BindingFlags.NonPublic | BindingFlags.Static);
            var activeTasksAtStart = methodInfo.Invoke(this, new object[] { }) as Task[];

Both typeof(

[2021-07-15 10:19] jxnkwlp opened #1666 "Is there a way to support ECDH-ES+A128KW ?"
My question: `EncryptingCredentials`  can support ` ECDH-ES+A128KW `  jwe algorithm ? Or how to extension it .

[2021-07-15 13:55] imokaythanks commented on #1650
@dannybtsai  That is how we call it. Not sure how it can return null, it appears to be an empty list of there are no tasks. I did get the failure a few times but I could see how this is a race condition and sometimes would not fail.

I didn't intend for this issue to get caught up in the details of our test. I raised it because it seemed to expose an improper use of  disposable objects that maybe

[2021-07-19 20:22] mafurman commented on #1666
We do not have support for that algorithm. You can see our list of supported algorithms [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Supported-Algorithms).

You may be able to add support for that algorithm by implementing a custom CryptoProvider as shown [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/

[2021-07-20 13:32] jsquire opened #1668 "Summary for Base64UrlEncoder.Encode(byte[]) overload is incorrect"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#22715](https://github.com/Azure/azure-sdk-for-net/issues/22715).

### Please be aware that @kbdguy is the author of the original issue and include them on any questions and replies.

---
The description of `Base64UrlEncoder.Encode(Byte[])` simply duplicates the description for `Encode(Byte[], Int32, Int32)`

[2021-07-21 16:16] shinnosukekubo opened #1669 "Is System.IdentityModel.Tokens.Jwt 6.11.1 Thread Locked？"
This is my Azure Metrix 「Thread Count」
![無題クリップ_072221_011025_AM](https://user-images.githubusercontent.com/16874548/126523326-71b7a441-1607-4624-8e55-7b4140593ef0.jpg)

I solved it just by returning version 5.8.0

my source code

` public static string GenerateAccessToken(Guid id, string name, string version, int expireSeconds = ACCESS_TOKEN_EXPIRED_SECONDS)
        {
            var symmetricKey

[2021-07-21 21:20] dannybtsai commented on #1650
@imokaythanks, a new version, 6.12.0, has been released to address this issue (see https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Caching-in-Microsoft.IdentityModel). Please take a look and let me know how it works.
BTW, calling the Task.GetActiveTasks() using reflection seems to work in some environments but failed in others and it is not clear why, mayb

[2021-07-22 07:13] jxnkwlp commented on #1666
I create custom `CryptoProvider` and `KeyWrapProvider`  to  support `ECDH-ES+A128KW`,  and can success generate token, but token can't be validate by third-party library, eg 'jose-jwt', and throw error `AesKeyWrap integrity check failed` .

I create an console app for this test  https://github.com/jxnkwlp/identitymodel-extension-test  .

How can i do next ? or how to fix this error ?

[2021-07-23 06:42] dmetzgar commented on #1630
+1 on this issue. After deploying with release 6.11, the CPU usage on our pods steadily rose over a 1.5 hour period until the node CPU hit 100% and the service became unresponsive. A core dump showed >70 threads stuck in this callstack:

[code]

Upgrading to 6.12.0 fixed the issue.

[2021-07-23 11:37] lechu445 commented on #1659
@mafurman any news regarding to this topic?

[2021-07-23 19:13] udlose commented on #1603
@brentschmaltz  Hi Brent, have you had any time to look at this yet?

[2021-07-23 19:16] udlose commented on #1603
BTW, I've now updated to .NET 5.0 with:

- Microsoft.Identity.Web 1.14.1
- System.IdentityModel.Tokens.Jwt 6.12.0

and I'm still getting these errors

[2021-07-27 11:56] YEMEAC commented on #609
Please update the documentation because is clearly not explicit enough. Will have many hours to others.

[2021-07-27 13:43] YEMEAC commented on #609
After reading all this and 2 days trying to find a fix here is what worked for me. Also notice that the UI of the Azure portal is constantly changing. I assume you have read the whole threat before getting here so i maybe skip some "obvious details". So i wanted to validate the access token in my backend as most here but it would give invalid signature, azure modifies the token before sending it t

[2021-07-27 20:23] mafurman opened #1673 "IssuerValidator logs incorrect message when an issuer is an empty string"
When we iterate through ValidIssuers on the TokenValidationParameters and discover an issuer that is an empty string we throw the following incorrect exception:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/48d02044accd936ec1749ca8f5d349a5a9c5e6df/src/Microsoft.IdentityModel.Tokens/Validators.cs#L242
https://github.com/AzureAD/azure-activedirectory-iden

[2021-07-27 22:46] #1665 closed, assigned to ciaozhang

[2021-07-29 06:15] shinnosukekubo commented on #1669
6.12.0 fixed this problem

[2021-07-29 16:18] mackie1001 commented on #1630
I'd just like to add a note here to say we encountered the same issue as @dmetzgar when upgrading from 5.6.0 to 6.11.1. After being under normal workday load for ~6 hours or so we'd see a pretty steady rise in CPU usage until it maxed out.

Out of interest what tooling did you use to isolate that @dmetzgar ?

6.12 appears to fix it for us but we will continue to monitor.

We were not creating a ne

[2021-07-29 16:39] mackie1001 commented on #1650
Note that the fix in 6.12.0 also appears to fix this issue: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1630

[2021-07-29 17:49] dmetzgar commented on #1630
@mackie1001 To get the stacks, we did a core dump of the container and opened it in Visual Studio. VS is limited on Linux dumps but at least gives a thread view where we can see the stacks on each thread. I later confirmed with LLDB the number of threads.

[2021-07-29 20:34] brentschmaltz commented on #1669
@shinnosukekubo are you running the exact same code?
Is this method in your web server?

[2021-07-29 20:40] brentschmaltz commented on #1666
@jxnkwlp Our SymmetricKeyWrapProvider uses ECB as the Mode, we are going to change that to use CBC by default and allow users to change it.

You could extend SymmetricKeyWrapProvider and override GetSymmetricAlgorithm (just copy what we have) and where we wrote ECB, use CBC.

[2021-07-29 20:52] brentschmaltz commented on #1630
@dmetzgar @mackie1001 @nemesv thanks for the detail.
Our perf and stress tests didn't pick this up because they don't create a new CryptoProviderFactory, ill add that.
We had a bug in our code where a task was left running, we assumed incorrectly, a single CryptoProviderFactory in play.

It is probably more efficient when you need to support a new algorithm to make use of CryptoProviderFactory.Cus

[2021-07-29 20:52] #1630 closed, assigned to nobody

[2021-07-29 20:56] brentschmaltz commented on #1669
@shinnosukekubo i think this is solved by 6.12.0. see https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1630

[2021-07-29 20:56] #1669 closed, assigned to nobody

[2021-07-29 21:03] brentschmaltz commented on #1659
@KrisVandermotten on https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1637 i need you to rebase against dev. I also left a comment.
on https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1645, we are doing extensive work removing splits, etc here: brentsch/json where we are switching to System.Text.Json. However that wi

[2021-07-30 08:42] ashinzekene opened #1675 "Get token using certificate assertion throws keyset does not exist"
[code]

throws error

[code]

[2021-07-30 18:13] mafurman commented on #1675
I believe this is an issue with ADAL.NET. You probably want to repost your question in their GitHub repo: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2021-07-30 18:53] ashinzekene commented on #1675
Okay, thanks

[2021-07-30 18:53] #1675 closed, assigned to nobody

[2021-08-04 18:15] henrik-me opened #1677 "[Investigate] Improve allocations and speed of Base64UrlEncoder"
## **Note**: We have had [improvements to the URLEncoding](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d6f2b66d788195b50f2b1f700beb497851194c73/src/Microsoft.IdentityModel.Tokens/Base64UrlEncoder.cs#L37) since this suggestion was written and thus actual improvements may be less, this needs to be investigated.

Suggestion by: [Feng Yuan](https://www.lin

[2021-08-04 23:05] henrik-me commented on #1677
Improvement suggestion on top of current Base64UrlEncoding by: [Feng Yuan](https://www.linkedin.com/in/dryuan/)

It’s skipping the string.Split call, which is a good move. But this method is not optimal:
[code]
It should be written as:

[code]

A few things to notice:
1.	The original code is using static which is slow to access. Those are actually constants.
2.	Also it’s safe to modify the string

[2021-08-05 00:14] bgavrilMS commented on #1677
Watching, will be picking up the code to use in MSAL.

[2021-08-06 04:06] jxnkwlp opened #1680 "IDX10000: The parameter 'hashAlgorithm' cannot be a 'null' or an empty object."
The project is .net 472 with owin + mvc  and use 'Microsoft.Owin.Security.OpenIdConnect'  .
When receive token (id token and access token), idtoken is jwe token, access token is jws token .
then throw an exception : `IDX10000: The parameter 'hashAlgorithm' cannot be a 'null' or an empty object.` .

i find the source in here   ,
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensi

[2021-08-07 23:58] #1650 closed, assigned to dannybtsai

[2021-08-08 00:15] dannybtsai commented on #1630
Note this issue was fixed by #1650.

[2021-08-10 16:47] isaiah-mayerchak opened #1683 "Leaking tasks that cause UTs to fail in IdentityModels 6.12.0.0"
### -- Package + version number --

System.IdentityModel.Tokens.Jwt 6.12.0.0 (updated from 6.6.0.0)

### -- Behavior --

We were made aware before upgrading that we needed to upgrade to a version >= 6.12.0.0 due to an issue that caused hanging tasks in unit tests that was fixed by this PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1667/commits/a2430d

[2021-08-10 21:19] brentschmaltz commented on #1683
@isaiah-mayerchak we recognized this issue and are working on it.
@dannybtsai owns the solution.

[2021-08-13 19:42] ErikPilsits-RJW opened #1686 "BUG : System.IdentityModel.Tokens.Jwt 6.12.1 causes exceptions"
I have several API projects where this package was installed. I recently updated to 6.12.1 from 6.12.0 through nuget and started getting exceptions.
[code]

Oddly, I found that I actually no longer need this package at all, and have removed it, thus solving my issue. But I'm wondering if 6.12.1 has some dependency problem when installed.

[2021-08-13 20:57] henrik-me commented on #1686
@RojaEnnam

[2021-08-13 21:11] RojaEnnam commented on #1686
@ErikPilsits-RJW IdentityModelTelemetryUtil.SetTelemetryData is an internal method that we changed the method signature of in 6.12.1, can you please check if you have upgraded all the related nugets, specially Microsoft.IdentityModel.Logging and Microsoft.IdentityModel.Protocols

[2021-08-13 21:15] BlacKCaT27 commented on #1686
Can confirm this is having a severe impact on our systems builds as well. https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/6.12.1 shows that this new version is being served by NuGet but isn't downloading/working. NuGet tries to serve this version but it doesn't work so builds are breaking.

[2021-08-13 21:26] ErikPilsits-RJW commented on #1686
We do not have those packages as separate dependencies. However this upgrade was done as a whole solution upgrade, so everything was upgraded at the same time.

[2021-08-13 21:52] henrik-me commented on #1686
6.12.1 packages unlisted from nuget.org.
@BlacKCaT27  @ErikPilsits-RJW - do you have a repro? which packages are you referencing?

[2021-08-13 22:13] henrik-me commented on #1686
@BlacKCaT27 @ErikPilsits-RJW we are not able to reproduce this issue. Did you update all packages to the latest version? Can you please share a list of all your package references and versions to packages named Microsoft.IdentityModel and System.IdentityModel?

[2021-08-13 22:18] BlacKCaT27 commented on #1686
In my case, it may have been related to a cached instance of our repository
manager on my local machine. Once the bad package was removed from nuget
and I invalidated my cache, builds succeeded again.

My repro was to reference a dependency which referenced this package.
Beyond that I can't say unfortunately.

On Fri, Aug 13, 2021 at 6:13 PM henrikm ***@***.***> wrote:

[2021-08-13 22:20] henrik-me commented on #1686
Thanks @BlacKCaT27, that would match our expectations as well. If all packages are updated there should be no such issues. We will re-enlist later today unless we hear from you or others that the issue persists.

[2021-08-13 22:24] BlacKCaT27 commented on #1686
Can confirm the issue is resolved once Nexus cache was cleared. Not sure
what went wrong with the package itself though. Good luck

On Fri, Aug 13, 2021, 6:20 PM henrikm ***@***.***> wrote:

[2021-08-13 22:26] henrik-me commented on #1686
Thanks, will close this one and ensure the packages are listed again.

[2021-08-13 22:26] ErikPilsits-RJW commented on #1686
Bad cache and builds was not my issue. Mine was a runtime exception. As I said, I updated all packages in my entire solution successfully, and encountered the runtime error. Reverting to version 6.12.0 resolved the runtime exception. Also, removing the package completely, as I said I found I didn't actually need it anymore, also resolved the issue.

Is it possible other dependent packages are fail

[2021-08-13 22:27] ErikPilsits-RJW commented on #1686
Please don't close this, it's not fixed.

[2021-08-13 22:31] henrik-me commented on #1686
re-opened, have re-listed the packages.

[2021-08-13 22:32] ErikPilsits-RJW commented on #1686
Api web project dependencies, which depends on infrastructure and core projects
[code]

Infrastructure
[code]

Core
[code]

QueryBuilder is an internal project on our enterprise nuget feed
[code]

The exception occurs if I add System.IdentityModel.Tokens.Jwt to the Infrastructure dependencies.

[2021-08-13 22:32] henrik-me commented on #1686
@ErikPilsits-RJW, which exact package did you remove to make things work?

[2021-08-13 22:34] henrik-me commented on #1686
[code]
references IdentityModel, current latest release references 6.12.0

[2021-08-13 22:34] ErikPilsits-RJW commented on #1686
I removed or downgraded to 6.12.0 this package _only_ , System.IdentityModel.Tokens.Jwt, in the Infrastructure project.

[2021-08-13 22:38] henrik-me commented on #1686
CC: @jennyf19

Microsoft.Identity.Web, [references](https://github.com/AzureAD/microsoft-identity-web/blob/ce9d7322072b0ffd08cd8abd9027c958d1a52e1b/src/Microsoft.Identity.Web/Microsoft.Identity.Web.csproj)
[code]

[2021-08-13 22:39] henrik-me commented on #1686
Thanks @ErikPilsits-RJW , I believe we know why it helped removing the direct reference.

[2021-08-13 22:41] ErikPilsits-RJW commented on #1686
Seems like you found it. Now that you relisted the package, I recreated my issue. I confirmed that after building, I only have version 6.12.1 of Tokens.Jwt.dll in my solution output. So the method sig change error makes sense.

Seems like this kind of a change is really dangerous no? It will break anything that has a dependency on this package and uses that method.

[2021-08-13 22:43] henrik-me commented on #1686
Agree it can be dangerous as can be seen here.  All our packages needs to be updated at the same time.

Will explore if we can remove version limitation for Microsoft.Identity.Web. @jennyf19  ?

[2021-08-13 22:52] henrik-me commented on #1686
Keeping this open as we explore an option to provide better messages in such cases, avoiding the issue all together or something else.

[2021-08-13 22:53] ErikPilsits-RJW commented on #1686
This is a bit odd though. It's an internal method, Microsoft.Identity.Web cannot call it directly. So even a dependency on version 6.12.0 of this package cannot break it like that.

[2021-08-13 22:54] henrik-me commented on #1686
Agree, we have internal utility functions in one place.
We should be able to avoid this issue, however it's also a potential issue if the packages are not kept in sync.

[2021-08-13 23:27] ErikPilsits-RJW commented on #1686
Now I understand. From Microsoft.IdentityModel.Logging
[code]
And my Protocols version is 6.12.0 from the Microsoft.Identity.Web dependency. And so the signatures don't match.

So really, this is a potential problem for the wider world. Consider two unrelated packages, and the maintainers are dead. One takes a dependency on Protocols 6.12.0, and one takes a dependency on Tokens.Jwt 6.12.1. You'd h

[2021-08-13 23:36] ErikPilsits-RJW commented on #1686
Confirmed. If I take another explicit dependency on
[code]
the exception is resolved.

[2021-08-14 00:31] henrik-me commented on #1686
Agree. We will look at how we can do.
The mismatch of versions between packages could cause transparent issues and keeping the packages in sync is also important. One possibility is to keep the method signatures and in many cases that will be fine, there are situations we know versions must match in those cases we can throw much better exceptions.

[2021-08-18 08:28] pkwieci1 commented on #1686
Can confirm the issue, I had to wrestle with the problem for the whole day until I found the culprit.
Microsoft.IdentityModel.Tokens works with version 6.12.0, but 6.12.1 causes exceptions breaking the app.

I have entirely deleted the package reference from the project and it's back working fine.

[2021-08-18 19:52] milenasrocha commented on #877
Any updates?

[2021-08-19 22:14] nbiada commented on #1686
I can confirm that the bug exists without a direct reference of the packages.
With this configuration in my _Infrastructure_ project it works. An entire day lost to find this. I hate you ;-))
[code]

[2021-08-20 11:01] gislikonrad commented on #1623
Any update on this?

[2021-08-20 21:55] dannybtsai commented on #1683
A new version, 6.12.1, has been published and it should fix the "leaking task" issue. The main changes are to make the task exits as soon as it finishes processing events (plus a 2-min time to reduce potential overhead of restarting tasks too frequently). There are more improvements we plan to make but hopefully this will address the UT failures so you are not blocked.

[2021-08-21 19:01] #1683 closed, assigned to dannybtsai

[2021-08-21 20:33] stap123 commented on #1686
Not sure if it's useful but I can also confirm that we see this issue when upgrading from `Microsoft.IdentityModel.Jwt` version `6.12.0` to version `6.12.2`.

We get the following exception details:

[code]

We are using `Microsoft.Identity.Web` version `1.15.2` and have no direct dependency on the `Microsoft.IdentityModel.Protocols` package.

I can confirm that adding a reference to version `6.12

[2021-08-21 23:35] jennyf19 commented on #1686
@stap123 can you try with Microsoft.Identity.Web version 1.16.0, which references Microsoft.IdentityModel.* as 6.*, so hopefully that works for you without a direct reference.

[2021-08-22 09:02] stap123 commented on #1686
@jennyf19 Yes it does.

Upgrading to version `1.16.0` of `Microsoft.Identity.Web` and removing the direct reference to `Microsoft.IdentityModel.Protocols` makes everything work as before.

Thank you 😃

[2021-08-23 16:34] vuplea opened #1691 "JwtSecurityTokenHandler: Deadlock (starvation) when used on single threaded TaskScheduler"
The consumer loop `EventBasedLRUCache.EventQueueTaskAction` is probably meant to be run as a separate blocking thread; however, the way is it started `new Task(Action).Start()` does not do that, but uses `TaskScheduler.Current` to run it.

Since the consumer loop is blocking, this means it stops a single threaded `TaskScheduler` from all processing.
Perhaps the static `Task.Run`, which would run t

[2021-08-23 19:40] mafurman commented on #1691
Thanks for bringing this to our attention!

Are you referring to this line in the code?
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/08e98d190301804748f646f681b93e82a6111ebb/src/Microsoft.IdentityModel.Tokens/EventBasedLRUCache.cs#L393

[2021-08-24 04:17] vuplea commented on #1691
Yes, that's what I meant to write😅.  `new Task(Action).Start()`,  I've edited it in the original message.

[2021-08-27 05:01] brentschmaltz commented on #1691
@vuplea are you actually using such a pattern?

[2021-08-27 08:45] vuplea commented on #1691
Yes, we use https://github.com/StephenCleary/AsyncEx/wiki/AsyncContext, though ConcurrentExclusiveSchedulerPair probably has it's users too.

Token validation might be done by other higher-level libraries, for which it's not obvious when it happens (this was our case).

[2021-08-27 16:49] brentschmaltz commented on #1691
@vuplea thanks for the detail.
We will address this.

[2021-08-29 09:46] melionel opened #1693 "[Bug 6.8.0.0]: Method not found: 'Void Microsoft.IdentityModel.JsonWebTokens.JwtTokenUtilities.ValidateTokenType(System.String, Microsoft.IdentityModel.Tokens.TokenValidationParameters)'"
Hi team,

I am using ASP.NET core authentication middleware to do authentication with Jwt token in my web application.
Everything was fine before I upgrade **_Microsoft.IdentityModel.JsonWebTokens_** from **5.6.0.0 to 6.8.0.0**.

After upgrade, the httpcontext can not get user's Identity from authorization token. I tried to call httpcontext.AuthenticateAsync() but got below errors:
`{"Method not f

[2021-08-29 23:12] cleferman commented on #1475
Stumbled upon this today and wrecked my head for a few hours until I finally retrieved the discovery document "manually".
I was sure I configured the JWT middleware correctly but it never hit my /keys endpoint. I inspected the url a dozen times, it was correct but it turns out it was a serialization issue...

I'll just leave this chunk of code here
[code]
I looked into the OkObjectResult class and

[2021-08-30 19:14] Eileenioi opened #1694 "Hi"
Can i use do this

[2021-08-30 23:37] dannybtsai commented on #1691
@vuplea,
Our task is "fire-and-forget" and meant to run in the background for up to 2 min then end. I looked into the Task and TaskScheduler and it makes sense to use the Task.Run() instead of Task.Start()  as you suggested. The Task.Run() method uses the default TaskScheduler and it won't interfere with other task schedulers.

[2021-08-31 00:11] mafurman commented on #1693
Hey @melionel!

ValidateTokenType() is an internal method that was moved to a different location, so this seems like something that could be caused by a versioning issue.

What ASP.NET Core authentication middleware are you using? JwtBearer?

[2021-08-31 15:31] melionel commented on #1693
Thanks for you hint @mafurman !
I finally realized that the issue was caused by mis-matched version of  System.IdentityModel.Tokens.Jwt. Everything goes fine after I upgrade this package from 5.6.0 to 6.8.0

[2021-08-31 15:31] #1693 closed, assigned to nobody

[2021-08-31 17:01] brentschmaltz commented on #1694
@Eileenioi you may have pressed enter too soon :-)
Please enter again.

[2021-08-31 17:02] #1694 closed, assigned to nobody

[2021-09-01 16:17] gislikonrad commented on #1623
@brentschmaltz Has development of the WS-Trust extension stopped?

[2021-09-02 17:48] mrochon opened #1697 "BUG: Both 'id_token' and 'access_token' should be present error should not have been raised"
This issue was originally [raised on Microsoft.Identity.Web git](https://github.com/AzureAD/microsoft-identity-web/issues/1422). Using Microsoft.Identy.Web 1.1. to request id_token, with ResponseType=code (rather than id_token) but not requesting any API scopes (just OIDC), I get error:

at Microsoft.IdentityModel.Protocols.OpenIdConnect.OpenIdConnectProtocolValidator.ValidateTokenResponse(OpenIdC