[2019-05-28 14:36] kevinchalet opened #1194 "Add property bag to TokenValidationResult"
In the new world, it seems `ClaimsIdentity` is no longer king, as `JsonWebTokenHandler` exclusively uses `SecurityTokenDescriptor.Claims` (an "untyped" dictionary) instead of `SecurityTokenDescriptor.Subject`.

Would it make sense to have a property in `TokenValidationResult` exposing an equivalent to `SecurityTokenDescriptor.Claims`?

[2019-05-28 22:58] mafurman commented on #1193
@PinpointTownes
Yes, that is the expected behavior. `SecurityTokenDescriptor.Subject` will be marked with an `Obsolete `attribute in our 6.x release.

[2019-05-29 10:33] PinpointTownes commented on #1193
Good to know. Maybe an `if` check in `JsonWebTokenHandler` to ensure `Subject` is not set would help make this "change" more obvious?

Now, the real question is the one I asked here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1194. If `ClaimsIdentity` is no longer supported when creating tokens, why is it still so massively used for the validation p

[2019-05-29 11:17] Riff451 commented on #1191
I've got more info for this. The issue is caused by some change made in the runtime not the sdk.
I've just tried the following combinations:

- sdk 2.1, runtime 2.1.11 --> KO
- sdk 2.1, runtime 2.1.9 --> OK

- sdk 2.2, runtime 2.2.5 --> KO
- sdk 2.2, runtime 2.2.4 --> OK

I've checked the releases notes for both runtimes (2.1.11 and 2.2.5) and they both have [this change in System.Text.RegularExpr

[2019-05-29 18:53] brentschmaltz commented on #1191
@Riff451 as you noticed, most likely the 100ms is too small for processing a string of this size through RegEx.

As you mentioned there is no way to set the timeout, the only workaround I can see is to override ReadToken.

Why do you need such large token?

[2019-05-29 19:43] Riff451 commented on #1191
@brentschmaltz Thanks for the response.

I'm working on a project that for the moment, by design, needs to read such large token for a particular operation. So I think that for my situation I'll need to follow your workaround.

Maybe it's worth considering a couple of options ( just my 2 cent :) ):

- given that it's possible to specify any value for MaximumTokenSizeInBytes in the JwtSecurityToken

[2019-05-29 21:04] brentschmaltz commented on #1193
@PinpointTownes @mafurman Do you seem any harm in using SecurityTokenDescriptor.Subject to add values in JsonWebTokenHandler.CreateToken(SecurityTokenDescriptor ...)? Other than the 'dup' issue and what 'set' takes precedent.
I would expect a user choose to set Subject or Claims, but I suppose both could be set. So we could honor the Subject property OR as you suggest inform the user better.

We o

[2019-05-29 21:15] brentschmaltz commented on #1194
@PinpointTownes not sure I would go so far as that

 :-), but for the JsonWebToken/Handler our design principals were to make things simpler, remove claim type mapping, work independent of System.Security.Claim, more naturally with Json, prepare for async and an API that doesn't throw.

The token that is returned inside TokenValidationResult is a JsonWebToken, can TryGetPayloadValue<T> meet that n

[2019-05-29 21:35] PinpointTownes commented on #1194
Well, using `ClaimsPrincipal` with `JsonWebTokenHandler` has no effect when creating a token (which is a bad surprise), so I think it's fair to say it's no longer king 😄

Is there a way to retrieve the JWT payload as a whole and not just a single property?

[2019-05-29 21:50] brentschmaltz commented on #1191
@Riff451 If this is related to ValidateToken, you can use [TokenValidationParameters.TokenReader](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/6d32e26999b851c5cdcf43c9d2e2f1724d7d913a/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L236) to read the token.
The type of the delegate [ is] (https://github.com/AzureAD/azure-activedirectory-i

[2019-05-29 23:10] #1185 closed

[2019-05-30 01:01] brentschmaltz opened #1197 "Expand API's to allow for IHttpClientFactory in addition to HttpClient"
In multiple places we either accept an HttpClient or reuse the same one. We should expand our API's to:
ConfigurationManager
HttpDocumentRetriever
WsFederationConfigurationRetriever
OpenIdConnectConfigurationRetriever
AadIssuerValidator

Scan to see if any other opportunities exist.

Opened in asp.net: https://github.com/aspnet/AspNetCore/issues/10542

[2019-05-30 04:48] brentschmaltz commented on #1194
Not in this release. For .Net Core 3.0, when the new Json replacement is available we plan on adding in support for native json objects.

[2019-05-30 04:50] brentschmaltz commented on #1184
@AndersAbel thanks for the feedback. We will prioritize appropriately.

[2019-05-30 10:24] #1117 closed

[2019-05-30 12:14] Riff451 commented on #1191
@brentschmaltz Thank you very much. I used both JsonWebToken and JsonWebTokenHandler. That solved my problems.

[2019-05-30 15:54] GeoK commented on #1177
@festivus - I'm closing this issue for now, but feel free to re-open it if you have any updates.

[2019-05-30 15:54] #1177 closed

[2019-05-30 18:37] #1169 closed

[2019-05-30 20:23] #1132 closed

[2019-05-31 16:48] brentschmaltz commented on #1191
@Riff451 good to hear. Sorry for the hassle.

[2019-05-31 16:48] #1191 closed

[2019-05-31 18:57] mafurman opened #1199 "Add an overloaded method for BuildFormPost() that takes in a nonce"
Providing a nonce value will give users an alternate way to specify that our script is trusted in their CSP (rather than using the hash value of the script).

**Parent issue:**
#1178

**Additional context:**
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src
https://www.troyhunt.com/locking-down-your-website-scripts-with-csp-hashes-nonces-and-report-uri/

[2019-05-31 18:57] mafurman commented on #1178
Since it seems like using a hash in the CSP provides the same functionality as using a nonce, we've decided to add a property that returns the string value of the script so that it is easier for users to calculate the hash (for our 5.5.0 release). We plan on adding an overloaded method that allows users to specify a nonce in our 6.x release (tracked in this issue: #1199).

[2019-05-31 19:06] brentschmaltz opened #1200 "EnvelopedSignatureWriter should be able to determine the Digest algorithm from signing algorithm"
If SigningCredentials.Digest is null a fault is generated.
We should ask the CryptoProviderFactory to create the HashAlgorithm with similar logic as [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/e69d0c77909334ddba19ac15a6d993adcc77e458/src/Microsoft.IdentityModel.Tokens/AsymmetricSignatureProvider.cs#L187)

[2019-06-03 18:14] Tratcher commented on #1197
@brentschmaltz talk to @rynowak, he has some thoughts about how this should be exposed.

[2019-06-03 19:16] #1178 closed

[2019-06-04 02:18] brentschmaltz opened #1202 "SecurityKeys should not be cached with an empty kid."
Two keys with the same algorithm and type will collide.
Either, don't add these keys or have an internal GUID.

[2019-06-04 17:35] brentschmaltz commented on #1163
@edwardcampbellprojects closing for now, let us know if you need anything.

[2019-06-04 17:41] edwardcampbellprojects commented on #1163
Hi Brent,

Thanks for keeping up with me.  I found an exception in jQuery-1.9.1 that
is stopping my code.  Although this helped remove 1 of the problems I was
seeing the problem still remains.   Thank you for your efforts.  I think
the locus of the problem is now definitely in my code and I am pursuing
that approach.

This was an example of good and skilled support.  Thanks again.

Ted

On Tue, Ju

[2019-06-04 18:50] scottbrady91 commented on #1117
I was able to create a JWT signed using PS256. That was using the codebase from your PR though. I couldn't find a nightly for v5.x and the v6 nightly didn't contain RSA-PSS support.

[2019-06-05 22:00] joaocpaiva opened #1203 "Validating and Creating signatures is not thread-safe when CacheSignatureProviders is enabled"
This API returns IDX10511 - signature validation failures for fresh and valid tokens, if invoked under concurrency, when DefaultCacheSignatureProviders is enabled.

Version: 5.4.0

Pseudocode code to reproduce the issue:
[code]

[2019-06-06 15:04] brentschmaltz commented on #1203
@joaocpaiva i changed the title as this issue is more general in nature.
Thanks for opening this issue.

[2019-06-06 17:25] brentschmaltz commented on #1117
@scottbrady91 @underscoreHao published nightly of 5.5.0 here: https://www.myget.org/feed/azureadwebstacknightly/package/nuget/System.IdentityModel.Tokens.Jwt

[2019-06-11 20:18] brentschmaltz opened #1204 "Allow Creation of unsigned JWT tokens"
Some customers have expressed the need to have unsigned JWT's.

[2019-06-13 03:19] brentschmaltz commented on #1203
@joaocpaiva fixed with: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1198

[2019-06-13 03:19] #1203 closed

[2019-06-13 03:20] brentschmaltz commented on #1129
fixed with: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1198

[2019-06-13 03:20] #1129 closed

[2019-06-16 00:22] dluc opened #1205 "Validating JWT tokens and supporting multiple issuers"
moved from: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1619

### Is your feature request related to a problem? Please describe.

I'm using OpenID Connect (`Microsoft.IdentityModel.Protocols.OpenIdConnect` 5.4.0 nuget) in my C# web API, and I'd like to support and validate JWT tokens issued by multiple identity providers (MSA, LinkedIn, GitHub, Google, etc.), and I a

[2019-06-19 17:25] brentschmaltz commented on #1205
@dluc we recognize the pattern: multiple identity providers. We have some work in that area, but it's early. That pattern is to decompose artifacts that arrive and see what policy can handle them.

Currently the handlers in asp.net handle a single providers at a time and require overloading of TokenValidationParameters with delegates such as [AudienceValidator](https://github.com/AzureAD/azure-act

[2019-06-21 16:49] brentschmaltz opened #1207 "JsonWebTokenHandler.CreateToken adds iat, nbf and exp as strings should be int"
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs#L154 we should not be using ToString();

[2019-06-21 21:03] GeoK opened #1208 "Add ability to convert ECDsaSecurityKey to JsonWebKey in JsonWebKeyConverter."
JsonWebKeyConverter is missing a method that coverts ECDsaSecurityKey into a JsonWebKey.

[2019-06-21 21:29] brentschmaltz commented on #1150
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1206

[2019-06-21 21:29] #1150 closed

[2019-06-21 21:29] brentschmaltz commented on #1202
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1206

[2019-06-21 21:29] #1202 closed

[2019-06-22 11:21] snoward opened #1209 "OpenIdConnectConfiguration doesn't have TokenIntrospectionEndpoint"
OpenIdConnectConfiguration doesn't have TokenIntrospectionEndpoint property.

It is very useful property in access token introspection scenario.

[code]

[2019-06-24 17:17] GeoK commented on #1083
Fixed with: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1195

[2019-06-24 17:17] #1083 closed

[2019-06-24 17:46] GeoK opened #1210 "Allow creation of a customized header using JsonWebTokenHandler"
Some customers have expressed the need for a facility that allows setting custom attributes in the header part, during token creation.

[2019-06-25 16:34] GeoK commented on #708
A CI build for PRs is in place.

[2019-06-25 16:34] #708 closed

[2019-06-25 16:36] GeoK commented on #800
@brentschmaltz Is this issue still relevant considering that we added new perf and stress tests?

[2019-06-25 23:33] brentschmaltz commented on #800
nope, closed.

[2019-06-25 23:33] #800 closed

[2019-06-26 18:51] GeoK commented on #1036
@brentschmaltz - We upload symbols to the NuGet.org symbol server (SourceLink enabled) and to symweb.
Is there still a requirement to upload symbols to Microsoft Symbol Servers?

[2019-06-27 21:01] GeoK commented on #1209
Hi @snoward, TokenIntrospectionEndpoint is currently not a first class property in OpenIdConnectConfiguration, but you should be able to access it using [AdditionalData](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.protocols.openidconnect.openidconnectconfiguration.additionaldata?view=azure-dotnet#Microsoft_IdentityModel_Protocols_OpenIdConnect_OpenIdConnectConfiguration_Add

[2019-06-28 15:28] laurentbel commented on #609
Note that this works well BUT just because the access token is actually an id token.
This is specified in this official documentation : https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#the-default-scope

So be careful because you will be manipulating an id token instead of an access token. And it meant to be used for certain legacy client only... You are w

[2019-06-30 07:52] MCFHTAGENTS opened #1212 "Nuget install isn't working"
Hi,
I am trying to both upgrade and clean install these packages via Nuget and it is not working:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Exception 'System.AggregateException' thrown when trying to add source 'https://www.myget.org/F/aspnet-contrib/api/v3/index.json'. Please verify all your online package sources are available.
One or more errors occurred.
Unable to l

[2019-07-01 18:22] GeoK commented on #1212
Hi @MCFHTAGENTS, our nightlies are available on https://www.myget.org/F/azureadwebstacknightly/api/v3/index.json and our release packages are available on [Nuget](https://www.nuget.org/packages/Microsoft.IdentityModel.JsonWebTokens).

[2019-07-01 18:23] MCFHTAGENTS commented on #1212
Hi this was a nugget outage over the weekend now resolved
Please close
Thanks
Mark

[2019-07-01 18:23] #1212 closed

[2019-07-02 13:22] clauzf opened #1214 "[JWT] TokenValidationParameters RoleClaimType Not Fully Respected"
Original issue: https://github.com/aspnet/AspNetCore/issues/11789

### Describe the bug
After passing value to RoleClaimType. It can no longer pass `Authorize(Roles="")`.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.2'
2. Run this code

Startup.cs
[code]

TokenService.cs
[code]

AuthController.cs
[code]

3. With these arguments '....'
N/A

4. See erro

[2019-07-02 17:06] zvrba commented on #415
Seriously, closed? I just lost two days trying to get the following to work
[code]
It was constantly failing, I had to turn off policy-based authorization and inspect the token manually to discover that it has been renamed. And where is this mentioned in the aspnet.core documentation? NOWHERE!

[2019-07-02 17:14] zvrba opened #1215 "Add clear documentation about claims type mapping"
The original issue got closed without any useful resolution.

---

Seriously, closed? I just lost two days trying to get the following to work
[code]
It was constantly failing, I had to turn off policy-based authorization and inspect the token manually to discover that it has been renamed. And where is renaming of token types mentioned in the aspnet.core documentation? NOWHERE!

EDIT: I understand

[2019-07-02 19:04] dmitry-pavlov commented on #982
Make sure you set `RoleClaimType`  and `NameClaimType` claim names for token validation to the same values you have in your token - `role` and `sub`:

[code]

[2019-07-03 23:21] GeoK commented on #1214
Hi @clauzf - the issue here is the JwtSecurityTokenHandler performs inbound 'type' mapping.

You can disable the mapping on the application level:
`JwtSecurityTokenHandler.DefaultMapInboundClaims = false;`

or per instance (assuming that you are using default _SecurityTokenValidator_(s)):

[code]

[2019-07-03 23:28] brockallen commented on #1214
does anyone ever replace the security token validator in either the asp.net core oidc or jwt authentication handlers? in short, this should (have always been) a first class citizen (or never done in the first place).

[2019-07-04 00:06] GeoK commented on #1214
Hi @brockallen - users can generally replace the token handler and hence I created the code sample in this way.
For example, one of the ideas is to include Microsoft.IdentityModel.JsonWebTokens.JsonWebTokenHandler (which doesn't have any claim mappings) to ASP.NET Core handlers and allow users to choose between System.IdentityModel.Tokens.JwtSecurityTokenHandler and JsonWebTokenHandler.

[2019-07-05 01:58] clauzf commented on #1214
Thanks GeoK, it works. Though I still found there is a bit inconsistency, since without your codes, the "name" claim type won't be mapped into internal claim type, only "role" claim type gets mapped.

Also I'm curious about the syntax you used, `x.SecurityTokenValidators.FirstOrDefault() is JwtSecurityTokenHandler` did a boolean check, then you can still assign the `FirstOrDefault` result to `jwtS

[2019-07-05 20:26] GeoK commented on #1214
@clauzf  - Can you provide more information about the inconsistency? Turning the mapping off will give you back claims unmapped to internal types.
Setting `NameClaimType = JwtClaimTypes.Name` allows you to get the value of _JwtClaimTypes.Name_ claim with `ClaimsIdentity.Name` (_User.Identity.Name_).

To answer your other question, [the is type pattern expression](https://docs.microsoft.com/en-us/d

[2019-07-05 20:30] GeoK commented on #1215
Hi @zvrba - I'm sorry to hear that. We can definitely do better w.r.t. documentation.
Could you recommend a good spot for a comment like that within the IdentityModel extensions for .Net library?

[2019-07-06 05:56] zvrba commented on #1215
Hi,

I think the comment should be placed into the aspnet core page I linked to in the original post. I'm new to aspnet core and that documentation is the first I consult when developing. If it must be in IdentityModel documentation, then I think this would be the appropriate page: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/How-ASP.NET-Core-uses-Micro

[2019-07-07 13:57] clauzf commented on #1214
Hi @GeoK that's exactly my point.

With my original codes. I didn't do `DefaultMapInboundClaims = false` and overrided both "name" and "role" claim type names. When I read the inbound token only gets "role" claim type mapped to built-in `ClaimTypes.Role` and role related authorization functions not working. But not the "name" and the value of "name" claim type mapped to `ControllerBase.User.Identi

[2019-07-08 08:10] cforycki commented on #609
I'm experiencing the same issue. We use Azure AD to authenticate users, but our APIs are still on our servers, we are not using any Microsoft servers for our APIs.

If I trust the documentation from Microsoft :

So I shouldn't use the id_token for security, but I can't verify the access_token because Microsoft do some stuff to the access_token and their own certificate doesn't validate their own t

[2019-07-08 08:37] jmprieur commented on #609
@cforycki : is the access token for your own Web API? and are you trying to validate it in your Web API?
or is it for another API?

[2019-07-08 09:08] cforycki commented on #609
@jmprieur Yes it's for our own Web API. We have a JS frontend which use msal.js, and then give the token in Authorization header as Bearer to the backend which validate the token on each request. Kind of standard with JWT these days.

User rights are managed on our end, so I don't know if we really need the access_token, and if the id_token could be enough (even though it's stated that we should n

[2019-07-08 09:11] jmprieur commented on #609
I you are validating the token for your Web API in the Web API this should work (what you cannot/should not do is validate in an app a token which is not for the app).

Didn't you find useful information in https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-protected-web-api-overview ?

[2019-07-08 09:32] cforycki commented on #609
@jmprieur The token is indeed validated in our API backend, and actually id_token is correctly validated with the public key provided by microsoft. If it's the way to go, then there is no problem, but either the docs are confusing, or I misunderstand something (English is not my native language).

In the link you are providing, they also use access_token as the bearer. And even on the first page,

[2019-07-08 09:38] jmprieur commented on #609
@cforycki : there is one case where you can pass the ID token to your backend: when the frontend and the backend are the same app (have the same ApplicationID / ClientID)

I'm surprized you cannot validate your access token. Did you try our samples: https://github.com/Azure-samples/active-directory-dotnet-native-aspnetcore-v2/ (the client is a WPF app, but you can easily replace it by a JS app)

[2019-07-08 09:52] cforycki commented on #609
@jmprieur They are the same app, they will be deployed on the same application server, under the same context. and the Web API will be under /api. But it's still only one app, and registered as one app. So I'll use id_token as for now.

I didn't try those samples. I should have stated our backend is in Java. So based on what brentschmaltz said about the nonce in header, tried to do something simil

[2019-07-08 15:48] mattiasback commented on #838
Hi, the above issue is still present when adding custom claims (the iat for example)
[code]
{
  "jti": "87a50d0d-d151-4dec-97ab-5c523bc94bf7",
  "sub": "08d702f2-7123-3ebb-8770-478873bc095d",
  "iat": **"1562599948"**,
  "exp": 1565191948,
  "iss": "issuer",
  "aud": "audience"
}

[2019-07-08 16:49] GeoK commented on #838
Hi @mattiasback, this behavior is by design. You created a claim without specifying its value type.
String is used as a type when valueType is not specified ([docs](https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claim.-ctor?view=netframework-4.8#System_Security_Claims_Claim__ctor_System_String_System_String_System_String_)).

The iat claim will be created as long if you change

[2019-07-08 19:41] GeoK commented on #1214
@clauzf - Thank you for the summary.
This is by design as there is no "name" [claim type mapping](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/rel/5.5.0/src/System.IdentityModel.Tokens.Jwt/ClaimTypeMapping.cs).

[2019-07-08 20:06] GeoK commented on #1215
@zvrba - Thank you for raising this issue and for the suggestions.
I'll add this item as one of task for the next milestone.

To answer your other question, _ClaimTypes_ class belongs to _System.Security.Claims_ assembly which ships independently of IdentityModel extensions for .Net assemblies.
The complete mapping of claim types is available [here](https://github.com/AzureAD/azure-activedirectory

[2019-07-09 01:58] clauzf commented on #1214
@GeoK Got it. Still it seems a bit weird to me to have this inbound token claim mapping. What's the purpose of this design? Normally I would expect what the framework read is what has been sent.

[2019-07-09 14:54] fabien-h commented on #609
I don't understand why msal.js cannot make a request without the nonce.

Is there no way to configurate the application in the azure portal to answer without it ? Or to pass parametters to `acquireTokenSilent` to avoid the nonce ?

[2019-07-09 15:17] fabien-h commented on #609
I'm not sure to understand what you did. Could you elaborate ?

[2019-07-09 21:43] GeoK commented on #1214
@clauzf  - This is legacy code, and making changes to the default mapping would likely break a lot of existing apps that depend on the JwtSecurityTokenHandler.
We are working on including JsonWebTokenHandler (which doesn't have any claim mappings) to asp.net.

[2019-07-10 10:11] clauzf commented on #1214
@GeoK Thx for the explanation. Feel free to close the ticket. I have no more questions.

[2019-07-10 17:07] #1214 closed

[2019-07-11 13:37] quasarea commented on #1135
This is not a proper fix, took me some time to track it down.

Proper will be to adjust/expand project nuspect to cover 4.7 dependencies

[2019-07-12 10:52] Seyden commented on #1060
Whats the status? As far as i know, the 3.0 APIs are already released, i would like to remove my Newtonsoft.JSON references.. i only need it right now for the identityModel

[2019-07-12 18:36] brentschmaltz opened #1218 "JsonWebTokenHandler.CreateToken should not call JObject.Parse unless SetDefaultTimesOnTokenCreation is true"
There are a couple of paths where we are parsing and then calling ToString with the payload when creating a token. I would like to see a path where a user can obtain optimal perf results if the payload is complete.

[2019-07-12 18:38] brentschmaltz commented on #1060
@Seyden in our 6.x release, we have removed our references to Newtonsoft.
We plan on releasing a 6.x in the .NET 3.0 timeline.

[2019-07-12 19:08] brentschmaltz commented on #1215
@zvrba 	@GeoK i'll work on a wiki page that asp.net can link to if they choose. I agree this whole mapping issue is complicated.

[2019-07-12 19:24] brentschmaltz commented on #415
@zvrba @khellang @bgever we created a new handler JsonWebTokenHandler that does not perform mapping. We need to give asp.net users a way to specify that handler. Additionally, it is about 25% faster.

We are working on it.

[2019-07-15 19:03] joetherod commented on #887
@brentschmaltz Is there an eta for the 5.5.0 release with this support?

[2019-07-16 19:29] brentschmaltz opened #1219 "SecurityKey internal unique keyid's should be based off of key data."
For example:
X509 - thumbprint
RSA - N, E
ECD = TBD

[2019-07-17 09:07] leastprivilege opened #1220 "Add validation for JWT type"
According to the latest JWT BCP - different types of JWTs should use different values for the `typ` header field.

https://tools.ietf.org/html/draft-ietf-oauth-jwt-bcp-06#section-3.11

It would be useful to have a `ValidType` property on the `TokenValidationParameters` to be able to easily add this validation check.

[2019-07-18 15:47] brentschmaltz opened #1221 "AsymmetricAdapter should use JsonWebKeyConverter.TryConvertToSecurityKey transform keys."
TryConvertToSecurityKey provides consistent logic when transforming JsonWebKey to a Key that is usable by the runtime. In if the internal key is set TryConvertToSecurityKey will recognize this and the transform will not be performed.

[2019-07-18 17:00] brentschmaltz commented on #1220
After investigating, we will probably want to make this change in 5.x and 6.x

[2019-07-18 17:24] brentschmaltz opened #1222 "For NETSTANDARD2_0 target X509SecurityKey should use RSACertificateExtensions"
Obtaining public / private keys should use the extension that is available in 2.0.

[2019-07-18 18:13] mafurman commented on #1193
@PinpointTownes What do you think about `JsonWebTokenHandler` taking the `SecurityTokenDescriptor.Subject` property into account, but throwing if both the `Subject` and `Claims` properties are set?

[2019-07-19 18:01] brentschmaltz opened #1224 "Introduce API's to allow user to restrict cryptographic algorithms."
Best practice suggests users should be able to easily control acceptable algorithms.
While users can use extensibility, it should designed as an inbound policy.

See: https://tools.ietf.org/html/draft-ietf-oauth-jwt-bcp-06#section-3.1

[2019-07-19 18:49] brentschmaltz commented on #1220
This is a bit involved as we should enable a rule set based on type as covered in 3.12

[2019-07-19 20:48] leastprivilege commented on #1220
I am think for now it would be totally sufficient to check the typ value.

[2019-07-19 20:49] leastprivilege commented on #1224
Agreed

[2019-07-19 22:03] brentschmaltz commented on #1220
@leastprivilege agreed.
We can think about the future so we don't box ourselves in.

[2019-07-22 23:13] #1207 closed

[2019-07-23 02:06] brentschmaltz commented on #1193
@PinpointTownes any comment?

[2019-07-23 12:09] PinpointTownes commented on #1193
It's certainly an option, but I wonder if it wouldn't be worth supporting both (with the `ClaimsPrincipal` being processed first so that you can "override" the claims set via the untyped dictionary).

Is there a particular reason not to support that?

[2019-07-23 17:51] brentschmaltz commented on #1193
@PinpointTownes I was thinking it would be more deterministic and easier to debug.
I suppose an explanation will be required in either case - support both in an order OR only one.

I'm open to either, with a bias to what users want.

[2019-07-23 17:55] brentschmaltz opened #1226 "Add API to JsonWebTokenHandler - CreateTokenInvariant(string payload, SigningCredentials, ...)"
Not exactly sure of the method name, but the idea is the string is opaque.
No reason to search through the payload and for claims and see if 'exp' should be added.

The string ('payload') could be in some user format that we don't need to know about.

[2019-07-23 18:00] brentschmaltz opened #1227 "JsonWebTokenHandler should support ISecurityTokenValidator"
This would allow asp.net users to easily swap out System.IdentityModel.Tokens.Jwt.JwtSecurityToken handler and avoid all the claims 'mapping' issues.

In addition, JsonWebTokenHandler has much better perf (10 - 20%).

[2019-07-23 18:07] brentschmaltz opened #1228 "Add performance and stress tests as nightly rund."
A perf and stress framework was introduced recently. It is a bit of a shell to help find some known issues.

This is about completing that work, automating the tests.
Publish results, compare against shipping products.

[2019-07-26 02:04] brentschmaltz commented on #1209
@snoward i think this meets the bar for the next release.
the spec for how this is used is here: https://tools.ietf.org/html/rfc7662

[2019-07-28 18:56] snoward commented on #1209
@brentschmaltz, good news! Thanks! :)

[2019-08-01 18:07] #1204 closed

[2019-08-07 17:37] williamBurgeson opened #1231 "System.IdentityModel.Tokens.Jwt & Microsoft.IdentityModel.JsonWebTokens 5.5.0 are unsigned"
I have dropped System.IdentityModel.Tokens.Jwt into a project I am working on, and the latest default version was 5.5.0. When I pushed to our company's main repo (Git on bitbucket) I was told that the build failed with and error, which included the following info:-
...
Installing Microsoft.IdentityModel.JsonWebTokens 5.5.0.
[12:04:35]  Installing System.IdentityModel.Tokens.Jwt 5.5.0.
[12:04:35]C:

[2019-08-07 18:51] brentschmaltz commented on #1231
@williamBurgeson nuget.exe reports the signatures are fine.

E:\releases\Wilson\5.5.0\artifacts>\releases\nuget\nuget.exe verify -signature Microsoft.IdentityModel.JsonWebTokens.5.5.0.nupkg

Verifying Microsoft.IdentityModel.JsonWebTokens.5.5.0
E:\releases\Wilson\5.5.0\artifacts\Microsoft.IdentityModel.JsonWebTokens.5.5.0.nupkg

Signature Hash Algorithm: SHA256
Timestamp: 6/24/2019 1:10:48 PM

Ver

[2019-08-07 18:51] #1231 closed

[2019-08-07 19:28] williamBurgeson commented on #1231
I'll have a chat with my boss to see what exactly the offending settings would be at our end, maybe it's an issue with git, one of its associated buld dependencies or our build engine, or just that we have misconfigured something - but I can confirm that 5.5.0 broke the build and 5.3.0 was ok

[2019-08-07 19:35] brentschmaltz commented on #1231
@williamBurgeson I had reviewed the 5.3.0 packages and verified the signing certs were the same.

I encourage you to find the root cause we may have an issue that we need to fix.

[2019-08-08 08:55] vzhikness commented on #609
Hi all,

My conclusion about this topic:
1. on our backend we **can't** validate **access_token** from **v2.0** endpoint because of `nonce` claim in the header of JWT
2. on our backend we **can** validate **access_token** from **v1.0** endpoint
3. on our backend we **can** validate **id_token** from both **v1.0** and **v2.0** endpoint

We chose second variant because we want to use [OAuth 2.0 clie

[2019-08-08 09:10] cforycki commented on #609
Hi,

We finally succeeded with the token validation. In fact, it's  was only a configuration problem.

On the frontend application, we used MSAL.js. Everything was fine except the scopes we requested for login and acquiring tokens.

On the Azure Portal, if you go to your application page, on the left there is a "Scopes" menu entry.
There was one scope defined for our application (if not, I think y

[2019-08-08 14:57] PinpointTownes commented on #1193
Personally, I'd prefer supporting both, as I'll keep using `ClaimsPrincipal` for JWT creation. Being able to override certain claims via the untyped dictionary would be awesome.

[2019-08-08 18:54] brentschmaltz commented on #1193
@PinpointTownes ok, so the ClaimsIdentity is first, any items in the dictionary will override. That would allow a base set of claims and to act as an instance.

[2019-08-08 19:05] brentschmaltz opened #1232 "Add support for proof-of-possesion (PoP) protocol to Microsoft.IdentityModel"
We want to provide some type of proof of possession(POP).
There are some specs that are in draft stage:
https://tools.ietf.org/html/draft-ietf-ace-cwt-proof-of-possession-06
https://tools.ietf.org/html/draft-fett-oauth-dpop-02
https://tools.ietf.org/html/draft-ietf-oauth-pop-key-distribution-07
https://tools.ietf.org/html/draft-ietf-oauth-signed-http-request-03

The spec for the 'cnf' key is ratif

[2019-08-09 02:40] brentschmaltz commented on #852
@thuannguy 	@kabronkline @Mahe85 we are going to move forward on this. The goal is to make it possible for a WCF Client to easily make a WsTrust from a .net Core app.

[2019-08-09 12:23] leastprivilege opened #1233 "Problem validating ES256 JWT"
I get this error - any idea what wrong (using 5.5.0 on both sides)? thanks!

[code]

[2019-08-09 15:50] brentschmaltz commented on #1233
@leastprivilege confirming. You are using JsonWebTokenHander to create the token and then fail validating?
You are using ES256 and an ECDKey?
How are you setting TokenValidationParameters?
It appears no keys were available.

[2019-08-09 15:53] brentschmaltz opened #1234 "Saml, Saml2, JsonWebToken, JwtSecurityToken shouldn't share error codes."
These handlers are sharing codes from Microsoft.IdentityModel.Tokens.Messages.cs.

They should be partitioned so it is immediately obvious where the exception was thrown.

[2019-08-09 16:27] leastprivilege commented on #1233
I am using the JwtSecurityTokenHandler -

this is how I am creating the key:
https://github.com/IdentityServer/IdentityServer4/blob/features/aspnetcore3/src/IdentityServer4/src/Configuration/CryptoHelper.cs#L33-L39

this is how I put it into discovery
https://github.com/IdentityServer/IdentityServer4/blob/features%2Faspnetcore3/src/IdentityServer4/src/ResponseHandling/Default/DiscoveryResponseGene

[2019-08-09 17:36] brentschmaltz commented on #1233
@leastprivilege ill have a look

[2019-08-09 18:01] scottbrady91 commented on #1233
It looks like the issue is a combination of not stating the curve on key creation, and a missing `crv` on the JWKS.

[2019-08-09 18:22] scottbrady91 commented on #1233
@brentschmaltz is there a way to get the JWKS style curve name from `ECDsa`? I'm only seeing the oid and friendly name.

For example, we'd need `P-256`, but I can only see `1.2.840.10045.3.1.7` or `nistP256`

[2019-08-09 18:29] brentschmaltz commented on #1233
@scottbrady91 @leastprivilege yep the crv is missing. when we try a convert the jwk, we skip it. https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b16a4d5c90bef3a20b35282ef4dc1fb1b4d8cd49/src/Microsoft.IdentityModel.Tokens/JsonWebKeySet.cs#L165

If you were to set the DefaultSkipUnresolvedJsonWebKeys = false, you would see an error.

@scottbrady91 you may ge

[2019-08-09 19:17] scottbrady91 commented on #1233
Okay, it looks like you don't expose the rfc7518 crv values in the ECParameters. I'll open a new issue for that :)

[2019-08-09 19:19] brentschmaltz commented on #1233
@scottbrady91 that should be opened here: https://github.com/dotnet/corefx

[2019-08-10 03:03] felixwa commented on #609
Set scope to something like api://{guid}/{scope_name} then the audience will be your application then the token could be successfully validated.

[2019-08-12 18:34] brentschmaltz opened #1236 "AsymmetricSignatureProvider.ValidateAsymmetricSecurityKeySize should not ignore key size if algorithm is not in map"
If the algorithm is not in the DefaultMinimumAsymmetricKeySizeInBitsForSigningMap or
DefaultMinimumAsymmetricKeySizeInBitsForVerifyingMap then
the keySize will not be validated.

We need logic and tests to ensure all our supported algorithms are in the map.

[2019-08-12 19:03] tpalacino commented on #1019
I slightly modified the bandaid posted by @easyveazie so it can flag the token expiration and allow the exception to bubble in other cases.
[code]

[2019-08-12 22:06] brentschmaltz opened #1237 "It should be possible to create a JWT with an empty payload."
This code blocks this.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b16a4d5c90bef3a20b35282ef4dc1fb1b4d8cd49/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs#L199

See: https://tools.ietf.org/html/rfc7159#section-4

[2019-08-12 23:01] DinoChiesa commented on #609
@cforycki - your effort is doomed. I will explain why.

First, some background.

@zbrad stated (https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/609#issuecomment-430741177) that the MSFT endpoint is generating a thing that looks like a JWT, and has a header that has all the same fields as a JWT, but is not in fact a JWT, because it cannot be validated acc

[2019-08-12 23:40] brentschmaltz commented on #1233
@leastprivilege please reopen if needed.

[2019-08-12 23:40] #1233 closed

[2019-08-15 22:24] TiagoBrenck opened #1238 "preferred_username claim from Azure AD v2 endpoint not available in the HttpContext.User.Identity.Claims collection"
I have tried to set the default claim mapping off using the following line of code, and this shows all the other claims that AAD sends in the id_token, but preferred_username is still not there.

`JwtSecurityTokenHandler.DefaultMapInboundClaims = false;`

How can I get the value of **preferred_username** in the claims collection?

[2019-08-15 23:00] GeoK commented on #1238
Hi @TiagoBrenck - Are you saying that the preferred_username claim is present in the token, but not in the resulting claims collection?

The library [doesn't map](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/rel/5.5.0/src/System.IdentityModel.Tokens.Jwt/ClaimTypeMapping.cs) the preferred_username claim.

[2019-08-15 23:04] TiagoBrenck commented on #1238
Yes, this is what I meant.

Should it be mapped though?

[2019-08-15 23:57] TiagoBrenck commented on #1238
Its described as the claim [Microsoft identity platform ID tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens) that is the primary username that represents the user. How to get hold of this one in my code?

[2019-08-16 00:34] GeoK commented on #1238
The profile scope is required to receive this claim.
Can you share your Startup code?

[2019-08-16 13:38] davebally opened #1239 "Exceptions thrown from IssuerSigningKeyResolver are lost"
Hi,

In the IssuerSigningKeyResolver,  it i throw an exception then the client is told 401.
I would normal expect a 500 with the developer exception page.
Why not here ?

[2019-08-16 14:15] brentschmaltz commented on #1239
@davebally what runtime are you using? IdentityModel libraries are used by runtimes and SDK's who should understand the exceptions that are thrown and translate them into an appropriate response.
This library does not know that it was involved in an http request.

[2019-08-16 14:29] brentschmaltz opened #1240 "Investigate when RSACryptoServiceProviderProxy should be disposed."
@GeoK noticed there is some inconsistency when dispose is called in the asymmetric adapter w.r.t. RSACryptoServiceProviderProxy. We should analyze and fix any issues.

[2019-08-16 14:36] davebally commented on #1239
This is under asp .net core.  Should i revert to that team ?

[2019-08-16 15:01] brentschmaltz commented on #1239
@davebally it makes sense to open an issue here: https://github.com/aspnet/AspNetCore
We may need to make some changes so they bubble up the correct exception.

[2019-08-16 15:03] brentschmaltz commented on #1221
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1225

[2019-08-16 15:03] #1221 closed

[2019-08-16 15:06] brentschmaltz commented on #1222
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1225

[2019-08-16 15:06] #1222 closed

[2019-08-16 18:05] brentschmaltz commented on #1239
@davebally 	closing for now, if needed we can reopen

[2019-08-16 18:05] #1239 closed

[2019-08-19 16:38] TiagoBrenck commented on #1238
[code]

[2019-08-19 21:53] GeoK commented on #1238
I wasn't able to repro this. The _preferred_username_ claim is present both in the token and the claims collection.
As NameClaimType is set to "preferred_username", you can get the claim value via `HttpContext.User.Identity.Name`.

[2019-08-19 23:07] TiagoBrenck commented on #1238
Sorry @GeoK I missed one config.

[code]

[2019-08-20 00:47] GeoK commented on #1238
Hi @TiagoBrenck - nothing has changed except that _oid_, _sub_, and _tid_ claims types are no longer mapped to default claim types, which is as expected.
The _preferred_username_ claim is still there and accessible via `HttpContext.User.Identity.Name`.

[2019-08-20 19:11] TiagoBrenck commented on #1238
After analyzing the problem using [this sample](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API), we were expecting the *preferred_username* to be in the bearer token, but it is not since the bearer token is the *access token* acquired on the client side. The *access token* doesn't have the claim *preferred_username*, thus we wont

[2019-08-20 19:11] #1238 closed

[2019-08-22 15:55] xsreality commented on #609
I recently had to setup Azure AD authentication with OIDC and came across all the problems mentioned in this thread and some more. I documented everything here. Hope it helps anyone looking to make this work. https://medium.com/@abhinavsonkar/making-azure-ad-oidc-compliant-5734b70c43ff?source=friends_link&sk=45dc380108a3ad521b2bde0cfed28130

[2019-08-23 19:27] scottbrady91 opened #1241 "Consider exposing crv values for ECDSA keys"
When handling ECDSA keys, it can be useful to know the corresponding crv value defined in rfc7518.

Currently, only the oidc and friendly name are exposed.

There are some mappings in IdentityModel's ECDsaAdapter, but these methods are private.

(moved from https://github.com/dotnet/corefx/issues/40192)

[2019-08-23 19:28] hpsin commented on #609
Hey everyone, owner of OAuth tokens at Microsoft here, with a helpful message.

Stop.  Stop everything in this thread.  Access tokens are opaque blobs of text that are for the _resource_ only.  If you're a client getting a token for Graph, assume that it's an encrypted string that you should never look at - sometimes it will be.  We use a special token format for Graph that they know how to valida

[2019-08-26 14:02] Francois-du-Plessis opened #1242 "OpenIdConnectConfiguration.Create(string json) throws deserialization exception when security keys present in json"
Version: 5.5.0

When trying to create a new `OpenIdConnectConfiguration` object from a json string created with the `OpenIdConnectConfiguration.Write` static method a deserialization exception is thrown with the following error message:
```Could not create an instance of type Microsoft.IdentityModel.Tokens.SecurityKey. Type is an interface or abstract class and cannot be instantiated. Path 'Signin

[2019-08-28 07:40] scottbrady91 commented on #1241
In IdentityServer we were generating a JWKS endpoint where the developer provided many public keys of different types. I found myself having to create mappers between IdentityModel's named curves and the rfc7518 values: https://github.com/IdentityServer/IdentityServer4/blob/features/aspnetcore3/src/IdentityServer4/src/Configuration/CryptoHelper.cs#L107-L148

It seemed like something that should be

[2019-08-29 07:28] scottbrady91 commented on #1241
Thanks!

[2019-08-30 03:20] damieng commented on #1134
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1138

[2019-08-30 05:44] damieng opened #1244 "System.IdentityModel.Tokens.Jwt 5.5 on a NetStandard 1.4 project causes package error"
When trying to simply bump the package version up from 5.4.0 to 5.5.0 for System.IdentityModel.Tokens.Jwt on our project (netstandard1_4) I get the following error;

 NU1605    Detected package downgrade: NETStandard.Library from 2.0.3 to 1.6.1. Reference the package directly from the project to select a different version.
Auth0.AuthenticationApi -> System.IdentityModel.Tokens.Jwt 5.5.0 -> NETStan

[2019-08-30 12:33] xsreality commented on #609
@hpsin Hi Hirsch, thanks for your comment. The reason I call it a "problem" is because by following the documentation and going by the OpenID spec, Azure AD does not behave as an Open ID provider. It supports it but with tweaks that must be done which I have documented in the blog post above.

Let me give you an example. The [OpenID spec](https://openid.net/specs/openid-connect-core-1_0.html#UserI

[2019-08-30 21:23] hpsin commented on #609
Access tokens are resource specific - an access token for your resource cannot be accepted by the UserInfo endpoint.  But if you request id_token+token for scope=openid+profile+email, you'll get back an access token for the Userinfo endpoint.

See the OAuth2 spec:
 The resource server MUST validate the access token and ensure that it has not expired **and that its scope covers the requested resour

[2019-09-03 06:59] bodorjzsolt opened #1246 "Microsoft Product License?"
Hello,

In the file azure-activedirectory-identitymodel-extensions-for-dotnet/prototypes/AsyncTokenSample/AsyncWebAPI/Scripts/respond.js from version 5.5.0, this license is listed:

 _Microsoft grants you the right to use these script files for the sole
  purpose of either: (i) interacting through your browser with the Microsoft
  website or online service, subject to the applicable licensing or u

[2019-09-03 07:35] hieuntp2 commented on #915
I have same issue with current project. I have app using Ionic, Identity Server and backend. This issue sometime happen when user leave external login page for a while, maybe 15 mins.

[2019-09-03 20:20] GeoK commented on #1244
Hi @damieng, the change that caused the NU1605 warning is actually https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1187.
I see that you made the same change in v6.5.3.

[2019-09-03 21:16] damieng commented on #1244
@davidfowl made the recommendation of adding the following line to our csproj which resolved the issue for us:

[code]

I would like to also upgrade our versions of System.Http to avoid known vulnerabilities for our multi-targeted project.  Is your #1187 PR a good thing to look into for how to do that?

(We're not directly affected by the system.http libraries given we are just using it for client

[2019-09-03 23:26] davidfowl commented on #1244
@terrajobst, Is there a way to target a lower version of NETStandard.Library for older TFMs? We might just need an explicit reference for ns1.4

[2019-09-04 01:07] terrajobst commented on #1244
@ericstj would know for usre.

[2019-09-05 19:12] mafurman commented on #1246
@bodorjzsolt This file was auto-generated when creating a Web API project using ASP.NET. If that's what you're trying to do, you should use the Web API template directly.

This code isn't owned by us, but if you're interested in this file in particular you can find more information here:
https://github.com/scottjehl/Respond/blob/master/src/respond.js

This prototype was created a long time ago, an

[2019-09-05 22:17] #1193 closed

[2019-09-05 22:20] PinpointTownes commented on #1193
Thanks!

[2019-09-06 09:08] Francois-du-Plessis commented on #1242
`{"authorization_endpoint":"https://dev-login.euromonitor.com/connect/authorize","check_session_iframe":"https://dev-login.euromonitor.com/connect/checksession","claims_supported":["sub","job_title","city","department","country","telephone_number","email","email_verified","subscriber_id","is_passport_download_enabled","is_passport_terms_and_condition_accepted","via_subscription_id","is_via_t&c_acc

[2019-09-06 19:57] #1210 closed

[2019-09-08 07:17] jaffe9 opened #1250 "JWT for Client Side Encryption and Server Side Decryption"
Hi All,

I’m not sure if I’m trying something which is wrong or if its perfectly OK to try of something like this. I’m encrypting my client side using (https://github.com/kjur/jsrsasign) this library a PayLoad using public key of our own certificate. We are able to successfully generate a token. I’m trying to validate this generated token using the same certificate at the server side using (https:

[2019-09-09 15:37] mahoekst commented on #609
this! I always explain as it being a private contract between the resource and the IDP. You cannot know the details. It might be an encrypted token tomorrow. Blue might mean yellow, or everything is bitshifted 1 to the left. The resource and the IDP (AAD) have that understanding. You, at the moment, be able to read that AT since it's a JWT is just a coincidence and you should tread the token as a

[2019-09-09 21:15] #1237 closed

[2019-09-09 21:18] #1086 closed

[2019-09-09 21:36] GeoK commented on #1250
Hi @jaffe9 - could you provide a bit more info?
Are you using JsonWebTokenHandler (v5.5.0)?
Is _Exceptions caught:_ an empty string?

It would be very helpful if you could provide a small repro project.

[2019-09-10 06:26] jaffe9 commented on #1250
Hi @GeoK ,

Thanks for the response. I checked the Microsoft.IdentityModel.JsonWebTokens and found its version as 5.5.0.0. Since it is in PoC stage we created Adhoc methods, let me know if I'm doing anything wrong here. And yes, Exception Caught is always empty string.

If this isn't helping let me know so I can share the entire solution.

public bool IsTokenValid(string token)
        {

[2019-09-10 21:28] brentschmaltz commented on #1250
Can you show the entire roundtrip?
Creating and Validating?

Have you tried other Key types: Symmetric, RSA, ECD, just to rule out a cert issue?

[2019-09-11 09:13] jaffe9 commented on #1250
Hi @brentschmaltz,

Thanks for the reply.
Creating using this library (https://github.com/kjur/jsrsasign), please navigate to jsrsasign-master/sample/sample_jwsgenerate2.html.
JWS Header: {"alg":"RS256"}
JWS Payload: {"PayLoad": "Jaffar"}
Signing PKCS#1 RSA Private Key: Private Key I had generated using OpenSSL

Validating the above session using the below code:

using System;
using System.Collect

[2019-09-12 06:38] jaffe9 commented on #1250
[JWTSample.zip](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/files/3604032/JWTSample.zip)
Just if in case you need the entire project. Just learned I can attach files to Github Comments. Regret the delay.

[2019-09-12 16:58] MoAhuja opened #1252 "CreateSignatureProvider should support EC-HSM Key type"
We have been trying to leverage the JwtSecurityTokenHandler to validate JWT Tokens we're creating. We've recently switched over to using HSM backed elliptic curve keys (EC-HSM) key type from Azure Key Vault and the validateToken method is throwing the following error

```'System.NotSupportedException: IDX10621: 'Microsoft.IdentityModel.Tokens.SymmetricSignatureProvider' supports: 'Microsoft.Identi

[2019-09-13 22:42] mwanchap opened #1253 "Looking for clarification of nuget package version"
We have a project that uses the [Microsoft.IdentityModel.Protocol.Extensions](https://www.nuget.org/packages/Microsoft.IdentityModel.Protocol.Extensions) nuget package (it's a dependency of another package) and are running into some tricky issues with it, so I'm trying to investigate what could be causing the problem (it's the IDX10311 "validationContext.Nonce is null" exception) by tracking down

[2019-09-13 23:27] terrajobst commented on #1244
What do you mean by that?

[2019-09-16 18:19] briandunnington opened #1254 "Support offline signature validation"
The official Key Vault docs around signature verification (https://docs.microsoft.com/en-us/azure/key-vault/about-keys-secrets-and-certificates) state "Verification of signed hashes is supported as a convenience operation for applications that may not have access to [public] key material. For best application performance, verify that operations are performed locally."

The KeyVaultSignatureProvide

[2019-09-17 18:01] GeoK commented on #1253
Hi @mwanchap, _Microsoft.IdentityModel.Protocol.Extensions_ package depends on IdentityModel 4.x that is no longer supported.

I'm guessing that you are using OWIN/Katana 3.x (Microsoft.Owin.Security.OpenIdConnect).
If so, the issue might be that cookies set by OWIN are overwritten.

Please refer to the following links for more information:
https://github.com/aspnet/Security/issues/390
https://git

[2019-09-17 23:24] mwanchap commented on #1253
Thanks @GeoK for clarifying. I've already been to those links during earlier research and implemented all the suggested fixes, unfortunately we still get the same issue occurring.  I had resorted to digging around in package source code hoping to find a clue but that didn't get me very far, as you can probably tell.

If it helps clarify, here's the solutions mentioned elsewhere that we've implemen

[2019-09-17 23:55] GeoK commented on #1253
I'm sorry to see that you spent a lot of time trying to resolve this issue.

I'd try [one of workarounds](https://github.com/aspnet/AspNetKatana/wiki/System.Web-response-cookie-integration-issues#workarounds) that Chris Ross, who maintains OWIN/Katana, has proposed.
An alternative would be to migrate to ASP.NET Core.

[2019-09-18 00:05] mwanchap commented on #1253
Okay, thanks for your help

[2019-09-18 00:19] GeoK commented on #1250
Hi @jaffe9, I was following your instructions and I was able to validate a token generated with jsrsasign lib, using IdentityModel.

1. Generated the private/public key pairs:
[code]

2. Used the key from _private.pem_ file to generate a token using [this tool](https://github.com/kjur/jsrsasign/blob/master/sample/sample_jwsgenerate2.html).

3. Used _publickey.cer_ to create an X509SecurityKey and

[2019-09-18 01:34] Tratcher commented on #1253
Capturing a Fiddler trace is one of the better ways to diagnose this. Feel free to share the trace with me if you want a second opinion. Make sure to use the SSL decryption option in Fiddler.

[2019-09-19 02:17] WalterWu-AppService opened #1255 "Need workaround for using Microsoft.IdentityModel.Protocols Module in .NET Core 3.0"
We have an issue when using the Microsoft.IdentityModel.Protocols in .NET Core 3.0 project.

Currently, the module on Nuget is version 5.5.0 and cannot support the .NET Standard 2.1 which is for .NET Core 3.0 project.

When we directly add the DLL package "System.IdentityModel.dll" to the project, we cannot use the below code to get the token response.

[code]

Could you please let me know if we h

[2019-09-19 06:14] jaffe9 commented on #1250
Hi @GeoK,

Thanks for the comment and pain taken to retry my issue. Let me try this out today as instructed and will post you an update here. Hopefully it works :-)

Thanks once again.

[2019-09-19 19:22] mafurman commented on #1255
We currently do not support .NET Standard 2.1, though it is something we plan on supporting in the future (no release date yet)

We do support .NET Standard 2.0; is it possible for you to target that?

[2019-09-20 08:16] oleksabor commented on #609
Adding new scope causes token to be validated. It is not issued for the ms graph any more. I've used the https://github.com/Azure-Samples/active-directory-dotnet-desktop-msgraph-v2 sample to learn how to get the token and the JWT token validation from the https://github.com/Azure-Samples/active-directory-dotnet-webapi-manual-jwt-validation/blob/master/TodoListService-ManualJwt/Global.asax.cs sampl

[2019-09-20 16:53] brentschmaltz commented on #1255
@WalterWu-AppService System.IdentityModel.dll is only supported on .NET desktop and will not be ported method by method.
We have ported enough to Core, in this repo, to support WsFederation (Signin), Saml1, Saml2, WsFedMetadata.

We have work items to enhance our WsTrust and WsFedMetadata which we expect to complete this quarter.

[2019-09-20 16:56] brentschmaltz commented on #1246
@bodorjzsolt if this doesn't answer your question, please reopen.

[2019-09-20 16:56] #1246 closed

[2019-09-25 01:38] coclauso opened #1256 "How to make AAD issue JWT signed with nonce for an app?"
Hi,

I'm not sure that this is the correct resource for this, but I'm having difficulty finding an answer to a question, thought I would try here.

In [this question](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/853), @brentschmaltz replies to the poster that the JWTs issued to graph clients are signed with a nonce.  I have an app registered with AAD

[2019-09-25 06:18] jaffe9 commented on #1250
Hi @GeoK,

Thank you so much, its working, can you spot what went wrong with my approach was it the certificate generation? I dont remember trying certificate with PKCS12. Or am I wrong with the way I verified it?

[2019-09-25 16:10] GeoK commented on #1250
@jaffe9 - Great! I was following your instructions for certificate generation, so I assume that the issue is somewhere in your code.

[2019-09-26 15:21] smiket opened #1258 "WsFederationMessage.GetToken() is appending "&#xD;" to SAML (Formatting is breaking signature check - Sign in fails)"
WS Federation was working for me prior to upgrading to .NET Core 3.  I have a typical setup shown below, followed by exception that began after the upgrade.  Not sure if there is any changes I should make to affect / resolve this.

Also it would be nice if I could step into the code (could not load module / find symbols).  I may be missing something there - let me know if there is a way for me to

[2019-09-27 13:30] smiket commented on #1258
I found the issue by putting a breakpoint in WsFederationHandler (line 213).
```var token = wsFederationMessage.GetToken();```

The above token winds up with newline sequences appended on every line as such:
```&#xD; ```

However if I look directly at the above wsFederationMessage, I can see the incoming wresult.
The response message does not have any newline sequences - i.e. the raw payload is cl

[2019-09-27 14:57] smiket commented on #1258
And finally, if you change the code for GetToken as follows, you no longer get the appended newline chars etc.  Not sure this is the proper approach performance-wise.  But it does eliminate the extra chars:

[code]

[2019-09-28 17:30] steveoshima commented on #1210
Hi, when will this be release? Is there a way to get the dev branch build through nuget?

[2019-09-30 16:35] brentschmaltz commented on #1258
@smiket thanks for the detailed work.
We are planning a complete overhaul of our WsFederation work and are adding WsTrust support.
We are planning a release soon with a feature for Proof-Of-Possession, we will investigate this issue and include it in that release.

Sorry for the hassle.

[2019-09-30 16:39] brentschmaltz commented on #1256
@coclauso this currently is an internal Microsoft technology that is used to reduce the need for the traditional OBO roundtrip when micro-services communicate as part of a call graph. We are not quite ready to offer and support this feature to the public yet, as there are no RFC's in this area.

Why do you want the nonce?

[2019-09-30 16:46] brentschmaltz commented on #1254
@briandunnington this should be possible as signatures use public keys.

[2019-09-30 17:24] briandunnington commented on #1254
@brentschmaltz Yes, it is possible to 'roll my own' logic and do the signature verification by grabbing the key and doing it myself. But it would be nice if the extension did this automatically which is why I raised it here.

[2019-09-30 19:19] PinpointTownes opened #1259 "Consider adding more base methods to TokenHandler"
`TokenHandler` seems pretty useless as a base class, as it doesn't expose any useful method for token generation or validation.

Please consider adding abstract or virtual properties/methods for at least the following APIs:
  - `Type TokenType { get; }`
  - `bool CanReadToken(string token)`
  - `string CreateToken(SecurityTokenDescriptor tokenDescriptor)`
  - `TokenValidationResult ValidateToken(s

[2019-10-01 05:07] brentschmaltz commented on #1259
@PinpointTownes we agree and want to do this work in our 6.x so we can easily have asp.net 3.x take a dependency.

[2019-10-01 18:59] oliviervaillancourt opened #1261 "JWT claim in the form of DateTime get extra double-quote when converted to claims"
Hi,

After an upgrade from 4.x to 5.5 of *System.IdentityModel.Tokens.Jwt*, we are noticing that if we read a Jwt that has a claim as a DateTime, then the value of Claim object is surrounded with double-quote.

Repro:
run this code:
[code]

Notice that the value of `claimValue` is `"2019-11-15T14:31:21.6101326Z"` instead  of `2019-11-15T14:31:21.6101326Z` (extra double-quote).

From looking into t

[2019-10-04 11:57] SamuelDebruyn opened #1262 "Time related properties ignore timezone information"
I use the following code to check if my token has expired or not:

[code]

However, it's not clear if I should use `UtcNow` or `Now`.

Timezone information seems to be lost in this conversion. If I'm not mistaken a JWT token stores the expiration timestamp as seconds since unix epoch in UTC so we should be sure that the `ValidTo` property is in UTC.

[RFC 7519](https://tools.ietf.org/html/rfc7519#

[2019-10-04 15:59] 99littlebugs opened #1263 "'unsafe-eval' required for .net core 2.2 POST to IssuerAddress (OIDC)"
As first raised in https://github.com/aspnet/AspNetCore/issues/14721. We are using ADFS with OpenID Connect for an ASP.NET core application, which we just upgraded from 2.0 to 2.2.

Once upgraded to 2.2, we found that the form POST to the ADFS server required our content security policy to have ['unsafe-eval'](https://developer.chrome.com/extensions/contentSecurityPolicy#relaxing-eval). The string

[2019-10-07 13:02] Dzoukr commented on #1242
Most likely connected with #1124. I have the same issue with creating `OpenIdConnectConfiguration` from json (which is the same as provided on `https://myidentityserveruri.com/.well-known/openid-configuration`) where collections with keys are empty.

[2019-10-08 19:29] rytmis opened #1264 "Consider supporting AES-GCM encryption for JWE on netcoreapp3.0"
Due to requirements of the EU eIDAS directive, Finnish banks are moving to a common standard, the Finnish Trust Network, for strong authentication. Practically speaking, the standard is a set of requirements for either OpenID Connect or SAML v2.

While implementing FTN with one of the available identity brokers, I came across a limitation: JwtSecurityTokenHandler does not support AES-GCM for ID to

[2019-10-08 20:11] coclauso commented on #1256
Thanks so much for the response.  Pertains to [this](https://stackoverflow.microsoft.com/questions/165411/example-with-sal-using-aad) and [this](https://stackoverflow.microsoft.com/questions/166538/how-to-get-a-nonce-in-access-token-from-aad) internal post.

[2019-10-10 00:21] mafurman commented on #1242
@Francois-du-Plessis

Our `OpenIdConnectConfiguration` object has a `SigningKeys` property on it which is only meant to be populated from the 'jwks_uri' parameter value.

It seems like the JSON you're using has a 'SigningKeys' parameter, and by default JsonConvert was trying to deserialize the values associated with this parameter into the `OpenIdConnectConfiguration.SigningKeys` property (which i

[2019-10-10 22:21] brentschmaltz commented on #1256
@coclauso let me address this on the internal thread.

[2019-10-10 22:21] #1256 closed

[2019-10-10 22:31] brentschmaltz commented on #852
@thuannguy  @kabronkline @Mahe85 we are making some progress on this. I marked it for 5.6.1 release. The topic branch is brentsch/wstrust.

[2019-10-10 22:39] brentschmaltz commented on #1250
@jaffe9 closing this out.
Please reopen if you have any issues.

[2019-10-10 22:39] #1250 closed

[2019-10-10 22:52] brentschmaltz commented on #1252
@MoAhuja you can make use of the extensibility of ICryptoProvider
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/ICryptoProvider.cs

Here is a pointer to test code to give you an idea of how it works.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d4d6d3598952410ff96ef8f38c9

[2019-10-10 22:53] brentschmaltz commented on #1253
@mwanchap closing for now.
Please reopen if you need additional help.

[2019-10-10 22:53] #1253 closed

[2019-10-10 22:55] brentschmaltz commented on #1255
@WalterWu-AppService closing for now. Please track issues with WsTrust tag to get an idea of where we are heading.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3AWsTrust

[2019-10-10 22:55] #1255 closed

[2019-10-10 22:58] brentschmaltz commented on #799
Is available in 5.x

[2019-10-10 22:58] #799 closed

[2019-10-10 23:00] brentschmaltz commented on #1194
@PinpointTownes do you still want this feature.
It's simple enough. We have found property bags helpful.

[2019-10-10 23:02] brentschmaltz commented on #1163
@edwardcampbellprojects let us know if you need anything.

[2019-10-10 23:02] #1163 closed

[2019-10-10 23:05] brentschmaltz commented on #1264
@rytmis Yes, Yes and Yes.
We held off support for Saml2EncryptedAssertion until 3.0.
We may not get this into the release next week.
I put this into 5.6.1.

[2019-10-10 23:05] brentschmaltz commented on #1219
We decided not to do this.

[2019-10-11 09:47] ivikashjha opened #1266 "An existing connection was forcibly closed by the remote host"
I took ASP.Net quick start template from azure AD and its giving this error An existing connection was forcibly closed by the remote host

[2019-10-11 10:31] mwanchap commented on #1253
Thanks Brent.  In the end, the only solution that worked was to simply set RequireNonce=false, to prevent it from being checked at all. I hate disabling security features but unfortunately we weren't left with any other options.

[2019-10-11 13:11] PinpointTownes commented on #1194
I've decided to stay with `ClaimsIdentity` as the source of truth for both generation and validation as I needed something that was already supported, but yeah, it would be nice to have.

[2019-10-11 13:13] PinpointTownes opened #1267 "Pin one of the 5.5.1 preview versions"
@brentschmaltz could you please pin one of the `5.5.1-preview-*` packages so it's not automatically pruned by MyGet? (it's annoying to have to update the dependency version on my side)

[2019-10-11 14:03] samragriff commented on #1033
I'm having the same issues, with any package I install to the project (B). The only way it works is if i update the newtonsoft in my other project A. (project A calls project B from an api controller). The problem for me is updating newtonsoft in project A - it breaks other things. Seems like because im calling the class from project A, it always uses the package version from package A. I have tri

[2019-10-11 14:04] samragriff commented on #1076
I'm having the same issues, with any package I install to the project (B). The only way it works is if i update the newtonsoft in my other project A. (project A calls project B from an api controller). The problem for me is updating newtonsoft in project A - it breaks other things. Seems like because im calling the class from project A, it always uses the package version from package A. I have tri

[2019-10-11 21:22] brentschmaltz commented on #1076
@samragriff have you tried using BindingRedirects?

[2019-10-11 21:34] brentschmaltz commented on #1267
@PinpointTownes 5.5.1-preview-61011030454

[2019-10-11 21:34] #1267 closed

[2019-10-11 21:35] brentschmaltz commented on #1194
@PinpointTownes ok, will fit it into the release with the Core 3.0 target.

[2019-10-11 23:30] PinpointTownes commented on #1267
Thanks!

[2019-10-14 16:22] brentschmaltz opened #1268 "Throw SecurityTokenSignatureKeyNotFoundException when none of the supplied keys verify the signature."
If there are keys made available to the runtime and none of them result in a verified signature, then throw SecurityTokenSignatureKeyNotFoundException. This will allow asp.net to trigger a refresh of metadata.

Currently we do not throw if a kid is not found in the inbound jwt.

see: https://github.com/aspnet/AspNetCore/issues/12310

[2019-10-14 19:04] brentschmaltz commented on #1219
When resolved, remove code from SAL.
https://identitydivision.visualstudio.com/Engineering/_workitems/edit/832316

[2019-10-14 22:39] mafurman commented on #1100
We should also add in comments on the TokenValidationParameters that clearly indicate that the 'Validate' properties refer to our default validation behavior, and that the 'ValidatorDelegate' properties take over validation (and do not occur in addition to our default validation behavior).

[2019-10-14 22:46] mafurman commented on #1220
@leastprivilege We will add a 'ValidTypes' property on the TokenValidationParameters that will be a collection of strings. Matching will be case-sensitive. By default, we will accept all types, but if the property is set we will only allow those types.

[2019-10-14 23:00] mafurman commented on #1262
@SamuelDebruyn We will add documentation that states that we use UTC everywhere for this release (5.6.0). We can't change the method to return a DateTimeOffset as that would be a breaking change.

[2019-10-14 23:16] mafurman commented on #1244
@damieng It appears that the workaround worked; please reopen this issue if you need anything else.

[2019-10-14 23:16] #1244 closed

[2019-10-14 23:27] mafurman commented on #1263
@99littlebugs If we add a setter for the 'Script' property will that address the issue?

[2019-10-15 12:42] leastprivilege commented on #1220
sounds good- thanks!

[2019-10-15 13:21] tonydistler opened #1269 "Version 5.4 and 5.5 trigger “XML external entity injection via external file” during security scans by Acunetix, version 5.3 does not trigger this vulnerability."
Version 5.4 and 5.5 trigger “XML external entity injection via external file” during security scans by Acunetix, version 5.3 does not trigger this vulnerability.  This appears to be due to 5.4 and 5.5 resolving file references in passed XML strings.  5.3 set the XmlResolver to null which stopped this behavior.  In 5.4 and 5.5 the XmlResolver is not set to null.  This code is located in in Microsof

[2019-10-15 13:37] brentschmaltz commented on #1269
@tonydistler thanks, we will get this into our 5.6.0 release.

[2019-10-16 18:00] steveoshima commented on #1210
You will see the testin is missing additonal header setup, if this is added im sure the error will occur. - https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/1c16adc2910c5265f42d007c065def83f20ae00a/test/Microsoft.IdentityModel.JsonWebTokens.Tests/JsonWebTokenHandlerTests.cs#L1347

[2019-10-16 18:42] henrik-me opened #1273 "Feature: Support for validating audience with or with-out '/' in the end"
Add a bool to the validation parameters to indicate that audience validation will accept audience if there is a match for everything but an ending /

Note: Some IDP's returns the audience with a / and others don't

Workaround today is to use audiences where both the audience with the / and the one with-out the / can be added as validaudiences.

[2019-10-16 19:46] GeoK commented on #1210
Hi @steveoshima - There is support for additional header claims, in both dev5x and dev branches.

I wasn't able to reproduce the issue you are facing, both on Windows and Mac, using different .net frameworks, even when changing the test as suggested here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1223#issuecomment-542819363.

Please provide us with m

[2019-10-16 19:51] brentschmaltz opened #1274 "Design a way to control simple settings without rebuilding and redeploying"
Currently even a simple setting requires rebuilding.
It's possible that application developers could work around this, but it means everyone has to write the code.

When deploying, this would allow a simple way to slice different deployments.

[2019-10-16 20:26] steveoshima commented on #1210
Hi, when using dev branch, building using build.sh then updating my project the new built nupkg from artifact folder. The dev branch does not allow
`CreateToken(jwt.Payload, new SigningCredentials(key, SecurityAlgorithms.RsaSsaPssSha256), new Dictionary<string, object>());`
With a branch such as mafurman/customJwtHeader which does allow the above I find SecurityAlgorithms.RsaSsaPssSha256 is not su

[2019-10-16 21:14] brentschmaltz commented on #1170
Closed in favor of a more general solution.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1274

[2019-10-16 21:14] #1170 closed

[2019-10-16 23:20] GeoK commented on #1210
Correct, support for additional header claims is coming in v5.6.0.
How are you creating a SecurityKey ("key")?

Is your _key_ an [RSAOpenSsl](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/cross-platform-cryptography.md#native-interop) object?

[2019-10-17 03:35] NullEntity opened #1277 "Why is JwtSecurityTokenHandler in System.IdentityModel.Tokens namespace?"
I'm trying to use this library to parse a JWT coming from a claim that I read from WCF/WIF in .NET 4.5. I found it extremely confusing that S.IM.Tokens.Jwt.JwtSecurityToken implements MS.IM.Tokens.SecurityToken instead of S.IM.Tokens.SecurityToken.. Shouldn't the package be in the in the MS.IM namespace instead?

[2019-10-17 16:39] steveoshima commented on #1210
I'm using nuget packge PemUtils to read in a private key.
e.g.
`              using (var stream = new MemoryStream(Encoding.UTF8.GetBytes("PrivateKeyHere")))
                {
                    using (var reader = new PemReader(stream))
                    {
                        var key = new RsaSecurityKey(RSA.Create(reader.ReadRsaKey()));
                        key.KeyId = "KidHere";

[2019-10-17 16:58] brentschmaltz commented on #1277
@NullEntity Of the arguments that I lost over the years, this is one I really wish I would have won :-) That battle was lost 4-5 years ago. The reasons are historical and some marketing.

We have created Microsoft.IdentityModel.JsonWebTokenHandler as the logical replacement. We were able to streamline the pipeline somewhat an are about %15 faster on creation.

[2019-10-17 16:58] #1277 closed

[2019-10-17 17:00] GeoK commented on #1210
We will release 5.6.0 on Friday or early next week.

Can you check if your _key_ is an RSACryptoServiceProvider or an [RSAOpenSsl](https://github.com/dotnet/corefx/blob/master/Documentation/architecture/cross-platform-cryptography.md#native-interop) object?
[RSACryptoServiceProvider doesn't support PSS](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Suppo

[2019-10-17 19:22] brentschmaltz commented on #1269
Fixed in commit: 94b00cf6bd804be3a90e3101fb751ee05935ecc3

[2019-10-17 19:22] #1269 closed

[2019-10-17 19:26] brentschmaltz commented on #1240
fix with commit: 01bd2e518aace03b775318fa32a41131561698b7

[2019-10-17 19:26] #1240 closed

[2019-10-17 19:28] #1242 closed

[2019-10-17 19:36] mafurman opened #1278 "Add documentation showing how to create JWE with an inner token that has a different type"
We currently do not have one single API that allows a user to create a JWE while specifying a different type for the inner token. Though we have APIs that take in 'additionalHeaderClaims' (allowing the 'typ' header claim to be overridden) these 'additionalHeaderClaims' are only applied to the outer token in the case of a JWE.

In order to create a JWE that has an inner token with a different type,

[2019-10-17 20:43] steveoshima commented on #1210
The private key is generated from RSAOpenSsl object yes.

[2019-10-18 16:42] danilo-lopes opened #1282 "Could not load file or assembly 'System.IdentityModel Version=4."
I'm trying to connect to Office365 environment through Powershell Core but seems to missing some Assembly libraries

I've installed Powershell core through Microsoft's Linux repository:

[code]

### Steps to reproduce

[code]
### Expected behavior

This connection and Get-MsolUser must to happen

### Actual behavior

Connect-MsolService -Credential $credential command results:

[code]

### Environ

[2019-10-18 17:53] brentschmaltz commented on #1282
@danilo-lopes while this is not specifically this teams issue, we can help you get resolved.
It may be a couple of days.

[2019-10-18 18:38] mafurman opened #1283 "Add an aka.ms link to the DateTime wiki page on all public DateTime properties"
Example of this in MSAL:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/master/src/client/Microsoft.Identity.Client/ConfidentialClientApplication.cs

Link that certain comments point to:
https://aka.ms/msal-net-on-behalf-of

Related PR:
#1279

[2019-10-18 19:22] #1263 closed

[2019-10-18 19:26] #1262 closed

[2019-10-18 19:26] GeoK commented on #1261
Thank you for reporting this issue @oliviervaillancourt.
The fix will be released in v5.6.0.

[2019-10-18 19:26] #1261 closed

[2019-10-18 19:31] #1220 closed

[2019-10-18 20:25] brentschmaltz commented on #842
@PinpointTownes we put in this change that might be what you are looking for.'https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1261

[2019-10-18 20:27] brentschmaltz opened #1284 "Add IssuedAt Property to JwtPayload"
Customer want a first class property for IssuedAt
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1248

[2019-10-18 20:28] #1284 closed

[2019-10-18 20:31] brentschmaltz opened #1285 "Comments for standard claims should point to correct standard."
Customer provided this PR.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1126

[2019-10-18 20:33] brentschmaltz commented on #1285
merged into 5.6.0
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/edacfe777387e2f2829fd2cb9252a5e283c0bf28

[2019-10-18 20:33] #1285 closed

[2019-10-19 19:17] brentschmaltz commented on #1266
@ivikashjha this has to do with how you are setting up your tls.
You can start here: https://blogs.msdn.microsoft.com/friis/2017/10/06/troubleshooting-tls-ssl-scenario-1/

the asp.net team may be a better place to get helpL https://github.com/aspnet

[2019-10-19 19:17] #1266 closed

[2019-10-20 23:15] ndneubauer commented on #852
@brentschmaltz Are you able to provide an estimate as to when 5.6.1 will be in a testable form at least? I have a project with dependency on both legacy WCF service calls via WSTrust and .NET Core. Thank you!

[2019-10-21 19:36] brentschmaltz commented on #852
@ndneubauer current POR is for end of November for a preview.
Hopefully the preview is a short stop before GA.

[2019-10-21 21:03] mafurman commented on #1186
Fixed by @brentschmaltz in the following PR: #1249

[2019-10-21 21:03] #1186 closed

[2019-10-21 21:08] mafurman commented on #626
Related issue:  #1061

[2019-10-24 09:23] silverferrum commented on #92
This is still a bug, please reopen. (2)

[2019-10-24 14:56] LeroyK commented on #468
Any idea when this will be available?

[2019-10-24 15:28] brentschmaltz commented on #92
@silverferrum Changing JwtPayload.Exp to long? would be breaking and would cause problems for many users.

We could add a new property that returns long?
We are favoring JsonWebToken and when we add the Exp property, we will add it as a long?.

[2019-10-24 16:23] brentschmaltz commented on #468
@LeroyK at the earliest in the 1st qtr of 2020 for a full stack.
However if Async Delegates were available would that satisfy a pent up need?

[2019-10-24 19:34] AndreasHassing opened #1288 "Advice regarding IssuerSigningKeyResolver that depends on the Application DI container"
Hi all,

We're using RS256 JWT for auth in our ASP.NET Core app. To validate incoming JWT tokens, we need to use the public key corresponding to the private key used to create the token.

The public key can change over time and we want our application to be resilient to such changes, therefore on startup we fetch a set of valid public keys and update them at some recurrence (we do this via a `Host

[2019-10-25 16:33] brentschmaltz commented on #1288
@AndreasHassing there is a property bag to TokenValidationParameters. My thought is to make use of PostConfigureOptions. I haven't tried it, but this is my best guess right now,

[2019-10-29 12:40] silverferrum commented on #92
@brentschmaltz hi!
Problem is that if we specify expiration after 2038-1-19 the token will be generated with correct exp value. But when we attempt to validate such token the error will be returned in header
**www-authenticate: Bearer error="invalid_token", error_description="The token has no expiration"**

So I cannot advise you how to fix that because I do not use JwtPayload.Exp property directl

[2019-10-29 15:18] Arash-Sabet opened #1289 "Receiving the error message of IDX10501: Signature validation failed. Unable to match keys when using Azure AD"
I scaffolded a web api code that uses Azure Active Directory for authentication by Visual Studio 2019 and followed this document to configure the basic scaffolded application by using the configuration entries of my Azure AD B2C tenant.

The service configuration method looks like the following code snippet:

[code]

The configuration file contains the following AzureAd configuraiton entry where I

[2019-10-30 11:52] AndreasHassing commented on #1288
Thanks for the comment @brentschmaltz, your idea led me to https://github.com/aspnet/Security/issues/1709 (identical question, really) and that got me to a point where it now works:

[code]

[2019-10-30 11:52] #1288 closed

[2019-10-30 12:18] Arash-Sabet commented on #1289
Closing this issue because it's addressed in the Stackoverflow post. I think it's a good idea for Microsoft to review their AD and AD B2C documentation to ensure that folks are directed properly.

[2019-10-30 12:18] #1289 closed

[2019-10-30 14:51] brentschmaltz commented on #92
@silverferrum I am curious why you need a date so far in the future?

Can you share how you are using the AuthorizeAttribute?

[2019-10-30 14:55] brentschmaltz commented on #1288
@AndreasHassing that is good news.

[2019-10-30 23:00] brentschmaltz commented on #92
@silverferrum the problem is the api returns an int (our mistake). If we change it to return a long we will break users. That is why we would need a new API. Breaking users is a really bad thing in today's world of multiple dependencies.

[2019-10-31 17:57] silverferrum commented on #92
I think you are right. Maybe, adding the long field with marking the int field as obsolete will be good idea for a couple of years.

[2019-10-31 19:51] drago-draganov opened #1290 "JwtSecurityTokenHandler.ValidateToken can set the out parameter in case of exception in ValidateToken"
[code]

It's unexpected to have the validatedToken set in case of exception.

[2019-10-31 22:38] brentschmaltz commented on #1290
@drago-draganov if the signature doesn't validate, we expect ValidateSignature to throw.

[2019-10-31 23:06] drago-draganov commented on #1290
@brentschmaltz,
The code snippet above is from:

[code]

ValidateSignature is totally expected to throw. The problem is when it doesn't, but ValidateTokenPayload throws instead. That leaves the out parameter validatedToken successfully initialized in case of validation failure.

[2019-11-01 17:26] leastprivilege opened #1291 "X.509 Certificates with ECDSA based keys supported?"
I have a x509 cert with an ECDsa based key - here's the metadata:

[code]

I can't access the e.g. `PublicKey` property of the X509SecurityKey but worked around that using `Certificate.GetECDsaPublicKey()` - but the JWT handler also throws on singing:

[code]

Are these keys supported?

[2019-11-01 19:28] brentschmaltz commented on #1291
@leastprivilege this is a case I don't think we have considered.
EC keys are supported, but we have never tested this scenario.
It seems reasonable, are you exploring a new scenario OR blocked?

[2019-11-01 19:31] brentschmaltz commented on #1290
@drago-draganov that is a good point, the out param should be null.

We will see if we can get this into 5.7. But we are booked.
Set as P2, changed Question -> Bug.
If we don't get this into 5.7, we will change the priority to P1 for vnext.

[2019-11-02 05:32] leastprivilege commented on #1291
I am not blocked right now. But this is a very reasonable scenario. So I was surprised.

[2019-11-03 09:21] scottbrady91 commented on #1291
@brentschmaltz I noticed one of your colleagues saying that the `PublicKey.Key` and `PrivateKey` properties are "[unofficially deprecated](https://stackoverflow.com/a/45107458/3274800)" and that's why X509's with ECC keys throw a `NotSupportedException` on those properties. Is that true?

In the FIDO component that I've built, I basically ended up calling `GetECDsaPublicKey` and checking for null.

[2019-11-13 17:06] Lilk opened #1292 "Using CBC Authenticated encryption modes with HMAC floods InMemoryCryptoProviderCache"
The following code in AuthenticatedEncryptionProvider.cs loses tracks of the incoming SecurityKey's KeyId, and creates new keys. With Caching turned on their InternalKeyID (new Guid) is used as the cache key, which causes a memory leak.
Could be solved by prepending or appending "AES" and "HMAC" respectively to the incoming KeyId, but that would opinionate the keyspace, preferred would likely be t

[2019-11-14 19:32] brentschmaltz commented on #1292
@Lilk yes the keys are created without keyid so they can't be remembered or mapped to the original key.

Would you like to propose a fix as a PR?

[2019-11-14 19:40] Lilk commented on #1292
I guess I could see if I can come up with something :) Which branch would this be a PR to? dev? master?

[2019-11-14 23:24] brentschmaltz commented on #1292
@Lilk thanks!
we normally check into dev, then cherry pick as needed.

[2019-11-18 17:20] Cristallix opened #1293 "RSA-OAEP-256 not in SupportedAlgorithms.IsSupportedRsaAlgorithm()"
I'm trying to decrypt a JWE + JWS token and here is the first part of the token :

`eyJ6aXAiOiJERUYiLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIiwiYWxnIjoiUlNBLU9BRVAtMjU2In0`

which after a base64ToString is giving :

`{"zip":"DEF","enc":"A256CBC-HS512","alg":"RSA-OAEP-256"}`

The problem is that when I'm trying to decrypt the token it goes down to the method _SupportedAlgorithms.IsSupportedRsaAlgorithm()_ but

[2019-11-18 17:37] GeoK commented on #1293
Hi @Cristallix - RSA-OAEP-256 is not currently supported.
I don't see a reason why we shouldn't support it in net461 and netstandard targets.

The team will triage the issue soon, but for now I'm marking it as an _enhancement proposal_.

[2019-11-19 08:59] nickwinger commented on #609
that saved my live...

[2019-11-19 13:54] DShauchuk-IBA opened #1295 "CTY header is not set for JWE"
I'm using the following code to issue my JWEs:

[code]

But it doesn't specify "cty" header of the token - just only alg, enc and typ. If I understand correctly, the header must be set for encrypted JWT so I have an issue while parsing the token in golang because of the headers absence.

I also tried the following ways to issue JWE:

[code]

But have the same result:

![image](https://user-images.

[2019-11-19 18:52] GeoK commented on #1295
Hi @DShauchuk-IBA, you should be able to leverage _AdditionalHeaderClaims_ using [JsonWebTokens ](https://www.nuget.org/packages/Microsoft.IdentityModel.JsonWebTokens/)library.
You could use the _tokenDescriptor3_, just replace
`var handler = new JwtSecurityTokenHandler();` with
`var handler = new JsonWebTokenHandler();`

Now, looking at [the spec](https://tools.ietf.org/html/rfc7519#section-5.2):

[2019-11-19 19:53] DShauchuk-IBA commented on #1295
Thank you for the quick answer.

I'm using [go-jose](https://github.com/square/go-jose/) library for parsing JWT.

[2019-11-19 20:47] GeoK opened #1296 "Beautification of the repository"
* Update the .readme page.
* Declutter the root directory out of unnecessary files.
* Introduce GitHub badges (total download count, weekly download count,  build status, link to the latest released nuget package, license)
* Restructure and compress the wiki pages (add dropdown menus)
*  Alter the title/name? (mention "Wilson"?)

[2019-11-28 14:06] Lilk commented on #1292
@brentschmaltz better late than never, but I've a minimal "PR" which i think solves the issue. But I don't seem to have access to push a new branch and make a PR to dev from it. How do we solve this?

[2019-12-02 06:54] brentschmaltz commented on #1292
@Lilk could we use a https://tools.ietf.org/html/rfc7638?
To generate a kid based on the key material in a key.
The Guid model, was a quick fix.

[2019-12-02 10:23] Lilk commented on #1292
I can agree tp that the guid approach looks hacky ;).

Yes, as noted in the PR:

Is RFC7638 implementation something that is WIP, or would you like a PR on that? ;)

[2019-12-02 16:46] johnthcall commented on #852
@brentschmaltz I've looked in your topic branch but don't see support for wstrustchannel, it that pending or would it not be included in initial WSTrust support?

[2019-12-03 02:24] brentschmaltz commented on #852
@johnthcall It's pending.
We are focused on SignedHttpRequest, we will get back to WsTrustChannel in about a week

[2019-12-03 09:50] jimitndiaye commented on #1051
Just run into this same issue. Azure AD v1.0 uses the old `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name` wheres v2.0 uses `preferred_username`. I just wish there was a way of snooping which is which in maybe NameClaimRetriever - I don't see an obvious way of doing that without hard-coding it to specific issues.

[2019-12-04 21:00] mafurman opened #1298 "JsonWebToken constructor doesn't count JWT segments properly"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/110ced71d96efaaaa4db42eb5f3737b7f31ec2d0/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebToken.cs#L54-L76

As soon as 'count' gets to JwtConstants.JwsSegmentCount (3), the while loop will terminate. This means that as long as the number of dots in the 'jwtEncodedString' is >= 2, the value of 'count' will alw

[2019-12-06 20:05] GeoK opened #1300 "Make sure that custom exceptions can be serialized properly"
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.iserializable?view=netframework-4.8

https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/ms229064(v=vs.100)?redirectedfrom=MSDN

https://blog.gurock.com/articles/creating-custom-exceptions-in-dotnet/

[2019-12-07 00:33] jfnu opened #1301 "Validate token with public key signature"
In use cases, I don't see an example on how we can validate the token using public key with this convention "-----BEGIN PUBLIC KEY----- xxxx -----END PUBLIC KEY-----". Can we use jwtSecurityTokenHandler to do that? All the other online examples are using bouncycastle to do it.

Thank you

[2019-12-07 08:54] VladislavMorozov opened #1302 "System.IdentityModel.Tokens.Jwt is using the key after disposing System.Security.Cryptography. ECDsaOpenSsl"
https://github.com/dotnet/corefx/issues/42631

[2019-12-09 21:52] jfnu commented on #1301
In follow up to the question,
how do we validate a token by 3rd party with public key less than 1024 size? for example in 512 size. The DefaultMinimumAsymmetricKeySizeInBitsForVerifyingMap is set to 1024.

 ValidateAsymetricSecurityKeySize method will throw exception "Microsoft.IdentityModel.Tokens.RsaSecurityKey" for verifying cannot be smaller than 1024.

[2019-12-10 12:06] Debbus72 opened #1303 "OpenIdConnectConfigurationRetriever.GetAsync() uses default JsonSerializerSettings"
We are using Microsoft.IdentityModel.Protocols.OpenIdConnect 5.6.0.
In our API (.Net Core 3.1) we have overridden the default JsonSerializerSettings (JsonConvert.DefaultSettings). Especially the setting `MissingMemberHandling` is set to `MissingMemberHandling.Error`.
This now interferes with the retrieval of the OpenIdConnectConfiguration-document since our provider returns more data than is prese

[2019-12-10 15:44] brentschmaltz commented on #1303
@Debbus72 can you describe how this is causing you issues?
What error are you receiving?

[2019-12-10 15:52] brentschmaltz commented on #1301
@jfnu can you post a link to an example of 'bouncycastle' to see what this would take from us? Many other devs have hit this.

For keys smaller than 1024, you will have to use extensibility. Note I am suggesting JsonWebTokenHander as the api is simpler and the code is faster.

Either override CryptoProvider you can attach your own cryptoProvider on a SecurityKey see: https://github.com/AzureAD/azu

[2019-12-10 15:59] brentschmaltz commented on #1302
Before adding or using a SignatureProvider, we should check if the key material has been disposed. If so, don't add to the cache or use the SignatureProvider.

[2019-12-10 16:50] jfnu commented on #1301
@brentschmaltz here is the sample
https://stackoverflow.com/questions/49675501/configure-jwt-bearer-token-validation-using-the-public-security-key-in-net-core

need to strip out the header and footer of the public key.

[2019-12-10 19:14] brentschmaltz commented on #1301
@jfnu the reason is signature with less than 1024 bits are not considered tamper-proof and we don't recommend such key sizes.

While we accept 1024, we will only create with 2048 bits.

[2019-12-10 19:14] #1301 closed

[2019-12-11 06:37] Debbus72 commented on #1303
Of course.
So attached you will find the payload that we receive from our provider. This json-payload is then deserialized by the Retriever to the `OpenIdConnectionConfiguration`-class.
The exception that we receive is:
IDX20803: Unable to obtain configuration from: '[PII is hidden. For more details, see https://aka.ms/IdentityModel/PII.]'.

With an inner-exception:
Could not find member 'code_cha

[2019-12-11 19:54] #1232 closed

[2019-12-11 20:06] brentschmaltz commented on #1303
@Debbus72 I added response.txt to this test and it loaded fine.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/a45ee58a27ddfe8422ed84076bf623e6c174cd03/test/Microsoft.IdentityModel.Protocols.Tests/FileDocumentRetrieverTests.cs#L68

Can you turn on PII by coding: IdentityModelEventSource.ShowPII = true;
Then we can see the entire stack.
The error seems to

[2019-12-12 07:08] Debbus72 commented on #1303
The exception is:
[code]

Like I said, we have different default serialization settings set up in our program. So if you add this to your tests, the test will fail.
[code]

The default value is `MissingMemberHandling.Ignore` which, as you correctly said, will add the values to the AdditionalData. However, with `MissingMemberHandling.Error` it will throw the error.

[2019-12-12 08:06] jaanclaeys commented on #1291
I see no reason not to support the ECDSA as an X509SecurityKey, as it is supported by using the ECDSASecurityKey.

Because you can actually do something like this:
[code]

However than you need to set the x5t and kid manually on the JWT, if using that.
So kind of a mess.

[2019-12-12 15:48] brentschmaltz commented on #1291
@jaanclaeys @scottbrady91 @leastprivilege I agree with you folks, we should make this work. ECD is preferred by many people. We can't fit this into our SignedHttpRequest effort (our next release), but will get it in the next one.

[2019-12-14 15:31] martincostello commented on #1302
I just stumbled across this issue while investigating an `ObjectDisposedException` for `ECDsa` after trying to update some code from version 5.3.0 to 5.6.0.

[code]

It looks like the change to use token caching by default in #1198 breaks the following code by causing the `ECDsa` created by the first call to the method (and then disposed of) to be retained and used on subsequent calls, causing reg

[2019-12-16 02:00] oliviervaillancourt opened #1304 "Consider exemption to the "PII is hidden" message for configuration retrieval failures"
Hi,

We recently encountered a situation where the http request to retrieve the OpenID discovery document was failing in production.  Our logs are showing the very not useful `IDX20803: Unable to obtain configuration from: '[PII is hidden. For more details...` message.  That completely hiding the real reason why the request failed.

I love the PII hiding feature for things like token validation fa

[2019-12-16 16:25] brentschmaltz commented on #1302
@martincostello yes the 'using' statement causes the dispose and with the current code, this pattern will fault. We agree the IdentityModel runtime should fix this.

In the meantime, if CreateSigningCredentials (https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/blob/53d23133c07b311c088dd05ae8cd8d76ce18a164/src/AspNet.Security.OAuth.Apple/Internal/DefaultAppleClientSecretGenerator.c

[2019-12-16 16:33] martincostello commented on #1302
Yeah I saw the high-level default, but as it's static it's not something I want to be altering from deep within the bowels of a library. Users can set it themselves if they need to as a workaround though.

The code workaround seems a bit heavy-handed as a workaround to put in a library (if it's then going to be made redundant by a fix), so I'll just leave things as-is for now.

I just wanted to ad

[2019-12-16 16:40] brentschmaltz commented on #1303
@Debbus72 that makes sense.
Since Metadata changes over time, we could account for this by using JsonCnvert.PopulateObject(string, object, JsonSerializerSettings). This would be a change in behavior and some folks would now not fault.

By setting MissingMemberHandling.Error, you seem to be indicating you want to fault.

[2019-12-16 18:35] #1298 closed

[2019-12-16 19:27] brentschmaltz commented on #1303
@Debbus72 in our 6.x branch, currently not released, we do not use the public Newtonsoft library, so you should not see the issue with that release.

We put our nightly packages here:
https://www.myget.org/feed/azureadwebstacknightly/package/nuget/Microsoft.IdentityModel.Protocols.OpenIdConnect

We plan on releasing 6.x in the new year.

[2019-12-18 07:16] Debbus72 commented on #1303
I've include the 6.4.0-preview-61218030541 version from that feed and that seems to do the trick.

[2019-12-18 07:16] #1303 closed

[2019-12-19 21:47] brentschmaltz commented on #1304
@oliviervaillancourt i agree with you. In our need to satisfy GDPR, we used a big hammer, we need to revisit this.
I marked this as an Enhancement.

[2019-12-20 04:57] oliviervaillancourt commented on #1304
@brentschmaltz .  Thanks for the update.  If you think that a simple change to remove the "PII masking" in the case of `GetConfiguration`  is appropriate, I don't mind doing that work and submitting a PR.

Thanks

[2019-12-20 09:01] johnkors opened #1307 "Using an empty OIDC configuration"
Hi,

I was told to ask here by @Tratcher in https://github.com/aspnet/AspNetCore/issues/17616#issuecomment-567545682.

I've written som authorization tests against my app startup for API protected by bearer tokens using JWT bearer tokens. In the test I wanted a way of overriding  hitting the OIDC Discovery document (.well-known/openid-configuration) to avoid network traffic, so I tried using a sta

[2019-12-24 17:59] jflord78 commented on #877
For anyone else landing here trying to figure out the "IDX10511: Signature validation failed." error, specifically with a "System.Security.Cryptography.CryptographicException: An internal error occurred" exception. This was the solution for us:

Our 2008R2 hosts needed to be configured to auto-start the "**CNG Key Isolation**" service.

Ref: https://blogs.msdn.microsoft.com/dsnotes/2012/08/17/cngk

[2019-12-27 12:19] MauroMS commented on #1107
Oh wow, seems at this point that nothing is going to happen about this issue.

[2019-12-31 20:15] leejeffr opened #1310 "Remove dead code from ECDsaAdapter"
The following method has no references and appears not to be used anywhere.

Microsoft.IdentityModel.Tokens.ECDsaAdapter.GetKeySize(string curveId)

I am wondering if it really is dead code and maybe consider removing it or explaining how it used.

[2020-01-03 16:12] bjthomson commented on #1051
@jimitndiaye if you want anyone to respond to this, you probably need to reopen the issue. I suspect they have filters looking an issue != closed.

[2020-01-06 18:41] GeoK commented on #1310
Hi @leejeffr - it's dead code, thank you for reporting.
I'm renaming the title.

[2020-01-07 20:17] brentschmaltz commented on #1307
@johnkors using a static configuration is a fine way to avoid the http traffic, most of our test use this.
However, I would expect a token validation test to fail because no issuer, keys were found, so this surprises me.
Can you share a bit about your tests?

Audience is not obtained from configuration, that is a relying parting setting, usually the clientid.

[2020-01-07 20:28] brentschmaltz commented on #1051
@bjthomson @jimitndiaye this is a thorny issue as the value you want to display is related to the identityprovider.
The NameClaimRetriever in conjunction with the claimtype that ClaimsIdentity.Name resolved to were designed to help you handle this issue.
NameClaimTypeRetreiver will return the claimtype that ClaimsIdentity will use when returning the value for 'Name'.

[2020-01-07 20:32] brentschmaltz commented on #877
@jflord78 thanks for this post, very helpful.

[2020-01-07 20:38] brentschmaltz commented on #852
@johnthcall this work is currently on topic branch brentsch/wstrust

[2020-01-07 20:40] #1100 closed

[2020-01-07 20:40] brentschmaltz commented on #1282
@danilo-lopes did you get this solved?

[2020-01-07 20:54] brentschmaltz commented on #1258
@smiket is this still a blocker?
If so, can you share a WsFed message that fails?

[2020-01-07 22:59] brentschmaltz commented on #1302
@VladislavMorozov
your code from the other thread is:
[code]

I am trying to understand when you would use this pattern?
For deterministic control, we would need to add IDisposible on ECDsaSecurityKey.

[2020-01-08 08:28] VladislavMorozov commented on #1302
@brentschmaltz I want to create tokens that are signed with the ES256 algorithm on the Linux machine. I didn't find another way.
`var algorithm = ECDsa.Create()` is IDisposible, so I use using construction. I can register `ECDsa.Create()` in DI container, but I think that the problem will remain.

[2020-01-08 12:25] bjthomson commented on #1051
Lost the pitch for the customer who wanted this when I raised the ticket.

Just to summarise (again) The OpenIDConnect middleware is adding the users name with a claim type of **"name"**, but the ClaimsIdentity.Name property is looking for a type of **"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"**

Between Azure AD 1.0 and 2.0 it would seem MS made a breaking change, which I was un

[2020-01-08 21:31] brentschmaltz commented on #1051
@bjthomson it would be hard for me to commit to all the above scenarios are covered. However, Azure AD 1.0 and 2.0 should just work w.r.t. User.Identity.Name should be the same, that is something we are working on.

[2020-01-08 21:34] brentschmaltz commented on #1302
Can you try using a unique KeyId?

[2020-01-09 03:37] azydevelopment opened #1313 "Single-item-claim-array when using ClaimValueTypes.Json changing schema"
Hi folks,

Please see the previous two issues I filed eventually routing me here by the AspNetCore folks:

IdentityServer/IdentityServer4#3968
https://github.com/dotnet/aspnetcore/issues/18178

When sending over a JWT with an array claim with only one value, the claim in user.profile gets transformed to just a string. When an array with 2 values gets sent over in the JWT claim, user.profile sets i

[2020-01-09 07:58] VladislavMorozov commented on #1302
Of course on production, I use a unique KeyId. In my issue just a small example.

[2020-01-13 17:50] #1282 closed

[2020-01-13 19:44] everettcomstock commented on #1258
@brentschmaltz is there any update on this issue? I am experiencing the exact same issue as @smiket, and I'd like to know your recommended course of action? If the updated release is right around the corner, I think we could wait a week or two.

[2020-01-13 22:46] brentschmaltz commented on #1258
@everettcomstock the release with undated WsFed is unlikely in a couple of weeks.
We may be able to issue a . release.
Can you share a WsFedMessage with me that has the issue?

[2020-01-14 14:24] everettcomstock commented on #1258
@brentschmaltz , here is a heavily redacted example... I can PM you a real message if necessary:

`<saml:Assertion MajorVersion="1" MinorVersion="1" AssertionID="IOjlZrMgiugArEj4_szrzFbk1UE" IssueInstant="2020-01-14T14:04:40.796Z" Issuer="https://foo.com" xmlns:saml="urn:oasis:names:tc:SAML:1.0:assertion">`
`	<ds:Signature xmlns:ds="http://www.w3.org/2000/09/xmldsig#">&#xD;`
`<ds:SignedInfo>&#xD;`

[2020-01-14 15:21] jimitndiaye commented on #1051
@brentschmaltz , @bjthomson I worked around the issue by automatically mapping the preferred_username claim to the name claim via the JwtSecurityTokenHandler settings:
[code]
This automatically converts the claims when necessary allowing both Azure AD 1.0 and 2.0 to work.

[2020-01-15 01:19] smiket commented on #1258
Hi @brentschmaltz, I have not tried it since originally reporting the issue.  It looks like Everett has identical problem.  Happy to try any updates you may have, thanks for keeping it on your radar 👍

[2020-01-15 01:19] brentschmaltz commented on #1258
Are you saying that our method adds "&#xD" to the SamlToken?
If so that's not good, you can't replace it.

[2020-01-15 01:45] smiket commented on #1258
Yeah, it adds those characters.  See my 3rd comment where I suggest a fix.  I forked and tried that locally and it worked for me.
Basically I changed the XML Writer settings to use ‘NewLineHandling.None‘ and that helped

[2020-01-15 14:14] solidstore commented on #1107
This is causing a great deal of headaches in my project.

[2020-01-15 14:47] everettcomstock commented on #1258
@brentschmaltz ... just for clarity, yes it is adding those characters in our application too. It seems like Stephen has identified the precise point where the issue is occurring. If we can help in any way, please don't hesitate to reach out. Thanks!

[2020-01-15 14:58] ggonzalez94 commented on #415
Im having an issue even after clearing the default mapping. Here´s my code:
`JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();`

[code]
And when retrieving the Claims Principal via the User from any controller I still get the mapping to legacy claims:
![image](https://user-images.githubusercontent.com/17907743/72443608-eecf5f80-3784-11ea-9033-35a7665d9654.png)

Any suggestions?

[2020-01-15 21:48] brentschmaltz commented on #415
@ggonzalez94 as soon as your Appdomain loads write:
`JwtSecurityTokenHandler.DefaultMapInboundClaims = false;`

[2020-01-15 21:50] brentschmaltz commented on #1107
@solidstore @MauroMS we need to support read / write with XmlReader / XmlWriters.
Also we will need to define attached / unattached references.

We can get this in.

[2020-01-15 21:51] brentschmaltz commented on #1258
@smiket @everettcomstock we will fix this.
Just to confirm you are using 5.5.0 and you have a Windows OS right?

[2020-01-15 21:52] brentschmaltz commented on #1051
Excellent idea.

[2020-01-16 08:19] leastprivilege commented on #1291
any update?

[2020-01-16 14:56] everettcomstock commented on #1258
@brentschmaltz , yes.. 5.5.0 and Windows / Azure

[2020-01-16 19:47] brentschmaltz commented on #1291
@leastprivilege we will be setting a date for our next release on Monday 27th.

[2020-01-17 00:20] dustensalinas opened #1315 "Payload string inaccessible"
Enhancement:
Make the initial decoded string available and or payload via string for System.IdentityModel.Tokens.Jwt.

A valid token that is decoded has no mechanism to access the payload.

Its natural state is json, it should be accessibe.
Jwt does not define that claims must be a primitive so accessing of json objects causes issues.
Simply there are multiple unnecessary steps to get data already

[2020-01-18 05:09] #1315 closed

[2020-01-20 14:55] OliverRC commented on #1060
We've began moving all our stuff over to System.Text.Json in .NET Core 3.1.
Would be great to fully drop Newtonsoft, this library is one of the last few which still has a Newtonsoft dependency 👍

[2020-01-22 01:11] mafurman commented on #1278
Documentation for this can be found at the bottom of this page:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Creating-and-Validating-JWEs-(Json-Web-Encryptions)

[2020-01-22 17:31] brentschmaltz commented on #1060
@OliverRC we are figuring that out.
It's a bit more complicated than just removal as some types used by asp.net and other runtimes depend on our types that have newtonsoft dependencies.

[2020-01-22 21:48] poseidonjm commented on #609
See my comment here https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/521#issuecomment-577400515

[2020-01-26 06:54] leastprivilege opened #1317 "JsonWebKeyConverter should be able to convert from/to all key types"
Some conversions are public some internal.

I'd like to have full round-trippable conversion for RSA, X509 and EC.

see also https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1208

[2020-01-27 14:02] johnkors commented on #1307
Not sure why I did not get errors about an empty json before, but now I do :) Everything working as expected. Thanks for getting back to me!

[2020-01-27 14:02] #1307 closed

[2020-01-27 14:21] peval27 commented on #1304
@brentschmaltz is there any configuration key in app.config that we could tweak without modifying the code?

[2020-01-27 18:46] brentschmaltz commented on #1304
@peval27 not right now, but we have work items to be able to control settings at runtime.

[2020-01-28 11:22] prostakov opened #1319 "Cannot set expiration to more than year 2038"
`Integer` is the type that's currently used to deserialize timestamps for all `DateTime` fields, including `expiration`:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/d633b4f6ace5fe941607159365c60b4ca6f414b6/src/System.IdentityModel.Tokens.Jwt/JwtPayload.cs#L204-L211

The max value of `int` is `2147483647`, which when used as timestamp corresponds to **J

[2020-01-28 11:25] #1319 closed

[2020-01-30 01:13] #1278 closed

[2020-02-04 01:05] mafurman opened #1321 "Remove netstandard1.4 from Wilson 6.x"
netstandard1.4 is only supported by netcore1.0, which is not an LTS (long term support) release.

[2020-02-04 22:28] brentschmaltz commented on #1317
@leastprivilege I assume you mean "when possible".

[2020-02-05 06:07] leastprivilege commented on #1317
I guess that's what I assume ;)

[2020-02-05 16:27] brentschmaltz commented on #1317
@leastprivilege of course ;-).

We are thinking of dropping netstandard 1.4, this will give us an unambiguous solution for crypto decision as 1.4 promises some features that are not actually available in net46  or net461.

[2020-02-05 19:42] mafurman opened #1323 "Add additional documentation for SignedHttpRequest"
Add further conceptual documentation on SignedHttpRequest to the Wiki page:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/SignedHttpRequest-aka-PoP-(Proof-of-Possession)

[2020-02-05 19:51] mafurman opened #1324 "Add the [Serializable] attribute to SignedHttpRequest exceptions"
As of Wilson 6x we are planning on removing netstandard1.4 from the library.

By removing this target, we are now able to add the `[Serializable]` attribute back to many of our exceptions, as `[Serializable]` was not available for netstandard1.4.

We should add this attribute to `SignedHttpRequest` exceptions as well.

[2020-02-06 06:35] leastprivilege commented on #1317
https://www.youtube.com/watch?v=GtUVQei3nX4

[2020-02-06 20:18] brentschmaltz opened #1325 "After removing NETSTANDARD1.4 target re-evaluate other #defs such as DESKTOP"
DESKTOP is defined if: net45, net451, net461
so NET461 AND DESKTOP will be be defined.

This leads to code in AsymmetricAdaper.cs that could be simplified as RSACryptoServiceProvider is now always available.
There seems to be some ambiguity as _useRSAOeapPadding and _rsaEncryptionPadding as both defined, but we make a choice on if RsaCryptoServiceProviderProxy is used.
We may be able to only use R

[2020-02-06 20:37] mafurman opened #1326 "We should have some way of detecting that our dependencies need to be upgraded"
We should at the very least have our dependencies upgraded to the minimum recommended version, if not the latest available.

[2020-02-06 20:43] mafurman opened #1327 "IDX10690 Wiki page needs to be updated once Wilson6x is released"
Wilson6x no longer has a netstandard1.4 target and we need to make sure that the Wiki page reflects that.

See: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/IDX10690

[2020-02-06 22:12] #1310 closed

[2020-02-06 22:12] #1321 closed

[2020-02-06 23:57] GeoK commented on #1327
This one too:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/Supported-Algorithms

[2020-02-07 14:12] daniel-munch-cko commented on #468
Just came across this, was there any follow-up? I'm mostly interested in async versions of `SignatureProvider.Sign` and `SignatureProvider.Verify`

[2020-02-07 18:19] brentschmaltz commented on #468
@daniel-munch-cko we are working on shipping 6.x where we have a number of internal fixes being validated. Once that is out, we will address this as a lot of interest has been expressed. Particularly where crypto operations are performed out-of-process.

[2020-02-07 22:56] mafurman opened #1329 "Add net472 as a desktop target"
Adding net472 would allow us to have a clean crypto target for desktop users, as it would contain support for ECDsa keys.

[2020-02-07 23:17] mafurman opened #1330 "Add an IJsonWebTokenHandler interface"
We need some kind of JWT specific security token handler contract that is comprehensive enough to be used without knowing the specific implementation.

[2020-02-08 00:38] mafurman opened #1332 "Remove net451 desktop target from Wilson6x"
The behavior of the library is the same for both the net45 and net451 targets, so having both is unnecessary.

[2020-02-08 01:44] mafurman commented on #1332
@Tratcher Sorry for not clarifying. We have both a net45 and a net451 target.

 Just modified the issue to include this.

[2020-02-11 10:10] EkwofiePrax commented on #877
@brentschmaltz
I'm being faced with with similar issue that's been reported in here. I have tried all the suggestions but I'm getting no where.

Am I missing something?

I have added a snapshot of my code

**IDX10511: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.X509SecurityKey**

I'm using MSAL interceptor in Angular 8 code to send access token to the service "C# .NET

[2020-02-12 14:14] EkwofiePrax opened #1334 "IDX10511: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.X509SecurityKey"
@brentschmaltz
I'm being faced with similar issue that's been reported in here. I have tried all the suggestions but I'm getting no where.

Am I missing something?

I have added a snapshot of my code

IDX10511: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.X509SecurityKey

I'm using MSAL interceptor in Angular 8 code to send access token to the server "C# .NET core 3.1".

[2020-02-12 18:15] GeoK commented on #1334
@EkwofiePrax - Why are you trying to validate an access token for Graph?
This token requires special processing in order to validate.

Please refer to: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/609#issuecomment-524434987

More on 'special processing': https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/609#is

[2020-02-14 10:00] erikly opened #1335 "AdditionalHeaderClaims and Claims in SecurityTokenDescriptor are ignored"
Claims added to AdditionalHeaderClaims and Claims in SecurityTokenDescriptor are ignored when the actual token is created. Self contained example:
[code]
Using System.IdentityModel.Tokens.Jwt 5.6.0 and .NET Core 3.1.

This might be me misunderstanding how to use the library, in this case I'm very interested in where this is documented.

[2020-02-14 20:19] mafurman commented on #1335
Sorry for the confusion! The `SecurityTokenDescriptor.Claims` and `SecurityTokenDescriptor.AdditionalHeaderClaims` are currently only supported by the [Microsoft.IdentityModel.JsonWebTokens.JsonWebTokenHandler](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs).

We should probably document

[2020-02-17 11:58] stebet commented on #468
This would be extremely helpful for our case where we have an ecosystem of services that communicate with each others APIs using JWT tokens, so they need to fetch signing keys on demand as they are rotated.

[2020-02-17 13:19] cyberhck commented on #468
@stebet that's exactly my usecase as well, it sucks having to do `.Result` on `async` method

[2020-02-17 13:28] stebet commented on #468
Shhhh... you'll invoke @davidfowl....

[2020-02-17 15:38] EkwofiePrax commented on #1334
Hi @GeoK  thanks for your direction, much appreciate, I guess the cue was in the "**aud":"00000003-0000-0000-c000-000000000000**"
https://www.shawntabrizi.com/aad/common-microsoft-resources-azure-active-directory/
![image](https://user-images.githubusercontent.com/45936588/74642831-99afb080-516b-11ea-84d3-688fd49b1349.png)

Looking at protectedResourceMap below:
I was using graph.microsoft.com sco

[2020-02-19 18:40] GeoK commented on #1334
You shouldn't validate an access token for Graph. Still not sure why would you do that.
Please review the comments linked in my previous comment.

In a nutshell, the signature is over the transformed nonce, so if you try and validate it directly, the signature will fail.

[2020-02-20 19:15] #1332 closed

[2020-02-26 06:16] brunohbrito opened #1338 "JsonWebKeyConverter - ConvertFromECDsaSecurityKey for netstandard 2.1"
I was missing an option to convert ECDsa SecureKey to JsonWebKey at [JsonWebKeyConverter.cs](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/JsonWebKeyConverter.cs).

But I figure out that the method actually exists, `ConvertFromECDsaSecurityKey`, but is only available to netstandard 2.0.

There is any plans to move o

[2020-02-26 22:04] brentschmaltz commented on #1338
@brunohbrito if you look at our dev branch (6.x) we have been adding some such needed features (along with SignedHttpRequest) that we are planning on releasing soon.

In addition, we are preparing a clean netstandard 2.0 crypto layer.
There are some breaking changes that we are currently sorting out.

[2020-02-26 22:05] brentschmaltz commented on #1335
@erikly does this answer your question?
Please reopen this issue if needed.

[2020-02-26 22:05] #1335 closed

[2020-02-26 22:09] brentschmaltz commented on #468
@cyberhck @stebet @daniel-munch-cko yes we hear you. We have some internal work to do with our 6.x branch (our dev is ahead of dev5x). We do not want to backport this work, so the order of items is 6.x public, coordinating with asp.net, identityserver to ensure no breaking issues.
Then we can address these long standing issues.

[2020-02-26 22:12] brentschmaltz commented on #1317
Ensure this issue is also addressed.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1338

[2020-02-26 22:12] brentschmaltz commented on #1338
@brunohbrito i am going to close this and reference this issue in: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1290

[2020-02-26 22:12] #1338 closed

[2020-02-27 16:35] brentschmaltz commented on #1258
@everettcomstock we are planning on fixing this in our 6.x release.
We are working through that deliverable schedule.

[2020-02-27 16:48] brentschmaltz commented on #1291
@leastprivilege we are working on pushing our 6.x release. We would like to make sure we don't break IdentityServer.
The main issues we are:
1. removal of Newtonsoft from public API's, we will be switching to the new System.Text.Json in the future.
2. switching from JsonWebToken from JwtSecurityToken {claim mapping, speed, API}

There are some small breaking changes, but we feel there are corner c

[2020-02-27 16:51] brentschmaltz commented on #1107
@solidstore @MauroMS this work is stacked behind a public release of 6.4.2 where we have made several changes that were used and tested inside microsoft.
Expect this work in an up-coming 6.4.2+ version.

[2020-02-28 09:03] bugproof commented on #468
It's open since 2018. Do you need help? I can do it in 10 minutes but with a breaking change in the API, or do you want it to be backwards compatible?

[2020-02-28 09:06] bugproof commented on #468
Kinda funny to see it open since 2016.

[2020-02-28 13:50] davidikin45 opened #1339 "JwtSecurityTokenHandler ResolveIssuerSigningKey"
JwtSecurityTokenHandler.ResolveIssuerSigningKey doesn't compare jwt.x5t with signingKey.x5t if validationParameters.IssuerSigningKeys is used rather than validationParameters.IssuerSigningKey. Is there a reason for this?

[2020-02-28 16:30] brentschmaltz commented on #468
@bugproof fair enough. When opened the win was seen as a programming convenience, in a large number of cases, as almost all crypto operations were inproc and synchronous. That has changed as it is now common for part of the inbound validation for on out-of-proc or web request to be invoked.

[2020-02-29 12:26] leastprivilege opened #1341 "IdentityServer4 compatibility"
Since Brent is asking here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1291

We need good control over the shape of the rendered JWT - e.g. the header

https://github.com/IdentityServer/IdentityServer4/blob/99ce3764c2c0dacc4d8123ce4b0055261f9b228d/src/IdentityServer4/src/Services/Default/DefaultTokenCreationService.cs#L84-L116

Also the payload

htt

[2020-02-29 12:29] leastprivilege commented on #1291
If there are breaking changes, then you will probably break us. But that's the way it is.

More importantly is that there a not features missing that we rely on.

See this separate issue: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1341

[2020-02-29 18:58] mgillis opened #1342 ""audience" behaviour of JwtSecurityToken, JwtPayload confusing"
Due to these lines:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/cc6d48f33df400362d261b6272ba5e4215f64e52/src/System.IdentityModel.Tokens.Jwt/JwtPayload.cs#L115-L117

The behaviour can be confusing, and some implementations of refresh tokens that I have seen (and is promulgated in a few tutorials out there) will pass in issuer, audience, etc., along wit

[2020-02-29 23:58] brentschmaltz commented on #1341
@leastprivilege thanks for the heads up. Our message to our partners is that we don't want to break any significant scenarios. We want to be clear, we haven't lock any specific changes and are proposing a set of changes. We looked things over and came to a conclusion that to remove dependencies NewtonSoft could have breaking changes. We could create new types, rather than have some potential break

[2020-03-01 22:52] simonfox commented on #1292
I assume this issue is related to the following issues:
https://github.com/Azure/azure-signalr/issues/647
https://github.com/Azure/azure-signalr/issues/654

I'm not using the signalr package, but am suffering from the issues described in there.

What is the current status of this issue? Seems to have gone quiet?

Also is the following the suggested workaround:
`CryptoProviderFactory.DefaultCacheSi

[2020-03-03 03:23] everettcomstock commented on #1258
@brentschmaltz, thanks for the update. We'll add a card on our board for the 6.x release.

[2020-03-03 10:44] Lilk commented on #1292
Yes, I believe it to be the same or highly related. We disabled the cache "temporarily". Had to focus on internal projects so I haven't been able to prioritise a PR for this issue.
Personally I'm still uncertain to whether any work has gone into a RFC7638 implementation for cache key generation, or if such a PR would be appreciated by the maintainers.

[2020-03-04 15:50] michaelmualem opened #1344 "Build NuGet packages from source"
Hello,

I am trying to build the following NuGet packages from source code:
1. Microsoft.IdentityModel.Tokens.Saml
2. System.IdentityModel.Tokens.Jwt

Using the build.cmd script I am getting the error :
Start-Process : This command cannot be run due to the error: The system cannot find the file specified. At \azure-activedirectory-identitymodel-extensions-for-dotnet\build.ps1:103 char:30
+ ... age

[2020-03-04 17:31] brentschmaltz commented on #1344
@michaelmualem we expect 'perl' to be installed.
We should adjust our build script to skip if perl is not available.
You could install perl OR comment out that line.

All our local builds have version 0.0.1-preview unless 'updateAssemblyInfo.ps1' is run.

[2020-03-05 10:00] michaelmualem commented on #1344
OK thanks for the quick response !

I ran updateAssemblyInfo.ps1 and thegenerated  NuGet package version indeed changed to 5.6.0 but it is still have "preview-70305113207" in its name. Why is that ? I don't want a preview version.

[2020-03-06 12:02] haytapot opened #1345 "Microsoft.IdentityModel.Tokens, Version=5.6.0.0 calling 'Newtonsoft.Json, Version=10.0.0.0,"
Target: .Net 4.6.1
System.IdentityModel.Tokens: v5.6.0
Newtonsoft.Json: v.12.0.3

I get this issue:
`Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)`
...
...
`Calling assembly : Microsoft.IdentityModel.Tokens, Versio

[2020-03-06 17:19] GeoK commented on #1345
Hi @haytapot - Please try out the solution proposed here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1033#issuecomment-431148176

As an alternative solution, reinstall the Newtonsoft.Json NuGet package using Package Manager Console Window. In Visual Studio go to View -> Other Windows -> Package Manager Console and then type in the console: `Update-P

[2020-03-06 17:23] GeoK commented on #1344
@michaelmualem I'm curious to know why are you building nugets from source?
To answer your question - run _updateAssemblyInfo.ps1_ with packageType = **release**.
 https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/cc6d48f33df400362d261b6272ba5e4215f64e52/updateAssemblyInfo.ps1#L2

[2020-03-09 13:45] KamranShahid opened #1347 "Any possibility of overriding of minimumkey size of particular algorithm in AsymmetricSignatureProvider"
Referring to my post
https://stackoverflow.com/questions/60599339/any-way-to-create-a-jwt-token-with-key-size-512-and-changing-default-minimum-si

I need to change the minimum value of RSA256 key requirement from 2048 to 512.
Any possibility i can do it?

I am using .net core 3.1 with

Assembly Microsoft.IdentityModel.Tokens, Version=5.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35

I hav

[2020-03-09 16:07] brentschmaltz commented on #1347
@KamranShahid you can do that, but we set 2048 for security reasons. Keys of length 512 will not be accepted by our runtime as they are not strong enough.

You would have to make use of extensibility.
You would need a custom AsymmetricSignatureProvider
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/cc6d48f33df400362d261b6272ba5e4215f64e52/src/Microsoft.Id

[2020-03-09 18:10] KamranShahid commented on #1347
I am just using SecurityTokenDescriptor to generate the id token. So looks like there isn't any option in the class to override the settings.
For the hack i have used Reflection to change the Values DefaultMinimumAsymmetricKeySizeInBitsForVerifyingMap and DefaultMinimumAsymmetricKeySizeInBitsForSigningMap

Bit dirty code but effective
[code]

[2020-03-09 18:10] #1347 closed

[2020-03-09 18:15] KamranShahid commented on #1345
Bit off topic but is there any planning of getting rid of newtonsoft for atleast .net core 3.1 and greater version?
In .net core 3.1 i am now using System.Text.json for every piece of code where newtonsoft were used. So Any plan for this library without newtonsoft

[2020-03-09 22:49] GeoK commented on #1345
@KamranShahid - We are planning on releasing Wilson 6x in a couple of weeks which won't have an external Newtonsoft.Json dependency.

[2020-03-10 08:16] KamranShahid commented on #1345
Great. by the way what is "Wilson 6x" mean

[2020-03-10 16:26] GeoK commented on #1345
Apologies, I should have been more clear. Wilson is the code name for the library (set of IdentityModel assemblies). 6x refers to the major version of the next release.

[2020-03-10 17:42] brentschmaltz commented on #1347
@KamranShahid you can always use reflection. Development teams do not consider changing internals as breaking. So this approach may not work in the future. When we mark items internal or private, we make assumptions that may not hold if changed externally.

[2020-03-10 17:45] #1342 closed

[2020-03-13 17:15] javiercn opened #1349 "JwtSecurityTokenHandler does not create principal with roles correctly."
If you setup a custom RoleClaimType in TokenValidationParamters the identity is created [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/9ad658f983a83718880ac104a31a0462d61913ef/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L337) with the custom role claim type (as expected) but then when the mappings are being applied, all the role

[2020-03-17 11:13] shadow-cs commented on #1302
I have come across this issue as well. I'm creating a new `ECDsa` instance each time (and disposing it each time, if I don't one of my analyzers bugs me about it 😉). The second call to signing method fails with `ObjectDisposedException`. I'm using number of private keys. I'd have to create a dictionary for each key I guess to bypass the error.

[2020-03-17 19:03] brentschmaltz opened #1351 "SignedHttpRequestHandler should not cache signatureproviders"
SignedHttpRequestHandler signature providers are thought of as being single use in nature.
Particularly the receiver could validate many requests, each with their own keys, this will lead to a large number of items in the cache.
The sender could benefit from caching and will have the ability to do so.

[2020-03-17 19:04] brentschmaltz opened #1352 "SignedHttpRequests should not have a 'kid' in the header"
This value is not necessary and can with the cnf key.
The cnf key is the authority for the key that signed the jws.

[2020-03-17 20:44] #1219 closed

[2020-03-20 01:42] brentschmaltz commented on #1352
PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1354

[2020-03-20 01:42] #1352 closed

[2020-03-20 01:43] brentschmaltz commented on #1351
PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1354

[2020-03-20 01:43] #1351 closed

[2020-03-22 15:46] gfoidl opened #1356 "Base64UrlEncoder perf improvements"
In [gfoidl.Base64](https://www.nuget.org/packages/gfoidl.Base64/) I created a library with _base64Url_ support for direct encoding / decoding with usage of simd-instruction (and software-fallback).
It's quite a lot faster (with SIMD x2 ... x20 depeding on size, for .NET Standard x2 ... x6) with less allocations [[1]](https://github.com/gfoidl/Base64/blob/e0dbaddb9eb44462dabf2e29b3ab7899c613ef3e/pe

[2020-03-23 01:50] brentschmaltz commented on #1356
@gfoidl we can only take dependencies on .Net right now.
There is an option for users to use this work by hooking their own encoder.
We haven't seen a wide use of this extensibility, so we should run some test to see if your work can plug in.
Have a look to see if this model works: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/2ff50e601b7a798b29a7ae11d45

[2020-03-23 03:01] brentschmaltz commented on #1349
@javiercn any change will modify existing behavior, unless we adopt an opt-in control.

Our long term strategy was to move to Microsoft.IdentityModel.JsonWebTokenHandler which doesn't perform any mapping. This will require coordination between asp.net and IdentityModel. We desire to make this change for 5.0. This will require asp.net to make some changes in the existing token type inside.

I opene

[2020-03-23 03:05] brentschmaltz commented on #1292
@Lilk @simonfox we put in this fix: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1354 which allows for ignoring caching in such cases we should extend this logic to this case.

[2020-03-23 03:30] brentschmaltz opened #1357 "AuthenticationEncryptionProvider should have a dispose method"
AuthenticationEncryptionProvider creates a SignatureProvider which is disposable.
To reduce memory pressure dispose should be added to release managed resources.

[2020-03-23 10:57] gfoidl commented on #1356
If I see it right, then https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/2ff50e601b7a798b29a7ae11d455fb2aaae7070d/src/System.IdentityModel.Tokens.Jwt/JsonExtensions.cs#L31 is an extension for `object <-> JSON`.
_base64Url_ is used in [more places](https://github.com/search?q=Base64UrlEncoder+repo%3AAzureAD%2Fazure-activedirectory-identitymodel-extensions-fo

[2020-03-23 14:05] brentschmaltz commented on #1356
@gfoidl by

We mean the actual .net assemblies, we can't take dependencies on 3rd parties at this layer.

[2020-03-23 14:27] gfoidl commented on #1356
Ah, OK. Thanks for the info. I'm closing this issue then.

[2020-03-23 14:27] #1356 closed

[2020-03-23 21:16] brentschmaltz commented on #1357
Fixed in: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1358

[2020-03-23 21:16] #1357 closed

[2020-03-23 21:17] brentschmaltz commented on #1292
Fixed in 6.5.0 with: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1358

[2020-03-23 21:17] #1292 closed

[2020-03-24 10:18] Blackbaud-ChristiSchneider opened #1361 "Accidental 6.5.0 release?"
Was the 6.5.0 version released on purpose? https://www.nuget.org/packages/Microsoft.IdentityModel.Tokens/6.5.0

There are no documentation updates, changelog, or release listed on github.

[2020-03-24 13:30] brockallen commented on #1361
Huh, going from 5.6 to 6.5?

[2020-03-24 13:34] Blackbaud-ChristiSchneider commented on #1361
Was that a question for me?

[2020-03-24 13:36] brockallen commented on #1361
No... more of a comment about what's happening with this package. Apparently behind the scenes stuff that doesn't get released publicly.

[2020-03-24 15:17] Blackbaud-ChristiSchneider commented on #1361
That's why I filed this - I do not think that this version was supposed to be released like this, and was likely an accident. There's no version 6.5.0 checked in in the master branch.

[2020-03-24 15:58] brentschmaltz commented on #1361
@Blackbaud-ChristiSchneider @brockallen @AndersAbel

This is not accidental nor a conspiracy :-).
There have been two branches for a long time dev5x and dev, both are public.
Signed 6.x nightlies have been pushed publicly. We had a public conversation with @leastprivilege (representing IdentityServer) and others.

We have been managing two release branches and keeping them in sync.
The biggest iss

[2020-03-24 16:06] AndersAbel commented on #1361
Why did you go to 6.5.0 instead of making the new release 6.0.0?

[2020-03-24 16:17] brentschmaltz commented on #1361
@AndersAbel internally we had to meet security requirements of no external packages at the Authn / Authz layer. Plain and simple. This is one of the reason for JsonWebToken (mapping aside :-) )

Most commits were put into both 5.x and 6.x.
We couldn't resource releasing 6.x public until now.
Since internal users are using 6.4.1 we had to release 6.5.0 for nuget to work.

Now internal products and

[2020-03-24 16:23] Blackbaud-ChristiSchneider commented on #1361
Why is 6.5.0 not available in the releases area on github and why isn't the documentation indicating that this version exists in the master branch? This sort of activity is very suspicious - like the malicious npm package release from a couple years ago that affected basically everyone.

[2020-03-24 16:28] brentschmaltz commented on #1361
@Blackbaud-ChristiSchneider that is fair criticism. We will address this.
As for our master branch, that is way out of sync. We haven't been following best practices with master.

Our packages and the internal assemblies are signed.
Nuget requires packages from Microsoft to be signed.

[2020-03-24 16:42] brentschmaltz commented on #1361
@Blackbaud-ChristiSchneider i just tagged the release and pushed the release notes.

[2020-03-24 17:38] brentschmaltz commented on #1361
We hope everyone is satisfied, closing out this issue.

[2020-03-24 17:38] #1361 closed

[2020-03-24 22:07] brentschmaltz commented on #1349
@javiercn any comment?

[2020-03-25 13:37] BJMdotNET opened #1362 "The homepage for this project still says "Current version - 5.5.0""
The homepage for this project still says "Current version - 5.5.0"; in the meantime two new versions have been released: 5.6.0 and 6.5.0.

[2020-03-25 16:24] brentschmaltz commented on #1362
@BJMdotNET updated with notes on reasoning behind 6.5.0.

[2020-03-25 16:24] #1362 closed

[2020-03-26 15:21] brentschmaltz opened #1364 "WsTrustChannelSecurityTokenManager.CreateSecurityTokenManager should add additional checks for token type"
Saml1 and Saml2 tokens have two known identifiers that are regularly used.

For Saml2 see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/34a097ed2a97f1c8d06722bc6d6dca0594f0ed62/src/Microsoft.IdentityModel.Tokens.Saml/Saml2/Saml2Constants.cs#L39
both OasisWssSaml2TokenProfile11  and Saml2TokenProfile11 are used.

For Saml1 see: https://github.com/AzureAD

[2020-03-28 19:05] Andrew-Webb commented on #1335
Do you mean Microsoft.IdentityModel.JsonWebTokens, as in:-

https://www.nuget.org/packages/Microsoft.IdentityModel.JsonWebTokens/

?

[2020-03-28 19:22] Andrew-Webb opened #1365 "Questions about JsonWebTokenHandler"
Re. https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs

1) Is this what you would recommend for creating and consuming JWTs in .NET Core (over previous implementations)?
2) Where is the sample code?
3) Where is the formal documentation?
4) Is it necessarily tied to Azure?  Or ActiveDirectory

[2020-03-30 15:48] erikly commented on #1335
It answered my question, thank you!

[2020-03-30 17:51] brentschmaltz commented on #1365
@Andrew-Webb we have developed JsonWebTokenHandler to fix some issues with JwtSecurityToken / Handler.

Most important it depends on 3rd party libraries.
It is much faster and less complicated.

However, internally asp.net takes a hard dependency on JwtSecurityToken. ISecurityTokenValidator must return a JwtSecurityToken or things will break.

We are working with asp.net so that 5.0 will be able t

[2020-03-31 08:48] Andrew-Webb commented on #1365
I take it you mean the new one _doesn't_ depend on 3rd party libs?  (e.g. Newtonsoft).

Faster is good, and less complicated is even better... `JwtSecurityToken` looked way overcomplicated to me, and I chose to avoid it.

I've gone with a more bespoke implementation for now, based on my fave library:- https://www.chilkatsoft.com/refdoc/csJwtRef.html for token creation, signing and verification, bu

[2020-03-31 17:32] brentschmaltz commented on #1341
@leastprivilege closing for now, if you seen any issues, please let us know ASAP as we are lobbying asp.net to internally use this release in the 5.0 release vehicle.

If we need any structural / api changes, it will be easier to get them in before 5.0.

[2020-03-31 17:32] #1341 closed

[2020-03-31 17:48] brentschmaltz commented on #1302
@shadow-cs @VladislavMorozov AH, ..., if you dispose the ECDsa instance the signature provider has been cached with the ECDsa key inside. The next call will find a cached SignatureProvider.

You can turn caching off:
1.at the App level by writting at startup:

`CryptoProviderFactory.DefaultCacheSignatureProviders`

2. at the call level by writing where MyCustomCryptoProviderFactory overrides : Cre

[2020-03-31 17:49] brentschmaltz commented on #1365
@Andrew-Webb yes thank you, doesn't depend on 3rd party libraries.

Internally within Microsoft, we were required at this level of the security layer to NOT take dependencies on 3rd party libraries. This occurred about a year ago, so major applications inside Microsoft have switched to using JsonWebToken / JsonWebTokenHandler.

I understand the '3rd' release rational. The JsonWebToken is definitel

[2020-03-31 17:49] #1365 closed

[2020-04-02 05:52] waynethompson opened #1368 "Api SecurityTokenExpiredExceptions in App Insights logs"
We have an angular application that gets an access token from identity server and uses it to connect to an aspnetcore api application.

I have added the authentication to the API application with
authenticationBuilder.AddJwtBearer()

In Azure Application Insights logs for the Api i get a lot of Microsoft.IdentityModel.Tokens.SecurityTokenExpiredExceptions but they don't affect the functionality.
I

[2020-04-02 18:13] brentschmaltz commented on #1368
@waynethompson this exception indicates the access token has expired and is no longer valid.
In general the token shouldn't be accepted if expired otherwise any tokens that have been leaked (either in logs or otherwise) OR are in the browser history can be used indefinitely.

The application should not be returning protected resources with this token.

Yes, you should get a new token.

[2020-04-03 15:00] brentschmaltz commented on #1368
@waynethompson so if you are holding on to the token for a while you will need to refresh it.

We have libraries for js that do some of this work for you, refreshing when necessary.
Have a look at: https://github.com/AzureAD/microsoft-authentication-library-for-js

If you need to write your own code, the OAuth 'token' response contains metadata indicating when the token expires.

[2020-04-06 09:11] geredwards opened #1369 "Incompatibility of 6.5 with existing Azure packages"
I've updated a few references to the 6.5 IdentityModel libraries, but a few conflicts exist, particularly around existing Azure packages.
Latest version 4.1.2 of Microsoft.Azure.ServiceBus has a reference constraint on System.IdentityModel.Tokens.Jwt of >=5.4.0 && **<6.0.0** so is incompatible with the new packages.

Similarly, Microsoft.Azure.Management.ResourceManager.Fluent 1.32.0 ends up in a

[2020-04-06 15:29] brentschmaltz commented on #1369
@geredwards I would stay with 5.4.0 or 5.5.0 until we sort this out.
What type of errors are you seeing?
Could you provide some of the steps in your scenario?

[2020-04-06 20:42] brentschmaltz opened #1371 "WsTrustChannelSecuritytokenProvider.GetProoftoken should not assume wstrust1.3"
KeyTypes are version specific (2005 != trust1.3), we need to know the version of the version of trust OR allow different version of trust.

This requires some thought through-out the call graph.
We need to establish the version of trust in the beginning of the read and pass a context through the call graph.

We need to also think about the rst/rstr exchange should versions match?

[2020-04-06 20:52] brentschmaltz opened #1372 "Remove Wilson2015.sln"
We do not maintain this so we shouldn't give people the idea this is supported.

[2020-04-06 20:55] mjrousos commented on #1371
Good catch. The existing `GetTokenCore` also looks like it assumes Trust1.3 (when deserializing/serializing RSTs and RSTRs), so we'll probably need to update that, as well. I'll look to see how we've determined trust version in the past.

[2020-04-06 21:46] mjrousos commented on #1371
[The way this worked in NetFx](https://referencesource.microsoft.com/#System.ServiceModel/System/ServiceModel/Security/ClientCredentialsSecurityTokenManager.cs,399) was that `MessageSecurityVersion` was read:

1. First, from the issuer binding's SecurityBindingElement.
2. If that wasn't present, then (if that wasn't present) from `IssuedSecurityTokenParameters.DefaultMessageSecurityVersion`.
3. If

[2020-04-07 08:16] geredwards commented on #1369
Thanks for your reply, this is the scenario I have...

I have a .net Standard library project which references Microsoft.Azure.ServiceBus
A .net Core 3.1 app references that project, and also references System.IdentityModel.Tokens.Jwt.

I upgrade the packages across the board, so the System.IdentityModel references are now 6.5.

I now get a library project error stating:
[code]
It complains becaus

[2020-04-07 14:53] brentschmaltz commented on #1369
@geredwards thanks for the detail, i will see what we can do, for now you will have to stick with 5.5.0.

[2020-04-07 15:24] brentschmaltz commented on #1369
@geredwards we believe that 6.5.0 for most scenarios is back-compatible with 5.5.0.
There are very few edge cases that will cause issues.

In the Errors and warnings tab, you could suppress warning: NU1608.

[2020-04-07 15:35] geredwards commented on #1369
Thanks for the clarification... Good to hear that it should be backwards compatible. There appear to be quite a few existing packages which have constraints of <6.0.0 on the IdentityModel packages.

I think I'll stick to 5* for the time being - otherwise I'll need to reconfigure all our builds not to treat warnings as errors! :-)

THANKS!

[2020-04-07 15:42] brentschmaltz commented on #1369
@geredwards I will close this out for now.
You can restrict warnings for this specific warning and still fail on others.

[2020-04-07 17:59] #1334 closed

[2020-04-08 01:23] RLlane2126 commented on #1193
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1235

[2020-04-08 01:24] RLlane2126 commented on #1193
### `[
head shotz 1 up top i am my brotherz keeper](url)`

[2020-04-09 11:57] aidanikuz02 opened #1373 "Unity : The type or namespace IdentityModel does not exist in the namespace System"
Hello, Im using Microsoft Visual Studio 2017. I need to debug JWT so i installed System.IdentityModel.Token.Jwt from Project > Manage NuGet packages. But in unity it is showing error like title of this issue. How do i fix this? the version is 6.5.0. I also have the Microsoft.IdentityModel.xxx installed.

[2020-04-09 19:31] arthg commented on #1302
I am experiencing a similar exception when I upgrade from 5.6.0 to 6.5.0.
(Microsoft.IdentityModel.Tokens and System.IdentityModel.Tokens.Jwt)

In this case it is happening on 2nd call after an **RSA** instance disposed.

[code]

Demo code, not production.  First call emits an valid RSA256 token, second call throws:
[code]
When the using is removed the exception is not thrown

I attempted to use t

[2020-04-12 00:44] brentschmaltz opened #1374 "WsTrustChannelSecurityTokenProvider.GetTokenCore should not assume Saml2 tokens"
We need to generalize the token type and provide the ability to return Saml1 and Saml2 tokens.

[2020-04-13 19:54] mjrousos commented on #1374
Looking at NetFx source, it looks like in the past the [token type was determined by looking at the RSTR](https://referencesource.microsoft.com/#System.ServiceModel/System/ServiceModel/Security/WSTrust.cs,675) but, curiously, the token type doesn't appear to ever be used! As far as I can tell, on NetFx, WSTrust just [gets the token as an XML element](https://referencesource.microsoft.com/#System.S

[2020-04-17 11:32] juanan opened #1376 "Saml2 protocol"
Hi,

is there any way now to support the Saml2 protocol as in the past with Saml2AuthenticationModule?

Thanks a lot,
Best regards.

[2020-04-17 17:16] kevinchalet opened #1378 "Please consider adding a TokenValidationParameters.TypeValidator property"
Thanks to the excellent `typ` support introduced in recent versions of Wilson, I've been able to remove the custom validation logic used in ASOS/OpenIddict 1.x/2.x (which was based on a private `token_usage` claim). Due to this change, it's currently hard for me to keep JWT tokens produced by older versions compatible with OpenIddict 3.0. For that, a new API in TVP - very similar to the existing h

[2020-04-17 17:18] kevinchalet opened #1379 "TokenValidationParameters.ValidTypes is not preserved when cloning a TVP instance"
Likely due to an oversight, the `ValidTypes` property is not set by TVP's constructor when cloning a TVP instance:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/6cf2400a3d6f55cc62e4e07b55bd6b6e9ddd4189/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L145-L188

[2020-04-17 17:18] kevinchalet commented on #1379
/cc @brentschmaltz

[2020-04-18 03:08] brentschmaltz commented on #1379
@kevinchalet right you are sorry about that, we will fix that.

[2020-04-19 10:12] KamranShahid commented on #1347
Then atleast put some option to set it as per the requirement.

[2020-04-20 20:48] brentschmaltz commented on #1376
@juanan seems like i forgot to save my comments,
Are you specifically speaking about samlp signin envelope?

We made some changes with our envelope reader and writers that support multiple signatures as samlp envelopes are signed and contain other elements with signatures.

Yes, it is possible, but you would have some work to do.
Adding @AndersAbel as he went down this road and has some experience

[2020-04-21 01:47] #1379 closed

[2020-04-21 01:50] brentschmaltz commented on #1379
@kevinchalet i piggy-backed this into a service fix we needed. Should be out in a day or so. 6.5.1.

[2020-04-21 06:25] AndersAbel commented on #1376
I'm the main author and maintainer of the [Sustainsys.Saml2](https://github.com/Sustainsys/Saml2) open source Saml2 package. There is a Saml2AuthenticationModule in the library, as well as an Owin middleware and an Asp.Net Core handler. The Saml2 library uses this (Microsoft.IdentityModel) library for the token handling.

The changes @brentschmaltz mentions were done to support some scenarios with

[2020-04-21 06:53] juanan commented on #1376
Hi, the thing is that I have to migrate an old component using Microsoft.IdentityModel.Protocols.dll v1.0 where the class Saml2AuthenticationModule was present.

My doubt appeared when I upgraded the Microsoft.IdentityModel Nuget and I noticed that this class was removed, for that I launched the question about if Saml2P was still possible.

But I guess that this part of code was in certain way mov

[2020-04-21 06:58] AndersAbel commented on #1376
@juanan No code was moved to Sustainsys.Saml2 and the API will not be the same. But it is an HttpModule that supports Saml2P and it should be possible to replace it with the Sustainsys.Saml2.HttpModule package.

[2020-04-21 07:01] juanan commented on #1376
Cool, I will use the Sustainsys.Saml2.HttpModule package,

Best regards.

[2020-04-21 07:01] #1376 closed

[2020-04-21 16:01] kevinchalet commented on #1379
Good news! I know https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1378 is not a bug, but is there's any chance it could be part of an incoming release? As I said, I'm fine submitting a PR if you approve the idea and it could help.

[2020-04-21 18:08] henrik-me opened #1383 "[Doc] When overriding TokenReplayCache document how to account for the clock skew appropriately"
Add details to our docs on how to handle clock skew when overriding TokenReplayCache

**Additional considerations:**
Besides the doc's we are also evaluating whether we should add a new interface for interacting with the TokenReplayCache or alternatively an opt in usage. Something which would easily enable handling clockskew correctly.

[2020-04-23 18:13] brentschmaltz commented on #1374
This has been fixed

[2020-04-28 03:36] brentschmaltz commented on #1379
@kevinchalet there was a memory pressure that we fixed that some teams were waiting on so we pushed 6.5.1, but our pipeline is fairly slick, so we can get 6.5.2 or 6.6.0 out with #1378 quickly.

[2020-04-28 12:46] kevinchalet commented on #1379
Great, thanks @brentschmaltz!

[2020-04-28 15:45] #1372 closed

[2020-04-28 17:23] brentschmaltz commented on #1368
@waynethompson closing for now, please reopen if you have additional asks.

[2020-04-28 17:25] brentschmaltz commented on #1371
we have added the version to WsTrustParameters

[2020-04-28 17:25] #1371 closed

[2020-04-28 17:25] #1368 closed

[2020-04-28 17:31] brentschmaltz commented on #1339
@davidikin45 this is a bug, there is no good reason.
We will get this fixed as all keys will be tried.

[2020-04-28 17:32] #1369 closed

[2020-04-28 17:53] brentschmaltz commented on #1327
release notes have updated, supported-algorithms are updated

[2020-04-28 17:53] #1327 closed

[2020-04-28 18:09] brentschmaltz commented on #1347
@KamranShahid by design we make it hard to do things that we do not consider secure.

[2020-04-28 20:56] #1378 closed

[2020-04-28 20:57] keegan-caruso commented on #1373
@aidanikuz02 Unity requires a special process to add nuget packages. Please follow this guide:

https://docs.microsoft.com/en-us/visualstudio/cross-platform/unity-scripting-upgrade?view=vs-2017#add-packages-from-nuget-to-a-unity-project

[2020-04-29 08:16] KamranShahid commented on #1347
Totally Agreed. But My Case is regarding support of some legacy system which might be running in production

[2020-04-29 12:03] brentschmaltz commented on #1347
@KamranShahid the solution I outlined above, although complicated (by design :-) ), is durable as it uses public API's. This is of the reasons for extensibility. Microsoft is committed to maintaining backward compatibility. There are times when this is has to be broken, but this is very rare as we know how much trouble breaking backward compatibility causes.

[2020-04-29 18:56] #1273 closed

[2020-04-30 17:51] brentschmaltz opened #1393 "SignedHttpRequest values should be validated if they are found."
make these optional by default

[2020-04-30 22:36] #1324 closed

[2020-04-30 23:23] brentschmaltz commented on #1227
We shouldn't do this because asp.net users will be broken.
We need a new interface / abstraction that only new code will use.

[2020-04-30 23:23] #1227 closed

[2020-04-30 23:26] brentschmaltz commented on #852
@thuannguy @johnthcall @kabronkline @Mahe85 @ndneubauer we are closing on this for a preview WCF wsfederation binding release.
Now is the time to have a look and see if this feature meets your needs.

[2020-04-30 23:40] brentschmaltz commented on #1224
@leastprivilege @kevinchalet wrote: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1385 i am thinking this is a good candidate for a fix next week.

I am thinking Delegate + IEnumerable<string>.

We have two new hires, so we can get more done :-)

[2020-04-30 23:45] brentschmaltz commented on #1344
@michaelmualem i assume you are satisfied with this result.
you can build the packages, but you will not be able to sign them

[2020-04-30 23:45] #1344 closed

[2020-04-30 23:47] #1125 closed

[2020-05-01 06:07] adeshtc commented on #1124
HI Guys,

When i use ConfigManager.GetConfigurationAsync().Result by passing the metdataUrl i will be getting the securityTokens
But when i using the OpenIdConnectConfiguration(string json) by passing metadatstring then the securitytokens count will be 0.

i dont want want to use metdata url.

Please help me . Thanks in advance

(https://user-images.githubusercontent.com/10420328/80786047-039efa00

[2020-05-01 14:22] brentschmaltz commented on #1124
@adeshtc when [OpenIdConnectConfigurationRetriever.GetAsync](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/bd742d4d4730cfab4905e3a77fc6539965b54839/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/Configuration/OpenIdConnectConfigurationRetriever.cs#L79) called from [ConfigurationManager.GetConfigurationAsync](https://github.com/AzureAD/azure-activedi

[2020-05-01 14:36] #1339 closed

[2020-05-01 14:46] brentschmaltz commented on #1373
@aidanikuz02 if this doesn't solve your problem, please reopen.

[2020-05-01 14:46] #1373 closed

[2020-05-01 14:49] brentschmaltz commented on #1345
@KamranShahid we have released 6.5.1 that does not have an external dependency on Newtonsoft.

[2020-05-01 14:49] #1345 closed

[2020-05-01 15:03] brentschmaltz commented on #1313
We should check how we handle roundtripping json when an array has a single string.
Check JsonWebToken.AddClaimsFromJToken

[2020-05-01 15:12] brentschmaltz commented on #1036
@GeoK since the goal is for users to be able to get symbols, closing this issue.

[2020-05-01 15:12] #1036 closed

[2020-05-01 15:23] brentschmaltz commented on #1264
Marked this in 6.6.0, but we may not have time.

[2020-05-01 15:28] #1364 closed

[2020-05-02 04:11] henrik-me commented on #1393
@brentschmaltz perhaps these changes should be opt. in? That is, a flag which enables these claims to be optional and not required.

[2020-05-04 01:54] brentschmaltz commented on #1393
@henrik-me, yes thanks i changed the title to include 'default'.

[2020-05-04 08:40] esavini opened #1396 "Pass IKeyVaultClient as parameter"
I have one suggestion, to improve the testing of the projects that are using this library. I have spent the last two days making copy and paste of this library's code and adapting it.
The major issue is you cannot pass the `IKeyVaultClient `instance to the constructors of `Microsoft.IdentityModel.KeyVaultExtensions.KeyVaultSecurityKey`and `Microsoft.IdentityModel.KeyVaultExtensions.KeyVaultCryptoP

[2020-05-04 13:57] kevinchalet opened #1397 "Consider adding a TokenType property to SecurityTokenDescriptor"
When creating an encrypted JWT using the `CreateToken(SecurityTokenDescriptor tokenDescriptor)` API, the headers added to `SecurityTokenDescriptor.AdditionalHeaderClaims` are only used for the JWE container and not the JWS. If you want to assign the JWS a specific `typ`, you must first create an unencrypted token with `AdditionalHeaderClaims` populated and then encrypt it manually, potentially wit

[2020-05-04 16:20] brentschmaltz commented on #1397
@kevinchalet good idea. I marked this for 6.6.0.

[2020-05-04 18:30] brentschmaltz commented on #1393
If a non-empty or null value exist, then they should be validated.

for example 'm' is NOT required
if 'm' is null or empty-string then there should be no failure.

otherwise 'm' should be validated.

[2020-05-04 23:47] abatishchev commented on #1296
Any change to come back to this, please? Right now it's impossible to understand from the [readme](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/f262e31d7b3a404f2f6ea956b62d704c5e27fe0e/README.md) what's the name of the resulting NuGet package.

[2020-05-05 16:57] hauntingEcho opened #1401 "issue in error message when no audience field present"
Currently, I'm receiving the following error message:
[code]

When trying to validate a JWT with the payload:
[code]

as there is no audience, [the field should not be validated per the JWT spec](https://tools.ietf.org/html/rfc7519#section-4.1.3).  However, I'm not really able to dig into what's going on without more info from that error message.  It looks like [it's being thrown here.](https://gi

[2020-05-05 17:09] hauntingEcho commented on #1401
This turned out to be a dependency issue - closing this ticket

[2020-05-05 17:09] #1401 closed, assigned to nobody

[2020-05-05 17:17] hauntingEcho opened #1402 "JWT aud field is optional, but validation fails when not present"
I'm currently attempting to verify a JWT received from Cognito, which [does not include the aud claim](https://stackoverflow.com/q/53148711/10100823).  As [the aud claim is optional](https://tools.ietf.org/html/rfc7519#section-4.1.3), this should be fine.  However, I'm receiving the error:

[code]

It looks like [that error is being thrown here](https://github.com/AzureAD/azure-activedirectory-ide

[2020-05-05 17:30] hauntingEcho commented on #1402
we intend to disable `validationParameters.ValidateAudience` as a temporary workaround, but would ultimately like to keep validation enabled for tokens which have the claim

[2020-05-05 22:02] brentschmaltz opened #1403 "Add Helper Methods to System.ServieModel.Federation for creating different versions of WsFederation"
We want two static helper methods
WsFederationBinding.CreateWs2007FederationBinding and CreateWsFederationBinding so that users will not need to set the version of WS protocols that are needed to talk to the RelyingParty.

The results should be the same as a new desktop WsFederationHttpBinding and Ws2007FederationHttpBinding

[2020-05-06 00:50] MedAnd commented on #1205
@brentschmaltz - any update on this feature?

[2020-05-06 04:25] brentschmaltz commented on #1205
@MedAnd we are figuring out when we can get this in. It's in our committed backlog.

[2020-05-06 05:35] MedAnd commented on #1205
@brentschmaltz - more of related topic but hope this will also include guidance on how to configure for multi-issuer scenarios as I could not find in existing docs? For example OpenIdConnectConfiguration may need to retrieve public IssuerSigningKeys from multiple IdPs...

Are there any performance considerations of above use case scenario, for example should the OpenIdConnectConfiguration be a sin

[2020-05-06 16:49] brentschmaltz commented on #1393
@keegan-caruso thanks for jumping on this.

We are in a interesting spot as our API's with Validate in TokenValidationParameters are skipped even if an artifact exists, except for signatures.
For example, TokenValidationParameters.ValidateLifetime == false and 'exp' is in the past, the check will never be made.

Currently, SignedHttpRequestParameters.ValidateM is ON or OFF.

This change is to enab

[2020-05-06 17:10] brentschmaltz commented on #1205
@MedAnd we developed a model that supports multiple inbound security policies including multiple IDP's (google, aad, aws, ...), authentication schemes (bearer, pop, ...), token types (saml1, saml2, jwt, cbor, ...).

When a request arrives, processing obtains a policy that can process a specific authentication scheme. It may be the case multiple policies exist (bearer, where both google and aad are

[2020-05-06 18:16] #1128 closed

[2020-05-09 06:22] lekrus opened #1406 "NullReferenceException in LogHelper.RemovePII when arg is null"
According to description, WsFederationMessage FromQueryString should allow "empty or null" queryString. But it fails with NullReferenceException when queryString is null

[code]
due to issue with LogHelper.RemovePII:
[code]

[2020-05-11 19:29] brentschmaltz commented on #1402
@hauntingEcho you are correct that https://tools.ietf.org/html/rfc7519#section-4.1.3 specifies the claim as optional.

Both the OIDC and OAuth 2.0 indicate the need for check the value of this claim.
(OIDC - required, OAuth 2.0 - should).

Since our SDK is used mainly to validate inbound request, we validate the 'aud' by default.

OIDC: https://openid.net/specs/openid-connect-core-1_0.html#IDToken

[2020-05-11 19:29] #1402 closed, assigned to brentschmaltz

[2020-05-11 19:36] RojaEnnam opened #1407 "Add support for TokenValidatonParameters.TryAllIssuerSigningKeys in saml/saml2 token handlers"
We introduced TryAllIssuerSigningKeys  as a property of TokenValidatonParameters to control if all keys need to be tried while validating signature.

Only JsonWebToken and JwtSecurityToken handlers support this currently.
We also need to add it in SAML/SAML2 token handlers.

[2020-05-11 22:49] keegan-caruso commented on #1224
@brentschmaltz How are you envisioning this looking vs TokenDecryptionKeyResolver or TokenDecryptionKeys on TokenValidationParameters?

[2020-05-11 22:55] brentschmaltz opened #1408 "Add documentation for users that derived from our exceptions and perform serialization."
Some of our exceptions have a serialization model that put data into serializationInfo.
If a user puts in data of a different type with the same index key, the runtime will throw when deserializing.

The documentation should include that we have a model of using the fully qualified name / namespace as our keys, so it should be easy to avoid a conflict.

[2020-05-12 00:21] #1407 closed, assigned to RojaEnnam

[2020-05-12 13:56] hauntingEcho commented on #1402
That makes sense - it may be helpful to have a different error message in that case, since by default 'empty' gets censored (by PII settings) so it seems as though something's setting a literal 'empty' `aud`

[2020-05-12 16:24] brentschmaltz commented on #1224
@keegan-caruso I'm thinking TokenValidationParameters seems to make sense as that is where we control validation.

[2020-05-12 16:28] brentschmaltz commented on #1402
@hauntingEcho could open an issue describing what improvements to the error message would be? We view error messaging as important, the fixes are easy and benefit can be large.

Customer opened issues have a bit more weight than internal :-)

[2020-05-12 20:31] hauntingEcho opened #1410 "Improve error message when 'aud' claim is empty"
I'm currently attempting to verify a JWT received from Cognito, which [does not include the aud claim](https://stackoverflow.com/q/53148711/10100823).  As [the aud claim is optional](https://tools.ietf.org/html/rfc7519#section-4.1.3), this should be fine.  However, I'm receiving the error:

[code]

It looks like [that error is being thrown here](https://github.com/AzureAD/azure-activedirectory-ide

[2020-05-12 20:44] hauntingEcho commented on #1402
opened as #1410 - thanks!

[2020-05-13 05:30] danvic712 opened #1412 "Parse the jwt token information encrypted by HS512 algorithm"
Hi
In my project, I need to verify a token generated by HS512 algorithm(generated by spring security), here is my code and the key is `mySecret`, and the program show this error
[code]
![image](https://user-images.githubusercontent.com/32116018/81774714-db0eec80-951d-11ea-8ceb-53faaa21dae1.png)

[2020-05-14 14:59] #1300 closed

[2020-05-14 15:45] brentschmaltz commented on #1209
@snoward , @kevinchalet coded this up and it should be in our 6.6.0 release coming up within a week.

@kevinchalet thanks!

[2020-05-14 15:49] kevinchalet commented on #1209
My pleasure 😃

[2020-05-15 20:23] #1209 closed

[2020-05-21 14:52] #1290 closed

[2020-05-21 19:17] #1406 closed, assigned to RojaEnnam

[2020-05-22 15:36] brentschmaltz opened #1419 "SupportedAlgorithms.IsSupportedKeyWrapAlgorithm does not consider SymmetricAlgorithms"
Our runtime supports SymmetricKeyWrap algorithms:
A128KeyWrap and A256KeyWrap.

This method should account for these algorithms.

[2020-05-22 16:39] #1224 closed

[2020-05-22 20:24] #1155 closed

[2020-05-22 20:47] #1236 closed

[2020-05-22 22:45] brentschmaltz commented on #1209
@kevinchalet @snoward 6.6.0 has been pushed to nuget.org

[2020-05-22 22:46] brentschmaltz commented on #1224
@leastprivilege 6.6.0 has be pushed to nuget.org

[2020-05-22 23:39] kevinchalet commented on #1209
Awesome, thanks! :clap:

[2020-05-25 08:15] juanan opened #1421 "OpenIdConnect and ASPNET"
H,

I want to include in my ASPNET (.Net Framework 4.7.2) the protocol OpenIdConnect to authenticate against an Identity Server using a code authorization flow with Pkce.

My question is if I can use your Protocols.OpenIdConnect nuget package because all examples are with ASPNET Core or MVC.

Many thanks.

[2020-05-26 12:33] awbmansour opened #1422 "Microsoft.IdentityModel.Tokens 6.6.0 fails to install with Microsoft.Rest.ClientRuntime.Azure.Authentication 2.4.0"
Microsoft.IdentityModel.Tokens 6.6.0 fails to install due to compatibility issue with Microsoft.Rest.ClientRuntime.Azure.Authentication 2.4.0

The error message is:

Microsoft.IdentityModel.Tokens 6.6.0 is not compatible with Microsoft.Rest.ClientRuntime.Azure.Authentication 2.4.0 constraint: Microsoft.IdentityModel.Tokens (>= 5.1.2 && < 6.0.0)

Environment is Visual Studio 2019, an MVC 5 App, .NE

[2020-05-26 13:24] paulhickman-a365 opened #1423 "Missing release / release note for 6.6.0"
A 6.6.0 release has appeared on nuget but it isn't in the Releases tab in this repository.

[2020-05-26 16:56] brentschmaltz commented on #1423
@paulhickman-a365 thanks, release notes published.

[2020-05-26 16:56] #1423 closed, assigned to nobody

[2020-05-26 17:01] brentschmaltz commented on #1421
@juanan pkce is normally used for public clients, https://tools.ietf.org/html/rfc7636. Are you using public clients?

[2020-05-26 17:07] brentschmaltz commented on #1422
@awbmansour can you please open an issue here: https://github.com/Azure/azure-sdk-for-net

[2020-05-26 17:07] #1422 closed, assigned to nobody

[2020-05-27 19:41] GeoK opened #1425 "Add FxCop analyzers to the project"
https://docs.microsoft.com/en-us/visualstudio/code-quality/install-fxcop-analyzers?view=vs-2019

[2020-05-27 19:45] GeoK opened #1426 "Add net5.0 target"
Add net5.0 target and optimize hot-paths to leverage new .net features and System.Text.Json.

[2020-05-28 07:07] juanan commented on #1421
Yes, its a public client.

[2020-05-28 23:46] brentschmaltz commented on #1421
@juanan we don't have turn-key support for this as web servers usually use confidential clients, which require registering a public key with the Identity Server, when redeeming authorization code.

[2020-05-29 10:23] juanan commented on #1421
ok many thanks.

[2020-05-29 10:23] #1421 closed, assigned to nobody

[2020-05-29 11:28] theolivenbaum opened #1427 "JwtSecurityTokenHandler wrong message on exception"
Just hit this today, there seems to be a bug with this line:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/e4f8a0c3cd1d7d0e62a2e48be7bdc91a7fdddb24/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L1437

Where it prints the object type instead of the actual message in the StringBuilder.

[code]

The fix should be as simple as calling .ToSt

[2020-05-29 12:57] huismansander commented on #1122
I had to refine this workround as follows in case of validating the token with a VmWare IDPVMware Workspace ONE Access v20.01:

if (modulus.Length == 129 && modulus[0] == 0)
{
            // Prevent Modules in the security key from starting with value 0
            var newModulus = new byte[128];
            Array.Copy(modulus, 1, newModulus, 0, 128);
            webKey.N = Base64UrlEncoder.Encode

[2020-05-30 14:05] petro2050 opened #1429 "Can't update Azure Functions SDK because of JWT"
I'm currently on Microsoft.NET.Sdk.Functions 3.0.3 and trying to update to **3.0.7**. I'm using System.IdentityModel.Tokens.Jwt 6.6.0. When I update my function sdk, I get a runtime error.

`System.IO.FileNotFoundException: Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=6.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.

[2020-05-31 11:39] javiercn commented on #1349
@brentschmaltz Sorry, this got missed in my swath of notifications. I'm not familiar with JsonWebTokenHandler I think we can keep this open in case we don't move away from it in the 5.0 timeframe.

The issue here is simple and ultimately what I care about is our customers having a nice E2E. Whether that is achieved by switching the handler or fixing this particular issue, I have no preference.

[2020-06-01 11:01] onyxmaster opened #1430 "The default token validation does not allow explicitly specifying current time"
The default implementation of token validation [depends on `DateTime.UtcNow`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/e4928aff114bf17ee04bd0360b15da6d33694b06/src/Microsoft.IdentityModel.Tokens/Validators.cs#L327) to determine current time. While using `DateTime.UtcNow` as a default is fine and covers most of the production cases, the lack of abili

[2020-06-02 01:17] kesane-msft opened #1431 "Token decryption fails if incoming token doesn't have kid (key id) in the protected header."
My application receives encrypted web tokens from AAD. I am using the OWIN middleware for setting up the token decryption parameters. I am setting the `TokenValidationParameters.TokenDecryptionKeys` with a set of two certificates either of which might be used to encrypt the token. (I am testing the certificate rotation flow).
However, when I am testing the code, I see the following error being rep

[2020-06-02 17:32] brentschmaltz commented on #1349
@javiercn thanks for the update, will keep it open.

[2020-06-02 17:34] brentschmaltz commented on #1431
@kesane-msft nice work in figuring out a workaround. Definitely a bug we should fix.

[2020-06-02 17:38] brentschmaltz commented on #1430
@onyxmaster this makes sense and would help testing. For these type of reasons we changed to creating tokens dynamically for tests OR turning lifetime validation off. There are solid reasons for static tokens, such as reference testing, so I agree with such a feature.

[2020-06-02 17:45] brentschmaltz commented on #1427
@theolivenbaum thanks for reporting this, sorry for the hassle.

[2020-06-03 17:25] gislikonrad opened #1432 "SamlSerializer.ReadAssertion unable to read MajorVersion attribute."
I noticed a difference of how SamlSerializer reads the MajorVersion and MinorVersion attributes of the Assertion and how Saml2Serializer reads the Version attribute of the Assertion.

SamlSerializer always fails because it can't read any of the attributes on the Assertion element. It's reading them wrong as demostrated by how it reads MajorVersion with [this line](https://github.com/AzureAD/azure-

[2020-06-03 19:57] Tratcher opened #1433 "JwtSecurityTokenHandler.ValidateToken throws ObjectDisposedException"
---
**Issue moved from dotnet/aspnetcore#22490**
- Please respond to @vlkchris.

---

_From @vlkchris on Wednesday, June 3, 2020 9:50:59 AM_

### Describe the bug
I use RSA.Create() to create an RSA instance, and then use .ImportSubjectPublicKeyInfo to import public key.
- The first time I call my validate token method it runs fine.
- The second time I call it, I get SecurityTokenInvalidSignatureE

[2020-06-04 00:43] GeoK commented on #1433
Hi @vlkchris, the issue here is that IdentityModel by default caches signature providers, together with and keys which you disposed.

In [your sample](https://github.com/vlkchris/JwtHelper/blob/d15c2f18676653d7fe317a8e8c481e282a0bd694/JwtHelperTests.cs#L31), first validation succeeds, and IdentityModel adds a signature provider (with your key) to the cache.
In the [second validation](https://githu

[2020-06-04 08:38] vlkchris commented on #1433
Hi George,

Thank you for this explanation and te proposed workarounds.
I was already working with solution 1 and that is working fine, but I was worried about not disposing the object. Lots of examples on RSA contain a using statement, so I assumed that not disposing would be a bad idea.
Can you elaborate a bit on how this provider caching works? Am I right in assuming that these cached entries w

[2020-06-04 13:15] gislikonrad commented on #1432
This is a non issue. The bug was on my end, but only affected the SamlSecurityTokenHandler, not the Saml2SecurityTokenHandler.

[2020-06-04 13:15] #1432 closed, assigned to nobody

[2020-06-08 16:58] keegan-caruso opened #1434 "Examine disposable behavior for classes that hold AsymmetricAlgorithm"
At a minimum:

- RsaSecurityKey has a reference to Rsa of type RSA which extends AsymmetricAlgorithm.
- X509SecurityKey has a reference to AsymmetricAlgorithm

AsymmetricAdapter already implements IDisposable

[2020-06-08 21:00] senylity commented on #1427
It happens on expired tokens as well

`IDX10223: Lifetime validation failed. The token is expired. ValidTo: 'System.DateTime', Current time: 'System.DateTime'`

Any time frame on a fix?

[2020-06-08 21:27] AaronKoller commented on #1427
I agree.  I am having the same issue too.

[2020-06-09 06:32] mitchdenny commented on #1429
Just bumped into this as well.

[2020-06-09 13:55] gislikonrad opened #1436 "SamlSerializer fails to validate token using XmlReader created from XDocument"
I have a really obscure bug. The application I'm working on has need for a non-forward-only reader for XML based tokens. When validating these tokens, I'm using the SecurityTokenHandlers from this repository and sending in an XmlReader that is created by XDocument.CreateReader(). The SamlSecurityTokenHandler is unable to use this reader to validate tokens. It fails to read the attributes in the As

[2020-06-09 13:59] gislikonrad commented on #1436
I have a [repository](https://github.com/gislikonrad/saml-token-validation-error-repro) that contains a reproduction.

[2020-06-10 14:47] brentschmaltz commented on #1434
@keegan-caruso we should also include ECD security keys, signatureproviders.

[2020-06-10 15:54] keegan-caruso commented on #1434
@brentschmaltz good call.

I think we want to go ahead and implement IDisposable on all of these. On an upgrade, static analysis (FxCop / Rosylyn analyzers) will flag this for some consumers of the library (based on analysis configuration). Which is good, we want that to be surfaced. In the case that the user does not want to transfer ownership of the AsymmetricAlgorithm, they don't call dispose a

[2020-06-10 16:07] brentschmaltz commented on #1436
@gislikonrad yes, this is a error on our part.
During development of WsTrust, i coded a different solution for attributes.
When time permits, we will integrate this solution.
For now, I think your PR will fix the issue without any side effects.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/e019cbea21f186903ad5a17e641d42bb93a856e3/src/Microsoft.Ident

[2020-06-10 20:19] keegan-caruso opened #1442 "Add editorconfig"
Use [this](https://github.com/dotnet/runtime/blob/master/.editorconfig) as a starting point.

It would be good to codify the style used in this repository. Will also give an good spot to do cross-project analysis configuration.

[2020-06-10 20:26] cathalpern commented on #1258
@brentschmaltz
Any ETA on this? Having the same issue.

[2020-06-11 08:47] reponemec opened #1446 "Customize RequestedAttribute element (AuthnRequest)"
Is there a point somewhere in API for adding RequestedAttribute elements into the AuthnRequest element?
I use FederationMetadata.xml emited by STS but that file lacks (I do not know why) important ClaimsTypesOffered/ClaimType elements I need. If I add them into the metadata XML manualy, STS simply ignore them.

It seems a good point could be one of the .W... property of the WsFederationMessage cla

[2020-06-11 15:40] brentschmaltz commented on #1446
@reponemec the library you are referencing is designed for WaSignin scenarios.
We haven't considered samlp scenarios.
Perhaps @AndersAbel has some help.

[2020-06-11 19:40] AndersAbel commented on #1446
The [Sustainsys.Saml2](/Sustainsys/Saml2) library supports eidas extensions in the AuthnRequest as well as the required extensions in the SP metadata.

Internally the Sustainsys.Saml2 library uses the Microsoft.IdentityModel libraries for token handling.

[2020-06-12 19:35] GeoK commented on #1429
@petro2050, @mitchdenny  - Can you try out the workaround specified in the Microsoft.NET.Sdk.Functions repo?

https://github.com/Azure/azure-functions-vs-build-sdk/issues/397#issuecomment-615445340

[2020-06-12 21:06] GeoK opened #1447 "Crypto provider cache entries should be automatically evicted"
Currently, items added to crypto provider cache will never expire.
We should consider evicting these items from the cache after certain time, or if they are not accessed in a given span of time.

[2020-06-12 21:07] GeoK commented on #1433
@vlkchris - Apologies for the delay in getting a response to you.

Crypto provider caching is introduced as a feature in 5.2.2 to improve perf in some of the hot paths.
In 5.5.0, caching of signature providers was enabled by default (#1129).

You are correct, cached entries will not expire by default and that is a great candidate for an improvement. I opened up a ticket #1447.

In the meantime, pl

[2020-06-12 23:11] brentschmaltz opened #1448 "HttpRequestData.PropertyBag should throw if value is null."
This is most likely a programming error.

[2020-06-12 23:36] brentschmaltz commented on #1258
@cathalpern I moved this to the current release, which was marked as today.
The team has a planning meeting on Monday, we will set a realistic release date.

[2020-06-12 23:38] brentschmaltz commented on #1427
@AaronKoller @senylity @theolivenbaum this is currently marked for the next release, we have a planning on Monday and we will set a realistic date for the release.

[2020-06-15 10:29] gislikonrad opened #1449 "DSigSerializer is difficult to override for multiple references"
The ReadSignedInfo method in DSigSerializer calls the ReadReference method once and adds the Reference returned into the References collection. If another reference is available, then ReadSignedInfo throws an exception.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/brentsch/wstrust/src/Microsoft.IdentityModel.Xml/DsigSerializer.cs#L400

If the check for

[2020-06-15 10:31] negberts opened #1450 "Trouble finding examples for 1.0 tokens and .net framework 4.7.2"
Hi,

We have an Service Fabric application that is now using ADAL and an Angular SPA that call's the API of the service fabric application. The API runs on .net framework 4.7.2. We want to migrate to MSAL.

I have succesfully configured Angular to attach bearer tokens to the API. However, in the API the user is still unauthorized.

The scope of the token is http://ilionx.onmicrosoft.com/PimLocalSf

[2020-06-15 11:07] dxynnez commented on #1369
@brentschmaltz is there any followup task created to help track on this? We also have dependencies on IdentityModel.Tokens > 6.0 but a lot of azure packages are still using IdentityModel.Tokens >= 5.1.2 && < 6.0.0.

[2020-06-15 11:30] vlkchris commented on #1433
@GeoK - No worries about the delay, there is no urgency on my side.
I am happy using workaround #1 for now, and if necessary I'll disable caching.
I'll be on the lookout for any development on this, subscribed to #1447

[2020-06-15 13:16] jmprieur commented on #1450
@negberts, I propose you try the scope `http://ilionx.onmicrosoft.com/PimLocalSfWebApi/.default` (see the other thread)

[2020-06-15 16:07] brentschmaltz commented on #1449
@gislikonrad you are correct, we designed the serializer for a single reference related to saml tokens and wsfederation metadata.

This is a good suggestion and may open up users to develop support for multiple references.
I labeled this as an enhancement.

Support multiple references is an undertaking that is a bit complicated and needs to take into the type of the message and the context the mes

[2020-06-15 16:15] brentschmaltz commented on #1450
@jmprieur @negberts I don't think this is an IdentityModel issue and perhaps should be opened in https://github.com/AzureAD/microsoft-identity-web

@negberts the following code could cause a deadlock, you should add ConfigureAwait(false).
OpenIdConnectConfiguration config = configManager.GetConfigurationAsync().Result;

[2020-06-15 16:15] #1450 closed, assigned to nobody

[2020-06-15 16:54] keegan-caruso opened #1452 "Create documentation that shows how to collect log messages"
It would be good to have documentation that shows how to collect logs from the IdentityModelEventSource.

This could either be in the wiki or right in the readme

[2020-06-15 18:01] brentschmaltz commented on #1436
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1437

[2020-06-15 18:01] #1436 closed, assigned to brentschmaltz

[2020-06-15 18:04] brentschmaltz commented on #1205
This should be handled by the ASP.Net handler under development.

[2020-06-15 18:12] brentschmaltz commented on #1188
We need to duplicate the functionality that we associated with Payload. We currently have GetClaim that assumes we are getting the System.Security.Claims.Claim from the payload.
We will probably need a new api: GetHeaderClaim, TryGetHeaderClaim.

[2020-06-15 18:13] brentschmaltz commented on #1226
JsonWebTokenHandler has multiple methods that take a string for the payload.

[2020-06-15 18:13] #1226 closed

[2020-06-15 18:17] brentschmaltz commented on #1183
@GeoK @henrik-me we have had very little feedback that anyone has been broken. The number of breaking changes are small, I have closed this.
We can reopen or handle issues as they arise.

[2020-06-15 18:17] #1183 closed

[2020-06-15 18:22] brentschmaltz commented on #1093
It's really only: XmlDictionaryReader.CreateTextReader(Encoding.UTF8.GetBytes(value), XmlDictionaryReaderQuotas.Max))

Probably not worth thinking about.

[2020-06-15 18:22] #1093 closed

[2020-06-15 18:27] brentschmaltz commented on #1175
Users can specify acceptable algorithms with this change: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1413

[2020-06-15 18:27] #1175 closed

[2020-06-15 18:38] brentschmaltz commented on #1152
@mafurman @henrik-me
I think we can follow the pattern of using fully qualified namespace names.
For example, we can use "Microsoft.IdentityModel.Tokens.MyPropertyBagItem", this seems reasonable.

[2020-06-15 18:38] #1152 closed

[2020-06-15 18:40] brentschmaltz commented on #1107
This is will help users that want to use JWT's and WCF or other SOAP messaging.

[2020-06-15 19:11] brentschmaltz commented on #1148
@henrik-me we can probably live without this.

[2020-06-15 19:11] #1148 closed

[2020-06-15 19:14] brentschmaltz commented on #1144
@henrik-me this would be a breaking change, no real good reason to do it.

[2020-06-15 19:14] #1144 closed

[2020-06-15 19:18] brentschmaltz commented on #508
@ccrookms @henrik-me we have added an TokenValidationResult JsonWebTokenHandler.ValidateToken that does not throw.
I added the label ASP.NET handler to coordinate with the SAL work.

[2020-06-15 19:19] brentschmaltz commented on #707
We should work with Jeremy Barton on this item.

[2020-06-15 19:24] brentschmaltz commented on #740
this is covered in: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1259

[2020-06-15 19:24] #740 closed

[2020-06-15 19:34] brentschmaltz commented on #1168
@mafurman @RojaEnnam we should consider this with our ASPNET handler.

[2020-06-15 19:36] brentschmaltz commented on #1296
@abatishchev what would be of most help?

[2020-06-15 19:39] brentschmaltz commented on #1030
@mafurman @RojaEnnam we could handle this with our ASP.NET handler.

[2020-06-15 19:41] brentschmaltz commented on #1446
@AndersAbel thanks for jumping in.
@reponemec closing for now, please re-open if you need anything else.

[2020-06-15 19:41] #1446 closed, assigned to nobody

[2020-06-15 19:43] brentschmaltz commented on #1433
@GeoK @Tratcher @vlkchris I am closing this as we are looking at this holistically in: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1434

[2020-06-15 19:43] #1433 closed, assigned to GeoK

[2020-06-15 19:43] brentschmaltz commented on #1434
Make sure to consider: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1433

[2020-06-15 19:45] brentschmaltz commented on #1403
System.ServiceModel.Federation code has moved to the WCF team.

[2020-06-15 19:45] #1403 closed, assigned to nobody

[2020-06-15 19:50] brentschmaltz commented on #1317
Also consider: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1208

[2020-06-15 19:51] brentschmaltz commented on #1208
Closing as we have https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1317 .

[2020-06-15 19:51] #1208 closed

[2020-06-15 19:57] brentschmaltz commented on #577
@henrik-me I don't think we have any work to do here.

[2020-06-15 19:57] #577 closed

[2020-06-15 20:42] GeoK commented on #1433
Great, I'm closing this issue.

[2020-06-15 21:01] GeoK commented on #1369
@dxynnez - This issue is raised in azure-sdk-for-net repo:
https://github.com/Azure/azure-sdk-for-net/issues/11617

[2020-06-15 21:02] abatishchev commented on #1296
@brentschmaltz regarding my ask, would be great to display a blade of badges with the links to the nuget, build, deployment pipelines, etc.

[2020-06-15 22:56] brentschmaltz opened #1453 "Add analyzers to WsTrust Assembly"
Add  "Microsoft.CodeAnalysis.FxCopAnalyzers" and fix issues.

[2020-06-15 23:05] brentschmaltz commented on #1369
@dxynnez @GeoK has provided a link with the project that needs fixing. Can you chime in there? I pinged them.

[2020-06-16 07:53] dxynnez commented on #1369
Thanks @GeoK and @brentschmaltz , will do.

[2020-06-17 00:28] keegan-caruso opened #1455 "Usage of IDX13300 and IDX13107 is incorrect"
IDX13300 requires 2 arguments, It is passed into many FormatInvariant calls with only one argument.

IDX13107 in Saml2Serializer.ReadSimpleUriElement is used with 2 arguments and requires 3

Instead of raising an ArgumentException, it will raise a FormatException

[2020-06-17 15:17] brentschmaltz commented on #1455
@keegan-caruso we are planning a release with https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1415 as the main feature.
Since we agree on the design yesterday, we could fix this add the analyzers and ship a new version.

@GeoK @mafurman @RojaEnnam @henrik-me this would keep us on mark for a release a month.

[2020-06-17 15:26] brentschmaltz commented on #453
@kevinchalet i originally pushed back on this, but it would be as simple as calling: SecurityKey.CryptoProviderFactory.IsSupportedAlgorithm(algorithm, this).

If you still care about this, i will get it in.
If NOT, we should close it.

[2020-06-17 16:17] kevinchalet commented on #453
I ended up using `SecurityKey.CryptoProviderFactory.IsSupportedAlgorithm(algorithm, this)`, but given how confusing it is to have `SecurityKey.CryptoProviderFactory.IsSupportedAlgorithm(algorithm)` and `SecurityKey.CryptoProviderFactory.IsSupportedAlgorithm(algorithm, this)` behaving differently, I still think having a `SecurityKey.IsSupportedAlgorithm(algorithm)` would be a very welcome addition.

[2020-06-17 16:19] kevinchalet commented on #453
But yeah, the internal implementation would be as simple as

[code]

[2020-06-17 20:06] keegan-caruso opened #1457 "Should AuthnContextClassRef be required?"
The zero parameter constructor for Saml2AuthenticationContext passes null as a ClassReference.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens.Saml/Saml2/Saml2AuthenticationContext.cs#L56

ClassReference does not accept a null value

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2020-06-17 20:40] brentschmaltz commented on #1457
@keegan-caruso I agree with you that the constructor makes little sense, but it would be breaking to remove it. Users could new one up and set the correct parameters and everything would work.

When we serialize or deserialize, we do the right thing.

[2020-06-17 20:57] keegan-caruso commented on #1457
@brentschmaltz  not sure I follow

[code]

Will fail as the ClassReference will only be set after the ctor runs. I'm not sure that anyone could have actually used the ctor without hitting an error condition. Removing might be the wrong route still, agreed. If ClassReference should actually be required to be non-null maybe we should at least mark that ctor as deprecated to be able to given compile

[2020-06-17 21:13] brentschmaltz commented on #1457
@keegan-caruso you are correct, in fact this constructor (public Saml2AuthenticationContext(Uri classReference)) could not be used either

I agree with marking both as deprecated, but am reluctant to take a breaking change.
Only if someone was using it for testing.

[2020-06-17 22:42] brentschmaltz commented on #453
@kevinchalet I'll get it in....

[2020-06-17 22:46] brentschmaltz commented on #1369
@GeoK @jmprieur it looks like they are going to make a fix !

[2020-06-18 16:02] brentschmaltz opened #1459 "Do not call overridable methods in constructors"
We recently added analyzers that show we are calling virtual methods inside constructors.
This could lead to unexpected results.

https://docs.microsoft.com/en-us/visualstudio/code-quality/ca2214?view=vs-2019

We need to:
1. Fix these issues
2. Remove the exclusion from GlobalSuppressions.cs

[2020-06-18 16:35] brentschmaltz opened #1460 "Differentiate failures when Decrypting a JWE"
IDX10609 can be thrown for multiple situations:
1. algorithm was not supported
2. no keys were found

[2020-06-18 20:48] brentschmaltz opened #1461 "Modify parameters to ArgumentOutOfRangeException so that entries are not needed in GlobalSuppressions.cs"
.net analyzers pointed out that we are not following best practices.
we can modigy some of our ArgumentOutOfRangeException errors by passing the parameter to the exception and / or slightly modifying the error message.

We could treat this as a limpet and fix when working in a file.

For example:
IDX10653 in AuthenticatedEncryptionProvider.ValidateKeySize could take nameof(key) instead of "key.Key

[2020-06-19 17:26] brentschmaltz commented on #1434
@keegan-caruso added Microsoft.CodeAnalysis.FxCopAnalyzers to all projects.
We should examine each CA2000 in GlobalSuppression.cs files.

[2020-06-20 02:01] petro2050 commented on #1429
@GeoK The workaround worked for me. Is it safe to keep this line in source control after the actual fix is rolled out? Also, can you explain what this line does?

[2020-06-20 09:46] jmprieur commented on #1429
Also adding @bgavrilMS, as there was a similar issue in MSAL.NET

[2020-06-22 16:53] shjin404 commented on #1293
Yes, we want to use this as well given SHA1 is now discouraged and people are recommended to use SHA2 family.

@brentschmaltz Minor, but there is a bug in the exception message as well that it shows 'System.String' as Algorithm. It should say No support for Algorithm: 'RSA-OAEP-256', ...

[code]

[2020-06-22 21:10] GeoK commented on #1429
@petro2050 - Based on @brettsam's [comment](https://github.com/Azure/azure-functions-vs-build-sdk/issues/397#issuecomment-615445340) using __FunctionsSkipCleanOutput_ is the correct way to solve this issue.
The issue is tracked here: https://github.com/Azure/azure-functions-host/issues/5894

[2020-06-22 22:30] keegan-caruso commented on #1425
All assemblies other than WsFederation now have analyzers

WsFederation analyzers will be added in #1453

[2020-06-22 22:30] #1425 closed, assigned to keegan-caruso

[2020-06-23 15:19] ghstahl opened #1465 "JwtSecurityToken.EncodedPayload is having problems with my Deserialized JSON to plain object"
This is a "It used to work" issue.  I have attached the code that shows the issue.
I want to be able to Deserialize a JSON into an object that I can add correctly to  a JwtPayload and get properly encoded by the JwtSecurityToken.

I can add a object to the payload.
[code]
I can add a dynamic to the payload.
[code]
I can add an expando to the payload.
[code]
And these get encoded just fine in the f

[2020-06-23 17:51] ghstahl commented on #1465
btw: I first saw this in the following code.
[code]
The jsonValue here looks exactly like
[code]
the following in field code looks like it might be effected.
[IdentityServer4 TokenExtension](https://github.com/IdentityServer/IdentityServer4/blob/18897890ce2cb020a71b836db030f3ed1ae57882/src/IdentityServer4/src/Extensions/TokenExtensions.cs)

Its doing a JRaw and puts that into the payload.

[2020-06-23 17:54] brentschmaltz commented on #1465
@ghstahl sorry for the hassle.
by "used to work" i assume you mean all the empty objects didn't exist.

[2020-06-23 17:59] ghstahl commented on #1465
the
[code]
looked like.
[code]
Yes the payload should correctly parse that jDynamic and jObj object I pass in.  I don't know if that happens in JwtPayload or JwtSecurityToken.

[2020-06-23 18:10] brentschmaltz opened #1466 "Modify the Default implementation of CanWriteSecurityToken"
Customer suggested this fix.... see PR https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1438

[2020-06-23 18:12] brentschmaltz commented on #1429
Closing as the azure team made a fix.

[2020-06-23 18:12] #1429 closed, assigned to GeoK

[2020-06-23 18:26] brentschmaltz commented on #1465
@ghstahl do you know a version that this was working in?

[2020-06-23 18:38] ghstahl commented on #1465
Works with this version
[code]
If you take my attached code and change it to this its good to go.
I checked all the 6.x.x versions and they all exhibit the problem.
6.6.0,6.5.1,6.5.0

[2020-06-23 20:04] brentschmaltz commented on #1465
@ghstahl that helps thanks.
I think I have an idea now.

[2020-06-23 21:33] #1455 closed, assigned to keegan-caruso

[2020-06-23 21:33] #1457 closed, assigned to nobody

[2020-06-24 00:11] brentschmaltz commented on #1465
@ghstahl we have an internal version of Newtonsoft, i haven't found the exact issue, but I believe the two are out of sync.

To test this out, I added the following code and this seems to have things in sync and everything seems right.
You could use this workaround while we figure out what to do.

[code]
eyJhbGciOiJFUzI1NiIsImtpZCI6IjEyMzQiLCJ0eXAiOiJKV1QifQ.eyJuYmYiOjE1OTI5NTY5ODMsImV4cCI6MTU5Mjk

[2020-06-24 13:52] gislikonrad opened #1467 "JwtPayload uses current culture to parse claim values"
Running the tests in the solution on my machine (I live in Iceland), the [RoundTrip ](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/0567929e7c7f4a299925f16a26d43ad5f8c60dc1/test/System.IdentityModel.Tokens.Jwt.Tests/JwtPayloadTest.cs#L211) tests fail because of the value of the **ClaimValueTypes.Double** claim. This is due to the value of **123.4** being