[2014-05-09 18:36] leastprivilege opened #2 "Naming"
Why do you have Azure AD in the naming? Shouldn't the JWT or OIDC implementations be general purpose?

[2014-05-09 18:37] leastprivilege opened #3 "Remove dependency on Systen"

[2014-05-09 18:37] leastprivilege opened #4 "Remove dependency on System.Web"
e.g. HttpUtility.

I don't want a System.Web dependency in e.g. a OWIN self-host.

[2014-05-20 18:31] brentschmaltz opened #6 "JwtSecurityTokenHandler should not arbitraty use split() on string."
JwtSecurityTokenHandler uses string.split('.') which is not performant if a lot of .'s exist.

[2014-05-20 18:44] #6 closed, assigned to nobody

[2014-05-20 18:45] brentschmaltz opened #7 "Use StringBuilder for creating error messages in ValidateSignature."
JwtSecurityTokenHandler.ValidateSignature uses string concat, stringbuilder would be more efficient.

[2014-05-23 23:02] brentschmaltz opened #9 "IExpirableNonceCache.TryAdd and TryRemove"
Do we need to have some 'other' type of reporting when these fail (return false).
OR is that up to the implementer.

[2014-05-30 22:06] sri- opened #12 "JwtSecurityTokenHandler.CreateToken() is not adding iss, aud, exp claims"
A token is created by calling CreateToken() and in the claimsIdentity obtained by calling JwtFormat.Unprotect(jwtToken), the claims iss, aud and exp are missing.

[2014-05-30 22:08] sri- opened #13 "Typo in the Iat property"
public int? Iat

[code]

[2014-06-03 23:21] sri- opened #14 "Update the version of the identity model dlls to contain only the release version and not the nightly build version"
From Prabu,

Yesterday when I downloaded the latest bits of WSFederation & identity model bits from their respective myget feeds, I ran into these exceptions. Chris and I looking at it further realized that the strong name of the identity model assemblies contain the nightly build version numbers. Since the latest WSFederation dll that I downloaded from myget was compiled against a different versi

[2014-06-05 19:32] #13 closed, assigned to nobody

[2014-06-24 16:31] Tratcher opened #16 "Add API for OIDC hash generation"
OpenIdConnectProtocolValidator has code to validate hashes, but the project doesn't have a hash generator. There's significant overlap between the two flows, and this would be useful to provide for developers.

See:
https://katanaproject.codeplex.com/SourceControl/network/forks/manfredsteyer/OIDCServerMiddleware/contribution/6985#file_diff_Microsoft.Owin.Security.OpenIdConnect.Server/OpenIdConnect

[2014-06-25 15:38] #16 closed, assigned to nobody

[2014-06-26 16:29] Tratcher opened #17 "IndexOutOfRangeException in SymmetricSignatureProvider.AreEqual"
http://katanaproject.codeplex.com/discussions/548518#post1256530

I’d guess it’s caused by these statements:

[code]

[2014-06-27 18:09] sri- opened #18 "WSFederation middleware doesn't work with JwtSecurityTokenHandler"
The jwt token that comes to the Relying Party is in the format of "BinarySecurityToken". The code path in JwtSecurityTokenHandler that takes in TokenValidationParameters, expects the jwt token to be in the format of encoded jwt string (^[A-Za-z0-9-_]+.[A-Za-z0-9-_]+.[A-Za-z0-9-_]*$).

The stack trace is available at http://katanaproject.codeplex.com/discussions/548517#post1259890

Example BinarySe

[2014-06-27 19:30] sri- opened #19 "Symbols are not available"
Symbols for the identitymodel extensions dlls are not available, making it hard to debug.

 They are available for the Katana dlls.

[2014-07-10 19:34] sri- opened #20 "Typo in the SecurityTokenReplayDetected exception message"
public const string IDX10228 = "IDX10228: The securityToken has previously been been validated, securityToken: '{0}'.";

[2014-07-11 00:50] brentschmaltz opened #21 "Microsoft.IdentityModel.Tokens.SecurityKeyResolver should be internal"
This is a helper class used by the SamlSecurityTokenHandlers to act as a SecurityTokenResolver when validating tokens.

[2014-07-11 01:44] brentschmaltz opened #22 "SecurityKeyResolver.ResolvesToSigningToken returns true when key not found"
if the user has set TokenValidationParameters.IssuerSigningKeyResolver and that delegate returns a null key the method should return false. Otherwise layers below will try to access a null key.

[2014-07-11 01:46] brentschmaltz opened #23 "IssuerKeyRetriever.cs is not named correctly."
The class in the file is SecurityKeyResolver, they should have the same name.

[2014-07-11 01:56] brentschmaltz opened #24 "Delegates used during TokenValidation should return true / false and the runtime should throw an exception (BREAKING)"
The current model for delegates puts the control of throwing in the developers hands.  this means in order have a consistent model with the runtime (from the perspective of exceptions), the developer will need to review our exception classes.

A review with Vittorio resulted in a suggested change to the model to have the delegates (audience and lifetime) return true / false and the runtime throw S

[2014-07-11 01:57] brentschmaltz opened #25 "Rename IExpirableNonceCache to ITokenReplayCache (BREAKING)"
public interface IExpirableNonceCache is used by developers for mitigating token replays. TokenValidationParameters.TokenReplayCache is the property they use when token replay mitigation is required.

Review with Vittorio concluded with a recommendation of changing the interface and parameter names to match the use of the property.

new OM suggested:
public ITokenReplayCache TokenReplayCache
bool

[2014-07-11 02:03] brentschmaltz opened #26 "Add control logic to ConfigurationManager for controlling if automatic updates will kick in."
Wilson provides a mechanism for automatic configuration retrieval, Kantana users need a way to turn it off.

The mechanism for turning off automatic configuration requires users to obtain config and set in on the optons.  There is no way to easily way to set the metatdata address and indicate to the runtime "do not update automatically".

[2014-07-11 02:12] #12 closed, assigned to nobody

[2014-07-11 02:18] brentschmaltz opened #27 "Add test to ensure MSA pass-through works by default"
Add a test to ensure that out of the box, MSA pass-through works by default for Wilson.

[2014-07-11 20:06] brentschmaltz opened #30 "Add timestamp to nonce generation"
When creating a nonce, add a the current time in UTC to the beginning.
Add a timespan property (default 1 min) to ProtocolValidation that will reject all nonces that are 'old'.

[2014-07-11 20:36] #17 closed, assigned to brentschmaltz

[2014-07-12 00:38] sri- opened #31 "IssuerValidator gets called even when ValidateIssuer is set false"
It would be good if the issuer validation can be toggled with one switch, ValidateIssuer.

[2014-07-12 23:36] brentschmaltz opened #32 "OpenIdConnectMessage copy constructor misses a couple of properties"
These need to be added to constructor.

[code]

[2014-07-14 20:27] Praburaj opened #33 "'sub' claim is missing when using OpenIdConnect middleware to authentication"
With the latest RC2 bits I notice that the 'sub' claim gets filtered out when using OpenIdc middleware for authentication.

[2014-07-14 20:34] Praburaj opened #34 "ConfigurationManager<T> properties need to indicate the default set values in the XML comments"
`ConfigurationManager<T>`, `StaticConfigurationManager<T>` contains a TODO’s comment in the class level XML comment.
`ConfigurationManager<T>`’s `AutomaticRefreshInterval`, `MinimumIntervalBetweenRefreshAttempts` properties XML summary can indicate what’s the default value used.

[2014-07-14 20:35] Praburaj opened #35 "`ConfigurationManager<T>`’s `AutomaticRefreshInterval`, `MinimumIntervalBetweenRefreshAttempts` should clearly indicate the bounds when a value is set outside of the bounds"
`ConfigurationManager<T>`’s `AutomaticRefreshInterval`, `MinimumIntervalBetweenRefreshAttempts` should clearly indicate the bounds when a value is set outside of the bounds.

For example for the below setting, the following exception message is shown:

[code]

00:00:01
Parameter name: value
Actual value was 00:00:00.0000100.
Description: An unhandled exception occurred during the execution of the

[2014-07-15 17:15] Tratcher opened #37 "Allow disabling refreshes on ConfigurationManager"
We should support disabling one or both refresh intervals by setting Timeout.InfiniteTimeSpan.

[code]

Seperately, we'll add `bool RefreshOnIssuerKeyNotFound` at the middleware layer.

[2014-07-16 05:11] #30 closed, assigned to brentschmaltz

[2014-07-16 05:13] #33 closed, assigned to nobody

[2014-07-16 05:15] #26 closed, assigned to nobody

[2014-07-16 05:15] #24 closed, assigned to nobody

[2014-07-16 05:24] #32 closed, assigned to nobody

[2014-07-16 05:31] #23 closed, assigned to nobody

[2014-07-16 05:31] #21 closed, assigned to nobody

[2014-07-16 05:34] #20 closed, assigned to nobody

[2014-07-16 05:38] #14 closed, assigned to nobody

[2014-07-16 05:38] #9 closed, assigned to nobody

[2014-07-16 05:39] #2 closed, assigned to brentschmaltz

[2014-07-18 00:31] #25 closed, assigned to nobody

[2014-07-18 00:31] #22 closed, assigned to nobody

[2014-07-18 18:32] Tratcher opened #38 "Add servicing attribute to both packages"
[assembly: AssemblyMetadata("Serviceable", "True")]

The 4.5.1 CLR can pick up this attribute and service this assembly from Windows Update.

[2014-07-20 14:00] #38 closed, assigned to nobody

[2014-07-20 14:02] #37 closed, assigned to nobody

[2014-07-20 14:03] #34 closed, assigned to nobody

[2014-07-21 01:43] #35 closed, assigned to nobody

[2014-07-22 01:55] #31 closed, assigned to nobody

[2014-07-22 08:40] OnurGumus opened #39 "Constructing JWTs with multiple audiences"
How would I construct a JWT with multiple audiences? There should be a constructor that takes a string[] for the audience.

[2014-07-22 14:33] OnurGumus opened #40 "Wrong type check for payload audiences"
In file :
https://github.com/MSOpenTech/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtPayload.cs

line 153,    IList<string> audiences = value as IList<string>;
it checks audiences against string, however when the object serializes tojson and deserialized, due to natüre of json, it would be converted to an object[]. So even if we have

[2014-07-23 20:39] dstrockis opened #41 "Run Security Tools on Final Bits"
Reminder to run PoliCheck, APIScan, FXCop, etc before GA, as required for QE process

[2014-07-28 13:57] #40 closed, assigned to nobody

[2014-07-30 23:02] #39 closed, assigned to nobody

[2014-07-30 23:03] #4 closed, assigned to brentschmaltz

[2014-07-30 23:03] #3 closed, assigned to brentschmaltz

[2014-07-30 23:03] #7 closed, assigned to nobody

[2014-07-31 13:15] simonjefford opened #42 "Doesn't seem to be able to verify a signed JWT from Salesforce"
The code at https://gist.github.com/simonjefford/af965f76a75a7ce0f0ea fails with

[code]

I can provide a sample JWT over email.

[2014-07-31 23:27] #41 closed, assigned to nobody

[2014-08-01 22:13] #18 closed, assigned to brentschmaltz

[2014-08-01 22:14] #27 closed, assigned to nobody

[2014-08-12 17:53] sri- opened #43 "Update error message "The 'nonce' found in the jwt token: '{0}', did not match the expected nonce: '{1}'.\njwt: '{2}'.";""
Please consider updating the error message to

The 'nonce' found in the jwt token: '{0}', did not match the nonce found in the cookie: '{1}'.\njwt: '{2}'.";

[2014-08-13 22:23] #43 closed, assigned to nobody

[2014-08-13 22:24] #42 closed, assigned to nobody

[2014-08-13 22:25] brentschmaltz opened #44 "JwtHeader underlying structure should be <string, obj> to support JSON parameters."
New changes in specifications require the JwtHeader to support JSON parameters.  In particular X5c.

[2014-08-19 16:14] #44 closed, assigned to nobody

[2014-09-17 02:51] mmariano opened #46 "JSON Web Encryption (JWE) support"
Can you please implement JWE support? I have a requirement for using this and it is not available. It also seems pretty common to use JWT and JWE together (for example OpenID Connect spec). So this would be really helpful. Thank you!

[2014-10-28 01:59] brentschmaltz opened #47 "JwtSecurityTokenHandler maps 'auth-time' claim type to 'http://.../authenticationinstance'"
There has been some confusion because users tend to think of 'auth-time' as a POSIX time and 'http://.../authenticationinstance' as a date time string such as: 2014-10-28T00:50:51.000Z

[2014-11-02 19:46] richtea opened #48 "Add support for OIDC Discovery of userinfo_endpoint"
The OpenID Connect Discovery 1.0 specification describes a RECOMMENDED metadata value called "userinfo_endpoint". This is supported by the UserInfoEndpoint property of class OpenIdConnectConfiguration, but unfortunately the SetFromDictionary method doesn't process the value from the incoming JSON.

The simple fix is to add a new constant to OpenIdProviderMetadataNames and to provide support for th

[2014-11-18 23:39] #48 closed, assigned to nobody

[2014-12-11 23:56] brentschmaltz opened #51 "AuthenticationProtocolMessage.BuildFormPost html is not correct"
Build form post is not appending the closing "bracket" correctly after the IssuerAddress and for each "key,value" when adding in the foreach (KeyValuePair< ....) loop.

[2014-12-14 21:54] estarre opened #52 "Exception IDX11008 when called from WIF"
When using the JwtSecurityTokenHandler in my web application I ended up with an exception IDX11008 (This method is not supported to validate a 'jwt' use the method: ValidateToken(String, TokenValidationParameters, out SecurityToken))
The call stack is this:
System.IdentityModel.Tokens.JwtSecurityTokenHandler.ValidateToken(SecurityToken token) +46 System.IdentityModel.Tokens.SecurityTokenHandlerCol

[2015-01-19 18:52] brentschmaltz opened #53 "SymmetricSignatureProvider"
Support for Symmetric Algorithms needs to be added back into K.
This support was dropped while FxCore was solidifying the crypto support.
Action is to review the symmetric support in FxCore and determine if it is sufficient if not, add a PInvoke layer into the OS.

[2015-01-19 18:56] brentschmaltz opened #54 "Complete Json serialization extensibility"
JSon serialization / deserialization and creation of claims takes a hard dependency on NewtonSoft throughout the stack. If a user wishes to use a different serializer, it would be difficult to do so.
We need to examine the stack and ensure extensibility is possible.

See:
1. JwtPayload.Claims
2. JsonWebKey constructor
3. JsonWebKeySet constructor
4. ConfigurationManager

[2015-01-19 19:01] brentschmaltz opened #55 "RsaSecurityKey needs constructor sanity check."
There is a relationship between P, Q and Modulus, if this is not correct, then things most likely will go very bad from here. So this fix is in the principal of early detection and failure as later when creating the RSACryptoServiceProvider fail later on.

Add this check and throw appropriate exception.

[2015-01-19 19:06] brentschmaltz opened #56 "Error strings are hardcoded into Exception, move them to the ErrorMessage.cs with appropriate prefix."
Here are some known locations, there may be others:
1. RsaSecurityKey(RSAParameters rsaParameters)
2. AsymmetricSignatureProvider.Sign
3. AsymmetricSignatureProvider.Verify
4. GenericDocumentRetriever.GetDocumentAsync

[2015-01-19 19:11] brentschmaltz opened #57 "SignatureProviderFactory should have a check for maximum size on keys"
CreateProvider should check the maximum size of the key. this helps mitigate DOS attacks where large key sizes are specified.

[2015-01-19 19:13] brentschmaltz opened #58 "ECH support is missing"
Waiting for FxCore to solidify on Crypto support. Review what is available in RC and if sufficient, use it OR add a PInvoke layer to call the OS support.

[2015-01-19 19:14] brentschmaltz opened #59 "Log error when ConfigurationManager is unable to get configuration."
ConfigurationManager.GetConfigurationAsync should log the exception in the catch(Exception ex) block.

[2015-01-19 19:15] brentschmaltz opened #60 "Add Summary Comments to GenericDocumentRetriever"
Comments are missing from the Type.

[2015-01-19 19:18] brentschmaltz opened #61 "Log error when JsonWebKey parameter types are not as expected"
Parameters are expected to be strings, if not we need to log the error.
see: public JsonWebKey(IDictionary<string, object> dictionary)

[2015-01-19 19:21] brentschmaltz opened #62 "Add support for additional key types in JsonWebKeySet"
Currently RSA is the only supported key type, that is 'Kty must equal JsonWebAlgorithmsKeyTypes.RSA'
We need to add support for
1. x5t
2. Symmetric
3. ECH

[2015-01-19 19:23] brentschmaltz opened #63 "Design: JsonWebKeySet stores RSA parameters as strings should they be binary?"
When reading from the wire, the data is received as a string. Keeping them as strings makes this faster, however each translation into a key is slower.

[2015-01-19 19:25] brentschmaltz opened #64 "SamlSecurityTokenHandlers need to ValidateConfirmationData"
There are well defined validation requirements for ConfirmationData. As part of our WsFed effort, we need to ensure this validation is correct.

[2015-01-19 19:28] brentschmaltz opened #65 "TEST: DerivedTypes should use serialization from System.Security.Claims once bits are available."
The #ifASPNET50 in DerivedTypes.cs is a stop gap until the serialization code in System.Security.Claims is available. Once these bits are available this code should be removed.

[2015-01-19 19:34] brentschmaltz opened #66 "Add note in ChangeLog that JsonWebKey.KeyOps has changed from string to IList<string>"
KeyOps OM change from string to IList\<sting> as per spec.

[2015-01-19 19:35] brentschmaltz opened #67 "TEST: add test for JsonWebKey.KeyOps."
Test was dropped as OM changed. We need a new test.
Make changes in IdentityComparer.AreJsonWebKeysEqual.

[2015-01-19 19:37] brentschmaltz opened #68 "Add note in ChangeLog that SecurityKeys API is not available."
SecurityToken contains ONLY a single key.

[2015-01-19 19:38] brentschmaltz opened #69 "Add note in ChangeLog that ConfigurationManager.SecurityTokens API is not available."
SecurityToken and SecurityTokens OM was dropped in favor of SecurityKey and SecurityKeys.

[2015-01-19 19:39] brentschmaltz opened #70 "Add note in ChangeLog that SecurityKeyIdentifier API is not available."
SecurityKeyIdentifier and SecurityKeyIdentifierClause have been dropped from the OM.

[2015-01-19 19:40] brentschmaltz opened #71 "Add note in ChangeLog that X509AsymmetricSecurityKey type is not available."
X509AsymmetricSecurityKey has been replaced with X509SecurityKey

[2015-01-19 19:41] brentschmaltz opened #72 "Add note in ChangeLog that AsymmetricAlgorithm type is not available."
AsymmetricAlgorithm has been replaced with SignatureProvider.

[2015-01-19 19:42] brentschmaltz opened #73 "TEST: add test for checking RSAParameters when validating RsaSecurityKey"
See: IdentityComparer.AreSecurityKeysEqual.

[2015-01-19 19:45] brentschmaltz opened #74 "TEST: IdentityComparer.AreSigningCredentialsEqual does not add errors to context"
Adjust test so that errors are added to context.errors.

[2015-01-19 19:47] brentschmaltz opened #75 "Add note in ChangeLog that TokenValidationParameters.CertificateValidator is not available."
TokenValidationParameters.CertificateValidator has been removed for this release.

[2015-01-19 19:48] brentschmaltz opened #76 "Add note in ChangeLog that JwtSecurityToken.SigningToken(s) are not available."
JwtSecurityToken.SigningToken / s has been removed, users should use: JwtSecurityToken.SigningKey

[2015-01-19 19:50] brentschmaltz opened #77 "TEST: add test TokenValidationParameters.IssuerSigningKeyResolver"
Test is missing for TokenValidationParameters.IssuerSigningKeyResolver see: IdentityComparer.AreTokenValidationParametersEqual

[2015-01-19 19:51] brentschmaltz opened #78 "TEST: add test TokenValidationParameters.CertificateValidator"
Test is missing for TokenValidationParameters.CertificateValidator

[2015-01-19 19:53] brentschmaltz opened #79 "TEST: add test for CrossTokens"
As part of WsFed add tests for:
CrossToken_ValidateSignature
CrossToken_ValidateAudience
CrossToken_ValidateIssuer
CrossToken_ValidateLifetime

[2015-01-19 19:53] brentschmaltz opened #80 "Add note in ChangeLog that SecurityTokenDescriptor type is not available."
SecurityTokenDescriptor has been removed for Beta1

[2015-01-19 19:55] brentschmaltz opened #81 "TEST: add test for validation of 'x5c' as part of JsonWebKey tests."
x5c is now an array, we need tests to ensure proper functioning.
First adjust: OpenIdConfigData constructor, JsonWebKeyDictionary1 to have an array of x5c

[2015-01-19 19:57] brentschmaltz opened #82 "TEST: need negative tests for validation of CHash"
OpenIdConnectValidation tests need negative tests for chash.

see: OpenIdConnectProtocolValidatorTests.Validate_CHash()

[2015-01-19 20:01] brentschmaltz opened #83 "SignatureProviders should have minimum size of keys related to algorithms."
Minimum key for ECH will differ from AES.
Review Asymmetric and Symmetric signature providers.

[2015-01-19 20:03] brentschmaltz opened #84 "AsymmetricSignatureProvider GetHashAlgorithm should recognize standard names"
GetHashAlgorithm currently requires the hash name to be one that it understands something like from SecurityAlgorithms.???.
It should also understand "SHA2" or "SHA256" to trigger SHA256.Create().
Same for others.

[2015-01-19 20:04] brentschmaltz opened #85 "AsymmetricSignatureProvider IsSupportedAlgorithm should recognize standard names"
IsSupporterAlgorithm currently requires the hash name to be one that it understands something like from SecurityAlgorithms.???.
 It should also understand "SHA2" or "SHA256" to trigger SHA256.Create().
 Same for others.

[2015-01-19 20:07] brentschmaltz opened #86 "Add note in ChangeLog that type of Claim.Property has changed."
Taking a dependency on NewtonSoft resulted the type of the Claim.Property[JwtSecurityTokenHandler.JsonClaimTypeProperty] to change
from:
typeof(IDictionary\<string, object>).ToString()
to:
"Newtonsoft.Json.Linq.JProperty"

[2015-01-19 20:10] brentschmaltz opened #87 "TEST: ensure tests for BootstrapContext exist"
See:
1. JwtSecurityTokenHandlerTests.BootstrapToken. The test is commented out.
2. IdentityComparer.AreClaimsIdentitiesEqual

[2015-01-19 20:12] brentschmaltz opened #88 "TEST: Generate jwts dynamically"
References.EncodedJwts have expired dates and times. These should be dynamically generated.

[2015-01-19 20:15] brentschmaltz opened #89 "TEST: Consolidate ExtensibilityTests and CreateAndValidateTokens"
There seems to be a bunch of duplication here.

[2015-01-26 17:51] Praburaj opened #91 "OpenIdConnect sign in flow throws nullreference on mono"
See more details on :

https://github.com/aspnet/Security/issues/130

[2015-01-29 12:21] wvdd007 opened #92 "Expiration date is limited to Tue, 19 Jan 2038 03:14:07 GMT"
I was using the version 0.1.0 of the nuget up until now.  We are switching to the new nuget.  To make sure that everything which worked before still works, I wrote some regression tests.  One of them is "a token that was valid using the old handler should still be valid".  To be able to test this, a serialized tons of jwt tokens using all of my RP settings and created a fake token with an expirati

[2015-01-29 14:26] wvdd007 opened #93 "JwtSecurityTokenHandler leaves "actor" as a claim in the claims collection. Previous versions did not do that. (neither does Saml2SecurityTokenHandler)"
In het new version of the `JwtSecurityTokenHandler`, an "actas" token gets correctly transscribed to a jwt token.  However, when reading back the token with
[code]
We get a `ClaimsPrincipal` with an `Identity` that has a non-null `Actor` property.  This is correct and just like before.  However, in the current version the "actor" field from the jwt gets added as a claim.  This was not the case in

[2015-01-30 16:00] brentschmaltz commented on #93
If I understand you:
ClaimsIdentity.Actor should be set to a valid ClaimsIdentity if the jwt has the 'actort' claim.
ClaimsIdentity.FindFirst("actort") should be null.

You can make use of the JwtSecurityTokenHandler.InboundClaimFilter (static) and add "actort" this will filter out that claim.

[2015-01-30 16:03] brentschmaltz commented on #92
I used int32 as it maps nicely to epoch time. You are correct that in 2038, it wraps.
I think it is worth consideration.

[2015-01-31 22:06] wvdd007 commented on #92
In theory this is a detail.  In practice, we've had the fuzz about Y2K and we somehow would avoid something similar (although I fully admit that 2038 is still a lot of time).  It's up to you what you do with it.

[2015-01-31 22:14] wvdd007 commented on #93
We use both the `Jwt` and the `Saml2` security token handler.  I was suggesting to have a consistent behavior for both in an `ActAs` scenario.  Both `Saml2` and `Jwt` assign the `Actor` property on the `ClaimsIdentity`.  But `Saml2` does not expose the "`actor`" as a claim, while `jwt` does.  I somehow find this inconsistent.  Since `Saml2` is around for the longest time I would suggest to remove

[2015-02-02 16:29] brentschmaltz commented on #93
I agree with you, it is inconsistent between SAML and Jwt.
I updated the status to bug. There was some back and forth about having some of these 'metadata' claims showing up in the ClaimsIdentity. This is what led to the InboundClaimFilter, defaulting to NOT filtering.

[2015-02-04 19:06] wvdd007 commented on #93
Hello, thanks for dealing with this.

[2015-02-04 19:06] #93 closed

[2015-02-05 14:56] Hihaj opened #94 "Validating JWT token based on parameters in WIF configuration"
Why oh why is the [`JwtSecurityTokenHandler.ValidateToken`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L641) overload that WIF happens to use not supported? When searching for how to integrate the JwtSecurityTokenHandler with WCF+WIF, all solutions I've found include creating a cust

[2015-02-17 18:53] brentschmaltz commented on #94
We support config using the 3.0.x releases.

As for why the change happed, validation using a SecurityToken is problematic when signatures are involved. The original design was a result of the additional complexity of validating the signature of a SAML token as it the C14N transformation. For performance reasons, the signing token was required during deserialization to check the signature.

The cu

[2015-02-17 23:11] brentschmaltz opened #95 "JwtSecurityTokenHandler needs a way to provide claim filtering / mapping on an instance basis."
The current Inbound/OutboundClaimsFilter(TypeMap) are static. This makes it difficult to handle multiple identityproviders etc.
We need a way to set this on a per instance / provider basis.

Perhaps:
1. have a static default
2. introduce a property / delegate on TokenValidationParameters for instance processing

[2015-02-18 08:43] damianh commented on #95
:+1:

[2015-02-18 20:29] brentschmaltz commented on #52
Erik,

Just noticed this :-(

Your solution seems fine. Just keep in mind the JwtSecurityToken is not being validated but the RawData.

[2015-02-18 20:29] #52 closed

[2015-03-16 17:38] solidstore opened #100 "Validating a JWT with a certificate thumbprint"
The code in JwtHeader.SigningKeyIdentifier seems to create a X509ThumbprintKeyIdentifierClause using base64 urldecoded value from the x5t standard claim, but this clause does not match against another instance created using its other constructor which takes the X509 certificate as a parameter. The thumbprint values seem to be incorrect when using the Base64UrlEncoder.DecodeBytes method.
X509Thumbp

[2015-03-18 09:21] mschmeller opened #101 "Error in DLL Version number included in nuget package System.IdentityModel.Tokens.Jwt v. 4.0.2.202250711"
The previous Version had the following version numbers
System.IdentityModel.Tokens.Jwt         v. 4.0.1
DLL: System.IdentityModel.Tokens.Jwt.dll 4.0.11102.1637

The current Version
System.IdentityModel.Tokens.Jwt        v. 4.0.2.202250711
DLL: System.IdentityModel.Tokens.Jwt.dll 4.0.2.28

Since the Version number of the DLL is now smaller than before (4.0.2.28 < 4.0.11102.1637) Installation Engine

[2015-03-19 13:10] brentschmaltz commented on #101
I think I have to bump it to 4.1.0.xxxxx

[2015-03-19 13:47] brentschmaltz commented on #100
thanks.
Looking into this.

[2015-03-19 14:08] brentschmaltz commented on #100
@solidstore  not sure I understand your issue.

Can you have a look these tests at this commit: https://github.com/brentschmaltz/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/26245b87a0d77125b4a3dc9c21e56b2b4e5bf678

[2015-03-19 14:10] brentschmaltz commented on #95
@damianh Our current pattern is that if a delegate is set on TokenValidationParameters, the delegate has precedence and the default is not called.  Does that seem right to you?

[2015-03-19 14:26] damianh commented on #95
Sounds good. May I suggest appropriate info on the xml comments?

I would be argue that the static property should be marked obsolete(false).
It's not something you want to carry forward to vnext either, imho.

Cheers

[2015-03-20 00:07] perseusCode opened #103 "Format exception in case of invalid signature of token"
If token has invalid header or invalid payload we get Argument exception. However if token has invalid signature, library throws FormatException rather than ArgumentException. This is inconsistent design. An ex, token which throws such error is :

eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ik1uQ19WWmNBVGZNNXBPWWlKSE1iYTlnb0VLWSJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuY29yZS53aW5kb3dzLm5ldC8iLCJpc3M

[2015-03-20 10:06] solidstore commented on #100
@brentschmaltz I've taken your test and changed it slightly to use the jwt string I'm recieving as I only have the public key for the certificate. The validation fails. I believe the issue lies in the different way the certifcate thumbprint is interpreted in the various contructor of the X509ThumbprintKeyIdentifierClause  class.

Here's more details:
http://stackoverflow.com/q/29082734/487411

Her

[2015-03-20 10:21] solidstore commented on #100
In the JwtHeader class, SigningKeyIdentifier property:

   public virtual SecurityKeyIdentifier SigningKeyIdentifier
   {
    get
    {
        SecurityKeyIdentifier ski = new SecurityKeyIdentifier();
        if (base.ContainsKey("x5t"))
        {
            try
            {
                ski.Add(new X509ThumbprintKeyIdentifierClause(Base64UrlEncoder.DecodeBytes(this.GetStandardClaim("x5t"))))

[2015-03-20 15:58] brentschmaltz commented on #100
Can you post the X509Data?
I am puzzled because other certs work.

[2015-03-20 16:29] brentschmaltz commented on #103
Thanks.
The signature is not being checked for being well formed when the token is Read.

[2015-03-20 20:12] brentschmaltz commented on #95
Mark it obsolete, yet.

I like to follow a pattern of having a 'readonly' property that lets you know the defaults, these are usually statics. For example: DefaultMininumKeySize, then instantiating the instances with these values.

[2015-03-21 02:11] damianh commented on #95
+1

[2015-03-23 10:16] solidstore commented on #100
Here's the certificate that signed the JWT in my example:

-----BEGIN CERTIFICATE-----
MIICNTCCAZ6gAwIBAgIES343gjANBgkqhkiG9w0BAQUFADBVMQswCQYDVQQGEwJV
UzELMAkGA1UECAwCQ0ExFjAUBgNVBAcMDU1vdW50YWluIFZpZXcxDTALBgNVBAoM
BFdTTzIxEjAQBgNVBAMMCWxvY2FsaG9zdDAeFw0xMDAyMTkwNzAyMjZaFw0zNTAy
MTMwNzAyMjZaMFUxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJDQTEWMBQGA1UEBwwN
TW91bnRhaW4gVmlldzENMAsGA1UECgwEV1NPMjESMBAGA1UEAwwJb

[2015-03-23 10:24] solidstore commented on #100
The code can be fixed to get the thumbprint using an internal class System.Security.Cryptography.X509Certificates.X509Utils from System assembly

            byte[] bytes = X509Utils.DecodeHexString(Base64UrlEncoder.Decode(X5T));
            var clause3 = new X509ThumbprintKeyIdentifierClause(bytes); // <--- this give correct hash

[2015-03-23 22:30] brentschmaltz commented on #100
One thing confuses me. The value in the jwt.header["x5t"] is supposed to be the encoding of SHA-1of the thumbprint, according to https://tools.ietf.org/html/draft-ietf-jose-json-web-signature-40 Section 4.1.7.
in this token, the value is: NmJmOGUxMzZlYjM2ZDRhNTZlYTA1YzdhZTRiOWE0NWI2M2JmOTc1ZA
Decoded is 40 bytes. SHA-1 is 20 bytes.

[2015-03-24 09:02] ironicLemon commented on #100
Is this due to the jwt.header["x5t"] being set incorrectly in JwtHeader.cs

X509SigningCredentials x509SigningCredentials = signingCredentials as X509SigningCredentials;
                if (x509SigningCredentials != null && x509SigningCredentials.Certificate != null)
                {
                    this[JwtHeaderParameterNames.X5t] = Base64UrlEncoder.Encode(x509SigningCredentials.Certificate

[2015-03-24 09:51] solidstore commented on #100
The example JWT token was generated from a java open source product called WSO2 Identity Server. (http://wso2.com/products/identity-server/)

I'm fairly convinced that both the encoding and decoding in JwtHeader.cs isnt correct, especially when using token generated from other sources.

Take a look at how the thumbprint is used in other .net classes, e.g. X509Certificate2Collection.Find, which int

[2015-03-24 10:06] solidstore commented on #100
@brentschmaltz If you run the x5t string through a base64url decoder (http://kjur.github.io/jsjws/tool_b64udec.html)

input- NmJmOGUxMzZlYjM2ZDRhNTZlYTA1YzdhZTRiOWE0NWI2M2JmOTc1ZA
result- 6bf8e136eb36d4a56ea05c7ae4b9a45b63bf975d

This is the SHA-1 thumbprint of the X509 certificate.

Take a look at this snippet:

    const string thumbPrint = "6bf8e136eb36d4a56ea05c7ae4b9a45b63bf975d"; // correct

[2015-03-24 13:26] brentschmaltz commented on #100
I agree there is an issue, I am trying to ensure the spec is followed correctly. This is important with interrop issues.

Can we discuss two things:
1. the length of the 'x5t', the spec requires a SHA-1 hash, which is 20 bytes. The 'xt5' in this token is 40 bytes.
2. what does the spec define as input to base64Url to create the 'x5t'?
   a. A hex string representing the thumbprint.
   b. The diges

[2015-03-25 08:31] solidstore commented on #100
@brentschmaltz Agreed.

Looks like the java server I'm working with has interpreted the spec differently. Looks like it comes down to which is correct for x5t?

            var thumbprint = Base64UrlEncoder.Encode(cert.GetCertHash());
            var thumbprint2 = Base64UrlEncoder.Encode(cert.Thumbprint);

[2015-03-25 13:02] brentschmaltz commented on #100
I think that is it.
I am going to contact Mike Jones who is an editor on the spec.  I see if he has time to comment on this thread.

[2015-03-25 18:05] brentschmaltz commented on #100
As a workaround, TokenValidationParameters.IssuerSigningKeyResolver delegate can be used to return the key to use when checking the signature.

[2015-03-25 18:37] selfissued commented on #100
The value is the one described at https://msdn.microsoft.com/en-us/library/system.security.cryptography.x509certificates.x509certificate2.thumbprint(v=vs.110).aspx (the X509Certificate2.Thumbprint Property) and https://msdn.microsoft.com/en-us/library/ms734695(v=vs.110).aspx.

[2015-03-26 18:21] brentschmaltz commented on #103
Fixed.

[2015-03-26 18:21] #103 closed

[2015-03-26 18:23] brentschmaltz commented on #100
Digging a bit deeper, I believe the input to Base64UrlEncoder should be the output of SHA1 which is a bytearray.

[2015-03-27 17:57] jlegan opened #109 "System.IdentityModel.Tokens.Jwt Breaking Changes?"
I posted this on Thinktecture's site as I am working with IdentityServer but wanted to post in here in case this is a known, breaking change that has a quick fix. I reviewed the code and it looks like what I am seeing is not expected but I can confirm it in a new solution with NuGet fully updated.

Has anyone updated to v4.0.2.202250711 of System.IdentityModel.Tokens.Jwt yet?

All of the extension

[2015-03-27 18:06] jlegan commented on #109
This is an interesting one. It appears to be intellisense related. After I fixed a code defect I realized the projects were building even though VS is reporting that no symbols can be found. I reproduced it on a total of 3 workstations and neither cleaning the solution nor purging the intellisense settings allows the symbols to resolve properly after updating the nuget package.

[2015-03-30 15:13] brentschmaltz commented on #100
I would like to close this issue.
Any concerns that the input should be a byte array?

[2015-03-30 15:15] brentschmaltz commented on #109
When you say broke, do you mean they don't get called?

[2015-03-30 19:07] solidstore commented on #100
No issue, provided that ultimately during validation the X509ThumbprintKeyIdentifierClause ctor using a byte array is equal to the clause using the certificate ctor.

[2015-04-02 16:30] brentschmaltz commented on #100
We should add a test for that what would that test look like?

[2015-04-03 13:32] PinpointTownes commented on #80
Hey @brentschmaltz

Any chance you could accept a PR bringing back `SecurityTokenDescriptor`? :smile:

[2015-04-07 16:32] PinpointTownes commented on #80
Ping @brentschmaltz

Bringing back `SecurityTokenHandler.CreateToken` and `SecurityTokenDescriptor` would really be useful to avoid taking a dependency on a specific security token handler: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/dev/src/Owin.Security.OpenIdConnect.Server/OpenIdConnectServerHandler.cs#L1276-L1285.

[2015-04-08 20:51] #100 closed

[2015-04-08 20:53] brentschmaltz commented on #91
magically works on mono.  aspnet/Security#130 is closed.

[2015-04-08 20:53] #91 closed

[2015-04-13 06:47] cardinal252 opened #120 "Suggestion: Improvement to exception message for base64 tokens"
As a developer, it would be really great if the exceptions around raw Jwt Token values could be improved slightly by attempting to check for base64 encoded strings and displaying an appropriate error to guide the developer to using base64UrlEncoded strings.

[2015-04-13 06:53] cardinal252 commented on #120
It would also (as a helper) be great if there was a method to allow converting between base64Encoding and base64UrlEncoding that could be pointed to from the exception.

[2015-04-14 01:43] brentschmaltz commented on #120
thanks!
It would not be spec compliant to accept base64Encoding :-(

[2015-04-15 22:16] #120 closed

[2015-04-15 22:16] brentschmaltz commented on #120
We will improve the exception message.

[2015-04-16 00:07] brentschmaltz opened #121 "The property for claims that are JSON values claims should use ClaimValueType and be smaller."
Currently it is: http://schemas.xmlsoap.org/ws/2005/05/identity/claimproperties/json_type
It could be: json_type

For common types, like System.Int32 we could use the ClaimValueType.

[2015-04-16 01:01] brentschmaltz opened #122 "JwtSecurityTokenHandler mapping should map 'roles' to ClaimTypes.Role"
Currently 'role' is mapped to ClaimTypes.Role, also include 'roles'

[2015-04-16 01:17] brentschmaltz commented on #109
@jlegan is this still of interest to you?

[2015-04-16 01:18] brentschmaltz commented on #101
this will be fixed in the next release

[2015-04-16 01:24] brentschmaltz commented on #122
Fixed in 4.x

[2015-04-16 01:50] brentschmaltz opened #123 "JwtSecurityTokenHandler mapping properties 'ShortClaimType' and 'json_type' should be smaller"
Currently this property default is: "http://schemas.xmlsoap.org/ws/2005/05/identity/claimproperties/ShortTypeName"
it should be:
shortTypeName or shortName.
Same with: 'json_type'
is: "http://schemas.xmlsoap.org/ws/2005/05/identity/claimproperties/json_type"
it should be:
json_type

[2015-04-17 19:11] brentschmaltz opened #125 "TEST: enable testing for RSAKeys"
IdentityComparer has code commented out when comparing RsaSecurityKeys.
See: Are SecurityKeyEqual.

[2015-04-17 19:13] brentschmaltz opened #126 "TEST: SecurityKeysEqual needs to validate X509AsymmetricSecurityKey"
X509AsymmetricSecurityKey comparison has been removed, see 4.x test.

[2015-04-18 17:08] brentschmaltz opened #127 "LogHelper Throw needs to add innerException"
If the inner exception Is not null, the runtime Activatior.Creatinstance fails with method not found.

[2015-04-18 17:09] brentschmaltz commented on #122
We need to update release 5.x

[2015-04-18 17:11] brentschmaltz opened #128 "Deserialization on int maps to System.Int64 in 5.x and System.Int32 in 4.x"
We should understand the reason for the changes.

[2015-04-18 17:15] brentschmaltz opened #129 "LogHelper.Throw should not have optional 'throwException' parameter."
Given that the method name is 'Throw', it should always throw.

[2015-04-18 17:20] brentschmaltz opened #130 "Add method to IdentityModelEventSource Log(string, EventLevel)"
This will allow a simpler calling pattern.

[2015-04-18 17:21] brentschmaltz opened #131 "LogHelper.Throw should call Log.Write(message, logLevel)"
Once the new method is added (Logger.Write(...)) use it inside LogHelper.

[2015-04-18 17:34] brentschmaltz commented on #80
@PinpointTownes yes will bring that back. Also new methods for creating Signed Jwt's.
I am thinking instance or static:
(JwtSecurityTokenHandler) string Handler.CreateTokenString(string issuer, string audience, IEnumerable<Claim> claims, DateTime? notBefore, DateTime? expires, SigningCredentials signingCredentials, SignatureProvider signatureProvider). Where the return is a signed encoded string.

[2015-04-18 17:39] brentschmaltz commented on #126
X509AsymmetricSecurityKey not available in 5.x

[2015-04-18 17:39] #126 closed

[2015-04-18 17:40] brentschmaltz commented on #64
Coordinate with WsFed effort.

[2015-04-18 17:51] #51 closed

[2015-04-18 17:51] brentschmaltz commented on #51
Fixed

[2015-04-18 17:52] brentschmaltz commented on #19
Fixed.

[2015-04-18 17:52] #19 closed

[2015-04-18 17:58] brentschmaltz opened #132 "Run API tool to review changes to 5.x from 4.x"
Pick up any api's that have changed and update changelog

[2015-04-18 18:33] PinpointTownes opened #133 "JwtSecurityTokenHandler.CreateActorValue breaking change"
In the previous version, `CreateActorValue ` was able to serialize `ClaimsIdentity.Actor` without relying on `ClaimsIdentity.BootstrapContext` (by creating an ad-hoc JWT token and calling `WriteToken` to serialize it):

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L1167

This is not t

[2015-04-18 18:36] PinpointTownes commented on #80
Great :smile:

(personally, I'm not a huge fan of methods with terribly long signatures, specially in this case, where encrypted JWT tokens support will likely need to add a new `EncryptingCredentials` parameter)

[2015-04-18 18:54] brentschmaltz commented on #127
fix in 5.x KDev. Needs to be pushed to Release5.x

[2015-04-18 18:55] brentschmaltz commented on #122
Fixed in 5.x, needs to be pushed to Release 5.x

[2015-04-18 23:06] brentschmaltz commented on #133
I agree, it is too restrictive and should be relaxed.

[2015-04-18 23:14] brentschmaltz commented on #80
@PinpointTownes I think that is a good reason for bringing back a 'revised' STD. Moving away from 'soap' made a few of the old STD seem questionable to move forward. That is the reason we dropped it for now.  Thanks for chiming in.

[2015-04-19 00:21] brentschmaltz opened #135 "OpenIdConnectMessage.CreateAuthenticationRequestUrl and CreateLogoutRequestUrl should be virtual"
Derived types would be able to create the uri and form post

[2015-04-19 00:46] brockallen commented on #95
Or why not just let the claims come thru as they are in the token and let the application layer deal with them in whatever way it sees fit? This way there's no special coding at all in the library.

[2015-04-21 18:36] StephaneBischoff opened #136 "NullReferenceException in JwtPayload when a claim has a null value. (A null value should be acceptable)"
If a claim has a null value, then a NullReferenceException is raised in JwtPayload.

I believe that the line at fault is:
JwtPayload.cs -  line 375 ->  keyValuePair.Value.GetType()

[2015-04-21 21:34] jaraya-MSFT opened #137 "Support for receiving query string parameters as part of OIDC metadata response"
Currently, if the OIDC metadata endpoint contains a query string parameter in the URL it returns (ie: authorization_endpoint: https://example.com/path?key=value, OWIN-Katana does not handle this properly.

Basically, Katana attempts to add its own query string parameters with a new "?" delimiter in this case, creating an invalid URL (ie, https://example.com?key=value?someKatanaKey=secondValue

[2015-04-22 13:23] logitron opened #138 "System.IdentityModel.Tokens.Jwt/Validators.cs Expiration Issue"
File: System.IdentityModel.Tokens.Jwt/Validators.cs
Method: void ValidateLifetime(DateTime? notBefore, DateTime? expires, SecurityToken securityToken, TokenValidationParameters validationParameters)
Line: 217

There seems to be an issue in the way that it's looking at the expiration value.  The expire value is being checked to see if it's less than the current DateTime (minus 5 min skew value) and

[2015-04-22 16:23] brentschmaltz commented on #136
@StephaneBischoff can you add the stacktrace? The .Net Claim.Value cannot be 'null', so we are trying to figure out what to do in this case. JSON allows 'null' values, but .Net doesn't.

[2015-04-22 16:26] brentschmaltz commented on #137
@jaraya-MSFT we should have this fixed in Beta5.

[2015-04-22 16:51] brentschmaltz commented on #138
@logitron I think your are right it should be: expires > utcNow + clockSkew.
Thanks.

[2015-04-22 19:31] logitron commented on #138
You think the current version of the code is correct or you've implemented a change?

[2015-04-22 20:48] brentschmaltz commented on #138
I think the current version is correct.

[2015-04-23 00:38] tushargupta51 commented on #127
Fixed in Release 5.x. Closing the issue.

[2015-04-23 00:38] #127 closed

[2015-04-23 00:38] tushargupta51 commented on #122
Fixed in Release 5.x. Closing the issue.

[2015-04-23 00:38] #122 closed

[2015-04-23 00:40] brentschmaltz opened #140 "Warning when building"
I get the following warning when building.

C:\github\Wilson4K\src\System.IdentityModel.Tokens\project.json(5,37): warning: Dependency specified was Microsoft.IdentityModel.Logging >= 1.0.0-beta4-* but en
ded up with Microsoft.IdentityModel.Logging 1.0.0-t150423000906.

[2015-04-23 03:02] brentschmaltz commented on #95
@brockallen well, the goal was to 'normalize' between different IdentityProviders and protocols. WsFederation usually uses Saml tokens and longer types for claims than OIDC that uses jwt's but the claims are the really the same type. The authorization-decision-point would be protocol and token agnostic.
I agree, the libraries job is to transform tokens => claims. It is worth thinking about if the

[2015-04-23 03:06] brentschmaltz opened #142 "Break out Jwt and Saml from System.IdentityModel.tokens into seperate assemblies."
To minimize assembly load times and memory footprints, Jwt and Saml assemblies should be separate.

[2015-04-23 11:01] logitron commented on #138
You are absolutely right.  I'm losing my sanity.  I would put out an issue for that, but I have yet to find its repository.  Sorry to waste your time on this.

[2015-04-23 11:01] #138 closed

[2015-04-23 16:49] brentschmaltz commented on #138
No worries, it is the old double negative trick. It is always hard to grok. Even though I wrote the code, I had to go through the exercise of a creating a table...

Please don't let this influence your contribution to this project, keep the comments coming :-)

[2015-04-23 18:44] tushargupta51 commented on #140
@brentschmaltz  Was it fixed after updating to the latest runtime?

[2015-04-23 21:55] brentschmaltz commented on #135
Only fix in 5.x

[2015-04-23 21:55] #135 closed

[2015-04-24 01:25] brentschmaltz commented on #140
@tushargupta51 I just installed 22823.1 with WTE and still see the issue.

[2015-04-24 16:23] brentschmaltz opened #143 "AuthenticationProtocolMessage throws when parameter value is null"
Stack indicates that the null check is different in OIDCMessage than base.
Microsoft.IdentityModel.Protocols.AuthenticationProtocolMessage.SetParameter(String parameter, String value) +103
Microsoft.IdentityModel.Protocols.OpenIdConnectMessage..ctor(IEnumerable`1 parameters) +274
Microsoft.Owin.Security.OpenIdConnect.<AuthenticateCoreAsync>d__1a.MoveNext() +1606

[2015-04-25 15:39] brentschmaltz commented on #143
Fixed in 4.x #114

[2015-05-11 22:42] tushargupta51 commented on #101
@mschmeller Updated packages are pushed to nuget.org: 4.0.2.205111437

[2015-05-13 20:49] tushargupta51 commented on #101
@mschmeller Closing the issue. The new packages on nuget.org should have the versions fixed. Please let me know if that's not the case. Thanks!

[2015-05-13 20:49] #101 closed

[2015-05-13 21:31] tushargupta51 commented on #129
Sounds right to me. will take that parameter off, that method will always throw.

[2015-05-13 22:47] tushargupta51 opened #149 "Building the solution does not run tests."
Running build.cmd does not build the tests project. It also does not run the unit tests.

[2015-05-18 12:08] popcatalin81 opened #150 "JwtSecurityTokenHandler ReadToken(XmlReader reader) closes the undelying reader making the WCF stack crash with internal exception"
When JwtSecurityTokenHandler is used with WCF & WIF and it receives a BinarySecurityToken containing a JWT Token it crashes the WCF stack because it closes the underlying XmlReader.

The code at fault is the using statement in the ReadToken method:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenH

[2015-05-18 16:41] brentschmaltz commented on #150
@popcatalin81 is this the 3.x release?

[2015-05-19 07:18] popcatalin81 commented on #150
@brentschmaltz this is from the System.IdentityModel.Tokens.Jwt  Nuget package last version, when used in a WCF scenario.

[2015-05-21 17:15] #149 closed

[2015-05-21 17:15] #131 closed

[2015-05-21 17:15] #130 closed

[2015-05-21 17:15] #129 closed

[2015-05-21 17:16] #140 closed

[2015-05-23 04:00] ryan1234 opened #152 "Claims list for JWT is incorrect in Mono 4.0.1"
This function, https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L654, returns the wrong list of claims in Mono 4.0.1.

Trying to debug on my own why, but hoping to get ideas.

For example, when I process a JWT on Windows, I get back 12 claims. This is correct. On OS X with Mono 4.0.1 I ge

[2015-05-24 19:51] korroz commented on #95
@brentschmaltz Is it a good idea to move claim mapping/filtering to `TokenValidationParameters`?

Wouldn't that also imply that the claim mapping/filtering feature was also effective for `Saml2SecurityTokenHandler`?

I was looking to contribute a bit of code on this issue but as I read the code and looked at the class design I grow uncertain what the better implementation would be.

Another note,

[2015-05-25 14:36] ghanashyaml commented on #95
I believe that the specific token handlers should be tasked to convert between token types. Reason is that specific token format specifications defines specific claim types supported, so makes sense for the token handlers to handle it.

If an application handling is saml2 token it would expect token to have longer claim types, so I think the library still is better place to do this conversions.

I

[2015-05-26 11:03] attila-s opened #154 "ValidateIssuer TokenValidationParameters is ignored when validating a JWT without an issuer"
I am using the following NuGet package to validate JSON Web Tokens.

Id: System.IdentityModel.Tokens.Jwt Version: 4.0.2.202250711

Tokens are signed by applying HS256.

However, using JwtSecurityTokenHandler's validateToken method, the token can only be validated if it contains an issuer claim ('iss') even if ValidateIssuer = false in the TokenValidationParameters.

The following ArgumentException

[2015-05-26 17:18] brentschmaltz commented on #154
I would recommend using TokenValidationParameters.IssuerValidator delegate rather than adding to the Payload.
http://openid.net/specs/openid-connect-core-1_0.html#IDToken
indicates that 'iss' is required, which is the reason for the default behavior.

When a ClaimsIdentity is created, the Issuer property cannot be null or just whitespace, so your delegate will need to return a value where string.I

[2015-05-26 17:39] dsfields commented on #154
The JWT class library being defined here is confusing.  Semantically, the library is implying that it is for parsing and validating JSON Web Tokens.  However, all of the claims validation being performed is a part of the OAuth standard.  There are no requirements that JWTs are to be exclusively used by OpenID Connect/OAuth.

I think this API needs to more clearly define that it is for consuming JW

[2015-05-26 18:00] brentschmaltz commented on #154
That is a fair comment. It is the OpenIdConnectProtocolValidator that needs to ensure the existence of the 'iss' claim.

http://tools.ietf.org/html/rfc7519#section-4

[2015-05-27 00:10] tushargupta51 opened #155 "Tests should not require certs to be in a specific location"
KeyingMaterial.cs has harcoded location for certs:
        public static X509Certificate2 CertSelfSigned2048_SHA256 = new X509Certificate2(@"C:/Certs/SelfSigned2048_SHA256.pfx", "SelfSigned2048_SHA256", X509KeyStorageFlags.PersistKeySet);

[2015-05-27 01:02] brentschmaltz opened #156 "Rename OpenIdConnectResponseTypes.CodeOnly to Code"
this is consistent with OpenIdConnectResponseTypes.IdToken, which we don't name IdTokenOnly.

[2015-05-27 01:39] brentschmaltz opened #157 "Summary comments for LogHelper.Throw are incorrect"
logLevel is not commented, throwException is not used.

logLevel should default to Error.

[2015-05-27 01:41] brentschmaltz opened #158 "LogHelper.Throw does not write the innerException"
IdentityModelEventSource.Logger.Write(logLevel, message) should also include the innerException

[2015-05-27 01:44] brentschmaltz opened #159 "'IdentityModelEventSource.Logger.WriteInformation(string.Format(' should always use CultureInfo.InvariantCulture"
IdentityModelEventSource.Logger.WriteInformation(string.Format("Token string length greater than maximum length allowed. Token string length: {0}", tokenString.Length));
in JwtSecurityTokenHandler.cs does not.

Please have a look at all instances.

[2015-05-27 03:14] korroz commented on #95
I wrote some code that makes instance properties available on `JwtSecurityTokenHandler` for mapping and filtering. I'm not particularly pleased with it myself so I haven't made a pull request, but perhaps I should just to have a place to review and discuss it?

Anyway you can look at the diff of my [jwt-claim-mapping](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-do

[2015-05-27 16:50] brentschmaltz opened #162 "Nuget.Config should not include AspNet sources"
packageSources should not include <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2" />.

[2015-05-27 18:35] brentschmaltz opened #163 "Add RefreshToken to OpenIdConnectParameterNames"
refresh_token is returned as part of the 'code' -> 'access_token' flow. While defined in the OAuth 2.0 spec, it would be convenient to have this defined.

[2015-05-27 18:38] tushargupta51 commented on #163
@brentschmaltz can we add this property to OpenIdConnectMessage also?

[2015-05-27 21:35] brentschmaltz opened #164 "OpenIdConnectProtocolVerifier needs stronger validation."
the validator needs to consider the entire message when validating if a message is protocol compliant. Several areas need addressing.

Some are easy: id_token + access_token arrives, the at_hash needs to be evaluated, similar to c_hash. The nonce claim is required in the 'code' and 'token' hybrid flows.

Some are more subtle (from spec):
 If the auth_time Claim was requested, either through a spec

[2015-05-27 23:59] brentschmaltz commented on #128
in 4.x we use JavaScriptSerializer, in 5.x we use NewtonSoft which performs a different mapping.

[2015-05-28 16:43] #162 closed

[2015-05-28 16:43] #159 closed

[2015-05-28 16:43] #158 closed

[2015-05-28 16:43] #157 closed

[2015-05-28 16:43] #156 closed

[2015-05-28 17:22] brentschmaltz opened #166 "SignatureVerificationFailedException has a different naming pattern then the other exceptions"
All the other Exceptions start with SecurityToken...
SignatureVerificationFailedException sticks out.

We should change to: SecurityTokenSignatureInvalidException.

[2015-05-28 18:28] brentschmaltz opened #167 "Provide single package for .net 4.5.1, 4.6 and Fxcore"
We need single nugets that support various flavors of .Net

[2015-05-28 18:41] brentschmaltz opened #168 "Pull request 161 should be reverted and fixed in Mono."
This is a temporary work-around for a Mono issue.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/161

It should be reverted once Mono has been fixed.

[2015-05-28 22:20] brentschmaltz commented on #95
@korroz @tushargupta51 @ghanashyaml @brockallen We are thinking proposing an all up change to move the statics {outbound / inbound claim mapping, algorithms, etc) to the position of Defaults, then instance methods on the JWT handler.

I am leaning to mapping OFF by default.
What I am struggling with, is it the Runtime (ASP.NET, WCF, etc) that does the mapping or the Handlers?

thoughts?

[2015-05-29 02:37] ghanashyaml commented on #95
My thoughts:
I know this is late to implement but maybe worth considering.
1. There should be a base reference ClaimType which is independent of the token format. For e.g.

class BaseClaimType
{.....
       public const string Email = "Email";
....}

2. Each handler defines its own outbound/inbound mappings and the conversion methods are available as virtual in the base SecurityTokenHandler. This

[2015-05-29 03:35] mmariano commented on #46
@brentschmaltz: Any update on this? We ended up encrypting the json using our own technique. It works fine but we needed to explain to external clients how to decrypt. It would of been better to use standard JWE. Thanks again for help.

[2015-05-29 13:50] brockallen commented on #95
Normally we suggest claims transformation middleware to manage things like normalizing the claims.

Or let people do this manually in the notifications callback (which is what we've been doing for the past 2 years w/ Katana anyway to filter out protocol claims).

[2015-06-01 15:59] brentschmaltz commented on #95
thanks.
One take away is, let's make the mapping instance rather than per process.

Default mapping: ON of OFF?

[2015-06-01 16:02] brentschmaltz commented on #46
JWE is a planned work item, no dates yet.
Ist step is a refactoring to move the JSON processing currently JWS (and then JWE) out of the JWTSecurityTokenHandler and into a layer below that other stacks can use. Same strategy is planned for SamlSecurityTokenHandler, isolate the crypto.

[2015-06-01 16:06] brockallen commented on #95
Off, please.

[2015-06-01 16:06] leastprivilege commented on #95
DEFAULT MAPPING OFF kthxbye ;)

[2015-06-01 16:11] damianh commented on #95
off
On 1 Jun 2015 17:59, "BrentSchmaltz" <notifications@github.com> wrote:

[2015-06-01 16:27] brentschmaltz commented on #95
OK, you got it - OFF by default.

Kudos to Yordan who suggested that years ago :-)

[2015-06-01 18:17] korroz commented on #95
Off would indeed be preferred.

So is there any value in my [jwt-claim-mapping](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/compare/master...korroz:jwt-claim-mapping) branch? Or should I perhaps abandon it, knowing that you guys will make a more general sweep of the many statics instead of just claim mapping and filtering?

[2015-06-02 16:09] brentschmaltz commented on #95
I would like it if you left it for a while. The code JwtSecurityTokenHandler introducing the 'instance' seems to make sense.

I am not as sure about the JwtPayload as I am thinking 'transformation' seems above the payload.

[2015-06-03 22:25] brentschmaltz opened #174 "JwtSecurityTokenHandler.ValidateToken does not call TokenValidationParameters.IssuerSigningKeyValidator"

[2015-06-03 22:52] brentschmaltz opened #175 "Add back ...xyzException(SerializationInfo info, StreamingContext context) for 4.5.x and desktop"
These constructors should be added back but #ifdef'd for FxCore.

[2015-06-03 22:56] brentschmaltz opened #176 "Add complementary method to match OpenIdConnectConfiguration Create(string json)."
Add a method that generates the JSON.

[2015-06-03 23:21] brentschmaltz opened #177 "Remove commented JwtHeader.SecurityKeyIdentifier"
This method is no longer used.

[2015-06-07 18:00] korroz commented on #95
I agree, transformation shouldn't be the concern of `JwtPayload`. I'll see if I can pull that transform logic out of `JwtPayload.AddClaims()` in my branch.

[2015-06-09 20:08] #132 closed

[2015-06-09 20:09] #86 closed

[2015-06-09 20:09] #76 closed

[2015-06-09 20:09] #75 closed

[2015-06-09 20:09] #72 closed

[2015-06-09 20:09] #71 closed

[2015-06-09 20:09] #70 closed

[2015-06-09 20:09] #69 closed

[2015-06-09 20:09] #68 closed

[2015-06-09 20:09] #66 closed

[2015-06-11 22:11] korroz commented on #95
I pushed some commits just now on my [jwt-claim-mapping](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/compare/master...korroz:jwt-claim-mapping) branch. In it the transformation logic has been extracted from `JwtPayload`, so now all transforming business is happening in `JwtSecurityTokenHandler`.

Should I create a pull request for further discussion? I stil

[2015-06-11 23:10] brentschmaltz opened #178 "Add public IList<SecurityKey> GetSigningKeys()"
We are moving away from SecurityTokens for signing and landing on SecurityKeys.
Adding this API to 4.x will help users migrate.

[2015-06-11 23:13] brentschmaltz commented on #154
If this wasn't fixed in 5.x can you fix it or close it if it is fixed.

[2015-06-13 12:40] PinpointTownes opened #179 "RSACryptoServiceProviderProxy crashes on Mono"
[code]

Mono doesn't use CryptoAPI - which is Windows-specific - and always initializes `CspKeyContainerInfo.ProviderType` to `1`, which causes `RSACryptoServiceProviderProxy` to create a proxy around the existing RSA provider. Sadly, it crashes on Mono.

The bug disappears when you remove `csp.Flags |= CspProviderFlags.UseExistingKey;` from `RSACryptoServiceProviderProxy`'s constructor.

/cc @bre

[2015-06-15 16:26] brentschmaltz opened #181 "NamedKeySecurityKeyIdentifierClause are NOT resolved a X509ThumbprintKeyIdentifierClause fails to resolve"
The following exception is hit when the runtime fails to resolve the X509Clause even though the kid matches the NamedKeyIdentifierClause.

System.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: IDX10500: Signature validation failed. Unable to resolve SecurityKeyIdentifier: 'SecurityKeyIdentifier
    (
    IsReadOnly = False,
    Count = 2,
    Clause[0] = X509ThumbprintKeyIdentifi

[2015-06-15 18:01] brentschmaltz commented on #179
@PinpointTownes I take it this is a runtime error?
the proxy was put in place to enable SHA2. I haven't been back to see what else can be done yet.

[2015-06-15 18:12] PinpointTownes commented on #179
Yup, it's indeed a runtime error.

Removing `csp.Flags |= CspProviderFlags.UseExistingKey` *seems to fix* this issue, but I guess that's probably not the best solution.

[2015-06-15 18:20] PinpointTownes commented on #179
FWIW, I opted for another temporary workaround: manually instantiating `RSACryptoServiceProvider` with `CspParameters.ProviderType = 24` to bypass `RSACryptoServiceProviderProxy`.

Of course, it's terribly insecure, as you have to load the private key from an unprotected embedded resource (note that I used the same trick to "mimic" .pfx support on CoreCLR).

The more I add temporary (and ugly) wor

[2015-06-15 18:26] brentschmaltz commented on #179
bleeding edge, true enough.
The answer may lie in using a SignautureProvider that works on Mono. This was a reason for the SignatureProviderFactory.

[2015-06-15 18:27] PinpointTownes commented on #179
Out of curiosity, why forcing `CspProviderFlags.UseExistingKey`?

[2015-06-15 19:19] brentschmaltz commented on #179
So we use the same key in case the key is tied to hardware, we want to use the same csp.

[2015-06-15 22:23] tushargupta51 commented on #143
Fixed in 5.x as part of this commit: a73b045573af9830af2ebdd15ca276a27313df33

[2015-06-15 22:23] #143 closed

[2015-06-18 03:05] brentschmaltz opened #183 "HttpDocumentRetriever.GetDocumentAsync hangs in httpContext"
We missed a code path where this await should not be there as it blocks.
HttpResponseMessage response = await _httpClient.GetAsync(address, cancel).ConfigureAwait(false);
response.EnsureSuccessStatusCode();
return await response.Content.ReadAsStringAsync().ConfigureAwait(false);

HttpResponseMessage response = _httpClient.GetAsync(address, cancel).Result;
response.EnsureSuccessStatusCode();
return

[2015-06-26 18:55] tushargupta51 opened #186 "Add constants for openid connect grant types"
Add these four grant types as mentioned in oauth specifications - RFC6749
1. authorization_code
2. refresh_token
3. password
4. client_credentials

[2015-06-29 19:43] brockallen opened #188 "Refactor IConfigurationRetriever to be public"
I'd like to replace this for the OIDC middleware with one that loads from a cache. The interface is currently internal and so my only options are to replace the entire ConfigurationManager or the IDocumentRetriever. ConfigurationManager is too coarse grained and IDocumentRetriever is too fine grained.

I also noticed this is not injected into the ctor of the ConfigurationManager, so obviously ther

[2015-06-29 22:25] tushargupta51 opened #189 "Add back the CollectionBehavior.CollectionPerAssembly attribute in assemblyinfo.cs"
We added this attribute to run tests sequentially and avoid issues because of static maps. This was removed as part of refactoring.

[2015-06-29 23:18] #189 closed

[2015-06-30 13:37] brentschmaltz commented on #188
Thanks.
We can fix this for Katana also since Katana just pulls in these assemblies.
Goal is to have a single nuget for 4.x and 5.
Will certainly do this for K.

[2015-06-30 13:41] brentschmaltz opened #191 "Add support for SOAP Enveloped Signatures"
XML messages and tokens need Enveloped signature validation. We need a library to validate enveloped signatures.

[2015-06-30 15:24] brockallen commented on #188
Thanks!

[2015-06-30 15:58] brentschmaltz opened #192 "Review if Thumbprints are failing because of 'casesensitivity'"
Customer reported to use a workaround:

http://stackoverflow.com/questions/25593435/jwtsecuritytokenhandler-4-0-0-breaking-changes/25625447?noredirect=1#comment49933145_25625447

Check and see if we need to adjust for this.

Closing this requires tests to be written.

[2015-07-01 00:24] tushargupta51 opened #193 "Add license url, project url and other info in the nuget packages."
Currently, the nuget packages do not have information about license, project url, description when they are built. The build script needs to add this information in post build stage.

[2015-07-02 03:00] brentschmaltz opened #194 "Align Nuget package name with aspnet."
aspnet maps package names with assemblies.

our package names should be:
Microsoft.IdentityModel.Tokens
Microsoft.IdentityModel.Tokens.Jwt

etc.

[2015-07-02 18:55] tushargupta51 commented on #194
Our packages on nuget.org have a different naming conventions. e.g.: https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/. It should be called Microsoft.IdentityModel.Tokens instead of JSON Web Token Handler For the Microsoft .Net Framework 4.5. Similar changes for the protocol.extensions package.

[2015-07-02 20:45] tushargupta51 opened #195 "Integrated logs for aspnet and wilson"
`Microsoft.Aspnet.Authentication.OpenIdConnect`  uses `ILogger` to log events whereas Wilson uses `EventSource` based logging. Currently, there is no easy way for a user using OIDC to get an integrated log from both aspnet and wilson (OIDC takes a hard dependency on Wilson). They have to configure both the loggers separately and it is very difficult to debug using the separated logs.

[2015-07-02 20:53] tushargupta51 commented on #195
This should have been opened in aspnet/Security. https://github.com/aspnet/Security/issues/331

[2015-07-02 20:53] #195 closed

[2015-07-07 18:33] hojjat-reyhane opened #196 "Can i use this extension in monoDevelop-Unity?"
I'm working with unity 3d and i want to implement JWT. Is there any body help me how import and use this extension? Does this extension work in MonoDevelop-Unity?

[2015-07-07 20:10] tushargupta51 commented on #194
@brentschmaltz As we discussed the other day, the packages name for 5.x are fine. Do we want to change the packages name for 4.x? We can do that the next time we push out a release for 4.x. I will change the labels.

[2015-07-07 20:11] #193 closed

[2015-07-07 20:11] #155 closed

[2015-07-07 20:14] tushargupta51 commented on #154
Fixed in 5.x

[2015-07-07 20:15] tushargupta51 commented on #154
@brentschmaltz Are we planning to fix it in 4.x too? I saw the label, just wanted to confirm.

[2015-07-07 20:49] brentschmaltz commented on #154
Yea we should fix in 4.x

[2015-07-07 20:52] brentschmaltz commented on #196
The aspnet guys seem to know most about MONO, you might want to ask there:

https://github.com/aspnet/Home

[2015-07-07 20:53] brentschmaltz commented on #194
Lets leave them for 4.x. I am hoping that we can use the 5.x branch for all packages.

[2015-07-07 20:54] brentschmaltz commented on #188
@tushargupta51 can you take care of this?

[2015-07-07 20:54] tushargupta51 commented on #183
Fixed in 4.x: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/184

[2015-07-07 20:56] tushargupta51 commented on #188
Sure.

[2015-07-10 17:03] dubscott commented on #183
Hi,
is there a way to see how this block would look like after the event has happened? I'm currently using version 1.0.2.202250711 from nuget but want to be sure that I'm experiencing the same problem before upgrading.
My application occasionally hangs when executing ConfigurationManager.GetConfigurationAsync(CancellationToken ct).
I haven't been able to step into the code in our Production enviro

[2015-07-11 10:56] Idhor opened #197 "ITokenReplayCache should have async methods?"
I'm implementing my first JWT authentication and i need to protect against replay attacks
I was wondering if the ITokenReplayCache  should have async methods in case the developer need to lookup on something that requires I/O like a file or a database

[2015-07-13 11:51] leastprivilege opened #198 "Creating JWTs on CoreCLR"
Hi.

I want to create Jwts in an ASP.NET 5 app on the CoreClr.

What's the right Nuget to use for this? In the past I have X509SigningCredentials in the JwtSecurityToken ctor - I can't find this class. Where can I find it? Or is there a replacement?

thanks!

[2015-07-13 14:36] leastprivilege commented on #198
nm - got it.

[2015-07-13 14:36] #198 closed

[2015-07-13 22:36] brentschmaltz commented on #197
I deliberately wanted this to be sync. If there is a need for async, then we would need to lock somewhere because the contract is about only the first token is accepted.

[2015-07-13 22:37] brentschmaltz commented on #196
@hojjat-reyhane did you find what you needed?

[2015-07-13 22:39] brentschmaltz commented on #183
The deadlock happens when you call GetConfigurationAsync from within an Asp.Net method. Such as in a controller. From within the OWIN runtime, we have not seen deadlocks.

[2015-07-14 20:49] #142 closed

[2015-07-14 20:49] brentschmaltz commented on #142
Refactor #187

[2015-07-14 22:01] #167 closed

[2015-07-16 17:23] brentschmaltz opened #201 "Add comments to TokenValidationParameters describing parameters"
For example, users may not realize that setting: ValidateIssuer = false, opens the door for a forwarding attack.
Each of the parameters: ValidateActor, ValidateAudience, ValidateIssuer, ValidateLifetime, ValidateIssuerSigningKey, ValidateSignature

Should describe what is the result of modifying the defaults. We need comprehensive docs trying these to delegates, for example ValidateActor should re

[2015-07-17 22:20] hojjat-reyhane commented on #196
Thanks for answering, no i did not. The problem is that i'm new to unity and don't know how to use .NET extensions.

[2015-07-17 22:46] hojjat-reyhane commented on #196
I searched again and found that i should to use .dll file of extension. The dll should compile for .NET framework 3.5 or before. I tested a JSON dll for .NET 3.5 but it did not work. The .NET 2.0 version worked very well. Now i want .NET 2.0 dll file of this extension and don't know how to get it!!!

[2015-07-21 08:11] hojjat-reyhane commented on #196
Again me!!! I downloaded the dll file from this link for .NET framework 4.5 but it didn't work in unity.
https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/4.0.2.206221351
Has JWT any extension for .NET framework 3.5 or before?

[2015-07-21 13:57] brentschmaltz commented on #196
All our JWT work requires 4.5 .Net as it depends on System.Security.Claims that showed up in 4.5.

[2015-07-21 14:10] hojjat-reyhane commented on #196
That's a bad news, very bad news.
I want to connect to a web service with unity and don't want any body see the contents. Is there any chance i can implement JWT by myself in c# .NET framework 3.5?

[2015-07-21 14:16] hojjat-reyhane commented on #196
I just want to encode, decode and validate data with a single algorithm (does not matter witch one). Any extra methods is useless for me.

[2015-07-21 14:35] ghanashyaml commented on #196
Try using Dominic Baier's JWT implementation found in leastpriviledge.com which should work for you.

-----Original Message-----
From: "hojjat-reyhane" <notifications@github.com>
Sent: ‎7/‎21/‎2015 10:16 AM
To: "AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet" <azure-activedirectory-identitymodel-extensions-for-dotnet@noreply.github.com>
Subject: Re: [azure-activedirectory-identi

[2015-07-21 15:47] hojjat-reyhane commented on #196
@ghanashyaml if you mean this "Thinktecture.IdentityModel", it's for .NET 4.5 too.

[2015-07-21 16:33] ghanashyaml commented on #196
Yes, there is an older version of the dll somewhere that has it.

On Tue, Jul 21, 2015 at 11:48 AM, hojjat-reyhane <notifications@github.com>
wrote:

[2015-07-22 06:10] leastprivilege opened #202 "When will the inbound claim type map be turned off by default?"
I am on 2.0.0-beta5 - and it seems I still have to do

JwtSecurityTokenHandler.InboundClaimTypeMap = new Dictionary<string, string>();

Am I missing something - or has this been changed in later builds?

[2015-07-22 15:38] brentschmaltz commented on #202
POR is to put that in the official beta7 build, but you should see it in a nightly soon.

[2015-07-23 16:32] #197 closed

[2015-07-23 16:33] brentschmaltz commented on #197
@Idhor feel free to reopen if you don't agree.

[2015-07-27 14:39] dubscott commented on #183
UPDATE: I was able to replicate thanks to [this SO post](http://stackoverflow.com/questions/31243412/solving-onsendingheaders-deadlock-with-katana-openid-connect-middleware). The deadlock was indeed happening within the OWIN pipeline. Upgrading to version 1.0.2.206221351 from nuget got rid of the problem for me.

Thanks for providing the fix!
Scott

[2015-07-27 18:44] brentschmaltz commented on #183
@dubscott thanks for confirming. Closing this issue.

[2015-07-27 18:49] tushargupta51 commented on #183
We need to fix this in 5.x.

[2015-07-29 20:20] tushargupta51 commented on #92
Closing this issue for now, 2038 is way in the future. We can revisit this later.

[2015-07-30 20:17] tushargupta51 commented on #188
@brockallen I made the interface public in #203 and changed the ctor for ConfigurationManager accordingly. The changes are made in 5.x only.

[2015-07-30 22:28] brentschmaltz commented on #202
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/95 set to Beta7

[2015-07-30 22:28] #202 closed

[2015-07-30 22:37] brentschmaltz commented on #61
We should consider if the constructor that takes a dictionary makes sense first. we should lock on the design for Beta7.

[2015-07-30 22:39] brentschmaltz commented on #63
Let's leave them as strings.

[2015-07-30 22:39] #63 closed

[2015-07-30 22:46] brentschmaltz opened #205 "Add back a 'SecurityTokenDescriptor' like class for creating tokens."
SecurityTokenDescriptor was used as a simple mechanism create tokens. We should add back an updated version that makes sense with todays OM.  For example, Lifetime should not be in the class.

see #80

[2015-07-30 22:46] #80 closed

[2015-07-30 22:50] brentschmaltz commented on #84
Currently we need to map from the Json algorithm and key specs to a value in SecurityAlgorithms. We should be able to remove the mapping.

[2015-07-30 22:53] brentschmaltz commented on #109
closing assuming the issue is resolved.

[2015-07-30 22:53] #109 closed

[2015-07-30 22:57] brentschmaltz commented on #136
We should at least fix the null ref and drop the claim. It will still be in the jwtpayload, but not in the ClaimsIdentity.

[2015-07-30 23:14] brentschmaltz commented on #176
It would be natural to remove the IDictionary methods. Have a look at #61

[2015-07-30 23:19] brentschmaltz commented on #178
If we can .net 4.5 users can use our 5.x packages, this is not necessary.

[2015-07-30 23:56] brentschmaltz commented on #88
fix with #205

[2015-07-31 19:25] tushargupta51 commented on #95
@korroz Thanks for your work on this. I have created a branch - "claimMapping"(https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/claimMapping) Can you send a PR to that? We are still deciding on how to best tackle this issue and would like to take in your work and build on top of it.

[2015-08-01 17:08] brockallen commented on #188
Ok, thanks!

[2015-08-03 19:57] tushargupta51 commented on #95
@korroz ^

[2015-08-03 23:52] tushargupta51 opened #206 "Issuer signing key not getting validated"
After validating the signature of the token, jwt.SigningKey was assigned incorrectly causing it to be always null whenever the signature is validated using the keys in validationParameters (GetAllKeys() method). Since jwt.SigningKey is null, it is not validated in the JwtSecurityTokenHandler.ValidateToken method.

[2015-08-04 07:27] korroz commented on #95
Ah, of course. Since your branch is a bit older than `master` though, I have to do some rebase magic before submitting a PR to `claimMapping`. I'll get that done some time today.

And sorry for the late response.

[2015-08-04 16:18] tushargupta51 commented on #95
@korroz, the claimMappijg branch is based off of KDev branch which is the latest version of wilson. We are planning to fix it in 5.x first and then backport it to 4.x (master branch). I dont think Rebasing will work since these branches are very different from each other. The best way will be to reapply these changes to a branch based on kdev. Sorry for the inconvinience.

[2015-08-04 17:23] korroz commented on #95
Ah, I see.

Well rebasing is a flexible tool, and I'm pretty good at it, so I'm sure I can rebase my commits onto `claimsMapping`. Although I see you've switched to *xunit* as well, nice move, I'll convert my code.

[2015-08-04 20:25] tushargupta51 commented on #192
@brentschmaltz I don't think this is an issue in 5.x. It seems to be related to ResolveIssuerSigningKey method which is not currently implemented in 5.x. We can drop this off of beta7 list I guess?

[2015-08-04 23:18] korroz commented on #95
Rebasing went fairly smooth actually. But installing VS 2015 and making sure the DNX environment was working to actually build and confirm that the rebase was successful took some effort, hehe.

All tests passed and I also signed the cla, so everything should be in order.

[2015-08-05 19:38] brentschmaltz opened #209 "Add back TokenValidationParameters.CertificateValidator"
This was removed in Beta5, because X509CertificateValidator was not in FxCore.
It will be needed when we validate Saml tokens that contain x5c (essentially a self check as the token contains the keys). In this case we need to validate the signing key (only for x509).

[2015-08-05 20:52] tushargupta51 opened #210 "Implement JwtSecurityTokenHandler.ResolveIssuerSigningKey"
We took off the implementation since in 5.x, we moved away from the SecurityKeyIdenitifierClause model. Need to add a different implementation of this.

[2015-08-05 20:59] #206 closed

[2015-08-05 20:59] #183 closed

[2015-08-05 20:59] #174 closed

[2015-08-05 20:59] #137 closed

[2015-08-07 23:33] tushargupta51 opened #212 "React to dotnet api breaking changes"
In CoreFx, following properties are dropped:
1. PublicKey.Key
2. X509Certificate2.PrivateKey

and minor version is bumped up by 1, i.e. 4.0.0-beta- became 4.0.1-beta.

Update wilson accordingly.

[2015-08-10 20:25] brentschmaltz commented on #166
SignatureVerificationFailedException was never used, so we just have to delete it.

[2015-08-10 20:36] tushargupta51 opened #215 "IssuerSigningKeyResolver delegate returning IEnum of SecurityKey"
IssuerSigningKeyResolver delegate currently returns only a single key. In case where the incoming token does not have a 'kid', it makes sense to try multiple keys to validate the token instead of just one. Change the delegate signature to return multiple keys.
    public delegate SecurityKey IssuerSigningKeyResolver(string token, SecurityToken securityToken, string kid, TokenValidationParameters v

[2015-08-10 23:45] #212 closed

[2015-08-11 19:04] tushargupta51 opened #216 "Separate out classes in OpenIdConnectConstants.cs into proper classes."
There are multiple classes inside OpenIdConnectConstants.cs. Pull them out into individual classes.

[2015-08-11 22:03] brentschmaltz commented on #166
https://github.com/AzureAD/azure-activedirectory-identitymodel-extens… #214

[2015-08-11 22:03] #166 closed

[2015-08-13 19:40] tushargupta51 opened #220 "Update change log"
Update change log to include the fixes made in beta6 and beta7.

[2015-08-13 23:33] groberts314 commented on #179
Ran into this same issue, via `System.IdentityModel.Tokens.JwtSecurityTokenHandler` (`System.IdentityModel.Tokens` `5.0.0-beta6`) trying to validate a JWT signed with RSA / SHA.  I ended up rolling my own class that inherits `JwtSecurityTokenHandler` and overrides `ValidateSignature()` in which it makes use of a SHA Managed + `System.Security.CryptographyRSAPKCS1SignatureDeformatter` in order to p

[2015-08-13 23:43] tushargupta51 commented on #128
It is by design that JsonConvert deserialize int to Int64. Here is a related workitem:http://json.codeplex.com/workitem/20832

The issue was closed with this description:
"Json.NET by default reads integer values as Int64 because there is no way to know whether the value should be Int32 or Int64, and Int64 is less likely to overflow. For a typed property the deserializer knows to convert the Int64

[2015-08-14 00:22] tushargupta51 opened #221 "Improving logging in Wilson"
1. Replace hardcoded messages by strings in ErrorMessages. #56
2. Provide defualt event listener (one that writes to a local file?)
3. Can we add more info in each message? DateTime stamp? Method Name? etc.

[2015-08-14 00:23] tushargupta51 commented on #56
This I will be going to fix as part of another fix related to logging #221 in beta8. Closing this one.

[2015-08-14 00:23] #56 closed

[2015-08-15 08:48] grokit opened #222 "No simple "hello world" sample for the 95% use-case: generate / validate a simple vanilla HS256 token."
I noticed that this project does not have an easy example that can just be picked-up and used for the simpler, "95%" use-cases. For example, the python implementation of JWT (see http://jwt.io/) has this on the frontpage:

[code]

I had to build a similar "simple few-liners" for C# leveraging this repository. Would it helped if I contributed it back? I will have to refactor a bit anyays, so what w

[2015-08-17 18:57] brentschmaltz commented on #201
Merged into KDev https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/827af47924248cee0a7c44c51e8fa7722cde2015

[2015-08-17 18:57] #201 closed

[2015-08-17 23:16] tushargupta51 commented on #78
Moving to beta8 since TokenValidationParameters.CertificateValidator is still commented out.

[2015-08-17 23:16] tushargupta51 commented on #78
Related: #209

[2015-08-18 21:20] #133 closed

[2015-08-18 21:24] PinpointTownes commented on #133
Nice, thanks @tushargupta51 :+1:

[2015-08-18 21:28] #216 closed

[2015-08-18 21:28] #186 closed

[2015-08-18 21:28] #177 closed

[2015-08-18 21:28] #176 closed

[2015-08-18 21:32] #60 closed

[2015-08-18 21:36] #128 closed

[2015-08-18 21:37] #220 closed

[2015-08-18 23:59] #125 closed

[2015-08-18 23:59] #81 closed

[2015-08-18 23:59] #67 closed

[2015-08-19 00:07] tushargupta51 commented on #178
@brentschmaltz now that, .net 4.5 users can use wilson 5.x, can we close this?

[2015-08-19 23:58] tushargupta51 commented on #95
Fixed in 5.x. Thanks @korroz for your contribution.

[2015-08-20 00:01] brentschmaltz opened #226 "OpenIdConnectProtocolValidation error messages use to 'jwt', they should use 'id_token'"

[2015-08-20 00:03] brentschmaltz opened #227 "OIDC spec version's referred in code are stale and should be updated."

[2015-08-20 21:36] tushargupta51 commented on #73
Fixed in #225

[2015-08-20 21:36] #73 closed

[2015-08-21 18:01] grokit commented on #222
Hey Brent, this has been labelled, but to my question earlier, do you want me to submit the fix?

[2015-08-21 21:18] tushargupta51 opened #229 "OIDC Protocol Validator needs to skip chash validation in 'code' only flow"
In 'code' only flow, we redeem the code for an id_token. The id_token does not have the chash_claim.

When we pass this id_token and the original response message to the protocol validator, then it tries to validate the chash because of non null validationContext.IdToken. The validation will fail with IDX10308 error at this line:
https://github.com/AzureAD/azure-activedirectory-identitymodel-exten

[2015-08-21 22:17] brentschmaltz commented on #229
When a OICD Response message arrives that just has 'code'. This implies a confidential client flow. The code will be redeemed for a token to use against the userinfo endpoint and an id_token describing the authentication. The original message should not be passed to the OIDCValidator with the id_token. The id_token should be validated and the subject from the UI endpoint must be the same subject a

[2015-08-21 22:35] tushargupta51 commented on #229
@Tratcher
"The original message should not be passed to the OIDCValidator with the id_token."..that is the key statement.

[2015-08-21 22:41] brentschmaltz commented on #229
@tushargupta51 @Tratcher I reviewed the code, I think the call around ~423 is not needed.  That is not an OIDC response message, but a OAuth response message.

[2015-08-24 04:23] #229 closed

[2015-08-24 16:49] brentschmaltz opened #230 "OpenIdConnectConfiguration.Copy should 'deep' copy collections."
the method Copy(OpenIdConnectConfiguration config) should copy the strings in collections.
The existing code uses references as in:
_acrValuesSupported = config._acrValuesSupported;

We should write:
_acrValuesSupported = new Collection<string>(config._acrValuesSupported);
to keep the two objects independent.

[2015-08-25 17:28] brentschmaltz opened #231 "Protocol"

[2015-08-25 17:29] brentschmaltz commented on #231
fat fingered keyboard. closing item.

[2015-08-25 17:29] #231 closed

[2015-08-26 21:26] brentschmaltz opened #232 "HttpDocumentRetriever should require https by default"
If the address is not https, then we should fault.

[2015-08-26 21:30] brentschmaltz opened #233 "HttpDocumentRetriever should have property to allow http, OFF by default"
Users in developing or testing sometimes need the ability to use http. We need a property here to allow http. OFF by default.

[2015-08-26 21:34] brentschmaltz commented on #232
Note: GenericDocumentRetriever should be modified when the address is a url.

[2015-08-26 21:38] brentschmaltz opened #234 "JsonConstants, JsonWebKey, JsonWebKeySet should be moved to m.im.protocols.openidconnect"
they are in the wrong library

[2015-08-26 21:41] brentschmaltz opened #235 "Need test to ensure OpenIdConnectConfigurationRetriever performs TLS server auth"
Need to validate that:
1. the cert used to protect the channel owns the url, altSubjectName == host
2. check certificate revocation
3. certificate has valid chain

[2015-08-26 21:45] brentschmaltz opened #236 "Is Unicode mapping being handled correctly?"
How are we handling Unicode mapping? For example, the OIDCProtocolValidator compares sub strings, is mapping an issue here?

[2015-08-26 21:47] brentschmaltz opened #237 "Is Strict JSON parsing in effect?"
Understand what Strict JSON is and ensure that we enforce it.
For example: "{"tag":"value"}ABCD" is invalid when 'strict' is in effect.

[2015-08-30 20:17] johnkattenhorn opened #239 "Using Nightly Build OpenId"
Hi,

I'm suffering similar issues to those raised in #143 so I'm trying to use the nightly build bits from myget.

So I un-installed Microsoft.IdentityModel.* and System.IdentityModek.* from my project and replaced them with packages from myget and got an error from my code

    return new OpenIdConnectAuthenticationOptions
            {
                ClientId = ConfigurationManager.AppSettings[

[2015-08-30 21:43] johnkattenhorn commented on #239
By using the Assembly Binding Log View I could see this was being caused by not upgrading Microsoft.IdentityModel.Protocol.Extensions package not matchup, however attempting to upgrade to the Prerelease currently available in Nightly gives the following error:

    Could not install package 'Microsoft.IdentityModel.Protocol.Extensions 2.0.0-beta6-207061559'. You are trying to install this package

[2015-08-30 22:41] johnkattenhorn commented on #239
So I downloaded the nugget package in question from myget and there isn't a net451 directory like there is for the other packages, there is a dnx451 though.

I tried to use this but my fusion log revealed that it is not signed so I think this means my redirect gets ignored.

    === Pre-bind state information ===
    LOG: DisplayName = Microsoft.IdentityModel.Protocol.Extensions, Version=1.0.0.0,

[2015-08-31 21:48] tushargupta51 commented on #239
@johnkattenhorn Which version of MS.IM.Protocols.Extensions are you using: 1.x or 2.x? We added the support for net451 in 2.x in beta7 but we also did some package renaming (more details here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KRelease/CHANGELOG.md). You can get the latest 1.x package from nuget.org (https://www.nuget.org/packages/Microsoft.I

[2015-08-31 23:00] tushargupta51 opened #240 "Split Up ErrorMessages.cs file"
Currently, there is one ErrorMessages.cs file in system.IM.Tokens that is being referenced by other projects. Split this up and create a LogMessages.cs file for each project. Also, rename the message codes to correspond to specific project. For example, message codes for Microsoft.IdentityModel.Protocols will have 'MIP' prefix.

[2015-09-01 05:15] brentschmaltz opened #241 "Nightly feeds on myget spells 'extensions' as 'extensiions' extra i"

[2015-09-01 08:03] johnkattenhorn commented on #239
I'm trying to use 2.x as System.IdentityModel.Tokens.Jwt version 5.x seem dependant on it. There definitely seems to be a packaging issue for identity model extensions as you can see from my comments about the 2.x packages for beta 6 just don't include the 451.

I didn't release though that in fact this fix has been pushed to the latest 1.x as well, maybe I have a different problem and I'm fault f

[2015-09-01 17:21] leastprivilege opened #242 "amr is an array"
http://openid.net/specs/openid-connect-core-1_0.html#IDToken

amr
OPTIONAL. Authentication Methods References. **JSON array of strings** that are identifiers for authentication methods used in the authentication. For instance, values might indicate that both password and OTP authentication methods were used. The definition of particular values to be used in the amr Claim is beyond the scope of thi

[2015-09-01 17:24] tushargupta51 commented on #239
@johnkattenhorn If you want to use 2.x, then you have to use beta7 or higher since we added support for net451 after that. It does not exist in beta6 so beta6 packages wont work against dotnet 4.5.1.

[2015-09-01 21:34] tushargupta51 commented on #241
@brentschmaltz Where did you see that typo? In the package name? I don't see it here: https://www.myget.org/gallery/azureadwebstacknightly

[2015-09-02 18:36] tushargupta51 commented on #241
Ah, got it. It was in the feed description. Fixed it.

[2015-09-02 18:36] #241 closed

[2015-09-03 02:24] brentschmaltz commented on #239
@johnkattenhorn we are experiencing issues with packages with VS 2013. Package manager is complaining.  Also note, we haven't tested 4.5.1 with these beta packages.

[2015-09-03 03:22] johnkattenhorn commented on #239
Hey @brentschmaltz, I'm using VS2015 and I'm going to look into this issue again later today to see if I've picked the wrong package (beta6) by mistake and I'll report back.

The only other thing I was thinking of trying was to try to build from source again by sign them so I could perform the version re-directs for dependent assemblies (e.g. ASP.NET Identity).

[2015-09-09 14:54] videege commented on #53
I think I am running into this issue using beta7 - I am using the JWT library to generate JWT tokens with a symmetric security key and the framework is throwing an algorithm not supported error (see http://stackoverflow.com/questions/32438878/dnx-core-5-0-jwtsecuritytokenhandler-idx10640-algorithm-is-not-supported-htt).

Is it currently not possible to use symmetric keys with the `JwtSecurityToken

[2015-09-10 23:03] brentschmaltz commented on #242
This will result in a OM change. We should tackle this soon.

[2015-09-10 23:09] brentschmaltz opened #243 "Cannot install packages on Visual Studio 2013"
Create a Visual Studio project in 2013 and attempt to add a 5.x package.
Tushar,  please add the error description.

[2015-09-10 23:22] brentschmaltz commented on #239
@johnkattenhorn closing this out, please re-open if you still have a problem.

[2015-09-10 23:22] #239 closed

[2015-09-10 23:26] brentschmaltz commented on #235
handled by schannel.

[2015-09-10 23:26] #235 closed

[2015-09-10 23:27] brentschmaltz commented on #232
really a dup of #233

[2015-09-10 23:27] #232 closed

[2015-09-10 23:31] brentschmaltz commented on #222
Sure, submit a PR to KDev

[2015-09-10 23:41] brentschmaltz commented on #196
@hojjat-reyhane Please feel free to reopen.

[2015-09-10 23:41] #196 closed

[2015-09-10 23:52] brentschmaltz commented on #123
Doesn't meet bar.

[2015-09-10 23:52] #123 closed

[2015-09-10 23:53] brentschmaltz commented on #121
Doesn't meet bar.

[2015-09-10 23:53] #121 closed

[2015-09-11 00:14] brentschmaltz commented on #53
SymmetricKey support is not available right now. Closing issue dup of #58

[2015-09-11 00:14] #53 closed

[2015-09-11 20:01] tushargupta51 opened #244 "Update build.cmd to remove version of Sake"
build.cmd is tied to a specific version of Sake (0.2). Recent update to Sake and Korebuild broke our builds because of this. Latest Korebuild does not work with 0.2 Sake, it needs 0.2.2.

[2015-09-11 20:22] #244 closed

[2015-09-15 21:55] tonyeung opened #246 ""invalid algorithm specified" after adding RSAPKCS1SHA256SignatureDescription to cryptoconfig"
Trying to write a token using JwtSecurityTokenHandler.WriteToken()
Get error: `Invalid algorithm specified`

Stack trace:
[code]
Found out the problem is when I add this line to my project in order to verify some xml signatures.
    CryptoConfig.AddAlgorithm(typeof(RSAPKCS1SHA256SignatureDescription), "http://www.w3.org/2001/04/xmldsig-more#rsa-sha256");

So right now I can either validate xml or

[2015-09-15 22:19] PinpointTownes opened #247 "Incorrect cast in AsymmetricSignatureProvider"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/System.IdentityModel.Tokens/AsymmetricSignatureProvider.cs#L106

With recent changes in CoreFX, `RSACertificateExtensions.GetRSAPublicKey` can now return a `RSACng` instance - instead of a `RSACryptoServiceProvider` - on platforms supporting CNG.

Since IdentityModel expects a `RSACryptoServiceProvid

[2015-09-15 22:22] PinpointTownes commented on #247
/cc @brentschmaltz @tushargupta51

[2015-09-15 22:25] csunali commented on #247
Thank you, @PinpointTownes, for pinging the right people in the right repository! :+1:

[2015-09-16 07:37] tushargupta51 commented on #168
This issue is for 4.x since the mentioned PR #161  was pushed to 4.x. I am not sure if we want to revert it  since 4.x is not supported on mono.

[2015-09-16 07:41] tushargupta51 commented on #152
Fixed in #161

[2015-09-16 07:41] #152 closed

[2015-09-16 20:56] #221 closed

[2015-09-16 22:08] tushargupta51 opened #249 "build wilson packages using dnx mono"
build wilson using dnx mono and run a sample

[2015-09-17 17:07] tonyeung commented on #246
I don't know why the cert doesn't work, but after I created a new cert and specified `Microsoft Enhanced RSA and AES Cryptographic Provider` as the CSP, it worked. If anyone else has this problem, please note that on the cert request either from the MMC or IIS will not let you chose the CSP  (the option should be there but it will be hidden AND disabled). You will need to generate the request via

[2015-09-17 17:21] brentschmaltz commented on #247
@PinpointTownes thanks.

[2015-09-17 17:24] brentschmaltz commented on #246
the reason is the default CSP doesn't support SHA2, when you created the cert with 'enhanced', you triggered a different CSP to be instantiated that supports SHA2. It is a bit quirky to be sure.

[2015-09-17 17:33] tonyeung commented on #246
@brentschmaltz  Is there a way to specify which one I need to use? if I don't add RSAPKCS1SHA256SignatureDescription to the cryptoconfig, signing works fine. I looked for away to remove description but there wasn't anything public I could call.

[2015-09-17 18:34] tushargupta51 commented on #230
@brentschmaltz Do we need a deep copy here? The 'Copy' method is private and is called from one of the constructors public OpenIdConnectConfiguration(string json). This constructor deserializes the json into a local config object which is what we copy over to "this".

[2015-09-17 21:24] sandorfr opened #250 "SymmetricSignatureProvider for coreclr has no implementation / support for HMAC"
As mentioned in this issue (https://github.com/aspnet/Security/issues/439), it is not possible to produce HMAC signed token atm. This is quite annoying because Hmac token are very common (azure mobile services uses them) and the RSA alternative does not currently work on OSX coreclr.

The workaround was quite easy, I just had to create a SignatureProviderFactory which returns a SymmetricSignatureP

[2015-09-17 23:31] #230 closed

[2015-09-18 00:05] brentschmaltz commented on #246
Have you considered a custom AsymmetricSignatureProvider and pass that as a parameter to CreateToken?

[2015-09-18 00:21] tonyeung commented on #246
I'm not sure what you mean by that.
Do you mean what's in the test here? https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/e6d903b4f8d3c6d7697dc70cd54ae905b18b65fe/tests/Microsoft.IdentityModel.Protocol.Extensions.Tests/Saml2SecurityTokenHandlerTests.cs#L227

or do you mean the place where I provide the keying material https://github.com/AzureAD/azure-active

[2015-09-18 12:19] sandorfr commented on #250
I also had to derive SymmetricSecurityKey to implement GetSignatureProvider which is used by the current JwtSecurityTokenHandler despite I provide an explicit SignatureProviderTokenFactory.

The current code base seems a little confusing with that SignatureProviderTokenFactory which can come from to many different places and you can't replace with your own with a single configuration.

[2015-09-18 18:49] RandalliLama commented on #250
@brentschmaltz Could you take a look at this?

[2015-09-18 21:11] tushargupta51 opened #251 "Adding crypto extensibility for hash validation"
In OpenIdConnectProtocolValidator, add extensibility to allow users to specify the algorithms to be used for validation (chash and athash).

[2015-09-19 05:49] leastprivilege commented on #233
There are valid reasons for allowing HTTP for both the discovery endpoint, the redirect URI and the authority in general.

* internal networks
* SSL offloading
* local caches

please don't make HTTPS a requirement (that you can't turn off) on any of those

[2015-09-19 16:09] tushargupta51 commented on #233
@leastprivilege Https will be turned on by default but you can turn it off by setting RequireHttps to false on HttpDocumentRetriever. The code is in review.

[2015-09-22 21:57] #233 closed

[2015-09-22 21:57] #164 closed

[2015-09-23 10:55] PinpointTownes opened #253 "Fix ConfigurationManager.GetConfigurationAsync to avoid hiding inner exceptions"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols/Configuration/ConfigurationManager.cs#L183-L188

This code path hides the inner exception without logging it, please fix it.
(btw, the `retrieveEx` variable is never used)

/cc @tushargupta51

[2015-09-23 20:48] tushargupta51 commented on #226
@brentschmaltz what is this issue about? which error messages use "jwt"?

[2015-09-23 21:21] tushargupta51 commented on #253
Thanks @PinpointTownes

[2015-09-23 22:05] #237 closed

[2015-09-23 22:06] #210 closed

[2015-09-23 22:06] #234 closed

[2015-09-23 22:06] #47 closed

[2015-09-23 22:06] #242 closed

[2015-09-23 22:06] #253 closed

[2015-09-23 22:08] PinpointTownes commented on #253
Thanks for the fix @tushargupta51! :+1:

[2015-09-24 06:31] tushargupta51 opened #254 "ConfigurationManager returning null configuration"
If not enough time is passed after last request to retrieve configuration, ConfigurationManager returns last retrieved configuration which could be null. It should return only if it is non-null, and throw otherwise.

Related: https://github.com/aspnet/Security/issues/467

[2015-09-24 07:17] tushargupta51 commented on #243
Related Issues:
https://github.com/aspnet/Home/issues/368
https://github.com/aspnet/EntityFramework/issues/657

Solution:
Update nuget manager on VS 2013 here : Tools > Extensions and Updates > Updates  to be >=2.8.3. Tested after updating the nuget and it installs all the packages, used configurationManager api, all works fine.

[2015-09-24 07:17] #243 closed

[2015-09-24 22:20] Tratcher opened #256 "OpenIdConnectProtocolValidator.RequireStateValidation = false does not disable validation"
RequireStateValidation = false does not disable state validation. It still requires OIDCMessage.State to be null and OIDCVlaidationContext.State to be null.

[2015-09-24 22:22] Tratcher commented on #256
@tushargupta51 @brentschmaltz

[2015-09-25 13:48] Tratcher commented on #256
Actually there's a different problem. This error: `IDX10331: The 'state' parameter in the message: '{0}', does not equal the 'state' in the context: '{1}'.` is being thrown from the wrong places:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectProtocolValidator.cs#L228
https://github.com

[2015-09-25 16:15] PinpointTownes commented on #256
I'm tempted to say the current behavior is the right one from a security perspective. If state validation is disabled, you shouldn't be able to specify a state... since allowing any `state` parameter without comparing it to the expected value would open your app to impersonation attacks. That said, the new name is a bit weird, `RequireState` was much more appropriate.

[2015-09-25 20:09] tushargupta51 commented on #256
@Tratcher You are right. The error message is incorrect. I will push out a fix for that soon.

[2015-09-25 20:11] tushargupta51 commented on #256
I agree with @PinpointTownes on the better name. RequireStateValidation is bit misleading.

RequireState:
If this is set to true:
1. All requests sent to IDP and responses received from IDP must have state and they must match, otherwise protocol validator will throw.

If this is set to false, it allows you to send requests without any state.
1. If state is missing in the request but IDP sent a res

[2015-09-26 00:46] tushargupta51 commented on #256
@Tratcher How about having 2 flags: RequireState (as described above) and RequireStateValidation. If RequireStateValidation is set to false, we dont try to validate state at all.

Does it sound like an overkill? Both defaults to true. All you need to do is set RequireStateValidation to false on protocol validator, no need to deal with RequireState flag in that case.

[2015-09-26 09:10] tushargupta51 opened #257 "Add dnxcore50 target for tests"
xunit is now available on dnxcore50. Update tests to run against that too.

[2015-09-26 13:17] Tratcher opened #258 "ValidateTokenResponse requires Token"
ValidateTokenResponse requires both IdToken and Token, but the spec says it should be IdToken and AccessToken. I don't see any scenarios that say they return Token.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectProtocolValidator.cs#L264-L268
http://openid.net/specs/openid-connect-core-

[2015-09-26 16:17] tushargupta51 commented on #258
Token corresponds to accesstoken.

[2015-09-26 16:23] Tratcher commented on #258
Then why does OIDCMessage define both Token and AccessToken? And why does ValidateTokenResponse check for Token rather than AccessToken?

[2015-09-26 17:57] tushargupta51 commented on #258
@Tratcher It is confusing to have both properties on OpenIdConnectMessage. AccessToken is the right property to use. I have pushed out a fix to oidcProtocolValidation branch.

Do you have any opinion on #256? I am thinking of making that change too in this fix PR.

[2015-09-26 18:17] Tratcher commented on #256
@tushargupta51 I want what you described as RequireStateValidation. I don't think RequireState has much value beyond that, but as I won't use it I don't care one way or the other.

[2015-09-28 21:48] #258 closed

[2015-09-28 21:48] #256 closed

[2015-09-29 17:22] #215 closed

[2015-09-29 17:22] #254 closed

[2015-09-29 17:23] #247 closed

[2015-09-29 17:23] tushargupta51 commented on #179
@brentschmaltz Is this a P0?

[2015-09-29 17:30] PinpointTownes commented on #247
@tushargupta51 thanks for fixing this bug :+1:

[2015-09-30 18:59] PinpointTownes opened #261 "Add timeout values to all regex expressions"
https://github.com/aspnet/dnx/issues/1752

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityToken.cs#L63

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L386

/cc @blowdart @tushargupta51

[2015-10-01 00:46] brentschmaltz commented on #261
@PinpointTownes Thanks.
For beta8 the plan is to check: if (regex.MatchTimeout == Timeout.InfiniteTimeSpan) and if so, then create a new regex setting the Matchtimeout to 2 secs.
In RC we can make the value configurable.
I pushed a proposed fix to the 'Regex' branch.  Have a look if you want.

[2015-10-01 01:00] PinpointTownes commented on #261
Thanks! That's an interesting fix, (even if I'm not sure it's really useful to check the default timeout) :+1:

[2015-10-01 01:04] tushargupta51 commented on #261
1169194e08ba98e0fbeba4b40f5cdabe2daab4ee

[2015-10-01 01:04] tushargupta51 commented on #261
@brentschmaltz Do you want to close this or leave it open as a tracking issue for RC?

[2015-10-01 01:19] brentschmaltz commented on #261
@PinpointTownes I am trying to be careful here by respecting any user set defaults. I can't query the AppDomain in Core as I don't think it exists.

@tushargupta51 we need to make this configurable so users don't have to revert to the AppDomain. This is similar to XmlReader quotas when processing SAML tokens.

[2015-10-01 18:31] tushargupta51 opened #262 "Matching jwt token against a regex"
When creating a JwtSecurityToken from a json string, we match it against a regex. Investigate whether that matching is required or just validating the max length of token and base64 decoding is good enough.

[2015-10-01 18:32] tushargupta51 commented on #261
Closing this one as beta8 fix, opened #262 for rc investigation.

[2015-10-01 18:32] #261 closed

[2015-10-01 18:40] PinpointTownes commented on #261
Thanks :+1:

[2015-10-01 22:36] tushargupta51 opened #263 "Change "OpenIdConnectProtocolValidationContext.UserInfoEndpointResponse" type.to string"
OpenIdConnectProtocolValidationContext.UserInfoEndpointResponse is of type JwtSeurityToken. The caller of the protocol validator APIs need to parse the user info endpoint response to a JwtSecurityToken. The API should be doing that.

[2015-10-02 17:21] tushargupta51 commented on #250
@sandorfr We are planning to add Symmetric Signature provider support in KDev in RC. Do you want to send a PR for just HMAC support or complete symmetric signature provider because currently in KDev, it is just stubs.

[2015-10-02 17:25] sandorfr commented on #250
I'm gonna make a preview PR with my current work so we can discuss how I can make it more complete.

[2015-10-04 17:36] brentschmaltz opened #264 "IdentityModelEventSource.Write should not throw if EventLevel is not known, just log as Error."
public void Write(EventLevel level, string message, Exception innerException) throws if level is not a known value. It would be better to just log this and carry on.

[2015-10-05 01:21] brentschmaltz opened #265 "TextWriterEventListener.OnEventWritten uses incorrect LogMessage"
if (eventData.Payload == null || eventData.Payload.Count <= 0)
{
    IdentityModelEventSource.Logger.WriteInformation(LogMessages.MIML10000);
    return;
}

Message.MIML10000 doesn't seem right here.

[2015-10-05 19:05] brentschmaltz commented on #179
@groberts314 did you consider using a custom SignatureProvider by setting the SignatureProviderFactory on JwtSecurityTokenHandler? In this way you can control any crypto provider you want.

[2015-10-05 19:16] groberts314 commented on #179
@brentschmaltz: thanks for the suggestion.  I had to solve this problem rather quickly in a a bit of a panic to avoid blocking myself and developers working on the project.  I was also not overly familiar with the space, and therefore had not not considered that approach.  We've actually since moved in a completely different direction security-wise, and as such we're not currently relying on any o

[2015-10-05 22:16] brentschmaltz commented on #251
1. the algorithms should be as extensive as AsymmetricSignatureProvider.GetHashAlgorithm
2. extensible, virtual might be enough.

[2015-10-05 22:17] brentschmaltz commented on #250
great, love to see it.

[2015-10-05 22:27] brentschmaltz commented on #246
@tonyeung now I see why you are confused. Which version are you using?

[2015-10-05 22:31] brentschmaltz commented on #222
@grokit are you still interested?

[2015-10-05 22:36] tonyeung commented on #246
do you mean nuget version?

[2015-10-05 22:40] brentschmaltz commented on #85
If this is fixed, also address GetHashAlgorithm, so they are in sync.

[2015-10-05 22:40] brentschmaltz commented on #84
this will be addressed with #85

[2015-10-05 22:41] brentschmaltz commented on #55
Import parameters will fail. Low value fix as most keys are obtained using metadata.

[2015-10-05 22:41] #55 closed

[2015-10-05 22:45] brentschmaltz commented on #226
closing low value.

[2015-10-05 22:45] #226 closed

[2015-10-06 11:07] sandorfr commented on #250
Yes I noticed that while preparing my PR, there almost nothing to be done (or I'm missing something)
https://github.com/sandorfr/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1

[2015-10-06 21:13] tushargupta51 commented on #246
@tonyeung yes the nuget package version

[2015-10-07 20:37] brentschmaltz opened #266 "Update OpenIdConnectConfiguration to capture http_logout values."
http://openid.net/specs/openid-connect-logout-1_0.html#OPLogout

defines new values:
http_logout_supported
logout_session_supported

[2015-10-07 21:25] brentschmaltz opened #267 "AsymmetricSignatureProvider.IsSupportedAlgorithm should return false for HMAC algorithms."
case SecurityAlgorithms.HMAC_SHA384:
case SecurityAlgorithms.HMAC_SHA512:

these return true.

[2015-10-07 21:28] tushargupta51 opened #268 "Update feeds in nuget.config"
Update nuget.config to point to dotnet-core myget feeds for both dev and release branch. We still need to depend on aspnetvnext/aspnetrelease for korebuilde/sake

[2015-10-08 01:05] brentschmaltz opened #270 "Add assembly versions to logs."
We need a way to log the version of the assemblies that are running. Some runtimes do that with each message. Since our logger is separate from the assemblies we need to capture the dependant assemblies versions. We could do it with the first message or in each message.

[2015-10-08 03:25] brentschmaltz commented on #250
@sandorfr I think your fix looks pretty good.  We don't want to create signature with SHA1, we can verify them though. Can you get the PR against this repo?

[2015-10-08 09:02] leastprivilege opened #271 "Windows 10 UWP Support?"
Are the new packages (Jwt handler, OIDC disco client) supposed to work in Win 10 UWP apps? Is this a design goal?

[2015-10-08 14:46] #268 closed

[2015-10-08 15:33] sandorfr commented on #250
@brentschmaltz I already signed a CLA for another PR should I do it again?

Regarding the SHA1, I know this is not the best choice in terms of security but is there a specific reason to prevent people to do it without overriding the signature provider is they need it?

[2015-10-08 22:30] brentschmaltz opened #275 "Remove support for SHA1"
SHA1 is know to be at the end of life. If users need it they can use extensibility.

[2015-10-08 22:41] brentschmaltz opened #276 "Add constructor to OpenIdConnectMessage that takes JObject or json string."

[2015-10-09 09:58] tgitchel commented on #262
To allow for base64 encoded JWT with equals signs and RS256 signatures, the JsonCompactSerializationRegex in JwtConstants.cs should be set to:

        /// <summary>
        /// Token format: 'header.payload.signature'. Signature is optional, but '.' is required.
        /// </summary>
        public const string JsonCompactSerializationRegex = @"^[A-Za-z0-9-_=]+\.[A-Za-z0-9-_=]+\.?[A-Za-z0-9-_.+/

[2015-10-09 16:06] tushargupta51 opened #278 "Change Inbound and Outbound algorithm map from static to instance based"
Because of algorithm mapping being static, tests fail since some of the tests update the maps with custom values, other tests see these custom mapped values and fail.

E.g. in CreateAndValidateTokenTests.ExtensibilityTests.cs, inbound alg map is updated
            originalAlgorithmValue = ReplaceAlgorithm(newAlgorithmValue, SecurityAlgorithms.RsaSha256Signature, JwtSecurityTokenHandler.InboundAlg

[2015-10-09 16:37] #257 closed

[2015-10-09 16:55] brentschmaltz opened #279 "ConfigurationManger.GetConfigurationAsync should log details of configuration"
public async Task<T> GetConfigurationAsync(CancellationToken cancel)
Only logs on error.
We should log:
Where metadata was retrieved,
Details of metadata.  json retruned is probably enough.

[2015-10-09 18:11] tushargupta51 opened #280 "Revert the workaround in OpenIdConnectProtocolValidatorTests"
https://github.com/dotnet/corefx/issues/3667 bug is fixed in S.Secuirty.Claims but it seems that dnx packages the assembly in the runtime which takes precedence. We need to wait for an updated dnx. Once that is available, we should revert this in the test:
#if DNXCORE50
                    // Temporary until https://github.com/dotnet/corefx/issues/3667 is fixed
                    claims: new List

[2015-10-09 18:15] brentschmaltz commented on #80
@PinpointTownes first thing I want to do is add an overload that replaces ClaimsIdentity subject, with IEnumerator<Claim> claims OR NameValueCollection claims. This will help.  How strong do you feel that an STC type will help you?  I would like to get this in RC1.

[2015-10-09 18:28] #264 closed

[2015-10-09 18:28] #263 closed

[2015-10-09 18:28] #251 closed

[2015-10-09 18:28] #265 closed

[2015-10-09 18:28] #240 closed

[2015-10-09 18:54] brentschmaltz commented on #271
It wasn't a design goal, checking to see how far off we are.

[2015-10-09 19:01] brentschmaltz commented on #194
We are leaving 4.x as is. Changes are in 5.x

[2015-10-09 19:01] #194 closed

[2015-10-09 19:03] brentschmaltz commented on #179
@groberts314 let me know if we can help out.

[2015-10-09 19:04] brentschmaltz commented on #178
Yes, let's close.

[2015-10-09 19:04] #178 closed

[2015-10-09 19:05] brentschmaltz commented on #179
@PinpointTownes I down graded this to P1 as OSX and Linux users are fine for dnxcore50 and there is a way to run scenarios.

[2015-10-09 20:45] PinpointTownes commented on #80
I think changing the `subject` type is an orthogonal thing. Bringing back `STD` would mainly help abstracting the specific implementations, so one would be free to replace a JWT handler with a SAML/SAML2 one :+1:

This change is interesting. Will it help supporting "complex" claims (like the "address" claim: http://openid.net/specs/openid-connect-core-1_0.html#AddressClaim)?

[2015-10-09 20:54] PinpointTownes commented on #179
@brentschmaltz the last time I tried `dnxcore50` on Linux/OS X, there were many bugs and it was not really a viable option yet. I'll give it another try and get back to you :+1:

[2015-10-09 20:57] brentschmaltz commented on #179
@tushargupta51 @PinpointTownes Tushar was able to get: Osx, Linux and Windows nano working targeting dnxcore50.

[2015-10-09 21:15] tushargupta51 commented on #179
@PinpointTownes beta8 bits (coming out next week officially) are supposed to be more stable than earlier versions on linux/mac. Cross-plat was one of the primary action items for beta8.

[2015-10-12 10:35] leastprivilege commented on #271
Writing OIDC clients for native apps would required JWT validation - disco doc parsing would be nice to have.

[2015-10-12 16:39] brentschmaltz commented on #80
@PinpointTownes I see your point about different token types. API should abstract be on the SecurityTokenHandler. I would like to see API hat creates the encoded token in one step. I think the two step: SecurityToken CreateToken(...) -> string WriteToken(...) can be improved.

Something like:
string SecurityTokenHandler.CreateEncodedToken( <bunch of parameters) >)
OR
string SecurityTokenHandler.Cr

[2015-10-12 20:36] brentschmaltz opened #282 "asureadwebstacknightly feed on myget shows newtonsoft.json"
we need to remove newtonsoft.json from http://myget.org/gallery/azureadwebstacknightly.

[2015-10-12 20:52] tushargupta51 commented on #282
Removed.

[2015-10-12 20:52] #282 closed

[2015-10-12 23:21] Tratcher opened #283 "OpenIdConnectProtocolValidator.ValidateUserInfoResponse doesn't correctly accept JSON"
[code]

RE: https://github.com/aspnet/Security/issues/506

[2015-10-12 23:50] brentschmaltz commented on #283
@tushargupta51 I pushed what I think a fix could look like to protocolValidator branch. It needs some testing. Can you take over and gets some tests in and push a new build. This blocks aspnet taking RC1 bits.

[2015-10-13 03:52] tushargupta51 commented on #283
@brentschmaltz will take a look

[2015-10-13 04:44] tushargupta51 commented on #283
@Tratcher @brentschmaltz merged the PR.

[2015-10-13 04:44] #283 closed

[2015-10-13 05:32] tushargupta51 commented on #249
On unix/mac, wilson builds on dnxcore50 target. There is missing underlying support in Mono e.g. eventListener and other classes needed by logging. Applications targetting dnxcore50 target and using wilson work fine on unix/mac. As mono catches up dnxcore, we will revisit this later.

[2015-10-14 22:15] tushargupta51 commented on #279
@brentschmaltz  We log that information in OpenIdConnectConfigurationRetriever.GetAsync().

[2015-10-15 00:02] brentschmaltz commented on #279
@tushargupta51 we should log where we tired to get the data, 'address' typeof(retriever)

[2015-10-15 00:07] tushargupta51 commented on #279
@brentschmaltz we log the 'address' in the retriever GetDocumentAsync method. If someone hooks in their own retriever, then they need to add a logging statement too. We are not sure if the address is a valid address until we get to the document retriever, thats why logging it at the retriever level makes sense.

[2015-10-15 00:12] tushargupta51 commented on #279
If we fail to retrieve metadata, address is added to the exception message.

[2015-10-15 03:39] brentschmaltz commented on #279
@tushargupta51 here is how I am thinking. Suppose a user plugs their own retriever and they don't log and there is an error. Our logs will show nothing. However, if we log at the ConfigurationManager level the typeof(retriever), right away we will have something to help us.
I don't think there is any harm in logging at the manager level.
As a note, I don't see our FileDocumentRetriever.GetDocument

[2015-10-15 04:17] tushargupta51 commented on #279
@brentschmaltz In that scenario, our logs will show the: Unable to retrieve from <metadata address>. Inner Exceptio: <ex>. Inner exception will have more details about the exception thrown at a deeper level (e.g. in document retriever). We do have logging at the manager level too.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityM

[2015-10-15 05:00] tushargupta51 commented on #246
@tonyeung did you find the package version?

[2015-10-15 05:06] tushargupta51 commented on #82
@brentschmaltz I think this is now fixed. we do have negative tests for chash now. Can we close it?

[2015-10-15 16:53] brentschmaltz commented on #279
@tushargupta51 FileDocumentRetriever logs in the case of error, but not in the positive case. I am not focusing on the negative case, but the positive case. So what you are saying is that we've got it covered. I am good with that and will close the issue.

[2015-10-15 16:53] #279 closed

[2015-10-15 19:39] tushargupta51 opened #286 "Add ECDsaSecurityKey ctor that takes CngKey"
Currently, there is no relatively easy way to determine if a CngKey is a private or a public key. Add this ctor when there is a good way to determine that.

[2015-10-16 00:02] tonyeung commented on #246
sorry i got side tracked: 4.0.2.206221351, here's the package config. https://github.com/IdentityServer/IdentityServer3/blob/master/source/Core/packages.config

[2015-10-16 16:31] tushargupta51 commented on #209
When doing this, add tests too :) Closing #78 as dup.

[2015-10-16 16:31] #78 closed

[2015-10-16 18:00] brentschmaltz opened #288 "Review the implementation of IDisposable."
We used to dispose just the 'hash' but we create other disposable objects.

[2015-10-16 18:19] brentschmaltz opened #289 "Should AuthenticationProtocolMessage constructor take a string ?"
This blocks passing a 'json' string to the constructor and forces users to convert to JsonObject first.

[2015-10-16 19:38] #87 closed

[2015-10-16 19:38] #77 closed

[2015-10-16 19:39] #83 closed

[2015-10-16 19:39] #267 closed

[2015-10-16 19:39] #275 closed

[2015-10-16 19:39] #266 closed

[2015-10-16 19:39] #276 closed

[2015-10-17 23:17] tushargupta51 opened #290 "Update copyright statement in all files"
The new copyright statement should have Microsoft Corporation and MIT license instead of Microsoft Open Technologies and Apache license

[2015-10-17 23:18] tushargupta51 opened #291 "Update nuget packages metadata"
Update authors, license, requireLicenseAcceptance, project url and any other info.

[2015-10-18 02:29] tushargupta51 commented on #89
There does not seem to be duplication in these 2 test classes. Though, we need a cleanup of our tests to make sure we have less or no redundancy.

[2015-10-19 14:18] brentschmaltz commented on #278
We are just going to remove the mapping.

[2015-10-19 14:59] #82 closed

[2015-10-19 17:41] tushargupta51 commented on #58
Symmetric support is tracked in #250

[2015-10-19 17:41] #58 closed

[2015-10-21 17:44] brentschmaltz commented on #271
@leastprivilege We are looking into Disco Doc's.
UWP  is possible, but not for RC1.

[2015-10-21 18:09] leastprivilege commented on #271
RTM?

[2015-10-21 18:56] #290 closed

[2015-10-21 19:02] brentschmaltz commented on #271
@leastprivilege I am thinking RC2 or a nightly post RC1.  I will try and remember to ping you when it gets committed.

[2015-10-21 19:10] brentschmaltz commented on #270
I have completed some work addressing #205 so taking ownership.

[2015-10-21 20:00] tushargupta51 commented on #57
@brentschmaltz In .net, all algorithms implement legal key sizes (ECC might not), and they make sure at the the time of signing or verifying, that the key size is less than the maximum allowed. Should we have this property in Wilson? I say no since its going to prevent the DOS attack at .net layer, the only gain from having it in wilson is that we will fail at the time of creating signature provid

[2015-10-22 21:32] tushargupta51 commented on #54
@brentschmaltz Currently, usage of newtonsoft is embedded in a way that it is difficult to override the default json de/serialization. For example, we have ctors in OIDCMessage, JsonWebKey, JsonWebKeySet that uses JsonConvert to deserialize the json. Users have to override these classes to hook in their own ctors which uses a different serializer which is obviously a pain.

Another usage is in Jwt

[2015-10-23 05:21] brentschmaltz opened #297 "Add api to IdentityModelEventSource so that string params can be processed inside Write methods"
Currently IdentityModelEventSource.WriteVerbose(string message) which requires strings to be formatted before calling. An api addition such as: IdentityModelEventSource.WriteVerbose(string format, parms obj[] args would:
1. reduce coding as each Writexyz requires preformatting
IdentityModelEventSource.Logger.WriteInformation(string.Format(CultureInfo.InvariantCulture, LogMessages.IDX10242, token))

[2015-10-23 05:22] brentschmaltz commented on #271
@leastprivilege why does this interest you?

[2015-10-23 05:35] leastprivilege commented on #271
Because I needed to write a OIDC-based authN library for UWP (using WAB). Problem is that I cannot validate the id_token on the client side.

[2015-10-23 18:13] RandalliLama commented on #57
I agree completely. I don't know why we would do this.

[2015-10-23 18:13] #57 closed

[2015-10-23 18:23] RandalliLama commented on #54
This is going to be too invasive for not enough benefit. It also seems like a mostly additive change that we could add when we know that there is actually demand for it.

[2015-10-23 18:23] #54 closed

[2015-10-23 18:29] tushargupta51 commented on #289
@brentschmaltz I am going to investigate why we have the AuthenticationProtocolMessage.ctor that takes a string issuer address? What scenario does it support?

[2015-10-23 18:37] tushargupta51 commented on #262
We are past RC1, pushing it to RC2.

[2015-10-23 18:39] RandalliLama commented on #236
Moving out as we are past runway for RC1.

[2015-10-23 18:43] tushargupta51 commented on #62
It wont be breaking change, pushing it out to RC2

[2015-10-23 18:43] tgitchel commented on #262
This seems like a pretty critical bug to me.  There are many correctly formatted tokens that currently cannot be read or validated by the JwtSecurityTokenHandler (and incorrectly formatted tokens that will pass).
What is the timeframe for RC2?

[2015-10-23 18:48] #291 closed

[2015-10-23 21:50] tushargupta51 commented on #289
@brentschmaltz @RandalliLama I don't see any specific need to have a ctor to set the IssuerAddress property only. We can get rid of it. But if we change the ctor that takes a 'JObject' to the one that takes a 'json string', it will be breaking changes for asp.net guys since they are using our 'JObject' ctor that we added in Rc1.

[2015-10-26 22:18] tushargupta51 commented on #289
Moving this to RC2. We will keep the constructor that takes 'JObject' so its not a breaking API change. Instead, we will modify the existing 'stirng' ctor to interpret the string as json instead of issuerAddress. and move that ctor from AuthenticationProtocolMessage to OpenIdConnectMessage.

[2015-10-27 21:12] tushargupta51 opened #298 "Update to use .net generations"
.Net generation defines the API that is available on all platforms that a given generation supports. For more information about what .net generation is, please refer to: https://github.com/davidfowl/aspnetvnextwebapiapp/blob/master/Generations.md.

We need to update project.json to use "dotnet5.4" as target instead of platform specific targets like dnxcore50, dnx451 etc.

[2015-10-27 22:26] zygimantas opened #299 "Kid header parameter"
Decoded JWT token header looks like this:

[code]

Is there any reason to include this parameter at all if the value is not provided?

[2015-10-28 19:34] tushargupta51 commented on #262
@tgitchel RC2 is scheduled for early Feb 2016. We got to know the tentative dates yesterday only.

[2015-10-28 22:56] brentschmaltz commented on #299
I don't see a reason to include kid as null.

[2015-10-28 22:56] brentschmaltz commented on #298
@tushargupta51 is this needed for RC1?

[2015-10-29 02:30] tushargupta51 commented on #298
Yes

[2015-10-29 08:26] danielwertheim opened #301 "ConfigureAwait?"
Unfortunately I'm in the position where I need to make a blocking call (`foo.Result`) and in the chain underneath, the `ConfigurationManager.GetAsync` method is used with `await` and `ConfigureAwait(false)` but I do experience some deadlocks (which goes away when not using `ConfigurationManager` but other async retrieving components).

Could this be, since you don't use `ConfigureAwait(false)` e.g

[2015-10-29 12:45] brentschmaltz commented on #301
@danielwertheim we put the ConfigureAwait(false) on HttpDocumentRetriever https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols/Configuration/HttpDocumentRetriever.cs#L88

Are you are saying every 'await' in the chain needs .ConfigureAwait(false) ?

[2015-10-29 17:01] brentschmaltz commented on #297
RC1 fixes. #300

[2015-10-29 17:01] #297 closed

[2015-10-29 17:02] brentschmaltz commented on #278
RC1 fixes. #300

[2015-10-29 17:02] #278 closed

[2015-10-29 17:02] brentschmaltz commented on #227
RC1 fixes. #300

[2015-10-29 17:02] #227 closed

[2015-10-29 17:03] brentschmaltz commented on #205
RC1 fixes. #300

[2015-10-29 17:03] #205 closed

[2015-10-29 17:27] #298 closed

[2015-10-29 22:27] tushargupta51 opened #302 "Update build.cmd to use latest nuget"
build.cmd downloads the nuget.exe from https://nuget.org/nuget.exe. That does not download the latest version. Use https://dist.nuget.org/win-x86-commandline/latest/nuget.exe instead.

Also, update nuget.config to use v3 feeds (both myget and nuget), they are faster than v2 feeds. KRelease branch has those changes:
    <add key="DotNetRelease" value="https://www.myget.org/F/dotnet-core-rel/api/v3/

[2015-10-29 22:30] tushargupta51 commented on #286
I pinged WinCrypt guys internally, and it seems that the only way to determine whether a CngKey has a private key or not is to do a fake sign with it. We need to evaluate if we need this constructor or not. Doing a fake sign might be expensive especially in case of hardware keys.

[2015-10-29 22:32] tushargupta51 commented on #288
We need to review if there are classes that need to implement IDisposable. For example, SecurityKey is one such class.

[2015-10-30 08:02] danielwertheim opened #303 "Extract logic for constructing from JSON or provide sync overload"
Need a syncronous flow as I'm in an environment where I can not be async all the way.

For this reason it would be great if the actual logic here for constructing and populating the Config instance could be extracted to a factory or builder or something: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols.OpenIdConnec

[2015-10-30 11:10] danielwertheim commented on #301
I was trying both the GenericDocumentRetriever´and the HttpDocumentRetriver. Btw...

Blocking call? Why?

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols/Configuration/HttpDocumentRetriever.cs#L79

[2015-10-30 16:50] brentschmaltz commented on #303
@danielwertheim you can construct a configuration object from a JSON string. You can then use the StaticConfigurationManager accessing the Config.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols/Configuration/StaticConfigurationManager.cs#L48

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensi

[2015-10-30 16:52] brentschmaltz commented on #301
We chose to block to check the Response code.

[2015-10-30 17:08] tushargupta51 commented on #299
I think this issue is addressed with the latest changes: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/System.IdentityModel.Tokens.Jwt/JwtHeader.cs#L65

[2015-10-30 17:56] danielwertheim commented on #301
Yes, but there's no need to do a blocking call there since you are in an async context. Just await it. Get the response. Check the status on it and continue the flow.

[code]

I usually have an extension method for the `ConfigureAwait....`

[code]

Can also make that one return the `Task<T>` instead if you want.

Then

[code]

[2015-10-30 18:01] danielwertheim commented on #303
I'm aware of that construct. I'm using it. The thing is that since I'm in a pure syncronous flow, and refuse to try and get sync over async to work, I had to write my own syncronhous fetcher. Then neither of the `ConfigurationManager` implementations then helps. But since the code is open source (awesome), I've been able to see how you extract the `X5092Certificate` so I'm able to work without dep

[2015-11-02 14:59] brentschmaltz opened #304 "Change #defines for new targets"
from: https://github.com/aspnet/Announcements/issues/98

#if DNX451
        // whatever
#endif
...
#if DNXCORE50
        // whatever
#endif

Change that to:

#if NET451
        // whatever
#endif
...
#if DOTNET5_4
        // whatever
#endif

[2015-11-02 18:19] brentschmaltz commented on #304
Moved to RC2 to revisit as Tushar pointed out that since these are tests, it is OK for now.

[2015-11-02 18:23] brentschmaltz commented on #301
@danielwertheim I think your point about not blocking is valid and we can fix this in RC2.
I don't want to add the extension method as in a framework I try to keep extension methods at a minimum. Are you OK with this?

[2015-11-02 19:53] PinpointTownes commented on #271
Thanks to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/511823615bcb9ee6f5e1f9a2cdfcfd0dae701b2e, isn't UWP now natively supported, since `dotnet5.4` includes `.NET 4.6`, `dnxcore50` and UWP?

[2015-11-02 20:01] tushargupta51 opened #305 "Enable delay signing the assemblies"
To enable strong-naming the assemblies, we need to delay sign them with the public key, later our code signing system does the actual signing. We had it enabled for 4.x

[2015-11-02 20:02] tushargupta51 commented on #305
Adding "keyFile" and "delaySign" attributes in project.json is the solution

[2015-11-02 20:17] #305 closed

[2015-11-02 23:52] tushargupta51 commented on #89
@brentschmaltz assigning this to you since you will be working on test cleanup

[2015-11-03 05:03] tushargupta51 commented on #299
@zygimantas @brentschmaltz closing this as fixed.

[2015-11-03 05:03] #299 closed

[2015-11-03 06:10] danielwertheim commented on #301
Sounds good.

[2015-11-03 17:20] tushargupta51 commented on #262
The original issue was to investigate whether we need to have regex or not. If we do, then what should be the default timeout? Based on our discussion, it seems that we need the regex to find out if the incoming token is a valid base64url encoded string before we actually try to decode it because of perf reasons. Also, we changed the default timeout to be 100 ms from 2 s. We don't think there is a

[2015-11-03 17:20] #262 closed

[2015-11-10 20:56] brentschmaltz opened #308 "Saml handlers throw SignatureVerificationFailedException instead of SecurityTokenSignatureKeyNotFoundException"
When the securityKey is not found, we need to throw SecurityTokenSignatureKeyNotFoundException so OWIN stack will refresh config.

[2015-11-11 16:02] PinpointTownes commented on #179
@brentschmaltz @tushargupta51 I would love to hear how you made it work. I just tested it with a RSA key, and sadly, it doesn't work on CoreCLR/Linux (as `AsymmetricSignatureProvider` tries to use `RSACng`):

      System.DllNotFoundException: Unable to load DLL 'ncrypt.dll': The specified module could not be found.
       (Exception from HRESULT: 0x8007007E)
         at Interop.NCrypt.NCryptOpenS

[2015-11-11 16:12] sunsided commented on #179
btw., that `AsymmetricSignatureProvider` thing does not seem to occur when using
`"System.IdentityModel.Tokens": "5.0.0-rc1-210190021"`, `"System.IdentityModel.Tokens.Jwt": "5.0.0-rc1-210190021"` and `"Microsoft.IdentityModel.Protocols.OpenIdConnect": "2.0.0-rc1-210190021"` on dnx 1.0.0-rc1-16048, mono 4.3.0, while later versions of the assembly (even on rc1) seem to blow up on Linux. Can't point

[2015-11-11 19:14] sunsided commented on #179
So, yeah, just tried it again: `-rc1-210120020` works, `-rc1-210190021` breaks it, newer versions as well.

[2015-11-11 19:22] PinpointTownes commented on #179
I wonder if it's not related to the recent ECDsa support. Mono has probably no `ECDsaCng`, but might explain why `AsymmetricSignatureProvider` cannot be loaded.

[2015-11-11 19:33] sunsided commented on #179
It might very well be a red herring indeed; I do remember trying to set up token signing using X.509 pfx files, yielding horrible (also unsuccessful) results on Mono. It's been a while since that, though.

Am 11. November 2015 20:22:25 MEZ, schrieb "Kévin Chalet" <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-11-12 01:31] tushargupta51 commented on #179
@PinpointTownes @sunsided taking a look at this, I will try to run some tests on linux and mono, will update later.

[2015-11-12 01:53] brentschmaltz commented on #179
@PinpointTownes @sunsided as I understand, mono is used for 4.5x desktop on Mac / Linux.  We focused mainly on FxCore on Mac / Linux, mono took a back seat.

[2015-11-12 01:55] PinpointTownes commented on #179
@brentschmaltz yeah, but even IdentityModel on CoreCLR doesn't work:

      System.DllNotFoundException: Unable to load DLL 'ncrypt.dll': The specified module could not be found.
       (Exception from HRESULT: 0x8007007E)
         at Interop.NCrypt.NCryptOpenStorageProvider(SafeNCryptProviderHandle& phProvider, String pszProviderName, Int32 dwFlags)
         at Internal.Cryptography.Helpers.OpenS

[2015-11-12 23:53] brentschmaltz commented on #301
@danielwertheim We pushed a fix to our 4x release on MyGet. We have a couple of additional fixes before we push out to nuget.org

[2015-11-13 09:56] jasonwilliams200OK opened #311 "Is the information on http://jwt.io/ outdated?"
It http://jwt.io/, it states:

* ES256
* ES384
* ES512

are unsupported by `System.IdentityModel.Tokens.Jwt`. But in the code, you have these algorithms supported.

Also what about these checks:

* sub check
* nbf check
* iat check
* jti check

are these still unsupported?

Pinging @mgonto (based on https://github.com/jsonwebtoken/jsonwebtoken.github.io).

[2015-11-13 18:25] brentschmaltz commented on #311
@jasonwilliams200OK yes the info on jwt.io is stale

The Id_token validation is split into different layers since the specs require different checks. For simple jwt validation (JwtSecurityTokenHandler.ValidateToken) will check Lifetime (nbf and exp).
'iat' value was thought to be in the application domain of checks.
'jti' is required for 'client auth' see: http://openid.net/specs/openid-connect-co

[2015-11-13 18:53] jasonwilliams200OK commented on #311
@brentschmaltz, thanks for the info. So should all the bullets in the following snapshot be green:

![image](https://cloud.githubusercontent.com/assets/3840695/11154240/c8c499b2-8a46-11e5-9a3e-cc1f645fd9a5.png)

If so, (and the fact that you know the details) would you please send a PR for https://github.com/jsonwebtoken/jsonwebtoken.github.io/blob/fc37628/views/libraries/net.jade, to reflect the

[2015-11-13 21:41] brentschmaltz commented on #311
@jasonwilliams200OK about the hash algorithm.  There are three parts associated with signatures: a hash algorithm, signature algorithm and a key. ES256 and RS256 both use SHA256, which is supported by System.Cryptography.

[2015-11-16 18:15] Tratcher opened #312 "Add TryValidateToken for a exceptionless usage pattern"
https://github.com/aspnet/Security/issues/411#issuecomment-148547863

An invalid token is not always an exceptional circumstance. Consider supporting TryValidateToken similar to int.TryParse.

[2015-11-16 18:38] PinpointTownes commented on #179
@tushargupta51 did this issue reproduce on your machine? :stuck_out_tongue:

[2015-11-17 02:03] brentschmaltz commented on #312
@Tratcher how are you envisioning this scenario being used?

[2015-11-18 00:13] Tratcher commented on #312
Such as having multiple bearer token middleware for different providers, each will try to validate the token and then pass onto the next middleware if they didn't understand it.

[2015-11-18 06:44] jgemedina opened #314 "User control over nbf and expires'"
I want to be able to define a token descriptor with no expiration and no notBefore claims, however, when I set the Lifetime Property in the TokenDescriptor to null expecting to have this effect, I noticed that such claims were still being added.

In `JwtSecurityTokenHandler.CreateToken(TokenDescriptor)` the values for notBefore and expires are initialized based on the value of the property Lifetim

[2015-11-18 19:54] brentschmaltz commented on #312
@Tratcher If the intent is to provide support for multiple-providers, then we need logic for the MW to ignore the token completely. It would be inefficient to have n MW's attempt crypto operations. int.TryParse only determines if bytes are well-formed. TokenValidation is slightly more involved.

[2015-11-18 19:56] Tratcher commented on #312
What information does the middleware have on which to make that decision except to attempt to read the token? There aren't any other headers or path information to look at.

[2015-11-18 20:17] PinpointTownes opened #315 "Add missing ECDSA xmldsig identifiers to SecurityAlgorithms"
http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha384
http://www.w3.org/2001/04/xmldsig-more#ecdsa-sha512

https://tools.ietf.org/html/rfc6931

@brentschmaltz I can submit a PR for that :clap:

[2015-11-18 20:21] PinpointTownes commented on #315
RSASSA-PSS identifiers should also be added:

http://www.w3.org/2007/05/xmldsig-more#sha384-rsa-MGF1
http://www.w3.org/2007/05/xmldsig-more#sha512-rsa-MGF1

[2015-11-18 20:32] PinpointTownes commented on #312
I guess this new `TryValidateToken` thingy could call `CanReadToken` very early to avoid processing incompatible tokens.

[2015-11-18 22:07] brentschmaltz commented on #312
Not sure why we  wouldn't want failure on an expired token or invalid tokens. these are errors.
What I am saying is that a model where the handler looks at the token and for deterministic reasons detects it shouldn't handle that token, logs the fact and returns without error is goodness. It is important to fail when an error condition is clearly apparent.

We need to have a clean definition of the

[2015-11-18 22:10] brentschmaltz commented on #314
@jgemedina excellent observation. Our 5.0 version has introduced OM to control this. Can you use that release?

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L946

[2015-11-18 22:12] brentschmaltz commented on #315
@PinpointTownes so even though we don't support those right now, I see no downside in introducing them for users who are taking advantage of custom SigningProviders.

[2015-11-18 22:20] PinpointTownes opened #316 "Re-introduce a SecurityAlgorithms/JwtAlgorithms mapping table"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/300#issuecomment-157877007

/cc @brentschmaltz

[2015-11-18 22:47] Tratcher commented on #312
Fair. So what are the stages of validation?
1. Is this a JWT?
2. Can I decrypt it?
3. Is it tied to the correct authority?
4. Are there any protocol validation issues? (e.g. missing claims, expired, etc.)

[2015-11-21 01:57] PinpointTownes opened #318 "Code/access token hashing should use ASCII encoding"
http://openid.net/specs/openid-connect-core-1_0.html#CodeIDToken

`OpenIdConnectProtocolValidator.ValidateHash` uses UTF8 while the specs target ASCII. It's probably not a big deal, since access tokens and authorization codes are often only composed of ASCII chars, but something we may want to fix for RTM to avoid potential mismatches.

/cc @brentschmaltz

[2015-11-22 16:22] tugberkugurlu opened #319 ""IDX10503: Signature validation failed" along with "Keyset does not exist" on Linux"
I am getting the following exception on Linux while using `Microsoft.AspNet.Authentication.JwtBearer` library with an ASP.NET 5 application. I am not sure what's causing this as I don't get this under Windows.

[code]

This is the entire application: https://github.com/tugberkugurlu/ModernShopping/tree/12c9fb527e4892abb326b4486e8a92a06ba61db2/Auth

And this is where I use `JwtBearerAuthentication`

[2015-11-22 16:44] PinpointTownes commented on #319
Duplicate of https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/179 :smile:

[2015-11-23 18:13] brentschmaltz commented on #318
thanks

[2015-11-23 18:16] brentschmaltz commented on #179
@PinpointTownes Tushar is out till Dec. This was only failing on MONO (full desktop) and worked on IOS and Linux using FxCore.

[2015-11-23 18:17] brentschmaltz commented on #319
Please reopen if not a dup of #179

[2015-11-23 18:17] #319 closed

[2015-11-23 18:21] brentschmaltz opened #320 "Add ConfigureAwait(false) when retrieving metadata."
Getting metatdata will deadlock in the application layer when the httpcontext is locked. We need to maintain the async behavior and not use .Result.

[2015-11-23 18:36] tugberkugurlu commented on #319
I am not sure. @pinpointtownes pointed yesterday somewhere else to me that it's a different issue. I don't know any knowladge in this area to understand why this happens and whether it's possible to solve it here but it's annoying :(

[2015-11-23 18:42] PinpointTownes commented on #319
@tugberkugurlu nah nah, these two issues are definitely linked (but https://github.com/dotnet/corefx/issues/424 is a totally different one :smile:)

[2015-11-23 18:46] PinpointTownes commented on #179
@brentschmaltz but I guess @tushargupta51 tested with a X509 RSA certificate, not directly with a RSA key. X509 security keys are not impacted, since we directly resolve the public/private keys from the certificate instead of manually instantiating a RSACng object.

[2015-11-23 23:27] jamiehales commented on #179
We are having the issue with loading AsymmetricSignatureProvider as mentioned above on OSX Mono using 1.0.0-rc1, using the latest identitymodel packages available on nuget. Beta 8 still works without a problem, as did beta 7 during development.

Unfortunately we have to stick with Mono for now, as we require mysql support which isn't supported under coreclr yet.

Happy to provide any additional in

[2015-11-25 15:50] peterswallow commented on #246
Any word with this one? I've got the same problem (validating XML and Creating JWT tokens in same application). I can't change the JwtSecurityTokenHandler code, so presume I need to change my XML validation code but not sure how). Please help!!! :)

[2015-12-01 19:30] tushargupta51 commented on #311
closing this issue since the changes in jsonwebtoken repo has been merged.

[2015-12-01 19:30] #311 closed

[2015-12-01 19:31] brentschmaltz opened #323 "Test failure in System.IdentityModel.Tokens.Jwt.Test.RoundTripTokens"
The 'iat' claim was not set implicitly, a millisecond later it was set by default leading to an error when validating claims.

[2015-12-01 19:52] tushargupta51 commented on #286
@brentschmaltz should we close this one? I dont think having a ctor that takes CngKey has enough value that we do fake signing to determine whether the key is private or not. Users who have a CngKey object and want to initialize ECDsaSecurityKey object, they can pass the blob (by exporting from the CngKey) and blobFormat(public or private).

[2015-12-01 21:43] jasonwilliams200OK commented on #311
@tushargupta51, can you take a look at https://github.com/jsonwebtoken/jsonwebtoken.github.io/pull/134 and advise if that revert is appropriate?

[2015-12-01 21:49] tushargupta51 commented on #311
@jasonwilliams200OK commented on that PR. Revert is not appropriate.

[2015-12-02 18:11] brentschmaltz commented on #168
Agreed, our 4.x code is working as desired.

[2015-12-02 18:11] #168 closed

[2015-12-02 18:24] #323 closed

[2015-12-02 18:27] brentschmaltz commented on #286
I don't think a 'fake' signature test is the way to go. Consider a hardware key OR a KeyVault (where a network Async is needed).

[2015-12-02 18:27] #286 closed

[2015-12-02 18:54] PinpointTownes opened #324 "Fix AsymmetricSignatureProvider to support RSA keys on CoreCLR/Linux"
Moved from https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/179#issuecomment-155972405.

_____________

On CoreCLR, `AsymmetricSignatureProvider` tries to use `RSACng` (which is Windows-specific) instead of `RSAOpenSsl`.

      System.DllNotFoundException: Unable to load DLL 'ncrypt.dll': The specified module could not be found.
       (Exception from HRE

[2015-12-02 18:57] PinpointTownes opened #325 "Update RsaSecurityKey and ECDsaSecurityKey to support cross-platform scenarios"
In IdentityModel 5, `RsaSecurityKey` and `ECDsaSecurityKey` are directly tied to `RSAParameters` and `CngKey`, which prevents cross-platform and advanced scenarios like using a HSM.

These primitives should only accept `RSA` and `ECDsa` instances in their constructor parameters and determining the right implementation should be made by the classes using `RsaSecurityKey` and `ECDsaSecurityKey`, jus

[2015-12-02 19:01] PinpointTownes commented on #286
Tying `ECDsaSecurityKey` to CNG is NOT a good idea, as it prevents cross-platform scenarios. Its constructor should only take an `ECDsa` parameter instead of trying to create a CNG key.

I opened https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/325 to track that.

[2015-12-02 19:04] PinpointTownes commented on #179
FYI, I moved the RSA issue to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/324.

[2015-12-02 19:48] #289 closed

[2015-12-02 19:48] #302 closed

[2015-12-02 20:03] #250 closed

[2015-12-03 20:51] brentschmaltz commented on #312
We came to the conclusion we do need something like this. I am thinking we need: ShouldValidate or CanValidate that for performance reasons takes some out param to cache any work performed parsing.

[2015-12-03 22:41] tushargupta51 commented on #324
@PinpointTownes did you start seeing this issue in rc1 only? have you tried using the beta8 bits on linux/coreclr?

[2015-12-03 22:48] PinpointTownes commented on #324
Though I haven't tried with beta8, I'm pretty sure it affects all versions, since `AsymmetricSignatureProvider` used `RSACryptoServiceProvider` in the first releases and `RSACng` starting with [this commit] (https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/37b116d83a57e81397d25ecce8109066c378dc41).

And since `RSACryptoServiceProvider` and `RSACng` don't

[2015-12-03 22:54] tushargupta51 commented on #324
@PinpointTownes That makes sense. Since the issue was reported post rc1, I was wondering if it was working in earlier versions somehow. Until RSA.Create() shows up(https://github.com/dotnet/corefx/issues/2953), I will use `RSACng` or `RSAOpenSSL` based on the underlying os.

[2015-12-03 22:58] PinpointTownes commented on #324
Yup, that's probably the best approach. I've used roughly the same one for ASOS:

[code]

[2015-12-03 23:01] PinpointTownes commented on #324
/cc @sunsided

[2015-12-03 23:20] tushargupta51 opened #326 "beta8 -> rc1-final jwt signature validation fails"
Moving from aspnet/security repo: https://github.com/aspnet/Security/issues/582

----------------------------------------------------------------------------------------------------------

I have been utilizing this same jwt signature validation code since beta6 and it has worked without issues.

Once I upgraded to rc1-final. Signature validation fails, because the payload is different on the cons

[2015-12-03 23:34] sunsided commented on #324
According to git my experiments with `X509Certificate2` where I stumbled across this problem on Mono/Linux are from October 20th using rc1 packages. However, for the time being, neither certificates nor dynamically generated keys (by ASOS, if I got that right) work for me with middle aged rc1 and current rc2 packages - on Mono/Linux, that is, I stopped trying on Windows.

[2015-12-04 00:46] tushargupta51 commented on #325
@PinpointTownes How `RSAParameters` prevent cross plat scenarios? `RSAParameters` is available on unix/coreclr: https://github.com/dotnet/corefx/blob/c02d33b18398199f6acc17d375dab154e9a1df66/src/System.Security.Cryptography.OpenSsl/src/System/Security/Cryptography/RSAOpenSsl.cs#L44

[2015-12-04 00:52] PinpointTownes commented on #325
Actually, RsaSecurityKey's issue is not about cross-platform but about usability: not being able to flow a `RSA` instance prevents tons of advanced scenarios like using a `RSACryptoServiceProvider` tied to a HSM.

[2015-12-06 15:53] leastprivilege opened #327 "Problem referencing both v5 and System.IdentityModel"
I have a situation where my project references both

"System.IdentityModel.Tokens.Jwt": "5.0.0-rc1-211161024"

and System.IdentityModel from the full .NET Framework.

this gives me errors like:

Error   CS0433  The type 'SecurityKey' exists in both 'System.IdentityModel.Tokens, Version=5.0.0.112, Culture=neutral, PublicKeyToken=31bf3856ad364e35' and 'System.IdentityModel, Version=4.0.0.0, Culture=

[2015-12-06 15:55] brockallen commented on #327
You can repo this in your "System.IdentityModel.Tokens.Jwt.Tests" project by adding `"System.IdentityModel": "4.0.0.0"` as a `"frameworkAssemblies"` to `"dnx451"`. The final project.json being:

[code]

and try to run the test under `dnvm use 1.0.0-rc1-final -r clr`.

[2015-12-06 17:29] PinpointTownes commented on #327
Hahahaha, I knew I wouldn't be the single one :smile:

It's actually not a bug, just a (bad) design decision: the net451 version doesn't rely on `System.IdentityModel` (from the full framework) but uses `System.IdentityModel.Tokens` (the lightweight equivalent of `System.IdentityModel`). Sadly, since `System.IdentityModel` and `System.IdentityModel.Tokens` expose similar types, you can't reference

[2015-12-06 17:49] PinpointTownes commented on #327
BTW, reverting this design decision is definitely possible.

2 weeks ago, I started working on a POC modifying `System.IdentityModel.Tokens` to use `System.IdentityModel` on net451: https://github.com/PinpointTownes/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/705659db58302465a81d2dfd1e5ba4f842837b8e

The annoying part is `SecurityKey.Kid`: it's a whole new property that doesn'

[2015-12-06 18:36] blowdart commented on #327
It's not an asp.net issue, and not under that namespace, so it's not something I have visibiliry or influence into. I agree it's odd, and frankly shouldn't be under system, that's a a hangover from 4.5, but Brent et al own their namespace, so it's their decision.

[2015-12-06 19:35] leastprivilege commented on #327
Changing the namespace would be an easy fix..

Sent from my iPad

[2015-12-07 19:36] tushargupta51 commented on #326
copying from original issue:

I was able to resolve the issue using following code. I will validate this works using the properties provided via JwtSecurityToken ctor, and if so I will close this.

     private static SecurityToken SignatureValidator(string token, TokenValidationParameters validationParameters)
    {

            var authRepo = new AuthModelRepository();
            var authClient

[2015-12-07 19:40] tushargupta51 commented on #326
@dynamiclynk is this still an issue? From your comments above, it seems that the generated string jwt paylod is different that the incoming jwt token paylod. Why is that so? JwtSecurityToken(string) constructor decodes the string into a JwtSecurityToken but if the strings are different, it will result in 2 different tokens.

[2015-12-07 20:25] dynamiclynk commented on #326
It's not an issue for me any longer due to the fact I abstracted the token signature validation, and that works. Prior (beta8) to rc1-final I did not have to do this and was able to use the jwt properties provided from JwtSecurityToken.

[2015-12-08 15:43] Beanow commented on #136
+1 to fix this bug, blocking issue for us currently.

@brentschmaltz I disagree that the values should be dropped though. It suggests that the claim was missing, but this is not the case. The 3rd party explicitly indicated that a certain claim has an empty value. If we're talking dirty fixes I would suggest for example using ClaimValueTypes.HexBinary or any of the other binary encodings with value

[2015-12-08 19:15] brentschmaltz commented on #327
@leastprivilege @brockallen @PinpointTownes Fully understand the issue. We weren't able to move all of System.IdentityModel to FxCore (open source) so we had to cherry pick what we needed for OIDC and SAML to support  asp.net vNext. We changed the OM as somethings didn't make sense (S.IM was designed in 2005). When our SAML-WsFed support returns, we should be closer to supporting the entire S.IM a

[2015-12-08 19:19] leastprivilege commented on #327
Yes - I also think it is time for a new library and break backwards compat with S.IM where needed. Please do that change soon.

[2015-12-08 19:24] brentschmaltz commented on #327
@leastprivilege it's one of our top priorities.

[2015-12-08 19:38] PinpointTownes commented on #327
Renaming the library sounds like a good option, but it's really disappointing to see that the Azure AD team is the only one that opted for this approach: the other teams have done an amazing job with the BCL and found the right balance between guaranteeing backwards compatibility and breaking everything.

Updating `System.IdentityModel.Tokens` to use `System.IdentityModel` for net451 doesn't mean

[2015-12-08 19:41] PinpointTownes commented on #327
Not to mention that it has one (great) merit: unifying IdentityModel 4 and 5, and allowing old apps to use the great new things added in IdentityModel 5 and never backported to IdentityModel 4 (for instance, ECDsa signing keys).

[2015-12-08 20:48] brentschmaltz commented on #327
@PinpointTownes It is not just the Azure AD team. S.IM needs support from .Net that wasn't going to show up. AsymmetricSignatureDeformatter for example, DSig as another. About the Actor, you can add your own claim OR open an issue.

[2015-12-08 21:13] PinpointTownes commented on #327
But absolutely **nothing** prevents you from omitting `AsymmetricSignatureFormatter`/`AsymmetricSignatureDeformatter` in the CoreCLR version! It's exactly what I've done in my POC: https://github.com/PinpointTownes/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/705659db58302465a81d2dfd1e5ba4f842837b8e/src/System.IdentityModel.Tokens/SecurityKey.cs

(a serialization model that doesn

[2015-12-09 00:26] tushargupta51 opened #329 "Implement Validators.ValidateIssuerSecurityKey"
Validators.ValidateIssuerSecurityKey is not currently implemented in both 4.x  and 5.x. This method validates the security key that signed the jwt token. Evaluate if we need this method or not.

Related: #209

[2015-12-09 00:36] brentschmaltz commented on #327
@PinpointTownes I will have a look at the ClaimsIdentity issue. If a fix is needed it will be in RC2.

[2015-12-09 00:53] PinpointTownes opened #330 "Revert the changes applied to AsymmetricSecurityKey"
In IdentityModel 5, `HasPrivateKey` and `HasPublicKey` are now properties (instead of methods).

Though it's not currently an issue as `RsaSecurityKey` and `ECDsaSecurityKey` only accepts key materials (see https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/325), fixing these classes to directly accept `RSA` and `ECDsa` will likely require implementing more

[2015-12-09 01:25] PinpointTownes commented on #324
Cross-platform support? Pff, who cares.

[2015-12-09 09:01] sunsided commented on #324
Wait, what?

[2015-12-09 19:46] tushargupta51 commented on #324
@sunsided This issue is fixed in #328

[2015-12-09 20:05] #324 closed

[2015-12-09 21:26] tushargupta51 commented on #136
@Beanow Thanks for your input. We are looking into this. Are you using 4.x or 5.x version?

[2015-12-09 23:25] brentschmaltz commented on #326
@dynamiclynk What is the value of jwt.RawSignature? Where do you instantiate the JwtSecurityToken?

[2015-12-10 08:26] Beanow commented on #136
4.x, the latest stable using nuget.
And for debugging I've looked at the master branch's head.

[2015-12-11 20:47] tushargupta51 opened #332 "TokenValidationParameters.RequireSignedTokens and ValidateSignature ambiguous"
Two properties on TVP: RequireSignedTokens and ValidateSignature are ambiguous.

RequireSignedTokens enforce that tokens should have a signature whereas ValidateSignature controls whether signature will be validated during validation process or not. Both are set to true by default.

I don't think there is a useful scenario where signed tokens are required but signature validation is optional. In t

[2015-12-11 20:47] tushargupta51 commented on #332
@brentschmaltz

[2015-12-16 05:06] brentschmaltz commented on #327
@leastprivilege We are thinking of changing the ns and nuget package by swapping out System with Microsoft. Users could then use .Net S.IM easier with M.IM.xyz. However, WIF V1 would then be an issue, but that is probably OK.
We are thinking of keeping the same packageid (System.IdentityModel.Tokens.Jwt) as I would like to see all versions of our Jwt nugets easily found. What do you think?

[2015-12-16 22:47] brentschmaltz commented on #320
Fixed with https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/321

[2015-12-16 22:47] #320 closed

[2015-12-17 12:38] leastprivilege commented on #327
Yes please fix that scenario ASAP.

Keeping the package id seems odd to me.

[2015-12-17 19:09] brentschmaltz commented on #327
@leastprivilege @PinpointTownes putting together both your concerns leads me to the following.
In a perfect world, we would have moved S.IM to FxCore. Tweaked the types, moved additions to 4.6 Desktop etc. The types that are colliding as in S.IM.Tokens. That we can move to M.IM.Tokens. We leave S.IM.Tokens.Jwt as is. This puts us in the position where we can have a 4.0 / 5.0 convergence. When we s

[2015-12-17 19:17] PinpointTownes commented on #327
![Hallelujah!] (http://i.giphy.com/Io2j5ZJBss5Rm.gif)

[2015-12-17 19:27] leastprivilege commented on #327
What I really care about is the best library for JWT for .NET going forward.

I don't care about backward compat, WIF 1.0, legacy desktop CLR, SAML or WS-Fed

[2015-12-17 19:36] ClaytonPeddy commented on #327
I agree 100%, develop the best JWT library for .Net going forward. No interest in pushing legacy forward in this area.

[2015-12-17 19:55] PinpointTownes commented on #327
"developing the best JWT library" is a bit vague if you don't mention the most important points for you.

IMHO, IdentityModel's best thing is its **formidable abstraction**, that allows you to issue and validate security tokens without ever tidying your own code to a specific implementation or format (SAML/SAML2, JWT or even... CWT :trollface:)

Of course, for those who prefer a simpler and lower-

[2015-12-17 20:04] leastprivilege commented on #327
Well - I told you what's not important for me. The rest is.

[2015-12-17 20:06] PinpointTownes commented on #327
So basically, you'd like something like jose-jwt?

[2015-12-17 20:09] brentschmaltz commented on #327
OK, working on the PR. Goal is to keep JWT clean leaving the WS* stuff where it belongs :-)
I will ping you guys when the PR is live.

[2015-12-17 20:10] brentschmaltz commented on #327
@PinpointTownes yes a strong clean JOSE layer is a goal.

[2015-12-17 20:15] leastprivilege commented on #327
@PinpointTownes yes - but coreclr, xplat and probably more than one guy behind it.

[2015-12-17 20:17] leastprivilege commented on #327
but yeah preferring that over jack of all trades.

[2015-12-17 21:26] brentschmaltz commented on #327
@leastprivilege we are a little team now :-)

[2015-12-18 18:17] brentschmaltz commented on #327
@leastprivilege @PinpointTownes https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/333

[2015-12-18 21:32] brentschmaltz commented on #327
fixed with PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/333

[2015-12-18 22:17] tushargupta51 commented on #327
@brentschmaltz @leastprivilege @PinpointTownes packages pushed out to nightlies - 212181359.

[2015-12-22 21:51] tushargupta51 commented on #330
@PinpointTownes In a recent PR, I added ctors that take `RSA` or `ECDsa` instances when creating the `SecurityKey`. Though in those cases, because of the cost involved in fake signing to determine whether the key is private or public only (especially for hardware keys), we set the HasPrivateKey property to true and let it fail later at the time of signing.

[2015-12-24 21:11] martinbliss commented on #250
This was closed due to a commit/merge but is it available for consumption? Because I've tried "5.0.0-beta8-21031116" and "5.0.0-rc1-211161024" and issues regarding signing credential algorithms persist with both. How can I track the whereabouts of the KDev branch with respect to Nuget?

With the beta8 version, I get an algorithm not supported exception. With the rc1, I get a "signatureProvider arg

[2015-12-24 22:48] tushargupta51 commented on #250
@martinbliss, this will be part of rc2 release which will be released in mid feb to nuget. In the meantime, you can comsume our nightly dev packages from myget here: http://myget.org/gallery/azureadwebstacknightly. Please be advised that these are not the released bits, official release to nuget will be in mid feb. The package has been renamed from system.im.tokens to microsoft.im.tokens.

[2016-01-04 21:15] NickolasAcosta commented on #222
Would greatly appreciate this!

[2016-01-05 20:28] brentschmaltz opened #335 "Add extensibility for different RSA platforms"
Our current implementation of AsymmetricSignatureProvider.ResolveDotNetCoreAsymmetricAlgorithm assumes RSAOPenSsl is the right thing if !Windows. Need some kind of extensibility here.

if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
                    _rsa = new RSACng();
                else
                    _rsa = new RSAOpenSsl();

[2016-01-05 23:34] brentschmaltz commented on #326
@dynamiclynk can you shoot me the value of jwt.RawData? I think we have an encoding issue.

[2016-01-05 23:42] brentschmaltz commented on #303
@danielwertheim let us know if you need anything.

[2016-01-05 23:42] #303 closed

[2016-01-05 23:48] brentschmaltz commented on #136
@Beanow We are thinking about introducing a new ClaimValueType in this library to represent the null do you think that would work for you?

[2016-01-05 23:54] brentschmaltz commented on #65
this code should be moved to FxCore for testing.

[2016-01-05 23:58] brentschmaltz commented on #62
@tushargupta51 check, but I think we are done.

[2016-01-06 01:51] tushargupta51 commented on #325
@PinpointTownes @brentschmaltz this came up in the review of PR #334 and I want to start the discussion here to agree upon a solution before I make any further changes to the PR.

What is the best place to put these constructors that take `RSA` and `ECDSA` instances, is it the `RsaSecurityKey`/`ECDsaSecurityKey` classes or `AsymmetricSignatureProvider` or both. Comparing to System.IdentityModel 4.

[2016-01-06 01:56] tushargupta51 commented on #332
I and @brentschmaltz discussed this offline and came to a conclusion that it does not make sense to have both the flags because:
1. It is very uncommon that someone wants to receive the signed tokens but not validate the signature. In the OIDC sign in using code flow, signature validation is optional but so is the existence of signature in the token.
2. When signed tokens are not required but we r

[2016-01-06 02:14] #62 closed

[2016-01-06 02:18] tushargupta51 commented on #179
With #324 being fixed, this should work on coreclr on unix. Now that it is an issue on mono only, I will downgrade the priority to P2. Let me know if anyone has any concerns.

cc: @brentschmaltz

[2016-01-06 02:19] PinpointTownes commented on #325
Ideally, only the security key classes. Trying to find the best algorithm instance should be made by `AsymmetricSignatureProvider` internally. Only requiring an `AsymmetricSecurityKey` (or better, an `AsymmetricAlgorithm`) in the constructor is fine.

Are you sure? IIRC, they were abstract classes and had no default constructor. Or maybe you mean the specialized implementations (like RSA PKCS#1)?

[2016-01-06 02:22] PinpointTownes commented on #179
No particular concern for me, as it wouldn't work even if you fixed this issue (since the ECDsa types are missing on Mono... we'd need a Mono TFM to fix that /cc @davidfowl)

[2016-01-06 02:29] tushargupta51 commented on #325
Yes, I mean the specialized implementations. I looked at the RSAPKCS1.

So, your recommendation is to have only one constructor on `RsaSecurityKey` that takes an `RSA` instance. And have 2 constructors on `AsymmetricSignatureProvider`
1. that takes `AsymmetricAlgorithm` object and then try to cast it to a more specific implementation like `ECDsaCng` or `RSaCng` etc.
2. that takes `AsymmetricKey` o

[2016-01-06 02:33] PinpointTownes commented on #325
Yep, except for the two constructors part (unless there's a specific reason to take a key and not just an algorithm, but I can't find one). Only having a constructor taking an `AsymmetricAlgorithm` should be enough IMO.

[2016-01-06 02:44] PinpointTownes opened #336 "Reintroduce SecurityKey.IsSupportedAlgorithm"
Unlike `System.IdentityModel` 4.5, the vNext equivalent doesn't have this precious API. To work around this limitation in ASOS, I had to create my own extension, but it has an obvious downside: it's tied to specific `SecurityKey` implementations, and defeats the whole purpose of having a base class that everyone can implement to support his own keys.

[code]

/cc @tushargupta51 @brentschmaltz

[2016-01-06 10:10] grubbr commented on #222
Would also really appreciate this! An example detailing the simpler/"95%" use case (for example using a symmetric key/secret) would be great.

[2016-01-06 16:42] brentschmaltz commented on #336
@PinpointTownes @tushargupta51
<background>
vNext model views SecurityKey as containers of data with very little logic. The logic and abstraction moved to the SignatureProviderFactory (CryptoProviderFactory). The flow uses CrypoProviderFactory to provide a Provider given a <SecurityKey, Algorithm> pair.
</background>

SecurityKey.IsSupportedAlgorithm(Algorithm) => 'true' would imply that CryptoPro

[2016-01-06 19:41] PinpointTownes commented on #336
Totally agree with that :clap:

[2016-01-06 20:44] tushargupta51 commented on #335
@brentschmaltz Currently, if a user wants to extend the `AsymmetricSignatureProvider`, he has to override the implementation in SignatureProviderFactory (or SecurityKey.GetSignatureProvider) to return the custom provider and plug in their own implementation of algorithms.

What do you mean by adding extensibility here? Making ResolveDotNetCoreAsymmetricAlgorithm  and ResolveDotNetDesktopAsymmetric

[2016-01-06 22:36] tushargupta51 commented on #326
@brentschmaltz @dynamiclynk We do have an issue with the encoding. I ran few tests and observed the following:

     string rawHeader = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9";
     JwtHeader header = JwtHeader.Base64UrlDeserialize(rawHeader);
     string jsonFromRawHeader = Base64UrlEncoder.Decode(rawHeader);
     string jsonFromObject = header.SerializeToJson();
     string encodedHeader = header

[2016-01-07 01:11] tushargupta51 commented on #326
@dynamiclynk Since we cannot preserve the order of fields (as it was in the original json), the encoded values are not guaranteed to be same as the raw values. When validating the signature, one should always use the raw values - jwt.RawHeader, jwt.RawPayload, jwt.RawSignature.

In the VS screenshot above, it should be
     var signedData = $"{jwt.RawHeader}.{jwt.RawPayload}";

Let us know if you

[2016-01-07 01:11] #326 closed

[2016-01-07 16:03] dynamiclynk commented on #326
You should be able to preserve the order of the jsonFromRawHeader fields if you Serialize the jwt string to a concrete object JwtHeader  then Json Deserialize the JwtHeader object right?

*Concrete Object*
[code]

When I have time I will verify if I have any issues with the raw values.

[2016-01-07 18:37] tushargupta51 commented on #326
@dynamiclynk not always since we are not sure about the order of fields in the raw header, it could be typ, alg or alg, typ. Only thing we can control is the order of json deserialized from JwtHeader but it may not match the one in the raw header.

[2016-01-07 21:42] grokit commented on #222
Hey everyone, I started this thread. I started using this library & wrote small tests, but since I got no reply on whether or not I could integrate it back I ended up using a different library.

So now I'm pretty busy & don't have time to integrate back the work that I did to the library (and since I now use a different library, it's hard to allocate the time).

[2016-01-08 10:11] Beanow commented on #136
I think that all hinges on how closely it behaves like null when implementing controller logic. Does it equal to null? Will it serialize to null when you're making json strings? Will the new C# operators treat it as null (`claim ?? default`)?
Then, will it conflict with whatever reason there originally was to not have nulls in owin?

[2016-01-08 18:12] sunsided commented on #179
I just ran into this again. I had success with token validation on Mono using a custom `AsymmetricSignatureProvider` (and a matching factory for it) that removes all references to ECDSA ([here](https://gist.github.com/sunsided/b57cdb487442c68a53cb)). Now that I upgraded my authentication server to rc2 (16357) - using the same AsymmetricSignatureProvider - it fails again with "keyset does not exist

[2016-01-09 00:25] tushargupta51 commented on #136
@Beanow You mentioned that using `string.Empty and ClaimValuetypes.HexBinary` is a valid representation of null. I was trying to find some evidence to back it up. Does it serialize to null when converting to json strings?

[2016-01-10 10:45] Beanow commented on #136
@tushargupta51 I haven't tried them, they were my theories. It depends on the actual implementation I guess. You could also argue `string.Empty` hexadecimal should result in a format error. That's why it would be dirty though. I think the new ClaimValueType that is certainly null would be less error prone.

[2016-01-11 19:10] tushargupta51 opened #337 "Constructors on RsaSecurityKey and ECDsaSecurityKey classes"
From a comment on the PR #334: this is about the usefulness of following 2 constructors:
1. ECDsaSecuirytKey(byte[] blob, CngKeyBlobFormat blobFormat)
2. RsaSecurityKey(RsaParameters rsaParameters)
CngKey and RsaParameters properties are used by AsymmetricSignatureProvider to create ECDsa and Rsa instances respectively when keys are constructed using components and not the crypto provider instance

[2016-01-11 19:46] PinpointTownes commented on #337
Ideally, I'd say no. That said, I agree it's a really convenient way to instantiate a RSA key, so maybe it would be worth keeping it as a static factory method:

[code]

CngKey is totally Windows-specific (it won't work at all everywhere else), so I'm not sure it's really pertinent to have it in the public contract. Sadly, we don't have an `ECDsaParameters` equivalent to easily import an elliptic

[2016-01-11 20:16] bartonjs commented on #337
@PinpointTownes Yeah, `ECParameters` is on my ever-growing todo list :(.   The good news is it's reusable between ECDH and ECDSA.  The bad news is it's massively polymorphic (named curve, explicit prime curve, explicit char2 binomial, explicit char2 trinomial, explicit char2 pentanomial, future formats) and we haven't come up with the way to handle it.  But, since you've asked, I've decided to mov

[2016-01-11 22:08] tushargupta51 commented on #316
@PinpointTownes @brentschmaltz
I think we have consensus on having an outbound mapping (which means jwt generated by this library will have short alg names).

I and @brentschmaltz felt that we do not need an inbound mapping because the signature providers do not need to distinguish between a jwt alg or a xmldsig alg. As long as it knows how to handle both algorithms, it should be good. And what it

[2016-01-11 23:03] brentschmaltz commented on #335
We need a way to allow users to create the RSA type they need. I don't think a static method Rsa.Create() will work as it is not dynamic. We can have a virtual ResolveAsymmetricAlgorithm (btw the method for DOTNET5_4 and other can be the same name) OR introduce a delegate: AsymmetricAlgorithmResolver. The tension of creating a clean design is the result of  AymmetricAlgorithm cannot do much by def

[2016-01-13 00:07] #318 closed

[2016-01-13 00:07] #280 closed

[2016-01-13 00:09] tushargupta51 commented on #325
Closing this issue since we added constructors on SecurityKey's classes that takes in `RSA` and `ECDsa` instances to support cross-plat scenarios. Moving the discussion about the need of other constructors that take `RsaParameters` and byte blob to another issue #337 .

[2016-01-13 00:09] #325 closed

[2016-01-13 00:10] PinpointTownes commented on #325
:clap: :clap:

[2016-01-13 21:20] zshift commented on #188
Is a fix for 4.x still planned, or will the change only be applied to 5.x?

[2016-01-13 23:02] brentschmaltz commented on #337
@PinpointTownes @bartonjs @tushargupta51  Tushar and I had a chat about this. Our issue is how do we create the ECDsa provider from key material obtained from metadata. Having ECParameters similar to RSAParameters was our first thought. However, we are now considering having JsonWebKey derive from SecurityKey. This will allow us to localize the complexity to our CryptoProviderFactory. Resulting in

[2016-01-13 23:03] brentschmaltz commented on #337
@PinpointTownes +1 were are getting rid of the constructors that take CNG stuff.

[2016-01-13 23:11] bartonjs commented on #337
@brentschmaltz I don't know how an ECParameter type would help you without the ECDsa implementations accepting one.  You could probably figure out how to jam it into a blob of the right format, create a CngKey around it, and pass that to ECDsaCng, but what's your plan for OpenSsl?

If creating one internally helps some part of your code, please don't make it a public type; it'll just confuse matte

[2016-01-13 23:16] tushargupta51 commented on #288
We need to implement `IDisposable

[2016-01-13 23:19] brentschmaltz commented on #337
@bartonjs probably the JsonWebKey is enough to create a ECDsa provider, which exists in OpenSsl. So ECParameter may not be needed. However, it would only make sense to have it as a public type, since ECParameters helps devs.
There has to be platform specific code somewhere, for Wilson we choose our CryptoProvider. Inside that type, users can do all the thunking they need. We just need to make sure

[2016-01-13 23:21] tushargupta51 commented on #288
We need to implement `IDisposable` if a class
1. is creating unmanaged resources
2. is creating objects that implements IDisposable. It's important to note that class is responsible for disposing only the objects it OWNS. It should not dispose objects that it did not create.

We do not create/use any unmanged resources in our code. So, we only considered Point 2 to determined whether a class shoul

[2016-01-13 23:27] tushargupta51 commented on #188
@zshift We still have plans to fix it in 4.x, though we don't any final dates yet for next 4.x release.

[2016-01-14 00:09] PinpointTownes commented on #337
I've decided to move that todo item off of my whiteboard and onto dotnet/corefx#5314.

Thanks (FWIW, I really admire your work on crypto stuff)! :clap:

We may create a ECParameter class in System.IdentityModel.Tokens if we feel it has value.

Not sure how it would help. As mentioned by @bartonjs, having your own `ECParameters` won't be really helpful if you have no way to import the EC key. To ma

[2016-01-14 01:37] brentschmaltz commented on #337
I agree that ECParameters should be in dotnet/corefx. For now, the goal is to make sure EC is possible xplat. We can implement on a priority basis what works by default.

[2016-01-14 22:46] tushargupta51 commented on #330
@PinpointTownes @brentschmaltz
I was debating on whether `HasPrivateKey` should be a property or a method. Based on the guidelines here (https://msdn.microsoft.com/library/ms229054(v=vs.100).aspx), I think a property sounds more appropriate because of the following:
1. The value of the property does not change between calls unless the instance holding the property changes.
2. Though you can argue

[2016-01-14 23:30] PinpointTownes commented on #330
Well, the rule is clear: accessing a property is not supposed to be slow, even if it just impacts the first call.

Another argument in favor of the method is that it would avoid a breaking change between desktop and CoreCLR if you merged the two targets.

______

Agreed, this property is useless (I still can't figure out why it was introduced :smile:)

[2016-01-15 20:30] brentschmaltz commented on #312
@Tratcher when an message arrives and the handler determines it is a well formed OIDC message. It now needs to determine if it should handle the message, including token validation. This determination of course takes cycles and the results could be used by the next handler. An efficient design would capture partial results and use a policy to determine if the message / token should be processed. T

[2016-01-15 20:44] brentschmaltz commented on #316
@PinpointTownes @tushargupta51 Some background on why the mapping was originally needed. In 4.x and previous versions of Wilson, Algorithm logic such as: IsSupportedAlgorithm, GetHashAlgorithm, were delegated to the SecurityKey in System.IdentityModel.dll. Those SecurityKeys only understood certain algorithms. For example an X509AsymmetricSecurityKey would not understand RS256. Since RS256 and htt

[2016-01-15 23:02] #288 closed

[2016-01-16 00:21] Tratcher commented on #312
That exception is already used as a hint for RefreshOnIssuerKeyNotFound.

[2016-01-18 15:02] leastprivilege commented on #271
Is the current pre-release build working already for UWP?

[2016-01-19 02:57] tushargupta51 commented on #330
@PinpointTownes It's not just about the performance of the property getter, the property value does not change between calls. It does not seem to be black and white decision between property and method, it can go either way. Property seems a better option to me in this case. BTW, the performance hit (in the first call) is only an issue when it is a hardware bound key, which is going to be subset o

[2016-01-19 19:31] brentschmaltz commented on #312
@Tratcher yes that is the logic based off of the SecurityTokenSignatureKeyNotFoundException. Question is what should the handler do? Do we want to capture the deserialization of the token? Teams I have worked with that process a large number of logins / sec are concerned about such things.

[2016-01-21 18:20] brentschmaltz commented on #336
@tushargupta51 we should take note of how IsSupportedAlgorithm considers the keytype as well as the algorithm name.

[2016-01-21 22:56] #332 closed

[2016-01-30 10:58] jackwhelpton opened #342 "Support for JSON-valued claims"
I'm trying to implement the [Token Exchange draft](https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-03), which features JWT claims of the form:

[code]

When I construct a `JwtSecurityToken` object, the claims generated for the token above are:

[code]

Are the separate `may_act` claims expected? They're created by these lines of code:

https://github.com/AzureAD/azure-activedirectory-i

[2016-01-30 18:17] SharePointRadi opened #343 "Whats the plan for the Microsoft.IdentityModel.S2S.* classes?"
A lot of stuff used Microsoft.IdentityModel.S2S classes, such as OAuth2S2SClient. This includes SharePoint Apps.
Is there an equivalent, or plans for one, in the vnext builds?
I am working on a new SharePointContext class and would like to know the best way forward to migrate the existing one delivered with the tooling when you create a new SharePoint App project. Thanks!

[2016-02-01 17:04] brentschmaltz commented on #343
@SharePointRadi can you point me to the repo? I want to be sure I am understanding the question here.

[2016-02-02 20:59] SharePointRadi commented on #343
Hey @brentschmaltz

I'm referring to the following assembly: Microsoft.IdentityModel.Extensions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=69c3241e6f0468ca I don't think it was ever open source.

It has many classes that deal with S2S auth and is the basis for all SharePoint app development. The current repo has something that appears to be the successor: https://github.com/AzureAD/azure-ac

[2016-02-09 01:34] brentschmaltz commented on #342
@jackwhelpton I have been out for a few days, I will look into this.

[2016-02-09 05:14] brentschmaltz commented on #329
This customer hit this issue. http://stackoverflow.com/questions/35282863/how-can-i-get-openidconnectauthenticationmiddleware-to-validate-the-signing-cert
We should fix it. Also hook up the delegate.

[2016-02-09 06:35] leastprivilege commented on #271
@brentschmaltz what's the roadmap for this?

[2016-02-10 12:02] solidstore commented on #100
I am still having this issue, but now with JWT signed by ADFS 3.0

[2016-02-10 20:08] #337 closed

[2016-02-10 20:08] #315 closed

[2016-02-10 20:08] #330 closed

[2016-02-11 16:54] brentschmaltz commented on #343
@SharePointRadi We have moved forward on S2S specific libraries, but it is too early to share publically.

[2016-02-12 15:41] bartonjs commented on #335
https://github.com/dotnet/corefx/issues/2953 was fixed, so the platform RSA.Create() is now available.  While it currently does not allow for fully-arbitrary RSA implementations, it does leave the decision of "what is the right RSA for this platform?" in corefx.

[2016-02-17 22:01] tushargupta51 commented on #335
@bartonjs are these changes part of rc2 packages or rc3? We are using the rc2 version of .net packages for next release.

[2016-02-18 01:13] tushargupta51 commented on #343
closing this for now. Feel free to re-open if you have any follow-up question.

[2016-02-18 01:13] #343 closed

[2016-02-18 01:22] tushargupta51 commented on #329
We have a delegate hooked up in 5.x: TokenValidationParameters.IssuerSigningKeyValidator. Though, we dont have anything like that in 4.x

[2016-02-18 19:46] Blackbaud-CameronBlack commented on #198
Where is it?  ;)  same problem

[2016-02-19 19:40] tushargupta51 commented on #316
@brentschmaltz @PinpointTownes where have we landed with this?

[2016-02-19 23:33] #335 closed

[2016-02-20 00:27] PinpointTownes commented on #316
Sadly, nowhere. And it's still somewhere we **absolutely need**, specially since XMLdsig and JWA identifiers have been merged in the same class (`SecurityAlgorithms`).

[2016-02-22 19:10] bartonjs commented on #335
@tushargupta51 Looks like both? :smile:  I just checked in rc2-23818, and I see it there.  Lemme know if you're not encountering a path-to-success.

[2016-02-24 02:06] brentschmaltz commented on #342
@jackwhelpton I would like to get this shorted out before we drop rc2. Can you share you created you JWT? I have experimented with a couple of different ways to add the claims and that affects the result.

[2016-02-24 07:01] leastprivilege commented on #342
In IdentityServer we introduced a ClaimTypeValue.Json.

[2016-02-24 21:07] jackwhelpton commented on #342
I've been experimenting with IdentityServer 4, and what @leastprivilege refers to above is exactly the approach I'd taken (within an `ICustomGrantValidator`).

When debugging I then just used that JWT in string form. There's no sensitive information in it, so here's the exact line:

[code]
My experimental fix was to add a block like this to the `Claims` property linked to above:
[code]

I ended up

[2016-02-29 17:56] xinyu8 opened #350 "System.IdentityModel.Tokens.Jwt.dll has a hard dependency on Newtonsoft.Json 6.0"
It looks like System.IdentityModel.Tokens.Jwt.dll version 5.0.0.112 has a hard dependency on Newtonsoft.Json version 6.0.0.0.  It blocks us from using this dll because other components in our system has dependency on Newtonsoft.Json 8.0.  It would be great to remove this dependency so that consumer could plugin their own JSON serializer and deserializer.  Maybe the hard dependency could be removed

[2016-02-29 22:05] brentschmaltz commented on #342
@jackwhelpton @leastprivilege that is a good idea. I am fiddling with it to understand how to think about n/v that have imbedded JSON.

On a separate note, the parsing code that transforms JSON -> .Net Claims is dependent on the serialization engine. I also have remnants from when the .Net JavaScriptSerializer was used.
It seems that if we want support different serializers, we need to account for

[2016-03-02 02:32] tushargupta51 commented on #304
dnxcore50 changes to netstandardapp1.5

[2016-03-02 02:32] #304 closed

[2016-03-02 16:14] brentschmaltz commented on #350
@xinyu8 what error are you experiencing? Compile? Updating References? Runtime?

[2016-03-02 16:32] xinyu8 commented on #350
It's runtime error for not be able to load Newtonsoft 6.0 dll.
Background: we use pacman (instead of Nuget) to manage packages/libraries. The IdentityModel dll is packaged into one pacman package from Nuget without any external dependencies.  After encounter the runtime error, I tried to add dependencies to Newtonsoft pacman package within my component.  However, I was not able to add Newtonsoft 6

[2016-03-02 17:45] brentschmaltz commented on #350
@xinyu8 I am not familiar with 'pacman'. Where can I get it so I can play with it?

[2016-03-02 17:57] xinyu8 commented on #350
oh, that Bing or OSD depot. You could start from https://www.bingwiki.com/Pacman

[2016-03-08 20:40] Tydude4Christ commented on #154
Please fix this in 4.x. I just got bit by this and have instead implemented the suggested CustomJwtSecurityTokenHandler workaround. Thanks.

[2016-03-09 21:14] brentschmaltz commented on #154
@Tydude4Christ were are just planning out the release. Will let you know.

[2016-03-10 03:50] Tydude4Christ commented on #154
@brentschmaltz Thanks, I look forward to it.

[2016-03-11 03:33] tushargupta51 opened #353 "Revert temporary update to project.json"
Revert this line: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/352/files#diff-aa5cb96b60346374809bbffafe4dd2b2R16

There is a bug (https://github.com/NuGet/Home/issues/2191) in nuget.common where it pulls in old .net packages which fails the build. This line is a workaround to that, it forced to pull in the latest version of System.Diagnostics.Process p

[2016-03-11 17:07] PinpointTownes commented on #336
Alright, would you accept a PR to bring back `IsSupportedAlgorithm`?

[2016-03-15 01:36] tushargupta51 commented on #336
@PinpointTownes Let's agree on a solution before we get into PR review. What is your proposed solution? If we add the `IsSupportedAlgorithm` method along the lines of the code you copied above, how does that change the `IsSupportedAlgorithm` method on `SignatureProvider`? Would that call into the key.IsSupportedAlgorithm? OR we get rid of that since it would be one line if check in the constructor

[2016-03-15 01:47] PinpointTownes commented on #336
@tushargupta51 no preference, but I guess it's cleaner if we remove it from `SignatureProvider`, specially since it doesn't really make sense, as `SignatureProvider` takes the algorithm as a constructor argument.

[2016-03-24 22:26] PinpointTownes opened #354 "Replace netstandard1.3 by netstandard1.4"
With the recent changes in the crypto stack, Wilson needs to be updated to target `netstandard1.4` instead of `netstandard1.3`.

https://github.com/dotnet/corefx/commit/6e3e29dbec3705094a539b6b2dc863c5a8ee270c
https://github.com/aspnet/Security/commit/7ec3da701cebcd36df07367e06b321fb743fbf94

@tushargupta51 @brentschmaltz any chance this work item could be prioritized?

[2016-03-25 04:04] tushargupta51 commented on #354
@PinpointTownes I will take a look at this tomorrow.

[2016-03-25 11:21] PinpointTownes commented on #354
@tushargupta51 thanks! Pushing a new version should also help fix that: https://github.com/openiddict/openiddict-core/issues/76#issuecomment-201058572.

[2016-03-25 22:42] PinpointTownes commented on #354
@tushargupta51 did you have a chance to give it a look? I'm fine submitting a PR if it can help.

[2016-03-25 23:01] brentschmaltz commented on #354
@PinpointTownes should be in soon.

[2016-03-25 23:02] PinpointTownes commented on #354
Marvelous, thanks guys! :clap:

[2016-03-26 02:22] brentschmaltz commented on #354
Fixed with PR #355

[2016-03-26 02:22] #354 closed

[2016-03-26 02:22] brentschmaltz commented on #350
Fixed with PR #355

[2016-03-26 02:22] #350 closed

[2016-03-27 14:01] PinpointTownes commented on #354
FYI, there's probably a bug in your build process, because the netstandard TFM added in the nuspec file is invalid:

[code]

[2016-03-28 02:31] tushargupta51 commented on #354
@PinpointTownes It has been fixed, nuget.exe needs to be updated to one that understands the new TFM.

[2016-03-28 07:10] PinpointTownes commented on #354
The NuGet bug that was fixed recently mainly impacted the restore step and was poisoning the local packages store. Of course, I no longer have this buggy version locally and the weird bug I mentioned  directly impacts the nightly packages uploaded to MyGet (it's easy to confirm: download one of the nupkg files, open it as a ZIP archive and extract the nuspec file). Or maybe you mean you're using a

[2016-03-28 07:15] tushargupta51 commented on #354
@pinpointtownes I understand the bug in brent's pr was about using the right tfm. The issue that you reported was being caused by an old nuget version used by our build system that pushes packages to myget. I updated the version that our build system uses. You should the right nuspec in the latest myget package.

[2016-03-28 07:17] PinpointTownes commented on #354
Ah great, I'll give the new packages a try, thanks! :clap:

[2016-03-28 07:19] PinpointTownes commented on #354
Fix confirmed, the `2.0.0-rc2-303271754` packages are no longer impacted.

Thanks @tushargupta51 :tada:

[2016-03-28 18:19] brentschmaltz commented on #354
@tushargupta51 I thought the new nuget.exe was updated last week, at we hit the same thing.

[2016-03-28 18:47] tushargupta51 commented on #354
@brentschmaltz Yes we did, but it was updated on Friday around 4 pm to older version.

[2016-04-01 18:55] #89 closed

[2016-04-01 18:56] #74 closed

[2016-04-01 21:06] brentschmaltz opened #358 "RSACryptoServiceProviderProxy is upleveling incorrectly."
RSACryptoServiceProviderProxy should not uplevel the CSP for hardware keys.
We should have a set of ProviderTypes that we restrict the uplevel for. Currently 1 and 12 seem right.

[2016-04-01 21:12] brentschmaltz opened #359 "OpenIdConnectConfiguration should 'remember' new metadata."
OpenIdConnectConfiguration has a fixed set of properties. For future proofing new metadata, we need to design a way to capture new metadata and expose it to users.

[2016-04-01 21:40] tushargupta51 commented on #358
All possible values of provider types are here: https://msdn.microsoft.com/en-us/library/system.security.cryptography.cspparameters.providertype(v=vs.110).aspx

From that list, the ones that are concerned with rsa are:
1. prov_rsa_full == 1
2. prov_rsa_sig == 2
3. prov_rsa_schannel == 12
4. prov_rsa_aes == 24

Only #4 supports sha256. Before uplevelling the rsa provider, we check if it can be read

[2016-04-01 21:43] brentschmaltz commented on #358
I marked this as RC2, Can we get tests in place? Also we need to ignore HardwareKeys.

[2016-04-01 21:46] tushargupta51 commented on #358
`!rsa.CspKeyContainerInfo.HardwareDevice` will ignore hardware keys. Unfortunately, we dont have any tests for hardware keys right now, and might not be able to get that in rc2. What other tests do you think we need? Certs with provider type == 12?

Also, ignore my comment about including algorithm parameter, noticed that we removed support for sha1 earlier, we only support sha256, sha384, sha512,

[2016-04-01 22:16] brentschmaltz commented on #358
I am OK with getting the tests for Hardware key for post RC2. We will need to have a custom RSAProvider for this.

[2016-04-01 23:21] polita commented on #358
I think you're saying that we're going to uplevel 1, 2, and 12, correct? The logic is right for rsa.CspKeyContainerInfo.ProviderType != PROV_RSA_AES, but I worry that it's not going to be obvious to the code reader that we're explicitly upleveling those 3 values. In addition, if we ever get a new value, I think we probably don't want to uplevel until we explicitly decide to. I recommend that we wr

[2016-04-01 23:23] tushargupta51 commented on #358
Yes, we uplevel if its 1  or 2 or 12.