[2021-09-02 19:15] brentschmaltz commented on #1697
@mrochon does this error occur when you are redeeming the code for a token?

[2021-09-02 19:20] mrochon commented on #1697
I assume so since the only code I have in my app is in Startup

        public void ConfigureServices(IServiceCollection services)
        {
            services.AddAuthentication(OpenIdConnectDefaults.AuthenticationScheme)
                .AddMicrosoftIdentityWebApp(Configuration.GetSection("AzureAdB2C"));
            services.AddControllersWithViews();
           services.AddRazorPages()

[2021-09-02 20:17] brentschmaltz commented on #1697
@mrochon The spec seems to indicate both an id_token and token must be returned when redeeming the code.
see: https://openid.net/specs/openid-connect-core-1_0.html#TokenResponse

[2021-09-03 22:28] mrochon commented on #1697
You are right, I mis-read the spec. I will add some API scope when using *code* as response type (User.Read won't work as it is B2C). Thanks.

[2021-09-03 22:28] #1697 closed, assigned to nobody

[2021-09-07 15:23] #1628 closed, assigned to nobody

[2021-09-07 22:09] brentschmaltz opened #1700 "Testcase "Valid0KeysReturned" needs to be reenabled see: PopKeyResolvingTests.GetPopKeysFromJkuAsync"
Test started failing on a regular basis.

[2021-09-08 20:28] HarelM commented on #468
I'm having an issue when I start the server and it stops responding to requests.
The token validation I'm doing is against a third party server (openstreetmap in my case).
I ended up here as I'm concerned what will happen if a lot of users will try to use the server at once.
What I'm doing can be seen here:
https://github.com/IsraelHikingMap/Site/blob/751a30b9c88e3e6dfb52d11605663c45dcc1deac/Israe

[2021-09-08 20:49] cesarpayan commented on #1655
The code path that leads to this bug no longer exists, and there's a specific check for an empty string in the Encode method now. This was done in PR#1698. Linked the PR to this issue.

[2021-09-09 18:26] cesarpayan commented on #1655
@PashaPash The bug was fixed as part of another issue, you can find the PR linked [here ](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1698)(and the comment above for extra clarification). If you encounter the issue again please feel free to reopen this issue. I am closing the issue now. Thanks for letting us know!

[2021-09-09 18:26] #1655 closed, assigned to nobody

[2021-09-10 18:51] goldsam commented on #468
I don't see it mentioned above, but you can currently provide async token validation via the `Events` property of `JwtBearerOptions`. This might provide a stop-gap solution for some users until a proper async `ISecurityTokenValidator` API is implemented:

[code]

[2021-09-10 19:08] HarelM commented on #468
@goldsam Thanks for the info! This seems to be an interesting solution.
This means I don't need to derive from `ISecurityTokenValidator` too, right? Simply supply the relevant code in this section...?
Is there an easy way to avoid sending the request to the third party validator when the same user sends two requests at almost the same time besides locking? which is not advised anymore as far as I

[2021-09-11 02:05] chwarr commented on #1634
Does issue [#1496, JsonWebKey - Not serializing properly](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1496) answer you question?

[2021-09-13 17:57] brentschmaltz commented on #1691
@vuplea i believe we fixed this, please reopen if we missed some cases.

[2021-09-13 17:57] #1691 closed, assigned to dannybtsai

[2021-09-13 18:05] brentschmaltz commented on #1677
This was checked in:https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1698

[2021-09-13 18:05] #1677 closed, assigned to brentschmaltz

[2021-09-16 11:46] HarelM commented on #468
Alongside the `OnMessageRecieved` stuff does the following article and `LockProvider` referenced there would solve the deadlock possibility here:
https://www.ryadel.com/en/asp-net-core-lock-threads-async-custom-ids-lockprovider/
https://github.com/Darkseal/LockProvider/blob/master/LockProvider.cs
For me it seems like the right direction, but I'm not sure If I'm not missing anything related to dead

[2021-09-21 13:38] gislikonrad commented on #1623
I would love to know if this has been abandoned so that I could possibly fork it for my own uses.

[2021-09-21 17:07] cesarpayan opened #1703 "Inclusive language in code"
To promote the usage of inclusive language, use the extension (or NuGet Package) [Inclusiveness Analyzer ](https://github.com/merill/InclusivenessAnalyzer) for the source code to avoid the use of terms that can be offensive and/or exclusive

[2021-09-23 17:13] #1703 closed, assigned to cesarpayan

[2021-09-24 12:52] jsquire opened #1706 "API of TokenValidationParameters regarding valid algorithms could be improved"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET, [#24204](https://github.com/Azure/azure-sdk-for-net/issues/24204).

### Please be aware that @marwalsch is the author of the original issue and include them for any questions or replies.

## Details

**Library or service name.**
`Microsoft.IdentityModel.Tokens`  v6.12.2 and earlier

**Is your feature request related to

[2021-09-27 08:36] 8ggmaker opened #1707 "[Question] Implementation of Base64UrlEncoder.Decode"
Hi Team,
I am trying to make changes to improve the Decode method of Base64UrlEncoder, and in my local test, there are some test failures, after add more logs, I find it is because the test use Base64UrlEncoder.Decode to decode a base64 string:
_rCz8Sn3GGXmikH2MdTeGY1D711EORX/lVXpr+ecGgqfUWF8MPB07XkYuJ54DAuYT318+2XrzMjOtqkT94VkXmxv6dFGhG8YZ8vNMPd4tdj9c0lpvWQdqXtL1TlFRpD/P6UMEigfN0c9oWDg9U7Ilymgei0

[2021-09-28 16:24] brentschmaltz opened #1708 "JsonWebTokenHandler.ValidateSignature should check signature before getting all keys."
If the logic on this line succeeds, then an attempt to validate the signature with that key should occur before any other work.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/be1c621755848b38ca3222f52d01465fef9b3189/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs#L1078

If that fails and TokenValidationParameters.TryAllIssuerSigningKeys i

[2021-09-28 16:27] brentschmaltz commented on #1707
@zsybupt If this is a valid base64url encoded string, the decode should succeed.
@cesarpayan please have a look at this.

[2021-09-28 16:35] brentschmaltz commented on #1706
@jsquire i agree with you and find the terminology between "alg" JWS and JWE always requiring a re-read of the spec after some time away.
I think we should first off update the comments.
@ciaozhang can you take care of this.
@jsquire we will leave this issue open for considering adding the two new properties, i marked the item as an enhancement.

[2021-09-28 16:55] brentschmaltz commented on #1664
@jsquire NameId is not used in any spec i can find or by AAD.
I suspect it was used at one time, but is simply a carryover from the past.

[2021-09-28 16:55] #1664 closed, assigned to nobody

[2021-09-28 16:56] brentschmaltz commented on #1658
@785011702 please let us know if you have any additional comments.
Closing for now.

[2021-09-28 16:56] #1658 closed, assigned to nobody

[2021-09-28 16:57] brentschmaltz commented on #1648
@hooyao please let us know if you have any additional questions.

[2021-09-28 16:57] #1648 closed, assigned to nobody

[2021-09-29 06:46] 8ggmaker commented on #1707
@brentschmaltz it is a base64 string, there are '+' and '=', but the current implementation is compatible with base64 string, so the test is successful in dev branch

[2021-09-29 06:53] 8ggmaker commented on #1707
@cesarpayan Add more snapshot for your investigation here: (ignore the Decode line number, I have changed the implementation in my local branch, and the log shows the call stacks, there are several other test failures, and should be the same problem)
![image](https://user-images.githubusercontent.com/3711046/135217567-fa2220eb-f054-4fc6-a59b-0ece244d4d7a.png)

[2021-09-29 07:01] marwalsch commented on #1706
@brentschmaltz Thanks for the considerations; though after a lot of contemplating I started to fear that even two separate properties might not be concise enough. As soon as encryption takes place (i.e. the "enc" parameter is present) the "alg" parameter does no longer refer to the algorithm used for singing, but rather [the algorithm used to encrypt the content encryption key](https://datatracker

[2021-09-29 10:05] AndersAbel commented on #1706
Please remember when discussion naming that these parameters are also used for Saml tokens, where the terminology is different. Using terms that are JWT-specific would be confusing in that context.

[2021-09-29 15:28] bgavrilMS commented on #1707
base64 and base64url encodings are different things. See https://stackoverflow.com/questions/55389211/string-based-data-encoding-base64-vs-base64url

base64url encodes some chars differently and includes some padding

[2021-09-29 16:19] 8ggmaker commented on #1707
@bgavrilMS yes, the only situation that a base64 string is also a valid base64url string is:
1. no '+' and '/'
2. no paddings ('=') need,

the unit test calls Base64UrlEncoder with a base64 string here (not a valid base64url string):

rCz8Sn3GGXmikH2MdTeGY1D711EORX/lVXpr+ecGgqfUWF8MPB07XkYuJ54DAuYT318+2XrzMjOtqkT94VkXmxv6dFGhG8YZ8vNMPd4tdj9c0lpvWQdqXtL1TlFRpD/P6UMEigfN0c9oWDg9U7Ilymgei0UXtf1gtcQbc

[2021-09-29 16:27] bgavrilMS commented on #1707
I see what you're saying - the Decode operation is too lax. It should maybe throw an exception if there are base64url illegal chars like `+`, but it doesn't.

I am asking because 2 other libs (MSAL and Microsoft.Identity.Web) copied this version of the helpers. But it looks like the Decode method wasn't changed. You are trying to make sure you don't introduce a regression.

[2021-09-29 16:48] 8ggmaker commented on #1707
Yes, my implementation is strict to base64url string, and the test fails, so I want to know whether there are real use cases of decoding base64 string with Base64UrlEncoder beside the unit test, if it is by design, I can add base64 support to my implementation.

By the way, I checked the implementation of WebEncoders of asp.net core https://github.com/dotnet/aspnetcore/blob/main/src/Shared/WebEnco

[2021-09-29 17:06] bgavrilMS commented on #1707
From my perspective, since we're dealing with OIDC / OAuth2 and other standards / RFCs which are pretty clear about their base64url, I think it's ok to be strict.

But @brentschmaltz  and team have more experience with exotic IDPs.

[2021-09-30 02:05] 8ggmaker commented on #1707
In my opinion, I think the upper layer should not use Base64UrlEncoder.Decode to decode a base64 string, no matter how the underlying implementation is, you know that you are dealing with a base64 string, so you should choice Convert.FromBase64String instead.
KeyingMaterial in Microsoft.IdentityModel.TestUtils
[code]

[2021-09-30 15:51] brentschmaltz commented on #1707
@zsybupt yes technically you are correct.
The code above works and was probably just a cut and paste.

[2021-09-30 19:25] cesarpayan commented on #1707
@zsybupt Thanks for bringing this up. We have discussed the pros and cons of what this change would bring and decided that we agree with you that the upper layer should not use Base64UrlEncoder.Decode to decode a base64 string. In addition to that:
- It can potentially introduce regression.
- The issue at hand comes from an unexpected usage of the encoder, as we indicate in the method's XML Docume

[2021-09-30 19:25] #1707 closed, assigned to cesarpayan

[2021-09-30 23:51] phungxuanvuong opened #1710 "Can I using AD Identirymodel extensions to build a Microsoft Identity Planform?"
I'm learning to build an Oauth2 and OpenID. I found that .Net doesn't provide a ready solution for it. I wonder if Microsoft used this repo to build the Microsoft identity platform?. Is there any document or guide on how to build a similar system using the open-source code provided by Microsoft?

[2021-10-01 11:06] marwalsch commented on #1706
@AndersAbel You are right, didn't know that. Rather surprising since the service extension itself is called `AddJwtBearer`.

[2021-10-01 16:59] brentschmaltz commented on #1710
@QuanJingHong what services are you looking to provide?

[2021-10-01 18:37] goldsam commented on #468
@HarelM I think locking is a bit out of the scope of this issue, but perhaps you might consider a solution that uses [`Lazy`](https://docs.microsoft.com/en-us/dotnet/api/system.lazy-1?view=net-5.0) together with [`ConcurrentDictionary`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.concurrentdictionary-2?view=net-5.0) or a cache of some sort. [LazyCache](https://github.

[2021-10-01 18:51] HarelM commented on #468
@goldsam Thanks for the info! I've implemented the fix according to the article above, it solved the hang.
This lazy cache you referenced is interesting, it might allow me to remove some of the code I added and simplify it.

[2021-10-02 00:03] phungxuanvuong commented on #1710
I want to build a Server which to provides IdentityServer-like or Microsoft Identity platform-like features.

[2021-10-05 21:46] cesarpayan opened #1712 "Use ConfigurationManager<T> without T being of type BaseConfiguration"
Currently if a customer were to use ConfigurationManager with a custom class, ConfigurationManager.GetBaseConfigurationAsync ends up throwing an exception because code is assuming the class T is of type BaseConfiguration (or derived).

This limits consumers' design implementation, and there's no reason for doing so.

[2021-10-05 22:13] adarce opened #1714 "[FeatureRequest] Better Transient/ClientMisconfiguration error handling for ConfigurationManager.GetConfigurationAsync?"
During token validation, our service uses the below `ConfigurationManager.GetConfigurationAsync` API in order to retrieve the `OpenIdConnectConfiguration` for a tenant-specific authority (e.g.: `https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/`):
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/4f24eaecffca2a0ebacc63976682df0adab54805/src/Mic

[2021-10-06 20:12] rmandvikar commented on #468
Any eta on this? Without this, same workaround where I'm having to do a blocking call when the cache ttls out or is empty.

[2021-10-06 21:43] #1712 closed, assigned to cesarpayan

[2021-10-07 15:47] prateekprshr-nith opened #1716 "Reloading TokenValidationParameters.TokenDecryptionKeys"
We have scenarios when we have to rotate `TokenValidationParameters.TokenDecryptionKeys` and we can't afford to restart our app. Is there a way to configure auto-reloading  the decryption keys for `JwtBearerOptions`?

[2021-10-07 17:00] cesarpayan opened #1717 "Improve Logging when the SDK is used unsafely"
When claims are getting evaluated we should be able to know if IsValid or Exception were read. If they were not, that could indicate an unsafe usage of the API and we should log.

[2021-10-08 18:15] #1717 closed, assigned to cesarpayan

[2021-10-08 18:42] mafurman commented on #1716
To better understand your issue, could you clarify what you mean by auto-reloading?
Would being able to configure this setting from a configuration file address this?

[2021-10-10 19:31] LeBovin commented on #415
Long long time ago, I was using .NET because it was a modern and stylish framework.
Now I use it to remember how boring it is to handle legacy.

What are you waiting for?

[2021-10-11 23:04] #1668 closed, assigned to cesarpayan

[2021-10-12 20:25] CodeBlanch opened #1722 "Conflict with Microsoft.IdentityModel.Tokens.CollectionUtilities.IsNullOrEmpty extension"
This `Microsoft.IdentityModel.Tokens.CollectionUtilities.IsNullOrEmpty` extension [introduced](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1695/files#diff-d6203951e787f84d178b2d2ae5f8375daa4e79d7a333b2ca9ee91a48ca66423f) in the latest version broke one of the codebases I work on because there is a similar extension already present. It was easy enough t

[2021-10-12 20:39] HarelM commented on #468
@goldsam Thanks for this great suggestion! I have incorporated the lazy cache package in my code and it looks a lot cleaner right now. Thanks!

[2021-10-13 07:45] bugproof commented on #468
One of the reasons I stopped using JWT tokens altogether 😄 5+ years for a small change. We might see this change in the next 5 years.

[2021-10-14 11:57] remunda opened #1724 "Memory Leak in System.IdentityModel.Tokens.Jwt Version 6.12.2"
Hi,

we're experiencing memory leak issue after upgrading from 6.12.0 -> 6.12.2.
We think its caused by change  #1685

There are lots of instances of SignatureProvider on `_eventQueue` field in `_signingSignatureProviders`

![image](https://user-images.githubusercontent.com/3290220/137312070-21e5e643-2e99-42af-bd7b-c692651e70a6.png)

![image](https://user-images.githubusercontent.com/3290220/13731

[2021-10-14 15:53] brentschmaltz commented on #1724
@dannybtsai can you have a look at this please?

@remunda can you provide the details of your application?
what runtime (asp.net, linux, ....)

thanks
brent

[2021-10-14 17:31] cesarpayan opened #1726 "Support ECDH-ES Key Agreement"
Currently there's no support for ECDH-ES as noted in this [issue ](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1666)

Given the increase in usage of this algorithm we should support it instead of leaving it to users to implement via extension.

We should support:
ECDH-ES+A128KW
ECDH-ES+A192KW
ECDH-ES+A256KW

Direct or symmetric key wrap

[2021-10-14 18:27] remunda commented on #1724
@brentschmaltz Of course. Its
- conainer based on docker image mcr.microsoft.com/dotnet/aspnet:5.0
- so its Debian 10
- running in our kubernetes cluster (limits 2CPU, 2Gi memory)

[2021-10-15 18:45] jsquire opened #1728 "Broken link. Use updated rfc link"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#24757](https://github.com/Azure/azure-sdk-for-net/issues/24757).

### Please be aware that @skittleson  is the author of the original issue and include them for any questions or replies.

## Details

`http://tools.ietf.org/html/rfc7517#section-4` is no longer valid.  Use `https://datatracker.ietf.org/doc/ht

[2021-10-15 23:14] jmprieur opened #1729 "images"
![image](https://user-images.githubusercontent.com/13203188/137563425-923b299c-ec3d-43b1-816f-7de81f5b6ec1.png)

[2021-10-15 23:14] #1729 closed, assigned to nobody

[2021-10-18 09:47] fschmied opened #1731 "SecurityTokenInvalidIssuerException with OpenID Connect and the Azure AD "common" endpoint"
When you use OpenID Connect against Azure AD's "common" endpoint, configuring `https://login.microsoftonline.com/common/v2.0` as the `OpenIdConnectOptions.Authority` value, the [metadata document](https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration) will provide an issuer value of `https://login.microsoftonline.com/{tenantid}/v2.0`. Note the "{tenantid}" placeholder.

Wi

[2021-10-18 09:47] fschmied commented on #1731
For anyone reading this and needing a workaround: see Thomas Levesque's post on this issue: https://thomaslevesque.com/2018/12/24/multitenant-azure-ad-issuer-validation-in-asp-net-core/

[2021-10-18 09:58] fschmied opened #1732 "Helpful information replaced with "System.String" in SecurityTokenInvalidIssuerException message"
When you set up OpenID Connect with an invalid issuer (as happens easily, e.g., when configuring OpenID Connect with Azure AD see #1731), you get a `SecurityTokenInvalidIssuerException` that has all the helpful values replaced with "System.String": `IDX10205: Issuer validation failed. Issuer: 'System.String'. Did not match: validationParameters.ValidIssuer: 'System.String' or validationParameters.

[2021-10-19 08:48] KrisVandermotten commented on #1547
Definitely not. Bugs should not be documented, bugs should be fixed.

It should be possible to validate a JWT token with logic along the lines of: "the audience is not required, but if you do send one, it should be correct".

[2021-10-21 20:37] dannybtsai opened #1734 "Handle Possible Exceptions in OpenIdConnectConfigurationRetriever When Retrieving the Signing Keys"
The default behavior of the OpenIdConnectConfigurationRetriever.GetConfigurationAsync() always retrieves the configuration metadata, and the signing keys via the "jwks_uri" link in the metadata. Recent tests showed that exception could be thrown during the signing keys retrieval.

[2021-10-21 21:34] jsquire opened #1735 "Add default values in TokenValidationParameters.xml"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#24854](https://github.com/Azure/azure-sdk-for-net/issues/24854).

### Please be aware that @KirillBorunov is the author of the original issue and include them for any questions or replies.

## Details

Please include the default values in the documentation. How I supposed to know if need to specify the valu

[2021-10-22 02:17] jennyf19 commented on #1732
@fschmied I think the issuer could include the domain or tenantId, which is OII, so PII for us. I agree that the message is not helpful, as I've ran into it a lot as well. Would an aka.ms link showing how to add PII logs w/additional information be helpful or do you have another suggestion?

[2021-10-22 02:20] jennyf19 commented on #1731
This issue will be resolved when Microsoft.IdentityModel picks up the AadIssuerValidator from Microsoft.Identity.Web. We are in the [process of moving it over now](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1736). Should be in next IdentityModel release hopefully.

[2021-10-22 02:32] jennyf19 commented on #1710
You can start with this [class](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebToken.cs).

Closing as answered.

[2021-10-22 02:32] #1710 closed, assigned to nobody

[2021-10-22 04:23] ciaozhang opened #1738 "Implement singleton for CallContext"
Added singleton CallContext.Default to the need to new one up.

[2021-10-22 08:29] venkateshkocherlakota commented on #1735
Hi @jennyf19 and @KirillBorunov, Good day!
@KirillBorunov - Could you please share the parameters for which default values are expected.
@jennyf19 - Could you please help me with the default values that are being expected.

[2021-10-22 09:52] fschmied commented on #1732
@jennyf19 I see. How about changing it to something like this? `IDX10205: Issuer validation failed because the actual issuer didn't match the valid issuer(s). Issuer: 'System.String (value removed)'. Did not match: validationParameters.ValidIssuer: 'System.String (value removed)' or validationParameters.ValidIssuers: 'System.String (value removed)'. PII protection removed values from this message.

[2021-10-23 05:52] KirillBorunov commented on #1735
ClockSkew
IgnoreTrailingSlashWhenValidatingAudience
NameClaimType
RequireAudience
RequireExpirationTime
RequireSignedTokens
RoleClaimType
SaveSigninToken
TryAllIssuerSigningKeys
ValidAlgorithms
ValidateActor
ValidateAudience
ValidateIssuer
ValidateIssuerSigningKey
ValidateLifetime
ValidateTokenReplay
ValidTypes

[2021-10-26 04:34] #1738 closed, assigned to ciaozhang

[2021-10-26 10:14] jeevanbalanmanoj commented on #1365
@Andrew-Webb  does this document help you? https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/ValidatingTokens#jsonwebtokenhandler

[2021-10-26 17:26] Bellarmine-Head commented on #1365
@jeevanbalanmanoj - looks like it could be useful, thanks.  I won't be changing our JWT-wrangling code now, but this could be a useful reference for future projects.

[2021-10-26 23:05] dannybtsai opened #1742 "Add a non-LRU Provider Cache"
The event based LRU cache implementation is designed to keep the most frequently used providers in the cache and evict the least used ones. This is more complicated and requires starting background tasks to process events. For some users who have a small number of providers this might not be needed as the cache is never full.
This task is for implementing a simpler and more lightweight non-LRU cac

[2021-10-27 12:09] ackh opened #1743 "Increase the minimum size of SymmetricSecurityKey for HS256"
`SymmetricSecurityKey` instances with a length of at least 16 bytes (128 bit) that are used together with `SecurityAlgorithms.HmacSha256Signature` are accepted when creating new JWTs using `JwtSecurityTokenHandler`. An example of such a valid key is as follows:

[code]

Keys with less than 16 bytes result in the following exception

[code]

However, [RFC 7518](https://datatracker.ietf.org/doc/html

[2021-10-27 16:39] #1731 closed, assigned to nobody

[2021-10-28 06:40] fschmied commented on #1731
@jennyf19 Wow, thanks for fixing this so fast. Will this new `AadIssuerValidator` be present automatically, i.e., can I just wire up authentication with Azure AD in multitenant mode by setting the `OpenIdConnectOptions` in `appsettings.json`? Or will I still need to programmatically set an `IssuerValidator`?

Appsettings.json would be awesome - that's how it works with every standard OIDC implemen

[2021-10-28 15:20] jennyf19 commented on #1731
@fschmied Depends on if you are ASP.NET or ASP.NET Core. If on ASP.NET, yes, you have to still set them programmatically. If on ASP.NET Core, you can use Microsoft.Identity.Web, which provides a higher-level API and does this automatically for you.

[2021-10-28 17:46] galhag opened #1752 "[Bug] AadIssuerValidator doesn't work well with multiple auth schemes in ASP.NET Core"
**Which version of Microsoft Identity Web are you using?**
Microsoft.Identity.Web 1.18

**Where is the issue?**
* Web app
    * [ ] Sign-in users
    * [ ] Sign-in users and call web APIs
* Web API
    * [x] Protected web APIs (validating tokens)
    * [ ] Protected web APIs (validating scopes)
    * [ ] Protected web APIs call downstream web APIs
* Token cache serialization
     * [ ] In-memory c

[2021-10-28 18:02] jennyf19 opened #1747 "[Fundamentals] Mac tests are not working"
Mac tests failing with:
` System.TypeInitializationException : The type initializer for 'Microsoft.IdentityModel.TestUtils.KeyingMaterial' threw an exception.
---- Interop+AppleCrypto+AppleCommonCryptoCryptographicException : MAC verification failed during PKCS12 import (wrong password?)`

[2021-10-28 18:39] jmprieur commented on #1752
@galhag you can specify the expected `Audience` for your app in the sections of your appsettings,json (Audience)
you can enable PII to see what audience was requested by your client, and which was registered in the app registration (https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII)

[2021-10-28 19:18] fschmied commented on #1731
@jennyf19 I use this library only indirectly, via `Microsoft.AspNetCore.Authentication.OpenIdConnect` (which in turn depends on `Microsoft.IdentityModel.Protocols.OpenIdConnect`).

So, I'm calling `services.AddAuthentication()...AddOpenIdConnect()`, and I'm configuring everything in `appsettings.json` via `OpenIdConnectOptions`. That way, I can use any OpenID Connect identity provider. (Just not A

[2021-10-28 19:27] jennyf19 commented on #1731
@fschmied this should work
[code]

And you could use OpenIdConnectOptions instead. Are you validating the IdToken in that case?

[2021-10-28 22:04] galhag commented on #1752
I think I see the root cause,

MicrosoftIdentityIssuerValidatorFactory is being added as a singleton
When the MicrosoftIdentityIssuerValidatorFactory.GetAadIssuerValidator gets hit the first time the issuer is being added to the concurrent doctionary where the key is the authorityHost, in our case login.microsoftonline.com, with a validator against the first tenant issuer.

It fails the validation

[2021-10-29 21:05] brentschmaltz commented on #1743
@ackh thanks for noticing this, we will look into this.
About the error message, when PII is on, we hid all variables in the message.
We are working on relaxing this for some messages that don't contain any pii.

[2021-11-01 17:10] jennyf19 commented on #1732
Included in [6.14.0 release](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases/tag/6.14.0)

[2021-11-01 17:10] #1732 closed, assigned to nobody

[2021-11-01 17:10] jennyf19 commented on #1728
Included in [6.14.0 release](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases/tag/6.14.0)

[2021-11-01 17:10] #1728 closed, assigned to jennyf19

[2021-11-01 17:41] timo352 opened #1749 "IssuerValidator Delegate: Better documentation for custom validators"
[TokenValidationParameters.cs](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/3d152e470b167c6e9fce2c302496a3536e3987d8/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L81)

Right now the documentation for `IssuerValidator` does not specify how validation works. Based on the summary doc, I'd guess that the Issuer would be compared to whatev

[2021-11-01 17:42] timo352 commented on #1749
Happy to close if there is some documentation I'm missing - like a higher level coding style I'm unaware of.

[2021-11-01 22:38] jennyf19 commented on #1749
@timo352 Is this what you are looking for? https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/ValidatingTokens#aadissuervalidator

[2021-11-01 23:34] timo352 commented on #1749
Yep, that's perfect. Thanks for providing that.

[2021-11-01 23:34] #1749 closed, assigned to nobody

[2021-11-02 17:13] cesarpayan opened #1750 "Broken links tools.ietf.org/html/"
In code there are still links provided in comments that point to tools.ietf.org/html/ resources

These links redirect to datatracker.ietf.org/doc/html and either fail to redirect or redirect. Providing the link to datatracker.ietf.org would minimize the risk of the failure to redirect happening.

[2021-11-04 17:33] jennyf19 commented on #1752
@galhag included in [M.IM.Validators 6.14.1 release](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases/tag/6.14.1) and will be in the Id Web 1.19.1 release, hopefully later today or tomorrow (11.5)

[2021-11-04 17:33] #1752 closed, assigned to jennyf19

[2021-11-04 18:28] brentschmaltz commented on #1513
@gislikonrad this has been moved to WCF repo and is being completed.
see: https://github.com/dotnet/wcf and there is a current pull request.

[2021-11-04 18:28] #1513 closed, assigned to nobody

[2021-11-04 18:30] brentschmaltz commented on #1264
@rytmis we added this for receiving, a while back....

[2021-11-04 18:30] #1264 closed

[2021-11-04 18:36] brentschmaltz commented on #1569
We haven't had any asks for this.

[2021-11-04 18:36] #1569 closed, assigned to nobody

[2021-11-04 18:39] brentschmaltz commented on #1527
We are working on a updated model in this PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1725

[2021-11-04 18:39] #1527 closed, assigned to nobody

[2021-11-04 18:51] brentschmaltz commented on #1724
@remunda i should have asked, when you say lots how many are you seeing?
How does your code use the SignatureProvider?

We cache SignatureProviders based on a KEY+Algorithm+Type, they must be Released after using.
We don't remove them from the Cache when we release, but mark them so that when the cache grows above limits they will be removed and  disposed.

[2021-11-04 18:58] brentschmaltz commented on #1735
@jsquire the summary comments cover most of these items. I am not sure what the ask is?

[2021-11-04 19:08] jsquire commented on #1735
@brentschmaltz:  Please be aware that my role was only transferring as part of triage for the Azure SDK repository.   You'll want to direct questions to the author of the original issue, @KirillBorunov.

[2021-11-04 19:10] brentschmaltz commented on #1722
@CodeBlanch rats.
Did you use the same namespace prefix M.IM.Tokens?

It should have been internal, that is a mistake.
It would now be breaking for us to remove it, can you live with it?

[2021-11-04 19:15] brentschmaltz commented on #1716
@prateekprshr-nith could you use this delegate: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/161f199894c94092b780ab3ce965e31ae94c8b7e/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L123

It is called when we need to decrypt a JWE
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/161f199894c94

[2021-11-04 19:15] #1716 closed, assigned to nobody

[2021-11-04 19:16] brentschmaltz commented on #1686
We fixed this with our 6.14.1 release.

[2021-11-04 19:16] #1686 closed, assigned to RojaEnnam

[2021-11-04 19:17] brentschmaltz commented on #1666
@jxnkwlp we are currently working on this feature. @cesarpayan owns the implementation.

[2021-11-04 19:24] brentschmaltz commented on #1663
@Kahbazi This is a result of our runtime caching SignatureProviders.
We have found a HUDGE increase in performance if we cache crypto objects.
When you validate a token, in background we cache the RsaSecurityKey along with the RSA obj you passed in the ctor.
If you dispose of the RSA object, the next time you try and validate the token, it will fail (sometimes :-()).
The sometimes is about differe

[2021-11-04 19:24] #1663 closed, assigned to nobody

[2021-11-04 19:25] brentschmaltz commented on #1659
Closing this out as we are adding resources and working to speed things up.

[2021-11-04 19:25] #1659 closed, assigned to nobody

[2021-11-04 19:28] brentschmaltz commented on #1643
@hchendow  you will need to sign your assembly with your own keys.
We are currently working on 6.x and that is where our focus is.

[2021-11-04 19:28] #1643 closed, assigned to nobody

[2021-11-04 19:30] brentschmaltz commented on #1642
@KunalAdu  We are making some improvements to our PII handling in this PR : https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1725

Please feel free to comment in that PR

[2021-11-04 19:30] #1642 closed, assigned to nobody

[2021-11-04 19:32] brentschmaltz commented on #1625
@KalleOlaviNiemitalo we are making some improvements to PII handling in this PR https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1725

Please feel free to comment in the PR.

[2021-11-04 19:32] #1625 closed, assigned to nobody

[2021-11-04 19:39] brentschmaltz commented on #1624
@RufusJWB i think you are looking for this to be public: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/ffa4e55e101978a27059ed8cf854388bc85450f3/src/Microsoft.IdentityModel.Tokens/RsaSecurityKey.cs#L45

That is a possibility, but you can still use the JsonWebKeySet.
It's slightly annoying, but not too bad.

If you want that API public, please open a new i

[2021-11-04 19:39] #1624 closed, assigned to nobody

[2021-11-04 19:42] brentschmaltz commented on #1619
@oddeirik i assume you have this under control.
Please ping us if you have any issues.

[2021-11-04 19:42] #1619 closed, assigned to nobody

[2021-11-04 19:42] brentschmaltz commented on #1608
@ArjunSaiKumar i assume you were able to work around this.

[2021-11-04 19:42] #1608 closed, assigned to brentschmaltz

[2021-11-04 19:48] brentschmaltz commented on #1603
@jennyf19 can you help out here?

[2021-11-04 19:50] brentschmaltz commented on #1601
@arianmotamedi closing as we think #1516 will solve the issue.
Please re-open if this is not the case.

[2021-11-04 19:50] #1601 closed, assigned to brentschmaltz

[2021-11-04 19:52] brentschmaltz commented on #1600
This is old an stale....

[2021-11-04 19:52] #1600 closed, assigned to nobody

[2021-11-04 19:53] brentschmaltz commented on #1596
We can't do this on all platforms, so since this is a user error, we will punt as it didn't come up often

[2021-11-04 19:53] #1596 closed, assigned to mafurman

[2021-11-04 20:18] jennyf19 commented on #1603
@udlose Sorry it took us so long to get back to you on this.

Could it be an issue with the multiple authentication schemes? Microsoft.Identity.Web, as of version 1.11.1, supports multiple auth schemes. Here is the [documentation](https://github.com/AzureAD/microsoft-identity-web/wiki/multiple-authentication-schemes) on how to set it up. If you want to take a look and try with the latest Id.Web ve

[2021-11-04 20:45] brentschmaltz commented on #1735
@KirillBorunov the summary comments cover most of these items. I am not sure what the ask is?

[2021-11-04 20:47] brentschmaltz commented on #1666
Closing this as we are working on supporting ECDH KW with multiple key sizes.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1726

[2021-11-04 20:47] #1666 closed, assigned to cesarpayan

[2021-11-04 20:49] brentschmaltz commented on #1714
@ciaozhang this would work similar to the feature of returning IdentityProvider errors.

[2021-11-04 21:02] brentschmaltz commented on #1609
@dannybtsai take this into consideration when you are working on task issues.

[2021-11-04 21:02] #1609 closed, assigned to mafurman

[2021-11-04 21:05] brentschmaltz commented on #1525
@jairofranchi  assigning this to @sruke.

[2021-11-04 21:08] brentschmaltz commented on #1562
@mirza-developer can you try JsonWebTokenHandler?
If you could point to sample code that faults, that would speed up the investigation.

[2021-11-04 21:13] brentschmaltz commented on #1547
@KrisVandermotten @DaveBrue assigned to @sruke
@sruke we need to have an additional check in ValidateAudience https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/161f199894c94092b780ab3ce965e31ae94c8b7e/src/Microsoft.IdentityModel.Tokens/Validators.cs#L87

Where if the Audience is null, we will not fault if RequireAudience is false.
If the Audience is NOT null

[2021-11-04 21:23] brentschmaltz commented on #1538
@Herostwist revisiting this as i am trying to understand the ask.
There is no natural place in a JWT that map to Claim properties.
The reason we added properties to the Claim inside the JwtPayload is if we map the Claim.Type, we include the original property name from the JWT as a property on the claim.

[2021-11-04 21:24] CodeBlanch commented on #1722
@brentschmaltz Not exactly. Let's say my extension is:

[code]

I had some code like...

[code]

In that case, because both `IsNullOrEmpty` extensions are in scope, the compiler doesn't know which one to pick and it complains.

Fix is just to qualify it like...

[code]

Easy enough workaround, no big deal to keep it like that.

[2021-11-04 21:32] brentschmaltz commented on #1516
@mdrgeniebelt @leastprivilege @brockallen  we are hoping to have this implemented before the end of year.
The plan is to use System.Text.Json, hydrate the JsonWebToken once from a utf-8 into binary and provide properties for high use properties such as: Issuer, Audiences, etc and JsonWebToken.TryGetPayloadValue<...>( propertyName).
We can then remember such values and only deserialize once for tho

[2021-11-04 21:41] brentschmaltz commented on #1517
@gislikonrad  We are adding WSTrustChannelFactory and WSTrustChannel to https://github.com/dotnet/wcf

Back to your ask, can you narrow your ask to some high value items.
Full Spec has a lot of things most people don't care about.

[2021-11-04 21:44] TimHannMSFT commented on #1561
I'll opportunistically take this on next time I'm in Wilson.

[2021-11-04 21:44] pipi1007 commented on #1114
@GeoK , we have a repro of this issue, dump is showing > 1300 threads stuck here:

[code]

The eventQueue.Add() function is causing the contentions:

[code]

Should we add a timeout to it?

[2021-11-04 21:46] brentschmaltz commented on #1635
@RojaEnnam i don't see an issue here, please re-open with additional details if closed in error.

[2021-11-04 21:46] #1635 closed, assigned to nobody

[2021-11-04 21:47] pipi1007 opened #1755 "Large contentions from TokenValidator.ValidateSignature"
We have a repro of [this issue](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1114), dump is showing > 1300 threads stuck here:

[code]

The eventQueue.Add() function is causing the contentions:

[code]

Should we add a timeout to Add()?

[2021-11-04 21:49] gislikonrad commented on #1517
I've already implemented it on my own, so no worries.

[2021-11-04 21:50] brentschmaltz commented on #1613
@NiklasEderoth we may not be converting the JsonWebKey to an ECDsaSecurityKey correctly.
Could you try specifying an ECDsaSecurityKey when creating the SigningCredentials?

[2021-11-04 21:57] leastprivilege commented on #1516
Ok then...performance was actually never a concern of mine...but sounds exciting.

[2021-11-04 23:28] brentschmaltz commented on #1475
@RogerioWagner @cleferman @chwarr this item was fixed in 6.x.
Please feel free to re-open if you see issues in 6.x.

[2021-11-04 23:28] #1475 closed, assigned to sruke

[2021-11-04 23:35] brentschmaltz commented on #1476
@alexjebens the Saml2Serializer does not change the inbound string.
I am not clear on your ask, if you need something else please open a new issue.

[2021-11-04 23:35] #1476 closed, assigned to brentschmaltz

[2021-11-04 23:38] brentschmaltz commented on #1466
@gislikonrad i am not clear on the ask here.
Please open an issue if you still need something.

[2021-11-04 23:38] #1466 closed, assigned to brentschmaltz

[2021-11-04 23:41] brentschmaltz commented on #1448
This is under user control, no-one has asked for this.

[2021-11-04 23:41] #1448 closed, assigned to nobody

[2021-11-04 23:43] brentschmaltz commented on #1434
These keys do not create any disposable objects so they do not need IDispose.

[2021-11-04 23:43] #1434 closed, assigned to mafurman

[2021-11-04 23:45] brentschmaltz commented on #1430
@onyxmaster while i agree this would help, given that there is an easy way to make this happen with a delegate.
We decided to punt this.

[2021-11-04 23:45] #1430 closed, assigned to nobody

[2021-11-05 00:23] brentschmaltz commented on #1349
@javiercn we are working on 6.x and applying only serious fixes to 5.x.
Since System.IdentityModel.Tokens.Jwt is still in 6.x, we should fix this.
Does this logic sound right?
[here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/9ad658f983a83718880ac104a31a0462d61913ef/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L1064)

I assume you me

[2021-11-05 00:24] brentschmaltz commented on #1408
I am not sure we need this, punting.

[2021-11-05 00:24] #1408 closed, assigned to nobody

[2021-11-05 00:28] brentschmaltz commented on #1313
@azydevelopment i am not sure how this is caused by IdentityModel.
If you have additional details, please re-open with additional details.

[2021-11-05 00:28] #1313 closed

[2021-11-05 00:35] brentschmaltz commented on #1296
@abatishchev the readme is a bit stale, our wiki is much more up to date.

[2021-11-05 01:01] abatishchev commented on #1296
@brentschmaltz I can submit a change similar to this one? https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2406/

[2021-11-05 01:03] abatishchev commented on #1296
Ah, wait. I see README already lists the latest nuget package version. Cool!

Should we add the latest build/release status too?

[2021-11-05 02:05] brentschmaltz commented on #1755
@pipi1007 this commit removed the blocking collection https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/8b52cd42c42564a56c937c70e4ea71c059186481#diff-de448c9effdca05d2304eaf5c776a91e87756cea1340f613381caf841f3cda3f

Can you see if this repro's with our current release 6.14.1?

[2021-11-05 03:38] jennyf19 commented on #1486
done.

[2021-11-05 03:38] #1486 closed, assigned to jennyf19

[2021-11-05 04:33] KirillBorunov commented on #1735
What comments? Where they are? I don't see them on the documentation page where the items are listed nor in the documentation pages of each item.

I'm asking for the default value. For example: ValidateIssuer, is true or false by default when TokenValidationParameters instance is created? NameClaimType is "" or is "sub"? and so on...
I need to know what parameters I need to specify a value if the

[2021-11-05 06:20] rytmis commented on #1264
Awesome, thanks!

[2021-11-05 07:37] KalleOlaviNiemitalo opened #1759 "Case-insensitively duplicate branch names in Git repo"
The AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet repository contains some branches whose names are the same except for upper vs. lower case. This makes Git unable to distinguish those branches from each other when I clone the repository to a case-insensitive file system such as on Windows.

[code]

In total, there are five branches whose names start with `xiao/`, and two branc

[2021-11-05 09:15] mdrgeniebelt commented on #1516
@leastprivilege @brockallen  while we're waiting for this to be changed I wonder if there is a way to change how IdS is reading jwt? I created a 'temporary hack' for reading JWT (custom handler, we read claims manually for now) for our API - because we really had to upgrade `System.IdentityModel.Tokens.Jwt` to latest version (other packages do depend on it also...).

It was fine as long as we were

[2021-11-05 16:47] brentschmaltz commented on #1264
@rytmis not we didn't add support for creating yet.

[2021-11-05 16:55] brentschmaltz commented on #1735
@KirillBorunov they are in the Summary comments;
From xml metadata
[code]
Some defaults are missing, but not all.
I am asking you to be specific.

It looks like the documentation is not in sync with Summary comments
For example: https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.tokens.tokenvalidationparameters.validatelifetime?view=azure-dotnet
Doesn't specify the default.

[2021-11-05 17:00] jennyf19 commented on #1735
@brentschmaltz I don't think there is a default xml tag, @jmprieur would know for sure. We'd have to move the default to the XML explicitly, so it shows up in the doc.

[2021-11-05 17:01] brentschmaltz commented on #1735
@jennyf19 the code i posted was from the xml metadata when i right-clicked to an external dll.
You are saying we also need to add details to the xml summary comments.

[2021-11-05 17:03] #1673 closed, assigned to sruke

[2021-11-05 17:03] jennyf19 commented on #1735
yes, correct.

[2021-11-05 17:26] brentschmaltz commented on #1759
@KalleOlaviNiemitalo thanks for noticing this and pointing it out.
I will inform the team.

[2021-11-05 17:26] #1759 closed, assigned to nobody

[2021-11-05 19:17] rytmis commented on #1264
That's alright, I only need it when receiving tokens. :)

[2021-11-05 19:21] #1572 closed, assigned to brentschmaltz

[2021-11-05 19:24] brentschmaltz commented on #1228
this has been completed in internal repos

[2021-11-05 19:24] #1228 closed

[2021-11-05 19:27] brentschmaltz commented on #1627
mapping was removed

[2021-11-05 19:27] #1627 closed, assigned to brentschmaltz

[2021-11-05 19:33] brentschmaltz commented on #1578
@Tobias841  What is happening here is the RsaSecurityKey is passed an RSA object.
From the SigningCredentials, a SignatureProvider is created and cached with the RsaSecurityKey.
The first signature succeeds, but after the dispose, the cached SignatureProvider will be used and will fault as the RSA is disposed.

If you were to create the RsaSecurityKey with RSAParameters, you would not have this is

[2021-11-05 19:33] #1578 closed, assigned to brentschmaltz

[2021-11-05 19:35] brentschmaltz commented on #1461
Not important enough to fix.

[2021-11-05 19:35] #1461 closed, assigned to brentschmaltz

[2021-11-05 19:37] brentschmaltz commented on #1234
not going to worry about this.

[2021-11-05 19:37] #1234 closed

[2021-11-05 19:40] brentschmaltz commented on #1168
I believe this can be solved using the AadIssuerValidator.

To restate, until the signature is validated we don't make any assertions about the token.
We always have to validate the signature.

[2021-11-05 19:40] #1168 closed

[2021-11-05 20:33] pipi1007 commented on #1755
Thanks for the answering, we will try to use 6.14.1.

[2021-11-05 22:39] Pikhulya opened #1762 "Microsoft.IdentityModel.Tokens.Validators.ValidateLifetime doesn't provide actual DateTimes"
Microsoft.IdentityModel.Tokens 6.7.1.0

Microsoft.IdentityModel.Tokens.Validators.ValidateLifetime throws an exception missing actual date times:

Microsoft.IdentityModel.Tokens.SecurityTokenExpiredException: **IDX10223: Lifetime validation failed. The token is expired. ValidTo: 'System.DateTime', Current time: 'System.DateTime'.**
   at Microsoft.IdentityModel.Tokens.Validators.ValidateLifetime(N

[2021-11-05 23:18] brentschmaltz commented on #1762
@Pikhulya we are fixing this in the following PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1725

I would be great if you commented there.

[2021-11-05 23:18] #1762 closed, assigned to nobody

[2021-11-06 08:30] KirillBorunov commented on #1735
Ok, I did not know that attribute even exists.
My flow was:
1) I type: var test = new TokenValidationParameters();
2) I start typing: test.ValidateLifetime (the tooltip shows a short description about that property, no default value here).
3) When the line is complete: test.ValidateLifetime = true; I put the cursor over the property and VS shows a long description, but no default value.
4) I go to

[2021-11-06 13:37] leastprivilege commented on #1516
AFAIK this is all fixed in v5+

[2021-11-08 07:18] mdrgeniebelt commented on #1516
We're currently on `6.14.1` version of `System.IdentityModel.Tokens.Jwt` and `4.1.2` of `IdentityServer4` and it doesn't work 😞

I'll tinker a bit more with `JsonExtensions.Deserializer` from Jwt package but I'm not even sure if that is the issue anymore 🤷‍♂️

[2021-11-08 07:19] leastprivilege commented on #1516
yea sorry - I meant IdentityServer v5

[2021-11-08 07:21] mdrgeniebelt commented on #1516
Alright - then we're talking about Duende IdentityServer, right?

[2021-11-08 08:18] leastprivilege commented on #1516
That is correct.

[2021-11-08 18:10] brentschmaltz commented on #1755
@pipi1007 please reopen if your issue has not been fixed.

[2021-11-08 18:10] #1755 closed, assigned to nobody

[2021-11-08 18:12] brentschmaltz commented on #1724
@remunda  we believe this is fixed in 6.14.1.
Please reopen if this is not fixed.

[2021-11-08 18:21] #1724 closed, assigned to dannybtsai

[2021-11-08 18:57] abatishchev commented on #1296
@brentschmaltz ping

[2021-11-09 06:39] dannybtsai commented on #1724
@remunda, have you tried the latest version?

[2021-11-10 01:54] #1735 closed, assigned to jennyf19

[2021-11-10 16:58] #1734 closed, assigned to dannybtsai

[2021-11-10 16:58] dannybtsai commented on #1734
This is no longer needed.

[2021-11-11 14:13] jsquire opened #1773 "Default outbound map issue"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#25274](https://github.com/Azure/azure-sdk-for-net/issues/25274).

### Please be aware that @ihorwill is the author of the original issue and include them for any questions or replies.

## Details

There appears to be a bug in the default outbound map for http://schemas.microsoft.com/2012/12/certificateconte

[2021-11-11 19:51] brentschmaltz commented on #1773
@ihorwill can you help out by providing a pointer to a spec that defines the claim name?

[2021-11-12 12:42] fschmied commented on #1731
@jennyf19 Thanks for the pointer (and sorry for the delay). My point was that using the validator will not be possible using _appsettings.json_. So, if we want to support Azure AD multitenancy, we'll have to adapt our application code.

Also thank you for the quick reaction!

[2021-11-15 15:01] leastprivilege commented on #1574
Any update? This is violating the spec and blocks people from using resource indicator enabled IdPs...

[2021-11-16 12:26] frodegil commented on #1574
This has become a blocking issue for us. Our system consumes services from multiple external service providers, all using the same (external) idP. The idP uses resource indicators to authorize users for every resource/api during login so that they can request resource specific access tokens when they need to, later on.

We will try to change the Resouce property's backing field via reflection. If

[2021-11-16 19:12] mafurman commented on #1638
@germankuber Closing this issue. Please reopen it if you have additional questions or if your problem has not been fully addressed!

[2021-11-16 19:12] #1638 closed, assigned to nobody

[2021-11-17 14:06] ihorwill commented on #1773
Sorry - missed this in my inbox.

No, I am not aware of a spec for it. The primary problem is that the
mapping is not symmetric between the inbound and outbound maps.

Kind regards,
Ian

On Thu, 11 Nov 2021 at 19:51, BrentSchmaltz ***@***.***>
wrote:

[2021-11-17 14:12] jsquire opened #1777 "Some typos in `System.IdentityModel.Tokens.Jwt/JwtHeader`"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#25371](https://github.com/Azure/azure-sdk-for-net/issues/25371).

### Please be aware that @ShikaTech is the author of the original issue and include them for any questions or replies.

## Details

Some comments look like typos.

- typo1 - https://docs.microsoft.com/en-us/dotnet/api/system.identitymodel.tok

[2021-11-17 18:27] brentschmaltz commented on #1773
@ihorwill i put a breakpoint on this test, examined handler.OutboundClaimTypeMap and didn't see any spaces.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b24470757799a9d1d75f5f16314857f6bdc444d8/test/System.IdentityModel.Tokens.Jwt.Tests/JwtSecurityTokenHandlerTests.cs#L450
The OutboundClaimTypeMap is created from the InboundClaimTypeMap here:
https://gi

[2021-11-17 18:34] brentschmaltz commented on #1777
@jsquire thanks for noticing, we will fix this.

[2021-11-17 19:28] frodegil commented on #1574
Is it possible/feasible to create a CustomOpenIdConnectMessage that inherits from OpenIdConnectMessage?
We would really like to override the CreateAuthenticationRequestUrl method so that we can build an url with multiple resource parameters (handle the "resource" parameter ourself by splitting the string and add one resource parameter per resource in a  loop inside the _parameters loop).
We've tri

[2021-11-17 19:36] brentschmaltz commented on #1750
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1774

[2021-11-17 19:36] #1750 closed, assigned to cesarpayan

[2021-11-17 20:16] frodegil commented on #1574
This seems to work;

![image](https://user-images.githubusercontent.com/8426147/142275620-c610b02e-4d7a-4815-b74b-7184dcc5b7e9.png)

![image](https://user-images.githubusercontent.com/8426147/142275721-ade8e563-13d3-4bda-874b-3dc838023c60.png)

[2021-11-18 00:55] TimHannMSFT opened #1778 "[Feature Request] Improving Microsoft.IdentityModel Observability"
# Improving Microsoft.IdentityModel Observability

There have been some internal asks for Microsoft.IdentityModel and dependent libraries to offer a better observability surface. Currently logging is possible but good hooks for metrics and thus alerting aren't as readily available.

## Observability areas to consider

* Logging signals to monitor
  * Additional logs that can clarify behavior for c

[2021-11-18 01:01] TimHannMSFT commented on #1778
@kevinchalet , @leastprivilege -- I was hoping either of you might share your feedback ideas on anything you'd like to see improved w.r.t. observability in the library. Additionally if you know of anyone else who you feel would be useful to solicit feedback for improvements on observability in the library, it would be much appreciated if you could tag them for their attention. Thanks.

[2021-11-18 01:30] kevinchalet commented on #1778
@TimHannMSFT thank you for reaching out!

One of the biggest complaints I have with IdentityModel regarding logging is the fact that the error messages became useless OOTB since the introduction of the PII protection (that is enabled by default). Messages like `IDX10205: Issuer validation failed. Issuer: 'System.String'. Did not match: validationParameters.ValidIssuer: 'System.String' or validatio

[2021-11-18 15:10] brockallen commented on #1778
Also, IIRC, the assumption is that the Trace level of logging can contain sensitive values -- so just always include the details at that level.

[2021-11-18 17:14] Tratcher commented on #1778
I agree that the PII model is very confusing for users, `IDX10205: Issuer validation failed. Issuer: 'System.String'. Did not match: validationParameters.ValidIssuer: 'System.String' or validationParameters.ValidIssuers: 'System.String'` looks like a bug, not a feature. Even something like `IDX10205: Issuer validation failed. Issuer: '[PII redacted]'. Did not match: validationParameters.ValidIssue

[2021-11-18 17:17] Tratcher commented on #1778
Is there any integration available with Microsoft.Extensions.Logging? That would be helpful to ASP.NET Core consumers, and others.

[2021-11-18 19:13] brentschmaltz commented on #1778
@Tratcher we currently use System.Diagnostics.Tracing.EventSource, does  Microsoft.Extensions.Logging play well with that OR would we need to re-tool?

[2021-11-18 19:18] brentschmaltz commented on #1778
@brockallen yes one has to assume sensitive info in log messages.
Are you suggesting that different levels should expose more or less details?

[2021-11-18 20:08] Tratcher commented on #1778
@shirhatti?

[2021-11-19 22:29] brentschmaltz commented on #1773
@jsquire closing this as i am not able to see an issue. Is there a sample that shows this happening?

[2021-11-19 22:29] #1773 closed, assigned to nobody

[2021-11-20 00:03] TimHannMSFT commented on #1778
@Tratcher / @kevinchalet , was #1725 helpful to that end. Agreed we still have improvements to be made around this but hopefully that was a step forward on this journey, there's a message which points folks towards https://aka.ms/IdentityModel/PII as well as no longer stripping the arguments that really aren't PII.

[2021-11-20 00:51] brockallen commented on #1778
ASP.NET Core documents that trace level can contain sensitive info, so don't enable it in prod.

[2021-11-20 15:16] jsquire commented on #1773
Hi @brentschmaltz.   Please be aware that my role was only to perform triage for the Azure SDK repository;  @ihorwill is the author of the original issue and is the person that you'd want to mention for any replies or inquiries.

[2021-11-22 08:55] RojaEnnam opened #1781 "AadIssuerValidator throws System.NullReference exception"
AadIssuerValidator throws System.NullReference exception when configuration is not set [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b24470757799a9d1d75f5f16314857f6bdc444d8/src/Microsoft.IdentityModel.Validators/AadIssuerValidator/AadIssuerValidator.cs#L153)

[2021-11-22 13:32] stukselbax commented on #92
Today is 22.11.2021, problem still exist - System.IdentityModel.Tokens.Jwt, Version=6.14.1.0.

Please, introduce major release with Y2K fix.

One day the users with old version of this package will get broken application. That's sad.

[2021-11-22 19:26] #1714 closed, assigned to ciaozhang

[2021-11-22 20:04] Tratcher commented on #1778
It's a start. I think some visual changes like those suggested [above](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1778#issuecomment-973075254) would help make this more understandable.

https://aka.ms/IdentityModel/PII should also give an example of an error message with PII on vs off so people understand what to expect.

[2021-11-22 22:12] dannybtsai opened #1782 "Simplify the LRU Cache"
This task is to simplify the EventBaseLRUCache a bit and improve the performance by adding a new flag that skips the LRU maintenance of the _double LinkedList as not everyone needs it (especially if the cache is never full and removeExpiredValues is false).

[2021-11-24 17:49] brentschmaltz commented on #468
@bugproof it's not a small change and we are close to starting this as it fit well with this PR, which reaches out for metadata in the call graph.

Consider changes related to this PR
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1779/files

[2021-11-24 22:50] ciaozhang commented on #1708
As discussed, the logic won't try get all key if we have the matched key.

[2021-11-24 22:50] #1708 closed, assigned to ciaozhang

[2021-11-30 17:01] brentschmaltz commented on #1742
We will cover this under: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1782

[2021-11-30 17:01] #1742 closed, assigned to nobody

[2021-12-01 18:35] a7md0 commented on #1313
Facing the same issue here, there's inconsistency when returning list of items (i.e., Roles):

- Having no roles at all will not include an empty list
- Having one role will include the role as string
- Having two or more roles will include list of string

Why can't we just specify the type to be an array?

[2021-12-01 21:24] brentschmaltz commented on #1781
This is fixed in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1779

[2021-12-01 21:24] #1781 closed, assigned to nobody

[2021-12-03 23:41] projectje opened #1792 "ValidateLifetimeAndIssuerAfterSignatureNotValidatedJwt / v6.10.15 versus v6.10.10"
Net6 / aspnetcore api

- v6.10.15 of microsoft.identitymodel.tokens appeared in update nuget packages. Clicked Update.
- error message: method not found: ValidateLifetimeAndIssuerAfterSignatureNotValidatedJwt
- reverting back to v6.10.10
- all Ok

![image](https://user-images.githubusercontent.com/6946109/144686375-607a785b-8098-46ed-9a96-9bf7095c1593.png)

[2021-12-05 10:42] Doomer3D commented on #1792
Сonfirm, has a similar problem. Solution: revert to previous version (6.14.1)

[2021-12-05 10:51] Doomer3D commented on #1792
You changed signature of ValidateLifetimeAndIssuerAfterSignatureNotValidatedJwt in [this commit](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/92d3f24cdcb0d148d1a8c236bc073157e776f4d5#diff-c9bdb23ed1cfd80be6ecf8571df8c2772aee5dafe52b66aa677a02b4f7b44bbf) by adding `BaseConfiguration configuration`

[2021-12-05 19:02] SebastianStehle commented on #1792
Thank you @Doomer3D . Your fix works for me as well.

[2021-12-06 19:51] mafurman commented on #1792
ValidateLifetimeAndIssuerAfterSignatureNotValidatedJwt is an internal method, so if you're using the same version of the library across all packages this shouldn't be an issue. Can you confirm that all Microsoft.IdentityModel.* packages were updated to the same version?

[2021-12-06 23:59] projectje commented on #1792
I think that is the point:

Microsoft.AspNetCore.Authentication.JwtBearer is on NuGet at 6.0.0 (using 6.10.0 ... packages > Microsoft.IdentityModel.Protocols.OpenIdConnect 6.10.0 >> System.IdentityModel.tokens.Jwt 6.10.0 >> Microsoft.IdentityModel.Tokens 6.10.0) : https://www.nuget.org/packages/Microsoft.AspNetCore.Authentication.JwtBearer/

and https://www.nuget.org/packages/Microsoft.IdentityMod

[2021-12-07 00:05] Doomer3D commented on #1792
I use similar nugets:
1. Microsoft.AspNetCore.Authentication.JwtBearer (6.0.0 latest)
2. Microsoft.IdentityModel.Tokens (worked with 6.14.1, failed with 6.15.0)

![image](https://user-images.githubusercontent.com/28706508/144942483-e1e67893-f3c1-4be9-98de-11816eac6be5.png)

[2021-12-07 11:07] rymeskar commented on #1778
For the obfuscation, I am linking [an issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2871) I filed on MSAL. There are opportunities to provide even more obfuscation levers into the customers hands.

Some of the 1P libraries for example do the job of categorizing the data and then the lib user might decide that tenant metadata will never be obfuscated, only dat

[2021-12-07 22:41] mafurman commented on #1792
Could you provide a list of all the Microsoft.IdentityModel.* versions that your project is using as well as all the NuGet packages you are referencing in your project file?

[2021-12-08 03:51] Doomer3D commented on #1792
Solution contains 3 projects.

**Core** project references Microsoft.IdentityModel.Tokens? **Web** project references Microsoft.AspNetCore.Authentication.JwtBearer

All nugets in solution here:
![image](https://user-images.githubusercontent.com/28706508/145145074-a5a0b043-90fd-4a1e-b115-c92fe9e19528.png)

[2021-12-08 16:47] eelke-at-bolt commented on #1792
I am having the same problem. Only Microsoft.IdentityModel.Tokens is referenced from my project and is on version 6.15.0

I have taken a look in the bin folder after build and the other Microsoft.IdentityModel.* packages are
- Microsoft.IdentityModel.JsonWebTokens 6.10.0
- Microsoft.IdentityModel.Logging 6.15.0
- Microsoft.IdentityModel.Protocols 6.10.0
- Microsoft.IdentityModel.Protocols.OpenIdCo

[2021-12-08 21:04] mafurman commented on #1792
@eelke-at-bolt I'm glad to hear that making sure all references were on 6.15.0 addressed your problem!
We need to make some changes our end to ensure that using the exact same library version across all packages is required.

@Doomer3D Can you check your bin folder and see if all Microsoft.IdentityModel.* packages are the same? You need to ensure that all packages are on 6.15.0 to avoid these sort

[2021-12-08 23:12] mafurman opened #1794 "Our NuGet package dependencies need to be updated so that Microsoft.IdentityModel.* packages rely on an explicit version"
For a given version of a Microsoft.IdentityModel.* package, we currently require other packages from the library to be **greater than or equal to** that version. This can result in a MissingMethodException when there is a version mismatch (due to internal methods being modified), and it isn't necessarily clear to consumers why this is occurring. We should modify this so that **a specific version**

[2021-12-09 05:22] eelke-at-bolt commented on #1792
@mafurman Some more details to help you understand what went wrong.

My service consists itself of multiple projects, lets say App and Core to keep it short
App had a reference to Microsoft.AspNetCore.Authentication.JwtBearer 6.0.0 which is the one depending on Microsoft.IdentityModel.JsonWebTokens (version resolved by nuget). My Core project has a reference to Microsoft.IdentityModel.Tokens 6.15.

[2021-12-09 11:40] afscrome opened #1795 "AadIssuerValidator checking `Tid` claim twice for `JsonWebtoken`"
The AadIssuerValidator seems to check the `Tid` claim twice when validating `JsonWebToken` - the second of these seems redundant.

Based on the `JwtSecurityToken` validation, should the second check instead be checking the `TenantId` claim.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/a782ff50db70fc53119ea6d7a0067222bebca409/src/Microsoft.IdentityModel.

[2021-12-09 12:46] jaelys opened #1796 "[Bug] System.IdentityModel.Tokens.Jwt 6.15.0 publishing always 6.14.1"
In .NET 6
Nuget
System.IdentityModel.Tokens.Jwt package 6.15.0
rely
Microsoft.IdentityModel.JsonWebTokens.dll 6.15.0
Microsoft.IdentityModel.Tokens 6.15.0

Debug and Release compiled version of dll is normally 6.15.0
When publishing , the operation will be abnormal
could not load file or assembly system.identitymodel.tokens.jwt

The dll version is always 6.14.1

[2021-12-09 13:48] Doomer3D commented on #1792
Project references:

Microsoft.AspNetCore.Authentication.JwtBearer: 6.0.0 (latest)
Microsoft.IdentityModel.Tokens: 6.15.0 (latest)

Libraries in bin:

Microsoft.AspNetCore.Authentication.JwtBearer.dll: 6.0
Microsoft.IdentityModel.JsonWebTokens.dll: 6.10
Microsoft.IdentityModel.Logging.dll: 6.15
Microsoft.IdentityModel.Protocols.dll: 6.10
Microsoft.IdentityModel.Protocols.OpenIdConnect.dll: 6.10
Mi

[2021-12-09 14:03] meriturva commented on #1792
Same here with version Microsoft.IdentityModel.Tokens 6.15.0 - revert to the previous version (6.14.1) works for now.

Here are my deps on a .net 6 project (nothing special):
[code]
and error:
[code]

[2021-12-09 15:58] brockallen commented on #1291
Is this still being worked on? We have common customers that need this feature, @brentschmaltz

[2021-12-10 01:25] mafurman commented on #1792
Can you use a binding redirect to address this? https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/bindingredirect-element

[2021-12-10 09:47] leastprivilege commented on #1291
According to this issue, seems this is for the 6.9.1 milestone - oh wait...

[2021-12-10 15:59] jfranki commented on #1686
This is broken again with version `6.15.0`. I spent the whole day figuring out why clients could not connect to a SignalR hub with JWT Bearer token authentication after updating to said version, while working on `6.14.1`.

In my case, I always had this error in the call to `<hub>/negotiate`, where the previously issued token (through `<hub>/authenticate`) is validated:

[code]

[2021-12-14 10:11] ericbl commented on #1792
I got the same issue when I updated from 6.14.1 to 6.15.0
doomer3d  mentionned the commit, part of the MR #1779

the InternalValidators class has been updated but somehow something is wrong in the references.

Wonder if is could be related to #1796

[2021-12-14 10:24] ericbl commented on #1792
Same for me, the issue is caused by Microsoft.AspNetCore.Authentication.JwtBearer: 6.0.0 which refers to Microsoft.IdentityModel.Tokens: 6.**10**.0
You can see it when you open the packages tree in Visual Studio 2022.

Using Microsoft.AspNetCore.Authentication.JwtBearer 6.0 allows to switch from
`new JwtSecurityTokenHandler().ValidateToken(token,  tokenValidationParameters, out SecurityToken secur

[2021-12-23 17:58] vcsjones commented on #92
A developer reported an issue to dotnet/runtime that was ultimately this issue. https://github.com/dotnet/runtime/issues/63001#issuecomment-999593705

[2022-01-04 07:05] ricavir11 commented on #468
Hi @brentschmaltz, do you have an ETA for this ?
Our Azure App Service application is struggling because of this :/

[2022-01-04 07:36] gergoszekeresnuance commented on #1542
I  had a really similar issue and it was impossible to find any documentation regarding how the JWT signature is being verified. With defined kid the standard supports 3 ways: x5c, jwk, x5u.
As far as I managed to test, the validation supports x5u like way to call "jwt's issuer + .well-known/jwks.json" URL to get the public key. However it is not 100% clear if x5c, jwk and x5u are not supported an

[2022-01-05 07:29] bugproof commented on #468
@ricavir11 probably in 5 years from now.
Don't see a reason why they couldn't just breaking change it. That wouldn't hurt anyone. Just add an announcement that it's a breaking change like they usually do with many other things.

I completely stopped using anything "Identity" that's coming with ASP.NET Core (along with IdentityUser, IdentityRole and default auth middlewares). I've learned it's a bl

[2022-01-05 07:37] ricavir11 commented on #468
@bugproof, I hope this will not be so long 🤦‍♂️ !
I'm using it along with aspnetzero framework and it is working well for low traffic apps.
As soon as you get more hits to the server, things become bad ! I'm having huge waiting timeouts just to validate tokens .... like 20s or even more. Adding more CPU or RAM does not change the problem.
I really don't understand why this issue has not been put i

[2022-01-10 20:45] razmy-hathy opened #1799 "[Bug]"
I’m observing some strange behavior and not sure this is because there are some configuration mistakes by me. Below are the scenarios.

After logged in to the application via IdP and closed the browser. When I opened the browser try to login again, I cannot login to application even though browser is redirecting from IdP after a successful log with previous session acquired. I intercept the method

[2022-01-12 03:26] ghost commented on #1427
.Net 6

在 Program.cs 中 builder 声明之后添加 或者在配置 JWT 之后添加 均无效

[2022-01-13 16:45] brentschmaltz commented on #468
@bugproof there are a couple of items ahead of this. I believe we will get this in 2022

[2022-01-13 17:23] kevinchalet commented on #1060
@brentschmaltz you mentioned in https://github.com/dotnet/aspnetcore/issues/36175#issuecomment-1012326509 you were making good progress on that. Could you please tell us more about your plans? E.g what does that mean for the older TFMs that can't reference STJ? Will they keep using the internal JSON.NET copy or will they be removed?

[2022-01-15 01:18] jmprieur opened #1800 "[Feature Request] Help developers get claims whether claims mapping has been used or not"
**Is your feature request related to a problem? Please describe.**
The AAD v1.0 and v2.0 claims are different. Moreover the claims mapping mechanism offered by Microsoft.IdentityModel makes the v2.0 claims appear as v1.0 claims, sometimes.

In order for our customers to migrate safely, we need a way to get claims independently of the mapping

**Describe the solution you'd like**
Have extension met

[2022-01-18 16:56] #1782 closed, assigned to nobody

[2022-01-19 03:51] brentschmaltz commented on #1800
@jmprieur this is clearly an AAD issue, we will need to make sure this is layered as such.

Do you know of a specification that defines which claims are appropriate for authorization?
AFAIK, the resource provider is responsible for making such decisions.

[2022-01-19 04:33] jmprieur commented on #1800
Adding @hpsin for the definition of the claims which are appropriate for authorization

[2022-01-19 17:18] brentschmaltz commented on #1800
@jmprieur the authorization details feel like they belong in the InboundPolicy that we will be delivering this year.

[2022-01-20 10:31] risogolo opened #1805 "[Bug] ValidateToken method incorrectly splitting token"
System.IdentityModel.Tokens.Jwt package 6.15.1

Token is incorrectly splitted during validation in ValidateToken method, when splitting by dot sign (checking amount of token parts)
my "iss" contains dots in https://sts.windows.net/xxxxxxxxxxxxxxxxxxxxxxxx/ therefore it is incorrectly splitted and then contains 6 token parts instead of 5

[2022-01-20 17:13] brentschmaltz commented on #1805
@risogolo can you provide us with a sample of the token?
thanks.

[2022-01-20 17:24] risogolo commented on #1805
{"typ":"JWT","alg":"RS256","x5t":"Mr5-AUibfBii7Nd1jBebaxboXW0","kid":"Mr5-AUibfBii7Nd1jBebaxboXW0"}.{"aud":"api://xxx","iss":"https://sts.windows.net/xxx/","iat":1642698948,"nbf":1642698948,"exp":1642704173,"acr":"1","aio":"AWQAm/8TAAAAy+IWjY/GgfcKW26lSZ4GeHDYeYjSFqehZGxI7uKpPws8OQeZEDH8NqJQLjAiWWBA4rppmFC1mz+CbsJIeM5NgjfBEJG02EwLUeN3UA6VkaObwlBm2maBe9amGDxIbbYt","amr":["pwd"],"appid":"xxx","appid

[2022-01-20 22:36] hpsin commented on #1800
https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens#claims-based-authorization

[2022-01-24 15:46] lechu445 commented on #1060
@kevinchalet https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1768#issuecomment-965666920 of @brentschmaltz says that you can track progress on Json.NET in branch https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/brentsch/SystemTextJson

[2022-01-24 21:54] Ogglas commented on #1349
Followed a guide for adding Roles To IdentityServer4 but `[Authorize(Role = "Administrator")]` did not work until I added `JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();` before `services.AddAuthentication` for .NET 6. I hope this will be fixed since it was quite time consuming to find given that the JWT token had a role when checking it manually.

https://ffimnsr.medium.com/adding-id

[2022-01-29 02:42] jmarquesh commented on #415
And in 2022

[2022-02-08 16:52] benmccallum commented on #468
Got an email from Auth0 today that some of our signing keys are old and it's best practice that they are rotated out. (You rotate in a "next" to become "current" and then will effectively have two keys that are active until you can fully revoke the old one once you're happy all the JWTs signed with it are expired).

So we need a way our apps can fall through at runtime failure (with current known

[2022-02-08 18:08] amit-ch commented on #415
This can help https://mderriey.com/2019/06/23/where-are-my-jwt-claims/

[2022-02-14 23:44] arianmotamedi commented on #1601
I can't reopen the issue, but this is still happening in 6.15.1 😞

[2022-02-17 07:03] he1994 commented on #1726
Notice that this task has been added as a 'To do' on the project board, is there a rough estimation when the support for ECDH-ES Key Agreement will be ready to be released?

[2022-02-18 23:12] iansul commented on #1800
Just got bitten by this again. Would really appreciate a solution

[2022-02-21 15:26] iprins opened #1812 "[Documentation] Missing: end_session_endpoint using a POST instead of GET"
### Documentation related to component
Documentation: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc

- [ ] typo
- [x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

Paragraph 2 states the following that open id connect end session flow needs to support both GET and POST.
https://openid.ne

[2022-02-24 02:33] dommorin opened #1815 "[Bug]"
**Which version of Microsoft.IdentityModel are you using?**
6.16.0

**Where is the issue?**
 * [ X ] M.IM.Tokens

**Is this a new or an existing app?**
Existing App : bing chat aka Sydney from Turing team

**Repro**

[code]

**Expected behavior**
Token is authorized successfully on demand, without having to worry about what instance of RSACryptoServiceProvider is used.

**Actual behavior**
Upon se

[2022-03-02 12:44] rmja opened #1819 "[Bug] ConfigurationManager should not cache "no configuration""
**Which version of Microsoft.IdentityModel are you using?**
dev

**Where is the issue?**
 * [ ] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [x] M.IM.Protocols
 * [ ] M.IM.Protocols.OpenIdConnect
 * [ ] M.IM.Protocols.SignedHttpRequest
 * [ ] M.IM.Protocols.WsFederation
 * [ ] M.IM.TestExtensions
 * [ ] M.IM.Tokens
 * [ ] M.IM.Toke

[2022-03-07 10:44] ggeurts commented on #92
This issue has cost me days of work trouble shooting. Please make the Int32 value obsolete and add an 64-bit version of the property that gets used by the validators.

[2022-03-07 18:01] brentschmaltz commented on #1819
@rmja we will take case of this.

[2022-03-08 17:21] jsquire opened #1821 "UTC and local time"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#27417](https://github.com/Azure/azure-sdk-for-net/issues/27417).

### Please be aware that @iBrotNano is the author of the original issue and include them for any questions or replies.

## Details

I am working with UTC time as default. The class seems to need `DateTime`s in local system time. It might be h

[2022-03-08 18:27] brentschmaltz commented on #1821
@iBrotNano we record the values as: DateTime.ToUniversalTime(), so if you are using specifying UTC, you shouldn't have an issue.

see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/adc8d59d4aaae502f77fd8f758e4f020045f69eb/src/System.IdentityModel.Tokens.Jwt/JwtPayload.cs#L131

Can you provide us with an example that was causing you an issue?

[2022-03-08 22:07] brentschmaltz commented on #1815
@dommorin you have hit an issue where we have cached the SignatureProvider and you have disposed of the RSA object that the SignatureProvider is using.

Of course all of this is happening underneath your code and is hard to understand why.

I rewrote your code to use RSAParameters instead of rsa and it is all good.
[code]

[2022-03-09 09:26] iBrotNano commented on #1821
Of course.

I created an JwtSecurityToken with a UTC as `expires`.

[code]

The problem occurred during authorization in ASP.NET (5.0) via `[Authorize]` attribute.
I am living in Germany. The time zone is UTC+1.

This is what gets encoded into the JWT:
"exp":1646811645

This ist what gets encoded into the JWT when i configure `DateTimeOffset.UtcNow.ToLocalTime().DateTime.AddMinutes(15)`
"exp":1646

[2022-03-09 17:13] brentschmaltz commented on #1821
@iBrotNano I am curious why are you specifying .ToLocalTime() above?

[2022-03-09 17:16] brentschmaltz commented on #1812
@jmprieur can you help out here?

[2022-03-09 17:17] brentschmaltz commented on #1060
@kevinchalet we are shooting for an April release.

[2022-03-09 17:19] brentschmaltz commented on #92
@ggeurts ouch, that is painful.
Yes we will add a new API.

[2022-03-09 17:35] brentschmaltz commented on #1800
@iansul can you describe what you are looking for?

[2022-03-09 17:57] brentschmaltz commented on #1542
@gergoszekeresnuance x5c, x5u, where the key is inside the JWT, is not supported directly.
Our validation logic expects that TokenValidationParameters either has the signing keys OR a delegate is used.

Microsoft's WCF runtime would validate SAML token signatures that contained x5c, but we made a design decision to require all accepted keys to be available.

[2022-03-09 17:59] brentschmaltz commented on #1291
We are working on ECDH-ES and will deliver that in April.

[2022-03-09 20:26] iBrotNano commented on #1821
@brentschmaltz Just to show that using the local time works as expected when the JWT is validated by ASP.NET. `DateTimeOffset.UtcNow.DateTime` does not.

`DateTimeOffset.UtcNow.DateTime.Kind` is `Undefined` so that `ToUniversalTime()` converts the times not correctly. `ToLocalTime()` seems to fix this.

[2022-03-10 16:07] brentschmaltz commented on #1601
@arianmotamedi if you write:
[code]
instead of
[code]
You will see better results.

[2022-03-10 16:25] brentschmaltz commented on #415
@amit-ch thanks for posting that link.
@mattjbrent we understand the decision we made on claim mapping didn't give us the results we wanted. Switching the default will potentially break a number of existing customers, so we don't want to do that in the core library. However, a breaking change at the asp.net layer, with proper documentation would be acceptable.

[2022-03-10 17:39] brentschmaltz commented on #1821
@iBrotNano i invested in writing some code and agree with your observations.
The problem seems to be that DateTimeOffset.UtcNow.DateTime returns a DateTime instance where .Kind == DateTimeKind.Unspecified.
Which seems odd.

It looks other workarounds are:
1. DateTimeOffset.Now.DateTime.AddMinutes(15)
2. DateTime.UtcNow.AddMinutes(15)
3. DateTime.Now.AddMinutes(15)

All three result in the expirati

[2022-03-10 17:39] #1821 closed, assigned to nobody

[2022-03-10 17:58] brentschmaltz commented on #468
@benmccallum @ricavir11 we added the first part of our Async effort in this PR: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1810

@benmccallum This PR may interest you: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1797

Enabling the feature requires [TokenValidationParameters.BaseConfigurationManager](https:

[2022-03-12 16:52] Kaizen-Seiko commented on #1792
I got the same problem when I've been using Microsoft.IdentityModel.Token 6.16.0
But it works on v6.14.1

[2022-03-12 19:38] rmandvikar commented on #468
@brentschmaltz That's a good start, and thanks for the update. What's the plan/eta to make `JwtSecurityTokenHandler.ValidateTokenAsync()` method fully async? Currently, it's just a wrapper around the sync `ValidateToken()` method.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/adc8d59d4aaae502f77fd8f758e4f020045f69eb/src/System.IdentityModel.Tokens.Jwt/J

[2022-03-14 20:49] brentschmaltz commented on #468
@rmandvikar i know it has been on the list for a while and we finally inched towards this gap.

We have a couple of items before we can think about getting this into a release.
This is mainly about having Asp.Net 7.0 using 6.x as the default and use JsonWebTokenHandler / JsonWebToken

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1726
https://github.co

[2022-03-22 16:30] WeihanLi opened #1827 "[Documentation] When should we consider for `ValidateTokenAsync`"
### Documentation related to component

Currently, we had `ValidateToken` and `ValidateTokenAsync`, for example, when we're using `JwtSecurityTokenHandler` should we prefer using the `ValidateTokenAsync` introduced in 6.16.0.

From what I can see, the `ValidateTokenAsync` could not replace the `ValidateToken` completely,
the `ValidateToken` method is returning a `ClaimsPrincipal`, while the `Valid

[2022-03-22 16:38] WeihanLi opened #1828 "[Documentation] `JsonWebTokenHandler` vs `JwtSecurityTokenHandler`"
### Documentation related to component

What's the difference between `JsonWebTokenHandler` vs `JwtSecurityTokenHandler`

From the code comments:

`JsonWebTokenHandler`:

[code]

`JwtSecurityTokenHandler`:

[code]

Which one is recommended when I want to create a jwt token and validate token. Is there some guide for choosing a jwt token handler?

### Please check all that apply

- [ ] typo
- [x] d

[2022-03-25 11:43] drmathias opened #1830 "[Feature Request] Changing the kid header for a JWT"
**Is your feature request related to a problem? Please describe.**
When using Azure Key Vault to sign a token, the `kid` value in the header is set with the key identifier for the Azure Key Vault key. Any tokens that are signed therefore expose the location of the keys/secrets, and for the `kid` header value to be unique, it forces us to point to a specific version of the key rather than relying o

[2022-03-31 16:52] brentschmaltz commented on #1828
@WeihanLi when a PR is issued for this branch : [System.Text.Json](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/brentsch/SystemTextJson) i will include a document to call out the differences.

[2022-03-31 16:56] brentschmaltz commented on #1830
@drmathias you bring up a good point, if you could specify easily the 'kid' to use, would that work?

[2022-03-31 17:00] brentschmaltz commented on #1827
@WeihanLi token validation returning a ClaimsPrincipal was designed when early tokens (SAML1) could represent two entities.
That idea was replaced believing a token represents a single entity, hence a ClaimsIdentity.
SAML2 and JWT have a single subject.

One of the issues with ValidateToken is the out parameter, which is not available for async calls.

[2022-03-31 17:05] brentschmaltz commented on #1815
@dommorin while the workaround may work, i will leave this open as our runtime could work better if we didn't cache a signature provider in these cases.
That is where the user is providing an object that could be disposed of.
However, making this the default behavior would have a performance penalty for users that do not dispose.

[2022-03-31 19:00] drmathias commented on #1830
Yes, that solution seems alright

[2022-04-03 14:42] AndersAbel commented on #1827
SAML2 also allows multiple assertions in the same response, which IMHO should result in one principal with multiple identities. As this library only handles SAML2 assertions and not SAML2 responses, anyone implementing support for SAML2 responses (such as the Sustainsys libraries) will have to create a principal with multiple identities.

[2022-04-04 17:43] brentschmaltz commented on #1827
@AndersAbel I agree with you that at the application layer, ClaimsPrincipal is the right object.
One issue that comes to mind is IsInRole(...), if two identities are involved, who does IsInRole apply to?

[2022-04-04 20:01] AndersAbel commented on #1827
@brentschmaltz Multiple assertions in the same SAML2 response is a rare thing, I've never heard of it being used, although it is allowed in the spec. For the Web SSO profile, there is a requirement that all identities refer to the same subject, so in that case it would actually work that `IsInRole` checks all identities. But I guess that anyone using multiple identities would probably not use the

[2022-04-04 20:23] brentschmaltz commented on #1827
@AndersAbel with this new API returning a TokenValidationResult, IdentityModel returns a ClaimsIdentity upper layers (such as asp.net) will have to create a ClaimsPrincipal that corresponds to the 'User'.

Does that seem right?

[2022-04-04 20:52] AndersAbel commented on #1827
@brentschmaltz Yes, that sounds good. For my SAML2P package I can then bundle multiple generated identities from IdentityModel into one ClaimsPrincipal.

[2022-04-05 03:53] aussieklutz commented on #1743
Just a further note on this, HMAC signing keys should right pad out to the block size with /0 bytes, as per [RFC 2104](https://www.ietf.org/rfc/rfc2104.txt). The following issue, raised against the JwtBearerHandler demonstrates this point: https://github.com/dotnet/aspnetcore/issues/41024

[2022-04-05 08:33] doggy8088 opened #1831 "[Bug] IDX10634: Unable to create the SignatureProvider. Algorithm: 'HS256', SecurityKey: 'Microsoft.IdentityModel.Tokens.ECDsaSecurityKey"
**Which version of Microsoft.IdentityModel are you using?**
Note that to get help, you need to run the latest version.
5.5.0

![image](https://user-images.githubusercontent.com/88981/161713487-b566d1e3-fe8d-4158-81c3-90c22650219e.png)

**Where is the issue?**
 * [x] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 *

[2022-04-06 15:54] brentschmaltz commented on #1831
@doggy8088 HS256 is a symmetric key algorithm see [HS256](https://datatracker.ietf.org/doc/html/rfc7518#section-3.1) and requires a symmetric key.

The alg value should be ES256, you should contact the creator of the JWS.

[2022-04-06 15:54] #1831 closed, assigned to nobody

[2022-04-07 04:11] akshaya-a opened #1832 "[Bug] Token Expiry log message is dumping the type (system.datetime) instead of the actual ToString value"
**Which version of Microsoft.IdentityModel are you using?**
Note that to get help, you need to run the latest version.

PackageReference Update="Microsoft.IdentityModel.Tokens" Version="6.11.1"

**Where is the issue?**
 * [ ] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 * [ ] M.IM.Protocols.OpenIdConnect
 * [ ]

[2022-04-07 15:23] brentschmaltz commented on #1743
@cesarpayan can you please look into this.

[2022-04-07 15:26] doggy8088 commented on #1831
@brentschmaltz
I finally figure out how to get right id_token from the Token Endpoint. In LINE Login, I have to add an `id_token_key_type=JWK` in the payload when an 'AuthorizationCode' is going to redeemed for tokens at the token endpoint. Is there any way to add additional field in the payload?

[2022-04-07 15:35] doggy8088 commented on #1831
I found it. 😄

[code]

[2022-04-12 03:06] andylai commented on #92
Is this issue has been solved? Or still the same?
I have faced this issue recently.
Any solution?
Thanks.

[2022-04-13 15:38] brentschmaltz commented on #92
@andylai we haven't got to it yet.

[2022-04-14 17:29] nickludwig commented on #1812
Hey @iprins, sorry for the late follow up. The way I see it, your question can be broken into two action items.
1. We do support HTTP POST for the `end_session_endpoint`, so we'll need to update the public [OIDC doc ](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc) to mention this. I can help with this, so I'll go ahead and submit a PR for that change.
2. It soun

[2022-04-14 22:31] brentschmaltz commented on #1812
@nickludwig i assigned this to you for now, please reassign as needed.

[2022-04-15 18:49] Exadra37 commented on #92
On  same boat here, spent some days trying to figure out what was wrong until I landed here.

[2022-04-15 22:59] brentschmaltz opened #1836 "[Bug] AadIssuerValidator should consider HttpClient when checking cache."
**Which version of Microsoft.IdentityModel are you using?**
dev branch

 * [x ] M.IM.Validators

This code here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/8be6a0a2323a441a5c69fc42c449b2b0bc79ddef/src/Microsoft.IdentityModel.Validators/AadIssuerValidator/AadIssuerValidator.cs#L160

[code]
Does not consider the HttpClient, since there is no constructor

[2022-04-19 13:31] Shashank--Shekhar commented on #877
@EkwofiePrax were you able to find a solution for your problem?

[2022-04-19 15:03] brentschmaltz commented on #877
@milenasrocha @EkwofiePrax @milenasrocha @bhaktatejas922 reviewing token I notice two things.
1. there is a 'nonce' claim in the header
2. the token has "00000003-0000-0000-c000-000000000000" as the audience.

this combination indicates this token has a special format internal to Microsoft Graph and a transformation needs to take place before the signature will validate.

specifically the 'nonce'

[2022-04-21 03:27] karataliu opened #1837 "[Documentation] Is JsonWebTokenHandler methods thread safe?"
### Documentation related to component
[JsonWebTokenHandler](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs)

### Please check all that apply

- [ ] typo
- [ x] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### D

[2022-04-21 15:52] brentschmaltz commented on #1837
@karataliu ValidatetokenAsync is thread safe.

[2022-04-21 15:52] #1837 closed, assigned to nobody

[2022-04-21 23:56] #1295 closed

[2022-04-21 23:56] #1592 closed, assigned to brentschmaltz

[2022-04-25 07:05] gustavdw opened #1840 "[Bug] ClaimsIdentity Actor not serialized into JWTs"
**Which version of Microsoft.IdentityModel are you using?**
Note that to get help, you need to run the latest version.
Im using OpenIddict 3.1.1

**Where is the issue?**
 * [x ] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 * [x ] M.IM.Protocols.OpenIdConnect
 * [ ] M.IM.Protocols.SignedHttpRequest
 * [ ] M.IM.Pr

[2022-04-25 15:10] brentschmaltz commented on #1840
@gustavdw as @kevinchalet pointed out, IdentityModel is not adding ClaimsIdentity.Actor to the JWT.
This is a bug.

[2022-04-25 15:47] kevinchalet commented on #1840
Great, thanks for taking a look, @brentschmaltz.

Note: it's possible this is not the only place that needs an update for `ClaimsIdentity.Actor` to work correctly: the reading part seems to use `ClaimTypes.Actor` and not the `actort` claim the previous IM versions used to use, so I think it won't work correctly when claims mapping is disabled:

https://github.com/AzureAD/azure-activedirectory-iden

[2022-04-25 20:02] andrewaggb commented on #1792
Encountered this today as well.  took a while to figure it out what broke and I ended up reverting to 6.14.1
In my case I'm referencing the package to the use the SymmetricSecurityKey class when configuring the TokenValidationParameters IssuerSigningKey

[2022-04-26 10:39] gustavdw commented on #1840
Yeah for context, RFC8693 was what I was trying to implement

[2022-04-29 17:49] brentschmaltz commented on #1840
@kevinchalet @gustavdw i try and make sure you are tagged on the PR.
Thanks for the input.

[2022-05-04 00:11] brentschmaltz commented on #1840
@gustavdw @kevinchalet our traditional way of handling this type of issue has been delegates and instance variables on TokenValidationParameters and SecurityTokenDescriptor.

For example, since when we started this work, there was no standard 'role claim': [TokenValidationParameters.RoleClaimType](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/9b4bc638a17

[2022-05-04 14:25] jaslam94 commented on #92
The problem still exists.

[2022-05-04 21:07] kevinchalet commented on #1840
For SecurityTokenDescriptor, perhaps a single property {ActorClaimType}, then actually write the value :-)

Sounds like a good plan! 👍🏻

Shared/settable statics are always problematic when you have multiple components that use them in the same app maybe it would be better to wait for actual demand to support this scenario?

[2022-05-06 01:07] jennyf19 opened #1845 "[Bug - Preview version] IIdentityLogger does not log information created before serviceProvider is available"
Only LogLevel.Trace works to log the first line (header) of the Wilson logs. This is because, for all the other log levels, the logger instance is not created yet. The logger instance in ASP.NET Core version requires an IServiceProvider, which is created in Id. Web [here](https://github.com/AzureAD/microsoft-identity-web/blob/jennyf/logger/src/Microsoft.Identity.Web/WebApiExtensions/MicrosoftIdent

[2022-05-06 15:26] jennyf19 commented on #1845
Is it a concern that the static constructor of the ConfigurationManager uses the static `LogHelper.LogVerbose` which uses `LogHelper.Logger`, are we sure that it will be initialized before it's used? Are static initializers guaranteed to be run in the correct order?

[2022-05-06 18:33] jennyf19 commented on #1845
Todo (just ideas):
- where else is a static constructor doing logging - are those logs important?
- impact in SAL?
- impact in MISE?
- option of subscribing to an event source (in Id Web)
- are static initializers guaranteed to be run in the correct order

[2022-05-06 21:23] sruke opened #1846 "[Feature Request] Introduce IIdentityLogger for a unified logging story across all Identity Libraries"
Problem
Our libraries have different logging mechanisms. Wilson and SAL use System.Diagnostics.Tracing.EventSource. MISE and [Microsoft.Identity.Web](http://microsoft.identity.web/)  use Microsoft.Extensions.Logging.ILogger.

Solution
Adopt a uniform logging mechanism across [Microsoft.Identity.Web](http://microsoft.identity.web/) , MISE, SAL, Wilson, and MSAL so that by setting log level at a giv

[2022-05-06 21:55] sruke opened #1847 "[Feature Request] Integrate IIdentityLogger with Id.Web for AspNetCore to see Wilson logs"
Scope:
AspNetCore only

Create a class that implements IIdentityLogger to publish Wilson logs to AspNetCore's ILogger. This is so that AspNetCore can onboard and will no longer have to write a EventListener to read Wilson logs.

Proposal is [here](https://microsoft-my.sharepoint-df.com/:w:/p/srangavajhul/ETms1FahTcpPhjmXSGmb89YBfFTQEkL0sEYKgr-78x6AhA?e=JTXW3i)

[2022-05-06 22:07] sruke opened #1848 "[Bug - PreviewVersion] Remove EventLevel dependency in IIdentityLogger for wider adoption in SDKs"

[2022-05-06 22:14] sruke opened #1849 "[Feature Request] Add .netstandard1.3 target to Abstractions assembly for MSAL to consume IIdentityLogger"
MSAL targets .netstandard1.3 but Wilson doesn't. Evaluate adding .netstandard1.3 to Abstractions assembly alone.

[2022-05-06 22:23] sruke commented on #1849
Added .netstandard1.3 to Abstractions assembly and shared it with MSAL for testing.

Findings:
MSAL received an error
Error      NU1605                Detected package downgrade: NETStandard.Library from 2.0.3 to 1.6.1. Reference the package directly from the project to select a different version. Microsoft.Identity.Client -> Microsoft.IdentityModel.Abstractions 6.16.1-preview-30427213653 -> NETSt

[2022-05-06 22:29] sruke commented on #1849
Recommendation from .Net Team is to avoid targeting netstandard1.3 for new assemblies and for MSAL to upgrade to netstandard2.0. MSAL will upgrade to netstandard2.0 and resume their integration with IIdentityLogger which will address the above mismatch in versions and also make integration easier.

[2022-05-06 22:33] #1849 closed, assigned to sruke

[2022-05-08 14:56] sruke opened #1850 "[Feature Request] Improve Log Message Formatting"
ConfigurationManager is printing verbose assembly information which can create a log of noise. JwtSecurityTokenHandler does the same.

It creates a lot of noise, not sure if that’s necessary, but maybe it’s there for historical reasons, and do we need this information or a reduced version of it?

<img width="640" alt="cb586d3a-4aa0-4e28-9a69-5508798bd7a7" src="https://user-images.githubusercontent

[2022-05-08 14:59] #1846 closed, assigned to sruke

[2022-05-08 20:21] brentschmaltz commented on #1840
@kevinchalet thanks for the feedback, will hold off on the statics for now.

[2022-05-08 20:41] brentschmaltz commented on #1845
@jennyf19 a static ctor is run the first time a type is accessed.

[2022-05-08 20:46] sruke commented on #1845
Header information issue and missing logs issue where Logger is enabled later than expected are 2 separate issues.

Log level for header information is set to EventLevel.LogAlways. This level doesn't have an equivalent in ILogger's LogLevel enum and is currently mapped to LogLevel.Trace. That's why these logs are only seen at Trace level.  ILogger requires that each message has a log level defined

[2022-05-08 20:54] sruke commented on #1845
ILogger is resolved via Dependency Injection (DI) using a ServiceProvider. AspNetCore team shared it is not possible to get an ILogger before serviceProvider is available. This means, any messages that are logged before serviceProvider is available will not be logged to AspNetCore's ILogger. Messages we're mainly concerned about are the ones logged in static constructors. Can we move these message

[2022-05-08 21:26] sruke commented on #1845
In Wilson, two static ctors - ConfigurationManager and JwtSecurityTokenHandler log messages. Both log AssemblyQualifiedName.

[2022-05-09 05:24] sruke commented on #1850
Should we display an empty string when correlationId is null?

Microsoft.IdentityModel.S2S.Extensions.AspNetCore.S2SAuthenticationHandler: Debug: **e2236faf-227e-4b6f-afcc-a8cd3b5c1540;S2S10002: Entering** - Microsoft.IdentityModel.S2S.S2SAuthenticationManager.Task<S2SValidationResult> ValidateRequestAsync(string, HttpRequestData, S2SContext) ActivityId: e2236faf-227e-4b6f-afcc-a8cd3b5c1540
Micros

[2022-05-09 18:57] sruke opened #1851 "[Bug - PreviewVersion] Header Information is not always displayed"
Only LogLevel.Trace works to log the first line (header) of the Wilson logs.

Log level for header information is set to EventLevel.LogAlways. This level doesn't have an equivalent in ILogger's LogLevel enum and is currently mapped to LogLevel.Trace in classes that implement IIdentityLogger. That's why these logs are only seen at Trace level. ILogger requires that each message has a log level defi

[2022-05-09 18:58] sruke commented on #1845
Created a separate issue for missing header information -
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1851

[2022-05-09 19:04] sruke opened #1852 "[Feature Request] Prefix errors log messages with assembly version to aid troubleshooting"

[2022-05-09 19:05] sruke commented on #1845
Verbose logs displayed by the static ctors are noisy and can be removed. The header information can be used as a substitute for view the Identity version.

Feature request was created to prefix error message with assembly version info to aid troubleshooting - https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1852

[2022-05-10 04:41] icefire2000 opened #1853 "[Bug] IDX21323: Error Encountered when Azure AD authentication behind Azure Application Gateway that RequireNonce is '[PII of type 'System.Boolean' is hidden"
Use Azure AD for web portal authentication.
.Net Version:  .Net Framework 4.7.2
OpenIdConnectAuthenticationNotifications:  not found in the project DLL library.
The version of  Microsoft.Owin and Microsoft.Identity can be found in the following pic-
![image](https://user-images.githubusercontent.com/44030446/167543557-af776b51-9a45-4ca9-b4bc-aaa20500d7b0.png)

Error:
IDX21323: RequireNonce is '[PI

[2022-05-10 07:22] eddex commented on #1792
Had the same issue today, reverted to 6.14.1 and this fixed the issue. However, this is not a permanent solution.

I haven't tried this yet, might give it a shot.

[2022-05-10 17:09] AraHaan opened #1854 "Add specific .NET 6 targets to projects."
I am using a project that depends on SqlClient (local build which updates the nuget packages as well as targets .NET 6 explicitly), which depends on:
- Microsoft.Identity.Client (6.17.0)
- Microsoft.IdentityModel.JsonWebTokens (6.17.0)
- Microsoft.IdentityModel.OpenIdConnect (6.17.0)

It's all said and good, until I want to use .NET 6 and by surprise it uses the dependencies from the .NET Standard

[2022-05-11 13:25] jsquire opened #1855 "What kind of algorithm this token handler able to support?"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#28665](https://github.com/Azure/azure-sdk-for-net/issues/28665).

### Please be aware that @hieunguyenmsft is the author of the original issue and include them for any questions or replies.

## Details

Hi, just for my learning, can you help to list out the algorithms this token handler can support to decry

[2022-05-16 19:48] mancyc opened #1856 "JsonWebToken.TryGetPayloadValue does not support Aggregated and Distributed Claims"
We have adapted to SAL for token validation, but in an effort to make some further optimizations I am trying to use JsonWebToken.TryGetPayloadValue to fetch value based on claim type. [azure-activedirectory-identitymodel-extensions-for-dotnet/JsonWebToken.cs at b24470757799a9d1d75f5f16314857f6bdc444d8 · AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet · GitHub](https://github.com/

[2022-05-16 21:35] TimHannMSFT opened #1857 "[Bug] Error message for IDX21308 contains a typo"
Error message for [IDX21308](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/039d09b7bc4c1671e1c4093d5a62d307c2f96935/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/LogMessages.cs#L52) contains a typo.

Currently
"IDX21308: 'Azp' claim exists in the 'id_token' but 'ciient_id' is null. Cannot validate the 'azp' claim."

Should be
"IDX21308: 'Azp' claim

[2022-05-16 21:57] jmprieur commented on #1857
@TimHannMSFT do you mean the first occurrence of of azp should not be capitalized?

[2022-05-16 22:11] sruke commented on #1857
Right now, client_id has a typo (ciient_id)

[2022-05-16 22:13] jmprieur commented on #1857
oh I see now :-). Thanks @sruke

[2022-05-17 03:28] jennyf19 commented on #1856
@mancyc which claims do you see, the long names or the short names? What are claim_names?

[2022-05-17 03:57] mancyc commented on #1856
@jennyf19, I see various other claims too(short names) and JsonWebToken.TryGetPayloadValue works for the rest of them except the 2 mentioned in the issue. Here's my test decoded token for your reference
{
  "nbf": 1652482253,
  "exp": 1652569253,
  "iss": "https://127.0.0.1/adfs/11111111-bbbb-3333-dddd-555555555555/",
  "aud": "https://vault.inprocess.net",
  "tid": "11111111-bbbb-3333-dddd-555555

[2022-05-17 18:39] #1845 closed, assigned to sruke

[2022-05-17 18:39] #1848 closed, assigned to sruke

[2022-05-17 18:39] #1850 closed, assigned to sruke

[2022-05-17 18:39] #1851 closed, assigned to sruke

[2022-05-17 18:39] #1857 closed, assigned to sruke

[2022-05-17 20:26] brentschmaltz commented on #1856
@mancyc what if anything is returned from subjectToken.TryGetPayloadValue("_claim_names", out string claimValue);

what happens if you call: subjectToken.TryGetPayloadValue("_claim_names", out IList<string> claimValues);

We currently only offer support for normal claims.

[2022-05-17 20:29] brentschmaltz commented on #1855
@hieunguyenmsft @jsquire  we currently do not have support for ECDH-ES yet.
We should have support shortly.

[2022-05-17 20:30] brentschmaltz commented on #1854
@AraHaan we are about to add a Net 3.1 target, which should get around the netstandard issue.
Afterwards, we will be adding a 6.0 target.

[2022-05-17 22:40] AraHaan commented on #1854
The Cng is in the .NET Core 3.1 framework reference?

[2022-05-17 22:46] jmprieur commented on #1854
What is Cng
.NET Core 3.1 is now out of support. you should probably move to .NET 6.0

[2022-05-17 23:12] mancyc commented on #1856
out variable is always null.
![image](https://user-images.githubusercontent.com/55417814/168926892-6070ea62-017d-4c9c-b21c-9ed595c83dcf.png)

Btw, subjectToken.Claims has the full list but I am trying to avoid iterating over the list

[2022-05-18 15:04] AraHaan commented on #1854
Cng is System.Security.Cryptography.Cng which is in the runtime and ref packs in .NET 6.

[2022-05-19 00:28] adarce opened #1858 "[FeatureRequest] Cache the previous "richer error details" in ConfigurationManager.GetConfigurationAsync."
This feature request is a follow-up from [my previous feature request](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1714) (thanks for addressing that one!).

Consider a scenario where during token validation, we want to retrieve the `OpenIdConnectConfiguration` for a tenant-specific authority containing a tenant ID that does not exist by calling a URI

[2022-05-25 19:24] ivanalfonso-msft opened #1860 "[Bug] IDX10223 missing the date fields"
Error message shows like:
`IDX10223: Lifetime validation failed. The token is expired. ValidTo: 'System.DateTime', Current time: 'System.DateTime'.`

[2022-05-27 16:27] onyxmaster opened #1861 "The "cty" header is always added breaking compatibility with certain services"
**Which version of Microsoft.IdentityModel are you using?**
6.18

**Where is the issue?**
 * [x] M.IM.JsonWebTokens

**Is this a new or an existing app?**
The app is in production and I have upgraded to a new version of Microsoft.IdentityModel.

**Expected behavior**
The `cty` header addition for `JsonWebTokenHandler.CreateToken` is controlled by some flag.

**Actual behavior**
The `cty` header is

[2022-05-27 18:40] brockallen commented on #1861
https://www.rfc-editor.org/rfc/rfc7519#section-5.2

[2022-05-28 03:13] brentschmaltz commented on #1861
@onyxmaster as brockallen pointed out, in a JWE with an inner JWS, the cty is required.
Are you seeing the cty in other than JWE's?
Do you need a back-compat switch?

[2022-05-28 03:15] brentschmaltz commented on #1860
@ivanalfonso-msft, what version are you using?
this is a result of PII being off.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII to turn PII on.

[2022-05-28 03:19] brentschmaltz commented on #1858
@adarce that is a good idea and would help users.

[2022-05-30 07:58] onyxmaster commented on #1861
Thanks for answering.
I don't argue that the `cty` field is required by the spec. Unfortunately, the Apple ID secret token expectations are quite specific regarding the set of the expected fields (see [Generate and Validate tokens -> Creating the Client Secret](https://developer.apple.com/documentation/sign_in_with_apple/generate_and_validate_tokens#3262048)).
I don't think that Apple is going to

[2022-05-30 15:54] janniksam commented on #852
bump. :)

[2022-05-31 06:35] dmitry-kosar commented on #1861
I have the same issue with Adobe API after upgrading to 6.18.0. When trying to exchange token (see [`Exchanging JWT to retrieve an access token`](https://developer.adobe.com/developer-console/docs/guides/authentication/JWT/#exchanging-jwt-to-retrieve-an-access-token)) it fails because a new `cty` header is presented. It would be nice to have ability to control that header.

[2022-05-31 17:46] brentschmaltz commented on #1861
@onyxmaster @dmitry-kosar would on by default, with the ability to turn off with a switch in SecurityTokenDescriptor work for you?

Sorry about the hassle.

[2022-05-31 17:47] brentschmaltz commented on #852
@janniksam the code has been added to the WCF project a preview release is available.

[2022-05-31 17:50] brentschmaltz commented on #1854
@jmprieur should we add both 3.1 and 6.0 or just 6.0?

[2022-05-31 21:21] #1847 closed, assigned to jennyf19, sruke

[2022-06-01 05:40] onyxmaster commented on #1861
Yes, some kind of a flag to toggle the field addition would be great, regardless of its default value!
I don’t think you should be sorry for anything, after all it’s some other service not following the spec.

[2022-06-01 09:16] AraHaan commented on #1854
I think only 6.0 as 3.1 will be EOL by the end of the year.

[2022-06-01 11:13] mendhak commented on #468
@benmccallum  would that mean simply redeploying the applications, so the caches are cleared?

[2022-06-03 20:09] kennep commented on #1861
The `cty` header parameter is added in some cases even when one is creating a JWS. Here is an example that reproduces this:

[code]

Example output:
[code]

Decoded:
[code]

In this case, there is no nesting (the payload is not a JWT), so according to the RFC, adding a `cty` header parameter is not recommended.

If the `cty` header parameter is added to the header when the payload is _not_ a neste

[2022-06-06 03:48] yansyunchen commented on #1853
@brentschmaltz Do we have any finding for this issue? Add more comment here, not sure is that helpful for you to investigate:
If add "context.SkipToNextMiddleware()" in the code when encountering this error, the login can be successful without error.

[2022-06-06 18:24] jsquire opened #1867 "Error when deserializing JWT header"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#29128](https://github.com/Azure/azure-sdk-for-net/issues/29128).

### Please be aware that @mattabb is the author of the original issue and include them for any questions or replies.

## Details

### Library name and version

System.IdentityModel.Tokens.Jwt

### Describe the bug

During JWT Token Validation

[2022-06-07 19:14] brentschmaltz commented on #1861
@RojaEnnam make sure to address ^^
@onyxmaster we should apologize, after all these years we know changing a wire format needs a back-compat switch.

[2022-06-07 19:19] brentschmaltz commented on #1867
I commented in https://github.com/Azure/azure-sdk-for-net/issues/29128 to ask Mattabb a question.

[2022-06-07 19:24] brentschmaltz commented on #1853
@yansyunchen the first thing i am noticing is that there is a mixture of versions of Microsoft.IdentityModel.
Some 5.3.0 and 6.15.0. That is not recommended, you should be using the same version for all M.IM assemblies.

What is happening here is the asp.net runtime is not finding the 'nonce' cookie in the HttpRequest.
Can you review the saz to see if the cookie is there?

[2022-06-07 19:25] brentschmaltz commented on #1854
@AraHaan
This [PR ](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1866)added 6.0.

[2022-06-07 19:25] #1854 closed, assigned to nobody

[2022-06-07 19:29] brentschmaltz commented on #1796
@jaelys I am not able to understand the issue, please reopen with additional details if this is still an issue.

[2022-06-07 19:29] #1796 closed, assigned to nobody

[2022-06-07 19:30] brentschmaltz commented on #1726
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1866

[2022-06-07 19:30] #1726 closed, assigned to cesarpayan

[2022-06-07 19:32] brentschmaltz commented on #1426
We added 6.0 target

[2022-06-07 19:32] #1426 closed, assigned to brentschmaltz

[2022-06-07 19:34] brentschmaltz commented on #1188
We added these api's to JsonWebTokenHandler

[2022-06-07 19:34] #1188 closed

[2022-06-07 20:25] brentschmaltz commented on #1159
we are sticking with .net and not doing anymore standard.

[2022-06-07 20:34] brentschmaltz commented on #1061
should be fixed with:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1840

[2022-06-07 20:34] #1061 closed

[2022-06-07 20:34] brentschmaltz commented on #626
Should be fixed with: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1840

[2022-06-08 04:31] benmccallum commented on #468
@mendhak , yea, or via some admin screen that triggers it, but it's not exactly a clean solution.

[2022-06-08 13:41] CumpsD commented on #1295
Perhaps a silly question, but does this code mean a `cty` header will always be present when creating a JWT?

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/System.IdentityModel.Tokens.Jwt/JwtHeader.cs#L389-L404

[code]

since that is being called in the ctor

[2022-06-08 13:43] CumpsD commented on #1861
We are hitting this as well with regular JWT's, some of our partners using Java cannot handle the new `cty` in the header and explode :)

I just added this comment pointing to the probable code causing this: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1295#issuecomment-1149932370

[2022-06-08 14:58] brentschmaltz commented on #1777
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1869

[2022-06-08 14:58] #1777 closed, assigned to nobody

[2022-06-08 17:34] mattabb commented on #1867
Hey brent, I'm unsure of where this version is getting set.  In my local project I have System.Security.Permissions v6.0.0.  The error arises somewhere inside of the internal Microsoft.IdentityModel Deserializer which I cannot reach.

[2022-06-08 18:03] brentschmaltz commented on #468
@benmccallum @mendhak are you using ConfigurationManager to obtain metadata?
ConfigurationManager supports obtaining metadata on a schedule and one-off refresh.

Obtaining metadata is async.

[2022-06-09 08:37] jarek-dev opened #1872 "JwtSecurityTokenHandler - overrided ValidateSignature method is not being invoked"
Hi guys,
I've updated the package System.IdentityModel.Tokens.Jwt to the newest version and I noticed that my authentication mechanism stops working.

**Which version of Microsoft.IdentityModel are you using?**
System.IdentityModel.Tokens.Jwt 6.19.0

**Where is the issue?**
 * [x] S.IM.Tokens.Jwt

**Is this a new or an existing app?**
The app is in production and I have upgraded to a new version o

[2022-06-09 15:53] brentschmaltz commented on #1872
@jarek-dev i see the problem, our private method calls a private ValidateSignature instead of the protected virtual.

[2022-06-10 14:02] VirusQuartirus opened #1873 "[Bug] Microsoft.IdentityModel.Xml.XmlUtil.GetXsiTypeAsQualifiedName searches 'Type' attribute instead of 'type'"
**Which version of Microsoft.IdentityModel are you using?**
Microsoft.IdentityModel.Tokens.Saml 6.18

**Where is the issue?**
 * [x] M.IM.Tokens.Saml

**Is this a new or an existing app?**
New app

**Repro**
Saml2.xml
[code]

[code]

**Expected behavior**
Token should be read successfully.

**Actual behavior**
Fails with following exception:
Microsoft.IdentityModel.Tokens.Saml2.Saml2SecurityTokenR

[2022-06-14 04:26] thuannguy commented on #852
@brentschmaltz Per https://github.com/dotnet/wcf/issues/4542, I thought code is released already (aka not in preview anymore). At least System.ServiceModel.XXX 4.9.0.0 works for me. Could you please elaborate? Is there still another preview release that has even more out of the box support for WSTrust?

[2022-06-14 16:39] sruke opened #1876 "[Feature Request] Create a LoggerContext class to aid with debugging"

[2022-06-14 16:44] #1876 closed, assigned to sruke

[2022-06-15 04:43] ros-han-n opened #1877 "[Bug] Breaking change in 6.18.0 due to Always set 'cty==JWT' when creating a JWE."
**Which version of Microsoft.IdentityModel are you using?** 6.19.0
Note that to get help, you need to run the latest version.

**Where is the issue?**
 * [ x] M.IM.JsonWebTokens

**Is this a new or an existing app?**
a. The app is in production and I have upgraded to a new version of Microsoft.IdentityModel.*

**Repro**
Upgraded existing service to use 6.19.0 version of Microsoft.IdentityModel.Jso

[2022-06-15 14:23] kristjanjogi-msft opened #1878 "[Bug] JsonWebKeyConverter.ConvertFromX509SecurityKey() does not properly handle EC certificates"
**Which version of Microsoft.IdentityModel are you using?**
6.19.0

**Where is the issue?**
 * [x] M.IM.Tokens

**Is this a new or an existing app?**
This is a new app or an experiment.

**Repro**

[code]

**Expected behavior**
`JsonWebKeyConverter.ConvertFromX509SecurityKey()` should output a `JsonWebKey` with `Kty = EC` for an `X509SecurityKey` created from an EC certificate.

**Actual behavior*

[2022-06-15 19:20] sruke opened #1880 "[Bug] Signature shouldn't be logged along with token"

[2022-06-15 20:47] #1880 closed, assigned to sruke

[2022-06-16 04:07] thuannguy commented on #852
I guess you mean the preview version 4.10.0-preview1.22261.2 which has WSTrustChannelFactory added.

https://github.com/dotnet/wcf/commit/ab9b3c1cb00f558dcd6ac6f3b02663ace5e25750#diff-5154bdab4d937a2d8e7c3553d2a8df7ac2d6231d0d76bbca1c87f4f9e343dabd

[2022-06-16 11:50] SrikJagz opened #1881 "Not Able to work with Compiled code Micrososft.IdentityModel.Logging Setting ShowPII"
Hi,

I have got Micrososft.IdentityModel.Logging 5.2.1 source code just to modify the ShowPII to true and so that I can collect additional Logs.  But the new compiled version is not working eventhough the .NETFramework (4.5.1) and DLL version are matching (5.2.1.050208)
The one taken from Nuget Package for this DLL is 31 KB while the compiled one is 15KB . I'm not sure where I'm missing.

Can some

[2022-06-16 12:50] EraYaN opened #1882 "[Bug] Library reports that AES256GCM is not supported in linux for .NET 6, but it seems to work just fine"
**Which version of Microsoft.IdentityModel are you using?**
Note that to get help, you need to run the latest version.
6.19.0

**Where is the issue?**
 * [ ] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 * [ ] M.IM.Protocols.OpenIdConnect
 * [ ] M.IM.Protocols.SignedHttpRequest
 * [ ] M.IM.Protocols.WsFederation

[2022-06-16 15:13] jmprieur commented on #1881
@sruke: can you please have a look?

[2022-06-16 16:23] sruke opened #1883 "[Bug] Rename LoggerContext.Id to avoid breaking change"

[2022-06-16 16:34] #1883 closed, assigned to sruke

[2022-06-16 16:52] sruke commented on #1881
You don't need the source code of Micrososft.IdentityModel.Logging to set ShowPII to true.

You can instead do the following -
1. Add a reference to the NuGet Package Microsoft.IdentityModel.Logging in your project
2. Set IdentityModelEventSource.ShowPII = true; with in the project.
   If on AspNetCore or OWIN, set this value in the Startup constructor.

Please note that by setting ShowPII to true

[2022-06-16 18:17] brentschmaltz commented on #1877
@ros-han-n
We are going to be fixing this in our next release in a day or so.
see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1868

[2022-06-16 18:18] #1877 closed, assigned to nobody

[2022-06-16 18:19] brentschmaltz commented on #1873
You are correct, this is a bug, we will fix it.

[2022-06-16 18:20] brentschmaltz commented on #1881
@SrikJagz please feel free to reopen if you are still seeing issues.

[2022-06-16 18:20] #1881 closed, assigned to sruke

[2022-06-16 18:24] brentschmaltz commented on #1882
@EraYaN i see, looks like we incorrectly applied the filtering.
@cesarpayan can you look into this.

[2022-06-17 05:48] SrikJagz commented on #1881
Hi,

Thanks a lot. I am able to fix this with your suggestions.

Regards,
Srikanth

[2022-06-17 06:39] benmccallum commented on #468
@brentschmaltz , I don't believe we are. It's been a while since I was looking at this and haven't had a chance to revisit.

[2022-06-17 12:43] allysonjoses commented on #1590
Hi @marwalsch, Were you able to come to a conclusion on your question? I have the same scenario!

[2022-06-20 05:22] marwalsch commented on #1590
@allysonjoses Don't quote me on that, but I'm am almost 100% sure that

- `TokenValidationParameters.ValidIssuer` merely checks for string equality;
- `JwtBearerOptions.Authority` actually does an OIDC compliant call to the well-known endpoint to validate the signature.

[2022-06-20 08:05] icefire2000 commented on #1853
all updated to version 6.19.0   and the problem is still there
<package id="Microsoft.Identity.Client" version="4.41.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.19.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWeb

[2022-06-21 18:27] jennyf19 commented on #1680
Released in [6.20.0](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases/tag/6.20.0).

[2022-06-21 18:27] #1680 closed, assigned to ciaozhang

[2022-06-21 18:27] jennyf19 commented on #1880
Released in [6.20.0](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases/tag/6.20.0).

[2022-06-21 18:27] jennyf19 commented on #1861
Released in [6.20.0](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases/tag/6.20.0).

[2022-06-21 18:28] jennyf19 commented on #1883
Released in [6.20.0](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases/tag/6.20.0).

[2022-06-21 18:28] jennyf19 commented on #1876
Released in [6.20.0](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases/tag/6.20.0).

[2022-06-22 15:06] saintarian commented on #1819
Any updates on this @brentschmaltz? We are encountering the same issue.

[2022-06-22 15:29] EraYaN commented on #1516
For the `Microsoft.IdentityModel.JsonWebTokens` package the JObject.Parse is just hardcoded in the Decode* functions. And overriding the `TokenReader` doesn't really help since you need to deliver essentially a JsonWebToken class but that doesn't really let you override it's constructors or override it's Decode functions.

Which makes the actor claim basically unusable when there are nested act cl

[2022-06-23 14:43] mawasile opened #1888 "[Bug] Oracle IDCS not working over OpenID Connect protocol"
**Which version of Microsoft.IdentityModel are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
 * [ ] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 * [x] M.IM.Protocols.OpenIdConnect
 * [ ] M.IM.Protocols.SignedHttpRequest
 * [ ] M.IM.Protocols.WsFederation
 * [ ]

[2022-06-27 03:05] yansyunchen commented on #1853
@brentschmaltz thanks for your help, "after all updated to version 6.19.0 and the problem is still there". Do you have any other suggestion on this issue?

[2022-06-27 13:57] mus65 commented on #92
For anyone who needs a workaround: we worked around this by setting TokenValidationParameters.RequireExpirationTime to false if exp overflows.

[code]

[2022-06-27 21:59] ciaozhang opened #1891 "IDX10214 has duplicates the audiences"
IDX10214's message might have duplicate validAudiences:
"IDX10214: Audience validation failed. Audiences: '3128b036-59cc-4446-bb3c-24448184f282'. Did not match: validationParameters.ValidAudience: 'null' or validationParameters.ValidAudiences: '3128b036-59cc-4446-bb3c-24448184f283, bf053dcb-cbc6-4f9c-b028-9769b8e28869, 3128b036-59cc-4446-bb3c-24448184f283, bf053dcb-cbc6-4f9c-b028-9769b8e28869'."

[2022-06-27 22:51] udlose commented on #1365
@brentschmaltz Any update on official MSDN documentation here?  I'm still trying to figure out why there's no `WriteToken` on `JsonWebTokenHandler`.  I see the `ReadToken`, but how do I write one to a string?

[2022-06-27 23:30] sruke opened #1892 "Adjust EventLevel for logs that display values of tokenvalidationparameters"
Log lines that display values of tokenvalidationparameters are logged for every request at Information level which could generate a lot of noise for services consuming Wilson. Dropping the log level to Verbose where appropriate.

[2022-06-28 17:11] #1892 closed, assigned to sruke

[2022-06-28 17:12] cesarpayan opened #1894 "Change to protected virutal method ClaimsIdentity CreateclaimsIdentity(JsonWebToken, TokenValidationVarameters, Issuer)"
Change to protected virtual method ClaimsIdentity CreateclaimsIdentity(JsonWebToken, TokenValidationVarameters, Issuer) to allow SAL to override method so that it can do claims mapping.

Why?
Microsoft.IdentityModel has two assemblies to manipulate JWT tokens:

System.IdentityModel.Tokens.Jwt, which is the legacy assembly. It defines [JwtSecurityTokenHandler](https://github.com/AzureAD/azure-activ

[2022-06-29 08:30] esbenbjerre opened #1898 "[Bug] Unexpected fatal log about PII logging"
**Which version of Microsoft.IdentityModel are you using?**
6.20.0.0

**Where is the issue?**
 * [x] M.IM.Logging

**Is this a new or an existing app?**
The app is in production and I have upgraded to a new version of Microsoft.IdentityModel.

**Repro**
Create a new .NET Core app and use the identity framework.

**Expected behavior**
No fatal logs.

**Actual behavior**
Fatal log:
[code]

I've trie

[2022-06-29 18:00] tomaszzmudzinski opened #1899 "[Bug] MissingMethodException is thrown (IDX20803)"
**Which version of Microsoft.IdentityModel are you using?**
Microsoft.IdentityModel.Tokens 6.20.0

**Where is the issue?**
 * [x] M.IM.Logging
 * [x] M.IM.Tokens

**Is this a new or an existing app?**
The app is in production and I have upgraded to a new version of Microsoft.IdentityModel.Tokens (from 6.11.1 to 6.20.0)

**Repro**
Everything worked without any issues until I have upgraded Microsoft

[2022-06-29 18:41] brentschmaltz commented on #1899
@tomaszzmudzinski did you upgrade just M.IM.Tokens or all of the assemblies?
They must all be at the same version.

[2022-06-29 18:50] brentschmaltz commented on #1888
@mawasile the OpenIdConnectRetriever expects to see the metadata as per this specification: https://openid.net/specs/openid-connect-discovery-1_0.html
Is Oracle following this format?

[2022-06-29 19:19] tomaszzmudzinski commented on #1899
Only Microsoft.IdentityModel.Tokens package was installed in my solution (version 6.11.1). Everything worked perfectly and suddenly it started to throw given exception after upgrading this package to the latest version (6.20.0).

After it stopped working as expected I tried to add M.IM.Logging to my solution (also with version 6.20.0) but this didn't help.

Here is my current NuGet package explore

[2022-06-30 00:50] brentschmaltz commented on #1899
@tomaszzmudzinski do you have any other packages installed, if so what are the versions.

[2022-06-30 01:38] jennyf19 commented on #1898
@sruke I think we need to rethink having this log level just for capturing this log info.

[2022-06-30 08:19] mawasile commented on #1888
@brentschmaltz
During the investigation with the customer, we found out that Oracle IDCS acctually has two endpoints.
One not according to specification => https://idcs-<PII>.identity.oraclecloud.com/.well-known/idcs-configuration
and second one that is correct =>  https://idcs-<PII>.identity.oraclecloud.com/.well-known/openid-configuration

Feel free to close the issue as the second discovery end

[2022-06-30 13:15] Blackclaws opened #1901 "[Feature Request] Create JsonWebKey from public part of SecurityKey"
**Is your feature request related to a problem? Please describe.**
Right now the way to create JsonWebKey and export just the public parts of a security key is to only put in a public key.

If you have a SecurityKey set up with the private part you need to first export the public key, reimport it into a new structure and create a JWK from that.

This is a rather roundabout way of doing it.

**Desc

[2022-06-30 15:33] brentschmaltz commented on #1899
@tomaszzmudzinski it appears that the version of M.IM.Protocols is still 6.11.1. Make sure all IdentityModel packages are the same version.

We changed the internal api post 6.11.1
6.11.1 we have: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/c408c65256d1171ec685485b0a52129abb5cf407/src/Microsoft.IdentityModel.Protocols/Configuration/HttpDocumentRetrieve

[2022-06-30 15:33] #1899 closed, assigned to nobody

[2022-06-30 17:53] sruke commented on #1898
Agreed. I think we should prefix the header information to the first message logged. Both can be separated by a new line to avoid confusion.

[2022-07-01 06:34] sruke opened #1903 "[Feature Request] Unmask properties that are NonPII to make log messages meaningful and for efficient troubleshooting"

[2022-07-01 07:21] tomaszzmudzinski commented on #1899
As I wrote before my solution had only one package installed: Microsoft.IdentityModel.Tokens so this is something else 😢

[2022-07-04 00:43] KPC1992 opened #1905 "kong"

[2022-07-04 09:02] jarek-dev commented on #1872
@brentschmaltz glad to hear that. Do you know how long a fix will take?
I found a workaround, but it's very awful and I don't want to use it in my production code.

[2022-07-05 09:14] yansyunchen commented on #1853
@brentschmaltz Do you have any other suggestion on this issue? Thanks

[2022-07-06 13:21] Blackclaws commented on #1903
Just ran into this exact problem. There is PII logging on things like the JWT Token audience. While it might be that someone writes PII into the audience field this is usually _not_ the case as the audience should contain the intended service. Same as the issuer field which usually isn't a user.

[2022-07-13 02:01] bayerju-ey opened #1908 "System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.IdentityModel.Abstractions, Version=6.18.0.0, Culture=neutral, PublicKeyToken=xxx' or one of its dependencies. The system cannot find the file specified."
Using dotnet core 3.1 on Azure App Service (Linux). Existing project works using Microsoft.Identity.Client 4.44.0. Upon upgrading to Microsoft.Identity.Client 4.45.0, project throws the following error:

`System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.IdentityModel.Abstractions, Version=6.18.0.0, Culture=neutral, PublicKeyToken=xxx' or one of its dependencies. The syst

[2022-07-13 03:08] jmprieur commented on #1908
@bgavrilMS @pmaytak  FYI. This sounds a p1 to me.
@GeoK, @jennyf19  do you think the issue could come from Wilson?
cc: @TimHannMSFT @sruke @RojaEnnam @dannybtsai @ciaozhang @cesarpayan

[2022-07-13 15:24] bgavrilMS commented on #1908
@bayerju-ey I'm having trouble reproducing this issue. I tried to create a console app which targets netcoreapp3.1, then added Microsoft.identity.Client and Microsoft.identitymodel.tokens to it:

![image](https://user-images.githubusercontent.com/12273384/178769121-780c578e-6f30-41cd-bc10-7d866cee52bb.png)

This seems to work fine. Also tried with an ASP.NET Core website with no auth, and it seeme

[2022-07-13 17:31] #1898 closed, assigned to sruke

[2022-07-13 17:31] #1903 closed, assigned to sruke

[2022-07-14 00:13] bayerju-ey commented on #1908
Did some more investigation after you couldn't reproduce. Appears my app isn't correctly picking up that M.I.Abstractions is compatible with netcore; however, I can get my app to detect M.I.A if I do the following:

`cd /root/.nuget/packages/microsoft.identitymodel.abstractions/6.18.0/lib`
`cp -ar netstandard2.0 netcoreapp2.1`

Not sure why my app doesn't correctly detect netcore to begin with, bu

[2022-07-14 07:51] soerenmuehlbauer opened #1910 "[Bug] IDX10659 is thrown when using an X509Certificate with public key only on validating a JWT token"
**Which version of Microsoft.IdentityModel are you using?**
6.21

**Where is the issue?**
 * S.IM.Tokens.Jwt

**Is this a new or an existing app?**
This is a new app or an experiment.

**Repro**

1. Create a signed and encrypted jwt token using an X509Certificate (containing **private** and **public** key).
2. Try to validate the token with setting TokenValidationParameters.IssuerSigningKey and To

[2022-07-14 10:06] bgavrilMS commented on #1908
You shouldn't need to do this hack, because nuget will figure it out for you. Do not handle dlls on your own.

NuGet uses a concept called "the nearest framework" - https://nugettools.azurewebsites.net/6.0.0/get-nearest-framework

In you case, your app is netcore 3.1 and M.I.Absctrations targets `netstandard2.0`, `net6`, and `net4*` (old .net). The nearest framework is netstndard2. This is because

[2022-07-14 10:06] #1908 closed, assigned to bgavrilMS

[2022-07-16 11:37] dojoincom opened #1911 "[Bug] JwtRegisteredClaimNames is incomplete"
**Which version of Microsoft.IdentityModel are you using?**
6.21.0.0

**Where is the issue?**
 * [ ] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 * [ ] M.IM.Protocols.OpenIdConnect
 * [ ] M.IM.Protocols.SignedHttpRequest
 * [ ] M.IM.Protocols.WsFederation
 * [ ] M.IM.TestExtensions
 * [ ] M.IM.Tokens
 * [ ] M.IM

[2022-07-22 20:26] udlose commented on #1828
Also interested to know the answer...

[2022-07-26 02:56] kjkent opened #1917 "Potential bug/doc request for obtaining graph tokens with ECC certificate assertions"
Hi all,

Reposting this issue from https://github.com/AzureAD/microsoft-identity-web/issues/1809 on advice of a contributor there:

I hope this is the right repo to post this in. For the last couple of days I've been trying to figure out why we couldn't get our app to receive a token for the Microsoft Graph API. No matter how I tried, first with the msal-node library and then by manually construct

[2022-07-26 17:52] brentschmaltz commented on #1910
When a token that is encrypted, the public key is used.
When a token is decrypted, the private key is used.

[2022-07-26 17:52] #1910 closed, assigned to nobody

[2022-07-26 17:53] brentschmaltz commented on #1911
@dorinung yes, there are additional claim names.
Not sure when we will add them all.

[2022-07-26 17:55] brentschmaltz commented on #1917
@kjkent do you have a stack trace with messages?

[2022-07-26 18:11] soerenmuehlbauer commented on #1910
You are right, I misinterpreted the rfc. Thank you!

[2022-07-27 01:23] cesarpayan opened #1918 "[Bug] IdentityComparer not ignoring claims to be ignored in certain scenarios"
**Which version of Microsoft.IdentityModel are you using?**
Microsoft.IdentityModel 6.21.0

**Repro**
When comparing claims for unit tests, we're comparing the ClaimsIdentity and Claims in a token validation result. The second one uses the comparer for Dictionary<string, object> which doesn't take into consideration AddClaimTypeToIgnoreWhenComparing which is used in unit testing

This creates a ra

[2022-07-27 02:09] #1918 closed, assigned to cesarpayan

[2022-07-28 21:01] cesarpayan opened #1920 "[Feature Request] Change to protected virtual method ClaimsIdentity CreateclaimsIdentity"
Change to protected virtual method ClaimsIdentity CreateclaimsIdentity(JsonWebToken, TokenValidationVarameters, Issuer) to allow SAL to override method so that it can do claims mapping.

Why?
Microsoft.IdentityModel has two assemblies to manipulate JWT tokens:

System.IdentityModel.Tokens.Jwt, which is the legacy assembly. It defines [JwtSecurityTokenHandler](https://github.com/AzureAD/azure-activ

[2022-07-28 21:03] cesarpayan commented on #1920
Closing as issue was already created in #1894

[2022-07-28 21:03] #1920 closed, assigned to cesarpayan

[2022-07-31 21:03] kjkent commented on #1917
@brentschmaltz When I get the chance, I'll make a self-signed ECC cert and reproduce; I'll post the results here.

[2022-08-01 11:12] NickDarvey commented on #1313
@a7md0, did you find a workaround for this?

[2022-08-01 18:14] sruke opened #1922 "[Bug] IDX10205 shows up as an error message."

[2022-08-01 21:46] DanielLaberge commented on #1792
I find it unacceptable that this is still an issue today. JWT is a core functionality; I can't imagine the number of people affected by this.

In my case, I had the following dependencies in a brand new project using the Microsoft.NET.Sdk.Web SDK.
[code]

Adding the following nuget package fixed the issue:
    `<PackageReference Include="Microsoft.IdentityModel.Protocols.OpenIdConnect" Version="6.

[2022-08-02 17:52] a7md0 commented on #1313
@NickDarvey Yes, see this [Stackoverflow answer](https://stackoverflow.com/a/62284152/1738413)

For reference my code was
[code]

Changed to
[code]

[2022-08-03 17:41] #1894 closed, assigned to cesarpayan

[2022-08-10 16:30] brentschmaltz opened #1925 "[Feature Request] HttpRequestData should set PropertyBag in ctor and not allow to be set."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...].

Collections, Dictionaries, Lists all work best if they are never null.

**Describe the solution you'd like**
HttpRequestData.Headers cannot be null, PropertyBag should follow the same pattern.

[2022-08-16 01:37] eddynaka opened #1926 "Binaries from package System.IdentityModel.Tokens.Jwt version 6.22 are showing a test publisher"
Hi,

I was looking at the last package that got produced and I saw this:
<img width="440" alt="image" src="https://user-images.githubusercontent.com/16199012/184780149-4babbdf7-77ae-401e-bbab-79d86ee01d1d.png">

And I was expecting something like this:
<img width="452" alt="image" src="https://user-images.githubusercontent.com/16199012/184780191-a7581d7f-decb-40da-ae7e-b1c6106983d4.png">

I don't

[2022-08-16 03:05] jmprieur commented on #1926
@eddynaka  : would you have built the package locally? Or where did you get it from?

I'm not seeing the same as you:
![image](https://user-images.githubusercontent.com/13203188/184789569-79eecf5f-0e42-4415-865a-ce83e77563bc.png)

[2022-08-16 03:13] eddynaka commented on #1926
Hi @jmprieur ,

From nupkg manager, click in the binaries that you have in the package. In the lower window you will see the signed binary.

[2022-08-17 01:26] Sunnydc231 opened #1927 "[Bug]"
**Which version of Microsoft.IdentityModel are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
 * [x] M.IM.JsonWebTokens
 * [x] M.IM.KeyVaultExtensions
 * [x] M.IM.Logging
 * [x] M.IM.ManagedKeyVaultSecurityKey
 * [x] M.IM.Protocols
 * [x] M.IM.Protocols.OpenIdConnect
 * [x] M.IM.Protocols.SignedHttpRequest
 * [x] M.IM.Protocols.WsFederation
 * [x]

[2022-08-17 02:28] xieofxie opened #1928 "Wrong parameter order when calling ValidateLifetimeAndIssuerAfterSignatureNotValidatedJwt"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/36b9cd5cbdf5999c65c31fd5c8f68471b1e605d1/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L1379

In code https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/36b9cd5cbdf5999c65c31fd5c8f68471b1e605d1/src/Microsoft.IdentityModel.Tokens/InternalValidators.cs#L25

[2022-08-17 03:20] jmprieur commented on #1927
Closing as there is no repro step

[2022-08-17 03:20] #1927 closed, assigned to nobody

[2022-08-17 03:32] Sunnydc231 opened #1929 "[Feature Request]"
#- [ ] - *@*Is********__[![image](https://user-images.githubusercontent.com/111330376/185028840-ceb9629f-8324-49e3-a1d1-4643a2ae462d.jpeg)]()__******** your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...].
- - - - [ ] #> ````
**Describe the solution you'd like**
A clear and concise description of

[2022-08-17 03:47] jmprieur commented on #1929
Closing as there is no repro

[2022-08-17 03:47] #1929 closed, assigned to nobody

[2022-08-22 15:37] ohadschn opened #1930 "[Bug] RefreshInterval is too long if no metadata has been retrieved (IDX20803)"
**Which version of Microsoft.IdentityModel are you using?**
Latest - problem is present in `dev` branch at the time of writing.

**Where is the issue?**
 * [x ] M.IM.Protocols

**Is this a new or an existing app?**
Irrelevant, issue is present in current `dev` branch.

**Repro**
1. Have the initial `ConfigurationManager::GetConfigurationAsync` call fail for whatever reason (e.g. transient network

[2022-08-22 17:30] brentschmaltz commented on #1930
@ohadschn BaseConfigurationManager.RefreshInterval allows you to set the value.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/900dc266687d24f96c78cd9af3ac085461f3bba0/src/Microsoft.IdentityModel.Tokens/BaseConfigurationManager.cs#L120?

Would this work for you?

[2022-08-22 17:32] brentschmaltz commented on #1928
@ciaozhang can you have a look at this?

[2022-08-22 17:48] brentschmaltz commented on #1926
@eddynaka i see what you are saying, i checked back to 6.5.1 and see the same thing.
@jmprieur using Nuget Package Explorer i was able to confirm the signature details on the libraries are different that the signature on the package.

[2022-08-23 08:14] ohadschn commented on #1930
As a workaround, yes, but presumably there is a reason the default value is 5 minutes as opposed to 5 seconds no?

[2022-08-23 16:33] #1928 closed, assigned to ciaozhang

[2022-08-24 21:55] cesarpayan opened #1935 "[Bug] ValidateTokenDerivedHandlerValidationResult is not leveraging IdentityComparer correctly"
ValidateTokenDerivedHandlerValidationResult unit test is not leveraging IdentityComparer correctly. CompareContext is not being utilized in the assertions and there's no final assert in unit test.

[2022-08-25 16:37] bjsafdie commented on #1349
This also pertains to mapping claims within a `ClaimsIdentity` to `User.Identity.Name`.  That property dynamically searches the claims explicitly for `ClaimTypes.Name` which results in a null value for `User.Identity.Name`.  This is the case even if you `JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear()`.

Ideally, `ClaimsIdentity` should allow you to set the `NameClaimType` or use the va

[2022-08-25 16:38] #1935 closed, assigned to cesarpayan

[2022-08-31 09:09] aKzenT commented on #1583
@brentschmaltz any update on this?

[2022-09-01 15:20] brentschmaltz commented on #1583
@aKzenT can you point us to the code you are trying to make work?

[2022-09-01 16:46] aKzenT commented on #1583
Sure. We are passing tokens from one website to another. The keys are encrypted using a key that is persisted in the Azure KeyVault. To validate/decrypt the tokens, we basically use something like:
[code]

`tokenCredential` is of type `Azure.Core.TokenCredential`, which are the newer SDKs, which support authentication with credentials saved in Visual Studio, Azure CLI or other. See https://docs.mi

[2022-09-01 16:56] jmprieur commented on #1583
@aKzenT Identity.Model cannot depend on DefaultAzureCredential, which itself depends on MSAL.NET
We will think of a solution, though

cc: @brentschmaltz

[2022-09-01 17:10] aKzenT commented on #1583
For the credentials you would only need to depend on `Azure.Core` which contains the `TokenCredential` base class and does not have any dependency besides the BCL: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/src/Azure.Core.csproj

For the actual crypto implementaton we use `CryptographyClient` from `Azure.Security.KeyVault.Keys` project, which does not seem to depend o

[2022-09-01 17:28] jmprieur commented on #1583
That's right, @aKzenT: we agree. We don't want to depend on DefaultAzureCredential  (your original request)

[2022-09-10 17:20] RetainPhil commented on #1792
I'm running into a problem with this issue too. For me it seems to be related to[ this commit](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/922901505740480f3fe6349e501ad36082e441e3), which was released in version 6.15.1 of both [System.IdentityModel.Tokens.Jwt](https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/) and [Microsoft.IdentityMod

[2022-09-13 13:27] EraYaN opened #1941 "[Bug] Regression in parsing of (lower case) enum values between 6.22.0 and 6.23.0 of Microsoft.IdentityModel.JsonWebTokens"
**Which version of Microsoft.IdentityModel are you using?**
Microsoft.IdentityModel.JsonWebTokens 6.23.0

**Where is the issue?**
 * [x] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 * [ ] M.IM.Protocols.OpenIdConnect
 * [ ] M.IM.Protocols.SignedHttpRequest
 * [ ] M.IM.Protocols.WsFederation
 * [ ] M.IM.TestExten

[2022-09-13 17:40] brentschmaltz commented on #1941
@EraYaN i will look into this today.

[2022-09-14 01:14] brentschmaltz commented on #1941
@EraYaN this is definitely a regression.
It doesn't appear to be about 'case', but that we ignore that the 'T' could be an enum [here](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/a502b0fc2d50ff7c9500062b098cfd056a81d283/src/Microsoft.IdentityModel.JsonWebTokens/Json/JsonClaimSet.cs#L312).
I added the following code to the if statement starting on line

[2022-09-14 15:15] EraYaN commented on #1941
For now we extract the value as string and then run the same Enum.Parse line. So no worries, we'll update to the new release when it's out.

[2022-09-15 18:05] brentschmaltz opened #1942 "[Bug] Regression from 6.21.0 to 6.23.1"
**Which version of Microsoft.IdentityModel are you using?**
Note that to get help, you need to run the latest version.

**Where is the issue?**
 * [x ] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 * [ ] M.IM.Protocols.OpenIdConnect
 * [ ] M.IM.Protocols.SignedHttpRequest
 * [ ] M.IM.Protocols.WsFederation
 * [ ]

[2022-09-19 08:41] lerudiconsulting commented on #1831
@doggy8088 : Could you shed some light as to where you define your mentioned code? Program.cs, as part of what instantiation?

options.Events = new OpenIdConnectEvents()
{
    OnAuthorizationCodeReceived	 = context => {
        context.TokenEndpointRequest.SetParameter("id_token_key_type", "JWK");
        return Task.CompletedTask;
    }
};

[2022-09-19 16:50] doggy8088 commented on #1831
@lerudiconsulting What do you mean? I don't get it.

[2022-09-21 12:45] yourdearconner opened #1943 "[Bug] X509SecurityKey X509SigningCredentials are missing ECDsa"
**Which version of Microsoft.IdentityModel are you using?**
6.23.1

**Where is the issue?**
 * [ ] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 * [ ] M.IM.Protocols.OpenIdConnect
 * [ ] M.IM.Protocols.SignedHttpRequest
 * [ ] M.IM.Protocols.WsFederation
 * [ ] M.IM.TestExtensions
 * [x] M.IM.Tokens
 * [ ] M.IM.T

[2022-09-22 12:49] lerudiconsulting commented on #1831
@doggy8088 : I basically mean, where and how do you use this snippet of code? Do you use it in Program.cs or in another area? Could you show it within it´s context?

[2022-10-04 16:14] brockallen commented on #1722
Too bad this wasn't addressed when you could. We're now seeing conflicts as well. Why can't you make this internal?

[2022-10-04 22:30] bertnz commented on #1583
Hi,

We are attempting to switch our Kubernetes Pods to use Azure Workload Identity but have hit a snag with this library also.

We were trying to use the AuthenticationCallBack to see if we could somehow get this library to auth with the new DefaultAzureCredentials like so.

[code]

with the callback implemented as so

[code]

This is failing for us with the following stacktrace

[code]
Is this a

[2022-10-05 18:30] bh3605 commented on #609
@hpsin I've read a lot these past two days, and everything you said makes 100% sense. I was passing a Graph access token to my web API and the service could not validate it. So now what? My SPA does call the Graph API on the front end and I also have to call my web api. Now I know I need to use a token that's specifically for my API. I've come to grips that if I want my SPA to have features driven

[2022-10-07 18:36] sruke opened #1946 "[Feature Request] Log errors caused by policy failures as Information or just throw exception without logging"

[2022-10-07 18:38] #1922 closed, assigned to sruke

[2022-10-07 18:38] #1946 closed, assigned to sruke

[2022-10-07 19:59] frodegil commented on #1574
Just curious, @leastprivilege . Any news on this one?

[2022-10-08 13:35] leastprivilege commented on #1574
Seems this is still not fixed.

[2022-10-12 22:52] sruke opened #1947 "[Feature Request] Support for .net 7.0 in IdentityModelTelemetryUtil.ClientSku"
Today, an explicit condition doesn't exist in ClientSku logic for .net 7.0.

Reference: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Logging/IdentityModelTelemetryUtil.cs#:~:text=public%20static%20string%20ClientSku%20%3D%3E

We have conditions for NET45, NET461, NET472, NETSTANDARD2_0 and NET6_0 but not NET7_0.

What is

[2022-10-13 16:27] jennyf19 commented on #1947
@sruke You should be able to do `NET6_0_OR_GREATER` https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/preprocessor-directives

[2022-10-13 21:11] brentschmaltz commented on #707
Closing for now.

[2022-10-13 21:11] #707 closed

[2022-10-13 21:13] brentschmaltz commented on #508
We will be handling the in a comprehensive manner.

[2022-10-13 21:13] #508 closed

[2022-10-13 21:21] brentschmaltz commented on #601
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki
Here is all we have.

[2022-10-13 21:21] #601 closed

[2022-10-13 21:22] brentschmaltz commented on #734
No need for this now, removing until needed.

[2022-10-13 21:22] #734 closed

[2022-10-13 21:23] brentschmaltz commented on #887
no feed back in 3 years, triaging.

[2022-10-13 21:23] #887 closed

[2022-10-14 09:36] kjkent commented on #1917
@brentschmaltz apologies for the long silence -- work has been manic and I've been pulled onto other things. That said, I'm at a point where hopefully I should be able to try and recreate this in the next couple of weeks. What would be the best way to get a stack trace with the level of detail you're after? I recall that the Graph API just responded with something like a `400 - Bad Request`. I'll

[2022-10-14 15:11] slacksach commented on #1899
We have the same issue, upgraded from 6.10.0, issue starts in 6.14 to 6.16

![image](https://user-images.githubusercontent.com/75119677/195881060-9f4489bb-09c1-432f-9e39-ced0d89d0980.png)

[2022-10-14 17:42] sruke commented on #1947
Thank you, Jenny. I'll get this done during the week of 10/17.

Once .Net 7.0 is released in November then Wilson targets can be updated to point to it. Will create a separate issue to track this.

[2022-10-19 20:01] jsquire opened #1950 "ReadToken function documentation should make it clear that the function provides no security validations on the token"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#31896](https://github.com/Azure/azure-sdk-for-net/issues/31896).

### Please be aware that @Velby is the author of the original issue and include them for any questions or replies.

## Details

ReadToken function documentation should make it clear that the function provides no security validations on the to

[2022-10-20 02:34] aussieklutz commented on #1743
An update. The StackTrace for this error points to LogMessages.IDX10653 being thrown in the constructor for [SymmetricSignatureProvider](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/SymmetricSignatureProvider.cs), where an explicit check is made whether the key is atleast the _minimumSymmetricKeySizeInBits. At this

[2022-10-20 12:31] max4t opened #1951 "Wrong decryption key for ECDH with keywrap"
Hello,

I believe there's an error in the implementation.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/59ec62eeef11c3762aaedc8c6003f0b2fce2e2cb/src/Microsoft.IdentityModel.JsonWebTokens/JsonWebTokenHandler.cs#L982-L986

The second argument of `EcdhKeyExchangeProvider` should be the public key taken from the `epk` in the token's header (as the comment sa

[2022-10-20 16:43] brentschmaltz commented on #1950
@jsquire i added comments in this PR to emphasize that ReadToken does not validate the token.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1952

[2022-10-20 16:44] brentschmaltz commented on #1951
@max4t thanks for reporting this issue.
We will check it out.

[2022-10-20 18:07] jsquire commented on #1950
@brentschmaltz:  Please be aware that @velby is the author of the original issue.   My role was only to triage/transfer.

[2022-10-24 07:50] Adebeer commented on #1792
Thanks - been scratching my head on this one too - thanks for the info as it helped me

[2022-10-26 12:22] pinkfloydx33 opened #1953 "`JsonWebTokenHandler` is not a `SecurityTokenHandler`/`ISecurityTokenValidator`"
**Which version of Microsoft.IdentityModel are you using?**
Note that to get help, you need to run the latest version.
`Microsoft.IdentityModel.JsonWebTokens` 6.24.0

**Where is the issue?**
 * [X] M.IM.JsonWebTokens
 * [ ] M.IM.KeyVaultExtensions
 * [ ] M.IM.Logging
 * [ ] M.IM.ManagedKeyVaultSecurityKey
 * [ ] M.IM.Protocols
 * [ ] M.IM.Protocols.OpenIdConnect
 * [ ] M.IM.Protocols.SignedHttpReq

[2022-10-26 23:57] brentschmaltz commented on #1953
@pinkfloydx33 this is by design. ISecurityTokenVaidator was believed to be the right interface moving forward as it contains an out parameter which is not usable for async calls, see: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b7a4fdd6c55b1a017469c15e4f4ffeecf9f577f6/src/Microsoft.IdentityModel.Tokens/ISecurityTokenValidator.cs#L32

We believe that To

[2022-10-26 23:57] #1953 closed, assigned to nobody

[2022-10-26 23:58] #1950 closed, assigned to brentschmaltz

[2022-10-27 09:56] pinkfloydx33 commented on #1953
I assume you mean "_wasn't_ believed to be the right interface"?

In  that case then it's still a documentation bug as the xmldoc claims it to be a `SecurityTokenHandler`.

Aside: aspnet's jwt handler uses the method with the out parameters and therefore appears to have a hard req on S.IM. Unless I'm missing something, it doesn't look to have been updated for net7, meaning there's going to be a di

[2022-10-27 16:08] BrennanConroy opened #1955 "[Performance] Low hanging fruit in Tokens.JWT"
Recently while comparing a benchmark that didn't use auth and one that used jwt auth I noticed the allocations were extremely high when using jwt. Digging into it I found many places where allocations could be improved in System.IdentityModel.Tokens.Jwt, I'll focus on the largest allocation I saw for this issue.

Our code first checks if we the token can be read via
https://github.com/AzureAD/azur

[2022-10-28 05:03] brentschmaltz commented on #1955
@BrennanConroy thanks for taking time to investigate.
We are thinking along the same lines.
Have a look at this PR where we made some of the changes you suggested, the performance was about 30%.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1934

We are debating if we should make the simple fixes for the easy performance gains, it may make sense as the g

[2022-10-28 17:02] BrennanConroy commented on #1955
Nice! Do you know if most of the savings were from switching to System.Text.Json or from the other changes (like removing `string.Split`)? I just tried with the 6.25.0 packages, sadly the scenario I'm looking at doesn't hit most of the code paths in that PR.

[2022-10-29 12:59] jsquire opened #1957 "Please detail the purpose and nuances of ValidateIssuerSigningKey"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#32178](https://github.com/Azure/azure-sdk-for-net/issues/32178).

### Please be aware that @atrauzzi is the author of the original issue and include them for any questions or replies.

## Details

It's unclear to me if ValidateIssuerSigningKey impacts JWKS at all, a manually provided key, or a key embedded

[2022-11-02 16:12] renatogbp opened #1958 "Breaking changes on ReadonlyJsonWebToken?"
After upgrading Microsoft.IdentityModel.S2S.Tokens from 3.21.1 to 3.36.1 we started seeing this exception:

`(redacted).Exceptions.ArtifactValidationException: Artifact validation unexpectedly failed. ---> Rhino.Mocks.Exceptions.ExpectationViolationException: (redacted)("", System.InvalidCastException: Unable to cast object of type 'Microsoft.IdentityModel.JsonWebTokens.JsonClaimSet' to type 'Micr

[2022-11-02 17:48] brentschmaltz commented on #1958
@renatogbp The JsonWebToken has been modified to use System.Text.Json so this cast will not work.

Microsoft.IdentityModel.Json.Linq.JToken is an internal class and it is unexpected that users would be accessing those types.
How is your code written.

[2022-11-02 18:02] renatogbp commented on #1958
Here's my code (jwtHandler is a `JsonWebTokenHandler`):

[code]

[2022-11-02 20:42] brentschmaltz commented on #1958
@renatogbp can you provide an encodedSkypetoken?
What does ReadonlyJsonWebToken do?

[2022-11-03 14:58] renatogbp commented on #1958
Here's a sample of encodedToken
[code]

[2022-11-03 16:14] renatogbp commented on #1958
Hi @brentschmaltz, I am solving the issue internally with SEAL team. Thanks for the help though.

[2022-11-08 15:33] jsquire opened #1959 "Indicate what the String parameter is"
# Issue Transfer

This issue has been transferred from the Azure SDK for .NET repository, [#32346](https://github.com/Azure/azure-sdk-for-net/issues/32346).

### Please be aware that @Vaccano is the author of the original issue and include them for any questions or replies.

## Details

This delegate takes a SecurityToken and a String and then returns a String.

It is fairly clear from the context

[2022-11-08 15:49] #1958 closed, assigned to nobody

[2022-11-09 18:45] ohadschn opened #1961 "[Bug] IDX10513 log message is dumping types instead of useful values"
**Which version of Microsoft.IdentityModel are you using?**
Latest from `dev` branch

**Where is the issue?**
 * [ ] M.IM.Logging

**Expected behavior**
IDX10513 contains useful information of the actual key and token.

**Actual behavior**
`IDX10513: Signature validation failed. Unable to match key: KeyInfo: 'Microsoft.IdentityModel.Xml.KeyInfo'. Exceptions caught: ''.
 token: 'Microsoft.IdentityM

[2022-11-09 21:10] ohadschn opened #1962 "[Feature Request] Detect invalid signing key configuration in TokenValidationParameters"
**Is your feature request related to a problem? Please describe.**
We had a case where `TokenValidationParameters.IssuerSigningKeys` was empty and `TokenValidationParameters.IssuerSigningKey` was null (an edge case in a higher level auth library we used). Turning the logging verbosity to the maximum level resulted in:
1. `IDX10243: Reading issuer signing keys from validation parameters`
2. `IDX102

[2022-11-10 00:32] jmprieur commented on #1961
@ohadschn did you enable PII?
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII

[2022-11-10 08:22] ohadschn commented on #1961
@jmprieur sorry I should have been explicit about it - yes, PII logging it is enabled. If it weren't, the `IDX` message above would have included the text `'[PII is hidden. For more details, see https://aka.ms/IdentityModel/PII.]'`

The problem is the classes themselves don't override `ToString()`.
This can be easily verified, for example:

[code]

[2022-11-10 12:28] ohadschn commented on #1961
@jmprieur could you please remove the `Question` & `answered` labels? (I don't have the permissions)

[2022-11-10 23:57] jmprieur commented on #1961
@sruke for your information
cc: @TimHannMSFT for the prioritization.

[2022-11-10 23:57] jmprieur commented on #1961
Thanks @ohadschn for your investigation!

[2022-11-11 02:47] powerumc opened #1963 "[Documentation] an inappropriate url in PII"
### Documentation related to component

Wiki Url -  https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/wiki/PII

### Please check all that apply

- [x] typo
- [ ] documentation doesn't exist
- [ ] documentation needs clarification
- [ ] error(s) in the example
- [ ] needs an example

### Description of the issue

By default, we do not include any potential PII (pe

[2022-11-17 22:28] brentschmaltz commented on #1962
@ohadschn suppose above in IDX10513 the error message contained the number of keys available in TokenValidationParameters.
Would that be sufficient?

[2022-11-17 22:32] brentschmaltz commented on #1963
@jmprieur do you know what the correct url should be?
https://gdpr.eu ?

[2022-11-17 22:34] brentschmaltz commented on #1959
fixed in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1960

[2022-11-17 22:34] #1959 closed, assigned to brentschmaltz

[2022-11-18 00:15] powerumc commented on #1963
Links on the wiki redirect to other websites.
https://eugdpr.org/ link redirect to https://www.annascosmetics.com/

Please check the link in the wiki.

[2022-11-18 01:54] ohadschn commented on #1962
@brentschmaltz well it would definitely be a big improvement :)
Of course, ideally a more specific exception would be thrown, something like:

The above would also seem more consistent with the fact that you do throw `IDX10500: Signature validation failed. No security keys were provided to validate the signature` in a very similar case, implying that the current error logic does consider empty key

[2022-11-18 09:38] Esurnir opened #1965 "[Feature Request] Let ReadToken exceptions trickle up to ValidateTokenAsync"
**Is your feature request related to a problem? Please describe.**
When I have let's say an assembly binding problem on my .net framework web app during validation of a JWT. Instead of getting an exception telling me it couldn't find the right assembly with the correct strong name the app instead sent me a IDX14100 error message `JWT is not well formed: '{0}', there are no dots (.).\nThe token nee

[2022-11-21 05:51] AKlaus opened #1966 "[Bug] Nonce cookie gets produced even when `RequireNonce = false`"
**Which version of Microsoft.IdentityModel are you using?**
Microsoft.IdentityModel 6.25

**Where is the issue?**
 * [X] Microsoft.IdentityModel.Protocols.OpenIdConnect

**Is this a new or an existing app?**

**Repro**

GIVEN MS auth configuration like this:

[code]

WHEN auth challenge is triggered to redirect the user to the provider's authentication end-point

[code]

THEN

**Expected behavior*

[2022-11-22 00:09] brentschmaltz commented on #1966
@AKlaus I see why you are confused.
The ProtocolValidator is about what is required to validate an OIDC response and does not control what is sent.

It this causing an issue?

[2022-11-22 01:07] brentschmaltz commented on #1965
@Esurnir I agree we should not swallow this exception.
Would you have found the issue earlier if we exposed the inner exception?

[2022-11-22 01:20] AKlaus commented on #1966
Fair enough, the `Validator` in the name is giving it away.
But in this case, what is `GenerateNonce()` ([link](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/cd8beaaebfdf45b61cd9282ab4a86a5da4e25cee/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectProtocolValidator.cs#L84)) method doing there? Doesn't it get used when generating the `nonc

[2022-11-22 12:05] Esurnir commented on #1965
Definitely, it was probably the second place I looked for a hint as to what was wrong after the first exception message. I would still have probably tried to check to see my token was malformed but as soon as I see the real exception so often I would have had the solution within maybe 5 minutes on a slow brain day.

[2022-11-25 13:52] KelDazan opened #1970 "[Bug] IDX10503: Signature validation failed. Token does not have a kid. (System.NotImplementedException: The method or operation is not implemented. at Microsoft.IdentityModel.Tokens.SignatureProvider.Verify...)"
**Which version of Microsoft.IdentityModel are you using?**
Issue is reproduced at latest (atm) version - 6.25.0
Issue is NOT reproducing at 6.22.1 version

**Where is the issue?**
 * [x] M.IM.JsonWebTokens

**Is this a new or an existing app?**

Exactly the issue - everything was working on 6.22.1, but since 6.23.0 i am failing a JWT signature check. I am using https://nsec.rocks/ for custom JWT

[2022-11-28 18:30] Tratcher opened #1972 "Allow customizing Claim Issuer"
**Is your feature request related to a problem? Please describe.**
https://github.com/dotnet/aspnetcore/issues/41589

Some customers are requesting to be able to customize the Claim Issuer field when generating an identity. They want this to match another field in their application (the Authentication Scheme name) for later reference. Today the field is always set to the token issuer.
https://lear

[2022-11-29 13:06] EraYaN commented on #1882
I have created a PR to fix this issue for .NET 6 and up.

[2022-11-30 11:35] luciwoof opened #1974 "[Bug] JsonWebTokenHandler fails on kid validation if TokenValidationParameters.ConfigurationManager is null"
**Which version of Microsoft.IdentityModel are you using?**
Note that to get help, you need to run the latest version.
Microsoft.IdentityModel.JsonWebTokens 6.25.0

**Where is the issue?**
 * [x] M.IM.JsonWebTokens

**Is this a new or an existing app?**
c. This is a new app or an experiment.

**Repro**

[code]
Creating an empty configuration manager works as a workaround:
[code]

**Expected behavi

[2022-11-30 18:23] brentschmaltz commented on #1972
@Tratcher the only way to do this today is for an industrious user to override IssuerValidator and return the issuer to use.
This a bit too much work and could lead to issues with our AadIssuerValidator that cleverly figures out some AAD issues.

Seem pretty straightforward, i'll see what we can do.

[2022-11-30 20:01] brentschmaltz commented on #1974
@bal2 thanks for the excellent detail.
I think another fix would be to modify [JwtTokenUtilities.ResolveTokenSigningKeys](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/9ddad8fc51ed2732622323612acad83f6629d5ba/src/Microsoft.IdentityModel.JsonWebTokens/JwtTokenUtilities.cs#L442) to only check configuration if not null, then call ResolveTokenSigningKey(stri

[2022-11-30 20:09] brentschmaltz commented on #1970
@KelDazan our error message is not informative enough.
Can you try implementing: [Verify](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/9ddad8fc51ed2732622323612acad83f6629d5ba/src/Microsoft.IdentityModel.Tokens/SignatureProvider.cs#L123)

[2022-11-30 21:20] brentschmaltz commented on #1965
@Esurnir Thanks for the PR !

[2022-11-30 21:20] #1965 closed, assigned to nobody