[2016-04-02 03:32] tushargupta51 commented on #358
@polita @brentschmaltz I think we don't need to check for the provider type == 2. That type did not even exist in my registry (and as a result wasted lot of time in debugging the test failure). From the link here: https://msdn.microsoft.com/en-us/library/windows/desktop/bb394803(v=vs.85).aspx, it seems that Microsoft RSA Signature Cryptographic Provider (provider that corresponds to prov_rsa_sig)

[2016-04-03 22:31] PinpointTownes opened #360 "JwtSecurityTokenHandler.CreateJwt no longer sets JwtSecurityToken.SigningCredentials"
_Moved from https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/232._

______

The recent changes introduced by @brentschmaltz [in this commit](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/6cefb7cf902abdfb594fb785f30bec8e5af4059b) broke `CreateJwt`, which is no longer able to flow the `SigningCredentials` taken as a parameter

[2016-04-04 12:37] PinpointTownes commented on #358
Don't forget that on Mono, `CspKeyContainerInfo.ProviderType` also returns `1`: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/179.

Though Wilson is broken ATM due to the missing ECDsa types, it might be a good idea to add a special case for Mono to avoid using `RSACryptoServiceProviderProxy`.

[2016-04-04 14:58] brentschmaltz commented on #360
@PinpointTownes thanks, will look into this.

[2016-04-04 15:40] PinpointTownes commented on #360
Thanks! :clap:

[2016-04-04 18:26] PinpointTownes opened #361 "Reintroduce ClaimsIdentity.Actor support via SecurityTokenDescriptor"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/327#issuecomment-162992208

[2016-04-04 18:27] tushargupta51 opened #362 "Add test for hardware keys"
Currently, we do not have any test for providers associated with a hardware key. Investigate what's the best way to add such tests and add them.

[2016-04-04 20:10] brentschmaltz opened #363 "Rename JwtSecurityTokenHandler.CreateToken to CreateJwtSecurityToken"
This would provide consistency with JwtSecurityTokenHandler.CreateJwtSecurityToken(SecurityTokenDescritptor ...).

[2016-04-04 20:11] brentschmaltz commented on #361
@PinpointTownes excellent timing :-) as I was about to see if you had an opinion on if we should scrap the OM that uses IEnumerable<Claim> and go back to ClaimsIdentity on SecurityTokenDescriptor and CreateJwt(....). It does force users to create a ClaimsIdentity when all they want to pass are claims.

(proposing a rename below)
https://github.com/AzureAD/azure-activedirectory-identitymodel-extens

[2016-04-04 20:14] PinpointTownes commented on #361
Sounds like a good idea :+1:

[2016-04-04 20:17] brentschmaltz commented on #361
@PinpointTownes It would affect a lot of tests, would you be OK if we make this in the next milestone as we are trying to get RC2 out.

[2016-04-04 20:21] PinpointTownes commented on #361
I'm fine :smile: (even if breaking changes like this one should be added very early to avoid breaking too many people with the next release).

[2016-04-04 20:30] brentschmaltz commented on #361
I agree, early is better. I'll try and get it in, we have other teams taking a dependency so we need to get done soon.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/360 seems more important.

[2016-04-04 23:51] #353 closed

[2016-04-04 23:52] tushargupta51 commented on #358
@PinpointTownes will get to that when we fully support mono.

[2016-04-06 15:52] PinpointTownes commented on #360
@brentschmaltz people want your fix :trollface:

![image](https://cloud.githubusercontent.com/assets/6998306/14323305/4e261590-fc20-11e5-92b0-02c1dc2cfebb.png)

[2016-04-06 19:08] #363 closed

[2016-04-06 19:08] #361 closed

[2016-04-07 03:07] brentschmaltz commented on #360
@PinpointTownes It was committed today. Should be in tonight's myget.release.

[2016-04-07 03:08] #360 closed

[2016-04-11 09:53] sunsided commented on #360
Which package would that be? Because force-refreshing my packages from `aspnetcidev` doesn't seem to do the trick.

[2016-04-11 09:56] capesean commented on #360
It's not in the `aspnetcidev` feed yet, it's only in the `azureadwebstacknightly`:
https://www.myget.org/gallery/azureadwebstacknightly

See the version for: `System.IdentityModel.Tokens.Jwt`

You'll need to add that feed to your nuget config if you want to pull that package from there before it gets into aspnetcidev.

[2016-04-11 09:58] sunsided commented on #360
Ah, well that both explains it and makes sense at the same time!

[2016-04-11 11:41] PinpointTownes commented on #360
Unfortunately, trying to use the azureadwebstacknightly feed - as I had initially suggested - will cause more pain because ASOS needs to be fixed to react to a breaking change in `IdentityModel`: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/232#issuecomment-207046066

Sadly, since the updated package is not on the aspnetcidev feed we use, I can't push the fix ATM.

[2016-04-13 14:17] stephenstroud opened #365 "IdentityModel serialization/deserialization process issue"
Using JWT with openIdConnect latest rc2.

when my claim leaves the service it appears like:
http://schemas.microsoft.com/ws/2008/06/identity/claims/role: user
but on return it looks like:
http://schemas.microsoft.com/ws/2008/06/identity/claims/role: "user"

It has added some extra quotes along the way

so I can't validated with something like
principal.HasClaim(ClaimTypes.Role, "user");

This is o

[2016-04-13 14:22] PinpointTownes commented on #365
@brentschmaltz @tushargupta51 we suspect the bug might be caused by the recent changes in the JSON serialization/deserialization process: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/6cefb7cf902abdfb594fb785f30bec8e5af4059b.

[2016-04-13 14:36] PinpointTownes commented on #365
The bug is likely caused by this line: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/System.IdentityModel.Tokens.Jwt/JwtPayload.cs#L349

Since there's no special case for string, `JsonExtensions.SerializeToJson` is called with the string value, which adds the quotes you're seeing (`value` -> `"value"`).

[2016-04-14 14:47] Tratcher opened #366 "JwtBearer deserializes multiple claims with same key"
_From @Kukkimonsuta on April 14, 2016 14:42_

## Setup

JWT
[code]

## Expected behavior

I get following in `HttpContext.User.Claims`

Type | Value | ValueType
------------ | ------------- | -------------
name | Foo Bar | http://www.w3.org/2001/XMLSchema#string
iss | http://test.local/api/ | http://www.w3.org/2001/XMLSchema#string
aud | http://test.local/api/ | http://www.w3.org/2001/XMLSchema#st

[2016-04-14 15:36] PinpointTownes commented on #366
Duplicate of https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/365.

[2016-04-14 23:01] #366 closed

[2016-04-14 23:05] brentschmaltz commented on #365
@stephenstroud @PinpointTownes thanks guys. Will get right on this. Hope to get a fix out tonight. asp.net will pick up the fix for RC2.

[2016-04-18 13:43] brentschmaltz commented on #365
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/368

[2016-04-18 13:43] #365 closed

[2016-04-18 16:24] brentschmaltz opened #369 "Generate XML documents when building."
each project.json file under src, should include:     "xmlDoc": true in the compilationOptions.
such as:
 "compilationOptions": {
    "warningsAsErrors": true,
    "keyFile": "../../tools/Key.snk",
    "nowarn": [
      "CS1591"
    ],
    "xmlDoc": true
  },

[2016-04-20 00:56] skottmckay commented on #301
Shouldn't the WaitAsync() on _refreshLock in ConfigurationManager.cs also have the ConfigureAwait(false)? I would have expected all 'await' statements to use that unless you have a reason not to. Otherwise you still have the potential for deadlock.

[2016-04-20 12:58] PinpointTownes commented on #369
Was it too late to fix that for RC2?

[2016-04-20 18:57] brentschmaltz opened #370 "Creating Jwt token with SymmetricKey is broken in RC1."
Specifying a symmetric key will result in:

"Value cannot be null.\r\nParameter name: IDX10000: The parameter 'signatureProvider' cannot be a 'null' or an empty object."

[2016-04-20 18:58] brentschmaltz commented on #370
Fixed in RC2 adding bug for folks who hit this in RC1.

[2016-04-20 18:58] #370 closed

[2016-04-22 05:42] brentschmaltz opened #371 "JwtSecurityTokenHandler is not throwing SecurityTokenSignatureKeyNotFoundException"
When a jwtheader has a kid and we are unable to match that kid with any from the signing keys, SecurityTokenSignatureKeyNotFoundException should be thrown to indicate that most likely key-rollover has occurred.
This is a regression from 4.x.

[2016-04-22 06:31] brentschmaltz opened #372 "JwtSecurityTokenHandler should not set CryptoProviderFactory.Default."
This will lead to following tokens using the instance provider.
See: JwtSecurityTokenHandler ~ line 518
CryptoProviderFactory.Default = validationParameters.CryptoProviderFactory;

[2016-04-22 07:07] brentschmaltz commented on #371
Fixed https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/5e5ccbceb122daddb5e2d1c71753f2286df6b452

[2016-04-22 07:07] #371 closed

[2016-04-26 02:29] brentschmaltz opened #373 "OpenIdConnectRequestType, OpenIdConnectResponseTypes should be named consistently"
OpenIdConnectResponseTypes, OpenIdConnectResponseModes, OpenIdConnectScopes all end with an  s
OpenIdConnectRequestType does not.

[2016-04-26 18:36] brentschmaltz opened #374 "Clean up Exception Message for 'ArgumentException' related Exceptions"
For example ArgumentOutOfRangeException reads:

'System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: IDX10603: The algorithm: 'HS256' cannot have less than: '128' bits. KeySize: '56'.

I would like it to read (something like):
'System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: key.Ke

[2016-04-26 18:38] brentschmaltz commented on #369
@PinpointTownes we are going to work on it and if we can get it done before ASP.NET is done AND they will take a new drop. But I wouldn't block ship on it.

[2016-04-26 18:46] brentschmaltz opened #375 "Review Exceptions Thrown by JwtSecurityTokenHandler"
1. Make sure there are tests for all exception paths.
2. Exception messages displayed to users are correct, make sense, are actionable, well-formed.
3. Derivation makes sense. For example, SecurityTokenInvalidSignatureException derives from SecurityTokenValidationException, etc.
4. /// Method comments reflect Exceptions thrown correctly.

[2016-04-27 04:09] brentschmaltz opened #376 "Nuget packages specify incorrect author."
The packages specify the assembly name as the author. It should be something like AzureAD or AzureActiveDirectory.

[2016-04-27 15:23] brentschmaltz opened #377 "JwtSecurityTokenHandlerTests.ActorTests has a race condition that can cause test failures."
nbf, exp, iat claims are off a bit.

 propertyInfo.Name: Claims

[code]

[2016-04-28 15:48] brentschmaltz opened #378 "JsonWebKey.KeySize throws ArgumentNullException if N, X, K is null."
If any of these are null, just return 0.

[2016-04-30 02:49] whatsdis opened #379 "how to integrate AD b2c in Bot Framework?"
been trying all day to get my bot framework chat bot to authenticate user via Active directory B2C

Is it possible to call /Account/SignIn URL from bot framework to authenticate the user? Afterwards, how would you capture the token and pass it to BotUserData?

The only authentication example I found was https://azure.microsoft.com/en-us/blog/bot-framework-made-better-with-azure/ but that solution

[2016-05-04 18:52] ChenYan98 opened #384 "Add remarks indeciate default EventLevel in LogHelper"
Specify that level is error

[2016-05-04 19:07] ChenYan98 commented on #384
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/383

[2016-05-04 19:07] #384 closed

[2016-05-05 16:20] brentschmaltz opened #387 "Release Notes for RTM."
Opening this to track changes for RC2.

OpenIdConnectConfiguration, JsonWebKey, JsonWebKeySet now return collections that users will need to add / remove items rather than setting the entire collection.

[2016-05-06 01:40] #336 closed

[2016-05-06 22:12] brentschmaltz commented on #378
Bundled in this fix.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/382

[2016-05-06 22:12] #378 closed

[2016-05-06 22:15] brentschmaltz opened #389 "Use CLI Build"
project.json settings for excluding src and copying files to output directory have change. This results in warnings.

Need to put exclude and copyToOutput in buildOptions.

"compile": { "exclude": [ "WsFederationMessageTests.cs" ] }
"copyToOutput": [ "google-certs.json" ]

[2016-05-06 23:46] tushargupta51 commented on #358
Re-opening since this is not fixed in 4.x yet.

[2016-05-06 23:46] tushargupta51 commented on #342
Re-opening since this is not fixed in 4.x yet.

[2016-05-06 23:46] tushargupta51 commented on #85
Re-opening since this is not fixed in 4.x yet.

[2016-05-06 23:46] tushargupta51 commented on #84
Re-opening since this is not fixed in 4.x yet.

[2016-05-09 22:00] ChenYan98 commented on #61
We don't fix it in 4.x since there is no logging module.

[2016-05-09 22:00] #61 closed

[2016-05-09 22:00] ChenYan98 commented on #59
We don't fix it in 4.x since there is no logging module.

[2016-05-09 22:00] #59 closed

[2016-05-11 12:52] PinpointTownes opened #395 "Reintroduce GetAsymmetricAlgorithm/GetSymmetricAlgorithm"
The base `AsymmetricSecurityKey` and `SymmetricSecurityKey` classes should expose `GetAsymmetricAlgorithm`/`GetSymmetricAlgorithm` to allow retrieving the underlying algorithm without having to cast the security key to known types.

@brentschmaltz any chance we could bring back these APIs for RTM?

[2016-05-11 18:59] brentschmaltz commented on #395
@PinpointTownes my current thought is to role back the change we did in https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/386, make the fix that we check for AsymmetricAlgorithmResolver before faulting and rethink it. We are always going to have the situation where users need to extend algorithm support. The model we put in requires deriving both Provider an

[2016-05-11 19:16] PinpointTownes commented on #395
TBH, without seeing a prototype, it's hard to say :smile:

That said, assuming `AsymmetricAlgorithmResolver` would work as .NET Desktop's `CryptoConfig`, then yeah, this sounds like the right approach to enable crypto agility on the long term.

Concerning `SecurityKey.IsSupportedAlgorithm`, no real preference. I believe the signature should stay as-is, so I'm not sure it's worth reverting it ATM.

[2016-05-11 21:20] tushargupta51 commented on #395
@PinpointTownes Unfortunately, we cant make any changes to RC2, the bar is too high. We will get it fixed in nightlies though.

For `IsSupportedAlgorithm`, I am thinking of adding a delegate: `CryptoProviderFactory.IsSuuportedAlgorithmDelegate` (maybe a different name). Then `SecurityKey.IsSupportedAlgorithm` will look like this:

         public override bool IsSupportedAlgorithm(string algorithm

[2016-05-11 21:29] PinpointTownes commented on #395
@tushargupta51 for RC2, it's of course too late, that's why I suggested keeping the API as-is (no rollback) and adding the necessary stuff in the next milestone :+1:

Your approach seems fine, and it's pretty close to what `CryptoConfig` offers,:

[code]

[2016-05-11 22:38] brentschmaltz commented on #395
@PinpointTownes thanks again for your input :+1:

[2016-05-12 21:11] ChenYan98 opened #396 "Should we remove SecurityKeyIdentifierClause?"
Currently it is not used.

[2016-05-12 23:28] PinpointTownes commented on #395
On a related note, I opened a ticket on dotnet/corefx to bring back `X509Certificate2.PublicKey.Key` and `X509Certificate2.PrivateKey`: https://github.com/dotnet/corefx/issues/8491.

It would allow implementing `X509SecurityKey.GetAsymmetricAlgorithm` without having to call the algo-specific extensions.

[2016-05-13 22:41] ChenYan98 opened #397 "Should we remove X509CertificateValidationMode"
Currently it is not used.

[2016-05-17 16:45] brentschmaltz commented on #397
That is used as part of xml signature validation. When xml is signed with X509Data and the public key is embedded in the xml, we need to validate the cert.

[2016-05-17 16:45] #397 closed

[2016-05-18 16:18] leastprivilege opened #400 "Alg still wrong?"
I still get the weird XML identifier for alg in a JWT in RC2. Wasn't that fixed?

[2016-05-19 18:10] brentschmaltz commented on #400
@leastprivilege we removed the outbound mapping.
What are you seeing?

[2016-05-19 18:55] brentschmaltz commented on #359
Fixed, added Property AdditionalData
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/382/files

[2016-05-19 19:25] polita commented on #312
We will document all exceptions that can be thrown in #375. This should enable you to catch the exceptions you care about.

[2016-05-19 19:25] #312 closed

[2016-05-19 19:32] polita commented on #316
Because we only support JWT right now, we will consider this when we reintroduce SAML.

[2016-05-19 19:35] polita commented on #271
@ChenYan98 Please build a sample to try this out.

[2016-05-19 19:38] PinpointTownes commented on #316
Fantastic, and in the meantime... https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/400

[2016-05-19 19:39] polita commented on #270
Can we log the assembly version in JWTSecurityTokenHandler and ConfigurationManager with a static ctor.

[2016-05-19 19:44] polita commented on #222
Please add a link to the existing test for this.

[2016-05-19 19:50] #88 closed

[2016-05-19 20:10] polita commented on #342
Because of the way we create the subtoken, there's no good way to override the claims creation.

[2016-05-19 20:18] polita commented on #314
We need to figure out if this is still a bug in 5.x as well.

[2016-05-19 20:32] #181 closed

[2016-05-19 20:32] polita commented on #163
Fixed in both 4.x and 5.x

[2016-05-19 20:32] #163 closed

[2016-05-19 20:35] polita commented on #150
Please close if this is fixed in 4.x

[2016-05-19 20:35] #95 closed

[2016-05-19 20:36] polita commented on #84
Unless a customer asks for this, we will stick with the fix in 5.x

[2016-05-19 20:36] #84 closed

[2016-05-19 20:41] #249 closed

[2016-05-19 20:44] polita commented on #179
@tushargupta51 Please confirm that this is only an issue still for Mono. If so, let's close.

[2016-05-19 21:15] brentschmaltz opened #401 "Default Automatic MetadataRefresh should be 1 day instead of 5 days."
See:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols/Configuration/ConfigurationManager.cs#L48

[2016-05-19 21:59] tushargupta51 commented on #179
The original where creating a proxy does not work on mono is still an issue but only on mono. The other issues reported about `RSACng` not working on CoreClr has been fixed for both `RsaSecurityKey` and `ECDsaSecurityKey`, since we use Rsa.Create() method and for ECDsa, we provide the extensiblity to hook up custom providers (which will work on unix/mac.

Since this is an issue only for mono, whic

[2016-05-19 21:59] #179 closed

[2016-05-19 22:03] matvelloso commented on #379
Hello. While we don't have a great sample of that yet (working on it) you can take this one and adapt: https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/SimpleFacebookAuthBot

The difference is that this sample is specific for Facebook, so it will generate an oauth string that will send the user straight to facebook's page. In your scenario you will need to generate an oauth URL t

[2016-05-19 22:30] tushargupta51 commented on #375
@vibronet This is the issue that asp.net is waiting on.

[2016-05-19 22:33] PinpointTownes commented on #179
Really unfortunate, but not surprising.

[2016-05-19 23:08] brockallen commented on #400
JWTs have this for the header:

[code]

The `alg` is wrong.

[2016-05-19 23:18] #379 closed

[2016-05-20 02:57] bgever opened #402 "Branch guidance and releases page"
I'm using NuGet package [System.IdentityModel.Tokens.Jwt v5.0.0-rc2](https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/5.0.0-rc2-305061149), however I am unable to find from this repo which branch was used to release this package. The Releases page also uses different versions not aligned with the NuGet package.

The master branch seems outdated with last commits around Dec 2015, howe

[2016-05-20 03:02] bgever opened #403 "Validators.ValidateIssuerSecurityKey does not validate"
The actual validation of the key is commented out in various branches:

- https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/Validators.cs#L172
- https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Tokens/Validators.cs#L171

[2016-05-20 10:14] bgever opened #404 "ValidateTokenReplay happens too early in JwtSecurityTokenHandler.ValidateToken"
Refer to the following line in the `JwtSecurityTokenHandler.ValidateToken` method:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L562

The call to `ValidateTokenReplay` happens presumably at this line because the `expires` variable is available. However, there are more validations after

[2016-05-20 16:06] tushargupta51 commented on #402
@bgever We usually tag our releases with the package version released on nuget. We forgot to tag a release for Rc2. Also, we have 7 packages that are released every release. Some of the packages start with 2.0.0 and some starts with 5.0.0 but all of them have the same patch/release number which should be used to find a branch corresponding to a released package. I just added a release for Rc2.

Ma

[2016-05-20 16:07] tushargupta51 commented on #403
This is a known issue: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/329. We plan to get to this post-GA.Closing this as dup.

[2016-05-20 16:07] #403 closed

[2016-05-21 06:25] bgever commented on #329
There is a serious issue with this, that from an API consumer standpoint, this missing implementation is not obvious at all. In fact, it was only that when I *happen* to check the source code, that I found out the actual validation is commented out!

So in the following case:

[code]

There is no warning at all, and I would *falsely believe* that the validation is happening, posing a security risk

[2016-05-21 06:45] bgever commented on #402
Thanks for creating the RC2 release.

If I were to contribute code with a PR, I would have to know what branch would be the best to branch off and create the PR for. Currently that is still unclear, though your message helped. My current guess is the KDev branch?

I suggest to add a CONTRIBUTING.md to the root of the project (also in the master branch), which may refer to a Wiki page here on GitHu

[2016-05-21 07:29] tushargupta51 commented on #402
@bgever Agree with you. We need better documentation. I will update Contributing, Readme and wiki so that external users have more idea about the code structure, now that we have 3 different versions in same repo.

In the meantime, if you have to contribute to the latest versions, KDev is the right branch. If you want to contribute to 4.x versions, dev is the right branch.

[2016-05-21 09:29] bgever commented on #402
Great, thanks for clearing that up @tushargupta51! :smile:

[2016-05-23 17:18] brentschmaltz commented on #404
@bgever this makes sense. Thanks for the input. Marked for RTM.

[2016-05-23 17:23] brentschmaltz commented on #400
@leastprivilege , @brockallen it looks so you are looking for the outbound mapping (where we had an equivalence class of algorithms that were mapped to the JWT ns) to be re-installed.
Our thought was, the user set the algorithm on SigningCredentials and we didn't want to mess with it.
But, we are hearing that it was somewhat useful.

[2016-05-23 17:28] brentschmaltz commented on #395
@PinpointTownes we changed the model from the key returning an algorithm to returning a CryptoProvider / SignatureProvider. Which makes X509SecurityKey.GetAsymmetricAlgorithm equivalent to X509SecurityKey.GetSignatureProvider.

This aligns with our belief that keys just have data, CryptoProviders do work. The extensibility seemed easier when these two pieces are kept separate.

[2016-05-23 17:39] PinpointTownes commented on #395
That would be true if I wanted to use the `AsymmetricAlgorithm` instance returned by `GetAsymmetricAlgorithm()` to sign data or to verify a signature, but relying on `SignatureProvider` no longer works if I want to access the underlying public key material (e.g to expose the RSA modulus/exponent in a JWK set)

[2016-05-23 21:46] brentschmaltz opened #407 "SecurityKey.GetSignatureProvider uses different parameter names than SignatureProvider."
SecurityKeys use: verifyOnly
SignatureProviders use: willCreateSignatures

they should both be the same.

[2016-05-23 22:14] tushargupta51 commented on #407
I think the reason we did not change that earlier is because this will be a breaking change for people, since it changes the meaning of the boolean, and we thought it was not worth it.

[2016-05-23 23:03] brentschmaltz opened #409 "Remove unused files in Microsoft.IdentityModel.Protocols"
Base64UlrConverter.cs and GlobalSuppressions.cs are not used.

[2016-05-24 01:31] bgever commented on #404
Great, thanks for adding to the RTM milestone, @brentschmaltz.

[2016-05-24 04:22] #374 closed

[2016-05-24 04:22] #401 closed

[2016-05-24 10:50] brockallen commented on #400
I don't follow. The JWA spec does not list that `alg`:

https://tools.ietf.org/html/rfc7518#section-3.1

[2016-05-24 15:36] PinpointTownes commented on #400
@leastprivilege @brockallen not sure it's worth arguing. I've tried hard and lamentably failed: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/317#issuecomment-163076860.

[2016-05-24 15:50] brockallen commented on #400
Right, but JWTs/id_tokens produced by this library will then fail to validate.

[2016-05-24 18:40] brentschmaltz commented on #400
@brockallen @PinpointTownes that is a good point that we will fail to inter-operate.
We will try and fit this in, outbound mapping only.

[2016-05-24 18:42] brentschmaltz commented on #395
Can't you get the modulus/exponent from the key?

[2016-05-24 19:07] leastprivilege commented on #400
Thank god @brockallen discovered this issue. Was a tricky one.

[2016-05-24 19:20] PinpointTownes commented on #400
@leastprivilege actually, it's not really new: two ASOS users reported this issue in November and I immediately informed the Azure AD team about the implications of this change:

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/300#discussion_r45013780
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/316

![image](

[2016-05-24 22:32] tushargupta51 commented on #358
Closing this as we do not uplevel `RsaCryptoServiceProvider` in 4.x., that happens in System.IdentityModel.Token.SecurityKey class in .net. Please note that the fix for upleveling without breaking hardware keys is available in .net 4.6.2 and later versions.

[2016-05-24 22:32] #358 closed

[2016-05-24 22:35] tushargupta51 commented on #387
We will release notes when releasing RTM.

[2016-05-24 22:38] brentschmaltz commented on #400
@PinpointTownes now now, we weren't convinced it was needed. It is up to the user to set the outbound algorithm. But now we agree that it will help.

Exception messages are important to get right.

[2016-05-24 22:39] #154 closed

[2016-05-24 22:41] brentschmaltz commented on #400
@PinpointTownes @brockallen If there are any other nagging items, please speak up so we have a chance to get them in.

[2016-05-25 05:13] leastprivilege commented on #400
@PinpointTownes that was sarcasm - but never mind ;)

[2016-05-25 17:23] PinpointTownes commented on #400
@leastprivilege my sarcasm radar must be broken, then :smile:

@brentschmaltz so, is this something you'll fix for RTM?

[2016-05-25 18:46] brockallen commented on #400
If not, then I doubt we can use this library in IdentityServer. Maybe that's by design? :)

[2016-05-25 18:58] PinpointTownes commented on #400
FWIW, my PR was ready to be merged: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/317/files. Would you like me to rebase it?

My approach was clear:
  - Remove the totally insane mix between XMLDsig and JWA identifiers in `SecurityAlgorithms` and opt for one standard only. For consistency with IdentityModel 4, I opted for the XMLDsig identifiers.
  - Mak

[2016-05-25 20:48] brentschmaltz commented on #400
@PinpointTownes @brockallen We are going to fix at least outbound for RTM.

[2016-05-25 21:06] PinpointTownes commented on #400
It is, but I don't think that's a reason to accept XML security algorithms (at least by default).

And hem, it's really urgent to fix your stuff. There are currently many methods where things are totally mixed up (digest/hash algorithms instead of signature algorithms...).

Even your unit tests are impacted by this mess: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for

[2016-05-25 21:28] brentschmaltz commented on #400
To that point, our extensibility in OpenIdConnectProtocolValidator is lacking.

[2016-05-25 21:45] PinpointTownes commented on #400
It's so much more than an extensibility issue, actually.

[2016-05-25 22:02] brentschmaltz commented on #400
I was referring to below, where the user may have difficulties creating a custom algorithm as the algorithms are fixed, of course the method is virtual, but not tied to the HashAlgorithmMap.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectProtocolValidator.cs#L439

I think you are refer

[2016-05-25 22:05] brentschmaltz opened #414 "OpenIdConnectProtocolValidator does not use HashAlgorithmMap."
When determining the hash algorithm to use, the HashAlgorithmMap is not consulted.
Also, remove Sha256, Sha384, Sha512 from list.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectProtocolValidator.cs#L421

[2016-05-25 22:08] PinpointTownes commented on #400
An error I reported 7 months ago: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/317/files#r45627961 :smile:

[2016-05-25 22:10] brentschmaltz commented on #400
Is it too late to say Thank-You :blush:

[2016-05-25 22:12] PinpointTownes commented on #400
I'm not here for glory ; fix it, and you'll make me happy :smile:

[2016-05-26 10:20] bgever opened #415 "Default 'sub' claim mapping does not resolve to ClaimsPrincipal.Identity.Name"
To process a JWT, the API consumer is going to use most likely the [`JwtSecurityTokenHandler.ValidateToken`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KRelease/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L504) method, to get a `ClaimsPrincipal`.

[RFC7519 states for the registered 'sub' claim](https://tools.ietf.org/html/rfc7519#se

[2016-05-26 16:56] brentschmaltz opened #416 "IssuerSigningKeyValidator delegate should take SecurityToken as a parameter"
All TokenValidationParameters delegates (except SignatureValidator) take the SecurityToken being validated except IssuerSigningKeyValidator.

Add SecurityToken as second parameter

[2016-05-26 20:42] polita commented on #402
Fixed with PR #413

[2016-05-26 20:42] #402 closed

[2016-05-27 01:08] bgever commented on #402
Awesome, super clear now, thanks a ton @polita! I like how README.md now clearly versions the namespaces.

[2016-05-27 01:59] bgever commented on #415
Two workarounds for the current versions (tested with 5.0 RC2):

1) Clear the mapping table, and set the `NameClaimType` on the `TokenValidationParameters`:
[code]
2) Override the default mapping table to use the *Name* claim type rather than *NameIdentifier*:
[code]

The first one is more "true" to the original JWT claims, as none of the claims will expand to "long" versions.
Second one is the qu

[2016-05-28 09:22] leastprivilege commented on #415
sub is not the name of a user. It's the unique user id.

[2016-05-29 01:19] in10se commented on #179
@sunsided , I'm facing the same issue while creating a JWT token:

You wrote the following:

How does one not use a proxy when creating a JWT token?

[2016-05-30 08:31] bgever commented on #415
What's the framework's recommended way of retrieving the sub (i.e. unique user id) from the ClaimsPrincipal object?
[code]
This would not work, because by default the claims are converted to their long values. That's a framework feature, but not something I would expect when I'm just parsing a JWT.

So the following would work, but this behavior isn't clear to someone calling the API:
[code]
The w

[2016-05-30 09:06] leastprivilege commented on #415
I personally think it is **evil** that the JWT handler converts the standard claim types to the Microsoft favoured ones.

you can turn that globally off by setting the static `DefaultInboundClaimTypeMap` property on the JWT handler.

After that - yes do a `FindFirst` on `sub`.

[2016-05-30 10:48] bgever commented on #415
The `JwtSecurityTokenHandler` should allow to be constructed without a mapping table (instead of requiring to override it), what could be done with a flag in the constructor.

[2016-05-30 10:59] leastprivilege commented on #415
If you construct the handler yourself you can clear the instance `InboundClaimTypeMap` property.

Yea - not a fan at all - but thats the way it is - legacy.

[2016-05-30 11:19] bgever commented on #415
Yes, that's what I do in my first workaround above. :smile:

[2016-05-31 01:54] bgever commented on #415
I guess the way to go, is to add a constructor overload to the `JwtSecurityTokenHandler`, where the value of the `InboundClaimTypeMap` can be specified with an argument. When it's `null`, then the field will be set to an empty map. The constructor can then *specify why the map may be needed* (i.e. identity processing with "full" claim names), so that the consumer of the API knows what is happening

[2016-05-31 16:50] #369 closed

[2016-05-31 16:52] #409 closed

[2016-05-31 22:26] Tratcher opened #422 "SecurityToken exceptions should include details as properties"
E.g. SecurityTokenInvalidAudienceException should have an InvalidAudiance property containing the invalid value. Similarly for SecurityTokenInvalidIssuerException, SecurityTokenInvalidLifetimeException, SecurityTokenNotYetValidException, SecurityTokenExpiredException, and maybe SecurityTokenInvalidSignatureException and SecurityTokenSignatureKeyNotFoundException.

RE: https://github.com/aspnet/Sec

[2016-06-01 21:54] #373 closed

[2016-06-02 03:41] bgever opened #426 "Double space in error message IDX10214"
The error message [IDX10214](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b2f7484d3bf6786e355922b113d27ca06d0cc2ba/src/common/ErrorMessages.cs#L59) contains a double space, inconsistent with error message IDX10205. Occurs in both the 4.x and 5.x branches.

Noticed this when creating unit tests checking both these messages.

Will submit a PR shortly.

[2016-06-02 18:45] m-andrew-albright commented on #400
I would like this to be fixed as well.  This completely derails our ability to validate signed JWTs from our Identity Server.

[2016-06-02 19:01] ChenYan98 commented on #271
UAP is not supported for RTM.

[2016-06-02 19:03] #375 closed

[2016-06-02 19:36] brentschmaltz commented on #426
@bgever thanks, will wait for your PR

[2016-06-02 19:45] brentschmaltz commented on #416
fixed in:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/406

[2016-06-02 19:45] #416 closed

[2016-06-02 19:51] brentschmaltz commented on #415
@bgever @leastprivilege it seems you are both suggesting that mapping should be OFF by default.
Correct?
The legacy was the result of normalizing between SAML and JWT tokens so an authorization provider would not need to see the difference.

[2016-06-02 21:00] brockallen commented on #415
IIRC we asked for the mapping to be off by default a long time ago. People using the JWT library are all targeting OIDC where those claims types are specified and it's burdensome to keep seeing XML namespaces for the legacy WS-* claim types.

So in short we do see the difference today in Katana because we have to explicitly disable the mapping in every API and every client app. It'd be nice to not

[2016-06-02 21:15] polita commented on #422
@Tratcher We've moved this to the backlog because we don't think we can get this done for RTM.

[2016-06-02 21:24] polita commented on #407
Let's just live with this, since this would be a breaking change.

[2016-06-02 21:24] #407 closed

[2016-06-02 21:31] polita commented on #387
Let's do this during escrow.

[2016-06-02 21:35] polita commented on #271
@ChenYan98, Please send mail to @jbarton to figure out if the errors we see are expected.

[2016-06-02 21:43] polita commented on #271
Need to readme our support. We can do this during escrow.

[2016-06-03 04:39] tushargupta51 commented on #376
PR sent on devex-build repo

[2016-06-03 04:44] leastprivilege commented on #415
There will be always some sort of mapping going on - but the JWT handler is the wrong place to do that IMO. That's application logic.

So yes - I still opt for turning it off (now's the last chance)

[2016-06-03 05:48] bgever commented on #415
Agreed, the mapping should be off, it is unexpected application logic as @leastprivilege said.

I guess the reason why it is happening in the JWT handler, is that the `ClaimsPrincipal` which is returned from `ValidateToken`, is created with a mapping. This logic is defined in [`TokenValidationParameters.CreateClaimsIdentity`](https://github.com/AzureAD/azure-activedirectory-identitymodel-extension

[2016-06-03 06:00] bgever commented on #426
Note, the PR is for 4.x (dev branch), the same issue is also in 5.x, do I need to make another PR to the KDev branch?

[2016-06-03 17:49] #404 closed

[2016-06-03 18:16] #372 closed

[2016-06-03 18:45] tushargupta51 commented on #426
@bgever Yes, please.

[2016-06-06 15:13] #389 closed

[2016-06-06 16:55] javiercn opened #431 "Update Json.NET to 9.0.1"
It has support for netstandard with removes the need for using imports in project.json files
We are updating all ASP.NET repositories to this version, given that some of our projects have a transitive dependency to Json.NET from this library it would be good if it can be updated here. See https://github.com/aspnet/Security/pull/867#issuecomment-224014808 for more details.

[2016-06-06 16:56] Eilon commented on #431
@polita @brentschmaltz @tushargupta51 FYI we would like to get this in ASAP because all the new stuff is standardizing on this version of Json.NET.

[2016-06-06 17:25] polita commented on #431
@Eilon @javiercn We're on it. Should be done today.

[2016-06-06 20:42] brentschmaltz commented on #431
@Eilon @javiercn just pushed *-rc3-306061321 to our myget feed.
https://www.myget.org/F/azureadwebstacknightly/api/v3/index.json

[2016-06-06 20:42] #431 closed

[2016-06-06 20:57] #270 closed

[2016-06-06 21:01] brentschmaltz opened #434 "JwtSecurityTokenHandlerTests.ValidateTokens is failing"
Investigate and fix.

[2016-06-06 21:16] brentschmaltz opened #435 "Add nuget serviceable attribute to package."
nuget team has added support for serviceability attribute.
see: https://github.com/dotnet/corefx/issues/9072

[2016-06-07 18:32] #376 closed

[2016-06-07 18:43] Eilon commented on #431
Thanks!

[2016-06-08 03:09] bgever commented on #426
Submitted PR #437 for 5.x.

[2016-06-08 05:41] tushargupta51 commented on #426
Thanks @bgever .

[2016-06-08 05:41] #426 closed

[2016-06-08 16:43] polita commented on #435
Fixed with PR #436

[2016-06-08 16:43] #435 closed

[2016-06-08 16:52] polita commented on #271
@leastprivilege Some parts of the cryptography libraries (such as CSP) won't work on UWP. In theory, other parts of the stack should work. However, we haven't verified that they actually do work on a UWP, and I foresee that we won't be able to do that until after RTM. If you'd like to take a swing at trying it out and letting us know what you find, we'd be appreciative.

I'm moving this to the bac

[2016-06-08 18:02] #434 closed

[2016-06-09 18:40] polita opened #441 "Update version numbers to 3 segments"
Use semver-friendly version numbers. For instance, 5.0.1

[2016-06-09 19:06] polita commented on #236
Moving any coding changes to the backlog. Adding a test-and-document work item for RTM. If we find issues, let's use this to address them.

[2016-06-09 19:08] polita opened #442 "Test and document how we handle unicode mapping"
Let's do this during escrow.

[2016-06-10 23:08] #136 closed

[2016-06-13 14:45] PinpointTownes opened #445 "Strong name validation failed (Exception from HRESULT: 0x8013141A)"
The latest IdentityModel packages are completely broken on .NET Desktop, likely because they now use delay signing:

Copyright (c) Microsoft Corporation. Tous droits réservés.

différée ou dont le test de signature a été effectué

/cc @brentschmaltz @polita @tushargupta51

@davidfowl thanks for the precious hint :clap:

[2016-06-13 16:39] Tratcher commented on #445
@muratg @Eilon This broke our build as well.

[2016-06-13 16:47] Eilon commented on #445
Yup, we've been talking to @brentschmaltz @tushargupta51 @polita since last night. We'll get this fixed ASAP!

[2016-06-13 19:42] polita commented on #445
@PinpointTownes We updated the CLI and .NET references and pushed new packages. Give them a try.

[2016-06-13 19:47] PinpointTownes commented on #445
Looks like they are not on the aspnetcidev feed yet. I'll wait a bit before giving them a try :smile:

[2016-06-13 21:29] PinpointTownes commented on #395
@brentschmaltz oops, looks like I missed your reply.

Sure. But for that, I need a `RSA` instance, to call `ExportParameter`. And currently, I have to manually cast a `SecurityKey` to `RsaSecurity` or `X509SecurityKey` to get this precious instance.

I need a base method that allows me to retrieve an algorithm instance if it's supported, independently of the key type.

[2016-06-14 00:34] tushargupta51 commented on #441
Fixed in https://github.com/AzureAD/devex-build/pull/84

[2016-06-14 02:53] kcd83 commented on #179
@in10se regarding using this with JWT I posted a simple workaround for symmetric keys here: http://stackoverflow.com/a/37802139/516748

[2016-06-14 09:03] bgever commented on #426
Thanks for accepting the PRs. :smile:

[2016-06-14 09:18] bgever opened #449 "How to limit accepted JWT alg values for validation?"
I could not find a way to restrict the supported signing algorithms which are checked during validation.

For instance, I only want to accept RS384 and up or HS512. So HS256 must not be accepted.

Note, there are no [unit tests](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KDev/test/System.IdentityModel.Tokens.Jwt.Tests/JwtSecurityTokenHandlerTests.cs)

[2016-06-14 16:53] brentschmaltz commented on #414
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/444

[2016-06-14 16:53] #414 closed

[2016-06-14 16:53] brentschmaltz commented on #400
@leastprivilege @PinpointTownes @m-andrew-albright https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/447

[2016-06-14 16:53] #400 closed

[2016-06-14 16:55] brentschmaltz commented on #316
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/447
We addressed outbound mapping in: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/447

[2016-06-14 16:55] #316 closed

[2016-06-14 17:06] brentschmaltz commented on #395
Moving to backlog. Will address next release.

[2016-06-14 17:09] brentschmaltz commented on #441
Fixed in Jenkins build.

[2016-06-14 17:09] #441 closed

[2016-06-14 22:40] ChenYan98 opened #450 "Add ConfigureAwait to avoid deadlock"
The same issue has been mentioned in #301

[2016-06-14 22:46] #301 closed

[2016-06-15 16:23] AndersAbel commented on #246
Finally have had some time to look into this from the Kentor.AuthServices end. It's a SAML2 OWIN middleware that's often used together with IdentityServer3, which relies on System.IdentityModel.Tokens.Jwt.

The reason for all of this is actually in the .NET framework where `X509AsymmetricSecurityKey.GetSignatureFormatter` contains some black magic to copy the key to a new RsaCryptoServiceProvider

[2016-06-15 20:32] brentschmaltz commented on #445
@PinpointTownes were you able to build?

[2016-06-15 20:33] Tratcher commented on #445
FYI: Our builds are passing now.

[2016-06-15 22:06] kevinchalet opened #453 "Bring back SecurityKey.IsSupportedAlgorithm"
When fixing ASOS to use the newest IM bits, I had to replace `SecurityKey.IsSupportedAlgorithm` by the new syntax.

[code]

->

[code]

Unfortunately, it doesn't work at all because the key itself is not flowed up to `CryptoProviderFactory.IsSupportedAlgorithm` so it always returns `false` even if the key is a RSA key.

You now have to use this extremely weird and error-prone syntax:

[code]

@bre

[2016-06-15 22:12] PinpointTownes commented on #445
@brentschmaltz yep, looks like it's working, now. Thanks :+1:

[2016-06-15 22:12] #445 closed

[2016-06-15 22:17] PinpointTownes commented on #400
Fix confirmed, thanks :clap:

[2016-06-15 23:37] brentschmaltz commented on #453
SecurityKey.IsSupportedAlgorithm(x) just calls SecurityKey.CryptoProviderFactory.IsSupportedAlgorithm(x, this).

We felt it was just redundant and wanted to highlight that CryptoProviderFactory is the object that knows that there support for the (algorithm, key) pair.

It is something we could add back, but not for RTM.

[2016-06-15 23:38] PinpointTownes commented on #453
Seems much better than this syntax, IMHO:

[code]

Looks like it's another limitation I'll have to work around. Kinda tired of that, TBH.

[2016-06-16 00:00] brentschmaltz commented on #453
Syntactically we could go either way. So we went smaller, it's easy to add. Very hard to remove.
But is it really limiting? To be able to serve up a crypto operator with confidence the key and algorithm must be presented.

Are you in favor of such methods on SecurityKey:

GetSignatureProvider(algorithm)
GetAlgorithm (Asymmetric / Symmetric)
IsSupportedAlgorithm(x)
GetPublicJson
GetPublicXml

[2016-06-16 00:05] PinpointTownes commented on #453
It's not a blocking issue. I just wasted 1/2 hour trying to understand why it was not working.
The syntax really sucks, IMHO.

Except `GetPublicJson` and `GetPublicXml`, yes, I am :smile:

[2016-06-16 00:10] tushargupta51 commented on #450
Talked to @brentschmaltz about this, we don't have a repro ATM, moving this to 5.0.1.

[2016-06-16 00:44] brentschmaltz commented on #453
Your opinion matters, so we should start thinking about the api's.
What led to our change was we were concerned that it would be hard to put in a single FIPS compliant SHA256 HashAlgorithm that both OIDCProtocolValidator would use for c_hash and JWTHandler for tokens. Our previous OM made that hard.

I think the conversation we had along the lines:

Is a good place to start. I suppose we could use

[2016-06-20 18:12] ChenYan98 opened #454 "Introduce new property "X5t" in X509SecurityKey"
The Kid we set in the in the constructor is the certificate.Thumbprint. That Kid is not the correct value to use if a user wants to set x5t in the JwtHeader. It should be Base64UrlEncoded(cert.Thumbprint); We can leave Kid alone and introduce a Property: X509SecurityKey.X5t { get; }. We can decide if we want to automatically add the x5t in the JwtHeader.

[2016-06-21 18:11] brentschmaltz commented on #442
The JSON https://tools.ietf.org/html/rfc7159 specification defines a text mappings.

Section https://tools.ietf.org/html/rfc7159#section-8 describes equivalency classes of characters.
We should she how this applies to our string comparisons such as: audience comparisons when validating tokens.

[2016-06-22 04:48] adamcode opened #455 "JwT Token Signature Validation with RSA Signing Keys Fails"
The implementation of JsonWebKeySet doesn't correctly create a signing key in all cases as it doesn't correctly interpret the unsigned integer for the modulus in all cases. This means token signature validation will fail. For example if your public key is:-

{"keys":[{"kty":"RSA","kid":"SylLC6Njt1KGQktD9Mt+0zceQSU=","use":"sig","alg":"RS256","n":"AK0kHP1O-RgdgLSoWxkuaYoi5Jic6hLKeuKw8WzCfsQ68ntBDf6

[2016-06-22 15:56] brentschmaltz commented on #455
@adamcode Can you share a JWT?

[2016-06-23 02:12] adamcode commented on #455
Here is one that shows the issue:-

eyAidHlwIjogIkpXVCIsICJraWQiOiAiU3lsTEM2Tmp0MUtHUWt0RDlNdCswemNlUVNVPSIsICJhbGciOiAiUlMyNTYiIH0.eyAic3ViIjogInRlc3R1c2VyMkBleGFtcGxlLmNvbSIsICJpc3MiOiAiaHR0cDovL29wZW5hbS5ob25leXdlbGwuY29tOjYwODAvb3BlbmFtL29hdXRoMiIsICJ0b2tlbk5hbWUiOiAiaWRfdG9rZW4iLCAibm9uY2UiOiAiNjM2MDIyNDM5NzE4NDUyODE2Lk1tTXpOelZrWm1JdFpXVXpZeTAwTkRZd0xXRXdNell0T1RnNU1HVmxZemMyTTJRek1qVmlPVEE0

[2016-06-23 16:26] brentschmaltz commented on #455
@adamcode What I am seeing here is the modulus is 129 bytes. It should be 128 bytes.
see: https://tools.ietf.org/html/rfc7518#section-6.3.1.1

If I use just the first 128 bytes the signature check succeeds.

            var e = "AQAB";
            var modulus = Base64UrlEncoder.DecodeBytes(n);
            var modulus2 = new byte[128];
            Buffer.BlockCopy(modulus, 1, modulus2, 0, 128);

[2016-06-23 22:42] adamcode commented on #455
This will work, but I suspect the reason it is 129 is that the DecodeBytes call is incorrectly adding a sign bit to the front of the bytes. I think it would be safer to try and ensure the correct conversion from the bytes to an unsigned large integer is done rather than trim the byte.

From: BrentSchmaltz [mailto:notifications@github.com]
Sent: Friday, 24 June 2016 2:27 AM
To: AzureAD/azure-active

[2016-06-23 23:16] tushargupta51 commented on #175
I think we missed the ctor here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/KRelease/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/Exceptions/OpenIdConnectProtocolException.cs#L64

All other oidc exception classes have these ctors inside "#if DESKTOPNET45" which I am not sure is the right target.

Please check the ctor for exception classes in M

[2016-06-24 09:29] adamcode commented on #455
Out of interest I looked at how https://github.com/bcgit/bc-csharp/blob/master/crypto/src/math/BigInteger.cs handled the removal of the sign bit - there's a lot of code in there to both remove leading 0 bytes in the constructor and then handle the output the correct bytes in the ToByteArray method.

[2016-06-24 23:28] brentschmaltz commented on #455
@adamcode I am thinking about this from the perspective of the decoder.  In general, a decoder does so without any idea of what it is decoding. Following the logic here: https://tools.ietf.org/html/rfc7518#section-6.3.1.1 seems to indicate the creator of the modulus should only add the significant 128 bytes. You could argue for RSA, it's obvious that it should be 128. Such assumptions make interro

[2016-06-27 20:13] #387 closed

[2016-06-28 18:43] tushargupta51 opened #459 "Renaming branches"
Now that we have released 5.x version, we are going to rename some of the branches.

**5.x**
KDev -> dev
KRelease -> release

**4.x**
dev -> dev4x

This will give errors if you have a local clone and you do "git pull" as there will be no remote tracking branch for KDev.

[code]
To fix this, you can fetch from the upstream and merge the old branch (KDev) into the new one (dev).

[code]

We plan to

[2016-06-28 18:45] tushargupta51 commented on #459
cc: @brentschmaltz @polita @ChenYan98 @PinpointTownes @bgever @korroz @sandorfr @brockallen @leastprivilege @Tratcher

[2016-06-29 17:45] PinpointTownes commented on #459
Great. The previous branching strategy was a real mess :+1:

[2016-06-29 20:58] tushargupta51 commented on #359
Re-opening for 4.x

[2016-06-30 18:17] brentschmaltz commented on #459
thanks guys.

[2016-06-30 18:17] #459 closed

[2016-06-30 20:25] brentschmaltz commented on #455
closing as we think this is the issuers responsibility not the consumer.

[2016-06-30 20:25] #455 closed

[2016-07-01 18:26] brentschmaltz opened #463 "Contributing.md was lost in the branch rename"
need to modify existing with new branch names.

[2016-07-02 00:41] chriswill opened #466 "TokenValidationParameters namespace change impacts OpenIdConnectAuthenticationOptions"
I understand that TokenValidationParameters has moved from System.IdentityModel.Tokens to Microsoft.IdentityModel.Tokens in the 5.0.0 release.

However the class Microsoft.Owin.Security.OpenIdConnect.OpenIdConnectAuthenticationOptions has a property called TokenValidationParameters which references System.IdentityModel.Tokens.TokenValidationParameters.  It's current version is 3.01 and has not bee

[2016-07-03 18:31] tushargupta51 commented on #466
@chriswill Katana (Microsoft.Owin.Security.OpenIdConnect.OpenIdConnectAuthenticationOptions) does not support Wilson 5.x and there are no current plans to update 3.0.1 to use wilson 5.x. You need to switch to new asp.net core to get this support: https://github.com/aspnet/Security

[2016-07-04 13:26] leastprivilege commented on #466
That will be problematic.

I already heard reports of users where the Katana JWT bearer MW clashes with some other lib that depends on v5.

[2016-07-04 22:05] Zoltu opened #467 "Standardize package names."
It took me about 30 minutes to figure out that `System.IdentityModel.Tokens.Jwt` is part of the latest .NET Standard compatible release for this project.  Almost all of the `System.*` stuff from Microsoft has been renamed to `Microsoft.*` including most of the stuff hosted here.  Unfortunately, it appears that `JWT` and `SAML` somehow missed the boat which lead me to quite a bit of confusion since

[2016-07-05 01:22] MicahZoltu opened #468 "Add Async pattern for TokenValidation"
There are a number of places where `JWTSecurityTokenHandler` calls into user provided methods that may be doing some IO (e.g., database or remote calls) but they do so in a synchronous way.

One example of such a place is with JWT signature validation.  The user can provide their own `SignatureValidator` or `IssuerSigningKeyResolver`.  The act of validating a signature or resolving signing keys ma

[2016-07-05 07:03] bgever commented on #459
Thanks for the heads-up.

[2016-07-05 12:45] pieromm80 opened #469 "RSASecurityKey constructors issue"
Hi, I'm trying to create a new RSASecurityKey object, but I'm obtaining a weird behaviour
My code looks like this:
`using Microsoft.IdentityModel.Tokens;`
`using System.Security.Cryptography;`
`...`
`RSAParameters Parameters = new RSAParameters()`
`            {`
               `Modulus = /*my key*/,`
                `Exponent = /*my exponent*/,`
`            };`
            `RsaSecurityKey Key =

[2016-07-05 20:47] brentschmaltz commented on #468
@Zoltu I agree with you that off-box validation is a real scenario. We should have an async pattern up and down the call graph to realize this pattern.
We stopped at metadata retrieval.

[2016-07-05 20:49] brentschmaltz commented on #469
@pieromm80 what version of .net are you targeting? 4.5.1 is the min version. Can you share your project.json?

[2016-07-05 20:54] brentschmaltz commented on #467
@Zoltu this is great feedback. We had to pick a 'we think this will hurt fewer folks' option. We would have liked to leave everything in System.xyz, but we received feedback from users wanting to use System.IdentityModel.Tokens forced a change from System.IdentityModel.Tokens -> Microsoft.IdentityModel.Tokens. System.IdentityModel.Tokens.Jwt has millions of downloads. We wanted to keep that ns and

[2016-07-05 21:17] brentschmaltz commented on #466
@leastprivilege @chriswill an issue needs to be opened against Katana. @leastprivilege can you post here a link to the issue folks are seeing. I recently moved a project from Wilson4.x to Wilson5.x the changes were small.

[2016-07-06 05:27] leastprivilege commented on #466
e.g.

https://github.com/IdentityServer/IdentityServer3.AccessTokenValidation/issues/94

[2016-07-06 07:22] pieromm80 commented on #469
Thanks for the answer, I'm using 4.5 I'll try with 4.5.1 and look if it works properly

[2016-07-06 12:44] pieromm80 commented on #469
It was a matter of framework version, with 4.5.1 everything is ok! Thanks!

[2016-07-06 17:55] polita opened #470 "Contributing.md got lost in the branch restructuring"
Please add it back.

[2016-07-06 17:56] polita opened #471 "Need to add guidance on what versions work with ASP.NET versions."

[2016-07-06 17:57] polita commented on #470
Dup of #463

[2016-07-06 17:57] #470 closed

[2016-07-06 18:16] leastprivilege commented on #415
https://github.com/IdentityServer/IdentityServer3.Samples/issues/173#issuecomment-230853994

[2016-07-06 19:27] Tratcher commented on #466
https://katanaproject.codeplex.com/workitem/464

[2016-07-06 20:12] #463 closed

[2016-07-07 08:01] gerbenvl opened #473 "System.IdentityModel.Tokens.Jwt 5.0.0 dependencies"
Hi,

In version 5.0.0 of System.IdentityModel.Tokens.Jwt there is a dependency introduced on Microsoft.IdentityModel.Tokens. Lot's of things break because of that. Is this dependency really correct? The 5.0.0-rc1 and before didn't have this one. I always learned that Microsoft.IdentityModel.Tokens is the namespace/dll from the deprecated WIF 3.5 version?

Thanks!

[2016-07-07 15:20] Tydude4Christ commented on #314
I'm experiencing something similar in 5.x, where if the `Expires` property of `SecurityTokenDescriptor` has a value then `iat` and `nbf` get assigned to `DateTime.UtcNow` in `JwtSecurityTokenHandler.CreateToken(TokenDescriptor)` even though the corresponding properties in the descriptor are `null`.

[2016-07-07 17:25] polita commented on #469
Closing

[2016-07-07 17:25] #469 closed

[2016-07-07 18:57] brentschmaltz commented on #473
@gerbenvl we introduced an updated Microsoft.IdentityModel.Tokens.dll that is not the same as WIF 3.5 version. I believe -rc1 did have the dependency.

[2016-07-11 07:53] gerbenvl commented on #473
Ok thanks. But then even more things will break in our software. Can I find a changelog / release notes somewhere?

Or what's the strategy? Where is this version 5.0.0 meant for compared to version 4?

Thanks!

[2016-07-13 02:17] will-bartlett opened #474 "Add support for frontchannel_logout_supported and frontchannel_logout_session_supported in OpenIdConfiguration"
See: http://openid.net/specs/openid-connect-frontchannel-1_0.html.

[2016-07-13 16:42] tushargupta51 commented on #473
@gerbenvl You can find the changelog here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/CHANGELOG.md

[2016-07-13 22:12] polita commented on #474
@brentschmaltz, please clarify the feature request.

[2016-07-13 22:12] #473 closed

[2016-07-13 22:16] #467 closed

[2016-07-13 22:18] #466 closed

[2016-07-13 22:23] polita commented on #449
Wilson supports this today. Please provide some guidance on how to do this.

[2016-07-13 22:30] polita commented on #422
@Tratcher This info is in the exception message for logging and debugging. We don't think this needs to be specific properties in the exception types.

[2016-07-13 22:33] polita commented on #396
Yes, please remove if it's not public.

[2016-07-13 22:40] polita commented on #359
If this is going to take more than a few hours, let's close without fixing for 4x.

[2016-07-13 22:44] Tratcher commented on #422
@polita @brentschmaltz please reconsider, the current messages are not suitable for our scenario (sending to a remote client). We want to generate our own messages with the relevant details.

[2016-07-13 22:48] polita commented on #246
Fixed in 4.6.2.

[2016-07-13 22:48] #246 closed

[2016-07-13 22:48] #236 closed

[2016-07-13 22:49] #94 closed

[2016-07-13 22:50] polita commented on #85
This is fixed in 5.x.

[2016-07-13 22:50] #85 closed

[2016-07-13 22:51] polita commented on #79
Closing since we don't have support for SAML tokens.

[2016-07-13 22:51] #79 closed

[2016-07-13 22:52] #64 closed

[2016-07-14 00:10] brentschmaltz commented on #314
fixed by @ChenYan98
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/462

[2016-07-14 00:10] #314 closed

[2016-07-14 00:11] brentschmaltz commented on #308
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/461
fixed by @ChenYan98

[2016-07-14 00:11] #308 closed

[2016-07-14 00:12] brentschmaltz commented on #396
It's public :-(

[2016-07-14 00:12] #396 closed

[2016-07-14 00:33] brentschmaltz commented on #474
@will-bartlett are you asking for new properties on OpenIdConfiguration?

[2016-07-14 00:34] will-bartlett commented on #474
Yes.

[2016-07-14 00:36] brentschmaltz commented on #359
We were much smarter about how we parsed JSON in 5.x. This fix would take more than a couple of hours.

[2016-07-14 00:36] #359 closed

[2016-07-14 01:33] brentschmaltz commented on #422
@Tratcher can you give us an example for say: InvalidAudienceException. What is bad about the current message, what your new message would look like and what would the new InvalidAudienceException properties return.

[2016-07-14 04:55] leastprivilege commented on #150
Is it fixed in 4.x?

[2016-07-14 17:13] polita commented on #150
Looks like no. Since @leastprivilege is still interested in seeing it fixed, can you take a look, Yan?

[2016-07-14 17:22] leastprivilege commented on #150
Well - there are def. migration scenarios where legacy WCF services need to consume JWT tokens. I ran into that bug myself and had to wrap the JWT in a SAML token as a workaround.

https://leastprivilege.com/2015/07/02/give-your-wcf-security-architecture-a-makeover-with-identityserver3/

[2016-07-14 17:30] polita commented on #471
Fixed with #472 and #475.

[2016-07-14 17:30] #471 closed

[2016-07-14 17:42] polita commented on #150
@ChenYan98 Please confirm whether this is an issue in 4.x first.

[2016-07-14 19:28] Tratcher commented on #422
The issue is not the current messages per say, the issue is that we are crossing a trust boundary and cannot pass through unknown data. Your messages are "for logging and debugging", where ours are for remote users. Even if we validated all of your messages now, we can't vet them every time you make changes.  We just want the raw data and we'll make sure what we send to the client is appropriate.

[2016-07-15 17:13] #454 closed

[2016-07-15 17:15] #442 closed

[2016-07-18 15:36] PinpointTownes opened #476 "Wilson and API convergence"
The CoreFX team is currently working hard to make the "API convergence" plan a reality, which will make existing apps must easier to port (good news: all the signature formatter/deformatter classes will be back as part of these changes: https://github.com/dotnet/corefx/issues/9990).

https://blogs.msdn.microsoft.com/dotnet/2016/05/27/making-it-easier-to-port-to-net-core/

Does the Azure AD team ha

[2016-07-19 14:58] leastprivilege commented on #415
https://stackoverflow.com/questions/38453895/getting-claims-with-identityserver3

[2016-07-21 19:03] PinpointTownes opened #477 "AsymmetricSignatureProvider abusively disposes RSACryptoServiceProvider instances it doesn't own on .NET Desktop"
On .NET Desktop, signing or verifying a token more than once when the security key is a `RsaSecurityKey` results in an exception if the underlying algorithm instance is a `RSACryptoServiceProvider`:

[code]

This bug is likely caused by `Dispose()`, that disposes the underlying `RSACryptoServiceProvider` instance without ensuring it owns it: https://github.com/AzureAD/azure-activedirectory-identit

[2016-07-21 19:03] PinpointTownes commented on #477
/cc @brentschmaltz @polita

[2016-07-21 19:30] polita commented on #477
This looks a little tricky, because in some cases AsymmetricSignatureProvider does actually own _rsaCryptoServiceProvider, and in others, it gets it from the key passed in. Thanks for reporting, @PinpointTownes.

[2016-07-22 05:54] leastprivilege commented on #415
https://stackoverflow.com/questions/38510592/is-sub-claim-part-of-openid-scope-or-profile-scope/38519131#38519131

[2016-07-22 06:27] bgever commented on #415
@brentschmaltz I think there's now sufficient evidence that this is confusing behavior and should be fixed. Note my earlier suggestion of adding the mapping table as an argument to the constructor, also accepting a null value to initiate without mappings.

[2016-07-22 08:32] remyblok opened #478 "Only use the Payload of the JWT when checking for Token Replay"
I had asked a question on StackOverflow regarding JWT token signatures not to be unique: http://stackoverflow.com/questions/38508522/why-is-a-jwt-signature-not-unique-for-a-specific-payload.

Based on the answer that the signature does not have to be unique for a given payload (in some cases), I think that when checking the token for Replay only the Payload-part should be checked. Now when calling

[2016-07-26 20:17] brentschmaltz commented on #477
We should remember if we created the RSA, if not don't dispose.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens/AsymmetricSignatureProvider.cs#L332

As a workaround,

It should be possible to override CryptoProvider.ReleaseSignatureProvider or Dispose on the SignatureProvider.

[2016-07-31 19:48] frodestorhaug commented on #179
@kcd83 Is it possible to ask for a more complete example of your workaround ? Thanks

[2016-07-31 20:17] kcd83 commented on #179
@frodestorhaug what are you missing? do you have something like this running http://stackoverflow.com/questions/30546542/token-based-authentication-in-asp-net-core-refreshed?

I'm no longer at the employer where I implemented that

[2016-08-01 07:16] frodestorhaug commented on #179
Thanks for your answer. Yes, we have something like that running. And everything works great on windows. But we also want this to work on mono. Our setup still uses .net core rc1 and we want this to work on linux/mono for a demo and do not have the time to upgrade to rc2 for now. But as you wrote the AsymmetricSignatureProvider throws an exception on mono. So I wanted to try your workaround, but c

[2016-08-01 10:19] sunsided commented on #179
@in10se Sorry it took so long. My [solution](https://gist.github.com/sunsided/099d375031813e2eed2c5430303af277) is actually pretty wildly stitched together. The idea is that the `SignatureProvider` actually creates (or, back then, created) an _`RsaCryptoServiceProviderProxy`_ to manage the signing and verification of RSA keys, which failed on mono.  So I first wrote a `CustomRsaCryptoServiceProvid

[2016-08-03 00:30] brentschmaltz commented on #478
@remyblok See answer on SO. he JwtSecurityTokenHandler calls TokenValidationParameters.TokenReplayCache with the JWT  after signature validation.

[2016-08-03 00:30] #478 closed

[2016-08-03 07:27] remyblok commented on #478
@brentschmaltz Thank for answering. I do not believe your answer is correct. I also added an comment to the SO thread.

Basically it boils down to that there a multiple signatures possible for the same payload. All these signatures validate the payload, so there is not integrity issue with the payload. But for replay attacks this means that you could replay the payload simply by changing the last

[2016-08-03 20:39] PinpointTownes opened #480 "RsaSecurityKey.HasPrivateKey throws a NotSupportedException when the underlying algorithm instance is a RSACng on .NET Desktop"
[code]

In > .NET 4.6, `RSA.DecryptValue` and `RSA.EncryptValue` are considered as "obsolete" (which is a very debatable choice, IMHO) and are now virtual instead of abstract. It wouldn't be a big deal if `RSACng` implemented them... but it does not. The sad news is that IdentityModel can't handle `RSACng`-based keys on .NET Desktop as it uses `RSA.DecryptValue` to "determine" if there's a private

[2016-08-06 01:53] CodeCharm opened #481 "Nuget package for 5.x does not handle Katana or ASP.NET 4.x well"
The 5.0 Nuget `System.IdentityModel.Tokens.Jwt` package will appear in the Visual Studio Nuget Package Manager as an upgrade to 4.x. However, an existing Katana (OWIN) or ASP.NET 4.x project that depends on these assemblies may not be able to use the upgrade without breaking.

The Nuget package (at https://www.nuget.org/packages/System.IdentityModel.Tokens.Jwt/5.0.0 as of this report) does not hav

[2016-08-08 20:46] neverendingqs opened #482 "JwtSecurityTokenHandler.CanReadToken() does not check if each part is a base64url-encoded value"
As per https://tools.ietf.org/html/rfc7519#section-3:

   period ('.') characters.  Each part contains a base64url-encoded
   value.

[JwtSecurityTokenHandler.CanReadToken()](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/a18c4d6fbef3a48cd734bd8a027fdb9013b27c3e/src/System.IdentityModel.Tokens.Jwt/JwtSecurityTokenHandler.cs#L319) does not appear to check

[2016-08-17 10:08] PinpointTownes opened #486 "JsonWebKeyECTypes.P512 doesn't correspond to a standardized named curve"
`P512` is likely a typo, as there's no such curve in the DSS spec: http://nvlpubs.nist.gov/nistpubs/FIPS/NIST.FIPS.186-4.pdf

Instead, it should be named `P521` and the constant value should be `P-521`. Since the existing values are invalid, I'd recommend removing them in the next version.

https://tools.ietf.org/html/rfc7518#section-6.2.1.1

/cc @brentschmaltz @polita

[2016-08-17 11:11] PinpointTownes opened #487 "Introduce native support for raw ECDSA keys in JsonWebKeySet.GetSigningKeys()"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/62 was closed, but AFAICT, raw ECDSA keys are still not supported in the latest bits:
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/JsonWebKeySet.cs#L103

Wilson should target .NET Standard 1.6 and use `ECDsa.Create(ECParamet

[2016-08-17 11:22] PinpointTownes opened #488 "CryptoProviderFactory.IsEcdsaAlgorithmSupported() doesn't ensure algorithms are compatible with the curves used by ECDSA keys"
`IsEcdsaAlgorithmSupported` returns `true` if the algorithm corresponds to `ES256`, `ES384` or `ES512` but doesn't ensure the curve type of the ECDSA key is compatible with the specified algorithm.

`ES256` -> `P-256` (= `ECCurve.NamedCurves.nistP256`)
`ES384` -> `P-384` (= `ECCurve.NamedCurves.nistP384`)
`ES512` -> `P-521` (= `ECCurve.NamedCurves.nistP521`)

/cc @brentschmaltz @polita

[2016-08-18 01:35] brentschmaltz commented on #480
@PinpointTownes

[2016-08-18 01:36] brentschmaltz commented on #480
fell on the mouse, accidentally closed.

[2016-08-19 20:11] brentschmaltz commented on #481
@CodeCharm We need to add the ProjectUrl.

You are not the only one to hit this. We cover this in readme.md
We should add stronger and easier found text to help users understand 5.0 is a major change.

[2016-08-22 13:03] rosslyn-cuongle opened #489 "Why IdentityModel Extensions for .NET 5 only works for ASP.NET Core"
I am using IdentityModel Extensions for .NET 4 for our project (ASP.NET MVC 5), now  IdentityModel Extensions for .NET 5 has been released but I am not sure that I can upgrade our application to IdentityModel Extensions for .NET 5 as the mention from readme:

* **IdentityModel Extensions for .NET 4.x** and **ASP.NET 4**
* **IdentityModel Extensions for .NET 5.x** and **ASP.NET Core 1.x**

I am jus

[2016-08-23 00:14] brentschmaltz commented on #489
@rosslyn-cuongle when we say ASP.NET 4, we are really speaking about using this with Katana. If you have an application that targets { ASP.NET 4, Katana } you cannot upgrade to IdentityModel 5.0,

IdentityModel supports two runtimes. FxCore and .Net 4.5.1.

[2016-08-23 08:11] RussKie opened #490 "Incorrect handling of 'exp', 'nbf' and 'iat' claim values"
**System.IdentityModel.Tokens.Jwt: v5.0.0**

I'm building an .NET Core app for an existing large ecosystem.
.NET Core side upon receiving a JWT which works everywhere else (in the ecosystem and decoded by https://jwt.io decoder) fails with the following exception:

[code]

however the underlying issue is this:

[code]

[The offending code](https://github.com/AzureAD/azure-activedirectory-identitym

[2016-08-24 08:56] rosslyn-cuongle commented on #489
@brentschmaltz Thanks for your answer, if we only use OWIN OpenIdConnect middleware to to authentication with Azure AD on ASP.NET MVC, is this possible to upgrade in this case?

[2016-08-25 01:30] brentschmaltz commented on #489
@rosslyn-cuongle I just spun up an asp.net MVC specifying 4.5.1 for the .Net library and was able to include this code:

        {
            var configurationRetervier = new OpenIdConnectConfigurationRetriever();
            var configurationManager = new ConfigurationManager<OpenIdConnectConfiguration>("https://login.microsoftonline.com/common/.well-known/openid-configuration", configurationRet

[2016-08-25 21:37] brentschmaltz commented on #150
@polita we are delaying releasing 4.0.3 to fix this.

[2016-08-25 22:44] ChenYan98 commented on #150
@popcatalin81 I cannot repro this in 4.0.3. It didn't crash when I close the XML reader explicitly before passing to the method.

[2016-08-25 22:58] brentschmaltz commented on #150
@popcatalin81 @ChenYan98 what is happening is the WCF sees the message as malformed, since it can't read the expected EndElement.

[2016-08-26 19:18] brentschmaltz commented on #150
@popcatalin81 @leastprivilege we pushed new packages where we don't close the reader. We are hoping WCF scenario should be fixed.

Pacakges are here on myget:
https://www.myget.org/feed/Packages/azureadwebstackrelease

packages:
https://www.myget.org/feed/azureadwebstackrelease/package/nuget/Microsoft.IdentityModel.Protocol.Extensions/1.0.3.308261200

https://www.myget.org/feed/azureadwebstackrele

[2016-08-26 19:35] polita commented on #150
@popcatalin81 @leastprivilege Can you try them out and let us know?

[2016-08-28 20:51] Tratcher opened #493 "Discussion: Microsoft.AspNetCore.Authentication.JwtBearer contains absurd amount of black magic"
_From @ryanelian on August 28, 2016 14:56_

I am trying to develop a ASP.NET application using JWT for securing certain routes and then decided that I would use `app.UseJwtBearerAuthentication()` to make my life easier by not reinventing the wheel. (And so I can use `[Authorize]` and call it a day)

However, instead of speeding up an entire day of work, I ended up investigating for hours why a per

[2016-08-29 18:46] brentschmaltz commented on #493
@ryanelian @Tratcher The library was designed to be secure by default. That means a few things: https for metadata retrieval, tokens signed, key sizes of sufficient length, issuer validation, audience validation, expiration times checked, nonce checks, c_hash and at_hash checks, etc. We want to make sure that if someone turns off say, AudienceValidation {which opens up a forwarding attack}, they d

[2016-08-29 18:48] brentschmaltz commented on #489
@rosslyn-cuongle closing issue, let me know if you need anything else

[2016-08-29 18:48] #489 closed

[2016-08-30 05:47] ryanelian commented on #493
Maybe if in development, make it so it can log or emit message containing the reason that the authorization failed? That'd help tremendously.

Please do! That'd be a godsend.

When I Google `UseJwtBearerAuthentication`, the only relevant results that appear is this:

https://stormpath.com/blog/token-authentication-asp-net-core

I would greatly appreciate it if there are documentations in http://do

[2016-08-30 05:56] leastprivilege commented on #493
That seems like a **really** bad idea to me.

Doesn't it do that via logging already?

[2016-08-30 05:57] ryanelian commented on #493
I'm not aware of that. I will check later. Thank you for telling me.

[2016-08-30 12:43] tngraf opened #494 "Licensing: Apache-2.0 or MIT?"
License.txt and Readme.md indicate the Apache Software License, version 2.0 as license for the whole project. Our license scanner (FOSSology) tells us that nearly every file has an MIT license header.
It would be good to have a more transparent license information.

[2016-08-30 19:43] bharatmangal04 commented on #143
I am also facing same issue with WSFederation.

   at Microsoft.IdentityModel.Protocols.AuthenticationProtocolMessage.SetParameter(String parameter, String value)
   at Microsoft.IdentityModel.Protocols.WsFederationMessage..ctor(IEnumerable`1 parameters)
   at Microsoft.Owin.Security.WsFederation.WsFederationAuthenticationHandler.<AuthenticateCoreAsync>d__1f.MoveNext()
--- End of stack trace from

[2016-08-31 18:07] ChenYan98 commented on #150
Fixed in 4.0.3

[2016-08-31 18:07] #150 closed

[2016-08-31 18:25] ChenYan98 commented on #450
Fixed in 5.0.1.
In general, using .Result is always a bad idea and should never be used...ever. even with the fix, using .Result could cause a deadlock.
If you really need .Result, you should try the following code as by default ConfigurationManager uses WebClient, which exhibits issues with .Result.
`HttpClient httpClient = new HttpClient(); var configManager = new ConfigurationManager<OpenIdConn

[2016-08-31 18:25] #450 closed

[2016-08-31 20:49] bharatmangal04 opened #495 "OWIN Authentication issue while hitting some pages in Web Application"
OWIN Pipeline throwing exception

at Microsoft.IdentityModel.Protocols.AuthenticationProtocolMessage.SetParameter(String parameter, String value)
 at Microsoft.IdentityModel.Protocols.WsFederationMessage..ctor(IEnumerable 1 parameters)
 at Microsoft.Owin.Security.WsFederation.WsFederationAuthenticationHandler.<AuthenticateCoreAsync>d__1f.MoveNext()
 --- End of stack trace from previous location wh

[2016-08-31 20:57] Tratcher commented on #495
This is only the stack trace. What was the actual exception type and message?

[2016-08-31 21:03] bharatmangal04 commented on #495
its null reference exception.
Value+cannot+be+null.%0d%0aParameter+name%3a+parameter

[2016-08-31 21:12] bharatmangal04 commented on #495
I think issue keyValue.Key is passing as null.

[2016-08-31 21:14] bharatmangal04 commented on #495
I am on skype so do let me know if we can chat over there.. (bgupta@microsoft.com)

[2016-08-31 21:22] tushargupta51 commented on #450
@ChenYan98 The requirement of specifying `HttpClient` is only for 4.x wilson, right? If I recall correctly, 5.x uses HttpClient by default and not WebClient?

[2016-08-31 21:54] bharatmangal04 commented on #495
<h1>An unhandled exception occurred while processing the request.</h1>
                <h2 class="titleerror">ArgumentNullException: Value cannot be null.
Parameter name: parameter</h2>
                    <p class="location">Microsoft.IdentityModel.Protocols.AuthenticationProtocolMessage.SetParameter(String parameter, String value)</p>
        <ul id="header">

[2016-08-31 22:10] polita commented on #495
@bharatmangal04 Can you tell us the version of Microsoft.IdentityModel.Protocols that you're using?

[2016-08-31 22:12] bharatmangal04 commented on #495
I am using the OWIN which include package Microsoft.IdentityModel.Protocols.Extensions.dll

[2016-08-31 22:13] brentschmaltz commented on #495
@polita I think it is 4.x since wsFed is used.

[2016-08-31 22:16] bharatmangal04 commented on #495
@polita @ChenYan98 : Because of this issue we are not able to go live with ADFS implementation. Its impacting Client.

[2016-08-31 22:24] bharatmangal04 commented on #495
If possible, please provide some hotfix so that i can quickly check. some beta version of this DLL

[2016-08-31 22:26] brentschmaltz commented on #495
@bharatmangal04 this faults because we are being passed a <key, value> pair where the key is null.
We can't set this value and see it as a programming error.

[2016-08-31 22:57] bharatmangal04 commented on #495
/// <summary>
        /// Initializes a new instance of the <see cref="WsFederationMessage"/> class.
        /// </summary>
        /// <param name="parameters">Enumeration of key value pairs.</param>
        public WsFederationMessage(IEnumerable<KeyValuePair<string, string[]>> parameters)
        {
            if (parameters == null)
            {
                return;
            }

[2016-08-31 23:25] brentschmaltz commented on #495
@bharatmangal04 @ChenYan98 @polita We debugged through this and the web application is creating a form with a null key. This is probably an error. However we need to think about if we should fault here as in a release product this could cause issues. On the other hand, if we don't fault we may be hiding the issue.
A comprise may be to fault in debug environment and log an error in release.

[2016-08-31 23:55] polita commented on #495
Since this is a programming error that @brentschmaltz and @bharatmangal04 worked through, closing this issue.

[2016-08-31 23:55] #495 closed

[2016-09-01 00:02] brentschmaltz commented on #493
@leastprivilege I am thinking only about relaxing https for now not requirements such as 'aud' etc.

[2016-09-01 00:05] brentschmaltz commented on #494
@tngraf we should clean that up.

[2016-09-01 00:05] bharatmangal04 commented on #495
@polita @brentschmaltz

Hi Polita, I would suggest to keep this issue open till we have the implementation to throw error in debug mode and log error in release mode to break the application.

I can not reopen this so can you please reopen this.

[2016-09-01 00:46] ChenYan98 commented on #450
@tushargupta51 You are right, 5.x should not have this problem since HttpClient used as default.

[2016-09-01 06:51] andycmaj commented on #179
@sunsided, thanks so much for working on this! question though: this seems to work great with logging in via OpenIdConnect Middleware, but when i log out, i am unable to log back in due to an `ObjectDisposedException`.

reference app here: https://github.com/auth0-samples/auth0-aspnetcore-sample/blob/master/01-Login/SampleMvcApp/Startup.cs#L93 and i'm using your workaround like so in `UseOpenIdCon

[2016-09-01 07:32] sunsided commented on #179
@andycmaj I think it was the `JwtSecurityTokenHandler` hack that fixed this; that is, set `OpenIdConnectServerOptions`'s `AccessTokenHandler` to a custom class and then force that one's `CreateJwtSecurityToken` method to use your signature provider factory. I saw it was missing in my gist; just [updated it](https://gist.github.com/sunsided/099d375031813e2eed2c5430303af277#file-customjwtsecuritytok

[2016-09-01 16:09] polita commented on #495
@bharatmangal04 My understanding is that this throws an exception with this message:
Value+cannot+be+null.%0d%0aParameter+name%3a+parameter
And this exception gets logged in release mode. Is that not true?

[2016-09-01 16:16] bharatmangal04 commented on #495
@polita : Yes, In Debug Mode: It Should throw an exception so that developer know that there is any issue with the form data.  In Release mode: It should just logged the exception and continue instead of throwing so that it will not affect the production environment.

[2016-09-01 16:23] polita commented on #495
@bharatmangal04 It should throw the same exception in debug and release. In debug, you can catch the exception and examine the stack and debug. In release, that exception should get logged. If that's not happening, please explain the gap.

[2016-09-01 19:48] bharatmangal04 commented on #495
@polita: Here is current Gap:
WsFederationMessage(IEnumerable> parameters) Method is not catching the exception and only throwing.

We are using the OWIN framework for WSFederation Authentication which internally calling Microsoft.Identity.Protocal.External.Dll.  As some of the data in the form has key as a null due to which we are having error and application is breaking and we don't have control

[2016-09-01 21:50] polita commented on #495
@bharatmangal04  Exception bubbling will ensure that the developer gets the exception and the full stack. Yes, it's possible for us to catch this particular ArgumentNullException and throw a more specific exception. However, the existing exception, coupled with the stack, should give you all the information you need to track down the null key.

We do, in fact, throw the ArgumentNullException in de

[2016-09-01 22:00] brentschmaltz commented on #493
I think we have what we need from this thread.

[2016-09-01 22:00] #493 closed

[2016-09-01 22:03] brentschmaltz commented on #495
@bharatmangal04 you can hook the AuthenticationFailedNotification which gives you the opportunity to examine all failures.

[2016-09-01 22:48] bharatmangal04 commented on #495
@polita @brentschmaltz ,

I do understand that but instead of throwing Exception in release mode if we can log the exception that will help to break the entire page.

While looking the Logs we can drill down the exception in production environment.

[2016-09-01 22:50] bharatmangal04 commented on #495
I do understand that but instead of throwing Exception in release mode if we can log the exception that will help instead  of breaking the entire page.

While looking the Logs we can drill down the exception in production environment.

[2016-09-02 05:36] andycmaj commented on #179
hmm added that piece in and now i have
[code]
and i'm still seeing the
[code]
exception after i log out and try logging back in.
i'll have to hook up a debugger on OSX and see if i can step through to see why this disposed key is trying to be re-used...

[2016-09-02 14:01] PinpointTownes commented on #179
@andycmaj that's another bug: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/477

[2016-09-05 11:35] Danghor opened #496 "Typo in Readme"
Should probably be "also _browse_"

[2016-09-06 19:28] andycmaj commented on #179
thanks @PinpointTownes, @sunsided! after looking at #477 i was able to get this working.
@sunsided, i commented on your gist.

[2016-09-08 22:33] mbliesath commented on #477
I have a very similar issue when using the JwtBearerAuthentication middleware. The RSACryptoServiceProvider and other objects are disposed in the SigningCredentials after JwtSecurityTokenHandler.WriteToken() is called. So, the first request works, but any subsequent requests fail. This functionality worked great in RC2... but now WriteToken results in:

`System.ObjectDisposedException was unhandle

[2016-09-13 16:32] polita opened #498 "Add version API to enable middleware to surface version query params to endpoints."
Please add a public API for returning the Wilson version to the middleware.

[2016-09-15 20:58] brentschmaltz opened #499 "Extend crypto extensibility beyond process"
Currently a user of wilson need to deploy new binaries to support algorithm customization. This feature would define a method for extensibility without new binaries.

[2016-09-16 07:57] leastprivilege opened #500 "Any news on .NET Core WS-Federation middleware?"
We have several customer who cannot upgrade to .NET core because of the lack of WS-Fed support. Any ETA?

[2016-09-16 18:23] vibronet commented on #500
Hey there, this is still blocked on https://github.com/dotnet/corefx/issues/1132 - + @joshfree in case he has any updates

[2016-09-16 18:30] joshfree commented on #500
/cc @danmosemsft who is driving the .NET Core 1.2 release from the corefx side now

[2016-09-16 18:42] brentschmaltz commented on #500
@danmosemsft in addition to XmlEncrypt, we need XmlDsig.

[2016-09-16 20:51] brentschmaltz commented on #480
@PinpointTownes another possibility is to have a 4.6.3 target in addition to 4.5.1 and Core 1.0. Are you up to date on Reflection on Core? Could it be used?

[2016-09-16 20:56] PinpointTownes commented on #480
Yep, that's a (non-breaking) option.

It would certainly work on .NET Core, but not sure about .NET Native (because using reflection is generally more problematic with AOT). That said, I'm not sure Wilson supports .NET Native (yet), so it may not be an issue.

[2016-09-16 22:05] brentschmaltz commented on #395
@PinpointTownes (spinning up for vnext). What scenario are you looking to support here?

[2016-09-16 22:08] brentschmaltz commented on #476
@PinpointTownes I am investigating where dotnet core is currently on crypto.

[2016-09-17 04:19] PinpointTownes commented on #395
@brentschmaltz same as before: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/444#issuecomment-225746555 :smile:

[2016-09-18 12:01] leastprivilege opened #501 "Problem adding to a Xamarin/iOS project"
I am getting the following error in Xamarin Studio 6.1

Could not install package 'System.Security.Cryptography.Cng 4.2.0'. You are trying to install this package into a project that targets 'Xamarin.iOS,Version=v1.0', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

I thought Wilso

[2016-09-19 18:01] brentschmaltz commented on #501
@bartonjs can you help shed light on this?  Microsoft.IdentityModel.Tokens project.json does target 1.4.

[2016-09-19 18:23] bartonjs commented on #501
Not... really?  The package has a win/unix split implementation, and it's possible that Xamarin/iOS doesn't count as either.  But that seems like it'd be a pretty pervasive issue.  I've never encountered Xamarin package restore, so I don't know how well tried it is.

[2016-09-20 07:11] leastprivilege commented on #501
Well - then maybe now is the time to add this to your test matrix ;)

[2016-09-22 21:47] brentschmaltz commented on #477
@mbliesath missed your comment. The library is disposing an rsa object it didn't create. A possible workaround it we get this fixed is based on JwtSecurityTokenHandler calls CryptoProviderFactory.ReleaseSignatureProvider after creating the signature. You can set your own CPF and override ReleaseSignatureProvider. RSP is in the call graph that will dispose the rsa.

[2016-09-26 14:43] mbliesath commented on #477
@brentschmaltz Thanks for the advice. I will give that a shot... any time frame on the 5.0.1 release?

[2016-09-26 21:32] polita commented on #482
@neverendingqs CanReadToken() does check to ensure it's well-formed: that it's a three-part string, dot-separated, and each segment is base64Url encoded. It just turns out that "1" is a valid base64Url encoded value. CanReadToken is meant to be a lightweight call to ensure it has the right form for a JWT token. If you need to know if the JWT token is well-formed, parsable json, you can do that wit

[2016-09-26 21:32] #482 closed

[2016-09-26 23:31] brentschmaltz opened #504 "Investigate if RegEx should be compiled"
Currently our regex expressions are not compiled
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtSecurityToken.cs#L58

discussion has indicated there may be a 30% perf increase
https://blog.codinghorror.com/to-compile-or-not-to-compile/

[2016-09-27 02:20] Tratcher commented on #504
@mikeharder FYI

[2016-09-27 05:50] leastprivilege commented on #501
Could someone look into that - I want to use Wilson across the .net standard supported platforms.

[2016-09-27 14:49] RussKie commented on #490
I half expected this to be a relatively straight forward fix until I tried to fix it myself... Oh God almighty
I'm not sure it can be easily fixed until https://github.com/dotnet/corefx/issues/11082 is fixed.

My first attempt was to make it `double`, but then `double.ToString()` (which is used a lot) [truncates the precision to 15](https://msdn.microsoft.com/en-us/library/kfsatb94.aspx#Anchor_2),

[2016-09-27 20:29] #486 closed

[2016-09-27 20:29] polita commented on #486
Fixed.

[2016-09-29 06:17] devlanfear opened #505 "Issue when accessing Office 365 social api with ADAL"
We are trying to access Office 365 Social API with ADAL library (Microsoft.IdentityModel.Clients.ActiveDirectory - 3.13.1.846, Microsoft.IdentityModel.Clients.ActiveDirectory.Platform-3.13.1.846) -
https://test.sharepoint.com/_api/social.feed/actor(item=@v)/feed?@v=%27https://test.sharepoint.com/sites/Demo/newsfeed.aspx%27

We get HTTP response with StatusCode = 401:
x-ms-diagnostics: 3000003;reas

[2016-09-29 16:39] polita commented on #505
@devlanfear This is about the ADAL .NET library, not the Identity Model extensions. Can you open this issue at https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues?

Alternatively, you can [ask on StackOverflow](http://stackoverflow.com/questions/tagged/adal) and our team monitors issues tagged with "adal".

[2016-09-29 16:39] #505 closed

[2016-09-29 16:59] polita commented on #496
Fixed with #506 and #502

[2016-09-29 16:59] #496 closed

[2016-09-29 17:00] polita commented on #494
@tngraf Thanks for pointing this out. After much discussion, we've decided MIT is the right license. I've updated our license.txt and readme.md. Fixed with #506 and #502

[2016-09-29 17:00] #494 closed

[2016-10-01 17:59] PinpointTownes opened #507 "Reintroduce SecurityTokenHandler.ValidateToken()"
The `SecurityTokenHandler` base class doesn't expose this precious method. Please consider bringing it back.

/cc @brentschmaltz @polita

[2016-10-03 04:20] ccrookms opened #508 "Provide a factory or static method that can create a JwtSecurityToken without exceptions"
As discuss in mail thread with Brent and apparently requested by ASP.NET team, we would love a way that we can validate a token and produce the result in one call (e.g. result class that may have a status and a token if it could be validated) that doesn't use exceptions at all. Ideally, no exceptions would be thrown and caught under this method either but at least providing this to callers would b

[2016-10-03 21:28] polita commented on #422
Done with #479.

[2016-10-03 21:28] #422 closed

[2016-10-03 21:33] polita opened #509 "Re-enable SignatureProviderTests.AsymmetricSignatureProviders_Verify test for ECDsa384 on non-.NET core"
The test for ECDsaSha384 used to return a CryptographicException on desktop because it wasn't supported. A recent update to 4.6.2 apparently added support because it stopped throwing. I commented out the line in the test that checks for it because it will continue to throw on older .NET installs but not throw on newly-serviced installs of 4.6.2.

We need to figure out how to handle this and re-ena

[2016-10-03 22:45] brentschmaltz opened #510 "build using dotnet cli 1.1"
a new  set of binaries are about to arrive, we need to adjust our scripts to pick the new bits.

[2016-10-04 10:47] PinpointTownes commented on #395
This ticket is still in the backlog. Is there anything I can do to help?

[2016-10-06 16:49] brentschmaltz commented on #395
@PinpointTownes is this the main issue for this request to produce a JsonWebKey to place in a JWK set?

Our current design uses an intermediate class to create algorithms from keys. SecurityKeys by default don't have algorithms and are seen as data.  X509 populated from a cert being different different as it comes with a algorithm.

[2016-10-06 17:05] PinpointTownes commented on #395
Yes (at least for my scenario. Other people might need these methods for something else).

The fact your current design relies on `CryptoProviderFactory` doesn't prevent you from bringing back `GetAsymmetricAlgorithm()`. It's just another level of abstraction.

[2016-10-06 17:08] PinpointTownes commented on #476
@brentschmaltz your [other post](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/395#issuecomment-252021815) gives me the impression you're not going to do anything for the API convergence plan. Am I right?

[2016-10-06 18:25] Tratcher opened #511 "Unable to check the results of using JwtSecurityToken is concluded"
_From @xielongjiang on October 6, 2016 9:0_

This is my code

[code]

I finally get a demerit and to JWT. IO calibration, the calibration was a failure

_Copied from original issue: aspnet/Security#1000_

[2016-10-06 18:25] Tratcher commented on #511
I don't understand the question, but those components are located over here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet

[2016-10-06 18:25] Tratcher commented on #511
_From @xielongjiang on October 6, 2016 18:10_

I mean, my final output, to https://jwt.io/ website when checking is failed @Tratcher

[2016-10-06 20:04] brentschmaltz commented on #395
We could put GetAlgorithm on xyzProviders, but I don't think they fit on the key.

[2016-10-10 00:09] brentschmaltz commented on #501
@leastprivilege I'll poke into it this week.

[2016-10-10 01:05] brentschmaltz commented on #511
@xielongjiang are you saying that the jwt token created by Sytem.IdentityModel.Tokens.Jwt fail validation on Jwt.IO?

[2016-10-10 04:10] xielongjiang commented on #511
@brentschmaltz Yes, Using the latest System. IdentityModel. Tokens. Jwt

[2016-10-10 09:45] leastprivilege commented on #501
thanks!

[2016-10-10 12:42] xielongjiang opened #512 "Cannt find assembly "System. IdentityModel. Tokens. Jwt, Version = 5.0.0.127, Culture = neutral, PublicKeyToken = 31 bf3856ad364e35""
Cannt find assembly "System. IdentityModel. Tokens. Jwt, Version = 5.0.0.127, Culture = neutral, PublicKeyToken = 31 bf3856ad364e35"

`
var symmetric = new SymmetricKeyIssuerSecurityTokenProvider(issuer, audienceSecret);
var ssuerSecurity = new IIssuerSecurityTokenProvider[] { symmetric };

 app.UseJwtBearerAuthentication(
                new JwtBearerAuthenticationOptions
                {

[2016-10-10 13:02] xielongjiang opened #513 "System.Identity.Tokens.Jwt Can't find IssuerSigningTokens"
I use vsersion 5.0.0.127

In  vsersion 5.0.0.127, can't find TokenValidationParameters

Later found it in Microsoft. IdentityModel. Tokens

Where is my lovely  `IssuerSigningTokens  `

[2016-10-11 01:38] brentschmaltz commented on #513
@xielongjiang IssuerSigningTokens was removed in 5.0. We use IssuerSigningKeys as only keys are used for signing.

[2016-10-11 01:38] #513 closed

[2016-10-11 01:39] brentschmaltz commented on #512
@xielongjiang Our 5.0 release is not compatible with Katana (3.0.x) release.

[2016-10-11 01:43] brentschmaltz commented on #501
@leastprivilege turns out that S.S.Cryptography.Cng is only supported on Windows. I'll see if we need it OR can hide it.

[2016-10-11 12:43] ycrumeyrolle commented on #342
Any chance to have a fix ?

[2016-10-11 14:06] ycrumeyrolle opened #514 "[JWT] IDictionary<> payload is incorrectly converted to IEnumerable<>"
A JWT claim structured as an Dictionary is not treated as a Dictionary but as an IEnumerable.
This is because the claim is firstly casted into an IEnumerable. As the Dictionary is an IEnumerable, the following code is never reached :
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/System.IdentityModel.Tokens.Jwt/JwtPayload.cs#L364

The `IDiction

[2016-10-11 16:07] brentschmaltz commented on #507
@PinpointTownes what is your scenario and what API signature are you proposing?

[2016-10-11 16:08] brentschmaltz commented on #514
@ycrumeyrolle what issue is this causing you?

[2016-10-11 16:10] brentschmaltz commented on #508
As a note: the current OM doesn't work with async as out params are not allowed.

[2016-10-11 16:23] PinpointTownes commented on #507
[code]

... which is identical to the method signature used by `JwtSecurityTokenHandler`.

[2016-10-11 17:44] ycrumeyrolle commented on #514
I assume to have a dictionary or a JSON string as claim value, but I have a couple of claims corresponding to nested value. This is harder to rebuild structured data from claims.
In addition, if the code flow was as I suppose it should be, the dictionary is converted into a couple of claims in JSON, with a unique property.

May be I am misunderstanding the desired behaviour...

[2016-10-11 19:53] brentschmaltz commented on #507
@PinpointTownes I assume you meant (... validationParameters)
no 'out' param?

[2016-10-11 19:56] PinpointTownes commented on #507
The JWT handler has an out parameter (for the security token).

That said, we could also have an overload taking the SecurityToken as an input parameter.

[2016-10-12 14:56] brentschmaltz commented on #512
@xielongjiang closing this issue, please reopen if you need additional information.

[2016-10-12 14:56] #512 closed

[2016-10-12 21:43] brentschmaltz opened #517 "Improve error message when Metatdata OR Keys are missing when validating signatures."
If users don't set a Metadata address OR Keys for validating signatures, they receive the message below. We could improve this by letting users know that no keys have been provided, pointing out there 'kid' is a kid in the and pointing out something helping them realize keys are missing.
This error was on 4.x. 5.x is better, but should be scrubbed.

System.IdentityModel.Tokens.SecurityTokenSignatu

[2016-10-12 22:06] brentschmaltz commented on #468
We will need to add an new return type: ValidationResult so the 'out' param is not needed.

[2016-10-14 00:30] brentschmaltz commented on #510
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/515

[2016-10-14 00:30] #510 closed

[2016-10-14 00:30] brentschmaltz commented on #501
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/515

[2016-10-14 00:30] #501 closed

[2016-10-14 00:37] brentschmaltz commented on #507
out params and async don't work together. I would like to get rid of the out parameter and return a ValidationContext with the CP, Token etc. Will do this when we hook up async.

[2016-10-14 00:39] brentschmaltz commented on #504
We should be using the static RegEx.Match(), this will compile and keep the last 15 expressions in memory. I made this change in JWEBrent, this fix will eventually be in dev for 5.0.1 preview.

[2016-10-14 00:56] brentschmaltz commented on #490
@RussKie what test is failing? We should fix this without relying on using extensibility. Can you help me understand how truncation effects your scenario? We can certainly add new ClaimValueTypes as we did in JsonClaimValueTypes if a solution requires it.

[2016-10-14 01:18] brentschmaltz commented on #500
@leastprivilege we will update you when we have a POR.

[2016-10-14 01:18] #500 closed

[2016-10-14 01:41] RussKie commented on #490
@brentschmaltz I don't think I will have any time to provide you any more details on the problems I had until sometime next week.

But I don't think there can be a proper fix until the underlying problem (https://github.com/dotnet/corefx/issues/11082) is fixed.

[2016-10-14 02:06] brentschmaltz commented on #490
@RussKie thanks, in the meantime I'll review dotnet/corefx#11082

[2016-10-14 13:46] PinpointTownes commented on #507
In the meantime, `SecurityTokenHandler` has no validation method, which requires casting handler instances to `ISecurityTokenValidator`... this doesn't make much sense.

[2016-10-14 15:02] brentschmaltz commented on #477
@PinpointTownes @mbliesath https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/518

[2016-10-14 18:18] PinpointTownes commented on #477
@brentschmaltz thanks for fixing it!

[2016-10-16 00:18] brentschmaltz commented on #477
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/518

[2016-10-16 00:18] #477 closed

[2016-10-16 00:35] brentschmaltz commented on #476
@PinpointTownes we can't blindly pull in API's as they were in .Net 3.5. I am not drawing a line in the sand and saying NO, rather we have to be selective. The world has changed and our understanding of the API's that make sense is much crisper than in 2006 when IdentityModel was conceived. I agree, developers would be best served with a converged API set. Our first goal was ensuring support for A

[2016-10-17 19:27] PinpointTownes commented on #476
I'm not suggesting bringing back the entire IM stack (e.g I'm not sure it would be worth reviving `System.IdentityModel.Services`).

My demands are limited to primitive types/methods like `GetAsymmetricAlgorithm`/`GetSymmetricAlgorithm`/`IsSupportedAlgorithm`, that can be easily implemented and are highly susceptible of being used by third party code. Types like `SecurityKeyIdentifier` and `Securi

[2016-10-18 03:24] brentschmaltz commented on #476
@PinpointTownes looks like we are converging, Study time is needed on the .Net crypto plan, so I can see where they are headed. I should have some time after we get the first cut at JWE out. We want to get that out for preview1, so we have time for feedback before 1.1 goes out.

[2016-10-18 03:33] brentschmaltz commented on #507
It makes sense that SecurityTokenHandler should validation methods. Passing a SecurityToken is problematic when working with XML tokens, which is why we moved away for it. Has to do performance and c14n where we use xmlreader rather than moving into a DOC. We found almost 10x improvement using the xmlreader. How about just ValidateToken as it is today?  Probably could get that into preview1.

[2016-10-18 20:01] Grimz0r opened #519 "Various namespace problems"
I was trying to use v5.0.0 (got from nuget today) and It's so SOOO painful. Sometimes it "needs" objects form System.IdentityModel.Tokens, other times it's Microsoft.IdentityModel.Tokens and most of the time there are classes on both namespaces w/ the same name!

Example:
you can create a SecurityTokenDescriptor like this

var securityTokenDescriptor = new SecurityTokenDescriptor()
            {

[2016-10-19 15:39] brentschmaltz commented on #519
@Grimz0r are you linking System.IdentityModel.dll (the .Net 4.5 version)? If so you will need to fully qualify types. You can do this at the top of a file.

// project references since we are in the System ns, we need to map to M.IM.Tokens
using TokenDescriptor = Microsoft.IdentityModel.Tokens.SecurityTokenDescriptor;

.....

var tokenDescriptor = new TokenDescriptor(...)
tokenHandler.CreateToken(

[2016-10-20 23:32] brentschmaltz commented on #476
@PinpointTownes I want to clarify for IdentityModel OM / API's. We don't have any plans to support a platform scenario such as: write code against Desktop and it will compile and run against Core. I hope I am clear on that. If we are missing Desktop OM / API in Core that are helpful such as GetAsymmetricAlgorithm, we are open to discussing them as they come up. This one seems helpful. We have no p

[2016-10-20 23:42] PinpointTownes commented on #476
You are. It's just extremely deceiving to see that IM is the only stack that won't be part of the API convergence plan for .NET Standard 2.0 :-1:

[2016-10-21 23:52] brentschmaltz commented on #476
@PinpointTownes our long term goal is to have code written against .Net CORE compile and run against .Net Desktop. We haven't been able to commit to the .Net Standard 2.0 timeline. However, this remains a long term goal.

[2016-10-25 13:50] brentschmaltz commented on #519
@Grimz0r if this does not work for you please reopen.

[2016-10-25 13:50] #519 closed

[2016-10-25 13:51] brentschmaltz commented on #476
closing for now till POR is established.

[2016-10-25 13:51] #476 closed

[2016-11-04 22:45] allenrui opened #526 "Can I use this lib to create APNS jwt token which is ES256 algorithm?"

[2016-11-07 18:55] brentschmaltz opened #527 "OpenIdConnectProtocolValidator should have 'RequireSub' true by default."
see: http://openid.net/specs/openid-connect-core-1_0.html#IDToken
sub claim is required.

[2016-11-07 20:19] Tratcher opened #528 "Ensure OpenIdConnectProtocolValidator follows spec for hybrid flow or deviations are recorded on wiki."
When doing a code+id_token hybrid flow there are some additional validations required between the id_token from the authorization endpoint and the one from the token endpoint.
http://openid.net/specs/openid-connect-core-1_0.html#HybridIDToken2
1) the sub claim must match.
2) the iss claim must match.

[2016-11-08 03:43] brentschmaltz commented on #504
Regex's are now compiled

[2016-11-08 03:43] #504 closed

[2016-11-08 03:44] brentschmaltz commented on #526
@allenrui not sure what APNS is. Can you add some detail?

[2016-11-08 03:51] brentschmaltz commented on #511
We need to repro.

[2016-11-14 20:52] brentschmaltz opened #532 "Discussion for S.IM moving forward"
@PinpointTownes @leastprivilege @brockallen
I am opening up this to ask for feedback on how S.IM should move forward.

[2016-11-14 22:34] PinpointTownes commented on #532
Well, you already know my POV: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/327#issuecomment-162330668 https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/327#issuecomment-162992208 https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/476#issuecomment-254307988 :smile:

[2016-11-15 04:48] brentschmaltz commented on #480
@PinpointTownes I commented on 12623, We will need another target 4.6.2 and fault for 4.6.1 and below when RSA doesn't resolve to RSACryptoServiceProvider. I am not sure reflection is the answer. Maybe @bartonjs has a cleaver idea.

[2016-11-15 17:28] bartonjs commented on #480
Making one target for 4.5.x (where RSACryptoServiceProvider is king) and another for 4.6 makes sense to me.

Not necessarily useful addendum 1: The underlying model for the providers seems to be to not answer if a key has private-key powers, but to say "this is nuanced.. just try it and see if it works".  For example, you could have a key that is permitted for signing, but not decryption, so "has

[2016-11-15 17:42] PinpointTownes commented on #480
@brentschmaltz sounds good (tho' I'm not sure why you need to fault on 4.6.1, as the API you need are supposed to be present in 4.6).

@bartonjs unfortunately, the ASP.NET Core packages that rely on IdentityModel target .NET 4.5.1, so dropping 4.5.x would have to be a "global" decision.

[2016-11-15 18:08] brentschmaltz commented on #480
@PinpointTownes yes, we should use the correct target, @bartonjs what target has all the CNG we need?
@bartonjs echoing pinpoint, asp.net needs 4.5.1 support.

[2016-11-15 18:21] bartonjs commented on #480
@brentschmaltz Base class refreshes were RSA: 4.6(.0), ECDSA: 4.6.1 DSA: 4.6.2  (You should still be able to test for the ability to sign with DSA on 4.6, 4.6.2 added FIPS 186-3 support)

[2016-11-15 20:31] brentschmaltz commented on #480
@PinpointTownes @bartonjs do you think a 4.6.1 target would be OK. I am thinking RSA / ECDSA priority over DSA.

[2016-11-15 23:08] brentschmaltz commented on #480
@bartonjs I agree that evidence of a 'private' key is not sufficient to determine success of a crypto operation such as signing or decrypting. It is necessary though. Idea is to fail early, when it is obvious.

[2016-11-16 06:54] bartonjs commented on #480
That's what netstandard 2.0 is based on.

I'm not saying I disagree -- just that the provider models that we're based on don't necessarily want to expose this information, so it's hard to expose it well from the implementation-independent layer (without taking the perf hit of trying to sign or decrypt something on every key load to answer the question, which could end up popping UI for protected k

[2016-11-16 17:05] brentschmaltz commented on #480
@bartonjs this makes sense, particularity when thinking about remote services such as KeyVault.
If consent is required, wouldn't that logic get executed before using the private Key?
Are you recommending to forgo such checks and let the call fail when executed?

[2016-11-16 17:15] bartonjs commented on #480
Yeah.  Things like `cert.HasPrivateKey` are reasonable to check (since it's already provided and won't pop UI), but I wouldn't go spelunking on a key handle.  Just request the operation when needed, and let the chips fall where they may.  (If that changes your exception model then maybe you need something more complicated; but it's at least how I'd start tackling the problem)

[2016-11-22 01:11] PinpointTownes opened #535 "Breaking change in JwtSecurityTokenHandler between 5.0.0 and 5.1.0"
@polita once said "unfortunately, we can't make any breaking changes in minor or patch versions"... obviously you forgot your own rule when adding JWE support, because `CreateJwtSecurityToken`'s signature changed between 5.0.0 and 5.1.0 (it now accepts an `EncryptingCredentials` instance)...

[code]

Reported by @chris5287 on Gitter.

[2016-11-22 17:50] brentschmaltz commented on #535
We will have to fix that by adding additional OM.

[2016-11-28 20:55] polita commented on #535
@PinpointTownes Thanks for pointing this out for us. It wasn't intentional; we always aim to preserve backwards compatibility in a minor release. We're working out a fix for our next release.

[2016-11-29 00:39] Eilon opened #537 "Add API breaking change detection to the build"
It would be good to have automated API breaking change detection run on every build. It typically adds only a few seconds per build, and the value is quite obvious.

There are many various tools to automate such checks, including those used by the Roslyn and .NET teams. We wrote our own due to some unique requirements, and that is available here: https://github.com/aspnet/BuildTools/tree/dev/src/M

[2016-11-29 00:49] polita commented on #537
@Eilon That would be great. This particular issue was a result of how the compiler generates calls to APIs with default parameters. Would the tools you guys use have found a breaking change with default parameters (which are evil, but was part of the existing pattern)?

[2016-11-29 00:57] Eilon commented on #537
I recall that the ASP.NET-written tool does check for breaking default parameter changes. @javiercn wrote the tool, so he could say for sure.

But, this particular case looks like it would have been caught by the most naïve of tools anyway, because I think the signature of the method changed. (In practice it's only compilers that have real awareness of optional parameters; reflection doesn't lie 😄

[2016-11-29 02:27] PinpointTownes commented on #537
@Eilon hey, that would be great if you could write a tiny how-to for this tool :smile:
I'd really like to use it when going to RTM with the aspnet-contrib projects.

Does it integrate with Sake?

[2016-11-29 05:36] Eilon commented on #537
@PinpointTownes ah, documentation? We have commits 😄 This is the change where @javiercn integrated the tool into the ASP.NET/EF build: https://github.com/aspnet/KoreBuild/pull/131

Ultimately it just runs the ApiCheck tool (a standard .NET CLI tool) in certain 'src' folders with certain parameters, so it should be very easy to integrate it into any build system.

[2016-11-29 12:31] PinpointTownes commented on #537
The last time I said that, I was told to "go fuck myself"... so... :trollface:

Thanks for the link! It looks like it will be quite easy to use with Sake, as there's a dedicated target :+1:

[2016-11-30 18:31] snekbaev opened #540 "Token validation related security updates in previous versions"
Hi,

just discovered: https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries and wanted to ask in which version this has been addressed, I'm using .NET 4.6.1 with ```System.IdentityModel.Tokens.Jwt``` and can't upgrade it to 5.x because is it not compatible, thus, I'm stuck with ```4.0.3.308261200```.

And question is: am I safe? :)

Thank you!

[2016-11-30 19:30] BrainCrumbz commented on #535
Sorry for (possibly) dumb question: which particular package should we downgrade as a workaround until this is fixed?
We hit that as soon as we moved all .NET-related packages from 1.0.1 version to 1.1.0 version.

[2016-11-30 19:46] PinpointTownes commented on #535
@BrainCrumbz FYI, I pushed new aspnet-contrib bits to NuGet.org a few minutes ago. Since ASOS beta7 doesn't use `CreateJwtSecurityToken`, it should work with 1.1.0. Don't hesitate to give it a try when you have a minute :smile:

(I'm preparing a blog post that details the most important changes between beta6 and beta7)

[2016-11-30 20:07] PinpointTownes commented on #535
@BrainCrumbz posted: http://kevinchalet.com/2016/11/30/the-new-aspnet-contrib-packages-are-out/

[2016-11-30 21:34] brentschmaltz commented on #540
@snekbaev By default we require signed tokens and do not allow 'none'.
So you are fine with 4.x or 5.x.

What issues are you having with 5.x compatibility?

[2016-11-30 21:37] brentschmaltz commented on #535
@BrainCrumbz @PinpointTownes we are planning on releasing this fix to nuget shortly (within weeks).
I am going to push it to dev, so tomorrows (11/31 nightly feed on myget should have it: https://www.myget.org/gallery/azureadwebstacknightly).

[2016-11-30 22:45] snekbaev commented on #540
@brentschmaltz if I remember correctly it was
http://stackoverflow.com/questions/38119877/tokenvalidationparameters-no-longer-working-after-upgrade-to-5-0-0 and https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/466

Basically I'm using Katana with WebAPI 2 and apparently some crucial type was moved to a different namespace in v5 thus it doesn't work :)

[2016-12-01 03:46] brentschmaltz commented on #540
@snekbaev yes, 5.x does not work with Katana. Currently we are committed to supporting 4.x and 5.x.  I was just wondering if it Katana or some other issue.

[2016-12-01 03:47] brentschmaltz commented on #535
@PinpointTownes @BrainCrumbz please reopen if the nightly fix fails.

[2016-12-01 03:47] #535 closed

[2016-12-01 05:11] snekbaev commented on #540
@brentschmaltz well, wherever the issue is, one thing for sure is that it will make a lot of people happy not to have that dependency hanging in the nuget's updates with a note in a readme file saying "DO NOT UPDATE!" :)))

[2016-12-01 09:15] BrainCrumbz commented on #535
@brentschmaltz thanks for the update, might give it a go in the next days.

@PinpointTownes just tried that, it some issue, will report in its own project.

[2016-12-02 01:24] brentschmaltz commented on #540
@snekbaev @brockallen and others, we are aware of that this is causing headaches, we are investigating a fix. Hopefully it will show up soon.

[2016-12-02 20:23] PinpointTownes commented on #535
It will be hard to confirm, as ASOS no longer uses this method... :sweat_smile:

[2016-12-04 17:41] brentschmaltz commented on #540
Issue is resolved pertaining to security risk. Back-compat is a separate issue.

[2016-12-04 17:41] #540 closed

[2016-12-05 18:18] polita commented on #498
Fixed with #531 and #529.

[2016-12-05 18:18] #498 closed

[2016-12-08 04:02] #509 closed

[2016-12-08 17:54] #527 closed

[2016-12-08 17:54] ChenYan98 commented on #527
#538

[2016-12-08 19:01] brentschmaltz commented on #342
@ChenYan98 5.x changed so that
"may_act":
{
    "sub": "admin@example.net",
    "name": "Admin"
}

Would return a single System.Security.Claims.Claim:  {may_act, { "sub":"admin@example.net", "name":"Admin"}, JsonClaimValueTypes.JsonArray}. Which is a single claim where the ValueType indicates the string is well formed JSON.

Please investigate the work involved in making this change in 4.x. See: h

[2016-12-08 19:05] brentschmaltz commented on #188
@ChenYan98 we will have to be careful that we don't break Katana users.

[2016-12-08 19:10] vgarcia330 commented on #500
I am in a holding pattern.  I have a bunch of clients using WS-Federation and they are opposed to placing anything on the cloud for security authentication.  I can't really move to .Net Core until this is built in to the framework.

[2016-12-08 19:14] danmosemsft commented on #500
@karelz so he sees this as it depends on https://github.com/dotnet/corefx/issues/1132

[2016-12-08 20:20] karelz commented on #500
cc: @bartonjs @steveharter - we should reflect it in our prioritization

[2016-12-08 20:24] bartonjs commented on #500
@brentschmaltz At this point we're only planning on bringing forward the existing SignedXml and EncryptedXml classes from NetFx (once we have time).  No improved performance, no redesigned API.

So if you want to keep the performance of the SecurityModel/IdentityModel rewrite you might not be blocked on us.

[2016-12-09 18:20] karelz commented on #500
We plan to meet (I hope next week) and discuss between .NET Core team, WIF team and ASP.NET team what is the best way forward to unblock the scenario.

[2016-12-12 22:44] Tratcher opened #545 "Very weird issue, one machine (out of many) unable to match "kid""
_From @brphelps on December 10, 2016 2:9_

I'm stumped, so I figured an issue was a good place to start. We UseJwtBearerAuthentication to configure our ASP Core 5 app, and generally have been doing so without a hitch so far. Our deployed environments and local environments are able to validate tokens, at least, until we got a new hire. This new hire's machine seems to be giving validation errors w

[2016-12-13 00:27] javiercn opened #546 "OpenIdConnectResponseType is missing some constants"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectResponseType.cs

It's missing "none" and "token" at least, although it would be good to have all the combinations (code token) (token id_token) (code token id_token)

[2016-12-13 21:45] brentschmaltz commented on #545
@Tratcher where did the JWT come from? Can you provide some details about where the keys are obtained? Type of keys? TokenProvider?

[2016-12-13 21:52] brentschmaltz commented on #526
@allenrui We do have support for ES256 (ECDSA keys). Please reopen if this doesn't work for you.
Here a test showing how to sign with a Ecdsa key.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/test/Microsoft.IdentityModel.Tokens.Tests/SignatureProviderTests.cs#L171

[2016-12-13 21:52] #526 closed

[2016-12-13 21:55] brentschmaltz commented on #532
closing this as both 327 and 476 are open and no other comments have been added.
@PinpointTownes Thanks for the feedback, when allocating resources customer feedback plays a big role.

[2016-12-13 21:55] #532 closed

[2016-12-13 22:01] brphelps commented on #545
I'm the originator :). The token is issued from AAD (ADAL talking to AAD specifically).

We're currently using this configuration:

app.UseJwtBearerAuthentication(new JwtBearerOptions
            {
                AutomaticAuthenticate = true,
                AutomaticChallenge = true,
                Authority = $"{authSettings.AadInstance}{authSettings.Tenant}",
                Audience = authSe

[2016-12-14 03:37] RussKie opened #547 "JwtSecurityTokenHandler.ValidateToken 5.0.0->5.1.0 regression"
I have an app running 1.0 (Microsoft.NETCore.App v1.0.0) referencing Microsoft.IdentityModel.Tokens 5.0.0.
I have upgraded the app to 1.1 (as part of testing https://github.com/dotnet/corefx/issues/11082) and Microsoft.IdentityModel.Tokens 5.1.0. Now the code which previously worked no longer works.

Inspecting the code for both 5.0.0 and 5.1.0 versions I see the was a change in workflow in `JwtSe

[2016-12-14 05:37] leastprivilege commented on #532
Oh yes - and please change the inbound claim type map handling to opt-in, rather than opt-out.

I gave this feedback a couple of times - the JwtHandler is not the place for (automatic) claims transformation - I want the exact claim types in principal that got issued from my STS - and not MS proprietary ones.

[2016-12-14 14:08] leastprivilege opened #548 "JWT Handler on iOS"
Since 5.1 I can add the package to a Xamarin iOS project - but when validating a JWT I get the below exception.

Any ideas?

"IDX10503: Signature validation failed. Keys tried: 'Microsoft.IdentityModel.Tokens.RsaSecurityKey , KeyId: a3rMUgMFv9tPclLa6yF3zAkfquE\n'.\nExceptions caught:\n 'System.NotImplementedException: **Derived classes must provide an implementation**.\n  at System.Security.Crypto

[2016-12-14 16:59] adkendall commented on #500
Also in a holding pattern here. I need to use OpenId Connect Code Flow (only possible in .dot net core if my information is correct) but also I need the ws-fed middleware, which isn't available in core. Hoping this post can help boost priority.

[2016-12-14 17:49] brentschmaltz commented on #329
For 4.x in Validators.ValidateIssuerSecurityKey throw meaningful error when
1. Key is not X509SecurityKey - tell users we only support X509SecurityKey.
2. if  validationParameters.CertificateValidator == null, after checking that key is X509SecurityKey. - tell user they need to set CertificateValidator.

[2016-12-14 18:55] brentschmaltz commented on #545
@brphelps thanks, what is the authority?

[2016-12-14 18:57] brentschmaltz commented on #46
We have support for 'dir'. Closing as additional releases will add additional modes.

[2016-12-14 18:57] #46 closed

[2016-12-14 19:02] brentschmaltz commented on #548
@leastprivilege I suspect that this functionality is not available on iOS.
@bartonjs is this correct?

[2016-12-14 20:22] brentschmaltz commented on #547
@RussKie If ValidateTokenPayload was Protected that would work right?

[2016-12-14 21:31] polita commented on #532
@leastprivilege Can you add that comment to one of the other two issues that we're using to track this request? #327, #476.

[2016-12-14 21:43] brentschmaltz commented on #329
@bgever for 5.x, we will do something, but this is not a big concern because you are required to add keys to TokenValidationParameters. It is assumed you trust them. We left this in 5.x mainly because if we support signedxml (again), sometimes the xml has public keys embeded in the xml. In that case you need to validate you trust the cert.

[2016-12-14 22:02] RussKie commented on #547
I think it may.
At least it would get me further down the rabbit hole :)

[2016-12-14 22:09] bartonjs commented on #548
It means that the Xamarin implementation of RSA has not overridden the HashData method (which was added in .NET 4.6 / .NET Standard 1.3).  @akoeplinger are you guys aware of that?

[2016-12-14 22:24] akoeplinger commented on #548
@bartonjs Yeah, looks like that's the case. I wasn't aware of it, not sure if we should've received a notice that we should override those methods :)

[2016-12-14 23:33] RussKie commented on #547
I have just tested it by copying `ValidateTokenPayload` method into my subclass of `JwtSecurityTokenHandler` and it worked.

[2016-12-15 00:10] brentschmaltz commented on #474
@will-bartlett have these properties been added to AAD Discovery?

[2016-12-15 04:06] patrickmichalina commented on #39
Interestingly enough, if you have multiple claims with the same key, it will automatically make a collection under that key. So this should work for you, even though the constructor doesn't support multiple:

[code]

[2016-12-15 05:21] leastprivilege commented on #474
Why would the AAD disco document be the reference here? they are in the spec the OP linked.

[2016-12-15 05:31] leastprivilege commented on #548
thanks - could you fix that please?

I've been using PCLCrypto (https://github.com/AArnott/PCLCrypto) so far and this deals with x-plat crypto quite well. Moving away from PCL to netstandard - it should be easier to implement a cross platform OpenID Connect library. But no joy so far.

When my original iOS issue was closed, I assumed someone tested it as well.

[2016-12-15 05:34] leastprivilege commented on #532
They are both closed..

[2016-12-15 05:35] leastprivilege opened #550 "Stop transforming inbound/outbound claim types by default"
I gave this feedback a couple of times - the JwtHandler is not the place for (automatic) claims transformation. This is either application logic or explicit opt-in behavior.

I want the exact claim types in the principal that got issued from my STS - and not MS proprietary ones.

[2016-12-15 05:36] leastprivilege commented on #532
I opened #550

[2016-12-15 12:00] akoeplinger commented on #548
Ok, so it turns out we _did_ implement these methods for RSA in Mono 4.8/Xamarin.iOS 10.4 which are in the alpha channel right now. Can you please try with those builds?

I see it not being implemented for DAS though, so I'll file an issue for that.

[2016-12-15 13:31] leastprivilege commented on #548
OK - will do. thanks!

[2016-12-15 14:04] leastprivilege commented on #548
just did a quick test. seems to work. thanks! Will do more testing and let you know if there are more issues.

[2016-12-15 14:04] #548 closed

[2016-12-15 19:19] brentschmaltz commented on #547
@RussKie That gets going.
@PinpointTownes @polita @ChenYan98 How do you folks feel about making ValidateTokenPayload protected virtual?

[2016-12-15 19:33] brentschmaltz commented on #550
@leastprivilege I agree with you in principal.
If we turn it off by default, we need to consider how ClaimsIdentity.Name and ClaimsPrincipal.IsInRole are affected. These apis use ClaimsIdentity.NameClaimType and ClaimsIdentity.RoleClaimType with are set to the mapped types.

A possible mitigation is:
clearing static JwtSecurityTokenHandler.DefaultInboundClaimTypeMap in global scope.

[2016-12-15 19:49] amayer171 opened #551 "IDX10500: Signature validation failed for some but not all servers."
I'm having a similar issue to https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/545 where the kid seems to be an issue, but only for certain servers. We have other servers in the same network which are working with the same test case. Also by using a different tennant, the login works successfully. I currently able to reproduce locally in my test environme

[2016-12-15 19:59] brentschmaltz commented on #474
it certainly makes sense to follow the spec.
I was wondering if AAD supported them, so we would have an endpoint to test against (and if we got the names right).

[2016-12-15 22:38] brentschmaltz commented on #551
@amayer171 I don't believe 0x61B44041161C13F9A8B56549287AF02C16DDFFDB is a valid hash. Is it possible for you to share the public part of the cert?

[2016-12-15 22:39] polita commented on #547
@brentschmaltz I can see making it protected. Why does it need to be virtual? It doesn't seem like @RussKie needs to override the behavior of ValidateTokenPayload; he just needs to be able to call it.

[2016-12-15 22:42] brentschmaltz commented on #547
@polita protected would be fine, @RussKie ?

[2016-12-15 22:54] brentschmaltz commented on #546
@javiercn I am not sure about "none" or "token".
"code token", "token id_token", "code token id_token" seem valid.

http://openid.net/specs/openid-connect-core-1_0.html#Authentication

[2016-12-15 23:36] javiercn commented on #546
Hi,

Token is defined in the OAuth 2.0 spec:
https://tools.ietf.org/html/rfc6749#section-11.3.2

None is defined in the OAuth 2.0 multiple response types spec:
http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#OAuthResponseTypesReg

The Open Id connect spec makes an explicit note about the "token"

That said, I think it's useful to have it as part of the list of response types for

[2016-12-15 23:41] RussKie commented on #547
Yep, `protected` works for me

[2016-12-15 23:45] amayer171 commented on #551
I'm not supplying a cert at all so it should be from AAD. Any advice on how to verify this?

I did not explicitly retrieve the keys. You can see the code sample i am using here: https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-openidconnect

Failure and Success JWT's are provided below. Interestingly the oid and aud are different.

The login flow is this:

1. localhost (test

[2016-12-16 05:06] leastprivilege commented on #474
maybe you should setup IdentityServer and Openiddict - so you have something spec compliant to test against ;)

[2016-12-16 05:08] leastprivilege commented on #550
Why is this your concern? Anybody can set the RoleClaimType and NameClaimType when validating a token to match whatever they are expecting.

Both are legacy and shouldn't be used anymore anyways.

wrt statics - it's 2016.

[2016-12-16 16:59] polita commented on #547
Seems fine to me. I will make the change today. It'll be part of the next feature release.

[2016-12-16 17:08] #547 closed

[2016-12-16 17:08] polita commented on #547
PR #552 merged into dev.

[2016-12-19 20:38] amayer171 commented on #551
This has been solved. It was a configuration issue that made it into the web.config file where the clientID and authority were wrong. The issue was fixed by using the latest values from azure active directory.

[2016-12-19 20:38] #551 closed

[2016-12-20 23:53] ChenYan98 commented on #192
This is not an issue in 4.x too. The customer should use correct SecurityKey or SecurityToken when setting TokenValidationParameters. In the reported issue, customer should use X509SecurityKey instead of RsaSecurityToken.

[2016-12-20 23:53] #192 closed

[2016-12-21 16:45] brentschmaltz commented on #550
My concern is back-compat. ClaimsIdentity.Name, which is tied to NameClaimType, could be null. This has caused null-refs in code that expects a non-null value.

It almost 2017 :-).

[2016-12-21 20:37] leastprivilege commented on #550
Again - why is this your concern?

There might be JWTs without a "name" claim (or something that maps to it) at all. Actually they are pretty common.

The same issue would exist.

[2016-12-22 13:10] brockallen commented on #550
With that? This is a new(er) technology, and no where in the specs do you see WS-* claim types recommended. Stop treating the developers like they are incompetent.

If you must make these decisions for developers, then put a layer elsewhere in the app layer to give you SOAP-flavored claim types, but don't mandate this on the rest of people by default. By forcing this, you're shoehorning people int

[2016-12-29 15:02] brentschmaltz commented on #550
The back-compat scenario where an AuthorizationDecisionPoint (internal or external) functions differently when S.IM.Tokens.Jwt generates different claims by default, is the concern. A comprehensive set of tests may catch such issues. It is doubtful that all issues would be shown through testing.

[2016-12-29 15:09] brockallen commented on #550
I think the issue here is the difference in expectation of a JWT library. From my point of view this library should just do JWT semantics and nothing more. From your perspective you think it should do a lot more including interpreting claim types and doing other things related to authorization (as you just said). The disconnect is the source of the complaints.

[2017-01-01 00:36] johncrim opened #554 "5.1.0: JWT with "cty":"JWT" in header cannot be read"
In System.IdentityModel.Tokens.Jwt 5.1.0, JWTs with a valid header like:

[code]

cannot be read, due to this code in `JwtSecurityToken.DecodeJws()`:
[code]

Note that this is **not** an issue in the master branch, but is a (blocking for me) issue in the release branch, and in the existing released NuGet package.

This test fails (release branch only):
[code]

[2017-01-01 04:22] johncrim commented on #554
Note that per https://tools.ietf.org/html/rfc7519#section-5.2 (covering the `cty` header), the current behavior is reasonable (and an implementation I'm integrating with is incorrect). However, this is a breaking change from the prior version of System.IdentityModel.Tokens.Jwt (version 4.0.3.308261200).

I think the biggest reason that this is a bug is that it prevents successful interoperability

[2017-01-03 21:19] brentschmaltz commented on #550
@brockallen I don't think the library should do more than JWT semantics. The tension is related to a choice we made 5 years ago when WsFed and OAuth were running side-by-side. We thought normalizing the claim types would help users write a single Authorization Policy independent of the token type OR protocol. That is where the claim transformation of JWT claim types originated. Now, we have existi

[2017-01-03 21:55] brockallen commented on #550
That's why this should be a brand new library for a new age, rather than carrying forward legacy design and choices.

[2017-01-04 17:01] brentschmaltz commented on #554
@johncrim lax on receive and per spec on send is probably the way to adjust here. I marked this for the 5.1.2 release

[2017-01-04 17:28] brentschmaltz commented on #546
@javiercn will put this in 5.1.2

[2017-01-04 17:30] #545 closed

[2017-01-04 18:01] brentschmaltz commented on #511
@Loongle checkout https://github.com/brentschmaltz/CodeSnips/blob/master/src/JwtTokens/WriteJwtSecurityToken.cs#L12

I changed the algorithm type and base64 encoded the keybytes.

[2017-01-04 18:01] #511 closed

[2017-01-04 22:04] brentschmaltz commented on #514
@ycrumeyrolle I suspect you are using 4.x is that true?

[2017-01-04 22:22] ycrumeyrolle commented on #514
You are right!

[2017-01-06 15:57] brentschmaltz commented on #550
@brockallen I think you are arguing for Microsoft.IdentityModel.Tokens.Jwt that works in the new world and let System.IdentityModel.Tokens.Jwt function as it does for legacy.

[2017-01-06 16:00] PinpointTownes commented on #476
Any news? :smile:

[2017-01-08 00:19] will4274 commented on #474
@brentschmaltz frontchannel_logout_supported is advertised from both endpoint. frontchannel_logout_session_supported is not advertised because... we don't support it :) and so the default value of false is implied by the spec.

[2017-01-10 20:01] PinpointTownes opened #557 "Strong name validation exception when using the 5.1.1 packages on .NET Desktop"
@brentschmaltz @polita @tushargupta51 FYI, the new 5.1.1 package doesn't work on .NET Desktop. An exception is thrown at runtime due to a strong name validation failure:

Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=5.1.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. Strong name validation failed. (Exception from HRESULT: 0x8013141A).

[2017-01-10 20:01] PinpointTownes commented on #557
/cc @blowdart

[2017-01-10 20:05] polita commented on #557
Thanks @PinpointTownes. We'll fix it ASAP.

[2017-01-10 21:30] polita commented on #557
@PinpointTownes It looks like we accidentally published privately-built bins. I am cutting a new build now.

[2017-01-10 21:34] PinpointTownes commented on #557
lol, that doesn't sound like a great way to start this new year :trollface:

Thanks for your reactivity :+1:

[2017-01-10 21:44] polita commented on #557
It's not my ideal. :)

[2017-01-11 03:43] brentschmaltz commented on #557
@PinpointTownes 5.1.2 looks good.

[2017-01-11 03:43] polita commented on #557
We've pushed 5.1.2 packages to NuGet.

[2017-01-11 03:43] #557 closed

[2017-01-11 04:44] PinpointTownes commented on #557
Thanks, I'll give them a try tomorrow.

Note: you should consider updating https://technet.microsoft.com/library/security/3214296 to list the fixed packages. It would be also worth mentioning that the 5.0.0 bits were not vulnerable.

[2017-01-11 09:25] huysentruitw commented on #500
Wondering if there is any update on this? We need to decide if we want to use .NET Core or not, but WS-Federation is holding us back.

@karelz how was the meeting? :)

[2017-01-11 10:34] leastprivilege opened #559 "JWT handler and UAP"
When I reference the JWT handler in a Win10 project I get errors like:

Severity	Code	Description	Project	File	Line	Suppression State
Error		System.Security.Cryptography.Csp 4.3.0 provides a compile-time reference assembly for System.Security.Cryptography.Csp on UAP,Version=v10.0, but there is no run-time assembly compatible with win10-x64-aot.			0

Any idea what I am doing wrong?

[2017-01-11 10:36] leastprivilege commented on #559
I removed all the AOTs - but still get

Severity	Code	Description	Project	File	Line	Suppression State
Error		System.Security.Cryptography.Csp 4.3.0 provides a compile-time reference assembly for System.Security.Cryptography.Csp on UAP,Version=v10.0, but there is no run-time assembly compatible with win10-x64.			0

[2017-01-11 17:22] brentschmaltz commented on #559
@leastprivilege by UAP do you mean Universal Windows Application?

[2017-01-11 17:51] bartonjs commented on #559
Looks like we don't have a UAP/UWP version of that library.

[2017-01-11 17:54] brentschmaltz commented on #476
@PinpointTownes nothing concrete

[2017-01-11 20:03] brentschmaltz commented on #559
@leastprivilege @bartonjs i take it this means this scenario is not supported by .net?

[2017-01-12 01:33] ChenYan98 commented on #342
If we update Wilson to 5.x in Katana in next few months then I think we are ok with not fixing this for 4.x. @brentschmaltz what is your opinion?

[2017-01-12 01:36] #188 closed

[2017-01-12 02:09] brentschmaltz commented on #559
@ChenYan98 I think we should include System.Security.Cryptography.Csp only in NetStandard 14. I pushed brentsch/559 for you to get an idea of what I am thinking.

[2017-01-12 16:02] brentschmaltz commented on #342
@ChenYan98 We haven't closed on ensuring 5.x will be modified to support Katana. Let's table this until we make that decision.

[2017-01-12 16:30] leastprivilege commented on #559
I am confused - I thought the JWT handler is netstandard 1.4 - and according to your table, that makes it compatible with UAP/Win10?!

[2017-01-12 16:51] brentschmaltz opened #561 "Microsoft.IdentityModel.Logging is not generating xmlDoc"
We just need to set '"xmlDoc": true' in project.json.buildOptions.

[2017-01-12 17:33] Tratcher commented on #342
There may be an update to Katana in the next few months where it could move to 5.x if it didn't impact consumers too much.

[2017-01-12 18:55] brentschmaltz commented on #559
@leastprivilege yes JWT handler is netstandard 1.4. However, System.Security.Cryptography.Csp appears to have no implementation in 1.4. We don't need S.S.C.Csp in 1.4, if we drop that reference in project.json, your problem will go away. We use S.S.C.Algorithms and let the runtime serve up the correct implementation.

[2017-01-13 01:04] #474 closed

[2017-01-19 03:22] paritoshfulsunge2015 opened #563 "IDX10213: SecurityTokens must be signed. SecurityToken: '{0}'"
Using WS-Federation ASP.Net OWIN middleware to sign-in users from a single Azure AD tenant, on signin request control goes to login.windows.net but receiving security token must be signed error when the token comes back to identitymodel,tokens.saml2securitytokenhandler

Exception: IDX10213: SecurityTokens must be signed. SecurityToken: '{0}'. at Microsoft.IdentityModel.Tokens.Saml2SecurityTokenHan

[2017-01-19 21:36] brentschmaltz commented on #563
@paritoshfulsunge2015 I not sure I under stand your concern. Is it that the message is wrong?

[2017-01-19 21:48] paritoshfulsunge2015 commented on #563
@brentschmaltz
There are two issues here,
1. The message is incomplete. It says SecurityToken: '{0}' but the format placeholder is never replaced with the actual token.

2. Ideally I should not receive this error at all, I have the app configured as mentioned in the Microsoft docs link "https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications". The

[2017-01-19 23:33] brentschmaltz commented on #563
@paritoshfulsunge2015 thanks for the clarification. I'll look into it.

[2017-01-20 00:23] paritoshfulsunge2015 commented on #563
@brentschmaltz Sorry by mistake I gave the incorrect link for the reference Microsoft doc for app setup. Below is the correct link:
https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-wsfederation/

[2017-01-20 17:08] brentschmaltz commented on #563
@paritoshfulsunge2015 couple of questions.
1. Did you just try this sample for the first time OR did it every work?
2. Why did you choose wsFed over OIDC?

[2017-01-21 01:24] paritoshfulsunge2015 commented on #563
@brentschmaltz
Did you just try this sample for the first time OR did it ever work? --- Yes the sample works for OpenID Connect
Why did you choose wsFed over OIDC? --- We are just evaluating both the protocols

[2017-01-21 01:24] #563 closed

[2017-01-23 10:54] leastprivilege commented on #559
cool - so this is a bug right? Can you fix that in a bugfix release - e.g. 5.1.3 ?

[2017-01-24 22:55] brentschmaltz commented on #559
@leastprivilege - yep I will ping you when we get this in.

[2017-01-25 20:08] karelz commented on #500
Sorry for the delayed update. We met on 2016/12/14. Three teams were represented: CoreFX (myself), ASP.NET and ActiveDirectory.IdentityModel (@vibronet @brentschmaltz).

Key **technical points** from our discussion:
* ActiveDirectory.IdentityModel team is collecting feedback on the need for WS-Fed in .NET Core (@brentschmaltz @vibronet) - it's the driving force behind prioritization and potential

[2017-01-25 20:23] leastprivilege commented on #500
Well - I can only re-iterate: We have many customers that use ADFS (e.g. the version that shipped with Server 2012 R2). For them, the absence of WS-Fed middleware is a blocker to move to ASP.NET Core.

An ASP.NET Core WS-Fed MW would not need to be necessarily compatible with .NET Core - everyone I spoke to so far would be fine to run ASP.NET Core on the full .NET Framework for the time being (or

[2017-01-26 00:57] vibronet commented on #500
@karelz - the statement below is not really accurate.

I want to be extra clear on this point. What we asserted during that meeting is that until the underlying platform does not provide the essential capabilities for doing XML processing, **we are not even considering that in planning because it's non-actionable for us**. There is no shortage of feedback about the fact that the feature would be u

[2017-01-26 06:42] leastprivilege commented on #500
So why not do a "full framework only" version to start with? That would be a pretty mechanical port of the Katana MW - and would make your customers happy.

[2017-01-30 08:58] Pikhulya opened #566 "TokenValidationParameters.IssuerSigningKeyResolver is not async"
It seems like the purpose of TokenValidationParameters.IssuerSigningKeyResolver is to customize the way signing keys are resolved/retrieved. Therefore, it would be logical to accept that there are scenarios where they key will be downloaded from somewhere which would involve IO operation but since the delegate defined in  azure-activedirectory-identitymodel-extensions-for-dotnet/src/Microsoft.Iden

[2017-01-30 18:06] zivillian opened #567 "IDX10213: SecurityTokens must be signed. SecurityToken: '{0}'"
During AD FS CertificateRollover there are multiple Token Signing Keys. This results in an SecurityTokenValidationException with the above message.

The reason is a missing break in [SecurityKeyResolver.ResolvesToSigningToken()](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/b605b48dcf16a9b68e3521b862b43ea684fc000f/src/Microsoft.IdentityModel.Protocol.Ext

[2017-01-30 20:26] bharatmangal04 commented on #567
Hi Team,  We are facing same issue and due to which production environment is down but as an alternative we have removed the secondary certificate from the ADFS server.

Can we get the solution for this on priority basis.

[2017-01-30 20:29] bharatmangal04 commented on #563
Hi Team, We are facing same issue and due to which production environment is down but as an alternative we have removed the secondary certificate from the ADFS server.

Can we get the solution for this on priority basis

[2017-01-31 20:08] brentschmaltz commented on #567
@zivillian @bharatmangal04 Will get into next release, will be out next week.

[2017-01-31 20:10] brentschmaltz commented on #566
@Pikhulya this should be done at the same time as https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/468

[2017-02-01 09:17] lokesh-zende opened #569 "IDX10500: Signature validation failed. Unable to resolve SecurityKeyIdentifier"
Hi,
I am new to OAuth and I am trying to implement it in my application.
I have added a relying party by referring [this ](http://www.gi-architects.co.uk/2016/04/setup-oauth2-on-adfs-3-0/)link.
![image](https://cloud.githubusercontent.com/assets/20038894/22500416/49d6a02a-e88a-11e6-9a7d-b88a1a8611c9.png)
As suggested in a link, I have not attached any certificate while creating a relying party.

N

[2017-02-01 20:07] brentschmaltz commented on #569
TokenValidationParameters that you pass to ValidateToken needs to have the key necessary to validate the signature of the JWT. Normally you would get the key for the discovery endpoint using ConfigurationManager https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Protocols/Configuration/ConfigurationManager.cs

You can also s

[2017-02-01 20:25] bharatmangal04 opened #570 "Build Error DEV4X- Microsoft.IdentityModel.Protocol.Extensions.Tests"
Hi All,

I have clone the solution from DEV4X branch but not able to build the solution due to missing one file "ConfigurationDocument.xml".

Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not copy the file "D:\GitSource\azure-activedirectory-identitymodel-extensions-for-dotnet\tests\Microsoft.IdentityModel.Protocol.Extensions.Tests\ConfigurationDocument.xml" because it

[2017-02-02 00:27] bharatmangal04 commented on #567
Thanks @brentschmaltz Please let me know the date of release. we have next production release on next week so will see if we can update the nugget package in our code base.

[2017-02-02 03:13] brentschmaltz commented on #570
@bharatmangal04 sorry about that. I removed the dependency. It was accidentally added.

[2017-02-02 03:13] #570 closed

[2017-02-02 03:15] brentschmaltz commented on #569
@lokesh-zende if you need additional information, please reopen.

[2017-02-02 03:15] #569 closed

[2017-02-02 04:15] brentschmaltz commented on #567
@bharatmangal04 I pulled your changed into release4x. That is the last fix for now. I will merge into dev4x and let you know when the nightlies are out on myget so you can verify. Hopefully we can meet your production date.

[2017-02-02 05:16] brentschmaltz commented on #567
@bharatmangal04 @zivillian Changes are in dev4x and release4x. release4x was in a bad merge state. I had to rebase ontop of dev4x, then push -f.

[2017-02-02 05:16] #567 closed

[2017-02-06 22:24] Tratcher commented on #422
Milestone Backlog? What release was this in?

[2017-02-07 02:48] brentschmaltz commented on #561
fixed
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/commit/76fbadff01aeef90540d31d174b60be9098590b1

[2017-02-07 02:48] #561 closed

[2017-02-07 20:00] brentschmaltz opened #571 "Add support for frontchannel_logout_supported and frontchannel_logout_session_supported in OpenIdConfiguration"
bug for 4.x see https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/474

[2017-02-07 20:01] #571 closed

[2017-02-07 20:02] brentschmaltz opened #572 "Add version API to enable middleware to surface version query params to endpoints"
tracking bug for 4.x

[2017-02-07 20:02] #572 closed

[2017-02-07 20:11] #329 closed

[2017-02-07 20:11] #342 closed

[2017-02-07 20:13] #191 closed

[2017-02-07 20:22] #377 closed

[2017-02-07 20:22] #362 closed

[2017-02-07 20:22] #271 closed

[2017-02-07 20:23] #65 closed

[2017-02-07 20:46] brentschmaltz commented on #559
@leastprivilege can you try out 5.1.3-pre-402070922 from the nightly feed: https://www.myget.org/F/azureadwebstacknightly/api/v3/index.json

[2017-02-08 16:47] brentschmaltz commented on #422
@Tratcher 5.1.0

[2017-02-12 05:50] RussKie opened #573 "Tests.CreateAndValidateTokens.CreateJWETokens fails"
I just pulled down the latest dev branch, ran build.ps1 and got a test fail error

[code]

I think the data in the test claims may not account for non en-US default encodings or something like that...

![image](https://cloud.githubusercontent.com/assets/4403806/22859970/33dbfa24-f143-11e6-8c5c-569a03c3d338.png)
Also note `?` and other non-english chars (rendered as Cyrillic for me) in `new Claim("

[2017-02-15 11:30] leastprivilege commented on #559
I didn't have a chance to try it yet - but IMHO you should be more agile for bug fix releases. This issue is already older than 4 weeks.

[2017-02-15 12:24] pellea commented on #559
Any update on this?

[2017-02-15 18:17] brentschmaltz commented on #573
@RussKie I am not seeing any errors in our nightly builds.

[2017-02-15 19:19] brentschmaltz commented on #559
@pellea nightly x.5.3 should solve the issue.

[2017-02-15 19:20] #559 closed

[2017-02-16 08:29] pellea commented on #559
Yes, I can reference the nightly package.
But I doubt that @leastprivilege will use this package in it's "production" package.

[2017-02-16 08:51] leastprivilege commented on #559
Of course I won't. I think bug fix releases should be released quicker. That's the beauty of this new work flow.

What's the ETA?

[2017-02-16 14:28] brentschmaltz commented on #559
@leastprivilege @pellea Feb 28th.

[2017-02-16 16:30] brentschmaltz commented on #550
@leastprivilege @brockallen I propose in the next minor release we add an easy off switch.
Then in the 2.0 refresh we remove the mapping code and leave it to higher levels or a pluggable delegate.

[2017-02-16 16:35] brockallen commented on #550
2.0, as in the same time-frame as 2.0 of .NET Core and ASP.NET Core?

[2017-02-18 03:32] brentschmaltz commented on #550
Yes

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Brock Allen <notifications@github.com>
Sent: Thursday, February 16, 2017 8:35:17 AM
To: AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet
Cc: BrentSchmaltz; Comment
Subject: Re: [AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet] Stop transforming inbound/outbound claim types

[2017-02-18 23:29] DarkBond opened #576 "Version 5.1.2 Breaks attempt to use OpenIdConnectConfiguration."
I've got a version of the AAD B2C examples from [https://github.com/Azure-Samples/active-directory-dotnet-webapi-manual-jwt-validation](url) that work just great out of the box with version 4.0.1.  However, I'm connecting to the B2C endpoints, so I'm also using ConfigurationManager<OpenIdConnectConfiguration> in order to get the V 2.0 endpoint metadata.  When I upgrade to System.IdentityModel.Toke

[2017-02-18 23:43] DarkBond commented on #327
You appear to have broken something important.  I don't pretend to understand all the moving parts and I really don't want to be an authentication expert: I have so many other things to get to.  Because I'm using AAD B2C, I'm apparently forced into using MSAL and a V 2.0 endpoint for metadata.  Using the 4.0.1 version of the System.IdentityModel.Tokens.Jwt package, I have a working solution except

[2017-02-19 01:03] RussKie commented on #573
I'll try it on few other machines and report back

[2017-02-21 03:41] tofutim commented on #513
Can someone leave a clue on how to convert? I am working on Microsoft.Azure.Mobile.Server.

[code]
Need to change BinarySecretSecurityToken to IssuerSigningKey. I presume I use tha tSigningKey at the end, but how to make that into a SecurityKey?

[2017-02-21 17:37] brentschmaltz commented on #576
@DarkBond DateTimeUtil is in Microsoft.IdentityModel.Tokens. If you are using Katana, you must stick with the 4.x versions of IdentityModel.

[2017-02-21 17:47] DarkBond commented on #576
Brent, close this one out.  I started with one of the examples on GITHUB.  When I upgraded the System.IdentityModel.Tokens.Jwt from 4.0.0 to 5.2.1, apparently the Microsoft.IdentityModel.Protocols.OpenIdConnect didn't upgrade as well, so I was left with a bad configuration by Nuget.  Upgrading and re-installing the packages seems to have solved the issue.  Sorry for the trouble.

[2017-02-21 18:26] brentschmaltz commented on #554
@johncrim we will get this into 5.1.3

[2017-02-21 21:42] brentschmaltz commented on #576
@DarkBond thanks for getting back so soon.

[2017-02-21 21:42] #576 closed

[2017-02-21 22:36] brentschmaltz commented on #573
@RussKie Please reopen if you are still seeing this issue.

[2017-02-21 22:36] #573 closed

[2017-02-22 05:02] brentschmaltz commented on #546
@javiercn will be in tomorrows nightly.

[2017-02-22 05:02] #546 closed

[2017-02-22 05:07] brentschmaltz commented on #517
message is fine for 5.x

[2017-02-22 05:07] #517 closed

[2017-02-22 16:10] brentschmaltz commented on #554
@johncrim committed into dev, will be in nightly builds.
5.1.3 will be released by Feb 28th.

[2017-02-22 16:10] #554 closed

[2017-02-22 19:10] brentschmaltz commented on #480
@PinpointTownes would you be OK with deferring the HasPrivateKey for the ctor RSASecurityKey(RSA rsa) ?
This would workaround your current issue.

[2017-02-22 19:20] PinpointTownes commented on #480
@brentschmaltz hum, I'm not sure to understand how this would solve this issue. Do you mean you want `HasPrivateKey` to return `true` without even making a real check?

[2017-02-22 19:36] brentschmaltz commented on #480
@PinpointTownes Yes, the issue since the apis are not available for 4.5.1. Other wise we would have to do some seemingly messy checks.

bartonjs recommended only checking when it makes sense.

[2017-02-22 19:40] PinpointTownes commented on #480
Well, the most sensible way to fix that is to add a `net461` target, or use reflection to call the new RSA methods.

I don't think lying and returning an invalid result is the right answer here. If an app or a library uses `HasPrivateKey`, it likely expects a correct result.

[2017-02-22 20:09] brentschmaltz commented on #480
Adding a net461 target won't help download .net users. HasPrivateKey is really of limited use and gets in the way more than it helps.

[2017-02-22 20:25] PinpointTownes commented on #480
I still don't understand how doing that would help, really. Even if you work around this issue in `RsaSecurityKey`, `HasPrivateKey` is not the only place that is incompatible with `RSACng`. The entire `AsymmetricSignatureProvider` class doesn't work well with non-`RSACryptoServiceProvider` instances on .NET Desktop: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotn

[2017-02-22 20:59] brentschmaltz commented on #480
There must be a target mismatch going on here were newer .Net objects are passed to IdentityModel.
Is that what is going on?

[2017-02-23 01:10] #175 closed

[2017-02-23 15:03] oscarhult commented on #495
@bharatmangal04, did you find a solution to this? It seems the "IsNullOrEmpty(keyValue.Key))"-check was not implemented in 1.0.4/4.0.4.

[2017-02-23 15:20] bharatmangal04 commented on #495
@oscarhult, I have taken the copy of project and filter the forms with empty key by my self.

[2017-02-23 16:10] oscarhult commented on #495
@bharatmangal04, thank you for the quick reply and I'm sorry if this is the wrong place to discuss this issue. When modifying `WsFederationMessage.cs` my `Microsoft.IdentityModel.Protocol.Extensions.dll` receives a new publicKeyToken and will no longer be loaded.

`Strong name signature could not be verified.  The assembly may have been tampered with, or it was delay signed but not fully signed wi

[2017-02-23 18:07] brentschmaltz commented on #513
That API has been removed in 5.0. Only keys are used, not tokens

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tim Uy <notifications@github.com>
Sent: Monday, February 20, 2017 7:41:27 PM
To: AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet
Cc: BrentSchmaltz; State change
Subject: Re: [AzureAD/azure-activedirectory-identitymodel-extensions

[2017-02-23 19:47] brentschmaltz commented on #480
Moving to 5.1.4

[2017-02-23 19:48] brentschmaltz commented on #488
moving to 5.1.4

[2017-02-23 21:46] brentschmaltz opened #577 "Review how runtime resolves JsonWebKey.Kid"
SecurityKey has KeyId, JsonWebKey had Kid. How does the runtime match keys?

[2017-02-23 23:30] javiercn opened #578 "Consider not automatically initializing collections in OpenIdConnectConfiguration"
When trying to use the type for serializing a metadata document it includes a bunch of properties with empty json arrays that increase the size of the document.

The properties are marked with `DefaultValueHandling = DefaultValueHandling.Ignore` but given that they are initialized on the constructor, there's no way to take advantage of that.

I can see two options to fix this:
Option 1 is stop ini

[2017-02-24 01:46] javiercn opened #579 "Do not serialize some properties on JsonWebKey"
When trying to serialize an instance of JsonWebKey there are a few properties that are showing up on the wire even though they are not set.

[code]

It would be good if you could hide these properties by using JsonIgnore http://www.newtonsoft.com/json/help/html/T_Newtonsoft_Json_JsonIgnoreAttribute.htm

(KeySize, HasPrivateKey, KeyId, CryptoProviderFactory)

It would also be good if you can add a

[2017-02-24 11:18] pavlalexandr opened #580 "Problem with Microsoft.IdentityModel.Protocols.OpenIdConnect nuget package dependencies."
Hi guys,
faced with a problem when I use Microsoft.AspNetCore.Authentication.OpenIdConnect in my ASP.NET MVC  6 application.
When I create OpenIdConnectOptions:
` return new OpenIdConnectOptions
            {
                // For each policy, give OWIN the policy-specific metadata address, and
                // set the authentication type to the id of the policy
                MetadataAddress

[2017-02-24 20:38] brentschmaltz opened #581 "JsonWebKey should not return ECDsaCng for NetStandard1.4"
It is ok to return ECDsaCng for Net451 {desktop}. Cng only exists on Windows platforms, so for NetStandard, we need to return a different type.

[2017-02-24 20:46] brentschmaltz commented on #577
JsonWebKeySet.GetSigningKeys assigns the KeyId when it creates the SecurityKey instance that the runtime will use. It is a bit of an issue to have two properties for the same thing.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/JsonWebKeySet.cs#L104

We should resolve in the next major release, perhaps with the Core

[2017-02-24 20:50] brentschmaltz commented on #580
@pavlalexandr we delisted 5.1.0 as there was a security issue. You should be using x.1.2 releases from IdentityModel. You may need to add a binding redirect in your config file.
Something like: https://github.com/brentschmaltz/Katana/blob/master/OAuthBearer/Web.config#L107

[2017-02-24 20:57] brentschmaltz commented on #579
@javiercn definitely we will put the 'ignore' into 5.1.4 for
`(KeySize,` HasPrivateKey, KeyId, CryptoProviderFactory)

As for setting collections to null, that is always a discussion with two camps. Allowing null as https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens/TokenValidationParameters.cs#L502 leads to always ch

[2017-02-24 21:06] brentschmaltz commented on #578
@javiercn let's use https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/580 for discussions.

[2017-02-27 17:35] brentschmaltz commented on #577
@brockallen I agree that S.IM.Tokens.Jwt should focus on JWT scenarios (Token, OIDC, Bearer, Handler, etc) and resist complexities such as automatic claim mapping etc.  You have helped convince us of that.

The abstraction in Microsoft.IdententityModel.Tokens provides a common model for different token types and keys to be used by different protocols and key services.

[2017-02-27 17:42] brentschmaltz commented on #580
@pavlalexandr I am closing this now, please reopen if you are still having issues.

[2017-02-27 17:42] #580 closed

[2017-02-27 18:16] javiercn commented on #579
Maybe you could do this for collections http://www.newtonsoft.com/json/help/html/ConditionalProperties.htm

[2017-02-28 12:36] JohnGalt1717 commented on #327
If you don't use System.IdentitityModel.Tokens.Jwt 5.1.2 then now you can't use WindowsAzure.MediaServices. Hence you're forcing, care of this disaster, us to choose between OpenIdConnect and Media Services support which is idiotic.

System.IdentityModel.Tokens, System.IdentityModel.Tokens.Jwt and Microsoft.IdentityModel.Protocol.Extensions needs to be fixed to work properly with .NET 4.x without

[2017-02-28 19:20] brentschmaltz opened #583 "Add Target for .net standard 1.6"
Partners have expressed the need for the updated crypto and other features of 1.6.

[2017-02-28 19:24] brentschmaltz opened #584 "Add support for wsfed messages for net451 target"
bring in support for wsfed message, metadata, saml token verification, samltokenhandler.
priority is in verifying messages, second priority will be given to creating message and tokens.

[2017-02-28 19:47] JohnGalt1717 commented on #361
As it stands because of this and other issues you've got rogue nuget packages floating around that show up to automatically update any .NET 4.5+ solution but if you do, there is no way of getting the same functionality in alternative ways because of stuff that you've not included that falsely reports it should be there. (i.e. try creating openidconnect login support in mvc.net right now, you can't

[2017-03-01 08:09] leastprivilege commented on #559
UWP is working now. thanks!

[2017-03-01 16:49] brentschmaltz commented on #361
@JohnGalt1717 are you speaking about the IdentityModel packages? How are they updated with .net core updates?

[2017-03-01 16:52] JohnGalt1717 commented on #361
System.IdentityModel.Tokens.Jwt 5.1.2 is explicitly for .NET Standard and used by a ton of .net standard libraries. (and Microsoft.IdentityModel.Tokens, and Microsoft.IdentityModel.Protocol.Extensions)

These updates (as outlined in other github comments) have completely broken .NET Full's IdentityFramework infrastructure specifically because MS doesn't want to open source some SAML2 stuff. The re

[2017-03-01 16:52] JohnGalt1717 commented on #361
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/327#event-982189447

[2017-03-01 16:54] JohnGalt1717 commented on #361
Also Microsoft.IdentityModel.Logging

(And Previously System.Net.Http amongst others)

[2017-03-01 16:57] brentschmaltz commented on #327
@JohnGalt1717 why does WindowsAzure.MediaServices require System.IdentityModel.Tokens.Jwt 5.1.2?

[2017-03-01 16:58] brentschmaltz commented on #361
@JohnGalt1717 I reopened 327.
`because` MS doesn't want to open source some SAML2 stuff.

 Are you speaking about SamlTokens?

[2017-03-01 17:03] JohnGalt1717 commented on #327
Because the client it uses requires this stuff. So you have automatic updates happening for nuget packages that break your code without any work around because they removed functionality that is still reported there and didn't provide any alternatives what-so-ever.

And somewhere along the line someone at MS forgot to write an article somewhere explaining the changes from 4.x to 5.x to even just r

[2017-03-01 18:12] brentschmaltz commented on #361
@JohnGalt1717 it sounds like a Katana project is trying to use the 5.x version. That wont work right now.

[2017-03-01 18:14] brentschmaltz commented on #327
@JohnGalt1717 to understand better, do you have a list of assemblies that the app is using?

[2017-03-01 18:15] JohnGalt1717 commented on #361
That's the point. You've released updated nuget packages that perport to support .net full and guess what? They don't.

I just spent a day and a half undoing the mess from nuget automatically updating these by accident because I updated another nuget package that now depends on V5 stuff.

Either remove .net full support from this until you have your stuff straight or create a new nuget package sep

[2017-03-01 22:49] joaope opened #585 "ArgumentException with wrong arguments order"
There are some ArgumentException being constructed with the arguments in the wrong order:

Example:

`throw LogHelper.LogExceptionMessage(new ArgumentException(nameof(algorithm), string.Format(CultureInfo.InvariantCulture, LogMessages.IDX10652, algorithm)));`

Should be:

`throw LogHelper.LogExceptionMessage(new ArgumentException( string.Format(CultureInfo.InvariantCulture, LogMessages.IDX10652, a

[2017-03-02 04:16] brentschmaltz commented on #585
@joaope thanks. Will get this in the April release. Most likely in a nightly before than. We will do a scrub and see what else we can find.

[2017-03-02 04:20] brentschmaltz commented on #327
@JohnGalt1717 I moved this into the 5.2.0 milestone. Can you provide me with the assemblies you are binding to? Also when you say "automatic updates" is that during build OR runtime?

[2017-03-02 14:23] JohnGalt1717 commented on #327
Automatic updates: Open Manage Nuget for Solution, choose to update something that depends upon the new version (5.0+) and it will automatically install these versions borking your code in the process. (And because VS.net 2017 doesn't properly update bin/obj when these nuget packages are changed and you build and the temp directory doesn't get cleared properly either, it took me a day and a half t

[2017-03-03 00:31] javiercn opened #586 "Consider reducing the size of the generated nonce"
Currently we generate a nonce by base64 encoding two concatenated Guids, wich produces a rather large value.

We could generate a smaller nonce using the RandomNumberGenerator from System.Security.Cryptography to generate a value with the same security characteristics but with a shorter length.

This affects the sizes of multiple cookies in ASP.NET and the size of the id tokens that we generate an

[2017-03-06 20:16] brentschmaltz commented on #586
@javiercn you can override GenerateNonce, so I marked this as P2.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectProtocolValidator.cs#L108

Also, you can filter out any claims you wish by setting the following.

https://github.com/AzureAD/azure-activedirectory-identitymodel-extension

[2017-03-06 21:53] brentschmaltz commented on #579
@javiercn something like that might work.
We will endeavor to get this into 5.2.0

[2017-03-06 22:06] brentschmaltz commented on #327
@JohnGalt1717 can you please point me to the WindowsAzure.MediaServices package that you are referring to.

IdentityModel extensions 4.x are not compatible with 5.x. That is the short story. You can't mix and match the parts.

4.x was written as a standard .net451 for OpenIdConnect, WsFed and OAuth support before any CoreFx and .net standard existed.
5.x was written as an identity layer to provide

[2017-03-06 23:38] JohnGalt1717 commented on #327
Sure, but try and use nuget and have it not get updated by accident or block updates to dlls.

The Azure nuget package was updated and it no longer requires V5.1.2 but it did just long enough for me to waste a ton of time.

V5 shouldn't even be in the same nuget package and should never be offered to .NET full. It completely breaks OpenID Connect with no alternative thus is not a replacement for p

[2017-03-09 19:11] brentschmaltz opened #587 "Bump all IdentityModel nuget packages to 5.2.0 for next release"
Users seem confused by the versioning (I know I am).
M.IM.Logging 1.x
M.IM.Protocols 2.x
M.IM.Tokens 5.x

For the next release bump them all to 5.2.0.

@PinpointTownes @leastprivilege @Tratcher @brockallen  OK?

[2017-03-09 21:31] javiercn opened #588 "Add a constant for the Prompt parameter values"
I can't find a constant with the values for the prompt parameter.
Can we add a class with these constants? Something like OpenIdConnectPrompt with the 4 values defined by the spec `none, login, consent, select_account`

[2017-03-09 22:53] brentschmaltz commented on #588
@javiercn should be easy enough

[2017-03-13 00:08] javiercn opened #589 "Add a constant for the offline_access scope value in OpenIdConnectScope class"
The class OpenIdConnectScope is missing the offline_access constant. It would be nice if we could add it.
http://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess

https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Protocols.OpenIdConnect/OpenIdConnectScope.cs

[2017-03-13 17:47] Tratcher commented on #587
Yes please

[2017-03-13 17:49] PinpointTownes commented on #587
@brentschmaltz assuming there's no breaking change, yeah, that's fine.

[2017-03-15 08:23] leastprivilege opened #590 "Recent JWE implementation flaw findings"
Have you guys seen that:

http://blog.intothesymmetry.com/2017/03/critical-vulnerability-in-json-web.html

[2017-03-15 16:22] brentschmaltz commented on #590
@leastprivilege yes I have seen that.

[2017-03-15 19:30] brentschmaltz commented on #590
@leastprivilege we do plan on supporting KeyExchange, when we do we will do the right thing.

[2017-03-15 19:30] #590 closed

[2017-03-21 08:22] leastprivilege opened #591 "Serialize SecurityKey to JsonWebKey"
Is there a built-in way to turn a SecurityKey (e.g. RSA or X509) into a JsonWebKey for serialization?

[2017-03-21 17:16] brentschmaltz commented on #591
@leastprivilege no, but that would be a good feature. I marked it as 5.x general release. We will see how much bandwidth we have post 5.2.0.

[2017-03-22 09:55] Asshiah commented on #500
This has been done here:
[ASP.NET Core WS-Federation middleware compatible with Full framework](https://github.com/chrisdrobison/aspnetcore-wsfed)

[2017-03-22 17:53] brentschmaltz commented on #500
@aashiman our plan is to release wsFed support in April timeframe.

[2017-03-23 10:05] kbrekke commented on #500
@brentschmaltz for .NET Core or ASP.NET Core targeting the full FW?

[2017-03-29 15:12] brentschmaltz opened #593 "Support JWE with "zip" in header"
If a jwt header indicates that payload is compressed, customers will have to take ownership of  ValidateSignature. It would be cleaner to separate the two.

Should have support for standard algorithms: Deflate, zip, etc.

[2017-04-05 08:43] leastprivilege opened #595 "Roadmap for WS-Fed/SAML token support"
Hi @brentschmaltz  (and @polita)

in the last update you said "April timeframe" -

I need to know more details.

What exactly will be released in April?

* IdentityModel update to support SAML tokens?
* WsFederationConfiguration, WsFederationMessage and related classes?

How is that related to the WS-Federation middleware for ASP.NET Core? Is this planned in the same timeframe? Or IdentityModel fi

[2017-04-05 20:59] brentschmaltz opened #596 "Telemetry values should be different for 4.x 5.x AND Core vs. Desktop"
Currently they are all the same.

[2017-04-05 21:40] brentschmaltz commented on #595
@leastprivilege @Tratcher We are getting close, the WsFed topic branch has the code for Saml and WsFed.
I was hoping for a prototype this week, but it will most likely push out to next week.
The code is in 5.x and will have support for Core and Desktop.

@leastprivilege @PinpointTownes @Tratcher I was thinking of dropping support for Saml1 tokens for the first release (they are messy with multiple

[2017-04-05 21:45] brentschmaltz commented on #500
@kbrekke  You can follow the progress here: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/tree/WsFed

[2017-04-06 05:45] leastprivilege commented on #595
ADFS uses SAML1.1 tokens by default IIRC - so not supporting that would miss the main reason we need SAML in the first place.

[2017-04-06 06:40] leastprivilege commented on #595
Do you have an approx ETA when the WS-Fed part is complete - so we can build our own middleware.

[2017-04-06 11:55] chrisdrobison commented on #595
As soon as this is done, I'm going to update the one I did until the
official one is out.
On Thu, Apr 6, 2017 at 12:40 AM Dominick Baier <notifications@github.com>
wrote:

[2017-04-06 12:19] leastprivilege commented on #595
great! I will help out!

[2017-04-06 19:02] PinpointTownes commented on #595
I agree with @leastprivilege.

[2017-04-06 21:28] brentschmaltz commented on #595
@leastprivilege @PinpointTownes alright, we will include Saml1. Should have an E2E in a week or so.

[2017-04-13 16:15] dazinator opened #598 "Singing Credentials - System.IdentityModel vs Microsoft.IdentityModel"
Hello,

I am using the NuGet package `System.IdentityModel.Tokens.Jwt` version 5.1.3 targeting `.net 452`

When creating a `JwtSecurityToken` the `SigningCredentials` parameter expected is of type: `Microsoft.IdentityModel.Tokens.SigningCredentials`.

I find this very non-intuitive, because there is also a `SigningCredentials` in the `System.IdentityModel.Tokens` namespace (from assembly `System.I

[2017-04-15 03:57] mvscosta opened #599 "OpenId Azure AD B2C"
When use the Microsoft.IdentityModel.Protocol.Extensions, have been generate an error on concatenate the URL with policy, client id and parameters of openid.
Error only occur in pre release 2.0.0 beta 6.
example of url with the error: note for ?client_id
https://login.microsoftonline.com/XXXXX.onmicrosoft.com/oauth2/v2.0/authorize?p=b2c_1_signinsignup?client_id=36b246da-999f-4cf6-9ec9-718a10728b6b

[2017-04-17 18:21] rtaylor72 commented on #595
Any update on this since it has been a week or so?  We are also waiting for this!

[2017-04-17 18:37] brentschmaltz commented on #598
@dazinator for historical reasons we maintain JWT libraries in the System.IdentityModel.Tokens.Jwt namespace and assembly. All the other assemblies are in Microsoft.IdentityModel.xyz assemblies and namespaces. There was a discussion during the 5.x release to use Microsoft.IdentityModel.Tokens.Jwt, The arguments for keeping the S.IM.Tokens.Jwt won the day.

[2017-04-17 18:43] brentschmaltz commented on #599
@mvscosta yes we did fix a bug where two '? ?' were generated. Is this an issue in a released product?

[2017-04-18 09:06] mhamri opened #601 "Question- Where is documentation for this library?"
I looked at wiki, readme.md and other places that I thought would find the latest version of this library but get disappointed.

the readme.md instead of getting started has some non-informative information that really doesn't help to use this library. the developer needs to go through the test files and read one by one to learn how to use this library.

[2017-04-18 16:59] brentschmaltz commented on #601
@mhamri where would you like us to start?

[2017-04-18 17:03] brentschmaltz commented on #595
@rtaylor72 we are working in the WsFed topic branch. I expect to have an End to End within days. Basic xmldsig, saml2 tokens and wsfedmetadata. Once we the E2E is stable, we will merge into the 'dev' branch and start nightly signed builds pushed out to myget.

[2017-04-18 17:17] brentschmaltz opened #602 "CryptoProviderFactory.Create methods should throw consistent exceptions when algorithm is not supported"
When an algorithm is not supported:

CreateHashAlgorithm, CreateKeyedHashAlgorithm throw InvalidOperationException
CreateSignatureProvider, CreateKeyWrapProvider throw ArgumentException

In all cases we should throw:

InvalidOperationException when the CustomCryptoProvider returns an invalid type after indicating support
NotSupportedException when our default runtime does not support the algorithm

[2017-04-18 17:18] brentschmaltz commented on #602
@lovemaths lets wait until after we merge WsFed to fix this.

[2017-04-18 20:14] brentschmaltz commented on #584
closing as dup of https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/595

[2017-04-18 20:14] #584 closed

[2017-04-18 20:17] #499 closed

[2017-04-18 20:19] brentschmaltz commented on #481
@CodeCharm https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/595 we plan a coordinated release with Katana that will use the 5.2.0 release to address this issue.

[2017-04-18 20:19] #481 closed

[2017-04-18 20:21] brentschmaltz commented on #327
@JohnGalt1717 https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/595 will include a future release of Katana that uses 5.2.0.

[2017-04-18 20:21] #327 closed

[2017-04-18 20:22] brentschmaltz commented on #209
With https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/595 we will be reintroducing the CertificateValidation.

[2017-04-18 23:52] brentschmaltz commented on #598
@dazinator  https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/595 when this issue is complete. There will be a release of Katana that will work with 5.2.0.

this will remove most of the issues.
feel free to reopen if you need to.

[2017-04-18 23:52] #598 closed

[2017-04-20 18:01] dazinator commented on #598
Ok cheers- Thanks for explaination!

[2017-04-21 16:56] mbearup opened #604 "Doesn't compile in Linux"
The build.sh doesn't seem to work. By default it uses KoreBuild which pulls in its own .NET 2.0.0 environment...
- With **v2.0.0**, I get an error about missing Microsoft.DNX.props
- If I modify KoreBuild's cli.version to **1.0.3**, I get an error that the .Metaproj files are missing
- If I run dotnet migrate (**2.0.0**)to upgrade the .csproj files, the build actually gets pretty far, but then fai

[2017-04-21 18:10] brentschmaltz commented on #604
@mbearup what version / branch of Wilson 4.x,  5.x?
We need to build cleanly on Linux

[2017-04-21 23:08] mbearup commented on #604
@brentschmaltz
- I've been working out of master
- I just tried release4x and there's no top-level build script (e.g. build.sh)
- I also tried 'release' and got the same error about the DNX.props file missing.

If there's another branch/tag i should try let me know.

[2017-04-22 22:37] brentschmaltz commented on #604
@mbearup 4.x does is not a 'Core' project.

Master and Release should be fixed.

[2017-04-26 09:42] moritzgloeckl opened #607 "Ambiguous reference Microsoft.IdentityModel.Protocols"
Hi,

I'm trying to add a library to an existing (rather large) project, which is using `Microsoft.IdentityModel.Protocols` and `Microsoft.IdentityModel.Protocols.OpenIdConnect`, but the library is depending on `Microsoft.IdentityModel.Protocol.Extensions`. Since both libraries feature a `ConfigurationManager` I'm getting an ambiguous reference error (CS0433).

Is there anything I can do about this

[2017-04-26 18:00] brentschmaltz commented on #607
@moritzgloeckl it sounds like you are mixing 4.x and 5.x assemblies.

M.IM.Protocols and M.IM.Protocols.OpenIdConnect can be used together.
M.IM.Protocol.Extensions cannot be used with the assemblies above as they have the same namespace.

Why do you need the new libraries?

[2017-04-26 18:33] brentschmaltz commented on #587
committed into wsfed topic branch

[2017-04-26 18:33] #587 closed

[2017-04-27 06:20] moritzgloeckl commented on #607
Hi @brentschmaltz, thanks for your answer. I'm trying to add [https://github.com/IdentityServer/IdentityServer3.AccessTokenValidation](this library), to validate JWT tokens generated by their server.

The problem is I tried to either just use M.IM.Protocols and M.IM.Protocols.OpenIdConnect for the library, or the other way round (my project using the dependency of the library), but that doesn't wo

[2017-04-27 11:09] leastprivilege commented on #595
..and? ;)

[2017-04-27 16:03] brentschmaltz commented on #595
@leastprivilege it's moving along nicely... hit a snag with core will have to drop the netstandard 1.4 target for wsfed. Will have to use core2.0.

https://github.com/dotnet/corefx/issues/18682#issuecomment-296108348

[2017-04-28 21:01] leastprivilege commented on #595
But full framework support is still planned? When do you merge to dev?

[2017-04-28 21:36] brentschmaltz commented on #595
@leastprivilege full framework support is planned. We are currently testing against a forked version of katana. When we have that working, we will push to dev. It's close.

[2017-05-03 15:25] jvandervelden opened #609 "Cannot validate signature."
I am trying to use this library to validate the tokens I receive from our UI. The UI gets it from a login web app that is registered with Azure AD.

I have setup a simple application that takes a token and tries to validate the signature found here: https://github.com/jvandervelden/test-azure-ad-identiymodel-connect
The class that's doing the validation is here: https://github.com/jvandervelden/te

[2017-05-03 19:11] brentschmaltz commented on #609
@jvandervelden is there a possibility you can share the 'jwt'. You can email me directly if it contains sensitive info.

[2017-05-03 19:15] brentschmaltz commented on #550
Design note: the creation of the ClaimsIdentity claims should use Claim.Clone(). This will work for all 'non-mapped' claims, as for those a new claim will need to be created with a different 'type'. This is important since JwtPayload.Claims is virtual and users could be creating custom claims.

[2017-05-03 19:28] jvandervelden commented on #609
@brentschmaltz No Problem, it's in the image anyway, and it's a test tenancy.

eyJ0eXAiOiJKV1QiLCJub25jZSI6IkFRQUJBQUFBQUFCbmZpRy1tQTZOVGFlN0NkV1c3UWZkd2pqRjBNLWVNUE83S28zdUhuV0Y4Q3hKck85VUx4TFNDUHFfRXA1MlNCWU9zbllrdGwtcEdxZnZLcU1XOW9YUjlDYnJPMWFveV9aZ1lDb1RKVGNJRkNBQSIsImFsZyI6IlJTMjU2IiwieDV0IjoiejAzOXpkc0Z1aXpwQmZCVksxVG4yNVFIWU8wIiwia2lkIjoiejAzOXpkc0Z1aXpwQmZCVksxVG4yNVFIWU8wIn0.eyJhdWQiOiJod

[2017-05-04 06:40] moritzgloeckl commented on #607
Any updates?

[2017-05-05 16:46] brentschmaltz opened #611 "Packages on MyGet are reporting .netstandard 1.6 is required"
Need to understand if this is true or not. We want to keep the bar at 1.4 for now.

[2017-05-05 18:06] brentschmaltz commented on #595
@leastprivilege we merged our WsFed topic branch into dev. It was a bit premature due to vacations. But justified as Katana and asp.net can start. We have a fork of Katana that we manually tested samples against here: https://github.com/lovemaths/AspNetKatana/tree/integration .  So I am closing this. I expect a couple of weeks work to complete the effort. Probably end of May or Early June.

[2017-05-05 18:46] brentschmaltz commented on #609
@jvandervelden I just ran this through validation.
return _rsa.VerifyData(input, signature, _hashAlgorithm, RSASignaturePadding.Pkcs1);
this is returning false.
How did you obtain that token?

[2017-05-05 18:56] jvandervelden commented on #609
@brentschmaltz We have a custom web app registered with our AD that does logins. When you request a login from our app it redirects you to the login.microsoftonline.com page: (https://login.microsoftonline.com/common/oauth2/authorize?response_type=code%20id_token&scope=openid&response_mode=form_post&redirect_uri=http%3A%2F%2Flocalhost%3A8089%2Fsecure%2Flogin&client_id=409e2f16-9ace-4e18-acc3-4c7f6

[2017-05-05 20:42] brentschmaltz commented on #609
OK that explains it then. I missed it before, but if look at the Jwt.Header you will see a 'nonce'. This means you need special processing. Normal processing will fail.

[2017-05-05 20:49] jvandervelden commented on #609
@brentschmaltz So what's your suggestion? Should I remove the nonce from the login url? We are going to attempt to validate these in nginx lua and I don't really want to add extra pain.

[2017-05-05 21:11] brentschmaltz commented on #609
@jvandervelden i need to understand your topology better

[2017-05-05 21:12] brentschmaltz commented on #599
@mvscosta use latest version of M.IM from nuget.
Reopen if still an issue.

[2017-05-05 21:12] #599 closed

[2017-05-05 21:14] brentschmaltz commented on #607
@moritzgloeckl you can't mix 4.x and 5.x libraries.  So you will have to use the 4.x version.

[2017-05-05 21:14] #607 closed

[2017-05-05 21:15] brentschmaltz commented on #604
@mbearup sorry to be so long on this, we were getting our WsFed work into 5.2.0.
That build script assumes that dotnet.1.0.3 is installed in c:\dotnet. So we don't need to download the cli.
5.2.0 also uses csproj files.

[2017-05-05 21:17] brentschmaltz commented on #596
@lovemaths check with other products to see what values they use. We should be consistent.

[2017-05-05 21:22] brentschmaltz commented on #588
@lovemaths javiercn is asking for a new class similar to OpenIdConnectResponseType.
@javiercn I think the name OpenidConnectPrompt is fine.

[2017-05-05 21:23] brentschmaltz commented on #589
@lovemaths just add to OpenIdConnectScope.cs

[2017-05-05 21:24] brentschmaltz commented on #585
@lovemaths just fix the order of the params so the error is correct

[2017-05-05 21:26] brentschmaltz commented on #468
Include this issue with this fix.
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/566

[2017-05-05 21:26] brentschmaltz commented on #566
@Pikhulya Will fix with https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/468

[2017-05-05 21:26] #566 closed

[2017-05-05 21:28] brentschmaltz commented on #586
@javiercn you can control this yourself. Please feel free to reopen if you are unable.

[2017-05-05 21:28] #586 closed

[2017-05-05 22:33] brockallen commented on #586
@brentschmaltz keep in mind that guid generation on non-windows does not carry the same entropy guarantee that it does on windows. you should use a CRNG.

[2017-05-06 01:26] brentschmaltz commented on #609
@jvandervelden I am going to close this as not supported.

[2017-05-06 01:26] #609 closed

[2017-05-06 01:32] brentschmaltz commented on #586
@brockallen that's one reason GenerateNonce is virtual. I'll consider your suggestion.

[2017-05-08 15:08] jvandervelden commented on #609
@brentschmaltz Here (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-token-and-claims) states I should be able to validate the id_token and the access_token the same way. When I get to this section (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-token-and-claims#validating-tokens) it gives an example project for manually validating

[2017-05-09 03:10] theunrepentantgeek opened #615 "IDX10659 error when using X509Certficate to decrypt JWT token"
I've found that a JWT encrypted with `EncryptingCredentials` that wrap an `X509SecurityKey` cannot then be decrypted with those credentials. Instead, decryption throws a `SecurityTokenKeyWrapException`:

When running on .NET Core 1.1.0:

    Microsoft.IdentityModel.Tokens.SecurityTokenKeyWrapException:
    IDX10659: UnwrapKey failed, exception from crypto operation:
    Internal.Cryptography.Crypt

[2017-05-10 13:09] jvandervelden commented on #609
@brentschmaltz thank you for your help, I figured out my issue. I was trying to validate an access token that was for the graph api. I created an access token for my web app and I can validate the token now.

[2017-05-11 04:24] darickc opened #616 "CanReadToken in JwtSecurityTokenHandler returning false when token has /+="
The regular expression used to check whether the JWT is valid fails when /+= are in the token.  These are valid Base64 characters.

[2017-05-11 04:41] #616 closed

[2017-05-12 01:19] brentschmaltz commented on #615
@theunrepentantgeek excellent bug. I am on vacation until the 17th. Will address this when I get back.

[2017-05-17 19:03] brentschmaltz commented on #615
@bartonjs do you have any insight?

[2017-05-17 20:43] chrisdrobison opened #617 "SecurityTokenHandlerCollectionExtensions question"
I'm trying to update my asp.net core wsfed library with the new 5.2 nightlies. There used to be a library called Microsoft.IdentityModel.Protocol.Extensions, but I'm guessing based off the new changes that this is going away. Has SecurityTokenHandlerCollectionExtensions been moved or something else taken it's place?

[2017-05-17 21:13] brentschmaltz commented on #583
We need to add 2.0 version for wsfed so we won't be adding 1.6

[2017-05-17 21:13] #583 closed

[2017-05-17 21:17] brentschmaltz commented on #617
@chrisdrobison M.IM.ProtocolExtensions was a collection of types that were needed for wrapping S.IM and providing OIDC support for Katana. Yes, we did drop the "SecurityTokenHandlerCollectionExtensions and moved the types into well defined assemblies. M.IM.Tokens, M.IM.Token.Saml, etc.

There is an update to Katana that will work with 5.2.0 being planned. Release date is not finalized yet.

[2017-05-17 21:17] #617 closed

[2017-05-17 23:01] bartonjs commented on #615
`Key does not exist` almost always means "you're using CAPI to open a CNG key".  The fact that it comes from the corefx win32 internal exception type suggests to me that you're reading the certificate KEY_PROV_INFO property directly and trying to open the key directly.

But that shouldn't be a problem when using the RSA object directly... unless you're trying to manually build up the provider name

[2017-05-18 04:20] theunrepentantgeek commented on #615
Rest assured, I'm not trying to do anything clever. The last time I had a firm grasp on cryptography was 25 years ago at university. To say the state of the art has progressed is somewhat of an understatement.

Everything I'm doing is using the managed classes, no direct access to any OS API; my use case is cross platform, so I've stayed well within the bounds of .NET Core itself.

The `Encrypting

[2017-05-19 22:17] brentschmaltz commented on #615
@theunrepentantgeek I cloned the sample and made a small change in KeyFactory at
https://github.com/theunrepentantgeek/jwt-x509certificate-encryption/blob/master/library/KeyFactory.cs#L46  Essentially, creating an X509Certificate2 in memory to rule out it has to do with a cert.  new Driver().TokenTest() succeeded.

@bartonjs does this fit with what you are thinking?

[code]

[2017-05-20 01:53] lovemaths commented on #615
@theunrepentantgeek We found the bug in our code and we will fix it. Thank you.

[2017-05-20 02:01] brentschmaltz commented on #615
@theunrepentantgeek thanks!
Your workaround is perfectly fine to use.

[2017-05-20 03:07] theunrepentantgeek commented on #615
@brentschmaltz Thanks for the confirmation; I'll leave it in my repo for now but will remove it when your NuGet package is updated.

[2017-05-22 19:08] brentschmaltz opened #618 "Typo in comments"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/master/src/Microsoft.IdentityModel.Tokens/SigningCredentials.cs#L69

validation is spelled incorrectly.

[2017-05-24 03:45] mhamri commented on #601
if I wanted to add something to the documentation I would write how different method works to sign, to check for the different algorithms. how to use differents method to create a token. I saw there is a couple of creating methods that returning different types, all of them named as createSOMETHINGtoken() but the usage is not defined and it's up to the developer figure out and put the puzzle toget

[2017-05-24 19:05] brentschmaltz commented on #601
@mhamri thanks. This helps.

[2017-05-25 14:34] ryanbuening commented on #500
@brentschmaltz any update on WS-Federation on .NET Core? Is it available in the 2.0 preview?

[2017-05-27 02:54] zixiangx opened #622 "JWT custom validation"
Hi,

Would like to check, is there an appropriate method to overrride in the Security Handler that allows me to pass in additional validation, maybe in the ValidateToken method?

More specifically, I would like to verify the JTI against a blacklist. I have previously constructed this validation as a separate middleware but my the responses were shaped by the JwtBearerAuthentication middleware afte

[2017-05-30 18:49] brentschmaltz commented on #622
@zixiangx there is no general delegate for checking if the token is appropriate for a specific purpose. Sometimes that is related to the method called OR the parameters passed to the method.

You can override ValidateToken, call the base, check the ClaimsPrincipal for a specific claim.
If you create a derived TokenValidationParameters type, this will be passed to this method and you can hang any t

[2017-05-30 18:49] #622 closed

[2017-05-30 20:22] brentschmaltz opened #623 "Add Protected Virtual and delegate for token replay."
A method with the signature: protected void ValidateTokenReplay(string token, SecurityToken securityToken, DateTime? expirationTime, TokenValidationParameters validationParameters).

A delegate with the signature: public delegate void TokenReplayValidator(string token, SecurityToken securityToken, DateTime? expires, SecurityToken securityToken, TokenValidationParameters validationParameters);

Is

[2017-05-30 20:23] brentschmaltz commented on #622
@zixiangx I opened https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/623 there seemed to be a whole here.

[2017-05-31 03:47] zixiangx commented on #622
Thanks @brentschmaltz, will follow [#623](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/623)

[2017-05-31 04:47] leastprivilege commented on #595
Update?

[2017-05-31 14:28] brentschmaltz opened #625 "JwtSecurityTokenHandler.CreateClaimsIdentity should throw if validationParameters is null"
Add this check to method

[2017-05-31 14:31] brentschmaltz opened #626 "Add property for 'Actor' claim type to TokenValidationParameters"
The actor type may be application or idp specific.
Add a property so users can have some extensibility

[2017-05-31 16:23] brentschmaltz commented on #595
The dev branch has Saml2 reading, xml enveloped signature validation, wsfed metadata (light I admit).
We have successfully run against Katana, coreFx has put in a fix for C14n.
We are now looking at end of June for a solid preview.

[2017-06-05 22:08] ycrumeyrolle opened #632 "[Question] Performance consideration"
I am using the JwtSecurityTokenHandler for encoding and decoding/validating JWT.
I use the JWT as [SET](https://tools.ietf.org/html/draft-ietf-secevent-token-01).
I have a high load of JWT, and I have some issues with the current implementation of the handler.

First of all, I have to pass by `ClaimPrincipal` and `Claim` which are perfect for the usage of JWT as identity, by useless for other usag

[2017-06-05 22:49] brentschmaltz commented on #632
@ycrumeyrolle you would like ValidateToken that just returns JSON ?
Can you provide some details on the performance issue with Base64UrlEncoder (split)? How did you detect this?

[2017-06-06 00:28] brentschmaltz commented on #618
fixed

[2017-06-06 00:28] #618 closed

[2017-06-06 07:44] ycrumeyrolle commented on #632
A `ValidateToken` that just return the JSON may be a good idea. As a `string`? As a `JObject`?

Here is my current code for illustration:
[code]

About the Base64UrlEncoder, I just run a memory profiling and the `Split()` within the `Encode()` caused about 7.5% of the total allocation, which seems a lot just for removing trailing padding.